[2021-05-04 01:51] balopat commented on #4010
This should be trivial to fix by adding np.integer into the `isinstance` check: `if not isinstance(value, (float, int, np.integer)):` + we'll need a test. Great first issue for someone.

[2021-05-04 03:04] balopat commented on #4074
By Hamiltonian we mean the hermitian matrix representation of it, right?
I'm open to this - however it might get pretty expensive in the general case for an n-qubit matrix, we could have a 2^2n term PauliSum.

[2021-05-04 03:07] balopat commented on #4048
We didn't have a plan for it - if you have a use case for it, we are open to discuss it. An RFC would be useful.
Also note that we do have the three qubit version of the "synthesis of quantum logic circuits" implemented as `cirq.three_qubit_matrix_to_operations` and I believe someone is working on the n qubit decomposition.

[2021-05-04 15:36] zaqqwerty commented on #4074
The `PauliStrings` on n qubits form a basis for the space of operators on n qubits, so for a general n-qubit matrix one would need 4^n PauliStrings, not 4n

[2021-05-04 15:55] 95-martin-orion commented on #4074
Thanks for the correction! I guess this would look something like `k[0] * II...I + k[1] * II...X + ... + k[4^n-1] * ZZ...Z`?

[2021-05-04 16:59] verult commented on #4074
What's the runtime for such a decomposition? How does the total runtime differ, from a big-O standpoint, between computing expectation using Pauli sum representation vs. just < phi | H | phi >?

Certainly being able to compute an expectation sweep at the simulator level would be an advantage, but wonder if the runtime of decomposing into Pauli sums would make it worse.

[2021-05-04 17:00] balopat commented on #4074
@95-martin-orion  - Yes, you can derive the 4^n basis vectors like that.
Naively for a hermitian matrix M,  I would calculate k[i] for each |P_i> using their projector: |P_i><P_i| M
And then I would somehow do some kind of (union-find?) approach maybe to merge paulistrings with the same coefficient, to reduce the number of terms...
I have not looked into this deeply yet.

[2021-05-04 17:51] 95-martin-orion commented on #4074
@verult: Based purely on the fact that both the Hamiltonian and the `PauliSum` have O(4^n) elements I don't think there would be much benefit to this decomposition in the general case. This might be useful if the Hamiltonian was known to have a concise `PauliSum` representation, but as @balopat points out the "naive" decomposition is O(4^n) as well, which doesn't bode well for the overall benefit.

[2021-05-04 20:25] verult commented on #4074
Ack, closing this issue, and if use cases arise for specific Hamiltonian categories where decomposition is simpler, a separate issue can be opened in the future.

Thanks all!

[2021-05-04 20:25] #4074 closed

[2021-05-04 23:55] balopat commented on #4034
Funnily @dabacon had a comment about the tuple version of `on_each` here a year ago: https://github.com/quantumlib/Cirq/issues/2164#issuecomment-624887247

I think generalizing `on_each` to `cirq.Gate` makes sense, and then we can deprecate `Single/Two/ThreeQubitGate` classes.

[2021-05-05 03:52] #4075 closed

[2021-05-05 17:57] 95-martin-orion opened #4087 "Cannot add identity to PauliSum"
**Description of the issue**

Identities cannot be added to PauliSums. This might be related to `cirq.IdentityGate` not being a `cirq.Pauli`.

**How to reproduce the issue**

[code]

**Cirq version**
0.11.0.dev

[2021-05-05 18:29] balopat commented on #4034
Discussed on Cirq Cynque:
- on_each for 1-qubit gates will stay the same
- on_each for n-qubit gates will be strict - require Iterable of n-tuples
- we'll deprecate `Single/Two/ThreeQubitGate`

[2021-05-05 19:14] joaomvbasso commented on #4010
Hi, I'd like to tackle this issue.

[2021-05-05 21:31] 95-martin-orion commented on #4087
In lieu of a fix, users can wrap identity gates in `cirq.PauliString`s before mixing them into `PauliSum`s to avoid this issue.
[code]

[2021-05-05 22:06] ybc1991 commented on #4087
Another shorter workaround is
[code]

but I was also wondering if `cirq.XPowerGate(exponent=0)` acts same as `IdentifyGate` or not. (Seems no except global phase difference).

[2021-05-05 23:12] balopat commented on #4010
It's all yours, thanks for signing up!

[2021-05-06 03:59] ybc1991 opened #4088 "Deprecate PauliTransform?"
Under the `ops.clifford_gate`, there is a data structure `PauliTransform`, which is just a named tuple

[code]

The reason I suggest deprecation is
1. It is only used in `SingleQubitCliffordGate`.
2. For multiple qubits Clifford gate, this named structure doesn't fit.
3. We have a replacement now -- `DensePauliString`.
4. The stabilizers and destabilizers of Clifford Tableau return as `DensePauliS

[2021-05-06 16:39] #2178 closed

[2021-05-07 02:00] balopat commented on #3245
related #3020

[2021-05-07 02:40] balopat opened #4093 "Release v0.11"
**Summarize the task**

Prepare a release of cirq, cirq-google and cirq-core v0.11.

**Acceptance criteria - when is the task considered done?**

When the release is available, tested, and the release notes are written.

**Related**

Related issues: #3228.

[2021-05-07 19:00] balopat commented on #4083
I went down the rabbit-hole of "how hard this can be". Here are my learnings so far:

----

Sqrt(ISWAP) has a (pi/8, pi/8, 0) KAK vector (the coordinate in the a+ Weyl chamber). I couldn't find yet a paper that describes an optimized decomposition of arbitrary 2 qubit unitaries using sqrt(ISWAP) as the base entangling gate.

The current 6 sqrt(ISWAP) decomposition seems like an upper bound for a g

[2021-05-07 19:08] Dripto commented on #4083
I'll have to think about this, if I figure out the math I'll make another comment on this issue.

In a (maybe) related note, I've written up this little method for what I needed, which prepares any arbitrary 2q state using a single sqrt(iSWAP). I don't know if this is useful enough for us to put it into cirq, but I'll leave it here in case someone finds this issue and can use it:

` def prep_2q_st

[2021-05-07 20:28] mpharrigan commented on #4083
@Strilanc also pointed out that we have [`decompose_two_qubit_interaction_into_four_fsim_gates`](https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/optimizers/two_qubit_to_fsim.py#L20) which takes four FSimGate's that are close enough to ISWAP (unfortunately sqrt-iswap is too far away).

[2021-05-12 01:16] #4064 closed

[2021-05-12 01:39] balopat commented on #4093
We released v0.11!

[2021-05-12 01:39] #4093 closed

[2021-05-12 20:55] 95-martin-orion commented on #3240
There's an argument to be made that #4100 will fulfill the majority of this feature request. In short:
- Qubits are "allocated" when they first appear in a circuit.
- Qubits are "deallocated" when they are measured.
- Simulators handle (de-)allocation by splitting and merging states, as defined in their associated `ActOnArgs` class.

Qubit-moving is not explicitly covered in that PR, but it does a

[2021-05-12 21:13] daxfohl commented on #3240
"reorder" would only handle moving if they were in the same qubit entanglement set. If they weren't, of course you could join the two qubit sets then reorder, which would do it but then you've got an unnecessarily joined set.

An optimization would be to add logic to core_iterator that explicitly looks for swap gates, and then renames the corresponding two qubits in the two qubit sets (requires a

[2021-05-12 21:46] balopat opened #4104 "API reference for cirq.google is broken"
**Description of the issue**

Objects under cirq.google are inaccessible currently since the v0.11 release.

**How to reproduce the issue**

E.g.: https://quantumai.google/reference/python/cirq/google/ConvertToXmonGates

**Cirq version**
v0.11

[2021-05-13 00:28] balopat opened #4106 "Ugly exception warning when only cirq-core is installed"
**Description of the issue**

We produce an ugly warning that cirq_google is missing if the user only installs cirq-core.

**How to reproduce the issue**

1. Create an empty virtual env.
2. `pip install cirq-core`
3. `python -c 'import cirq'`

<details>

[code]

</details>

**Cirq version**
v0.11

[2021-05-13 17:29] balopat commented on #4066
Actually I'll reopen this until we published the site.

[2021-05-13 17:29] balopat commented on #4104
Actually I'll reopen this until we published the site.

[2021-05-14 12:05] Selma020513 opened #4109 "Circuit diagram consisting of 12v and 4 ohms and 6 ohms resistors"
**Is your design idea/issue related to a use case or problem? Please describe.**

**Describe your design idea/issue**

[2021-05-14 15:44] vtomole commented on #4109
Hey @Selma020513, Cirq is used to create [Quantum circuits](https://en.wikipedia.org/wiki/Quantum_circuit) not [Electrical circuits](https://en.wikipedia.org/wiki/Electrical_network). Please let me know if you have any questions. Thanks.

[2021-05-14 19:17] cduck commented on #4083
[This new preprint](https://arxiv.org/pdf/2105.06074.pdf) (page 14) appears to give a complete algorithm for KAK synthesis with sqrt-iSWAP.

[2021-05-14 20:18] balopat commented on #4083
Wow, that's awesome, thanks @cduck, very timely.
Also, pretty involved, I guess there are multiple compilation paths based on where the unitary is in the weyl chamber, significantly more complicated than the CZ compilation - but this is definitely a great source, it looks implementable.

[2021-05-14 22:50] mpharrigan commented on #3833
There's also a problem if you are operating on a topology that is a subset of a grid, for example: a line. The random circuit function for cycles divisible by 4 + 1 or 2 may not add any entangling layers.

Options:
1. have the random generation function ignore the gridinteractionlayers that don't produce interactions. This would solve the issue at hand but wouldn't produce optimal circuits if you

[2021-05-17 07:44] poojithumeshrao opened #4112 "module 'cirq' has no attribute 'work' or '__version__'"
**Description of the issue**
module 'cirq' has no attribute 'work' or '__version__'
**How to reproduce the issue**

[code]

<details>

AttributeError: module 'cirq' has no attribute '__version__'

</details>

tensorflow_quantum v0.5.0 depends on cirq v0.11.0 I am also unable to import tensorflow_quantum as I get the error

<details>

AttributeError: module 'cirq' has no attribute 'work'

</details

[2021-05-17 08:01] poojithumeshrao commented on #4112
It is working in a fresh environment

[2021-05-17 08:01] #4112 closed

[2021-05-17 13:43] rmlarose commented on #4112
xref https://github.com/quantumlib/OpenFermion-FQE/issues/90#issuecomment-840983121. I think in any environment that already has an earlier Cirq version, `pip install cirq==0.11.0` leads to a broken installation.

Alternatively, `pip uninstall cirq` before installing 0.11.0 should work.

[2021-05-17 14:56] #4109 closed

[2021-05-17 16:07] stubbi commented on #3728
@charmerDark @Rcuz8 please excuse me for picking up this one. Since there was no recent activity on the issue in this repo from you, I decided to give it a try.

@Strilanc @balopat I hope my changes resemble what you had in mind, cf #4113.

[2021-05-17 17:47] mrwojtek commented on #4083
Just mention that there is an approximate decomposition of FSim(0, phi) into sqrt(iSWAP)-like gate in [ReCirq](https://github.com/quantumlib/ReCirq/blob/22d110bf315df79d5fdf734a6df209b66c057f98/recirq/fermi_hubbard/decomposition.py#L356) that we have used for Fermi-Hubbard. It's analytical and fast but fails if the underlying sqrt(iSWAP)-like gate has a large c-phase angle.

[2021-05-17 17:55] mrwojtek opened #4114 "Expand cirq_google XEB compilation to support cirq.SycamoreGate"
**Is your feature request related to a use case or problem? Please describe.**
The current features of `cirq_google.calibration` package only support cirq.ISWAP ** 0.5 gates. The processor is also exposing the native `cirq.SycamoreGate` which is not handled.

**Describe the solution you'd like**
 * Expand `prepare_` methods to support assign `cirq.SycamoreGate` in `LocalXEBPhasedFSimCalibrationReq

[2021-05-17 17:55] mrwojtek commented on #4114
@mpharrigan

[2021-05-17 18:46] dkafri opened #4115 "cirq no longer has a __version__ attribute (if you upgrade from 0.10.0)"
**Description of the issue**
I did pip install --upgrade cirq to upgrade to version 0.11.0
I noticed that cirq no longer has a __version__ attribute

**Cirq version**

This is the terminal command *suggested by this issue template*
[code]
It returns
[code]

[2021-05-17 18:54] dkafri opened #4116 "Removing cirq.DEFAULT_RESOLVERS in version 0.11.0 is a breaking change"
**Description of the issue**
I am working on a library that uses json serialization which depends on cirq.DEFAULT_RESOLVERS. In version 0.11.0, this cirq attribute was removed.  I will now have to add try / except statements to my library to make it compatible with both the old and new cirq. Please bring back cirq.DEFAULT_RESOLVERS.

How do I import DEFAULT_RESOLVERS now? It looks like it's define

[2021-05-17 19:02] dkafri commented on #4115
Note, this is not reproduced if you make a "clean install" of cirq. To get this issue it seems I have to do
[code]

[2021-05-17 19:03] dkafri commented on #4116
Just like in issue #4115, this only happens if I pip --upgrade cirq instead of doing a clean install.

[2021-05-17 19:03] #4116 closed

[2021-05-17 19:17] maffoo commented on #4115
I think this is working as expected, but we should document somewhere that when upgrading from cirq 0.10 to 0.11+ you should first `pip uninstall cirq` or start over in a fresh virtualenv.

[2021-05-17 19:30] balopat commented on #4115
Sorry for the confusion. Yes, I can add this to the release notes of v0.11.

[2021-05-17 19:37] balopat commented on #4115
Added this to the release notes + sent an email to cirq-announce. Thank you @dkafri for opening the issue!

[2021-05-17 19:37] #4115 closed

[2021-05-18 00:16] rmlarose opened #4117 "Default behavior for missing calibration data"
**Is your feature request related to a use case or problem? Please describe.**

This came up in #4108. The workflow there is: user-defined circuit -> Floquet / XEB characterizations for each pair in the circuit -> run a Loschmidt echo with each characterization.

The Loschmidt echo circuit contains two-qubit gates on all pairs. So if the user-defined circuit doesn't have all of these pairs, a [`Va

[2021-05-18 04:40] #4066 closed

[2021-05-18 04:40] #4104 closed

[2021-05-18 13:42] mrwojtek commented on #4117
I purposefully made it hard to do such a things because this degrades the performance of the executed circuits.

Maybe we should discuss first the specific case you have and see what's the best solution there?

[2021-05-18 18:28] rmlarose commented on #4117
Discussed with Wojtek offline and agreed to close this - moments to characterize should come from the circuit being run (which would prevent this error from ever being raised).

[2021-05-18 18:28] #4117 closed

[2021-05-19 18:19] Ashalynd commented on #3409
Hi, I have a question regarding the second part of the solution (running the factors). Is actual parallelisation (= firing up a bunch of threads) part of this ticket, or would that be responsibility of the caller?

(I.e. should the caller provide a callback to accept the circuit's factors and run them in whichever way is best for the caller, or should there be some default multitreading implementa

[2021-05-19 18:33] mpharrigan commented on #3788
@dstrain115 points out that this should mock out `Engine`, not just specifically calibration api

[2021-05-19 18:33] dabacon opened #4119 "Feature request: state preparation gate"
**Is your feature request related to a use case or problem? Please describe.**

State preparation is a physical process.  In some architectures it is even possible to prepare entangled states.  In many cases you want to call this during intermediate steps in the circuit.  It would be useful to have a state preparation gate.

**Describe the solution you'd like**

A gate that allows you to pass in a

[2021-05-19 18:42] mpharrigan commented on #3678
- Violates some software engineering principles
- Changing it would be too hard
- @95-martin-orion says there's more tools now so he's less annoyed.

Short term solution: #3893
Long term solution: #2536

[2021-05-19 18:42] #3678 closed

[2021-05-19 18:52] dabacon opened #4120 "Feature Request: MatrixChannel"
**Is your feature request related to a use case or problem? Please describe.**

`cirq.MatrixGate` is a convenient way to create a unitary gate for an arbitrary matrix.  It would be nice to have a quick way to create a channel with Krauss operators directly.

**Describe the solution you'd like**

A new gate `cirq.MaxtrixChannel` that allows one to pass in the Krauss operators.

[code]

Alternativel

[2021-05-19 18:56] dabacon commented on #3951
I tried to repo locally but failed.

[2021-05-19 18:58] dabacon commented on #3951
One could potentially use the github action api to search all logs to see if this has ever recurred. https://docs.github.com/en/rest/reference/actions#download-workflow-run-logs

[2021-05-20 00:11] #3938 closed

[2021-05-20 12:33] stubbi commented on #4119
@dabacon happy to pick up this one

[2021-05-20 21:47] mpharrigan opened #4122 "Echoes notebook: readable results structure"
I found this pattern confusing:
[code]

It's iterating over the qubit configurations. Consider using nested lists or a dataframe or something instead of hand-rolling nested lists via indexing convention.

[2021-05-21 06:12] smitsanghavi opened #4124 "Qubits are not remapped in the default measurement key"
**Description of the issue**
When a measurement operation created from `cirq.measure` without an explicit key is remapped to some other qubit, the measurement key does not update.

**How to reproduce the issue**

[code]

The last assertion will fail because the operation does not really process the key as made of the qubit. This might not strictly be a bug, but it would be much nicer to allow user

[2021-05-21 19:42] wcourtney commented on #3323
I had the same initial thought when you framed the problem. We could create a test processor that happens to route requests to a qsim backend and is visible only to test infrastructure. A couple of things about reservations:
1. I don't expect cirq to be the primary flow for reservations and the go/quantum-reserve notebook is deprecated.I'd treat this case as a lower priority.
2. Reservation testin

[2021-05-21 20:18] wjhuggins commented on #4059
Here's a gist that has the diff of the changes I made:

https://gist.github.com/wjhuggins/05e54da80a9e02b96c700569273f6c92

[2021-05-21 20:22] wjhuggins commented on #4059
I basically did two things.

1.  Modified MergeInteractions to optionally return a circuit with two-qubit MatrixGates.
2. Modified the code in convert_to_sycamore_gates to accept and properly use a GateTabulation built with two-qubit gates other than Sycamore gates.

A real version of the code should definitely be organized differently. I wasn't sure how to do this so I just left it alone in its h

[2021-05-22 19:43] Strilanc opened #4127 "Add `PauliStringMeasurement` operation"
One of the things I've seen people asking for on the quantum computing stackexchange (w.r.t. qiskit) is how to measure a pauli product. This is something we can add relatively easily to cirq.

All we need to do is define a `PauliStringMeasurement` class that extends `cirq.Operation` and stores a Pauli string and a measurement key. Give it a `_decompose_` method that applies Clifford operations whi

[2021-05-24 18:41] balopat opened #4129 "Automate release"
**Description of the issue**

We should automate our releases - including testing, bumping versions, raising PRs, some of the release notes generation so that we can avoid mistakes like missing a bumped version for example. Context: https://github.com/quantumlib/Cirq/pull/4121#pullrequestreview-664588494

[2021-05-25 15:54] cduck commented on #4083
I'm looking into implementing the decomposition in [that paper](https://arxiv.org/pdf/2105.06074.pdf).  It looks reasonable.  I'll post here or make a PR if I make any progress.

[2021-05-25 17:29] balopat commented on #4083
That's awesome - thank you, looking forward to it!

[2021-05-25 18:08] mpharrigan commented on #3409
We talked about this in cirq cync: the request is not necessarily running the fragments in parallel with threads but rather (semi-?)automatically factoring, running, sampling from factors, and concatenating samples.

@95-martin-orion was under the impression that @daxfohl 's ActOn work subsumes this. Maybe he can confirm

[2021-05-25 18:25] 95-martin-orion commented on #3409
All of the behavior @mpharrigan described is implemented in #4100. A follow-up PR (#4110) allows factors to be sampled from separately without needing to merge them into a single state vector.

[2021-05-25 18:40] mpharrigan commented on #3409
Ok, I think #4110 is the critical piece for this issue

[2021-05-25 20:01] daxfohl commented on #3409
Those PRs are fairly big and my primary role workload has increased (I'm not even a 20%er officially), so it may be quite some time before they get merged.

The core component of the zipping up of samples is here: https://github.com/daxfohl/Cirq/blob/b7288f49f02a83c45370531adcafd55ea5124c93/cirq-core/cirq/sim/simulator_base.py#L364

If you want to copy that into your own fork, it should be straigh

[2021-05-26 00:02] balopat commented on #3552
I found a major pain with the `requirements.txt` pinning.

Ideally the current `requirements.txt` files should be renamed to `requirements.in` files, which then can be used by setup.py as they are today - maybe loosen them up a little bit more where we can. Then we could use a tool like `pip-compile` which would compile these _constraints_ to the actual latest versions of the dependencies recursiv

[2021-05-26 01:13] balopat opened #4134 "Update Dockerfile to new structure"
**Description of the issue**

Dockerfile cannot be built currently - it still uses the pre cirq-google extraction structure.
We should also add a test to prevent this from happening.

[2021-05-26 01:15] balopat opened #4135 "Proto compilation scripts don't work anymore"
**Description of the issue**

`check/build-protos` doesn't work, due to `cirq-google/..` path having a dash in the name :(
We need to figure out how to get around this.

It is not urgent, as TFQ is the only user for this, and there we strip that prefix, so it doesn't cause issues during the bazel build. However, it is a bit ugly that we can't run `check/build-protos` ourselves. It also doesn't upd

[2021-05-26 01:18] balopat opened #4136 "Switch to ubuntu-latest in Github Actions"
**Description of the issue**

The ubuntu-16.04 environment is deprecated and will be removed on September 20, 2021. We need to migrate to ubuntu-latest instead. For more details see https://github.com/actions/virtual-environments/issues/3287.

[2021-05-26 18:06] viathor opened #4138 "Rename `cirq.channel` to `cirq.kraus`?"
**Is your design idea/issue related to a use case or problem? Please describe.**

In QIS literature "channel" or "quantum channel" refers to a CPTP map from the space of linear operators on a Hilbert space H1 to the space of linear operators on a Hilbert space H2. This is fairly abstract and people have formulated more concrete representations of channels such as the Kraus representations, the Cho

[2021-05-26 18:13] viathor commented on #4138
@dabacon @daxfohl @maffoo @mpharrigan

[2021-05-26 18:24] daxfohl commented on #4138
If we do something like this, I think this would be a good opportunity for the protocol to return a thin wrapper class `Kraus`, which would have nice `to_choi` etc methods, any other things that make sense to Kraus representation, (along with `get_raw_data(copy=False)` method). Getting fancy, `Kraus` could implement a `Channel` interface that perhaps contains declarations of `to_choi`, `to_kraus`,

[2021-05-26 18:41] mpharrigan commented on #4138
`cirq.kraus` sounds good to me. I'll usually push back against wrapper classes unless we go whole hog with `cirq.unitary` `cirq.final_state_vector`, et al. Even then I think there's something to be said for numpy arrays.

[2021-05-26 18:46] viathor commented on #4138
While we're at it, we could also rename the internal method `__channel__` that channel classes use to provide their Kraus representation to `__kraus__`.

[2021-05-26 18:48] stubbi commented on #4136
@balopat is there a reason you propose `ubuntu-latest` instead of `ubuntu-18.04`? I think specific version tags are generally preferable.

[2021-05-26 18:56] viathor commented on #4138
Accepted at weekly meeting. @maffoo and @95-martin-orion pointed out that we'll soon have `cirq.Channel` class, so this renaming is in fact fairly urgent to avoid name conflict between the new type name and the protocol for getting a Kraus representation.

[2021-05-26 19:30] viathor commented on #4087
The `PauliString` class maps sets of qubits to Pauli gates. This representation makes an implicit assumption that the operator corresponding to any given key-value pair in the dictionary acts as a scalar multiple of the identity on qubits which are not members of its key. This has a special case for scalars: scalar is an operator that acts as a scalar multiple of the identity on all qubits, hence

[2021-05-26 22:16] daxfohl commented on #4138
@mpharrigan agree with your sentiment. It's just that now seems like the best opportunity to start with a channel class hierarchy if we ever want to have one. Once this gets created it'll be hard to revisit that decision. So there should at least be a discussion.

[2021-05-26 22:21] mpharrigan commented on #3552
Can we just freeze depth=1 or depth=2 of our dependency graph? I guess it technically wouldn't be a reproducible build but it's more than what we have now

[2021-05-26 22:22] dabacon commented on #4135
Curious if there was a reason for the hyphen in the filename naming?  Was planning on following a similar pattern in another project, and am leaning towards using underscore, but was curious if there was some strange packaging reason to not do this.

[2021-05-27 00:31] daxfohl commented on #4138
Also, perhaps a loaded question, but why does this have to be a protocol? My knee jerk reaction was always that this would be more natural as an interface or mixin, so that `.kraus` would be exposed directly on classes that supported it. Maybe I'm too used to Java.

[2021-05-27 00:37] balopat commented on #4135
I just simply wanted to follow the pypi package name e.g. the `cirq-google` pypi package offers the `cirq_google` namespace. The hypen in the filenames is a bazel issue - more info at https://github.com/bazelbuild/bazel/issues/6841.

[2021-05-27 01:01] viathor commented on #4138
In object-oriented programming you get type polymorphism at the cost of having to construct a taxonomy for your classes and then having to comply with that taxonomy by ensuring inheritance relationships that yield the desired dispatch behavior.

By contrast, protocols allow you to form subtype relationships *implicitly*. Instead of explicitly saying that one type inherits from another, you decide

[2021-05-27 07:29] smitsanghavi opened #4141 "`is_measurement` protocol is slow"
Current is_measurement implementation is slow because:

* It delegates to getting all the measurement keys first and then checks for non-emptyness
* Measurement key protocol iterates through each operation in order and decomposes each until it finds `_measurement_key_` or `_measurement_keys_` implemented.
  * Decomposing can be costly and most of the time would be spent on non-measurement operatio

[2021-05-27 14:55] 95-martin-orion commented on #4138
Super quick RFC on the channel type mentioned above: https://tinyurl.com/cirq-custom-channel

[2021-05-27 18:50] viathor opened #4142 "Circuit validation tool"
**Is your feature request related to a use case or problem? Please describe.**

When attempting to execute on quantum hardware, circuits may be rejected for a variety of reasons such as the presence of unsupported gates or requiring interactions incompatible with device's connectivity.

**Describe the solution you'd like**

It is desirable to have a tool that can test or dry-run a circuit to check

[2021-05-27 18:53] mpharrigan commented on #4142
dupe? https://github.com/quantumlib/Cirq/issues/3960

[2021-05-27 18:54] mpharrigan commented on #3960
related? https://github.com/quantumlib/Cirq/issues/3244

[2021-05-27 18:55] #4142 closed

[2021-05-27 19:14] balopat commented on #3960
Could be but doesn't sound like it, as the recommended solution is not about changing the interface - but instead the Engine implementation of it.

1. It sounds like a size check is something that could be part of the validation routine
2. Duplicate measurement key is something that is really odd and we should look at - but again not part of the device hierarchy/interface design necessarily
3. May

[2021-05-27 19:19] balopat commented on #4136
I just copy pasted the warning ;) I'm okay with 18.04!

[2021-05-27 22:05] JiahaoYao opened #4144 "random qubit order from the outcome of the simulation"
**Description of the issue**

The output of the cirq simulation gives random order? But in the document, it says that from the [tutorial](https://quantumai.google/cirq/simulation)

I have the line qubits

[code]

When I do
[code]

I sometimes got this,
[code]
and another run
[code]

Is this typical, or I have to state the qubit order, but it seems will use `ops.qubitorder.default` if I didn't decl

[2021-05-27 22:34] balopat opened #4145 "Flake in json_serialization_test"
Potential flake that I've seen once in CI as well as (I think) once on my mac locally:

[code]

[2021-05-27 23:39] balopat commented on #4145
It wasn't a flake.
Adding some info in case someone runs into something similar.

What was happening is that the cirq-google dependencies were missing on the CI job due to my refactors.
This triggered the conditional import of `cirq_google` package to fail.
The json_serialization_test.py file checks for `cirq_google` being present on the PYTHONPATH - and then it assumes that it is included - and a

[2021-05-27 23:39] #4145 closed

[2021-05-28 07:55] stubbi commented on #4136
@balopat alright!

I noticed there [is even ubuntu-20.04 available](https://github.com/actions/virtual-environments#available-environments). Please, have a look at #4148 where I made the change. I had to [adapt the bazel install](https://gist.github.com/diegopacheco/10f4d7be75574e53e91c49f19bf2613f) which is working now. Also set the `2019` version tag for windows instead of `latest`.

[2021-05-28 18:20] daxfohl commented on #4144
Hi @JiahaoYao can you provide a complete example?

[2021-05-28 18:45] JiahaoYao commented on #4144
Hi @daxfohl , let me try to figure out how to provide a clear example. Probably will get back to you at a later time.

[2021-06-01 14:44] tanujkhattar opened #4151 "Inconsistencies in user experience when creating circuits with devices."
**Is your design idea/issue related to a use case or problem? Please describe.**
When creating circuits for a particular device, should the users be responsible for ensuring that they only use the native gates in the circuit, and if not, first explicitly convert the circuit to one containing only native gates, using one of the existing compilation tools? Or should the device class be smart enough

[2021-06-01 17:13] tanujkhattar opened #4152 "2 Qubit ControlledOperations should be supported in convert_to_sycamore_gates"
## Description of the Issue
We check `isinstance(op, GateOperation)` while verifying that the given operation can be decomposed using analytical / tabulation methods. This leads to the problem that we don't recognize two qubit controlled operations as known gates and hence don't support them.

https://github.com/quantumlib/Cirq/blob/12530f1531e5da663a6b172b1967763e08819912/cirq-google/cirq_google/

[2021-06-01 17:18] tanujkhattar opened #4153 "Add support for > 2 qubit quantum operations with known decompositions in IonQ device."
**Is your feature request related to a use case or problem? Please describe.**
IonQ device supports arbitrary 1 and 2 qubit gates and provides decompositions to hardware native gates. However, for gates with > 2 qubits, it simply raises an error:
https://github.com/quantumlib/Cirq/blob/12530f1531e5da663a6b172b1967763e08819912/cirq-core/cirq/ionq/ionq_devices.py#L104

Elsewhere (for eg, in Google's

[2021-06-01 17:30] 95-martin-orion commented on #4120
The [cirq-custom-channel](https://tinyurl.com/cirq-custom-channel) RFC may be of interest here. The measurement features it includes are motivated by #3241.

[2021-06-01 18:50] vtomole opened #4154 "`Push To Pypi` broken"
**Description of the issue**
[code]

See https://github.com/quantumlib/Cirq/runs/2720744515

**Cirq version**
`0.12.0.dev`

[2021-06-01 21:25] smitsanghavi commented on #4152
I'm assuming the `GateOperation` check is supposed to filter out Operations that don't have gates.

We have had these discussions about `Operation` hierarchy and how the type checks are used as proxies for whether there is an underlying Gate or not. I think it's useful to have a `has_gate` protocol that actually tries to get the underlying gate and performs not-None, etc checks. This would be more

[2021-06-01 22:57] maffoo commented on #4152
`op.gate is not None` seems about as simple as `cirq.has_gate(op)`, and I think that's basically all the `has_gate` method would do anyway. Certainly the `isinstance(op, cirq.GateOperation)` checks are too restrictive in this case.

[2021-06-01 23:01] #4154 closed

[2021-06-01 23:27] smitsanghavi commented on #4152
The protocol will also be doing a `getattr` check for `gate` first. `op.gate is not None` assumes that `op` is some `Operation` type which might not be the case for all instances of these checks in Cirq.

[2021-06-02 17:03] balopat commented on #4153
cc @dabacon

[2021-06-02 22:38] balopat commented on #1075
[An RFC](https://docs.google.com/document/d/16LybO9bNqL3LaIy1pZCJQXSPvKs5g3IqKkkE3efqM8U/edit) is proposed for Typescript development - adding it here for sake of completeness.

[2021-06-03 11:22] tanujkhattar commented on #4151
As per the discussion #3295, It looks like circuit construction with device attribute should be deprecated.

[2021-06-03 20:17] #3696 closed

[2021-06-04 15:29] #4122 closed

[2021-06-04 20:18] balopat opened #4161 "Resolve proto DeprecationWarnings"
**Description of the issue**

On certain environments (e.g. Windows 3.8 builds in CI and @dstrain115  reported seeing these on Linux python 3.9) check/pytest results in a ton of DeprecationWarnings related to pb2 files. We should resolve these.

<details>

[code]

</details>

[2021-06-04 21:16] balopat commented on #4161
Upgrading grpcio-tools is not really an option otherwise we'll break Tensorflow Quantum.
The following error is thrown if we compile the pb2 files with gprcio-tools==1.38:

[code]

This is because TFQ uses protobuf 3.9.12 - which is a hard dependency on their Tensorflow version 2.4.1 as far as I understand.

[2021-06-04 21:33] balopat commented on #4161
Oh the way to repro this, if someone's up for it:

Use a linux machine!

1. build TFQ from source (https://www.tensorflow.org/quantum/install) - so now you have a virtual env e.g. called `tfq38` where `scripts/test_all.sh` succeeds.
2. in a separate directory, get latest Cirq from master, use a separate virtualenv, e.g. `cirq38` (just for prosperity's sake) and bump `grpcio-tools>1.26.0` in `dev_t

[2021-06-04 22:09] MichaelBroughton commented on #4161
@balopat Wow nice! This was the original source of the error we found over in TFQ.

Here's why I **think** it's happening: Here's the original piper sync that brought in the `_internal_create_key` entry: https://github.com/protocolbuffers/protobuf/commit/b99994d994e399174fe688a5efbcb6d91f36952a#diff-36475d83594de2ba8efd80eb6c5c276cce4f5553871d53a433d03d2f503088a8 which was present in protobuf >= 3

[2021-06-05 05:04] viathor opened #4163 "Inconsistent results from noisy density matrix simulator"
**Description of the issue**

There are two ways of getting noise into a density matrix simulation: we can attach the noise to the simulator (by passing the `noise` parameter to the constructor) or to the circuit (by calling `with_noise`). I think it is reasonable to expect the two to produce the same results. However, I found that they don't always agree.

I tried to create a minimal command to r

[2021-06-05 05:16] viathor commented on #4163
Actually, I guess what happens is the sim collapses the wavefunction different ways. The density matrices are consistent with that (since it appears that the amplitude damping channel is also added to measurements).

[2021-06-05 05:44] #4163 closed

[2021-06-07 17:33] #4136 closed

[2021-06-07 17:45] daxfohl commented on #882
After #4100 this can be done by applying a reset gate to any qubit you want to discard. You can even reuse them later in the circuit, but the simulator will be fast in the steps between those ops.

[2021-06-07 20:42] asmuzsoy opened #4170 "Simulator cannot be initialized with PerQubitDepolarizingWithDampedReadoutNoiseModel"
**Description of the issue**

A Simulator object should be able to be initialized with any NOISE_MODEL_LIKE object, but the following error is raised when a PerQubitDepolarizingWithDampedReadoutNoiseModel object is passed in as the noise parameter.

[code]

**How to reproduce the issue**

The simple_noise_from_calibration_metrics method from cirq-google/cirq_google/experimental/noise_models/noise_

[2021-06-07 21:16] daxfohl commented on #4170
Correct, the state vector simulator has only limited noise support. You can use DensityMatrixSimulator to simulate larger categories of noise models.

[2021-06-07 21:54] balopat commented on #4163
Maybe a little tangential as a remark but the effect of measurement itself could be captured as a sum of the effect of the projectors on the density matrix, i.e. capturing the measurement outcome in the "classical probability layer" of the density matrix, instead of actually simulating the probability pathway and collapsing the wavefunction. Was that your expectation maybe? Would that simulation m

[2021-06-08 01:34] tanujkhattar opened #4172 "Inconsistencies in using ControlledGate(s) and ControlledOperation(s)"
We currently have `ControlledGate` and `ControlledOperation` as generic types which are useful to represent controlled versions of an underlying `sub_type`. For many common gates, we also have explicit types defined for controlled versions of those gates (eg: `X`, `CX`, `CCX` etc.).

The general pattern to get a `controlled_gate` from a `gate` is to call `gate.controlled()` and to get a `controlle

[2021-06-08 04:04] viathor commented on #4163
I didn't realize that noise channel was added after my measurement gate and so after seeing fractional entries in the output density matrix I concluded that it is not a collapsed state and thought that `final_density_matrix` was instead a pre-measurement state. The behavior made sense once I looked at the modified circuit.

For my purposes getting a collapsed wavefunction is sufficient, but I imag

[2021-06-08 07:53] stubbi commented on #3728
@Strilanc  #4113 includes the changes for `sx`, `s`, and `sdg`. `sxdg` is currently not supported by Qiskit Aer. I [opened an issue in the Aer repo](https://github.com/Qiskit/qiskit-aer/issues/1254) to ask for the reason. It seems it has just been overlooked. I would be happy to make the changes for `sxdg` as soon as it's included in Qiskit.

Until then, could you rename this issue to

Thanks! 🙂

[2021-06-08 15:08] 95-martin-orion commented on #4170
Hey @daxfohl, I think the logic we added here was due to a mistake on my part. The sparse simulator and other state vector-based simulators actually _can_ accept channel-based noise, thanks to the channel support in `act_on_state_vector_args` [here](https://github.com/quantumlib/Cirq/blob/8e7e302b944135b0946c10374480681b6a7b0d9d/cirq-core/cirq/sim/act_on_state_vector_args.py#L219). This uses "traj

[2021-06-08 17:01] shukob opened #4173 "Allow MatrixGate to be less strict w.r.t. unitarity"
**Is your feature request related to a use case or problem? Please describe.**
If I use an almost unitary (because of numerical error) matrix using e.g. `scipy.linalg.expm` to construct input for `MatrixGate` with `dtype` of `np.complex64`, `allclose` should be less strict for it to pass unitarity check. If I use `np.complex128` instead, it passes but some simulators like `QsimSimulator` do not ac

[2021-06-08 20:09] karlunho opened #4175 "Add documentation needed for a users who are adding new devices to the Cirq"
New hardware vendors need some documentation

**Describe the solution you'd like**

Content:
- How to do gate composition
- How to add gate sets
-

**[optional] Describe alternatives/workarounds you've considered**

**[optional] Additional context (e.g. screenshots)**

**What is the urgency from your perspective for this issue? Is it blocking important work?**

P0 - this should land no later than

[2021-06-08 23:01] jarthurgross opened #4176 "Find a way to define gates with tags"
**Is your feature request related to a use case or problem? Please describe.**

I have code that involves passing gates to functions that then construct circuits, and sometimes I want to add tags to those gates (like `cirq_google.PhysicalZTag()`). Maybe I'm missing something, but there doesn't seem to be any notion of a gate right now that, when applied to qubits, results in an operation with the

[2021-06-09 00:01] mpharrigan commented on #3960
What about validating gates used and qubits used?

[2021-06-09 00:05] mpharrigan commented on #3831
is this fixed @balopat ?

[2021-06-09 15:59] vtomole commented on #4175
This is a duplicate of https://github.com/quantumlib/Cirq/issues/3820.

[2021-06-09 18:18] balopat opened #4177 "Community examples"
It would be great to have a list somewhere (site, github markdowns) where we can point to interesting uses of Cirq - these can be demos, pet projects, etc. Opinions?

[2021-06-09 18:19] tonybruguier commented on #4177
I’ve been looking into quantum embeddings (https://arxiv.org/pdf/2008.08605.pdf) for machine learning (https://arxiv.org/pdf/2001.03622.pdf, https://arxiv.org/pdf/2101.11020.pdf). I also wrote a small demo (https://github.com/tonybruguier/sandbox/blob/master/quantum_embeddings.py) and I am not sure how to proceed (work on it more, send PR for an example, send PR for core Cirq, not submit anything,

[2021-06-09 18:20] dabacon opened #4178 "cirq/protocols/quil.py has no tests"
**Description of the issue**

/cirq/protocols/quil.py does not have any tests.  Not sure how it got past the coverage check.  (Quil code in contrib does have tests).

[2021-06-09 18:39] balopat commented on #4172
Discussed on Cirq Cynque:

- the issues are definitely valid - in fact we should add tests to the standard gate consistency tests that ensure that
   - ordering of the qubits doesn't matter --- e.g. `TOFFOLI(a,b,c).controlled_by(d) == TOFFOLI(d,b,c).controlled_by(a)`
   - controlled operations created from gates or operations should end up equivalent, meaning TODO (types? python equality?)
- opini

[2021-06-09 18:43] balopat commented on #4151
ref #3244 and #3245

[2021-06-09 18:44] balopat commented on #4151
Discussed on Cirq cynque:
- we'll punt on this for now - it might not be that big of an issue as well as we are revisiting devices

[2021-06-09 19:05] balopat commented on #4178
I think cirq.circuits.quil_output_test.py covers it...

[2021-06-09 19:25] viathor opened #4179 "[Bikeshed] Rename `cirq.channel_matrix`"
**Is your design idea/issue related to a use case or problem? Please describe.**

@Strilanc pointed out that the term "channel matrix" can be given a fairly broad interpretation. This makes it fairly ambiguous, potentially confusing and invites name collisions. Filing the issue to record a discussion and suggestions for a better name.

The term "channel matrix" is intended for one of the matrix re

[2021-06-09 23:24] daxfohl commented on #2413
@balopat This has been fixed for a while and can be closed.

[2021-06-10 00:12] daxfohl commented on #1060
I think #4169 would address the performance implications of (2) here, at least for state vector and density matrix simulators.

[2021-06-10 00:17] daxfohl commented on #3240
#4169 handles the qubit-moving part.

[2021-06-10 01:30] balopat commented on #4161
The first version where this DeprecationWarning was introduced was 3.12.x - i.e [3.11.4](https://github.com/protocolbuffers/protobuf/blob/v3.11.4/python/google/protobuf/descriptor.py) is the last version that worked with the old format.

[2021-06-10 03:41] daxfohl commented on #461
@kevinsung Is the idea here that we want to specify ahead of time that you only care about when measurement m1 is 1, so retry until that happens?

If that's the case we have the ability to do that very generically now. All simulators support act_on, using their specified subclass of ActOnArgs as the simulator state. (i.e. density matrix simulator uses DensityMatrixActOnArgs, which contains a densi

[2021-06-10 07:18] mpharrigan commented on #2413
Fixed by #3818

[2021-06-10 07:18] #2413 closed

[2021-06-10 14:34] 95-martin-orion commented on #461
In my opinion, the "correct" way to implement post-selection in simulation is with a new gate whose `_act_on_` method simply applies the `|0)(0|` or `|1)(1|` operator without checking it against the existing state. This requires no trial-and-error, and (assuming we don't normalize the state after) allows us to determine what percentage of runs we "discarded" to get that result. I'd prefer not to u

[2021-06-10 16:44] daxfohl commented on #461
Makes sense. As soon as I posted that I realized there's probably a deterministic operation.

[2021-06-10 20:09] Dripto opened #4184 "run_oversized_batch() method which automatically creates appropriately sized batches."
**Is your feature request related to a use case or problem? Please describe.**
When using run_batch() in Engine, the method will fail if the program size is greater than 10MB. It would be useful to have a method which could accept an oversized batch, and then automatically break it up into appropriately sized chunks. This is related to one of the concerns in #3960.

This would significantly improv

[2021-06-10 20:20] Strilanc opened #4185 "AsymmetricDepolarizingChannel overrides function num_qubits with a property"
[code]

[2021-06-10 22:36] balopat commented on #4185
This should be easy to fix: just remove the @property decorator from the num_qubits() method. This is technically going to be a breaking change so whoever takes this issue should mark the PR with the "breaking change" label and add a release note to the description.

[2021-06-11 00:29] Strilanc opened #4186 "GateOperation doesn't forward qubits to Gate for _mixture_ and _channel_"
I was trying to implement a gate that had a mixture, and noticed implementing `_mixture_` didn't actually work because `GateOperation._mixture_` forwards directly, without giving any qubit information to the gate mixture method (like `_decompose_` does) and without filling in qubit information on the way out. The same appears to be true of `_channel_`.

[2021-06-11 00:59] Strilanc commented on #4186
Okay, looking at this more, I realize the issue is that I thought I could return things besides unitary matrices in the mixture.

[2021-06-11 14:42] vtomole opened #4187 "Add `circuit.num_operations()`"
**Is your feature request related to a use case or problem? Please describe.**
I want the number of operations in a circuit.

**Describe alternatives/workarounds you've considered**
[code]
**What is the urgency from your perspective for this issue? Is it blocking important work?**
P3 - I'm not really blocked by it, it is an idea I'd like to discuss / suggestion based on principle

[2021-06-11 15:01] Strilanc commented on #3728
@stubbi Thanks for handling this so well.

[2021-06-11 15:42] sassan72 opened #4189 "'cirq.sim.simulator'"
'cirq.sim.simulator' has no attribute 'SimulatesExpectationValues'.

How to solve this problem?

[2021-06-11 16:01] balopat opened #4190 "Timeout of isolated notebook tests on Github Action"
**Description of the issue**

I've seen this on https://github.com/quantumlib/Cirq/pull/4157 and #4171 - for some reason the changed notebook tests just fails without any logs - claiming that the tests were running for 47 minutes. Both of these branches create new modules. Maybe something is wrong with the test collection there?

![image](https://user-images.githubusercontent.com/635073/121714593-

[2021-06-11 16:03] balopat opened #4191 "Upgrade CI tests to python 3.8"
**Description of the issue**

Most of our CI checks (mypy, lint, changed files test, notebook tests, etc.) running on 3.7 - we should upgrade to 3.8, it's faster, newer, more representative of our users' environments.

[2021-06-11 16:07] vtomole commented on #4189
Hey @sassan72, please paste a snippet of the program that throws this error so that we may reproduce it.

[2021-06-11 17:01] balopat commented on #4190
It's not a flake...it seems to persist. It seems like Github Actions is timing out, given that this runs locally without an issue and the error is always 47 minutes.

The root of the problem is that all the notebooks are executed when any requirements.txts change. This is too broad a behavior - as the isolated notebook tests only tests notebooks against the stable releases.

I will restrict this b

[2021-06-11 21:10] daxfohl opened #4193 "[Discussion] Replace TaggedOperation with an Operation.tags property?"
I've been thinking about this a while and figured I'd toss this out there to get a quick idea of general sentiment on this.

**Is your design idea/issue related to a use case or problem? Please describe.**

Sorry, a bit of stream of consciousness to follow.

This comes up as I'm thinking about flow control, and how to design it. Following the precedent of tags in Cirq, we would create a `Classical

[2021-06-12 01:27] #4190 closed

[2021-06-12 19:53] balopat opened #4197 "[docs] Error message in output cell"
**Description of the issue**

https://quantumai.google/cirq/operators_and_observables#noisy_channels has an output cell with this error message below the result:

[code]

it's in the expectation values section:

![image](https://user-images.githubusercontent.com/635073/121787802-337b4800-cb7d-11eb-9ddd-229344abb781.png)

[2021-06-12 20:02] rmlarose commented on #4197
#4004 was seeking to address this. Also #4009.

[2021-06-13 20:34] thanacles commented on #3184
Unless I'm missing something, it feels like the idiomatic solution to this is to extend MatrixGate and override _circuit_diagram_info_.

[code]

If the ask is to have the ability to override the circuit diagram display of the gate with an arbitrary display, then I think it would be best to do the above.  If however we want to officially support a specific, more condensed display, then we should de

[2021-06-14 15:53] #3932 closed

[2021-06-14 16:07] balopat opened #4200 "AQT pypi page issues"
**Description of the issue**

https://pypi.org/project/cirq-aqt/ should have an AQT logo and also the getting started tutorial link is broken.

[2021-06-14 16:54] 95-martin-orion commented on #4179
If Watrous' description of the "natural representation" of channels is original, I would suggest using `cirq.watrous` or `cirq.watrous_natural` to specify this representation. Watrous' book is conveniently [available on the UWaterloo website](https://cs.uwaterloo.ca/~watrous/TQI/TQI.pdf), and it comes up as the first hit when Googling [Watrous quantum channel](https://www.google.com/search?q=Watro

[2021-06-14 17:28] 95-martin-orion commented on #4170
Assigned to @asmuzsoy as an introduction to creating PRs in Cirq.

[2021-06-14 18:02] viathor commented on #4186
@Strilanc Should we close this?

[2021-06-14 18:13] #4175 closed

[2021-06-15 00:41] #4138 closed

[2021-06-15 02:12] #4200 closed

[2021-06-15 03:47] balopat commented on #3831
Yes it is! :) Thank you!

[2021-06-15 03:47] #3831 closed

[2021-06-15 03:51] balopat commented on #4173
I am actually surprised that atol/rtol is not propagated to the constructor, we typically (should) do that! Good first issue for someone, as it should be relatively easy to introduce these with the same defaults `is_unitary` has.

[2021-06-15 16:49] daxfohl commented on #2164
Started this in #4207. Looking at the results of that though, I feel these convenience classes are nice, so having second thoughts.

I think perhaps we could have best of both worlds if we follow @gecrooks and design these as mixins instead of base classes. Perhaps a rename to ThreeQubitGateMixin or ThreeQubitGateFeature, remove the Gate subclass, and make sure inheritors use the correct mixin inh

[2021-06-15 17:19] daxfohl opened #4208 "Optimize parameter sweeps to cache unparameterized prefixes"
**Is your feature request related to a use case or problem? Please describe.**
Sweeps rerun the whole circuit from scratch for each parameter set. They could be made more efficient by caching the result of the unparameterized prefix and restarting each parameterized simulation from there.

**Describe the solution you'd like**
We do something similar in `run`, where we cache the result of the unita

[2021-06-15 18:32] 95-martin-orion opened #4209 "Deduplicate expectation value code in simulators"
After PR #3979, we will have separate but near-identical implementations of `simulate_expectation_values_sweep` defined in `sparse_simulator` and `density_matrix_simulator`. it should be possible to deduplicate this code by moving it into a mutual parent class of these simulators - either `SimulatorBase` or a new subclass of it.

[2021-06-15 18:45] #3964 closed

[2021-06-15 20:13] Strilanc commented on #4186
Discussed at cirq design meeting; should be fixed but not necessarily in the way the title suggests. Mainly we should be able to return things besides matrices from mixture.

[2021-06-15 21:33] asmuzsoy opened #4211 "Error from --color argument in check/format-incremental"
**Description of the issue**
When running the format-incremental check, the following error is produced:

[code]
Perhaps disabling the flag would fix this issue.

**How to reproduce the issue**

Running the following in the Cirq directory:
[code]

**Cirq version**
0.11.0

[2021-06-16 00:44] balopat commented on #3184
I'm not against it - I like the simplicity of it, but it requires the user to specify the tag. I think that might solve it for some users. If someone wants an automated solution instead (e.g. with a `compact` flag) - please comment here.

[2021-06-16 09:44] cduck opened #4214 "cirq.MergeInteractions should also allow FSim and other future decompositions"
**Is your feature request related to a use case or problem? Please describe.**

Currently the circuit optimizer `cirq.MergeInteractions` produces circuits with CZ (or parameterized CZ) gates by using `cirq.two_qubit_matrix_to_operations()` to decompose arbitrary two-qubit unitaries.  Now that decompositions exist for the FSim gate (`cirq.decompose_two_qubit_interaction_into_four_fsim_gates()` with

[2021-06-16 15:52] sassan72 commented on #4189
example of page 7 of Quantum TensorFlow paper: https://arxiv.org/pdf/2003.02989.pdf.

[2021-06-16 15:52] sassan72 commented on #4189
qubit = cirq . GridQubit (0 , 0)
theta = sympy . Symbol (’theta ’)
c = cirq . Circuit ( cirq .X ( qubit ) ** theta )
c_tensor = tfq . convert_to_tensor ([ c] * 3)
theta_values = tf . constant ([[0] ,[1] ,[2]])
m = cirq . Z( qubit )
paulis = tfq . convert_to_tensor ([ m ] * 3)
expectation_op = tfq . get_expectation_op ()
output = expectation_op (
c_tensor , [’theta ’], theta_values , paulis )
abs_o

[2021-06-16 17:28] daxfohl opened #4217 "[Discuss] Clean up diamond dependencies in gates"
**Is your design idea/issue related to a use case or problem? Please describe.**
Related to #4034 (zip/on_each),  #2164 (TwoQubitGate etc.), and probably part of #3242 (organize gate relationships)

**Describe your design idea/issue**

There are lots of diamond dependencies among gates. I propose we clean this up by adopting a mixin-like design for "behavior-specifying" gate subclasses. This allow

[2021-06-16 17:42] daxfohl commented on #2536
Is this still seen as useful? It seems like probably a big effort, so do we think it would give reasonable ROI? If so I may want to start looking into it.

[2021-06-16 18:14] 95-martin-orion commented on #4214
This is something @tanujkhattar is looking into as part of #3243 - in the long term, we'd like to migrate all of these into the decomposition API. Adding new decompositions before then is fine, but they'll also need to be migrated.

[2021-06-16 18:18] 95-martin-orion commented on #4217
This is potentially interesting for identifying types of gates (e.g. CircuitOperations wrapped in TaggedOperation), but I think we need additional evidence of added value to actively pursue this.

[2021-06-16 18:37] 95-martin-orion commented on #4187
Discussed at Cirq sync: difficulty in defining a "canonical" num_operations in the presence of CircuitOperations / classical control make this something that should be handled on a case-by-case basis.

[2021-06-16 18:37] #4187 closed

[2021-06-16 18:43] 95-martin-orion commented on #4184
This has come up often enough (with people rolling their own methods to do so) that it's worth doing. It may be preferable for this behavior to be available as a (non-default) option in run_batch to reduce the number of methods users need to learn.

#3235 is tangentially related as well - using CircuitOperations will reduce the serialized size of the circuit.

[2021-06-16 19:33] vtomole commented on #4189
I don't get your error. I don't get a different error: `tensorflow.python.framework.errors_impl.InvalidArgumentError: pauli_sums must be rank 2. Got rank 1. [Op:TfqSimulateExpectation]
`

[code]

[code]

[code]

[2021-06-16 19:44] daxfohl commented on #4217
Interesting, I thought this would be a slam dunk. Is it that diamond dependencies not considered antipatterns in Python / Cirq? Or just that options other than mixins would be preferred? (I can't think of anything that would be as clean).

[2021-06-16 19:46] daxfohl commented on #4193
@95-martin-orion Did anything come out of cynq here, or was there not enough context to go into it without me being there?

[2021-06-16 19:50] vtomole commented on #4211
I can't reproduce this error. What do you get when you execute the following on your machine?

[code]

[2021-06-16 19:53] asmuzsoy commented on #4211
at the time it was 19.10b0. Now, I've upgraded it to 21.6b0 and no longer get the error.

[2021-06-16 20:12] 95-martin-orion commented on #4217
While diamond inheritance in Python still has the potential to cause confusion, it at least results in consistent behavior due to Python's use of [method resolution order](https://en.wikipedia.org/wiki/C3_linearization). For example, `class A(B, C)` will always search for a given method in A, then B, then C. Sub-classes can also specify which parent's version of a method to call, if necessary.

In

[2021-06-16 20:12] vtomole commented on #4211
Good stuff 😄 . Note that we default to [20.8b1](https://github.com/quantumlib/Cirq/blob/72993b5081520d144472f37cd76f1cc2c5f990f6/dev_tools/requirements/deps/format.txt#L2).

[2021-06-16 20:12] #4211 closed

[2021-06-16 20:41] 95-martin-orion commented on #4193
I think we'll want to have your input on this for a proper discussion. I skipped over it this week as similar items have come up before (e.g. with issue #3678) and some of the main decision-makers on that discussion were absent (@Strilanc and @maffoo).

[2021-06-16 20:58] MichaelBroughton commented on #4189
Thanks @vtomole . The error you are getting is what *should* be happening in your snippet. This is a mistake in the whitepaper that we will fix in the v2 which should be coming in the next few months. The fix is to ensure the the `paulis` tensor is rank 2 instead of rank1. You could do this by adding another list dimension to it before converting it to a tensor.

I'm going to go ahead and close th

[2021-06-16 20:58] #4189 closed

[2021-06-17 05:04] cduck opened #4218 "EjectPhasedPaulis incorrect transformation of rx(0) gate"
**Description of the issue**
Sometimes you optimize a circuit containing an X, Y, or PhasedX rotation gate with zero angle.  Rotations with zero angle are equivalent to identity but come up in generated circuits.  `cirq.EjectPhasedPoaulis().optimize_circuit(circuit)` incorrectly resets the angle to π (or 1 half-turn) resulting in an circuit not equivalent to the input.

**How to reproduce the issu

[2021-06-17 16:34] #4218 closed

[2021-06-17 20:11] vtomole opened #4222 "Push to PyPi failing"
[code]

See https://github.com/quantumlib/Cirq/runs/2851981344

[2021-06-17 21:46] cduck opened #4223 "Consolidate SQRT_ISWAP gate definitions"
**Is your feature request related to a use case or problem? Please describe.**

Recently, #4213 added (will add) the SQRT_ISWAP=ISWAP**0.5 gate to the core set of gates.  Several places throughout Cirq define it and one place even defines it as [ISWAP**-0.5](https://github.com/quantumlib/Cirq/blob/2f8326c5f71006ff17c9353e30d35cd9e11aca2a/cirq-google/cirq_google/calibration/xeb_wrapper_test.py) (se

[2021-06-17 23:38] tanujkhattar opened #4225 "circuit.insert_at_frontier crashes when inserting GlobalPhaseOperation"
**Description of the issue**
`circuit.insert_at_frontier` fails when trying to insert `GlobalPhaseOperation` because the operation does not have any qubits. As a result, `PointOptimizer` also fails when the `new_operations` contain a `GlobalPhaseOperation`.

**How to reproduce the issue**

[code]

<Output>

[code]

</Output>

**Cirq version**
0.12.0.dev

[2021-06-17 23:42] cduck commented on #4225
I just ran into this bug (and add a one-line fix for it in #4224).

[2021-06-18 02:06] ShrillShrestha commented on #4223
Hi @cduck, I am a beginner learning to contribute to open source. I am not sure if I completely understand the issue, but I would like to try solving this issue. I might be able to work on it with some guidance.
Correct me if I am wrong, for example, [here](https://github.com/quantumlib/Cirq/blob/0311e1746acdb4519f334c421a90e15ff3035891/cirq-google/cirq_google/optimizers/convert_to_sqrt_iswap.py),

[2021-06-18 02:14] cduck commented on #4223
That's correct.  Within cirq-core, use `ops.SQRT_ISWAP` and use `cirq.SQRT_ISWAP` elsewhere (`cirq.ops` is used to avoid circular dependencies within cirq-core).  If the file uses `ISWAP**-0.5`, this is equivalent to `cirq.SQRT_ISWAP**-1` (i.e. x**-0.5 = (x**0.5)**-1).

[2021-06-18 02:44] ShrillShrestha commented on #4223
Thanks for the clarification. I will try to solve and issue a PR. I will let you know if I have any questions. :)

[2021-06-18 17:10] maffoo commented on #4223
I like the idea of consolidating these definitions. I'd suggest that we define both `SQRT_ISWAP = ISWAP ** 0.5` and `SQRT_ISWAP_INV = ISWAP ** -0.5`.

[2021-06-18 19:15] balopat opened #4227 "Deduplication of deprecation warnings hides deprecation test issues with json serialization"
**Description of the issue**

The deprecated module logic in _compat.py maintains a global state of whether a given deprecated module emitted warnings already or not. If yes, it does not emit deprecation warning again.

This behavior is great in reducing noise for the end user, however, it makes test execution order dependent - earlier, well handled calls to deprecated modules will result in omitt

[2021-06-18 19:39] ShrillShrestha commented on #4223
@cduck, Can you please guide me on how can I perform the test? I couldn't find the procedure in `CONTRIBUTING.md` file.

[2021-06-18 19:48] cduck commented on #4223
Perform what test?  Maybe @balopat can advise on current continuous integration advice.

[2021-06-18 19:51] ShrillShrestha commented on #4223
Maybe I can issue a PR, and you can suggest me some changes if I have do something different.

[2021-06-18 21:48] vtomole commented on #4144
Hey @JiahaoYao, a clear example would simply be the whole program that generates the results you are getting. What is your `my_circ` variable set to? How about `noisy_sim`? What method are you calling to get `Index(['q4', 'q3', 'q2', 'q5', 'q6', 'q1', 'q7', 'q0'], dtype='object')`?

[2021-06-19 03:22] thanacles commented on #3324
Wouldn't this be a pretty big breaking change?  For example, all calls to CircuitDag.make_node would need to be changed to make_node.  Personally I like module functions more than static methods, but do you feel comfortable with going forward with this?

[2021-06-19 15:06] thanacles commented on #3324
Here's an option: we clean up all of the private functions that start with "_".  That way we can feel safer that people using Cirq won't be broken.  But if you feel comfortable just changing them all over, I can implement the refactor.

[2021-06-19 17:04] JiahaoYao commented on #4144
Hi @vtomole and @daxfohl , thanks for your patience. Here is the MWE to reproduce the issue:

[code]

Here is also the minimal runnable notebook: [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1x5JbOSJxEw3WzekVcdOAM9wHN5ZcW1MI?usp=sharing)

[2021-06-19 17:06] JiahaoYao commented on #4144
looks like the ordering of qubit can not be controlled, wonder if this is because the data frame does not preserve the ordering.

[2021-06-19 19:12] daxfohl commented on #3324
There is a @deprecated annotation cirq uses for depreciating things over time, to reduce breakages. Not sure what the policy is for private functions. It may be a judgment call, case by case.

[2021-06-19 19:47] thanacles commented on #3324
I'm willing to add @deprecated to all of the public static methods.  Do you think I should?

[2021-06-20 01:31] Strilanc opened #4232 "Zero-target operations don't show up in circuit diagrams"
## Example

[code]

## Expected behavior

Output includes the zero-target operations below the circuit as annotations

[code]

## Actual behavior

No annotations.

[code]

[2021-06-20 04:45] Strilanc opened #4233 "cirq.testing.assert_has_diagram doesn't have "__tracebackhide__ = True""
This makes it harder to debug failures, because the stack trace points into the diagram testing method instead of to the assert in your test.

[2021-06-20 16:39] daxfohl commented on #2164
After going through this a bit I find they're primarily convenient for testing, otherwise every test using them has to redefine it. However in production code they don't add much value.

I'll copy these to cirq.testing and make sure all tests use them, then deprecate the originals. This serves both purposes better than the mixins approach I mentioned above.

[2021-06-20 16:43] daxfohl commented on #4034
Small suggested addendum to the above: copy `Single/Two/ThreeQubitGate` to `cirq.testing` when deprecating from `gate_features`, as unit tests become more cumbersome when you have to redefine these everywhere.

[2021-06-20 18:12] daxfohl commented on #4034
Deprecating Two/ThreeQubit gate here: #4207. (these can be done independently of the on_each migration; only SingleQubitGate deprecation must happen strictly after on_each migration).

I'll work on the on_each migration next.

[2021-06-20 20:34] daxfohl commented on #4144
Seems to be a documentation error. I don't see any evidence in the code that this would have ever worked. I tried running this in versions back to 2019 and got similar results.

[2021-06-20 23:44] JiahaoYao commented on #4144
Hi @daxfohl, thank you for spending time looking into this! I really appreciate it! I very much agree with you and thank you again!

[2021-06-20 23:44] #4144 closed

[2021-06-21 01:03] daxfohl commented on #4034
Added `on_each` to `Gate` in #4236.

Note that deprecating `SingleQubitGate` will be more troublesome than the others, as things like `_CALIBRATION_IRRELEVANT_GATES` and `NOISE_MODEL_LIKE` depend on it.

[2021-06-21 08:22] ChrisW918 opened #4238 "Failed to import Ansatz"
I followed the instruction in github to import types of ansatz from _openfermioncirq.varional_ , but it reports the fault:

_ModuleNotFoundError: No module named 'openfermion.ops._givens_rotations'_

I tried to check the _ops_ package, and it turns out that _givens_rotations_ has been removed.

How can I deal with this? Or are there other ways to import ansatz?

[2021-06-21 14:34] vtomole commented on #4238
Hey, @ChrisW918 . This is an OpenFermion issue. I'm going to close it because it's a duplicate of https://github.com/quantumlib/OpenFermion/issues/732.

[2021-06-21 14:34] #4238 closed

[2021-06-21 15:43] Strilanc opened #4240 "CircuitOperation has non-deterministic diagrams, making tests hard to write"
I filled in a diagram test from output during one run:

[code]

But then it fails in the next run:

[code]

The issue is that the hash id is going into the diagram, but hash ids are not stable over time.

The hash is entirely based on the contents, which we can see anyways. I suggest just dropping it.

[2021-06-21 15:56] balopat opened #4242 "Cancel previous Github Action workflow runs"
**Description of the issue**

It would be great if we could cancel previous Gtihub Action workflow runs on the same branch on newly pushed commits. This could save us some parallel job capacity, when there are a lot of PRs in progress in parallel.

A way could be by using https://github.com/marketplace/actions/cancel-workflow-action for each job.

[2021-06-21 15:58] stubbi opened #4243 "rename master to main"
I just realized that the default branch of this repo is called `master`. Should this repo adopt the new `main` branch convention?

In case yes, [this](https://github.com/github/renaming#renaming-the-default-branch-from-master) might help.

[2021-06-21 16:06] #4232 closed

[2021-06-21 16:06] #4233 closed

[2021-06-21 16:17] tanujkhattar opened #4244 "Modify type annotation in FSimGate constructor from float to TParamVal"
**Description of the issue**
`FSimGate`s  support symbols as valid parameter arguments for `theta` and `phi`.  However, the type annotation in constructor is `float` which can be confusing.

https://github.com/quantumlib/Cirq/blob/12530f1531e5da663a6b172b1967763e08819912/cirq-core/cirq/ops/fsim_gate.py#L81

Modify the type annotation to `TParamVal` - which is a `Union[float, sympy.Basic]` i.e.

[c

[2021-06-21 16:18] 95-martin-orion commented on #4240
My reasoning behind including the hash:
- It's easier to visually compare hash values than large CircuitOperations
- Tests can embed `hash(circuitop)` of `circuit.diagram_name()` in the diagram string if necessary

An example from the CircuitOperation tests:
https://github.com/quantumlib/Cirq/blob/099fc740c53a3e54b2bece568f246c7324fd3e11/cirq-core/cirq/circuits/circuit_operation_test.py#L350-L361

[2021-06-21 17:41] vtomole commented on #4243
What will be gained by renaming? This is probably super bikeshedy 😅

[2021-06-21 17:46] vtomole commented on #4243
What will be gained by renaming?

[2021-06-21 17:55] balopat commented on #4243
I was planning to do this in the coming weeks, thanks for bringing it up!
@vtomole - the industry is moving away from terms with historical baggage of misuse and oppression - e.g. `master`, `blacklist`, `whitelist`, etc. E.g. see https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/ - Github itself is now creating new repos with `main`.

[2021-06-21 17:56] vtomole commented on #4243
@balopat I see. Good to know!

[2021-06-21 21:26] balopat commented on #4222
Still broken - pypi push fails with the tensorflow-docs dependency, we have to skip it.

[2021-06-21 23:16] #4191 closed

[2021-06-21 23:41] #4173 closed

[2021-06-22 14:25] balopat commented on #4217
I was thinking about using mixins for modeling some special behavior, e.g. TaggedOperation. I can imagine `num_qubits` to be mixable for some named cases e.g. `ThreeQubitGateMixin`, but the usefulness is a little bit unclear (as the `gate.num_qubits == 3` is similarly expressive and user friendly).

I'm a bit confused about the key issue here and the severity of it. The diamond problem is only an

[2021-06-22 15:37] daxfohl commented on #4217
It's actually not so bad as I thought. We're already planning on getting rid of the SingleQubitGate etc., so the only one left that I see is Pauli, which is just used internally. Pauli can also be converted to a mixin with a four-line code change if we want to.

I don't have any specific issues with the diamond dependencies. Just after 20 years of hearing "multiple inheritance is bad", I assume we

[2021-06-22 15:45] daxfohl commented on #4217
Oh one other thing: I think having a strict tree for hierarchy might make it easier to reason about things when we get to pattern matching. Diamond dependencies may make that more of a challenge (or maybe not at all...I can't name a specific reason, it's just a feeling).

[2021-06-22 16:44] #4222 closed

[2021-06-22 16:57] #3184 closed

[2021-06-22 17:16] balopat commented on #3324
`@deprecated` should be the way to go for all public ones, for private ones we can just break them, people should not depend on private method.

[2021-06-22 17:19] balopat commented on #2536
Absolutely. You'll have to talk to @tanujkhattar about this though, as he is introducing the concept of gate sets and reorganizing compilers, both of which will benefit / touch on / depend on this feature. Above all, here we'll need an agreed design - the longest part of this effort will be to figure out something we can all agree on.

[2021-06-22 19:25] daxfohl commented on #4176
To do some requirements gathering, what would you want for the behavior of something like `gate.with_tag(PhysicalZTag()).on(q).without_tags().gate.tags`?

[2021-06-22 20:26] dstrain115 opened #4253 "NoCompile Tag for optimizers"
**Is your feature request related to a use case or problem? Please describe.**
Certain use cases involve creating gates that should not be optimized.  For instance, if you add spin echoes to an idle qubit to decrease dephasing errors, you do not want a merging optimizers to collapse them down again.  Other benchmarking cases may want this as well.

**Describe the solution you'd like**
I would like

[2021-06-22 20:43] maffoo commented on #4176
I would think that `Operation.without_tags` would _only_ modify the tags on the operation itself, not the gate, rather than traversing down inside the operation (note that an op could be a `CircuitOperation` with a circuit that itself contains tagged operations, and I definitely don't think we'd want `without_tags` to traverse down into that circuit and mess with tags there). So in the example giv

[2021-06-22 21:06] daxfohl commented on #4176
I think I agree here. We have a roadmap item regarding tagging different things, and it could get confusing if we started inheriting tags from qubits to moments etc., or even more so if some things inherited and some didn't. There's also further rabbit holes like `gate.with_tag(PhysicalZTag()).on(q).without_tags().with_gate(gate.with_tag('x'))`.

[2021-06-22 22:49] vtomole commented on #1742
We now have [quil_import](https://github.com/quantumlib/Cirq/tree/master/cirq-core/cirq/contrib/quil_import) and [quil_ouput](https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/circuits/quil_output.py).

[2021-06-22 22:49] #1742 closed

[2021-06-22 22:49] vtomole commented on #1742
We now have [quil_import](https://github.com/quantumlib/Cirq/tree/master/cirq-core/cirq/contrib/quil_import) and [quil_ouput](https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/circuits/quil_output.py).  Feel free to re-open if we missed something.

[2021-06-22 23:19] vtomole commented on #4253
I thought this was done as part of https://github.com/quantumlib/Cirq/issues/2642.  It seems like `tags` were implemented but not `NoOptimizeTag()`.

[2021-06-22 23:55] Strilanc opened #4254 "Using `def _channel_(...)` to specify channels was changed to `def _kraus_(...)` without a deprecation period"
This caused sudden breakages internally when we updated.

https://github.com/quantumlib/Cirq/commit/bc4123ef2a85c6a61667dc268554429690d2838d

Repro:

[code]

Results in:

[code]

[2021-06-23 00:59] jarthurgross commented on #4176
The "operation factory" solution definitely works for my use case. In my initial thoughts a tagged gate would simply pass it's tag along to an operation when applied to qubits (since I would want the `PhysicalZTag()` to work with existing code, which expects it to be on an operation), so `gate.with_tag(PhysicalZTag()).on(q).without_tags().gate.tags` would be empty. From this perspective it wouldn'

[2021-06-23 02:45] #4254 closed

[2021-06-23 11:24] stubbi commented on #4119
@dabacon can you assign me to this one? I am considering taking this one up for some time now and want to give it a try. Do you see any rabbit holes I could tap into? 🐰🕳️

[2021-06-23 15:08] 95-martin-orion commented on #3240
The PRs mentioned above provide _implicit_ qubit (de-)allocation in simulation - i.e., there is no "allocate qubit" operation, the simulators simply detect changes in qubit entanglement and adjust accordingly.

@dabacon, does this fulfill the requirements for ion trap simulation (particularly with regards to "moving" qubits), or are separate, _explicit_ qubit (de-)allocation operations also necess

[2021-06-23 15:40] tanujkhattar commented on #4152
Upd: Similarly, `_is_native_xmon_op` checks for `isinstance(op, cirq.GateOperation)` and hence does not recognize gates like `CS(0, 1)` to be native gates which leads to much worse (decomposed) target circuit lengths. xref #4172

[2021-06-23 15:53] #4242 closed

[2021-06-23 16:18] #3135 closed

[2021-06-23 17:56] balopat opened #4257 "Follow-up design changes to Bloch-sphere"
**Is your feature request related to a use case or problem? Please describe.**

The Bloch Sphere visualization introduced in #4171 should be updated to a bit slicker visual design.

**Describe the solution you'd like**

- Use a single equator instead of multiple meridians.
- Use Quantum AI brand colors
- Use thicker lines for the axes
- Add a border around scene and add static elements around it f

[2021-06-23 18:18] viathor commented on #3240
From @mpharrigan: could we add support for tracing qubits out (rather than measuring them)?

[2021-06-23 18:39] viathor commented on #3324
We probably want to retain discoverability associated with having most names at the top level.

There are at least two ways of eliminating `@staticmethod`: make them `@classmethod` when appropriate, turn them into module-level functions. It's quite possible that a significant fraction of our `@staticmethod` actually qualify for the former treatment.

[2021-06-23 18:56] viathor commented on #4179
Check what qiskit calls it.

[2021-06-23 19:01] 95-martin-orion commented on #4179
https://qiskit.org/documentation/_modules/qiskit/quantum_info/operators/channel/superop.html

[2021-06-23 19:02] viathor commented on #4179
From @dabacon: Liouville-superoperator (ref https://arxiv.org/abs/1111.6950)

[2021-06-23 20:30] daxfohl commented on #4034
For n-qubit gates which of the following do we want to allow (2-qubit examples below that would all represent the same thing):

A: varargs form `gate.on_each([q1, q2], [q3, q4])`
B: explicit form `gate.on_each([[q1, q2], [q3, q4]])`
C: flexible form `gate.on_each([[[q1, q2], [q3, q4]]])`, `gate.on_each([[q1, q2], [[[q3, q4]]]])`, etc.
D: flat varargs form: `gate.on_each(q1, q2, q3, q4)`

Is B is t

[2021-06-24 00:53] mpharrigan opened #4260 "Google tutorial docs boilerplate"
There's quite a wall of boilerplate code to go along with the cirq.google tutorials to handle the various cases: [simulator, engine] x [colab, ipython, other] x [explicitly set, environment variable].

We should factor this out into a library function that you can call to do auth and get a device and sampler (and maybe an engine? we don't have a simulator analog of engine)

[2021-06-24 01:40] tanujkhattar opened #4261 "pip install git+https://github.com/quantumlib/Cirq.git is broken"
**Description of the issue**
`!pip install --pre cirq` works fine but
`!pip install git+https://github.com/quantumlib/Cirq.git` fails with the following error

[code]
**Cirq version**
0.12.0.dev

[2021-06-24 01:42] tanujkhattar commented on #4261
Upd: On multiple runs of the command, the error keeps changing to one of the many different extracted modules. eg:
[code]

[code]

[2021-06-24 05:27] cduck commented on #4083
For anyone curious, here are the decompositions for some common gates:
[code]
[code]

[2021-06-24 06:54] stubbi commented on #4119
@balopat thanks! 🙂

[2021-06-24 12:16] balopat commented on #4261
This is the workaround I found - it's not pretty!
[code]

Alternatives: change the directory structure to make packages top-level - but that comes with a disadvantage that all the config files in the library will get much more complicated.

[2021-06-24 13:37] balopat commented on #4261
As this is WAI, I will close this issue.

[2021-06-24 15:19] balopat commented on #4261
Reopening to leave a chance to discuss this - thanks @Strilanc for pushing back on closing this.

We might be able to make  `pip install git+https://github.com/quantumlib/Cirq.git` work by changing setup.py so that it can install all the submodules as well - this would end up actually helping with making `pip install .`  work too (instead of `pip install . ./cirq-core ./cirq-google ...`): one dire

[2021-06-24 16:13] balopat commented on #4261
Update: No immediate success, some kind of setup.py magic will be required, if it's possible at all.

Possible ideas:
- `pip install` calls `egg_info` command on setup.py  - if we can hack that to return egg_infos to other submodules and link them accordingly so that pip install recognizes them
- overriding the install command and somehow install the submodules on the fly

[2021-06-24 16:29] maffoo commented on #4034
I played around with this a while ago but never made a PR, so I just put up my branch in #4262. The changes there support all the options that you listed (I worked on this before the cirq cynque discussion about more limited `on_each` support).

[2021-06-24 19:25] #3783 closed

[2021-06-24 21:48] daxfohl commented on #4034
Yeah my initial attempt tried to be too general too. I updated #4236 to support option B only. There's lots of tests that show what is supported and what isn't. In particular `gate.on_each(zip(list1, list2))` is supported but `gate.on_each(*zip(list1, list2))` isn't.

[2021-06-25 03:23] melonwater211 opened #4263 "Flaky tests and circuit operation selection"
### Introduction
Several tests, including `test_clifford_circuit_2` in `Cirq/cirq-core/cirq/sim/clifford/clifford_simulator_test.py` and `test_example_runs_bb84` in `Cirq/examples/examples_test.py`, seem to be flaky when all seed-setting code (e.g. `np.random.seed(0)` or `tf.random.set_seed(0)`) is commented out.

For instance, in commit 8cef3d9dc16b27e3b10184e1b72afa764efe590d (version 0.11.0), `

[2021-06-25 18:42] asmuzsoy opened #4264 "Calculate T1 value in cirq.experiments.t1_decay"
**Is your feature request related to a use case or problem? Please describe.**
The [cirq.experiments.t1_decay](https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/experiments/t1_decay_experiment.py) function returns a Pandas dataframe of the delay time, false count, and true count. It doesn't return the actual value of the T1 parameter, which is the exponential decay constant of the prob

[2021-06-25 18:59] rmlarose commented on #4017
@tanujkhattar I think this should be closed now?

[2021-06-25 19:19] balopat commented on #4263
Thank you for digging into this @melonwater211! In general tests should not rely on random inputs to test important behavior. Seeds are useful for nail down randomness in production code. A PR would be more than welcome to fix this!

[2021-06-25 19:21] balopat commented on #4260
I'm totally pro this change, it would cut a lot of the cirq.google notebooks. I think this would be an ideal starter project for someone.

[2021-06-25 20:10] #3933 closed

[2021-06-25 20:44] tanujkhattar commented on #4017
That's right, this should have been closed by #4026

[2021-06-25 20:44] #4017 closed

[2021-06-25 21:05] #4227 closed

[2021-06-25 22:58] daxfohl commented on #3242
Adding takeaways from conversation with @tanujkhattar for posterity:
* Avoid pushing into protocols if possible -- that hard-codes everything and we want to keep flexibility / exensibility.
* Try to find a MVP use case: is there a set of 5 or fewer gates that we could start with and would add value somewhere?
* Idea: Rule sets that can be mixed and matched, and a rules engine that processes them.

[2021-06-26 05:56] melonwater211 commented on #4263
@balopat Thank you for the response. Would you let us know what the expected behavior for `test_clifford_circuit_2` is?

[2021-06-27 13:39] stubbi commented on #4119
Alright, I had a first look at this and have a few open questions:

1. From @dabacon:

I do not have a good answer to this one. I think it would be simpler for me to implement it as a gate, but I am open to discussion!

2. Do I understand correctly that I can combine the `_kraus_` of `ResetChannel` and `_unitary_` of `MatrixGate` to create the unitary I will need? Or how could I access them if the

[2021-06-27 14:10] stubbi commented on #4119
Looking through #4120 and the [cirq-custom-channel RFC](https://docs.google.com/document/d/1EucV4cyxF3VdbZqwQpIukRC0JBwwEviN2nZAMkpSQ90/edit) I get the feeling that this one should be implemented as a channel as well after #4120 is done. That way, it would be more consistent. But it's just a feeling without being deep into the discussion or the code base

[2021-06-27 14:28] stubbi commented on #4244
@tanujkhattar checking with `grep` shows

[code]

Should it be fixed in the other files as well?

[2021-06-27 14:47] stubbi commented on #4244
assuming yes, I opened #4266

[2021-06-27 17:17] thanacles commented on #3324
The PR to refactor the private methods is ready (https://github.com/quantumlib/Cirq/pull/4231).   As far as @classmethod is concerned, check out this quote from the styleguide:

Use classmethod only when writing a named constructor or a class-specific routine that modifies necessary global state such as a process-wide cache.

It seems that since static methods don't "modif[y] necessary global stat

[2021-06-28 15:32] daxfohl commented on #4217
Closing since the issue will probably be taken care of organically.

[2021-06-28 15:32] #4217 closed

[2021-06-28 18:47] seunomonije opened #4268 "Add JPG/animated GIF output to Bloch sphere visualization"
**Is your feature request related to a use case or problem? Please describe.**
The Bloch sphere visualization in PR #4171 currently only supports 3D visualization output for environments which allow Javascript. I'd like to go ahead and allow JPG/animated GIF to be supported in the visualization as well.

**Describe the solution you'd like**
All that's needed from an Typescript implementation persp

[2021-06-28 22:22] balopat commented on #3324
Thanks @thanacles - that's a fair assessment!

[2021-06-28 22:53] tanujkhattar opened #4270 "PauliString class sorts qubits by default, which results in confusing semantics"
### Description
`PauliString` represents a collection of pauli's applied on different qubits. Since pauli operators applied to different qubits commute with each other, the class sorts all the qubits by default. Eg:

[code]
Sorting qubits is not common in other operations (eg: `ControlledOperations`, `GateOperations` etc.), and has some confusing semantics as shown below:

### Conversion to/from `

[2021-06-29 00:22] thanacles commented on #3388
The new PR for this issue is: https://github.com/quantumlib/Cirq/pull/4267

[2021-06-29 18:11] balopat opened #4272 "can_add_moment and validate_circuit can be inconsistent"
**Is your design idea/issue related to a use case or problem? Please describe.**

`Device.can_add_operation_into_moment` should be the "online" version of at least a subset of the constraints that `Device.validate_circuit` validates. However, one can implement a Device inconsistently.

**Describe your design idea/issue**

E.g. this imaginary device, that only allows for X gates to be executed in s

[2021-06-29 18:19] Strilanc opened #4273 "Giving inconsistent measurement key qubits gives unequal repr"
Ran into this:

[code]

It took me an hour to debug that it was the repr lying to me. Very frustrating. Either the repr needs to correctly represent the mkey qubits differing from the operation qubits, or the creation of the object needs to fail.

I'm also worried about the fact that we apparently introduced a whole new way for things to be inconsistent, by allowing the measurement key to mention

[2021-06-29 19:17] maffoo opened #4274 "Proposal: remove the uniqueness constraint on measurement keys"
**Is your design idea/issue related to a use case or problem? Please describe.**

Cirq circuits allow doing repeated measurements. This is particularly important in error correction experiments which typically include multiple "rounds" of an error detection circuit where syndrome qubits are measured. The classical data is then used to detect and correct errors.

Each measurement gate in cirq has a

[2021-06-29 19:57] 95-martin-orion commented on #4273
@smitsanghavi can you take a look at this? Related: #4040

[2021-06-29 19:58] Strilanc commented on #4273
I'll also note that forcing the key to change as part of putting it into a measurement is not ideal because it means certain circuit rewrites become impossible. What if I want to rewrite the circuit in a way that moves the measurement to other qubits, but I want to preserve the key for compatibility with the original circuit?

[2021-06-29 20:12] Strilanc commented on #4274
How would the `n_qubits` axis interact with moments that disagree about how many qubits are being measured with that key? Do we have NaN values?

[2021-06-29 20:38] maffoo commented on #4274
I had imagined that reusing the same key with instances with different `n_qubits` would be an error. If we think of a key as naming a classical register, that register would have a certain bit width and I probably would want each "write" to the register to write a full "word" instead of packing bits. But you might be able to do womething like write one qubit measurement to an 8-bit wide register b

[2021-06-30 12:07] smite opened #4275 "Gate decompositions ignore global phase"
**Description of the issue**

It seems that gate decompositions ignore global phase (`global_shift`). Normally this is OK since global phases are not physically observable, but it has to be accounted for to properly decompose controlled gates, where the global phase turns into an observable relative phase.

**How to reproduce the issue**

[code]

<details>
a: ───H───
a: ───Y^0.5───X───
difference

[2021-06-30 12:37] smite opened #4276 "Unexpected indentations in docstrings when using Sphinx"
**Description of the issue**

I'm not sure if this actually counts a bug, but it's an inconvenience, and I'm not sure what would be the best way to handle it.

Some docstrings in Cirq, e.g. `cirq.circuits.optimization_pass.PointOptimizer.optimization_at:7` have indentations in them that cause Sphinx to emit "Unexpected indentation" warnings when it processes them.
Docstrings are inherited by child

[2021-06-30 15:25] 95-martin-orion commented on #4273
Given that @smitsanghavi is currently out of office and it may take some time to come to a good solution on this, I recommend we revert the latest PR in the `MeasurementKey` sequence and work forwards from there.

[2021-06-30 15:43] shivanth commented on #4134
This can be closed now , since #4230 is merged

[2021-06-30 16:02] 95-martin-orion commented on #4274
I'm not opposed to this proposal at the conceptual level, but there are several related issues (#4040, #3721, #3868) which have ongoing work that operates under the assumption that measurement keys are unique. I've set up a meeting for us to go over these in more detail.

[2021-06-30 17:53] #4134 closed

[2021-06-30 18:57] smitsanghavi commented on #4273
I agree this is an issue. I think it stems from the fact that in direct construction of `GateOperation` we do not call `on` on the gate (unlike in `cirq.measure`) and so the qubits are not passed to the `MeasurementKey` but `op_repr` assumes that qubits have been passed.

I'll take a closer look at this (and possibly reevaluate the requirements) when I am back but reverting sounds perfect meanwhil

[2021-06-30 20:54] 95-martin-orion commented on #4273
#4277 fixes this by reverting the addition of the `qubit` field to `MeasurementKey`. Prior to that change, `MeasurementKey` was a simple wrapper around string keys which did not experience this issue.

[2021-06-30 20:54] #4273 closed

[2021-07-01 02:11] balopat opened #4279 "How to see which processor has which gateset"
**Is your feature request related to a use case or problem? Please describe.**

It would be great if the processor would "know" what gateset it accepts - instead of having to pass that in. I find this rather odd. While there is a way to list processors using the Engine API or the UI, there is no way to tell what gate set a processor accepts. The `processor.get_device()` method takes a list of gate

[2021-07-01 20:00] balopat opened #4280 "Remove bazel"
**Description of the issue**

Now that there is no dependency of TFQ on our protos (https://github.com/tensorflow/quantum/pull/590), we can remove all the bazel functionality.

[2021-07-01 20:47] mpharrigan commented on #3783
Closed by #4188 if you want a PR instead of a commit hash :)

[2021-07-01 20:52] mpharrigan commented on #4179
For reference: I didn't really know what y'all were talking about until I figured out it's what I call the superoperator representation. I think we follow the Chris Wood paper in the rest of the qis package, so Liouville-superoperator sounds ideal to me

[2021-07-01 22:58] viathor commented on #4179
SGTM. We still need to decide how to turn that term into a python name. Below is the full and updated list of options for ease of comparison:
1. `cirq.channel_matrix`
1. `cirq.natural_representation`
1. `cirq.watrous`
1. `cirq.liouville`
1. `cirq.liouville_matrix`
1. `cirq.liouville_superoperator`
1. `cirq.superoperator`
1. `cirq.superoperator_matrix`

The list is now probably long enough to comme

[2021-07-02 13:32] #4087 closed

[2021-07-02 15:06] 95-martin-orion commented on #4263
Frankly, I don't think `test_clifford_circuit_2` is a valid test. There's no guarantee that `qubits[0]` will be put into a superposition of |0) and |1) by applying random gates to qubits; in fact, the chance of this happening is relatively small. Thus, the check at the end (20% < p(`|0)`) < 80%) is not relevant outside of the chosen simulation seed, as you observed.

(Note that `test_clifford_circ

[2021-07-02 15:27] 95-martin-orion commented on #4276
Cirq's devsite doesn't rely on Sphinx, so I'm not sure whether we want to restrict our docstrings to Sphinx format. Is there a way to silence these warnings in your environment?

Otherwise, to enforce Sphinx formatting you would need to modify `check/format-incremental` to verify Sphinx format in default mode, or auto-format if the `--apply` flag is provided. This is what allows us to enforce othe

[2021-07-02 15:48] #882 closed

[2021-07-02 18:47] AnimeshSinha1309 commented on #4260
Can you please give an example of such boilerplate code, I want to pick up this issue, but I am new and not sure of what tutorial exactly is being talked about.

[2021-07-02 19:38] mpharrigan commented on #4260
e.g. cell 3 of https://github.com/quantumlib/Cirq/blob/master/docs/tutorials/google/floquet_calibration_example.ipynb

[2021-07-02 22:43] balopat opened #4283 "Aligning 3D scenes with visible pixels"
IIUC, the size of the sphere could be radius 1, but will be various sizes on the screen depending on the distance of the camera. In the DOM, it's common to align on 'pixels' as the absolute unit of distance on the screen, and I think that makes sense for the radius here. WDYT?

[Here](https://discourse.threejs.org/t/functions-to-calculate-the-visible-width-height-at-a-given-z-depth-from-a-perspect

[2021-07-02 22:47] AnimeshSinha1309 commented on #4260
[code]

Are these the tasks I am supposed to perform?
1. Make a function in the form of the prototype above
2. Add it to some file, presumably `cirq_google/engine/engine.py`
3. Remove all print statements in the body of the function, add logging if necessary, except for Google Colab authentication

Should the line-length be in the final return type, and are the rest of the steps correct?

[2021-07-04 19:59] thanacles commented on #3148
@balopat @zaqqwerty I feel like this issue is a duplicate of: https://github.com/quantumlib/Cirq/issues/3224 . Is there something I'm missing?

[2021-07-04 20:54] thanacles commented on #3169
@balopat @tanujkhattar It looks like the last PR for this was merged over 6 months ago.  Is there more work to do here?

[2021-07-04 22:21] thanacles commented on #3257
@balopat I can work on this.  Since it would be a breaking change, should we deprecate the stuff in study?  I imagine flatten_expressions would go in params.

[2021-07-05 03:44] AnimeshSinha1309 commented on #4260
I am facing the following issues in executing these plans, I have made a PR of my current state, could someone please let me know if I am on the right track and how to resolve these two issue? Thanks.

[2021-07-05 14:06] tanujkhattar opened #4287 "MergeInteractions optimizer doesn't behave well with TaggedOperations"
### Description of the issue
`MergeInteractions` checks for `isinstance(op, GateOperation)` if `allowe_partial_czs = False` and hence it doesn't behave well with `TaggedOperations`. See the example below.

### How to reproduce the issue

[code]
[code]

### Long Term Solution [needs discussion]
- We should seriously work towards `cirq.match(op, GateType)`(#2536)  and replace all `isinstance()` chec

[2021-07-06 02:26] #4287 closed

[2021-07-06 04:59] tanujkhattar commented on #2536
### Description
`cirq.match(to_match, match_against)`
- `to_match` can be an _instance_ of
  - `Gate` class
  -  Different operation classes with an underlying `gate` instance, eg: `GateOperation`, `TaggedOperation`, `ControlledOperation`, `ParallelGateOperation`.
- `match_against` can be
  - instance of a Gate Type (eg: `cirq.X`)
  - a Gate type (eg: `cirq.XPowGate`, `cirq.ControlledGate` etc.)

[2021-07-06 11:02] tanujkhattar commented on #4244
The main idea behind this request is that we should fix the type annotation from `float` to `Union[float, sympy.Basic]` (i.e. `TParamVal`) wherever the function _**can actually accept symbols**_ but the type annotation is incorrect.  Given this request, I propose we
- Try to figure out why tools like `mypy` don't already detect the places where type annotation is wrong? (eg: not enough tests cover

[2021-07-06 22:04] vtomole commented on #4275
Related: https://github.com/quantumlib/Cirq/issues/1161

[2021-07-07 07:41] mpharrigan commented on #3148
Sure, closing as duplicate

[2021-07-07 07:41] #3148 closed

[2021-07-07 15:25] balopat opened #4291 "cirq-aqt not installed warning on documentation website"
**Description of the issue**

https://quantumai.google/cirq/noise

![image](https://user-images.githubusercontent.com/635073/124786690-eb4e0c00-df15-11eb-9a30-2c251cc8587f.png)

Related to #4106.

[2021-07-07 16:08] daxfohl opened #4292 "Density matrix factoring incorrect"
**Description of the issue**
Ref conversation on #4100
**How to reproduce the issue**

[code]

<details>

put long logs in details blocks *like this*

</details>

**Cirq version**
You can get the cirq version by printing `cirq.__version__`. From the command line:

[code]

[2021-07-07 16:52] maffoo commented on #4276
I'm guessing the underlying issue here is that the `optimization_at` docstring contains a code snippet with a hanging indent:
[code]
If there's a way to actually mark this as code (or pre-formatted text) instead of just regular text, I bet that would fix it. As @95-martin-orion said we would need to mark this in a way that our devsite doc tooling understands; whether that would work for sphinx as

[2021-07-07 17:40] balopat opened #4293 "npm issues on PRs"
**Description of the issue**

I saw this on two PRs today:

https://github.com/quantumlib/Cirq/runs/3011265236
https://github.com/quantumlib/Cirq/pull/4004/checks?check_run_id=3011531826

[code]

[2021-07-07 17:43] balopat commented on #4293
It is probably related to https://github.com/actions/setup-node/issues/268

[2021-07-07 19:22] #4083 closed

[2021-07-07 19:22] #4225 closed

[2021-07-07 20:38] #3769 closed

[2021-07-07 20:38] #3772 closed

[2021-07-07 20:44] pgoiporia commented on #4253
Hey! I'm new to cirq and I want to create/use a NoOptimizeTag. How should I do it? More specifically, I was hoping to create a cirq equivalent of barriers in qiskit/openqasm, so would there be a way to tag a group of successive operations with a NoOptimizeTag? Thank you!

[2021-07-07 23:20] pgoiporia commented on #4253
Created a draft pull request for this issue. Created a nocompile tag and edited the drop_negligible optimizer so as to ignore any gate that has a nocompile tag to it. Need to create test cases for the drop_negligible. Will continue editing the other optimizers as well and create tests for them.

[2021-07-08 13:30] 95-martin-orion commented on #3708
This is best described as a component of #3868 - support for multiple measurement-result formats will narrow the gap between the Sampler and Simulator APIs.

[2021-07-08 13:30] 95-martin-orion commented on #3708
Duplicate of #3868

[2021-07-08 13:53] #3492 closed

[2021-07-08 14:02] 95-martin-orion commented on #4280
How does this interact with Google-internal usage of Cirq, which is (or will soon be) required for QCS? Presumably, the internal code relies on internal Bazel for building Cirq - we should make sure that those definitions are preserved (even if they move to internal-only).

We can discuss the internal Cirq requirements offline if you have questions.

[2021-07-08 14:35] balopat commented on #4280
My understanding is that it does not interact with it at all. The BUILD/WORKSPACE files are all excluded in the copybara imports and controlled internally for blaze (otherwise internal targets would need to be open sourced, which would not be too meaningful).

[2021-07-08 14:54] 95-martin-orion opened #4299 "Discuss: Use `wrapt` for Operation wrapper types"
**Is your design idea/issue related to a use case or problem? Please describe.**

The fact that the following assertion fails is a continuous source of issues in Cirq:
[code]
Some workarounds have been attempted (e.g. `op.untagged`) but they clutter the `Operation` class and ultimately don't solve the core problem, as TaggedOperation is not the only Operation-wrapping class. ControlledOperation an

[2021-07-08 15:28] balopat commented on #4299
Nice, this follow the kind of mixin behavior I always thought tags should behave with - i.e. keep the original type but also get the tag. I like that wrapt has 94% coverage, and the maintainer seems knowledgable. 1.5k stars are a relatively good sign of usage / popularity in this space.

However, bringing in a library for this kind of core behavior always irks me a little bit, there is always main

[2021-07-08 15:53] maffoo commented on #4299
+1 to what @balopat said. I'd hesitate to bring in any dependencies that muck around with the object model of python itself, such as trying to change how `isinstance` works. I think moving tags into `Operation` itself would make more sense in this case. I'm not sure I fully understand the issues with `ControlledOperation`, but it seems to me that you'd want `isinstance(ControlledOperation([q], Foo

[2021-07-08 19:06] #4292 closed

[2021-07-08 19:08] mpharrigan commented on #4292
For the historical record, can you link to the actual conversation of note and/or summarize the issue in the original post here

[2021-07-08 19:14] 95-martin-orion commented on #4292
Conversation is in [this comment](https://github.com/quantumlib/Cirq/pull/4100#issuecomment-875169467) and below. Brief summary: density matrix factorization was relying on state vector factorization, which attempted to normalize the factored state. This produced density matrices with trace != 1 when split-state simulation was enabled.

[2021-07-08 20:05] tanujkhattar commented on #4299
+1 to what @maffo said. I believe that instances of the wrapper class (eg: `TaggedOperation`)  _should_ return `False` when checked against the untagged class type because of the way python's object model works. Also, in most classes, the wrapper classes fundamentally change some behavior of the operation -- `TaggedOperation` can change the decomposition behavior, `ControlledOperation` change the

[2021-07-09 02:38] #4280 closed

[2021-07-09 11:53] tanujkhattar commented on #2142
FYI, `cirq.Z(a).controlled_by(b)` does not return `CZ(b, a)` after this change. It still returns a `ControlledOperation`.  This is because only specialization on gates was added but `GateOperation`s `controlled_by` was not overridden to first call the underlying gate's `gate.controlled` and then construct the operation. See #4172 for more details.

[2021-07-09 16:41] 95-martin-orion opened #4304 "Prevent deserialization of infinitely-recursive CircuitOperations"
**Is your feature request related to a use case or problem? Please describe.**
Immutability of `CircuitOperation`s prevents users from accidentally defining self-referencing `CircuitOperation`s, but it is still possible to intentionally construct such an operation.

**Describe the solution you'd like**
Before we enable the use of `CircuitOperation`s in QCS, we must block infinitely-recursive `Circ

[2021-07-09 16:56] 95-martin-orion commented on #4304
Part of #3634.

[2021-07-09 17:47] cduck commented on #4172
I have a related point that may or may not make sense to be part of #4167.

I consider GlobalPhase to be part of the C*Z family and would expect `cirq.GlobalPhaseOperation(exp(1j*pi*ht).controlled_by(q)` to be equal to `cirq.Z(q)**ht`.  Should `GlobalPhaseOperation` also be special-cased?

[code]

[2021-07-09 18:51] balopat commented on #3257
Thank you @thanacles - good question....
We might have to do this in two steps:

1. rename `study` -> `params`:
    a. add `deprecated_submodule` (see other examples in `cirq-core/cirq/__init__.py`) for it, with deprecation deadline 0.13.
    b. Release v0.12, remove the deprecated submodule reference in v0.13.dev
3. move results out of `params`:
    a.  create `results` package and point deprecat

[2021-07-09 19:30] balopat opened #4305 "Automerge failing on bogus missing checks"
**Description of the issue**

For example: https://github.com/quantumlib/Cirq/pull/4267#issuecomment-877402508

[2021-07-09 22:08] thanacles commented on #3388
OK, an incremental linter was too intrusive as it requires a significant refactor for even individual files.  I vote for @balopat 's Idea to  use `# pylint: disable=missing-raises-doc` for all the cases where the refactor is not trivial.

[2021-07-09 22:11] balopat commented on #3388
Sounds good to me! :) Thank you for bearing with us through this!

[2021-07-09 23:11] #4305 closed

[2021-07-09 23:15] balopat opened #4310 "Automerge bot improvements: tests and paging"
**Description of the issue**

There are a bunch of Github queries in dev_tools/auto_merge.py that are supposed to be paged - they haven't been failing as the PRs themselves are typically small, but weird behavior happens when the number of records is larger than the per_page number. We introduced a while ago `get_all` which does the paging automatically, we should introduce that to all of the quer

[2021-07-11 20:56] thanacles commented on #3144
@mpharrigan  Correct me if I'm wrong.  I feel like we should be careful what assumptions being made by merge_single_qubit_gates_into_phased_x_z.  What should be the outcome of:
[code]
[code]
Personally, I can see some people wanting it to be flattened to 1 moment, and some people wanting the q1 operation to be in a different moment as the q0 operation.  Do you disagree?  Also, it looks like there

[2021-07-12 16:11] 95-martin-orion commented on #4299
Thanks everyone for your analyses! The concerns raised are valid, and given that the core purpose of this request is to simplify identification of operation types I think a `cirq.match` function would suffice.

[2021-07-12 16:11] #4299 closed

[2021-07-13 09:35] shivanth commented on #4270
Adding QubitOrder for Paulistring [initialiser](https://github.com/quantumlib/Cirq/blob/c28646feea44b2ea236f254b2b8416acaa74e539/cirq-core/cirq/ops/pauli_string.py#L114) is possible. This variable will have to be updated each time an operation (`*`  in the above case) is performed on the gate.
This will also need refactor to `*mul*`  helpers in PauliString.

[2021-07-13 14:49] #4304 closed

[2021-07-13 22:54] mpharrigan opened #4318 "JSON backwards compatibility has been flushed"
https://github.com/quantumlib/Cirq/pull/4099 cleared some deprecated classes. Serialized files have a much longer lifespan than code. It was always the intent to keep much longer-term backwards compatibility for data files, especially experimental results which likely have `cirq.TrialResult` classes.

1) the old TrialResult.json should be kept around like the "inward" files
2) The resolver should

[2021-07-13 22:57] dstrain115 commented on #4318
Oops, let's fix this ASAP.

[2021-07-14 16:57] mpharrigan opened #4321 "JSON backwards compatibility policy and tooling."
Inspired by #4318 @balopat wants a policy on how we support loading json data from deprecated or deleted classes. We expect data to live statically longer than actively maintained code bases.

Similarly, we should revisit our tooling support for maintaining JSON backwards compatibility. Currently, if the structure of a class is changed, the contributor should rename the existing test data to `name

[2021-07-14 16:58] mpharrigan commented on #4321
My thoughts: I can imagine a case where an under-used hard-to-maintain-compatibility old class could lose backwards-compatible-loadability eventually, but the goal should be keep things around where possible. Especially with a results class.

It's annoying when reviewing a PR that renames the existing json test data to _inward and adds a new suffixless version because it's unclear from the diff if

[2021-07-14 17:42] Strilanc commented on #4321
Breaking stored experimental data is 100% unacceptable. We must never *ever* break backwards compatibility with serialized data. That being said, the serialized data may get parsed into different equivalent objects (e.g. we may replace stored OldLameMeasurementGate with in-memory FancyNewMeasurementGate, but the resulting circuit must behave identically).

We can add more json test data, but we mu

[2021-07-14 17:58] balopat commented on #4321
In a previous project of mine we implemented versioning for configuration data, and we implemented unit tested migration scripts between each version increments. As truly breaking changes were rare, this helped enabling 2-3 year old versions of configurations to be seamlessly migrated to the latest version. This upgrade could happen on the fly as well by default.

With the assumption that truly br

[2021-07-14 22:40] mpharrigan commented on #4321
The way the resolver dictionary is set up, the value is effectively the on-the-fly migration you describe. It just so happens it usually is a (renamed) constructor

[2021-07-14 22:41] vtomole opened #4322 "Add `cirq.state_vector_to_probabilities`"
**Is your feature request related to a use case or problem? Please describe.**
I need a function that takes in a `state_vector` and returns the probabilities of it's amplitudes.

**Describe the solution you'd like**
Add a `def state_vector_to_probabilities()` to
https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/value/probability.py

**[optional] Describe alternatives/workarounds you've

[2021-07-15 00:27] mpharrigan commented on #4106
This is now a problem with aqt and ionq

[2021-07-15 00:30] mpharrigan commented on #4106
Ideas:

1) Don't print the full exception, which is long and says its an Error when it's actually a warning. I was legitimately surprised to see that `import cirq` had actually succeeded since I saw so many exceptions in red text

2) Upon import error, define the subpackages to a shim class that will throw a meaningful exception when you try to use it

[code]

[2021-07-15 15:14] balopat commented on #4106
1. I created a better error message - it does print the whole exception though for prosperity, otherwise we won't surface the true error.
2. I followed this idea of "deferred/lazy error throwing" though I was skeptical first, and came up with #4324 - I think it works out pretty well in the end.

[2021-07-15 15:29] balopat commented on #4321
Yes, exactly. However,

-  it is limited in expressiveness, can't handle for example field changes or multiple renames
-  it is limited in explicitness - it's a resolver - there is no mentioning of "migration", when things change, it is hard to know what to do or what to look for, the code organization should help in that

[2021-07-15 16:20] Patil2099 commented on #4322
I would love to take this up.

[2021-07-15 16:31] mpharrigan commented on #4321
If you define `_from_json_dict_` on the class, you can have ultimate control over expressiveness. It will just pass the raw json dict to it and you can construct and return whatever you want from it. I will concede it could be more explicit that a migration is happening. A combination of 1) noticing that the string key in the resolver dict does not match the class name and 2) comments in the `_fro

[2021-07-15 18:30] viathor commented on #4119
From cirq meeting: cirq's general philosophy is to maintain close correspondence with what is happening on the hardware. From this perspective, the preparation that takes an arbitrary state, as proposed above, is too general. That said, as @dabacon pointed out, some platforms do offer preparations other than |0⟩, some of which are quite powerful (e.g. entangled photon pair preparation using BBO cr

[2021-07-15 19:15] #4318 closed

[2021-07-15 20:14] mpharrigan opened #4327 "ParamResolver is hashable but mutable"
This is bad!

[code]

[2021-07-15 20:36] mpharrigan commented on #4141
Removing bug label, since nothing is truly broken.

Has this been fixed in #4140?

[2021-07-15 20:38] mpharrigan commented on #3767
Changing to kind/health instead of kind/bug-report since nothing is currently broken

[2021-07-15 20:49] #4106 closed

[2021-07-16 00:23] smitsanghavi commented on #4141
Yes, it has been fixed in #4140. Closing it now.

[2021-07-16 00:23] #4141 closed

[2021-07-16 14:00] balopat commented on #4321
Great point! That can work in all the cases where you keep evolving the same class - which should be 99.99% of the cases. If a class is refactored into two classes though, then we might still need an external migration piece.

[2021-07-16 14:12] balopat commented on #4291
The error is still on the notebook after last night's publishing, so reopening.

[2021-07-16 17:45] balopat opened #4328 "`cirq.X**1` should be `_PauliX` instead of `XPowGate`"
**Description of the issue**

As @ybc1991 pointed out - the type of `cirq.X**1` should be `_PauliX` instead of `XPowGate`. Context: https://github.com/quantumlib/Cirq/pull/4165/files#r646844399.

Discussed on Cirq Cynque on June 9th 2021:
- We should just fix this
- That would make the output type value-dependent. -- that is true, but it should be fine this direction, because _PauliX is a subclass

[2021-07-16 18:37] balopat commented on #4327
X-ref https://github.com/quantumlib/Cirq/issues/1837 - maybe we should just deprecate it?

[2021-07-18 20:28] MichaelBroughton opened #4332 "CircuitOperation should not rely on the hash of a `ParamResolver`"
**Description of the issue**
If we want to get closer to resolving #1837 and given #4329 , we might want to try and move `CircuitOperation`s hash function off of relying on `ParamResolver`s hash function.
Things like:
[code]
make me a little nervous. What're your thoughts here @95-martin-orion ?

[2021-07-19 13:53] 95-martin-orion commented on #1837
Update from 2021: this is no longer desirable IMO. The `ParamResolver` class includes a memoization scheme for rapid resolution of previously-encountered mappings, which would not be possible if functionality were moved to `cirq.resolve_parameters`.

[2021-07-19 14:00] 95-martin-orion commented on #4332
Added a comment on #1837. What this comes down to is a design decision between high-performance resolution of params and strict adherence to the "don't hash mutable objects" rule: removing the hash (or somehow making `ParamResolver` immutable) might be _possible_, but it will almost certainly slow down our parameter-parsing code.

In my opinion, performance is the more important consideration; if

[2021-07-19 14:02] 95-martin-orion commented on #4327
Added a comment there - IMO, that issue should be closed as obsolete. `ParamResolver` now provides a nontrivial speedup over what is possible with function-based parameter resolution by memoizing complicated parameter mappings.

[2021-07-19 15:52] mpharrigan commented on #4327
If we deprecate it, should we have a hashable version? Presumably hash support was added for a reason (?)

[2021-07-19 16:29] mpharrigan commented on #4321
Yes that's true. Just so we're clear about what the current situation is: in the split-a-class migration you'd choose one of the new classes to be the chosen one in the resolver dictionary and its `_from_json_dict_` classmethod would return the appropriate class, which may not necessarily be the class of the classmethod (if that makes sense), which is legal but probably discouraged. Or it would re

[2021-07-19 16:51] 95-martin-orion commented on #4327
The main use case I'm aware of for hashing `ParamResolver` is to support hashable `CircuitOperation`s, but the behavior is as old as the class itself (#96).

[2021-07-20 00:01] mpharrigan opened #4337 "random_quantum_circuit_generation potential speed improvement"
As someone who's in the habit of creating a bunch of random quantum circuits, I noticed that it's pretty slow. I ran `snakeviz` on the creation of a lot of random circuits. The total cumulative time is 7.9s and 3.28s was spent in line 658. With some digging: it looks like the while loop to exclude consecutive single-qubit gates is big slow. In particular, it spends a decent amount of time canonica

[2021-07-20 00:02] smitsanghavi commented on #4124
Reopening for discussion on what is the desired behavior here.

If there was no explicitly specified name for the measurement, should the final `Results` object be keyed by the qubits that were measured or the qubits that were originally used to create the operation?

[2021-07-20 00:08] tanujkhattar opened #4338 "Can we use CircuitOperations to replace composite gates like QFT, SwapNetwork etc. ?"
Gate Decomposition relationships are confusing (#930) and needs to be organized (#3242). The following diagram, generated via [Visualizing Gate Relationships Colab](https://colab.sandbox.google.com/drive/1apQpYG5bY_qnuVsIJXLl48gxvUdE9JLz), describes (best-effort) the current decompose relationships between gates.

![image](https://user-images.githubusercontent.com/7863287/126242413-907a0251-b127-4

[2021-07-20 00:10] #4048 closed

[2021-07-20 00:10] #4045 closed

[2021-07-20 00:29] rmlarose opened #4339 "Quil output with writable classical memory"
**Is your feature request related to a use case or problem? Please describe.**

In `QuilOutput`, the [measurement id convention](https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/circuits/quil_output.py#L128-L138) returns PyQuil memory declarations that are read-only. From the [PyQuil docs](https://pyquil-docs.rigetti.com/en/v3.0.0/basics.html#qpu-allowable-quil):

[code]

This means t

[2021-07-20 06:09] mavzolej commented on #4048
Sorry about abandoning the discussion. The main value of arbitrary state preparation algorithms is that they are useful for benchmarking and evaluating variational algorithms, as they give an absolute lower bound on the number of gates required for connecting the reference state and the final minimization state (of course, under the assumption one uses exponentially many parameters, and wants to f

[2021-07-20 13:09] 95-martin-orion commented on #4124
From the discussion on this topic, my takeaway was that measurement keys should be defined at construction time so that it's easy to reference them later on (i.e. without having to manually parse through the circuit). Key-renaming in `CircuitOperation`s runs somewhat contrary to this, but depending on the outcome of #4274 that contradiction may also be removed.

[2021-07-20 13:24] 95-martin-orion commented on #4338
I wholeheartedly support this change. `CircuitOperation` provides a reliable structure for defining composite gates, and once #4336 is submitted it will have a much lower serialization overhead than existing composite gates. In addition, redefining these operations as `CircuitOperation`s may allow us to refine the list of `Operation` subtypes, which would help with issues like #2536 (`CircuitOpera

[2021-07-20 16:36] #4328 closed

[2021-07-20 17:02] maffoo commented on #4332
+1 for optimizing for performance here. We can put some guardrails around `ParamResolver`, but it's almost impossible to make anything in python _truly_ immutable, so we are probably always going to have to live with problems like this at some level.

[2021-07-20 17:07] maffoo commented on #1837
+1 to what @95-martin-orion said. Also, having our own wrapper around `Dict` gives us a place to document that `ParamResolver` is supposed to be immutable (or to enforce immutability in some way _a la_ #4329.

[2021-07-20 20:42] MichaelBroughton commented on #4332
Sorry I was more thinking along the lines of "can we make CircuitOperation no longer rely on the hashing ability of ParamResolver". Not nescessarily by removing ParamResolvers ability to hash, but maybe just by removing the call to `hash(paramResolver instance)` the in the hash function of CircuitOperation ? If it's easy enough It'd mean users have one less way to potentially go astray.

[2021-07-20 21:33] 95-martin-orion commented on #4332
Probably not? `ParamResolver` is how `CircuitOperation` contains its parameter mappings, so the only ways I can see us getting rid of this dependency are:

1) Remove parameter mapping from `CircuitOperation`
2) Replace `ParamResolver` with a hashable mapping structure (tuple of tuples?)
3) Remove it entirely, and decide we're okay with making meaningfully-distinct `CircuitOperation`s have the same

[2021-07-21 19:19] mpharrigan commented on #4337
I don't think this is skill-level/advanced. only normal cs skills required

[2021-07-21 20:42] melonwater211 commented on #4263
@95-martin-orion Thank you for the response. I agree: it does not seem like the test should use nondeterminism, especially since it appears that it may difficult to verify the correctness of the simulator's results if the input were a random circuit. The other `test_clifford_circuit` tests appear to have more robust methods of verifying correctness but using those methods may render `test_clifford

[2021-07-21 20:54] 95-martin-orion commented on #4263
This seems reasonable, although we should first confirm that the current circuit generates a Bell state (i.e. an equal superposition of |0) and |1)).

I'd prefer to keep the looser assertion on this, even though specifying a seed will enforce a specific result. The reason for this is that we want the test to capture our expectations: if the circuit produces a Bell state, measuring from it has a 50

[2021-07-21 21:10] daxfohl opened #4346 "np.prod(qid_shape) can overflow"
**Description of the issue**

Now with state separation, large number of qubits are possible in simulators. However some checks use `np.prod(qid_shape)`, which can now overflow.

**How to reproduce the issue**

Run a density matrix simulator on an empty circuit with 59 qubits (on Windows; varies by environment). This should complete, but overflow causes an error when validating the initial state:

[2021-07-21 21:23] daxfohl commented on #4346
Note I haven't found anywhere yet that this is an *urgent* problem. So far the only times I've encountered it are when I'm testing *without* the `split_untangled_states` flag. And the only problem it actually causes is that it throws the overflow error before throwing the out-of-memory error my test was expecting.

[2021-07-22 14:25] Strilanc opened #4348 "Noisy Measurement"
One of the most noisy operations in superconducting machines is measurement. It's a bit ironic that we don't actually have a built-in operation for it!

I think we should define a `NoisyMeasurementGate` that has a confusion matrix defined. Then it should provide efficient implementations for each of the simulators.

It might be reasonable to extract the notion of applying a confusion matrix to a c

[2021-07-22 15:30] balopat opened #4349 "Handle unknown unitary operations in quirk export"
**Is your feature request related to a use case or problem? Please describe.**

I was trying to export a circuit that was compiled to a sqrtISWAP gateset to inspect in quirk for a presentation. However the export failed.

[code]

**Describe the solution you'd like**

It would be nice if the quirk exporter could handle unknown gates automatically, quirk does have the ability to create custom gates

[2021-07-22 19:15] mpharrigan opened #4350 "cirq.Sampler `program` argument should be `AbstractCircuit`"
I'm getting type errors in pycharm when I'm trying to run a FrozenCircuit. I think there should be no downside to switching the type annotation to AbstractCircuit, of which both Circuit and FrozenCircuit derive?

[2021-07-22 20:14] kharazity opened #4351 "Accessing individual qubits of a lineQubit object"
As a relatively new user to Cirq, accessing individual qubits from a `LineQubit` object feels cumbersome. From what I understand, you can either put them all in a list method (as in the `range()` method) and access them from the list. Or you can explicitly set variables `q0,...,qN = LineQubit(N+1)`. I think it would be a nice feature to be able to access individual qubits from a `LineQubit` object

[2021-07-22 20:22] maffoo commented on #4350
Agreed; there are probably quite a lot of places where we could change `Circuit` type annotations to `AbstractCircuit` instead, but Sampler is certainly one.

[2021-07-22 20:27] maffoo commented on #4351
A `LineQubit` is a single qubit. When you say `LineQubit(n)` it creates one qubit id object which refers to the nth qubit in some line, and if you try to unpack this into separate variables it will fail:
[code]
The `range` method is actually a static method defined on the `LineQubit` class, so while python makes it possible to call it on an instance it is intended to be called directly on the clas

[2021-07-22 20:32] kharazity commented on #4351
Ahh, thanks. Dumb mistake.

[2021-07-22 20:32] #4351 closed

[2021-07-22 23:47] mpharrigan commented on #3144
I don't 100% understand your example. That is not the circuit you get if you run the code you provided.

If you passed in moments to get the diagram you put, then I agree there's some ambiguity. I would say the q1 would be in a different moment.

In my use case, you must imagine that the circuit fragment presented is part of a larger circuit. Doing a blanket AlignLeft could misalign other things w

[2021-07-23 22:56] smitsanghavi commented on #4274
Classical control flow (#3232  and #3234) will add more complexity here. I was going through the `repetition_id` RFC and noticed that I had considered the option of [removing the uniqueness constraint](https://docs.google.com/document/d/1_dY92lTKumaxH4wRdyabqQz_-i_xupNVwMzbrz__1U8/edit?resourcekey=0-bcAZJNPDvnmthf5Y8VFVZQ#heading=h.a6o6mqe06edr) instead and noted an important downside there:

We m

[2021-07-24 22:08] thanacles commented on #3144
You are right.  I (mistakenly) assumed that the operators would get wrapped in moments, I should have made sure before commenting.  That said, your assumption of what I meant was correct.

Maybe the ambiguity can be removed by adding an optional boolean parameter specifying to merge right instead of left.  What do you think?

[2021-07-25 15:10] yurivict opened #4353 "'setup.py install' doesn't install anything"
**Description of the issue**
[code]
$ make makeplist
/you/have/to/check/what/makeplist/gives/you
%%PYTHON_SITELIBDIR%%/cirq-0.11.0-py%%PYTHON_VER%%.egg-info/PKG-INFO
%%PYTHON_SITELIBDIR%%/cirq-0.11.0-py%%PYTHON_VER%%.egg-info/SOURCES.txt
%%PYTHON_SITELIBDIR%%/cirq-0.11.0-py%%PYTHON_VER%%.egg-info/dependency_links.txt
%%PYTHON_SITELIBDIR%%/cirq-0.11.0-py%%PYTHON_VER%%.egg-info/requires.txt
%%PYTHON

[2021-07-26 13:48] 95-martin-orion commented on #3634
As described in #4336, this issue is now effectively resolved; however, additional proto optimizations are still possible.

[2021-07-26 20:12] balopat commented on #4353
Thanks for opening - note, we switched to a monorepo structure:

./setup.py - defines the cirq metapackage, which is an empty package that defines the dependency list for all the cirq modules
./cirq-core/setup.py - cirq core
./cirq-pasqal/setup.py - cirq-pasqal
...

etc.

You have to decide which one do you want to install.

[2021-07-26 20:31] yurivict commented on #4353
Please note that GitHub tarball for ```0.11.1``` doesn't contain ```cirq-pasqal```, ```cirq-ionq```, etc.

[2021-07-27 07:14] tanujkhattar opened #4358 "Create ParallelGate which should be the underlying gate for ParallelGateOperation"
**Description of the issue**
Cirq operations apply an underlying effect (gate, circuit etc.) on a given set of qubits. We often assume that the unitary of an operation is the same as it's underlying gate / circuit. However, this assumption breaks for `ParallelGateOperation`s, which apply an underlying single qubit gate (eg: cirq.X) on a `N` different qubits.

To fix this, we should create a new ga

[2021-07-27 13:45] maffoo commented on #4358
If we have `ParallelGate`, can we drop `ParallelGateOperation`? I would think `ParallelGate` that specifies the number of copies it contains (which is necessary to know the unitary) can just use a plain `Operation` when applying it to qubits.

[2021-07-27 14:17] balopat commented on #4353
@yurivict, yes because it was a patch release on top of 0.11.0 which only had cirq-google and cirq-core. We cherry-picked a single commit to fix the JSON serialization backwards compatibility issue with cirq.TrialResult. The extraction of cirq-pasqal, ionq, etc. were done after 0.11.0 on the `master` branch which we will cut for the 0.12.0 release in a couple of weeks.

[2021-07-27 14:30] balopat opened #4359 "cirq_google.get_engine_device('rainbow') is missing connections in the device diagram"
**How to reproduce the issue**

[code]

<details>

[code]

</details>

**Cirq version**

v0.12.0.dev

[2021-07-27 14:42] daxfohl opened #4360 "Fix degenerate perf for early measurements in sim runs"
**Is your feature request related to a use case or problem? Please describe.**

With unentangled states split, it should be possible to run simulations of the following sort efficiently:

[code]

Since there are never more than two entangled qubits at a time, this should run linear in the number of qubits. (And it does in `simulate_moment_steps`). However, in `run`, there is a degenerate conflict

[2021-07-27 17:12] yurivict commented on #4353
Ok, thanks!

[2021-07-27 17:12] #4353 closed

[2021-07-28 04:28] yurivict opened #4361 "cirq-pasqal/requirements.txt isn't filled"
**Description of the issue**

cirq-pasqal imports numpy, etc but it's requirements.txt is empty.

https://github.com/quantumlib/Cirq/blob/master/cirq-pasqal/requirements.txt

[2021-07-28 13:31] balopat commented on #4361
cirq-pasqal depends on cirq-core which depends on numpy, thus transitively imports it.

[2021-07-28 16:25] yurivict commented on #4361
```cirq-core``` isn't in ```requirements.txt``` either.

[2021-07-28 17:53] tanujkhattar opened #4362 "Implement randomized compiler based on NuOps and bring GateTabulation to Cirq core"
**Is your feature request related to a use case or problem? Please describe.**
Randomized compilation to arbitrary target gatesets is a useful compilation primitive for the NISQ era. Currently, cirq only has GateTabulation method in cirq_google which supports approximate compilation to arbitrary target gatesets. However, being in cirq_google, GateTabulation is not very easily discoverable.

There

[2021-07-28 18:34] tonybruguier commented on #4338
#4309 would be affected too. I have no strong opinion on the proposal but will follow whatever is decided. Just adding the note for context.

[2021-07-28 18:36] tanujkhattar commented on #4338
Discussion on Cirq Sync:
- We need to deprecate the objects gratefully and rewrite tutorials to encourage our users to use `CircuitOperations`. We should also formalize whether we should create new `CircuitOperations` by subclassing or have helper functions return new `CircuitOperations`.
- Also, it'll become unclear which operations are composite in future so we need to formulate.
- Optimizations

[2021-07-28 18:41] mpharrigan commented on #4346
@daxfohl says the solution is to use python bigints

[2021-07-28 18:49] mpharrigan commented on #4322
Also go through and see where in Cirq probabilities are being used and replace with this function

[2021-07-28 23:29] #4346 closed

[2021-07-28 23:40] daxfohl commented on #3234
@95-martin-orion @smitsanghavi @MichaelBroughton @balopat Starting a draft here: https://tinyurl.com/cirq-classical-control

[2021-07-29 21:14] balopat commented on #4361
I thought it would be in setup.py - but it is not, so this is a bug indeed, I will fix it soon!

[2021-07-29 22:06] daxfohl opened #4368 "Simulators preemptively entangle all qubits in any CircuitOperation"
**Description of the issue**

When simulating a CircuitOperation, simulators preemptively entangle all the qubits there and leave them entangled afterwards. So even if a circuit operation does not have any entangling operations inside it, the simulators will leave the whole thing in an entangled state.

**How to fix the issue**

I think this can be fixed by adding a `CircuitOperation._act_on_` tha

[2021-07-30 22:00] balopat commented on #4030
I have no better idea than your fix either. If feel like this is a highly special case where numpy is kind of breaking the iterable contract by having `__iter__` on a class which can be initialized to be non-iterable...
I say let's special case it to np.ndarray, ndim==0. Alternatively we could catch TypeError, but I prefer the explicit special logic!

[2021-07-30 23:28] mpharrigan commented on #4030
We could [EAFP](https://docs.python.org/3/glossary.html#term-eafp) and try/catch Type error around the any()

[2021-08-01 16:42] banrovegrie commented on #4350
Hey, I am new to Cirq. I just created the above PR for the issue, could you please check?

[2021-08-02 22:28] mpharrigan opened #4376 "JSON serialization docs are out of date"
https://quantumai.google/cirq/dev/serialization is out of date

 - paths are wrong
 - resolver has been refactored into modules
 - I can't find where the list of "this shouldn't be serializable" has gone
 - list of modules available during repr evaluation is out of date

[2021-08-02 22:47] mpharrigan opened #4377 "JSON serialization: namespaces for cirq_type"
Right now in cirq and all modules in the main cirq repo, the `cirq_type` field used in json serialization is the unqualified object name.  This has not caused any naming collisions yet.

I had always imagined that different packages would have a namespaced cirq_type. For example: `cirq_google.PhysicalZTag` or `cirq.google.PhysicalZTag` instead of `PhysicalZTag`.

In fact, `cirq.obj_to_dict_helper`

[2021-08-03 13:30] ggardet opened #4379 "Test `test_hilbert_schmidt_inner_product_is_positive_definite[m6]` fails on aarch64 and ppc64le"
**Description of the issue**
Test `test_hilbert_schmidt_inner_product_is_positive_definite[m6]` fails on openSUSE Tumbleweed aarch64/ppc64le

[code]

**How to reproduce the issue**
Run test suite on aarch64 or ppc64le.

**Cirq version**
0.9.1

[2021-08-03 15:07] fmozafari commented on #4119
Hi, I thought about adding algorithms for quantum state preparation. Seems you don't require general algorithms for preparing arbitrary quantum states. On the other hand, most of them require an exponential number of elementary quantum gates after decomposition. So, what is your opinion about adding efficient algorithms for preparing specific and important quantum states? such as GHZ state, W stat

[2021-08-03 17:40] prathameshbhole commented on #4322
Is someone currently working on this issue because the corresponding pull request failed tests and is not updated since past 14 days. I think there is no need to validate the probability if we normalize the state_vector first.

[2021-08-03 17:58] vtomole commented on #4322
Hey @prathameshbhole, I've pinged @Patil2099.

[2021-08-03 19:49] balopat commented on #4376
That's my bad - I should rework the docs after all the rework.

[2021-08-03 22:04] 95-martin-orion commented on #3634
Due to backwards-compatibility issues with QCS, this was rolled back. A roll-foward is under development.

[2021-08-04 16:10] #3566 closed

[2021-08-04 16:21] 95-martin-orion commented on #3241
It's now possible to attach measurement keys to arbitrary channels and use them to capture the "selected" operator within that channel. However, channels with more than two operators may misbehave due to the expectation of boolean measurement results; additional work is required to make sure this works as expected.

[2021-08-04 18:58] maffoo opened #4383 "Add documentation about writing type annotations"
There was a question in cirq sync today about type annotations, which makes me think we should add some documentation about how we write type annotations in cirq. Some things to address:
- When to use a string in type annotations versus not.
- How to use `if TYPE_CHECKING`.
- When to use top-level `'cirq.Foo'` annotations versus a specific import from another module.

We might also want to investi

[2021-08-04 19:01] viathor commented on #4179
Vote results:

[code]

Will go with `cirq.superoperator`.

[2021-08-04 20:04] 95-martin-orion commented on #4030
I have mixed feelings about using EAFP (it could lead to hard-to-find performance hits, depending on implementation), but overall agree with the proposed solution. The intent of this code is to locate key-serializable objects (like `FrozenCircuit`) in iterables; anything that would never contain such an object can be skipped.

[2021-08-04 21:08] mpharrigan commented on #4114
Has this been done?

[2021-08-05 06:45] #4030 closed

[2021-08-05 07:32] mrwojtek commented on #4114
Done by @fedimser, pending verification.

[2021-08-06 00:00] ishmum123 commented on #3980
This has been idle for a while. Would you mind if I take a shot at it?

[2021-08-06 01:01] viathor commented on #4379
@ggardet Do you have more information about how the test fails?

Everyone else: Anyone's got access to the platform? I think you can run this to reproduce:

[code]

[2021-08-06 03:40] PoPaT1618 commented on #3980
Yes, please take it. I will be able to contribute to Cirq from the month of September.

[2021-08-06 06:50] ggardet commented on #4379
I forgot to add the log, sorry. I added it to the 1st comment now.

[2021-08-06 12:54] balopat opened #4388 "Test pre-release notebooks after pre-release in isolation"
**Description of the issue**

Our notebook test infra is pretty good but has one gap: pre-release notebooks are not tested in isolation, only on PRs against the given branch. This gap should be covered by a test that runs after a master commit triggered the pre-release to pypi, the new release is in the index and should cover all the notebooks that have pre-release cirq installed in them.

[2021-08-06 18:34] cduck opened #4390 "BooleanHamiltonian.with_qubits is broken"
**Description of the issue**
`with_qubits` is meant to return a new operation with its (ordered) qubits substituted with a new list of qubits.  `BooleanHamiltonian.with_qubits` casts its argument to `NamedQubit` and otherwise fails (throws `AttributeError`).

`BooleanHamiltonian.with_qubits` also assumes the names of the named qubits correspond to the names of the boolean variables.  This won't be

[2021-08-06 20:54] vtomole opened #4393 "Pass `--disallow-untyped-defs` flag to mypy."
[--disallow-untyped-defs](https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-disallow-untyped-defs)

[2021-08-07 22:35] cduck commented on #4390
Related to this, I would expect this identity to hold for any operation type but `BooleanHamiltonian` does not:
[code]

[2021-08-09 15:00] balopat opened #4394 "Make shell_tools smarter"
**Description of the issue**

There are two main issues with shell_tools:

1. The subprocess API got much better since python 3.7 - run_cmd and run_shell functionality could be simplified and aligned better with the new subprocess.run API (with capture_output=True).
2. There are Windows failures due to missing primitives. This comes up for example when creating a virtual env:

[code]

[2021-08-09 17:58] seunomonije opened #4395 "Fix Orthographic Camera for 3D circuit visualization tool"
**Description of the issue**
The orthographic camera cuts out parts of the circuit when displaying it. This feature was implemented in PR #4334.
![image](https://user-images.githubusercontent.com/17647506/128751688-88b032fd-c58c-4ae9-b817-f7a30fb2e383.png)

To solve this issue, we need to:
 - Calculate the bounding box of the circuit and adjust the left, right, top, bottom, near, and far frustum p

[2021-08-09 18:10] balopat commented on #4390
Thanks for opening this @cduck!
@tonybruguier can you have a look at this please?

[2021-08-09 18:15] tonybruguier commented on #4390
Ack

[2021-08-09 19:32] tonybruguier commented on #4390
Apologies for the mistake. I sent #4396 as a proposal for a fix.

@cduck I tried to look around what the exact definition should be, but I can of course change my code.

[2021-08-09 19:55] cduck commented on #4390
It looks like the [documentation](https://github.com/quantumlib/Cirq/blob/3810349a2e9fe7e83dfff2c2225ab6e110a9856f/cirq-core/cirq/ops/raw_types.py#L461) could be more descriptive about how `with_qubits` should work.  My understanding is that `with_qubits` returns a new operations with the exact same effect (i.e. unitary) but on a different list of qubits (only if they have matching `dimension`s).

[2021-08-09 20:31] balopat commented on #788
https://quantumai.google/cirq/ecosystem exists now, closing.

[2021-08-09 20:31] #788 closed

[2021-08-09 20:32] balopat commented on #4291
This is now clean.

[2021-08-09 20:32] #4291 closed

[2021-08-09 23:11] daxfohl commented on #3234
Ignore the above draft for now. I think it went too deep into one alternative without highlighting the various options. https://tinyurl.com/cirq-flow-control-options is more high-level. (And it may even be too early for this, as we haven't even really talked about requirements in detail yet). @95-martin-orion @smitsanghavi @MichaelBroughton @balopat

[2021-08-10 00:58] #4390 closed

[2021-08-10 04:51] #4376 closed

[2021-08-10 05:15] #4361 closed

[2021-08-10 05:25] balopat commented on #4390
Sorry for pushing - I haven't seen your comment here @cduck - technically the implementation is now correct based on the documentation as the order of `qubits` is determined by the map insertion order.

However, I see your point regarding insertion order being counterintuitive - but it doesn't just impact `with_qubits` but also `qubits`. I would recommend opening a different issue to discuss this

[2021-08-10 05:32] cduck commented on #4390
Yes and thanks for the fix.

I don't mean to be so pedantic about the API.  I don't think the ordering is causing problems right now.  If I find it does, I'll open an issue.

[2021-08-10 22:41] daxfohl opened #4400 "Reduce redundancy in act_on_fallback"
**Describe your design idea/issue**

Ref https://github.com/quantumlib/Cirq/pull/4371#discussion_r681159545

_act_on_fallback_ accepts both operations and gate+qubit[] pairs. This generally causes some redundancy and occasional sloppiness in the implementations. In MPS simulator, we just promote gate+qubit[] to a GateOperation and work with that so that everything is then consistent.

This may be

[2021-08-11 01:38] daxfohl commented on #3234
Only a bit more code and there's an IfElseOp that is compatible with subcircuits w/ measurement key mappings and also allows boolean sympy expressions that can contain multiple measurement keys in the conditions. https://github.com/daxfohl/Cirq/compare/classical...daxfohl:ifelse?expand=1. I think this should be pretty doable.

[2021-08-11 10:46] smite commented on #4276
For Sphinx, this would happen using a `code-block` directive, i.e.
[code]
https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html?highlight=code-block#directive-code-block

A reST literal block would also work: https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#rst-literal-blocks

[2021-08-11 14:49] balopat opened #4404 "Flake: test_estimate_parallel_readout_errors_batching"
**Description of the issue**

https://github.com/quantumlib/Cirq/pull/4334/checks?check_run_id=3300474396

[code]

**Cirq version**

0.12.0.dev

[2021-08-11 16:33] balopat opened #4405 "Change Github auth in automerge bot"
**Description of the issue**

We are using auth through query param in a bunch of places, and it is being deprecated:

https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/

Today we ran into one of their last "brown out warnings".

[code]

We should do this before `September 8 2021 at 14:00 UTC` to avoid further automerge bot outages.

[2021-08-11 17:16] balopat opened #4408 "Automerge bot weird recency check problem"
**Description of the issue**

This is a highly typical pattern recently, which almost defeats the purpose of automerge and quite annoying -- as it fails after merging master into the branch!

1. A completely green, but not up to date PR is labeled with automerge
2. the bot merges master into the branch
3. github actions kick off
4. instead of waiting, the bot claims that required status checks are

[2021-08-11 17:46] balopat commented on #4408
I think "recently modified" threshold should be moved to 30 minutes instead of 30 seconds - with our PR CI suite running for 20 mins, it is quite likely to have unfinished checks.

[2021-08-11 17:55] #4404 closed, assigned to nobody

[2021-08-11 18:17] balopat commented on #4408
Confirmed locally that increasing the threshold works.

[2021-08-11 18:36] balopat opened #4412 "Automerge bot can't handle empty PR description"
**Description of the issue**

If the description of the PR is empty, automerge.py throws this exception:

[code]

[2021-08-11 18:55] daxfohl commented on #3240
@mpharrigan @viathor Note all the PRs for this is merged into master now. Per tracing out, if you add reset gates to things you no longer need, the simulator separates those.

So, a bell state between q0, q1, with reset on q1: `cirq.Circuit(cirq.H(q0), cirq.CX.on(q0, q1), cirq.reset(q1))` would separate into

[code]
Does this satisfy the needs for tracing out? Do we want an optimizer that appends

[2021-08-12 17:29] balopat commented on #3603
I think this can be closed now, notebooks are much faster, parallelized, partitioned, etc....please reopen if you think there is more to be done!

[2021-08-12 17:29] #3603 closed

[2021-08-12 17:35] balopat commented on #4379
A rounding error...`e-32`... we should just use `np.isclose(np.imag(v), atol=1e-16)` or similar.

[2021-08-12 18:41] balopat opened #4425 "SupportsChannel deprecation is incorrect"
**Description of the issue**

I realized that during flushing the v0.13 deprecation backlog that the `SupportsChannel` deprecation is incorrect - it points users to use `cirq.SupportsKraus` - however that does not exist.

**How to reproduce the issue**

[code]

[code]

However `cirq.SupportsKraus` does not exist.

**Cirq version**

v0.12.0

Note, this might be worthwhile to patch v0.12.0 with.

[2021-08-12 18:50] balopat opened #4426 "Flake: test_noise_model"
**Description of the issue**

We should avoid these kind of tests if possible, the probability of this test failing is larger than desired.
@asmuzsoy

https://github.com/quantumlib/Cirq/pull/4424/checks?check_run_id=3315034286

[code]

**Cirq version**

v0.13.0.dev

[2021-08-12 19:52] balopat commented on #4426
Well, seed kinda works, but it is an easy way out to make the test pass but the problem is that then it is hard to interpret it - how would you set the bounds then?  We could say that for that given seed 12324, we know exactly the sequence of answers the prng will give in `prng.random()` and `prng.choice()` so we will know that the number of 1s is 44. Is that a meaningful test? Maybe, but we don't

[2021-08-13 00:04] mpharrigan commented on #3240
Yes, I think this will work. I had to take a chunk of time to convince myself that resetting a qubit you're throwing out can't mess things up with the qubit you're keeping, and I wanted to find the hidden trace operation. In case it's helpful for others: The unitary equivalent of reset is swapping your system qubit |psi> with a |0> ancilla. The ancilla is traced out to get our familiar reset chann

[2021-08-13 13:22] balopat commented on #4405
Fixed in #4407.

[2021-08-13 13:22] #4405 closed

[2021-08-13 15:04] daxfohl commented on #4045
The reference implementation is not workable, but should the issue be closed entirely?

I think ultimately to get this working in simulators, all we have to do is pass the corresponding module into act_on and act_on_fallback. (Can you pass modules around in Python? That would be ideal. But if not, passing a bool/enum corresponding to which module would suffice). In particular, I believe density ma

[2021-08-13 18:58] daxfohl commented on #4337
Line 658 of what?

[2021-08-13 20:14] mpharrigan commented on #4337
Yeah sorry. The file/module name is in the issue title. I could have been much more clear!

[2021-08-13 22:12] #4337 closed

[2021-08-14 00:52] tanujkhattar commented on #4127
@mpharrigan Is there a light weight way of achieving this with the Observable Measurement framework? Or do you think a `PauliMeasurementGate` / `PauliMeasurementOperation` would be still be useful ?

[2021-08-14 01:25] daxfohl commented on #4274
Should this also update `circuit.append` so that measurement key also serves as a hard stop, like qubits do?

i.e. if user appends a measurement on q1 and then a measurement on q2 both to the same key, they _probably_ intended for the q2 measurement to happen after q1.

Would we want to allow both at the same moment?

[2021-08-14 17:49] daxfohl commented on #4274
Also, rather than storing a whole extra dimension, would a `measurement_op` enum be sufficient? So it could have values like `{write (default), xor, and, or, ignore}`? So you could do something like `measure(q0, key='a'), measure(q1, key='a', measurement_op='xor')`, which would allow 'a' to remain a boolean creg containing the xor of the two measurements? (And possibly measurement_op can eventuall

[2021-08-15 16:11] maffoo commented on #4274
I think this is an central question to answer. We can allow this if ordering of ops within a moment is preserved, because otherwise when interpreting results one wouldn't be able to tell which bits came from which measurements in a moment. I think the order _is_ preserved in the current implementation of `Moment` since it uses a tuple internally, but I don't think we explicitly guarantee this, and

[2021-08-16 16:37] mpharrigan commented on #4127
The observable measurement framework presumes a state-prep-and-measure approach. In particular, it doesn't invert the cliffords post-measurement. This could be useful. The observable measurement framework could learn about it and use that as a different way of inputting what you want measured.

[2021-08-17 00:44] #4368 closed

[2021-08-17 01:50] ishmum123 commented on #4322
Hi @vtomole if no one's working on this ATM I would love to take this up

[2021-08-17 03:27] vtomole commented on #4322
@ishmum123 It seems like @Patil2099 hasn't responded to my ping. Feel free to look at this issue.

@prathameshbhole Yeah, that's right.

[2021-08-17 16:57] dkafri opened #4434 "cirq.kraus seems to fail on PhasedXZGate"
**Description of the issue**
I get a TypeError when using cirq.kraus on this gate.
**How to reproduce the issue**

[code]
Produces:
[code]

**Cirq version**
I get this error both for `0.12.0.dev20210630205305` and `0.12.0`

[2021-08-17 17:31] maffoo commented on #4434
Seems like this is an error in the `kraus` protocol; it should call `cirq.unitary` to get the unitary representation of the object in question, rather than looking for a `_unitary_` method directly, because `PhasedXZGate` does work with the unitary protocol:
[code]
We could also implement `_unitary_` directly on `PhasedXZGate`; currently it has to decompose the gate to get the unitary.

[2021-08-17 18:16] daxfohl commented on #3240
@95-martin-orion looks like this can be closed now.

[2021-08-17 18:18] daxfohl commented on #3409
@mpharrigan I think this can be closed.

[2021-08-17 19:22] tanujkhattar commented on #4434
I see the same issue in mixtures as well
[code]

The problem is that `has_[kraus|mixture]` methods check only for `_has_[kraus|mixture]_`  member functions and then fallback on `kraus/mixture` methods to check for `_kraus_ | _mixture_`. However, the former has a `allow_decompose` argument but the latter doesn't.

I can send a PR to fix this but I have a question -- do we need a `allow_decompose` a

[2021-08-17 20:10] mpharrigan commented on #4350
This is fixed thanks to @banrovegrie . I changed the complexity label lol since it turned out to be a pretty far-reaching change

[2021-08-17 20:10] #4350 closed

[2021-08-17 21:31] mpharrigan commented on #941
@95-martin-orion can this be closed? or merged into some of the other open issues?

[2021-08-17 22:21] 95-martin-orion commented on #941
Yeah, I'd say this was resolved as part of #3492.

[2021-08-17 22:21] #941 closed

[2021-08-17 22:44] daxfohl commented on #3232
@95-martin-orion @smitsanghavi @MichaelBroughton Initial RFC here: https://tinyurl.com/cirq-feedforward. I'm reasonably happy with it as a first draft.

[2021-08-18 01:53] tanujkhattar commented on #4434
Note that simply using `cirq.unitary` instead of checking for `_unitary_` is not enough. In `has_kraus`, we check whether `all(has_kraus(val) for val in decomposed_operations)` then the primary operation also `has_kraus`. Therefore, in the `kraus` method, we will need to recursively compute the `kraus` of all decomposed operations and combine their `kraus` operators by serial concatenation.

This

[2021-08-18 02:17] tanujkhattar commented on #4119
Reviving this old thread based on some newly gained information.

### Overview
As per feedback from the physics team (cc @Dripto), it's very common for theorists to follow a pattern where they need to
a) Prepare an arbitrary two qubit state `Psi`
b) Apply an arbitrary two qubit unitary `U` on `Psi`
Given a `Psi` and `U`, Cirq is used to construct a circuit in the native gateset which can be run on

[2021-08-18 05:12] tanujkhattar commented on #3242
I've been thinking about this roadmap item and so far, I think the existing problems are:
1) We don't have a way to visualize the decompose relationships among gates and hence it can be confusing for users
2) We implicitly decompose all gates to a particular 1/2 qubit gateset and users can start depending on this implicit gateset, which is something we discourage but don't currently enforce.
3) Th

[2021-08-18 06:56] tanujkhattar commented on #4127
Following up from the discussion on #942, a parameterizable `PauliMeasurementGate` seems like the right way to go -- it can be used for measuring different observables in sweeps and also avoids adding another new operation to the already convoluted gate/operation relationships.

However, there's a problem that `ParamResolver` currently only supports resolving `TParamKey`s to `TParamVal`s , which i

[2021-08-18 12:19] fmozafari commented on #4119
@tanujkhattar, Why only 2-qubit states? For example, how do you load the result vector for the HHL algorithm?

[2021-08-18 12:19] fmozafari commented on #4119
@tanujkhattar, Why only 2-qubit states? For example, how do you load the result vector for the HHL algorithm?

[2021-08-18 14:50] Dripto commented on #4119
Other preparation circuits would also be very useful, and any tool which creates provably efficient circuits in larger scales should certainly also be added if they exist. However in this case I've already written up the two qubit case, since that's what I needed.

[2021-08-18 17:18] #4425 closed

[2021-08-18 18:04] 95-martin-orion commented on #4434
This is a duplicate of #3965, which came to a similar conclusion (add `allow_decompose` to `kraus`/`mixture`). It's important to note that limits must be placed on this decomposition, as number of Kraus operators / mixture elements can exponentially explode.

[2021-08-18 18:13] tanujkhattar commented on #4119
Cirq Sync:
- State preparation is a very useful primitive, but we should have a separate issue / PR for this.
- The original request is to have a generic gate which can be decomposed based on the backend that wants to consume it.

[2021-08-18 18:20] tanujkhattar commented on #4270
This should be done, let's figure out how to do it.

[2021-08-18 18:43] tanujkhattar commented on #4127
Cirq Sync:
- First let's do a non-parameterizable PauliStringMeasurement  and extend it later.
- Discuss overhaul of ParamResolver later.
- The primary use case is that `cirq.measure(pauli_product)` should just work. If it works with the Observable measurement framework, then we can do that as well. Else, let's have this.

[2021-08-18 18:50] #1837 closed

[2021-08-18 18:53] 95-martin-orion commented on #408
Completed in #4365.

[2021-08-18 18:53] #408 closed

[2021-08-18 18:56] tanujkhattar commented on #4275
From Cirq Sync:

We should update the decompositions that still ignore the Global Phase.

[2021-08-18 19:22] Ashalynd commented on #4362
Hi Tanuj. Would you mind if I have a look at this?

[2021-08-18 20:45] tanujkhattar commented on #4362
Sure! There are multiple smaller work items for this larger bug
1. Bring GateTabulation out of cirq-google to cirq-core
2.Add a generic optimizer that makes use of GateTabulation
3. Implement the NuOps compiler, given in the linked paper, in cirq-core.

[@chrischris96](https://github.com/chrischris96)  had also reached out to me over email earlier expressing interest in this issue but I think the

[2021-08-18 20:52] ishmum123 commented on #4322
@mpharrigan there seems to be a quite a few cases where this functionality is being used. Should I try to refactor them?

[2021-08-18 21:13] mpharrigan commented on #4322
Yes, I believe my comment https://github.com/quantumlib/Cirq/issues/4322#issuecomment-888539664 was me hastily transcribing notes from the Cirq Cync call that requested exactly that.

[2021-08-18 22:59] Ashalynd commented on #4362
Thanks for the quick reply!

Is there a dependency between the first (GateTabulation refactoring + optimizer) and the second (NuOps implementation) tasks?

If not, would it help to split this issue into two or more separate ones?

[2021-08-18 23:32] tanujkhattar commented on #4362
No, there's no dependency.

There's already https://github.com/quantumlib/Cirq/issues/4059 that talks about adding an optimizer that uses the GateTabulation method. Feel free to create new smaller sub-issues to track specific work items.

[2021-08-19 01:32] ishmum123 commented on #4322
@mpharrigan I refactored some of the files. However, these files -
fidelity_esitmation.py, measures.py, projector.py, state_vector.py, states.py
fail to pass the tests after refactor. Throwing errors along the lines of `shape mismatch` and `invalid norm`

[2021-08-19 03:25] tonybruguier commented on #3288
@MichaelBroughton
With #4331 and #4364 merged, is there anything left to do? If so, happy to help of course, but otherwise, maybe this issue can be closed?

[2021-08-19 13:02] tonybruguier commented on #3003
@dabacon
Is this still needed? And if so, what is the function? Is it this one?
https://sourcegraph.com/github.com/quantumlib/Cirq/-/blob/cirq-core/cirq/linalg/transformations.py?L296

[2021-08-19 22:50] tanujkhattar opened #4440 "eval(repr(measurement_gate)) fails for keys of the type `'a:b:c'`"
**Description of the issue**
repr(measurement_gate) prints the wrong repr when using a nested measurement key of the form `a:b:c`. This is not catched in the json serialization tests because we explicitly call `MeasurementKey.parse_serialized(key)` in the `_from_json_dict_` function of `MeasurementGate` class.

**How to reproduce the issue**

[code]

**Cirq version**
0.12.0.dev

[2021-08-19 23:10] tanujkhattar commented on #4440
`eval(repr(measurement_key))` is also broken.

[code]

[2021-08-20 16:08] #3784 closed

[2021-08-20 18:00] TripleRD commented on #4393
Hey @vtomole, I would like to work on this issue. What are the deliverables?

[2021-08-20 18:42] vtomole commented on #4393
Hey @TripleRD, thanks for the interest in picking this up! I'll assign this task to you.

On your local repository of Cirq:
-  Add `disallow_untyped_defs = True` to this file https://github.com/quantumlib/Cirq/blob/master/dev_tools/conf/mypy.ini
- Run `Cirq$./check/mypy` and fix all the errors that show up.
- Commit your fixes and open a Pull Request.

[2021-08-20 18:53] #4358 closed

[2021-08-20 21:13] vtomole opened #4448 "Mypy check fails with `cirq-core/cirq/contrib/acquaintance/gates_test.py:20: error: Module 'numpy.random' has no attribute 'poisson'` on Github Actions"
**Description of the issue**
For example: https://github.com/quantumlib/Cirq/pull/4439/checks?check_run_id=3385860749

[2021-08-20 21:13] mpharrigan opened #4449 "Keeping track of qubits you've measured"
@JiahaoYao wanted to take a circuit where we were measuring 1 of the qubits to a case where we're measuring all of the qubits. Sounds like there should be an obvious one way to do this? I wrote the following in response, reproduced here so that others may 1) use this advice or 2) think about why there's no idiomatic way of doing this. cc #4144

Use `cirq.measure(*qubits)` instead of `cirq.measure(

[2021-08-20 21:17] ishmum123 commented on #4448
Can I help with this one?

[2021-08-20 21:18] vtomole commented on #4448
Sure. Thanks!

[2021-08-20 21:34] vtomole commented on #4448
Hey @ishmum123 , it seems like this problem affects all currently open pull requests. If you don't have the bandwidth to fix this ASAP, we can transfer this issue to @MichaelBroughton.

[2021-08-20 21:36] ishmum123 commented on #4448
Please do, I am looking into it RIGHT now but not that confident about speed. Sorry about that

[2021-08-20 21:39] vtomole commented on #4448
Okay. If your are able to reproduce this problem on your local machine, you should be more than halfway there. Feel free to continue your work until @MichaelBroughton responds.

[2021-08-20 21:48] ishmum123 commented on #4448
sorry I wasn't able to reproduce this locally. This was my best (blind) bet #4451

[2021-08-20 21:57] vtomole commented on #4448
Lets try replacing

https://github.com/quantumlib/Cirq/blob/11f751fa62020a521edd25dbd8a4ba9420ca7442/cirq-core/cirq/contrib/acquaintance/gates_test.py#L20

with

`import numpy`

and in that file replace `poisson` with `numpy.random.poisson`

[2021-08-20 22:02] ishmum123 commented on #4448
please check now

[2021-08-20 22:07] vtomole commented on #4448
Nice! That did the trick. Will merge.

[2021-08-20 22:10] vtomole commented on #4448
Before we merge your fix to `main` branch. Please merge your `ishmum123:mypy-fix` into `ishmum123:add_probabiliy_utility` branch and push it.

[2021-08-20 22:13] maffoo commented on #4449
This is the kind of stuff we deal with all the time at the hardware level, keeping track of what data for each key corresponds to what qubits, so I have some thoughts in this area.

Note that we have a `find_measurements` helper function in cirq_google to extract information about all measurements in a circuit: https://github.com/quantumlib/Cirq/blob/master/cirq-google/cirq_google/api/v2/results.p

[2021-08-20 22:15] ishmum123 commented on #4448
done

[2021-08-20 22:15] maffoo commented on #4449
Not sure I really addressed your question, though. I agree with `cirq.measure(*qubits)` and keeping track of the qubit order, so maybe the one thing we might consider is including some kind of "measurement descriptor" in `cirq.Result` so if you save results you don't have to separately keep track of the qubit order.

[2021-08-20 22:18] vtomole commented on #4448
I don't see the update on https://github.com/quantumlib/Cirq/pull/4439, also it looks like your cla got reverted in that PR.

[2021-08-20 22:21] ishmum123 commented on #4448
can you please check again?

[2021-08-20 22:26] vtomole commented on #4448
The cla label is back but not the numpy chnages we made in the other branch. Are you performing `git merge mypy-fix` on your `add_probabiliy_utility` branch?

[2021-08-20 22:27] #4448 closed

[2021-08-20 22:28] vtomole commented on #4448
Okay never mind the merge. We'll just merge main to your branch automatically now that the numpy fixes have been merged.

[2021-08-20 22:30] ishmum123 commented on #4448
Sorry for the confusion

[2021-08-20 22:31] vtomole commented on #4448
No worries. Again, thanks a lot for the help 😄

[2021-08-20 22:49] #4322 closed

[2021-08-20 22:51] jacksonwb opened #4453 "Plumb separators argument through to `to_json` function or offer alternative"
To support creating minified json representations of cirq objects it would be useful to be able to change the `separators` argument that is passed to `json.dumps` inside the [`to_json`](https://github.com/quantumlib/Cirq/blob/v0.12.0/cirq-core/cirq/protocols/json_serialization.py#L495-L555) function, in the same way as the `indent` argument.

By passing a value of `(',', ':')` along with `indent=N

[2021-08-20 23:09] #4440 closed

[2021-08-20 23:30] #4270 closed

[2021-08-20 23:50] mpharrigan commented on #4449
I should also add `cirq.measure(*qubits)` keeps all your measure operation in one moment, which is really important.

[2021-08-22 14:27] chrischris96 commented on #4362
@Ashalynd I read the paper and don't have any preferences about which part to work on. Would you rather work on the optimizer or the NuOps implementation task?

[2021-08-22 23:12] Ashalynd commented on #4362
Hi @chrischris96,

Sure, I can take the first part (refactoring GateTabulation and creating an optimizer).

@tanujkhattar  - that would correspond to issue #4059 plus may be a separate issue for refactoring, correct?

[2021-08-23 14:46] daxfohl commented on #3244
@balopat @MichaelBroughton This seems like a fairly straightforward refactor, just creating the interfaces, moving the implementations into their own classes, and wrapping that in a Device [facade](https://en.wikipedia.org/wiki/Facade_pattern). Probably with known devices as subclasses of Device with `__init__(): super().__init__(MyValidator(), MyDecomposer(), MyConstraints())`. Are there any big

[2021-08-23 14:52] daxfohl commented on #3586
@MichaelBroughton @viathor Did it turn out that TFQ provided a solution here or did the issue just get closed silently?

[2021-08-23 17:06] tanujkhattar commented on #4362
@Ashalynd Yes, that's correct.

[2021-08-23 17:17] 95-martin-orion commented on #4453
My gut reaction is that this should be a boolean (e.g. `minified=true`) instead of allowing arbitrary separators, to ensure the result is still able to be parsed by `read_json`. Worth discussing, though, since I'm not deeply familiar with how JSON parsing works.

[2021-08-23 17:41] jacksonwb commented on #4453
Yeah that seems reasonable. Because the `indent` argument is already exposed, and `minified` implies no indent, I would propose adding a `compact=True` argument that passes `(',', ':')` as separators to `to_json` and when passed with `indent=None` results in a minified json output.

[2021-08-23 17:48] mpharrigan opened #4458 "isolated_notebook_test only works from the repository root"
Unlike all other tests, the relative paths in isolated_notebook_test only work if you're running pytest from the repository root. If you're using PyCharm, for example, the test fail when you use the "run pytest on this file" menu action.

Suggest: using something like `os.path.dirname(os.path.abspath(__file__))` to find the files in the test. Or: some of the other dev_tools tools query git to find

[2021-08-23 22:20] mpharrigan opened #4460 "Deprecate json_serializable_dataclass"
Dataclasses are implemented with somewhat complex metaprogramming, and
  tooling (PyCharm, mypy) have special cases for dealing with classes
  decorated with `@dataclass`. There is very little support (and no plans for
  support) for decorators that wrap `@dataclass` like this.

See #4391 for new suggested way of making dataclasses serializable

[2021-08-23 23:29] mpharrigan commented on #4453
@95-martin-orion don't you think we should just follow the existing python API? I would be in favor of just plumbing through relevant parameters from `json.dump`

[2021-08-23 23:30] mpharrigan commented on #4453
Is there a case for slightly compacting json at the expense of readability when you could just use `to_json_gzip` and get full compression?

[2021-08-24 00:20] jacksonwb commented on #4453
It would be helpful to able to generate json that can be embedded in larger json objects and easily rendered for human reading, which also does not contain any unnecessary whitespace.

[2021-08-24 02:38] Ashalynd opened #4461 "Bring GateTabulation out of cirq-google to cirq-core"
As discussed with @tanujkhattar in #4362, creating a separate issue to track GateTabulation refactoring.

[2021-08-24 02:40] Ashalynd commented on #4362
I created #4461 (can't assign additional  labels to it though).

[2021-08-24 17:01] #3980 closed

[2021-08-25 02:32] tanujkhattar commented on #4338
RFC for organizing decompose relationships: https://tinyurl.com/cirq-organize-decompose-rfc

[2021-08-25 02:32] tanujkhattar commented on #3242
RFC for organizing decompose relationships: https://tinyurl.com/cirq-organize-decompose-rfc

[2021-08-25 05:08] thanacles commented on #3388
This is follow up from discussion on PR #4345

@mpharrigan @balopat Maybe we should go through the docparams lint rules and decide which ones we actually want. Here they are with notes:

differing-param-doc (W9017) - "%s" differing in parameter documentation Please check parameter names in declarations.
10 occurrences

differing-type-doc (W9018) - "%s" differing in parameter type documentation Ple

[2021-08-25 18:44] mpharrigan opened #4469 "Factor interop into 3rd party modules where applicable"
In discussion of https://github.com/quantumlib/Cirq/issues/4339 at the cirq cync, we thought it would be a good idea to think about moving some of the "interop" functionality from cirq-core, especially to_quil into 3rd party modules like cirq-rigetti if one exists. Then issues could be fixed by their rightful codeowners

A question: what will we do with other interop like to_qasm that don't have 3

[2021-08-25 18:51] viathor opened #4470 "Operators & observables notebook raises runtime error after upgrading notebook"
**Description of the issue**

Isolated notebook test fails on `operators_and_observables.ipynb` after upgrading notebook to 6.4.1 (due to [security vulnerability](https://github.com/advisories/GHSA-hwvq-6gjx-j797)).

**How to reproduce the issue**

Could not reproduce locally, but CI failed on #4468 with the following complaint:

<details>

[code]

</details>

**Cirq version**

0.13.0.dev

[2021-08-25 20:51] #4470 closed, assigned to nobody

[2021-08-27 22:20] mpharrigan opened #4476 "State vector simulator faced with non-unitary operations"
Right now, the state vector simulator will stochastically choose a path when it encounters a non-unitary operation (measure, reset, noise). You can get into deep trouble if you e.g. put in a measure operation and then expect to have a state vector that means anything in isolation.

@Strilanc has said: "I regret calling it simulate instead of e.g. sample_final_state_vector. Exactly this kind of amb

[2021-08-28 04:50] hohilwik commented on #554
Ah thanks. That does make sense to me.

[2021-08-28 17:33] daxfohl opened #4477 "str/repr blows up for large disjoint states"
**Description of the issue**

The repr and str functions of TrialResult and subclasses all compute the full state of the system as a kron of all disjoint states before displaying. In large disjoint states, this causes the system to hang. This can crop up in unusual places like assertions and stack traces. See https://github.com/quantumlib/Cirq/issues/4360#issuecomment-907514955.

**How to reproduc

[2021-08-29 11:02] hohilwik commented on #554
Do `cirq/sim/wave_function_simulator.py` and `cirq/sim/wave_function.py` not exist anymore? I can't seem to find them

[2021-08-29 13:53] vtomole commented on #554
Those were renamed to `state_vector_simulator.py` and `state_vector.py`

[2021-08-29 14:36] vtomole commented on #1550
Fixed by https://github.com/quantumlib/Cirq/pull/3654

[2021-08-29 14:36] #1550 closed

[2021-08-29 15:06] vtomole commented on #2983
Fixed by @karalekas.

[2021-08-29 15:06] #2983 closed

[2021-08-30 15:46] mpharrigan commented on #3240
Re-closing. Turns out there were other issues, see #4360

[2021-08-30 15:46] #3240 closed

[2021-08-31 15:12] daxfohl commented on #4476
Talked offline, it seems there are a few things we could do.

1. Remove prng from simulators and pass them into the functions that are nondeterministic. This way it is explicit whether the operation you're doing is pure or not. Effort: small, but backwards incompatible.
2. Refactor Operation to come in a hierarchy e.g. Operation > ChannelOperation > MixtureOperation > UnitaryOperation > Stabilizer

[2021-08-31 16:43] daxfohl commented on #4476
xref https://github.com/quantumlib/Cirq/issues/1740

[2021-08-31 16:47] #2164 closed

[2021-08-31 19:46] cduck opened #4478 "PR Size Label: Both XL and XS labels applied"
<img width="724" alt="PR 4473 with both tags" src="https://user-images.githubusercontent.com/2476062/131565808-9af4355d-ab9f-4d8a-afba-93973126e7bf.png">
<img width="725" alt="PR 4467 with both tags" src="https://user-images.githubusercontent.com/2476062/131565824-afe5c7e8-ee20-4772-b792-419b550c5b9a.png">

**Description of the issue**
CirqBot added both the `size: XS` and `size: XL` tags to some

[2021-09-01 18:23] dstrain115 commented on #4476
Proposal in cirq cync:
 - simulate should still work for non-unitary operations
 - Possibly add a field into the result returned
 - Go ahead with #1740 to add sample_final_state_vector()

Not high-priority since this only affects certain use cases of specifically instantiation simulator and calling simulate() with non-unitaries.

[2021-09-01 18:30] tanujkhattar commented on #4348
Notes from Sync:

- There’s no good way in Cirq to describe noise on measurement results i.e. the qubit is not affected but the result is affected. To do transformation on a qubit, you’d need an ancilla qubit but it’ll be terrible for a simulator.
- Casey: We can also add noise operations that affect only classical measurements keys i.e. operations which don’t have any targets but have keys.
-- Mi

[2021-09-01 18:34] dstrain115 commented on #4348
More notes from Sync:

- Needs design or proposal.  One possibility is to allow a noise channel that affects measurement keys rather than qubits/gates.
- But this needs some more discussion.  For instance, this allows you to put noise channels at a place that is not at the point of measurement.

This probably needs an RFC (assuming we don't go with NoisyMeasurementGate).

[2021-09-01 18:54] dretta opened #4479 "Measurement Gate with Key cannot be printed"
**Description of the issue**

Creating a Measurement Gate with a measurement key produces a non-string, making it unprintable.

**How to reproduce the issue**

[code]

**Cirq version**
0.11.0
Branched off of https://github.com/quantumlib/Cirq/commit/58cda7a4f9718ef0bebd91950af192df8d47b0d6

[2021-09-01 19:04] dstrain115 commented on #4177
Notes from cirq cync:  This would be a non-trivial effort of upkeep, and there is a tricky question of what we accept or deny and how it's promoted.

We are leaning against this proposal since it will be difficult to maintain and upkeep.  In addition, Tony's changes have found a different home (TFQ examples page) and other research might be better to host on ReCirq instead.

For now, we will close

[2021-09-01 19:04] #4177 closed

[2021-09-01 20:01] daxfohl commented on #4193
I've looked into this a bit while starting classical control. This would be easier if Operation was implemented as a dataclass and `with_tags` could just use `dataclasses.replace` to create the clone. But it's not, and changing that would be a huge ordeal. The other option would be for `with_tags` to use the `copy` module to clone itself, but that comes with pretty big caveats given the diversity

[2021-09-01 20:01] #4193 closed

[2021-09-01 20:13] vtomole commented on #4479
For what it's worth, the snippets you posted don't break on Cirq's mainline branch:

[code]

You do have to provide a non-empty measurement key on the most recent release of Cirq though:

[code]

@tanujkhattar  @smitsanghavi , should these changes have been deprecated instead?

[2021-09-02 05:54] HuangChiEn opened #4480 "Request ZX TwoQubit Gate"
**Is your feature request related to a use case or problem? Please describe.**
In original, the Fahri et al. proposed classifier is make use of ZX gate, however, the tfq tutorial use the ZZ gate.
At first, I want to custom the ZX Gate but the magic mehod is too complex to override.
For example, __pow__ method, I can not understand how to override. (seems have protocol behind the mul method)

**Des

[2021-09-02 15:40] vtomole commented on #4480
Did you define your `ZX` gate as an EigenGate?

We have an implementation of this gate in [cirq-superstaq](https://github.com/SupertechLabs/cirq-superstaq/blob/7675cd7d5cd05f57dfefaa46a6efce3af64f9838/cirq_superstaq/custom_gates.py#L73) that you can take the `pow` of like `ZX ** 0.5`.

[2021-09-02 22:30] jaeyoo opened #4481 "JSON serialization for MixedUnitaryChannel / KrausChannel is slow"
**Is your feature request related to a use case or problem? Please describe.**

We can see the slow performance when we increate the number of unitaries in a `cirq.MixedUnitaryChannel` with the number of qubits larger than 2. For example, on 7 qubits, we can construct P 128x128 unitary matrices, where P is the number of possible state in a stochastic process, so the channel has P probabilities. Bu

[2021-09-03 12:31] vcatherine opened #4483 "Compiling: Circuit Transformers API"
Circuit transformers in Cirq are currently implemented as either a PointOptimizer or independent classes with no common API. The Circuit Transformers API will introduce a common interface for all transformers in Cirq and migrate the existing transformers to this new Interface.

Requirements:
- Transformer passes should have a uniform API for consistency across the codebase.
- Transformers should b

[2021-09-03 12:53] #3228 closed

[2021-09-03 12:54] #3230 closed

[2021-09-03 14:52] daxfohl opened #4484 "Progressive underlying state representations in simulators"
**Is your feature request related to a use case or problem? Please describe.**

This is a bullet point of #4476 that seems large enough to be its own issue. Simulators currently assume worst-case scenario throughout the simulation. i.e. density matrix simulator uses nothing but density matrices even if the circuit is entirely unitary.

**Describe the solution you'd like**

It would be great to hav

[2021-09-03 18:41] tanujkhattar opened #4485 "Density Matrix Visualization"
**Is your feature request related to a use case or problem? Please describe.**
As discussed in https://tinyurl.com/cirq-visualizations#heading=h.7ouifl2o8dff, it would be nice to have cirq primitives for density matrix visualization

**Describe the solution you'd like**
Method to plot density matrix, whose output should look similar to the density matrix plots generated in Quirk.  Note that plotti

[2021-09-03 18:44] tanujkhattar commented on #4485
@AnimeshSinha1309  is working on this. Please assign it to yourself (I'm unable to assign it to you).

This is part of the roadmap item #3642

[2021-09-03 18:50] AnimeshSinha1309 commented on #4485
I am unable to assign it to myself too. Anyways, will work on it starting 10th of this month.

[2021-09-04 00:24] daxfohl commented on #4484
(Managed to get a working prototype of this here: https://github.com/quantumlib/Cirq/compare/master...daxfohl:prog?expand=1). The whole thing is in the progressive_sim_test module, class ProgressiveSimulator; it's only about 150 lines.

It sits on top of the qubit allocation tooling, so it runs independent states independently, allowing you to have e.g. a 100-qubit circuit where 98 qubits are enta

[2021-09-04 14:47] daxfohl commented on #3898
I can't remember all the details but In retrospect I *think* I could have done this with some reflection in the calling methods. We could delete the method in the base class, and then the callers could do "if old method exists in the subclass then call it else call the new one" (or maybe vice-versa). Regardless, I think this isn't quite concrete enough of a problem to give a concrete answer for, a

[2021-09-04 14:57] daxfohl commented on #4484
Quick note, I have a back-of-envelope design for integrating ProgressiveArgs from above directly into the existing simulators, so that everything is handled under the hood without any API changes or new simulators, which would allow us to do this in various simulators without any code redundancy,. Main thing is I want to investigate factoring the ch-form first. This seems like it should be possibl

[2021-09-05 12:57] HuangChiEn commented on #4480
My fault, I have not to check all documents, many thanks !!

[2021-09-05 13:22] HuangChiEn commented on #4480
However, I got the following error message while I package the ZX gate into the tfq.layers.PQC,
![image](https://user-images.githubusercontent.com/52521165/132128417-35214af2-dfe0-4cc0-8682-e373e14557f2.png)

[code]

Unfortunately, the ZX gate seems not competiable into the tfq.layers.PQC layer by using the same serialize protocol ?

[2021-09-06 13:41] lasys opened #4487 "QasmParser throws Syntax-Error"
**Description of the issue**

QasmParser cannot parse Qasm-code.
Is there an error in my Qasm-code or a bug in the QasmParser?
Thanks for your help!

**How to reproduce the issue**

I convert my circuit from Qiskit to Qasm, which gives the following results:

[code]

Now I would like to create a Cirq circuit using the QasmParser from Cirq (https://github.com/quantumlib/Cirq/blob/master/cirq-core/c

[2021-09-06 15:29] vtomole commented on #4487
`QasmParser` doesn't support the ability to define custom gates yet. See https://github.com/quantumlib/Cirq/issues/3560. Please feel free to look into adding this if you'd like.

[2021-09-07 01:10] vtomole commented on #4480
The ZX gate is not part of the Serializable gate set in `cirq_google`. You need to add it like so: https://github.com/quantumlib/Cirq/blob/9349802d924bb5d23753fe0e30e396e0ec84af38/cirq-google/cirq_google/serialization/serializable_gate_set_test.py#L25

[2021-09-07 09:00] ggardet commented on #4379
I can test a patch if needed.

[2021-09-07 19:24] 95-martin-orion commented on #4453
I just don't see a use case for arbitrary separators. IIUC, the purpose of `cirq.to_json` is to write a JSON file that can be deserialized by `cirq.read_json`. If a user provides anything except `separators=(', ', ': ')` (modulo whitespace), that purpose is no longer fulfilled, since `json.loads` has no equivalent `separators` argument.

If you feel strongly about matching the python API, we shoul

[2021-09-07 22:39] tanujkhattar opened #4489 "Embed Quirk Editor in Cirq"
**Is your feature request related to a use case or problem? Please describe.**
Quirk (https://algassert.com/quirk) is an open source quantum circuit editor and simulator. It is a widely used tool for both education and research.
It was proposed in https://tinyurl.com/cirq-visualizations#heading=h.2nfg3hb3jqb to have an integration of the Quirk editor with Cirq. This issue is to discuss the require

[2021-09-07 23:35] #4127 closed

[2021-09-08 00:52] Strilanc commented on #3667
It seems like a contradiction in terms for users to have to "get used to" the behavior of *documentation*.

[2021-09-08 06:18] freyam commented on #4489
Hi.

I would like to work on this issue.

The goals of the issue seem straightforward to add. Let's discuss the finer details in the next Cirq sync.
I will set up the local environment till then and play around with some examples.

[2021-09-08 16:44] daxfohl commented on #4476
@mpharrigan For item 2 in your list, would you want that to be a special simulator used only by the `mux` module (e.g. `final_state_vector`, `final_density_matrix`, etc, or should DensityMatrixSimulator itself be endowed with this functionality?

[2021-09-08 18:21] shivanth commented on #3560
Does this still need an RFC ? I would like to give a shot at this.

[2021-09-08 19:32] daxfohl commented on #3560
Yes, AFAIK nobody is working on it right now.

Before diving too deep you might want to get some agreement from the maintainers regarding whether to use decomposition or subcircuits here. IIUC QASM custom gates are unitary only (https://qiskit.github.io/openqasm/language/gates.html#hierarchically-defined-unitary-gates), so I'd lean toward a decomposition based approach, where as subcircuits map mo

[2021-09-09 00:58] tanujkhattar commented on #3243
Approved RFC: https://tinyurl.com/cirq-gatesets

[2021-09-09 12:58] 95-martin-orion commented on #3560
My take on this:

1. The only difference I see between QASM custom gates and subroutines is the return value. `CircuitOperation`s seem reasonable for either case - they don't have explicit "return values", but can expose measurement results.
2. Using decomposition requires dynamically defining new gate types during parsing. This seems inconvenient compared to simply generating `CircuitOperation`s

[2021-09-09 19:36] lasys commented on #4487
Alright.
I found a workaround that rewrites the Qasm-String without Custom Gates and finally can be parsed.
Thanks!

[2021-09-09 19:36] #4487 closed

[2021-09-09 20:55] freyam commented on #4489
Have created a Draft PR with a base module ready.

#4492

[2021-09-09 21:08] freyam commented on #4489
@tanujkhattar
Your suggestion to use https://github.com/adgt/pyQuirk works really well, but it's not perfect. Some keywords aren't recognized while exporting a `cirq.Cirquit` to a QASM. Also, I believe that we don't need the complete set of features provided by **Quirk** as Users would just be interested in playing around with their personal circuits. Plus, the UI has room for improvement.

## Pro

[2021-09-10 05:02] daxfohl commented on #4360
I'm going to close this because this seems like a degenerate case and I don't think there's any great solution. The best solution is providing a flag for the user to toggle this optimization, but I think nobody would understand what it does, it would never get used, and just pollute the API. If anyone encounters this problem in the real world we can open it back up.

[2021-09-10 05:02] #4360 closed

[2021-09-10 16:49] jacksonwb commented on #4453
I think I tend to agree with @95-martin-orion that arbitrary separators may just leave room for accidental mistakes, but am happy to go either way.

[2021-09-11 04:44] shivanth commented on #3560
1. `Subroutines` are a part of OpenQasm3 specs, but they are not part of openQasm2.0. OpenQasm2 only supports custom gate with `gate` keyword.
2. On `Circuit Operation` vs `_decompse_`, using circuit operation will require extra qubits to be defined for each  `gate` defined in asm  ?

[2021-09-11 18:36] AnimeshSinha1309 commented on #4485
![image](https://user-images.githubusercontent.com/9739218/132957918-efa23000-86b0-434b-ac72-010f4c29c84c.png)

Does this look okay?

[2021-09-13 16:36] tanujkhattar commented on #4362
@chrischris96 As part of tracking the progress towards our Cirq 1.0 roadmap items, I wanted to check in on the progress on this issue. Could you start working on it yet?

[2021-09-13 16:47] mpharrigan commented on #4453
If it's good enough for Python, I'd think it's good enough for Cirq. It's also helpful to be able to say "all the other arguments are passed to `json.dump`"

[2021-09-13 16:52] rmlarose commented on #4339
Sorry for the late response! I think that certainly makes sense here, but is part of a larger discussion which I don't have the full context on. Thanks Matt for opening the above issue.

Perhaps relevant to the discussion is that Rigetti QCS now installs Cirq and you can, AFAIK, run Cirq circuits directly.

![qcs-cirq](https://user-images.githubusercontent.com/32416820/133124771-36ac38b4-6d54-41e0

[2021-09-13 16:55] mpharrigan commented on #4476
I'm not sure. I was just brainstorming.

[2021-09-13 16:57] vtomole commented on #4339
This is via `cirq-rigetti` I'm assuming. If that's the case:

I agree. We added `QuilOutput` because Cirq was not operable with Quil 2 years ago. Now that it is, I don't see a good case for keeping the more "primitive" functionality in Cirq.

[2021-09-13 18:06] tanujkhattar opened #4494 "Refactor CircuitDag and use it to improve Merge* optimizers."
**Is your feature request related to a use case or problem? Please describe.**
`MergeSingleQubitGates` and `MergeInteractions` are currently implemented using `PointOptimizers`. The first step of both these optimizers is to find a maximal connected component containing a particular single qubit / two qubit operation. Once the connected component is found, all operations in the connected component

[2021-09-13 20:28] #3409 closed

[2021-09-13 23:22] MichaelBroughton commented on #4480
Hi @HuangChiEn I would recommend taking a look at: https://www.tensorflow.org/quantum/api_docs/python/tfq/util/get_supported_gates

In order to check if the gate is supported inside of TFQ. Generally speaking TFQ can't support arbitrary gates.

If you wanted to add it, you could add serialization support here (https://github.com/tensorflow/quantum/tree/master/tensorflow_quantum/core/serialize), ad

[2021-09-14 03:27] vtomole commented on #4480
^^ Is the right answer. I didn't know this issue leaned more TFQ than Cirq. Hopefully this helps you @HuangChiEn.

[2021-09-14 06:38] AnimeshSinha1309 commented on #4494
I would like to work on this.

[2021-09-14 12:25] 95-martin-orion commented on #3560
Extra qubits shouldn't be required for this. A `CircuitOperation` can use one set of qubits in its definition, and be mapped to a different set of qubits for its use in a circuit (e.g. to emulate applying a QASM `gate` to some qubits). For example:

[code]

As long as the `CircuitOperation`'s qubits are reassigned, the qubits used in its definition are irrelevant - they are simply the default valu

[2021-09-14 12:47] 95-martin-orion commented on #4453
SGTM Matt - let's go ahead with plumbing directly through to `json.dumps` as you've described, with warnings in the docstrings regarding nonstandard separators.

[2021-09-14 15:59] #4260 closed

[2021-09-15 16:48] AnimeshSinha1309 commented on #4494
I think I know how to go about this one, but I am confused as to why the current design exists?
1. Why are the transitive closures a part of the graph
2. Why is `can_reorder` given as a function, when the only meaningful definition of 2 operations being reoderable is that they don't share a qubit and there exists no 3rd operation which enforces order between the prior 2.
So can I just go about com

[2021-09-15 17:05] tanujkhattar commented on #4494
@AnimeshSinha1309  If two operations commute, then they can be reordered and we don't necessarily need to have an edge between them. This property is used in `pauli_string_optimize`. See the predicate `pauli_string_reorder_pred`.

[2021-09-15 17:19] chrischris96 commented on #4362
@tanujkhattar I am having exams until Monday but will start working on it full-time next week

[2021-09-15 17:44] hohilwik commented on #4244
Hi, this is a problem related to #554 as well. Mypy doesn't catch wrong type annotation in many cases. Is there anything I can do in that issue which would help with this?

[2021-09-15 18:17] daxfohl commented on #4484
Closing due to lack of real-world use cases.

[2021-09-15 18:17] #4484 closed

[2021-09-15 18:23] daxfohl commented on #4476
@mpharrigan I created an implementation https://github.com/quantumlib/Cirq/pull/4488 for item 2, but it was decided in cirq sync that there are not any big real-world use cases for this feature, and so this is not worth the cognitive overhead. So I closed the PR. If there is a real-world use case then I can reopen.

[2021-09-15 18:24] tanujkhattar commented on #4494
Related #3816

1. `CircuitDag` should be fixed / deprecated. How to do that will need a design
2. Merge optimizers should be fixed.

[2021-09-15 20:06] mpharrigan commented on #4476
Sorry for leading you astray. Thanks for opening the PR anyway.

[2021-09-16 16:54] #3239 closed

[2021-09-16 16:55] tanujkhattar commented on #3237
Closing in favour of more specific transformer related issues

[2021-09-16 16:58] tanujkhattar commented on #3234
We have no immediate plans to support this in the near future.

[2021-09-16 17:00] #3641 closed

[2021-09-16 17:05] vcatherine commented on #3241
This is a #3240 duplicate. Can we close this @mpharrigan (you were the last to close that one)? We are trying to clean up the issues.

[2021-09-16 17:07] vcatherine commented on #3246
@tanujkhattar I recommend closing this in favour of more specific issues

[2021-09-16 17:08] 95-martin-orion commented on #3234
I disagree with closing this issue; while it is true that we do not plan to support this in Cirq 1.0, it remains an interesting feature for us to continue tracking beyond that release.

[2021-09-16 17:12] mpharrigan commented on #3641
Can you explain why you closed this? AFAIK, most of the bullet points in the original post have not been implemented and are still relevant

[2021-09-16 17:12] vcatherine commented on #3234
We are trying to clean up vague overly broad or hard to action issues. We could perhaps open new more actionable issues and close this one, wdyt?

[2021-09-16 17:12] 95-martin-orion commented on #3241
Was this meant to point to a different issue? I see qubit (de-)allocation and generalized measurements as two distinct pieces of work. We could still close this issue if we decide that #4194 is sufficient for it, but there remains follow-up work that still needs to be done (qudit and non-square channel support, proper handling for channels with 3+ operators).

[2021-09-16 17:13] mpharrigan commented on #3241
This is not a duplicate. As stated, this issue _depends_ on that one; or at least that was the original idea with non-square kraus operators.

[2021-09-16 17:16] vcatherine commented on #3641
@MichaelBroughton to comment (these issues were closed in a live meeting with Michael and Tanuj just now)

[2021-09-16 17:17] mpharrigan commented on #3641
In the spirit of openness, best effort should be made to transcribe offline discussions into the issues where relevant

[2021-09-16 17:26] 95-martin-orion commented on #3234
That seems okay to me - the language in the first comment is far more vague than I remembered - but let's hold off on closing this issue until we've opened the replacement issues, and link those back to this issue to preserve the discussion.

[2021-09-16 17:43] vtomole commented on #3239
@tanujkhattar please leave a comment as to why this is closed.

[2021-09-16 18:24] daxfohl commented on #3234
I've done some initial investigation on this and I believe the main thing we'd still need is a `CircuitOperation.repeat_until(key: MeasurementKey)`, and possibly #4274. If we have those, then I believe we can reconstruct most if not all QASM 3.0 flow control functionality in terms of this and the feedforward primitives.

Should we add that function as one issue, and then perhaps OpenQASM 3.0 suppo

[2021-09-16 18:30] kcmiao opened #4498 "FSimGate docstring for phi is missing a factor of 2"
https://github.com/quantumlib/Cirq/blob/7951f84a0110be719c8a9e07aa1ffec2b0a31990/cirq-core/cirq/ops/fsim_gate.py#L91

A full CZ is expected to occur at `phi` = pi, not pi/2.

[2021-09-16 18:44] vtomole commented on #3234
Independent OpenQASM support sounds like so much to me. What are your thoughts on @balopat's idea https://github.com/quantumlib/Cirq/issues/3560#issuecomment-736804436 about adding a package `qiksit-cirq` that leans hard on the existing OpenQASM support in Qiskit?

[2021-09-16 19:08] freyam opened #4499 "Follow up work on `Circuit._repr_svg_`"
**Is your feature request related to a use case or problem? Please describe.**

@mpharrigan did an amazing job working on adding the SVG representation for a `Cirq.Circuit`. He left some TODOs in his Issue (#2313). In this issue, I plan to address them and open them for further discussion.

**Describe the solution you'd like**
Listing the tasks from #2313,

**Bugs**
- [x] **[BUG]** Take care of th

[2021-09-16 19:51] mpharrigan commented on #4499
Awesome!

[2021-09-16 20:00] daxfohl commented on #3234
I don't see a big difference one way or the other. If we have qiskit-cirq, then that would do the parsing, but we'd still have to do the mapping from qiskit primitives to cirq primitives, which if their structures are much different from cirq's that may be no easier than parsing raw QASM. But of course either way it requires the corresponding cirq primitives to exist in the first place, which is t

[2021-09-16 20:04] tanujkhattar commented on #3239
This is closed in favour of more specific issues like adding support for 2 Qubit Heuristic Compilation (#4362) and refactoring `CircuitDag` and make it a useful IR that can be used for improving existing optimizers and potentially creating new optimizers (#4494)

This particular issue does mention any concrete work items and exploring useful compilation building blocks is an open ended research pr