[2020-08-15 17:20] cduck commented on #3196
It would be helpful to give the code you used for those examples.  I would do the second solution by changing line https://github.com/quantumlib/Cirq/blob/master/cirq/circuits/circuit.py#L378 to `+ html.escape(...)`.  This way circuit diagram will make space for `<` *before* it is replaced with the escape code.

[2020-08-15 18:00] abhik-99 commented on #3196
Thanks a lot @cduck ! Just did that and turns out it works great. Opening a PR on a side branch on the lint and tests pass.

[2020-08-17 04:56] lucidteamug commented on #3032
@cubicgate Did you make any progress? I am curious about this issue and would like to work with you if you still have room.

[2020-08-17 09:37] cubicgate commented on #3032
Thanks @lucidteamug ! I do not know any process on this.

[2020-08-17 19:41] balopat commented on #3194
This is picked up by @seunomonije based on our conversations - thanks @seunomonije!

[2020-08-17 23:32] kevinsung opened #3224 "Add run_batch to Sampler interface"
This would be similar to `run_async`, in that it simply defers to `run` or `run_sweep`, and should be overridden by parent classes that can sample batches more efficiently. It would be overridden in QuantumEngineSampler.

If this should be done, I'm willing to work on it.

[2020-08-18 00:32] lucidteamug commented on #3032
@sebgrijalva sebgrijalva  Did you make any progress? I am curious about this issue and would like to work with you if you still have room.

[2020-08-18 00:32] lucidteamug commented on #3032
@cubicgate Thanks~

[2020-08-18 19:22] #3196 closed

[2020-08-18 22:50] zaqqwerty commented on #3224
Great to see this issue opened, wanted to say that for samplers intended to be used with TFQ, `run_batch` would be a really helpful addition to the API.

[2020-08-19 04:04] balopat opened #3228 "Packaging: Define core Cirq and packaging strategy"
**Problem**: Cirq has a growing number of third party integrations that are not core to the functioning of the library.  These lead to an increasing number of dependencies for a functionality that is only necessary for a small number of users.  In addition Cirq has not defined what its core concern is, which has led to a variety of situations where code exists in Cirq that does not solve a core co

[2020-08-19 04:04] balopat opened #3229 "QPolish - revamp Cirq documentation"
Readthedocs.io for Cirq was a great start and served us well, but it has limitations and also is a standalone site for Cirq. We need a new site that fits nicely into the rest of the Quantum AI OSS efforts: OpenFermion, ReCirq, qsim, Tensorflow Quantum. The QPolish project is intended to deliver in 2020 a complete revamp of the documentation and to roll out a new website to unify our OSS presence o

[2020-08-19 04:05] balopat opened #3230 "Google Quantum Computing Service Early Access Program"
**Description**:

A private Early access program for Google Quantum Computing Service is planned for this year. This will involve providing access to select applicants to create great, open science.

**Requirements**:
- private EAP is launched and collaborators successfully executing their allocated chip reservations using Cirq

[2020-08-19 04:06] balopat opened #3231 "Classical Control: Classical Data Registers"
**Problem:**
When running on hardware Cirq supports two uses of classical data.  The first is in the supplying of classical information to a circuit as a parameter.  The second is as the measurement outcomes recorded in the measurement dictionary.   This is not sufficient for future needs (see Feedforward #3232 and Flow Control #3234).  Further the output of running a Cirq circuit, measurement dic

[2020-08-19 04:07] balopat opened #3232 "Classical Control: Feedforward"
**Problem:**

Cirq currently only supports a single unrolled circuit.  Measurements results cannot be fed forward to influence the future execution of the circuit.  This leads to, for example, Cirq not being able to easily describe a teleportation experiment.  There are also use cases for simple feed forward in variational ansatz and simple quantum error correcting protocols.

**Depends on feature

[2020-08-19 04:08] balopat opened #3233 "Expand measurement results"
**Problem**: Cirq’s implementation of measurements is a model in which binary outcomes come from measurements in the computational basis.  There are a variety of cases in which measurements are more general than this.  For experimental implementation measurement results are often not just binary, but can correspond to more general floating point data, such as IQ points in superconducting qubits.

[2020-08-19 04:10] balopat opened #3234 "Classical Control: Loops/Branches/Conditions"
**Problem**: Cirq currently only supports a single unrolled circuit. In Feedforward above a simple example of a flow control primitive, a simple conditional is considered.  This feature is to expand the set of flow control primitives.  Examples of these primitives could be count-controlled loops (for loops), condition-controlled loops (while blocks), collection-controlled loops (for loops for coll

[2020-08-19 04:13] balopat opened #3235 "Classical Control: Subcircuits"
**Problem**: Cirq currently supports circuits, which are made of a series of moments, each moment is made up of different operations that act on disjoint sets of qubits.  These are meant to represent as closely as possible the execution of the circuit on hardware (the exception being that some gates are virtual and compiled out the circuit at runtime).  In addition there is the concept of a noise

[2020-08-19 05:03] balopat opened #3237 "Compiling: Add more circuit transformer patterns"
**Problem:** PointOptimizer is one of the main workhorses for writing an optimizer, but it can be hard to use as the semantics of the mutation pattern is not easy to understand.  The goal of this feature would be to better define the basic compiling and optimizing patterns to lead to the easier construction of compilation steps. This could potentially be aided by Subcircuit features, and the metho

[2020-08-19 05:04] balopat opened #3238 "Circuit transformer organization"
**Problem:** Currently there are many different types of optimizers that serve different purposes spread across cirq and cirq.google.  Roughly there are optimizers that perform gate compilation (transforming one gate set to another), simplify circuits in local regions (merging gates, pushing gates through each other, dropping gates near identity), restructure the circuit (stratify and synchronize

[2020-08-19 05:05] balopat opened #3239 "Compiling: Compiling Building Blocks"
**Problem:** We currently handle compiling to a native gate set in an ad hoc manner.  In general the problem of compiling from one gate set to another is a difficult general problem.  However there may be places where we can provide various general methods for doing this gate compiling.  For example it is likely possible to support compiling general parameterized single qubit gates to simple param

[2020-08-19 05:05] balopat opened #3240 "Qubit allocation / deallocation / move"
**Problem:** A common optimization for simulators to perform is to allow for qubits to exist for only some small amount of time.  Qubits can be allocated and deallocated as the simulation runs and this can result in smaller simulation step sizes (less memory and less time).  This type of optimization is useful in quantum error correction and in open systems simulation.  In addition there are archi

[2020-08-19 05:07] balopat opened #3241 "Add support for general measurements"
**Problem:** From the simulation point of view general Kraus operators can correspond to measurement results, and currently this is only partially supported.  Finally measurements often require some post processing, for example by including invert masks in measurements one can often produce smaller circuits.  This latter problem either needs to be serializable, or restricted to use on client side

[2020-08-19 05:07] balopat opened #3242 "Compiling: Organize Gate Relationships"
**Problem:** There are currently 40 different gates in Cirq.  Many of these gates are related to each other.  A common pattern here is that a gate exists which is a subset of a more generalized gate.  This is particularly confusing when one attempts to use isinstance on gates.  In addition many gates implement the decompose protocol, and so there is some hidden relationship between these gates whe

[2020-08-19 05:08] balopat opened #3243 "Gatesets"
**Problem:** Cirq currently has no definition of a gateset outside of the serialized gate sets in cirq/google, which don’t really have a gate set that includes basic operations like testing for inclusion or creating new gate sets from older ones.  The serialized gate set also couples gatesets and serialization, which should be separate concerns. This feature would add a new concept to Cirq,  gates

[2020-08-19 05:08] balopat opened #3244 "Devices: Separate concerns in devices"
**Problem:** The device interface in Cirq defines constraints on the hardware (validation) and decomposition of gates.  Many actual device instantiations also support duration_of from when Cirq had schedules.  These provide three separate functionalities, validation, mutation, and information.  Durations are particularly problematic because it is not true that there is a map from a set of gates to

[2020-08-19 05:09] balopat opened #3245 "Devices: Hierarchy of devices"
**Problem:** For the validation component of a device, one often works with a standard connectivity of the device.  Currently these are hidden away in specific device implementations like ion trap, neutral atoms, contrib’s hypergraph devices, and the Google hardcoded devices and Google serializable device specifications.  Many of them couple durations with gate specifications.  This feature would

[2020-08-19 05:10] balopat opened #3246 "Circuit construction"
**Problem:** Insertion or appending operations or moments into circuits come with a rich number of options (insert, insert_into_range, etc) as well as different behaviors in the form of insertion strategies.  For advanced users this power can be useful, but for many users, it results in them not being able to transform their thinking into what they expect to happen (in part because the effects are

[2020-08-19 09:39] kevinsmia1939 commented on #3154
Hello,

An update.

I tried building Cirq from master branch instead of 0.8.2, some issues were solved.
Only bash_scripts_test.py failed. The rest of the issue is gone.

[code]

[2020-08-19 16:29] balopat commented on #3154
Thanks for the follow-up: pyquil and quimb should only be required by contrib. If you need contrib, you should install requirements from cirq/contrib/contrib-requirements.txt.

The bash tests are only testing the bash scripts for development - I think you could safely skip those, they will have no impact on the validity of the package.

[2020-08-19 17:31] #3202 closed

[2020-08-19 18:07] balopat commented on #3224
Discussed on Cirq Cynq - this sounds like a good idea. Please go ahead!

[2020-08-19 18:33] #2638 closed

[2020-08-19 19:00] viathor opened #3248 "Representing quantum channels"
At the moment the [`channel` protocol](https://github.com/quantumlib/Cirq/blob/master/cirq/protocols/channel.py) returns a sequence of Kraus operators. This representation of quantum channels is cumbersome. For example, naively composing k channels leads to growth in the number of operators that is exponential in k (to arrest the growth of the number of operators one needs to re-express them in an

[2020-08-19 19:36] maffoo commented on #3248
I like this idea, though there are details to be worked out. I was thinking about this in the context of https://github.com/quantumlib/Cirq/pull/3249 where in some cases we might want to have a decomposed representation of the channel, even if the operation can't be decomposed. For example, the [measurement channel](https://github.com/quantumlib/Cirq/blob/fb9fbac0a534bba10df0501e3652d4a4edad5b5a/c

[2020-08-19 20:10] vtomole commented on #3032
@cubicgate @sebgrijalva  @lucidteamug

It doesn't matter what bases Alice and Bob measure in as long as the angle between them is pi/4 radians. From https://algassert.com/quantum/2015/10/11/Bell-Tests-vs-No-Communication.html, it says:

(cos(pi/8))^2 ~= 85

The confusing part for me was that i was reading this program wrong. I thought it was measuring in the same basis, but it's not. It made sense

[2020-08-19 20:27] #3078 closed

[2020-08-20 00:36] balopat opened #3250 "Fix CirqBot event retrieval logic on long PRs"
In `check_auto_merge_labeler` we only pull the first page of events. For longer PRs this makes it seem that Github is inconsistent - https://api.github.com/repos/quantumlib/cirq/issues/3227/events doesn't contain any of the events for labelling with `automerge` - but CirqBot expects it - maybe we can improve the error message here.

We need to implement paging logic.

_Originally posted by @balopa

[2020-08-20 10:12] kevinsmia1939 commented on #3154
Thanks for info.
While bash script test is does not test validity of the package as you mention, skipping certain test must required some justification( at least in the practice of packaging for openSUSE ), I will ask openSUSE maintainer if it is acceptable and will keep you update.

[2020-08-20 17:22] iirekm opened #3253 "Support for AWS Braket"
It seems that Cirq supports only Google devices, but they seem to be closed for public access :-(

Do you plan support for publicly-available devices, eg [AWS Braket](https://aws.amazon.com/braket/hardware-providers/) ?

[2020-08-20 17:43] vtomole commented on #3253
We don't only support Google devices. We support [AQT,](https://github.com/quantumlib/Cirq/tree/master/cirq/aqt) and [IQM](https://github.com/quantumlib/Cirq/tree/master/cirq/aqt) devices too. You can compile Cirq circuits to QUIL and run them on Rigetti's devices and also compile them to QASM to run them on IBM's.

[2020-08-20 21:15] balopat commented on #3253
+1 to @vtomole's comments!

Cirq is an open source **framework** for quantum circuits that allows users to directly access quantum computing platforms that decided to partner with us. AQT, IQM and [Pasqal](https://pasqal.io/) as well are the current examples beyond Google's devices.
Where direct access is not implemented, there is an option for "import/export" between Cirq's langauge to the other

[2020-08-20 23:36] kevinsung commented on #2698
The following code still doesn't work:
[code]

[2020-08-20 23:42] kevinsung opened #3257 "Rename or refactor "study" module"
Is it just me or is the name "study" confusing? I always forget what is and is not in it. Usually I confuse it with "value." Perhaps it makes sense to merge the two?

[2020-08-21 02:41] maffoo commented on #2698
I think we decided not to do this so that you can resolve list-valued parameters (we have use cases for this internally). Also, there's an ambiguity if you have multiple parameters; given `{'a': [1, 2], 'b': [3, 4]}` should that do a cartesian product sweep over `a` and `b` or a zip sweep? Instead you need to make the sweep explicit at the top level, either as `[{'t': 0.3}, {'t': 0.5}]` or using a

[2020-08-21 03:32] kevinsung commented on #2698
If that's the case, then we need to roll back https://github.com/quantumlib/Cirq/pull/2786. That PR already partially implemented this feature, using the Cartesian product definition.

[2020-08-21 04:39] tonybruguier commented on #3220
So, I think following Nielsen and Chuang, the formula for the depolariazation matrix is

I / 2**n = \sum (P_i . rho . P_i) / 2**(2n)

Right? If so, maybe I could take a crack at this?

[2020-08-23 21:09] dstrain115 opened #3263 "cirq.contrib.quimb fails with quimb 1.2.0"
**Description of the issue**

Quimb fails with version 1.2.0.  We should either require 1.3 or (ideally) fix whatever was broken in 1.2

**How to reproduce the issue**
[code]

<details>
test_tensor_expectation_value
...
 AttributeError: 'numpy.complex128' object has no attribute 'add_owner'
</details>

**Cirq version**
cirq from HEAD and quimb == 1.2.0

[2020-08-24 17:15] maffoo commented on #3248
@dabacon, isn't it true that an n-qubit measurement is equivalent to n 1-qubit measurements? In that case instead of 2^n channel elements of size 2^n x 2^n we can represent this as n channels, each with 2 elements of size 2x2. You still get 2^n possible outcomes because each of the n single-qubit measurements has two possible outcomes.

[2020-08-24 17:23] dabacon commented on #3248
Yeah I think this was what I was trying to say in the last part of my paragraph.  Just like X^{\otimes n} is really a 2^n by 2^n unitary, there is a more efficient representation as n 2x2 matrices.  This requires some notion of the tensor product of the space, which we haven't really codified in Cirq afaik.

[2020-08-24 17:41] maffoo commented on #3248
I just noticed that in the density matrix simulator we actually do this decomposition for the measurement channel, at least in the case where we are ignoring measurement results (see https://github.com/quantumlib/Cirq/blob/master/cirq/sim/density_matrix_simulator.py#L305, which applies a phase damp channel on each qubit in the measurement). But if you ask the MeasurementGate itself what its channe

[2020-08-24 19:42] #3250 closed

[2020-08-25 13:38] #3069 closed

[2020-08-25 20:18] SamarthVadia commented on #3032
Hi,

I also find the method of implementation in this example not straight-forward. I agree with @vtomole that it should be modified to better represent how it is usually taught. I have changed the example to correspond to the De Wolf's lecture notes by defining and implementing a controlled-Rotation gate. The modified example is here: https://github.com/SamarthVadia/Cirq/blob/bellexample/examples

[2020-08-25 21:10] vtomole commented on #3032
@SamarthVadia We've voted to leave the example as-is and instead explain how it doesn't matter what basis is used. Does my previous comment make sense to you?

[2020-08-26 03:05] cubicgate commented on #3032
Thanks @SamarthVadia ! I like your example with a good reference!

[2020-08-26 06:07] viathor opened #3266 "Sweeping repetition count of circuit fragment"
**Is your feature request related to a use case or problem? Please describe.**

Oftentimes one has a circuit whose portion is to be repeated a number of times and one would like to sweep the repetition count. Example and context for this issue: implementing CPMG pulse train in cirq, see #3255.

**Describe the solution you'd like**

Current workaround entails parametrizing each repeated instance wi

[2020-08-26 09:25] IlyaHomka commented on #3032
@SamarthVadia thank you very much for a comprehensive explanation of the Bell theorem and its implementation. Dear  @vtomole could you add an explanation or short comments in the file bell_inequality.py for the future because I was confused with the of the file and the choice of gate X? (The Bell inequality relates the mean value of outcomes for Alice and Bob
 [Michael A. Nielsen, Isaac L. Chuang

[2020-08-26 14:44] SamarthVadia commented on #3032
Thank you everyone for the feedback!
@vtomole Yes, I find your comment on rearranging the X^-0.25 useful. I still think it is a good idea to make a native Cirq example simple and intuitive. However if it is discussed and voted to keep the example as-is, there's an argument for it that you emphasize in your comment and is explained in the blog about basis. It is a bit of an exercise but can be usef

[2020-08-26 15:22] vtomole commented on #3032
@SamarthVadia  Let's leave the program as-is with your documentation saying "usually it's implemented like this, but we implemented it like this. They do the same thing because `explain why they both accomplish the same goal` . "

[2020-08-26 16:08] maffoo opened #3267 "Prevent installing both cirq and cirq-unstable."
**Is your feature request related to a use case or problem? Please describe.**

If `cirq-unstable` is installed in a virtualenv and you `pip install cirq`, the virtualenv gets into a bad state. This is because they are different packages with separate metadata, but they put the python code in the same location in a `cirq` folder in site-packages. So pip thinks both are installed but in fact only t

[2020-08-26 18:17] balopat commented on #2698
Cirq Cynq:

Verdict: we'll keep the dict shorthand but with explicit methods
Two new methods

[code]

And then the "inconsistency" will be resolved via removing this functionality from `to_sweeps`.
Deprecation logic:

- https://github.com/quantumlib/Cirq/blob/master/cirq/study/sweepable.py#L58 should warn about deprecation
- should call into `dict_to_product_sweep()`

[2020-08-26 18:26] balopat commented on #3266
Related #3235

[2020-08-26 18:27] balopat commented on #3266
Discussed on Cirq Cynq, no objections - we just need to think through the design around this.

[2020-08-26 19:49] mpharrigan commented on #3263
It fails in `rank_simplify`. I think the fix is this line: https://github.com/jcmgray/quimb/commit/492201519157355b751d64af73e297a318f0adff#diff-382c633ca92381427ca0bc74c1ac3081R3361

One option is to comment out `state_vector.py:150` which calls `rank_simplify`. It's possible EITHER that (1) this will cause performance to deteriorate in a major way for gridlike circuits because lots of things can

[2020-08-26 20:04] balopat commented on #3267
This sounds like a useful feature, I don't know immediately how to resolve it, but in theory it might be possible. Will flip to `triage/accepted` when we have a way to do this.

[2020-08-26 20:10] balopat commented on #3267
Idea: the problem is that `cirq-unstable` is a different package from `cirq`, while in reality is just a different version.
Maybe we should publish [pre-releases](https://pip.pypa.io/en/stable/reference/pip_install/#pre-release-versions) to the cirq package from master, and then `pip install cirq --pre` would simply pull the latest pre-release version from pypi.
Thoughts?

[2020-08-26 20:35] maffoo commented on #3267
I think we used to do something like that, but then changed to use a different package for the unstable releases instead. You're right that just having one pypi package would fix the problem and it's probably the "correct" way to do thing. I don't remember the reasoning for created a separate package, but perhaps @Strilanc or @dabacon can say more.

[2020-08-26 21:58] crystalzhaizhai commented on #2698
I just caught up with the thread this morning. When I first implemented it, not familiar enough with types, I wasn't aware that the tests should logically extend to the use case of to_resolver method. It's great someone brought it up.

For the benefits of our future new contributors, how do we enforce consistency of functionally parallel methods?

[2020-08-27 00:45] balopat commented on #2492
To clarify, an implementation of `cirq.eigen_projectors/vectors/values` would be something that is fast for `EigenGate`s (using its eigencomponents method) but it falls back to numpy's linear algebra methods in the general case.

[2020-08-27 18:40] mpharrigan commented on #3184
A related note if anyone takes this on: currently in the SVG circuit code, I hack anything with a newline in it to just display as a `?` :)

[2020-08-27 21:19] Strilanc opened #3274 "Support cirq.commutes(operation, moment)"
It would be handy to be able to easily check if an operation commutes with everything in a moment. For example, it makes things like https://quantumcomputing.stackexchange.com/questions/13488/reordering-commuting-gates-in-cirq-to-reduce-circuit-depth easier to implement.

Currently, checking if a moment and an operation commute raises an exception saying the case hasn't been implemented.

Here's a

[2020-08-27 22:22] balopat commented on #3274
Thanks for filing this! It should be easy to avoid the quadratic overhead in the moment vs moment case by checking commutation only between operations that share at least one qubit.

[2020-08-27 22:29] balopat opened #3276 "Support global constants in devsite"
**Is your feature request related to a use case or problem? Please describe.**

we are in the process of transitioning from readthedocs.io to the TF DevSite documentation. We have constants like [`GRID_ALIGNED_PATTERN`](https://cirq.readthedocs.io/en/latest/generated/cirq.experiments.GRID_ALIGNED_PATTERN.html#cirq.experiments.GRID_ALIGNED_PATTERN) that we document using our own mapping that we use

[2020-08-28 04:35] #3073 closed

[2020-08-28 08:14] mx73 opened #3277 "cannot import name from 'cirq.google'"
**Description of the issue**
I'm doing some tutorial jupyter notebook, and I cannot import anything from `cirq.google`, not just `XmonSimulator`. I'm running lubuntu 18.04, python 3.8, jupyter_core 4.6.3, and cirq 0.8.2. What can I do?

**How to reproduce the issue**

[code]

<details>
It returns

</details>

**Cirq version**
0.8.2

[2020-08-28 17:26] Strilanc opened #3278 "Refactor cirq.Moment to support efficiently finding operations by qubit"
A common access pattern, when optimizing or analyzing a quantum circuit, is to check whether there is an operation at a particular place at a particular time. For example, when inserting into a circuit, finding the first moment that has no operation on certain qubits is necessary. cirq.Circuit supports efficient access by time, but not by place. This is fundamentally due to cirq.Moment being a lis

[2020-08-29 16:14] seunomonije commented on #3194
@balopat here is a status update. Unfortunately I haven't made as much progress as I would've liked to yet due to this bug. Currently looking into it and I will come back with a solution.

`grpcio-tools` collection seems to be defaulting to an outdated version (1.24.x), as can be seen here
[code]

when attempting to install all the packages in the development environment using
[code]
on Python 3.8

[2020-08-29 21:36] balopat commented on #3194
Thanks for the update! Yes, so that is coming from `dev_tools/conf/pip-list-dev-tools.txt`. From [what I see from their releases](https://github.com/grpc/grpc/releases?after=v1.27.0 ) is that grpc released python 3.8 wheels starting from 1.25 so we need to upgrade this requirement at least probably to 1.25. Let's see if we can find the minimum required upgrades to make this work!

[2020-08-29 22:50] balopat commented on #1124
@vtomole probably in a week or two we'll have a GCP project where we will be able to store these files, and I will be able to add you as a collaborator - are you interested in finishing this work then?

[2020-08-30 02:13] seunomonije commented on #3194
@balopat looking at the linked release docs you gave me I see release 1.26.0 includes the Python 3.8 wheel.

I changed [line 11](https://github.com/quantumlib/Cirq/blob/1699cb334c71958ee1872f4ddc7c788bea0d18f4/dev_tools/conf/pip-list-dev-tools.txt#L11) in `dev_tools/conf/pip-list-dev-tools.txt` to `grpcio-tools~=1.26.0`, which fixed my issue and successfully installed all the other packages. Thank

[2020-08-30 02:55] seunomonije commented on #3194
Also, I found that [Qiskit needs to be upgraded to 0.15.0](https://github.com/quantumlib/Cirq/blob/1699cb334c71958ee1872f4ddc7c788bea0d18f4/dev_tools/conf/pip-list-dev-tools.txt#L21) since [`qiskit-terra` supports Python 3.8 via release 0.12.0](https://github.com/Qiskit/qiskit-terra/releases), which is [addressed first in Qiskit 0.15.0](https://github.com/Qiskit/qiskit/releases?after=0.18.2) (stic

[2020-08-30 03:03] seunomonije commented on #3194
Also, what command are you running to build `dev_tools/Dockerfile`? I was able to print the Foxtail system in a Docker image successfully with the two small changes I made, but also I'm new to Docker images so I probably don't have the whole picture.

[2020-08-30 19:24] balopat commented on #3277
Thanks @vtomole  - based on @mx73's thumbs up, this seems to be the solution. Closing.

[2020-08-30 19:24] #3277 closed

[2020-08-31 01:36] Strilanc commented on #3184
I agree that this makes sense. For example, when converting from a circuit specified in another system (e.g. U3 in qiskit) this would be a fast way to convert the gate while preserving some debugging information like the name.

[2020-08-31 21:05] balopat commented on #1808
Related #3257

[2020-08-31 21:11] balopat commented on #1544
@jfold no progress yet! We'd be happy to accept a mini design here & a PR.

[2020-08-31 21:21] balopat commented on #1072
This sounds like a great improvement. As far as I'm aware this doesn't exist in devsite yet, but would be cool. We should make sure that this gets solved with a devsite compatible way. @lamberta have you seen anything like this working on the TF devsite?

[2020-08-31 21:23] balopat commented on #1072
In fact this is working from docstrings already on the new site. 🎉  I thought first that this would be something picked up from regular text as well. I guess that would be a pretty large effort. Closing.

[2020-08-31 21:23] #1072 closed

[2020-08-31 21:35] balopat commented on #408
@Strilanc This basically means implementing `_has_channel_` and `_channel()_` for cases when there are non-unitary operations in the circuit as well, right? So ` cirq.channel(cirq.Circuit(cirq.DepolarizingChannel(0.3)(cirq.NamedQubit("c"))))` would work too.

[2020-08-31 21:41] lamberta commented on #1072
We support this when generating the prod site :) But doesn't work in previews, afaik.

If you wrap the complete symbol in backticks it will autolink to the reference page. The shortname for the module is defined in your `build_docs.py` script and should already be enabled: https://github.com/quantumlib/Cirq/blob/master/dev_tools/docs/build_api_docs.py#L46

[2020-08-31 21:48] balopat commented on #3194
Great find, probably that was the issue in https://github.com/quantumlib/Cirq/issues/3152 as well.

This should do the trick (make sure you have Docker Desktop installed / Docker for linux):

[code]

[2020-08-31 21:56] balopat commented on #3194
Looking at the pyscf question:

SciPy 1.5+ will be required only by a coming PR #2872, but even that is going to be in contrib first (i.e. contrib dependencies are installed optionally) - but when it matures it might get added to core cirq in which case this might become a harder requirement (probably not earlier than a year).

I use `pipdeptree` to figure out what pulls it in.

[code]
As qiskit i

[2020-08-31 22:09] balopat commented on #2216
@sebgrijalva go for it if you're still interested!

[2020-08-31 22:13] mpharrigan opened #3285 ""Number of circuits and sweeps must match" -- run_batch"
I have a list of non-parameterized, non-sweepy circuits and thought I could just not pass `params_list` but it insists that it be of equal length to the number of circuits.

1. the default value shouldn't be `None` if that doesn't actually work (?)
2. can I pass a list of `None`s? can we make this happen automatically?

[2020-08-31 22:41] balopat commented on #2936
I like the idea, don't see a reason why not. Should be relatively straightforward to implement. @MrSaral  did you take a crack at this?

[2020-08-31 22:44] balopat commented on #2888
This is a dupe of https://github.com/quantumlib/Cirq/issues/2973

[2020-08-31 22:44] #2888 closed

[2020-08-31 22:46] balopat commented on #2973
Should include writing a docstring in the protocols package.

[2020-08-31 22:57] balopat commented on #2728
Hi @drewrisinger is this still an issue for Cirq 0.8?

[2020-08-31 23:00] balopat commented on #2704
1) While it's not a perfect solution, I added the `fast` flag to `dev_tools/docs/build_rtd_docs.sh` - this speeds up the build using parallelization.
2) in ~2 months we'll be retiring sphinx

I will close this issue if that's okay, please reopen if you don't agree.

[2020-08-31 23:00] #2704 closed

[2020-08-31 23:46] balopat commented on #3056
This is definitely odd:

In colab works up to 8 qubits (~ 1 minute at that point) and then it hangs (it's been running for 12+ minutes now).

![image](https://user-images.githubusercontent.com/635073/91779082-58339f80-eba9-11ea-8b62-f07698e43840.png)

[2020-08-31 23:52] balopat commented on #2664
From what I'm gathering this is the calling threads' responsibility to bind an event_loop. Cirq is a library - I don't think it should create new event loops. How are you calling `cirq.PauliSumCollector`?

[2020-09-01 00:38] balopat commented on #2624
I think you're right, thank you for pointing it out!!
The `XX` gate is defined as <img src="https://render.githubusercontent.com/render/math?math=e%5E%7B-i%20%5Cpi%20%2F2%20%5Csigma_x%5E%7B(1)%7D%20%5Csigma_x%5E%7B(2)%7D%7D"> and implemented as such in our `XPowGate`. And `YY` is similar. I suspect that for the 2qubit decomposition work to FSim it still worked because of some symmetry. However jus

[2020-09-01 01:48] drewrisinger commented on #2728
Yes, it looks like it's been resolved. Likely due to Nixpkgs updating their protobuf version.

Relevant test config:

- python 3.8
- cirq==0.8.2
- protobuf==3.13.0
- numpy==1.19.1
- networkx 2.4

[2020-09-01 01:48] #2728 closed

[2020-09-01 14:12] MrSaral commented on #2936
Hey @balopat , yes I am working on this! Are you on the discord channel?

[2020-09-01 17:27] balopat commented on #2936
@MrSaral, did you mean Gitter? yeah, I tend to hangout there!

[2020-09-01 22:36] balopat commented on #3041
Related #3257.

[2020-09-01 22:50] balopat commented on #3023
This looks good on the new site (http://go/q-stage/cirq/api_docs/python/cirq/linalg/sub_state_vector). Closing.

[2020-09-01 22:50] #3023 closed

[2020-09-01 22:54] kevinsung commented on #2904
In general, there is no way to distinguish between a density matrix and the state tensor of a pair of qudits (a type which is encompassed by STATE_VECTOR_LIKE). For example, consider the matrices
[code]
Both are valid density matrices for a single qubit, but they are also valid state tensors for two qubits. In the first case, their fidelity is 0.5, while in the latter, their fidelity is 0.25. Ther

[2020-09-01 22:58] balopat commented on #2953
This issue was opened for sphinx - but this is actually still an issue for devsite as well

[2020-09-01 22:59] balopat opened #3286 "Fix all latex expressions without enclosing $ signs"
We should fix all latex expressions that have no $ sign around them. I found one in channel: https://github.com/quantumlib/Cirq/blob/master/cirq/protocols/channel.py

In the new devsite both the inline (single $) and paragraph ($$) latex works so we should make sure we use them!

[2020-09-01 23:01] balopat commented on #2905
[[ Note to self: don't include issue reference in a commit message. It will keep spamming the issue from every fork that rebases the commit :) ]]

[2020-09-01 23:18] balopat commented on #2793
This is part of #3228. I believe that we should do this.

[2020-09-01 23:32] balopat commented on #2777
If I understand correctly this issue is simply adding this to `_run` and modifying the docstring:

[code]

@mpharrigan @kevinsung I don't think I was present for this discussion - can you confirm?
@Ashalynd are you planning to work on this?

[2020-09-01 23:40] seunomonije commented on #3194
Awesome. `pipdeptree` is really cool..just learning about it now. Thank you for the docker help as well.

After running the docker image on my machine, The build failed but due to a different error than you had earlier. Looking at the one you posted before, building the wheel for the `typed-ast` package failed (version 1.3.5 attempted), seemingly because the versions didn't match up for whatever r

[2020-09-02 00:30] balopat commented on #2673
Do you mean that you send a job with a duplicate id? Or is there a specific check for level of randomness?

[2020-09-02 00:33] balopat commented on #2577
Interesting! Where did this come up? Can you explain the use case?
Also, how far do you think this should go? Check for each measurement that the ops after it are equivalent to identity? Or just identity is sufficient?

[2020-09-02 00:36] balopat commented on #2537
This made it to the roadmap: #3243

[2020-09-02 00:39] balopat commented on #2537
I'm going to actually close this, as we will tackle this as part of the gate set and device hierarchy items and there is no need to track twice.

[2020-09-02 00:39] #2537 closed

[2020-09-02 00:47] balopat commented on #2233
Related to #3228. While the strategy is not fully defined yet, we are moving towards the direction of moving experiments somewhere :) It might end up in its own package / distro or (I'd prefer) in ReCirq.

[2020-09-02 06:27] MichaelBroughton opened #3288 "Support for Projectors"
**Is your feature request related to a use case or problem? Please describe.**

This is related to expanding functionality in TFQ here ( https://github.com/tensorflow/quantum/issues/357 )

**Describe the solution you'd like**

It would be nice to support projectors in `cirq.PauliSum` so that more complex (and still valid) expressions in `cirq.PauliSum` can be compressed to a reasonable length. May

[2020-09-02 10:29] kevinsung commented on #2777
Yes, that's correct.

[2020-09-02 11:42] kevinsung commented on #2577
Using the identity gate was a bad example. What matters is that the state evolution leading up to the measurement is deterministic, so that the circuit leading up to the measurement only needs to be simulated once. Any gates occurring after the measurement have no effect on the measurement.

I think I was inspired to open this after observing the bug #2567 . It's an extension of an idea underlying

[2020-09-02 13:42] TanveshT commented on #3286
Hey, @balopat while addressing this issue I tried testing the `$` symbol inline and even for paragraphs apparently it is not working on my local machine. Can you suggest any solution for this? The `$` are getting printed as normal text.

[2020-09-02 14:24] mpharrigan commented on #2673
When you submit an engine job, you must provide a job id. By default, cirq will generate a nice long random string for it. I was trying to give more "meaningful" job ids so I could see what was going on by scanning the web interface. Easier tagging / labeling of jobs would probably fix the root problem.

But yes, if you [accidentally?] send a job with a duplicate id it doesn't give a particularly

[2020-09-02 15:51] mpharrigan opened #3289 "cg.optimized_for_sycamore removes cirq.WaitGate"
See title. If you construct a circuit containing wait gates and pass through `cirq.google.optimized_for_sycamore` it removes the delays!

[2020-09-02 17:51] viathor commented on #2624
@balopat @gecrooks I agree that cirq's _BGate is the complex conjugate of B gate defined in the paper.

I think the decomposition works because the inverse B gate is locally equivalent to the B gate (e.g. conjugate by ZI), though I think some angles on the single-qubit gates may need adjustment.

We should fix this.

@gecrooks Thank you for catching this! Would you like to have a go at the fix?

[2020-09-02 18:11] balopat opened #3290 "Make optimizers consistent: in-place vs functional"
We have both @dabacon to comment on the details.

[2020-09-02 18:33] balopat commented on #2904
Discussed on Cirq Cynq:

A final idea we came to as a conclusion to explore further: type system + a central utility function to interpret numpy arrays (by default as a density matrix).

[2020-09-02 18:40] balopat commented on #3099
Discussed on Cirq Cynq: Let's figure out where introduce this protocol would help reducing duplication.

[2020-09-02 18:42] balopat commented on #3079
Discussed on Cirq Cynque: this would be valuable in contrib.

[2020-09-02 18:48] balopat commented on #3288
Discussed on Cirq Cynq:

- this would be a valuable addition
- probably not in PauliSum but its own type - let's iterate on the design here and then create a PR

[2020-09-02 18:49] viathor commented on #3099
@cduck pointed out that we should use the protocol if we have types that don't know their matrix, but conceptually have a matrix that can be computed via other properties (c.f. unitary computing unitary from decomposition etc).

This suggests that protocol may in fact be appropriate - it would infer matrix from unitary and so we would only need to add `_matrix_` to types that don't have unitaries

[2020-09-02 19:04] cduck commented on #3099
In addition to the first point, I think there should be some need for users to ask for the `matrix` of an arbitrary object without needing to know the object's type.  Do you have a case where you use `gate.matrix` instead of `cirq.unitary(gate)`?

In other words, what does `mat = cirq.matrix(obj)` mean?  What can I do with `mat` without inspecting the type of `obj`?

[2020-09-02 19:11] maffoo opened #3292 "Better formatting for cirq code"
I find the autoformatting that we currently use in cirq to be less than ideal. There are three main issues:
- yapf formatting is often bad, particular with things like nested tuples but also due to mixing hanging versus 4-space indentation styles (here's an example of [mixed indentation](https://github.com/quantumlib/Cirq/blob/master/cirq/google/op_deserializer_test.py#L93))
- 80 character lines s

[2020-09-02 19:17] viathor commented on #2904
More details on discussion: Kevin's example shows that in some contexts numpy array is insufficient to describe a quantum state. In such contexts, the additional information must be specified somehow. Below are a few possible approaches we discussed:

### Types

Very extensible in the sense that if in the future we find out we want to attach more information to states, the types would offer a natu

[2020-09-02 19:28] MichaelBroughton commented on #3288
Alrighty if we want to separate out this functionality, how do people like @viathor and @mpharrigan feel about something like this:

1st PR: Make a new module `cirq/ops/projectors.py`:

[code]

2nd PR: In `cirq/ops/linear_combinations.py` we add:

[code]

[2020-09-02 19:31] viathor commented on #2904
I like using types to solve problems and specify APIs, but I accept the "high friction" argument. Function names solution leads to proliferation of functions and pollution of cirq's namespace which would make autocomplete annoying (scrolling/searching through more names).

I think the real contenders are kwargs, shape and inference. Among these I think inference is the best because the other two m

[2020-09-02 19:36] viathor commented on #3288
Regarding 1st PR: drop the "State", just "Projector", it's cooler?

Regarding 2nd PR: Maybe we don't need that? Does LinearDict not fulfill your needs? If not, can we extend it so it does?

[2020-09-02 19:43] MichaelBroughton commented on #3288
Can do.

I'm not sure I follow. Don't I still need some new code to enable things like:

[code]
?

[2020-09-02 20:33] alexandrupaler opened #3293 "simulator benchmark interface/object"
**Is your feature request related to a use case or problem? Please describe.**

Simulating a circuit should give feedback resource statistics used during simulation.

**Describe the solution you'd like**

An object that can be populated by simulator interfaces and returned with simulator calls.

**What is the urgency from your perspective for this issue? Is it blocking important work?**

P1 - I ne

[2020-09-02 20:42] viathor commented on #3288
You should be able to use such expressions (not 100%, maybe some magic functions are missing, in which case we should just add them). Resulting LinearDict should be reasonable size. The exponential growth of terms in your original comment was a consequence of the distributive law, but in

[code]

you don't multiply a result of addition so no such growth should occur. Note however that some of the

[2020-09-02 20:57] MichaelBroughton commented on #3288
Totally fine :)

Couple concerns:

1. If I do :

[code]
It would be nice to have a more concrete type so in TFQ when input checking for various functions, I don't have to examine all the contents one by one any more than I have to.

2. If I do:

[code]
If we stick with just a lineardict, would I still benefit from the luxuries of having the pauli expressions around my Projector being simplified ?

[2020-09-02 22:50] balopat commented on #2904
@viathor thank you so much for capturing the details of the discussion - awesome notes.

+1 for "inference" as well
* I like to code against types (but I'm biased as I come from a statically typed background)
* explicit language makes the code more readable (I find `fidelity(density_matrix([[0.5, 0.5], [0.5, 0.5]]), [[1, 0], [0, 0]])` more readable than `fidelity(np.array([[0.5, 0.5], [0.5, 0.5]])

[2020-09-03 00:15] balopat commented on #3289
Thanks for filing - this really looks like a bug.

**** community note ****
If someone wants to pick this up from the community, this gives the opportunity to learn about the sycamore optimizer, the idea of gate sets, decomposition and the wait gate.

[2020-09-03 00:23] balopat commented on #2673
Thanks, that makes sense. This can be only fixed by Googlers for now, until there is an open access.

[2020-09-03 00:29] balopat commented on #3286
Hi @TanveshT thanks for taking a stab at this! There is no easy way to do this just yet. The devsite (our new site in the works based on the tensorflow.org engine) engine is not available externally yet, and the sphinx (our old and current site) does not support the latex conversion (and we won't invest in it).

So the only way to fix this will be to manually copy paste the formulae to double chec

[2020-09-03 05:14] TanveshT commented on #3286
Okay @balopat I will look into it and fix it asap.

[2020-09-03 14:29] mpharrigan commented on #3292
I absolutely hate the yapf formatter and it often makes my code less readable. I also think a line length of 100 strikes a better balance between screen real-estate and superfluous wrapping.

I personally like the pycharm formatter. It leaves things alone that don't break any of the rules. While that means there isn't a "canonical" way to format things, it lets the code author use line breaks and

[2020-09-03 14:38] mpharrigan opened #3295 "Should we deprecate Circuit.device?"
Currently, each and every `cirq.Circuit` has a `device` attribute which defaults to `UnconstrainedDevice`. I think the original idea was that validation of device constraints would happen during circuit construction.

1. This strikes me as strange. It makes more sense to me to have a device validate a circuit.
2. Separating validation from circuit construction would permit more useful validation f

[2020-09-03 14:40] mpharrigan commented on #3290
I think this refers to the circuit-transforming optimizers and whether they should modify a circuit in place or return a copy with the desired modifications.

As a point of evidence, in ReCirq qaoa experiment I wrap all circuit transformers into a functional version with `mutate=False` as a default keyword argument: https://github.com/quantumlib/ReCirq/blob/master/recirq/qaoa/gates_and_compilation

[2020-09-03 16:02] kevinsung commented on #3285
I agree that users shouldn't be forced to pass parameters. It should just work.

[2020-09-03 22:05] viathor commented on #3295
I agree that the only good reason for this attribute is as a marker for what device was targeted when the circuit was compiled. Perhaps we should rename it to `targetedDevice`, default it to `None` and modify compilers to actually set it. That said, I could support outright deprecation, too.

[2020-09-03 22:26] kevinsung opened #3297 "Sweepable is actually a recursive type"
The current type signature of Sweepable is
[code]
But there is no logical reason to only allow one level of iteration over Sweep. And in fact, `cirq.to_sweeps` is a recursive function, so it already assumes that Sweepable is a recursive type. So as it stands, Sweepable should be defined as a recursive type.

But I would like to ask whether Sweepable really needs to be this recursive type, rather t

[2020-09-03 22:59] balopat commented on #2671
It seemed easy enough to pull it out from quirk - raised #3298. Let me know if this meets your needs @mpharrigan.
Regarding the acquaintance - I don't understand yet why we need a SWAP gate in the constructor - but it feels like that with a bit of work we could make maybe this lightweight `QubitPermutationGate` the parent of the acquaintenance hierarchy? @bryano?

[2020-09-03 23:18] balopat commented on #3295
I wonder why it was introduced in the first place - maybe @dabacon or @Strilanc can provide some color?

[2020-09-04 15:53] vtomole commented on #3032
This has been merged. I will close this. @cubicgate feel free to re-open if it hasn't addressed your concerns.

[2020-09-04 15:53] #3032 closed

[2020-09-04 18:02] bryano commented on #2671
The `swap_gate` attribute is so that the gates can be used in the fermionic context (i.e. with `swap_gate=ofc.FSWAP`).

[2020-09-08 23:23] wcourtney opened #3302 "Add list methods for Engine programs and jobs"
Use case: retrieving historical data from Quantum Engine.

Solution: support list methods for programs and jobs.

Priority: P2

[2020-09-09 04:13] balopat commented on #3194
Great, I hope you're enjoying it! :)

Let me know if you get stuck!

[2020-09-09 16:50] balopat commented on #3293
Thanks for filing @alexandrupaler! This sounds interesting - what kind of resource statistics are you looking for specifically?

[2020-09-09 17:55] balopat commented on #3292
1. I'm totally open to the 100 cols change - sticking to 80 chars seems archaic / obsolete in 2020. We can start there with yapf as well.
2. I'm going to need more convincing about black for now
   a.) maybe because I haven't seen it in action that much, it just seems like "another formatter". I'm going to start to play with it and maybe I'll get excited. If you have features that you are excited

[2020-09-09 23:25] viathor opened #3305 "Quantum engine job URLs"
**Is your feature request related to a use case or problem? Please describe.**

URLs to the webpage showing jobs scheduled on the quantum engine requires knowing details of the structure of the URLs that users are unlikely to remember. Context: #3304.

**Describe the solution you'd like**

Add an easily discoverable function that returns the URL for a given quantum engine job, i.e. URL like

`http

[2020-09-09 23:25] dstrain115 commented on #3135
Added batched_results in #3303

[2020-09-10 18:06] maffoo commented on #3292
@mpharrigan and @balopat, thanks for your comments!

@balopat, It looks like the formatting errors you see are a regression in recent black (I suspect it's due to a recent change to how they handle trailing commas). If you `pip install black 19.10b0` it seems to work and should give you a better sense of what black formatting looks like.

Re your questions:
2a) Picking a formatter is of course sub

[2020-09-10 18:29] sebgrijalva commented on #2216
Ok, let me give it a go :)

[2020-09-10 20:29] balopat opened #3308 "Portable way to embed images in colab notebooks"
**Is your feature request related to a use case or problem? Please describe.**

context: https://github.com/quantumlib/Cirq/pull/3307

**Describe the solution you'd like**

Images should be available in an ipython notebook in our repo in all circumstances:
* downloaded as a standalone notebook
* previewed on Github
* opened in Colab
* rendered on devsite
* rendered on read the docs (for now)

**[o

[2020-09-10 20:49] maffoo commented on #3308
Do data urls work?

[2020-09-10 21:56] balopat commented on #3308
based on [this SO thread](https://stackoverflow.com/questions/26068316/embedding-image-in-ipython-notebook-for-distribution) it's not great but I haven't had time to try it out yet

[2020-09-11 01:25] balopat opened #3310 "separate checks for "is symbolic" versus "is parameterized""
Context: #3273:

"putting the `Number` check first results in some failures because we have code that assumes that if code is not parameterized then it's possible to do floating point operations on it. For example, in TwoQubitDiagonalGate if the gate is not parameterized we try to compute the unitary (https://github.com/quantumlib/Cirq/blob/master/cirq/ops/two_qubit_diagonal_gate.py#L63), but this

[2020-09-11 15:55] balopat opened #3315 "readthedocs is failing"
**Description of the issue**

https://readthedocs.org/projects/cirq/builds/11853534/

**How to reproduce the issue**

Not sure yet

<details>

[code]
</details>

**Cirq version**

Since https://github.com/quantumlib/cirq/commit/ecd53266e4ec75b5d93846924325c09378c9cdbd
Which is weird - there were no doc changes.

[2020-09-11 19:26] #3224 closed

[2020-09-11 22:35] viathor opened #3316 "Re-use existing tomography utility in T2 experiments"
**Description of the issue**

[`cirq.experiments.t2_decay`](https://github.com/quantumlib/Cirq/blob/master/cirq/experiments/t2_decay_experiment.py#L38) implements its own version of state tomography.
Use [`cirq. single_qubit_state_tomography`](https://github.com/quantumlib/Cirq/blob/master/cirq/experiments/qubit_characterizations.py#L357) instead.

**How to reproduce the issue**

Code inspection.

[2020-09-11 22:59] dstrain115 commented on #3316
Tentatively assigning myself, but if others are interested, feel free to ping me or jump on the bug.

[2020-09-11 23:00] #3001 closed

[2020-09-12 00:41] #3253 closed

[2020-09-12 14:42] #2671 closed

[2020-09-14 17:42] balopat opened #3318 "Broken Jupyter notebook with current dev tools"
**Description of the issue**

With the current dev tools setup, in a fresh virtual env there is a jupyter installation, however jupyter-notebook fails to connect to the kernel.

![image](https://user-images.githubusercontent.com/635073/93119224-6e545c00-f68f-11ea-91fa-d3c3ddf3238b.png)

Javascript console:

[code]
On the notebook logs:

[code]

**Workaround**

This looks like a tornado issue https

[2020-09-15 02:06] tonybruguier commented on #3220
@viathor What other channel would you like to have multi-qubit (besides depolarization)? I could have some extra time.

[2020-09-15 20:04] balopat opened #3323 "Engine integration tests"
It would be useful to have integration tests against the Engine API to make sure that things work end to end.
Now with the cirq-infra GCP project (#3317) we could have a simple job as part of our CI suite that could use a service account key to connect to the qsim "processor". These will be slow, so we are not aiming for high coverage, just for key scenarios.

[2020-09-15 21:06] balopat opened #3324 "Cleanup unnecessary @staticmethod annotations"
Context: https://github.com/quantumlib/Cirq/pull/3322#discussion_r488871057

[2020-09-15 21:18] balopat commented on #2587
Resolved in #3211

[2020-09-15 21:18] #2587 closed

[2020-09-15 21:35] balopat commented on #2502
Hi @andbe91 - with the `TwoQubitDiagonalGate` since then there is yet another way to achieve this:

[code]

An idea here could be `CPhase` (similar to the quil version) which could be a shortcut to TwoQubitDiagonalGate.
What do we think about that name?

[2020-09-15 21:36] balopat commented on #2502
Also @viathor, not sure if you want to work on this - but you are assigned.

[2020-09-15 21:49] balopat commented on #2698
I just found https://github.com/quantumlib/Cirq/issues/3018 which is exactly the deprecation issue for this.

[2020-09-15 21:54] balopat commented on #2477
As devsite is coming, I'm going to close this.

[2020-09-15 21:54] #2477 closed

[2020-09-15 22:03] balopat commented on #2916
@vtomole I'll close this - it seems that everything is moved to Github Worklfow now. Please reopen / ping me if I'm missing something!

[2020-09-15 22:03] #2916 closed

[2020-09-15 22:05] balopat commented on #1884
#3171 will be useful for this if not completely ready to unblock? What do you think @viathor?

[2020-09-16 01:43] viathor commented on #1884
Agreed.

This issue has been gated on having a good representation for tensor products. As @dabacon pointed out above, the new protocol should be able to compute Schmidt decomposition of both pure states and unitary gates. #3171 gives us a good way to represent tensor products of pure states, so we can go ahead and implement Schmidt decomposition on pure states. The other half - Schmidt decomposit

[2020-09-16 02:51] viathor commented on #3220
I think all other channels in [common_channels.py](https://github.com/quantumlib/Cirq/blob/master/cirq/ops/common_channels.py) don't need special generalization since their natural action on multiple qubits is the tensor product of their action on individual qubits (this is different from the depolarizing channel).

That said, #3262 only generalizes the asymmetric depolarizing channel. Once it is

[2020-09-16 02:51] dabacon opened #3327 "Move random circuits to ReCirq"
The circuits in
`generate_boixo_2018_supremacy_circuits_v2.py`
feel much more like they belong in ReCirq than in cirq.google

[2020-09-16 11:04] andbe91 commented on #2502
[code]
definitely seems logical to me. I'll let others decide on naming and if it is something we want.

[2020-09-16 15:53] balopat commented on #2252
Was added in #3052, closing.

[2020-09-16 15:53] #2252 closed

[2020-09-16 15:54] balopat commented on #3021
@satw1knandala are you still up for helping out here?
If yes, please consult with @smitsanghavi around this if you'd like to help out - he is working on major rework for the Clifford simulator, which includes covering some of the code paths here.

[2020-09-16 15:56] balopat commented on #2215
Hi @pingyeh - are you still planning to work on this?

[2020-09-16 16:01] balopat commented on #2271
+1 for using predicate and I like the `is_cp`, `is_cptp` checks.

[2020-09-16 16:02] balopat commented on #2271
@peterse are you still planning to work on this?

[2020-09-16 16:05] balopat commented on #3327
Agreed!

[2020-09-16 16:22] balopat commented on #2107
@MichaelBroughton are you still interested in this?
1.) still sounds useful
2.) we might be able to get away with just implementing this in the methods of Engine, EngineProgram, adding the extra param `max_job_size` to it and then handle returning of multiple jobs and the merging of the TrialResults

[2020-09-16 16:23] balopat commented on #2538
Batching is added.
Async is still outstanding.

[2020-09-16 18:05] kevinsung commented on #3124
This was fixed in https://github.com/quantumlib/Cirq/pull/3216.

[2020-09-16 18:05] #3124 closed

[2020-09-16 18:15] tonybruguier commented on #3220
@balopat balopat You can assign this issue to me, if you want.

[2020-09-16 18:15] tonybruguier commented on #2763
@balopat balopat You can assign this issue to me, if you want.

[2020-09-16 18:16] balopat commented on #2502
Discussed on Cirq Cynq:

``
cirq.cphase(angle) --> cirq.CZPowGate ** f(angle)
``

[2020-09-16 18:21] balopat commented on #2071
Discussed at Cirq Cynq - the use case seems unclear here. If this would be useful for someone, please comment. Otherwise we'll close it in 60 days.

[2020-09-16 18:24] viathor commented on #2071
Some information about a Hamiltonian corresponding to a unitary can be obtained using the KAK decomposition which is already in cirq. Perhaps, this is sufficient and we can close this issue. In any case, it would be useful to see a concrete use-case for this before we implement.

[2020-09-16 18:31] balopat commented on #2505
It already has this - closing.

[2020-09-16 18:31] #2505 closed

[2020-09-16 18:37] balopat commented on #3297
It sounds like a good idea to make Sweepable recursive - it is not trivial though, we need to do some mypy trickery.

[2020-09-16 18:39] maffoo commented on #3297
We can follow the trick we use with a mypy Protocol to make `OP_TREE` recursive: https://github.com/quantumlib/Cirq/blob/master/cirq/ops/op_tree.py#L26.

[2020-09-16 18:40] balopat commented on #3295
Discussed on Cirq Cynque: it sounds like this is ready to be deprecated, especially if it causes confusion to users when creating optimizers.

[2020-09-16 18:41] balopat commented on #3295
ping @dabacon please chime in!

[2020-09-16 18:45] balopat opened #3329 "Publish dockerfile regularly"
Publish dockerfile regularly -[ current one on dockerhub](https://hub.docker.com/r/quantumlib/cirq) is 1 year old.

Also publish two flavors under quantumlib/cirq:
- (default) cirq + qsim
- slim: cirq

[2020-09-16 18:53] mpharrigan commented on #3295
The problems with keeping it are

1. since it's neglected, new features sometimes introduce bugs when the developer forgets to think about this parameter (think: serializing circuits, circuit transformers)
2. it's unclear how circuit transformers should deal with the device attribute. Forward it? set it to something indicating the target of the transformation? Set it to UnconstrainedDevice?

[2020-09-16 19:51] pingyeh commented on #2215
Not in Q3... but I definitely wants to resume my Cirq work in Q4 when my main project is in good shape.

[2020-09-16 20:01] balopat commented on #2763
@tonybruguier assigned!
Please outline a design (here should be sufficient) instead of directly opening the PRs directly. I think there are a couple of design questions that are open.

[2020-09-16 22:38] #2502 closed

[2020-09-17 02:29] kevinsung commented on #2698
@crystalzhaizhai That's a difficult problem in general. You definitely implemented the feature satisfactorily as it was requested. The inconsistent behavior actually results from how we already inconsistently use `to_sweeps` versus `to_resovlers` so it definitely wasn't your fault.

[2020-09-17 03:16] crystalzhaizhai commented on #2698
@kevinsung It's great you pointed out the bug. Motivated me to think about the problem in general context. If I recalled correctly, you had a related pull request. Do you still plan to work on this? If so, I will change the assignee to you. If not, I can continue to fix it.

[2020-09-17 03:22] satw1knandala commented on #3021
Yes, I'm still down to help here. I will get into contact with him

[2020-09-17 12:39] kevinsung commented on #2698
@crystalzhaizhai I have opened #3333 to fix this and would appreciate your review.

[2020-09-17 13:19] tonybruguier commented on #2763
Thanks,

There is some discussion going on about how to handle noisy channels and which representation to choose. I plan to wait until there is resolution (I don't think I'm competent to chime in) and then once that decision is made, I will implement some of the functions as per the papers:
https://arxiv.org/pdf/quant-ph/0205035.pdf
https://arxiv.org/pdf/1102.0948.pdf

I already have PR #3226 out

[2020-09-17 13:28] kevinsung commented on #2904
I also like inference. If I understand correctly, this is how it would work:
- We create a QuantumState class that stores a numpy array and a qid shape.
- In the example `fidelity(density_matrix([[0.5, 0.5], [0.5, 0.5]]), [[1, 0], [0, 0]])`, the function `density_matrix` returns a QuantumState.

There is still the question of how the function `density_matrix` should infer the qid shape of its inpu

[2020-09-17 19:20] #2787 closed

[2020-09-17 20:10] balopat commented on #2677
Just to clarify this is what you are facing, right?

[code]
Throws an error
[code]

While

[code]

does the trick.

To answer your question: cirq.decompose happens to compile to the gateset that is compatible with the SYC_GATESET serializers, so today that seems to be your best bet.

Thoughts:

1. there is no nicer option than `cirq.decompose()` to convert a SingleQubitCliffordGate in general to r

[2020-09-17 22:23] #3315 closed

[2020-09-18 00:17] #2698 closed

[2020-09-18 00:17] #3018 closed

[2020-09-18 15:24] balopat commented on #788
I'll pick this up - @karlunho prepared a [doc](https://docs.google.com/document/d/1ME12KxdUHJGdcZqj7NkTxvdhYV_eNK8hHq9RsLsYRV8/edit#) for this

[2020-09-18 15:31] balopat commented on #2030
List programs, List jobs under a program, list all active or running jobs are done.
--- these are the only ones missing now:

Cancel all jobs under a program - we could implement this by the cancel_job() one by one
Cancel all jobs - in a project? we could also implement this by running cancel_job() one by one

@wcourtney is there a plan for "cancel call for multiple job_ids" in the service?

[2020-09-18 15:34] balopat commented on #2125
@dstrain115 is this still an issue?

[2020-09-18 15:51] balopat commented on #451
@aminjahanpour your gate is a 4 qubit gate (2 ** 4 x 2 ** 4 = 16 x 16 matrix) and not 3 qubit gate.

This works:

<details>
[code]
</details>

However, if you don't mind I'd hide your comment as it is off topic for this issue. Thanks!

[2020-09-18 15:55] balopat commented on #451
An update on this: #2873 basically has the solution, just needs a review (hint hint @quantumlib/cirq-maintainers).

[2020-09-18 16:53] balopat commented on #3145
ping @exAClior - are you looking at this? Thank you!

[2020-09-18 17:02] balopat commented on #3278
Are you referring to roughly making this method cache its results?

https://github.com/quantumlib/Cirq/blob/64939e53cfbbcf4984a254d3dc68690da9dd27de/cirq/ops/moment.py#L287-L295

[code]
works nicely:

[code]

Also xref #3145.

[2020-09-18 17:46] exAClior commented on #3145
Yes, I finished adding the feature, but I need to add tests for that piece of code. I will update it tonight.

[2020-09-18 19:24] balopat commented on #2211
These TODOs have been removed / resolved since then.

[2020-09-18 19:24] #2211 closed

[2020-09-18 19:29] balopat commented on #3219
I reproduced this - it is pretty serious, so we should fix this as soon as we can.

[2020-09-18 19:58] balopat commented on #3219
Based on internal discussions we need to prepare that sometimes the id comes in `q<int>_<int>` format.

[2020-09-18 20:03] balopat commented on #2956
This is fixed since then.

[2020-09-18 20:03] #2956 closed

[2020-09-18 20:36] mpharrigan opened #3340 "[XEB] GRID_STAGGERED_PATTERN vs. that used in grid_parallel_two_qubit_xeb.py"
`random_quantum_circuit_generation.py` has two "named" patterns: `GRID_STAGGERED_PATTERN` and `GRID_ALIGNED_PATTERN`.  They are documented.

In the `grid_parallel_two_qubit_xeb.py` experiment though, there's a third, unnamed pattern which seems like half of `GRID_STAGGERED_PATTERN`. Why was this chosen? Should we promote this to a "named" pattern in `rqc_generation.py`?

@viathor @kevinsung

[2020-09-18 20:49] mpharrigan opened #3341 "`cirq.num_qubits` protocol on Gate classes"
I would like to use the `cirq.num_qubits` protocol on gate classes

[code]

cc @cduck

**Cirq version**
HEAD

[2020-09-18 20:49] mpharrigan commented on #3341
Thing being Python, you can do the following underhanded thing:

[code]

[2020-09-18 21:39] cduck commented on #3341
What would the protocol do for gates like MeasurementGate that take a variable number of qubits to `__init__`?

If you decorate `_num_qubits_` with `@staticmethod` or `@classmethod` it might just work.

[2020-09-18 22:19] dstrain115 commented on #2125
I think we managed to work around the issue by building the package differently.  I am okay closing it and then re-opening it if we run into it again.

[2020-09-18 22:34] mpharrigan commented on #3341
For variable qubit gates, then the `default` argument will come into play and by default default raise a TypeError.

I agree with your diagnosis that those decorators could do the trick

[2020-09-18 22:55] mpharrigan opened #3342 "[XEB] random_quantum_circuit_generation assumes neighboring GridQubits are connected"
The random circuits generated take a list of qubit to implicitly define the device. In particular: it assumes that adjacent GridQubits should be interacted. I don't think this has ever happened, but you can imagine having two neighboring qubits that you *don't* want to interact; either because you're trying to model a certain circuit topology or if the coupling is physically non-functional between

[2020-09-19 13:22] kevinsung commented on #3340
The only logical requirement on the pattern used in `grid_parallel_two_qubit_xeb.py` is that it involves all possible grid interactions. A staggered pattern was chosen because it matches the one used to calibrate the chip internally (at least, I thought that was the case when I implemented it). It actually might make sense to call this one `GRID_STAGGERED_PATTERN` and change the name of the one th

[2020-09-20 23:32] tonybruguier commented on #1808
Would https://github.com/quantumlib/Cirq/pull/3344 be a reasonable attempt?

[2020-09-21 13:29] mrwojtek opened #3345 "FSIM_GATESET should support FSimGate(0, pi)"
**Is your feature request related to a use case or problem? Please describe.**
Use case: it supports CZ gate but not FSimGate(0, pi), which is the same.

**Describe the solution you'd like**
Support FSim(0, pi)

**[optional] Describe alternatives/workarounds you've considered**

**[optional] Additional context (e.g. screenshots)**

**What is the urgency from your perspective for this issue? Is it

[2020-09-21 14:06] balopat opened #3346 "Create a minimal docker image from the repo"
**Is your feature request related to a use case or problem? Please describe.**

The current Dockerfile is broken. See #3194.
Also, we'd like to publish our docker image regularly (see #3329).

**Describe the solution you'd like**

This issue is purely to make the current Dockerfile work - this will be the "slim" version described in #3329.
It will be a multistage dockerfile that creates a minimal

[2020-09-21 15:00] mrwojtek commented on #3345
Please hold on with this feature (it might not be a Cirq issue in the end but a bug of some kind). I'll update this later.

[2020-09-21 15:19] balopat commented on #3345
Sounds good - thanks Wojtek

[2020-09-21 16:31] balopat commented on #2821
I'd be curious to see what you put in `func` as well, @mpharrigan - the parallel execution will help only when we are network bound / waiting on the remote service's response. Do you have stats on this?
Before introducing any parallel/concurrent processing primitive we should figure out under what circumstances it helps and whether we can leverage existing features. It would be interesting to stud

[2020-09-21 16:36] #3145 closed

[2020-09-21 16:40] balopat commented on #2581
Part of #3228. It will be probably moving to its own package.

[2020-09-21 17:45] karlunho commented on #3346
@seunomonije I'm putting together some requirements into Google Docs for Docker Setup. Do you mind sending me an email at alankho@google.com with a gmail account so I can add you in ?

[2020-09-21 18:48] balopat opened #3347 "Process: follow numpy's python support cadence"
**Is your feature request related to a use case or problem? Please describe.**

We need clarity around what python versions we support. As python evolves, we get issues for incompatibility. (see issues labeled with python3.8), and we should have CI tests for the supported python versions.

**Describe the solution you'd like**

As we depend on NumPy, we could follow their support process of 42 mont

[2020-09-21 20:05] dkafri opened #3349 "Generalize MatrixGate to channels"
**Is your feature request related to a use case or problem? Please describe.**
I want to be able to algorithmically define arbitrary channel operations (e.g. with Kraus operators) without having to define my own custom Gate or Operation class.

**Describe the solution you'd like**
Basically something equivalent to MatrixGate, but which takes a tuple of Kraus operators instead of a single unitary.

[2020-09-22 02:40] crystalzhaizhai commented on #3088
<img width="797" alt="qubit_interactions" src="https://user-images.githubusercontent.com/31509747/93839592-4f7f3800-fc42-11ea-9bb0-24831cd5924b.png">

[2020-09-22 02:41] crystalzhaizhai commented on #3088
The prototype produced the following figure

![Uploading qubit_interactions.png…]()

[2020-09-22 02:42] crystalzhaizhai commented on #3088
The prototype produced the following figure:

<img width="797" alt="qubit_interactions" src="https://user-images.githubusercontent.com/31509747/93839675-8ce3c580-fc42-11ea-9c28-1430261896d4.png">

[2020-09-22 09:24] balopat commented on #3088
That looks awesome! Thank you for picking this up!

[2020-09-22 14:00] balopat commented on #1186
As Sphinx is going to be retired this issue should focus on reviewing all the sample code from docstrings on the new site under this issue.

[2020-09-22 14:06] balopat commented on #1188
This is for sphinx originally - the devsite works well. Closing.

[2020-09-22 14:06] #1188 closed

[2020-09-22 14:08] balopat commented on #1189
As we're retiring sphinx, the work here is to check this behavior in devsite.

[2020-09-22 14:09] balopat commented on #1347
Duplicate of #1121.

[2020-09-22 14:09] #1347 closed

[2020-09-22 14:11] balopat commented on #1373
A bit more details here would help. We do have a best practices section on the Google side - but there is no such thing in general. @Strilanc @dstrain115 @dabacon @c-poole - can you bullet point the ideas that were mentioned on the workshop?

[2020-09-22 15:27] dstrain115 commented on #1373
Yes.  This was a long-standing request where we could tell people the "right" way to do things, especially where there are multiple ways to do things.

The one thing I remember is that people should use cirq.Foo rather than package names.  So, prefer cirq.X  instead cirq.ops.X.

This would kind of be like a cirq style guide.

There's probably a fair amount of work to gather these practices togethe

[2020-09-22 16:00] 95-martin-orion opened #3353 "Discrepancy in __iadd__ vs. __add__"
**Description of the issue**
Adding gates to circuits behaves differently when using `circuit + gate` vs. `circuit += gate`.
It's not immediately clear which one of these behaves "correctly". Related issue: #3246.

**How to reproduce the issue**
[code]

<details>
cg (result of +=):

[code]

c + g:
[code]
</details>

**Cirq version**
0.9.0.dev

[2020-09-22 16:03] mrwojtek commented on #3345
In the end, everything seems to be alright on the Cirq side!

[2020-09-22 16:03] #3345 closed

[2020-09-22 16:26] maffoo commented on #3353
It looks like `Circuit.__add__` first [wraps](https://github.com/quantumlib/Cirq/blob/master/cirq/circuits/circuit.py#L269) non-circuits into a `Circuit` and then calls `__iadd__`, which in turn calls `append`. When appending a `Circuit` or `Moment` to another circuit, we preserve the moment structure, which is why `__add__` leaves the added Hadamard gate in its own moment but `__iadd__` moves it

[2020-09-22 17:06] balopat commented on #2799
I'm going to close this - the decision for now is to keep running Cirq automerge bot.

[2020-09-22 17:06] #2799 closed

[2020-09-22 17:34] hafez-ahmad commented on #1511
any support for windows 10 and python 3.8, I am getting the same error.
AttributeError: module 'numpy' has no attribute 'float128'

[2020-09-22 17:46] balopat commented on #1511
@hafez-ahmad can you share the code you're using where you're running into this using Cirq?

[2020-09-22 18:01] hafez-ahmad commented on #1511
@balopat here it is https://github.com/josuemtzmo/trackeddy/issues/9

[2020-09-22 18:28] vtomole commented on #1511
@hafez-ahmad  That code doesn't use Cirq.

[2020-09-22 18:40] balopat commented on #3353
While one could argue that casting up to Circuit is the correct solution (making both operands the same type) as it is happening in `__add__`, however:
1. `__iadd__` then should do the same (e.g. in case of lists `[2,3,4] + [3]` and `a_list += [3]` work but `[2,3,4] + 3` and `a_list += 3` don't
2.  I think personally the `append` behavior is more intuitive.

All in all +1 that we shouldn't wrap, b

[2020-09-22 21:16] Strilanc commented on #2771
`SingleQubitPauliStringGateOperation` inherits from `PauliString`, so it is technically still a pauli string.

[2020-09-22 21:18] mpharrigan commented on #2750
I think there are some good points raised here, but I don't think we're going to add insertion operations to gates per se. I also don't think we want to change the default circuit construction or risk breaking everyone's code.

I'm going to close this, but we can continue the discussion on #2775 and also #3235 for your other "nesting" point

[2020-09-22 21:18] #2750 closed

[2020-09-22 21:18] mpharrigan commented on #2775
What do we think? Is there a maintenance burden to continuing to support the methods we already have? Should we start the deprecation process?

[2020-09-22 21:20] Strilanc commented on #2411
`cirq.measurement_keys(circuit)`

[2020-09-22 21:20] #2411 closed

[2020-09-22 21:21] mpharrigan commented on #2740
xref #3235

[2020-09-22 21:21] Strilanc commented on #2076
This appears to be fixed now.

[2020-09-22 21:21] #2076 closed

[2020-09-22 21:21] Strilanc commented on #1986
I still notice pylint checks returning more results on my machine than in ci.

[2020-09-22 21:23] Strilanc commented on #1921
This is obsoleted by `mixture_channel` being deprecated and `mixture` taking up its functionality.

[2020-09-22 21:23] #1921 closed

[2020-09-22 21:24] mpharrigan commented on #2075
Did we go ahead and make at least one be required to be specified? also cc @wcourtney @dstrain115

[2020-09-22 21:25] Strilanc commented on #1671
I think this is obsoleted by `GridQubit.rect` existing and general python functionality for looping when creating circuits. Getting into sub-lattices is probably too specialized.

[2020-09-22 21:25] #1671 closed

[2020-09-22 21:26] mpharrigan commented on #685
I think this would be nice

[2020-09-22 21:27] balopat commented on #2679
Thank you for opening @obriente! This sounds like a nice idea - I would love to hear more use cases to justify an implementation.

[2020-09-22 21:29] mpharrigan commented on #2570
Also see in cirq.contrib.noise_models how measurement is special-cased

[2020-09-22 21:29] Strilanc commented on #1286
I think for testing methods it is best for each test to specify its tolerance. It is convenient to have default tolerances (and we do have this in some places) but really it is something that should be thought about for each comparison IMO. I'll close this pending someone else feeling strongly enough to re-open it.

[2020-09-22 21:29] #1286 closed

[2020-09-22 21:31] Strilanc commented on #756
Although I think this would be great to do, it is quite difficult to pick a stopping point when it comes to optimizers. I think "all optimizations cancel locally" is as good a line as any. Also... this is now obsoleted by xmons being an older architecture.

[2020-09-22 21:31] #756 closed

[2020-09-22 21:32] Strilanc commented on #461
It's now possible to specify these gates using the `_act_on_` protocol.

[2020-09-22 22:53] viathor commented on #2775
I think the arguments above that Circuit should be simple, robust and slowly changing still stand, but before we decide, we should address the convenience issue raised above by @dabacon.

One approach consists of upgrading insert strategy from a mere enum that it is today to its own standalone type (a class or a set of functions with matching signatures) and then factoring the insertion logic out

[2020-09-22 22:57] Strilanc commented on #361
Closing this because it's more of a local implementation detail / development guideline than a bug / feature request.

[2020-09-22 22:57] #361 closed

[2020-09-22 22:58] Strilanc commented on #666
Are there specific gates we want to do this to? For example, PauliString implements this kind of group action.

[2020-09-23 01:50] mpharrigan commented on #2775
Sounds like a decent idea to me, xref #3246

[2020-09-23 02:05] mpharrigan commented on #2821
`func` is a call to quantum engine. You need a variant of `EngineSampler` that has an async `run` method, where instead of blocking polling for a job to complete, you yield. When I had a bunch of 50k shot jobs to run, it gave almost a 2x speedup (heuristic) through a combination of keeping the engine-side queue warm and pipelining client-side classical processing. Now, batching might give you a bi

[2020-09-23 02:06] mpharrigan commented on #3340
I like that idea. Do we have to care about backwards compatibility issues if we do that rename? I'll try to poke around if anyone is using it internally

[2020-09-23 02:32] Strilanc commented on #2775
I disagree that circuit should not have "push to left" functionality when appending. I use this functionality all the time.

Allowing precise commands does not mean you have to remove convenient commands. This would be like requiring all calls to `np.array` to specify a dtype, because the type inference is a bit finicky.

I agree in principle with removing insertion strategy, because I haven't spe

[2020-09-23 03:53] mpharrigan commented on #2775
Oh, I was imagining the default would still left-align

[2020-09-23 08:09] btchiaro opened #3354 "Physical Z length may be incorrect in the documentation"
**Description of the issue**

In the documentation the physical z is listed as having a typical length of 12 ns: https://github.com/quantumlib/Cirq/blob/master/docs/google/devices.md#physical-z-gates

I believe that the physical z is typically 10 ns long, with 5 ns pads before and after.

[2020-09-23 08:10] btchiaro commented on #3354
@dstrain115

[2020-09-23 15:26] balopat commented on #2125
Thanks, let's do that then!

[2020-09-23 15:26] #2125 closed

[2020-09-23 18:28] balopat commented on #3293
Discussed at Cirq Cynq:
* due to the specificity of each simulators this would be hard to abstract out into an interface
* even within simulators this is a hard problem to exactly measure - estimation is more typical (e.g. see quimb) than explicit measurement

[2020-09-23 18:35] balopat commented on #3353
Discussed at Cirq Cynq: append is the way forward for both without Circuit() wrapping.

[2020-09-23 18:36] Ashalynd commented on #3293
Suggestion: consider using https://docs.python.org/3/library/resource.html , which provides information about system resources used by a program.

[2020-09-23 18:36] 95-martin-orion commented on #3353
Point of clarification: this means that we will keep the current `circuit += gate` behavior and change the `circuit + gate` behavior to match.

[2020-09-23 18:39] viathor commented on #2775
`Circuit.append` would remain unchanged, i.e. it would continue to call `Circuit.insert` with `cirq.EARLIEST` insert strategy (as it does today).

[2020-09-23 18:40] balopat commented on #3347
No objections at Cirq Cynq!

[2020-09-23 23:59] crystalzhaizhai opened #3356 "_write_annotations in cirq.vis.Heatmap produces wrong result"
**Description of the issue**
_write_annotations method adopted the mesh.get_paths() which groups edges together to find the cells to be annotated. Under certain use cases, the method would group the wrong edges together that forms "empty cells" instead of the correct cells.

To reproduce the wrong result, use an input contain has empty cells.

[code]

**Cirq version**
0.9.0 dev

[2020-09-24 01:46] yourball commented on #3056
I think I managed to fix the issue by modifying function apply_next_swaps(...) in greedy router. In fact these changes were **implemented earlier** to fix such a problem and then for some reason were **reverted**.

See this screenshot:
<img width="1265" alt="image" src="https://user-images.githubusercontent.com/11663863/94091177-99ecea00-fde5-11ea-8d2c-b03d92b21175.png">

After modifying apply_nex

[2020-09-24 04:43] viathor commented on #3220
We should also generalize the symmetric depolarizing channel.

[2020-09-24 16:33] obriente commented on #2679
So as a simplest example:

import cirq
circuit = cirq.Circuit([cirq.H(cirq.GridQubit(0,0)), cirq.CNOT(cirq.GridQubit(0,0), cirq.GridQubit(0,1)),
                        cirq.measure(cirq.GridQubit(0,0), cirq.GridQubit(0,1), key='m')])
simulator = cirq.Simulator()
result = simulator.run(circuit, repetitions=1000)
hist = result.histogram(key='m')
p0 = sum(hist[::2]) # Ideally, would return the numbe

[2020-09-24 20:08] balopat commented on #3103
The real test for `single_qubit_op_to_framed_phase_form` is in `test_single_qubit_op_to_framed_phase_form_equivalent_on_known_and_random` that covers the actual decomposition. The test that fails depends on a particular order and factors of the eigenvectors that makes it fail on different platforms and numpy versions. The solution to this is to remove the test.

On my Mac (where the tests pass):

[2020-09-24 21:01] #3103 closed

[2020-09-24 21:01] #3105 closed

[2020-09-24 21:01] #3210 closed

[2020-09-24 21:50] #3219 closed

[2020-09-24 22:15] therooler opened #3359 "float32 parameters leads to significant performance loss of parameter resolver"
**Description of the issue**
Calling `cirq.resolve_parameters` to resolve the parameters of a symbolic circuit with `np.float32` parameters leads to a significant performance loss. I ran into this bug while working on loading circuit parameters from a `.npy` file on [this TensorQuantum Dataset PR](https://github.com/tensorflow/quantum/pull/304). Verifying that the circuits produced the expected wa

[2020-09-24 22:22] maffoo commented on #3359
There's a special case in `resolve_parameters` to handle floats: https://github.com/quantumlib/Cirq/blob/master/cirq/study/resolver.py#L93. It currently checks `isinstance(value, float)` which on 64-bit python seems to be True for `np.float64` but False for `np.float32`:
[code]
Perhaps instead we could for example expand the list of types, or do something like `isinstance(value, numbers.Number)`.

[2020-09-24 22:48] yourball commented on #3056
Submitted PR #3360

[2020-09-24 23:08] tonybruguier commented on #3220
Yes, I would be happy to take this on. I probably can't get around to it until this weekend. Would that be ok?

[2020-09-24 23:41] viathor commented on #3220
Sure! That is completely fine.

Thank you for working on this! We really appreciate your help!

[2020-09-25 14:01] therooler commented on #3359
Right. But than integers also make it through, I don't know if that will lead to unexpected behavior.
[code]

Changing it to `isinstance(value, (float, np.float32))` would solve the issue I had. Alternatively, the `resolve_parameters` docstring could mention that we expect Python `float` or `np.floatx` on x-bit python. It's kind of a fluke that I stumbled upon this, just because I accidentally sto

[2020-09-25 14:46] balopat commented on #3356
Hi @crystalzhaizhai, thank you for filing the issue! Can you provide a small code to reproduce the issue you are seeing?

[2020-09-25 15:31] balopat commented on #1808
Closed in #3344.

[2020-09-25 15:31] #1808 closed

[2020-09-25 19:11] balopat commented on #1859
Thank you for filing this @peterse!

This sounds like a useful index for gates. An idea here is to have a single query function that would scan the list of all gates and can take parameters like:
- num_qubits
- is_parameterized

We can start there and then we can build more functionality as required. What other "queries" do you typically use @peterse?

[2020-09-25 19:18] balopat commented on #1999
Not sure when it started to do it but pylint reports cases when an import is only used for type annotations:

e.g. if I move the import cirq statement out of TYPE_CHECKING in cirq/devices/device.py, pylint will complain:

[code]
I think we can close this but I'll wait for your input @dabacon

[2020-09-25 19:27] balopat commented on #2103
Is the main motivation behind updating the qubits "online" during simulation, instead creating space for them upfront to optimize resource usage? Or is it more of a user experience concern, that you'll have to now add the extra qubits upfront when constructing the circuit?

[2020-09-25 19:31] balopat commented on #1755
I haven't seen this behavior for a while now and I'm sure there were PRs with both request for changes and approval on them. Putting needs-repro on it, which will mark this issue stale eventually.

[2020-09-25 19:38] balopat commented on #1740
Yes @satw1knandala, we'd love to see this implemented, yes, I renamed the issue to state_vector.

[2020-09-25 21:13] balopat commented on #3266
Subcircuits + loops should help in this
cc @95-martin-orion

[2020-09-25 21:17] balopat commented on #3154
@kevinsmia1939 do you have an update here?
Also, what is the entrypoint for the tests when you run them? We could potentially introduce something there to exclude dev tool tests.

[2020-09-25 22:27] mpharrigan commented on #1999
There are still (many?) locations in the code where a type annotation uses a cirq submodule that is only ever used in the type annotation and should be turned into the `"cirq.XXX"` string idiom. As an example, I opened a random file (simulator.py) and saw immediately that we
[code]
but only ever use `circuits.Circuit` in type annotations where `"cirq.Circuit"` would be better

@dabacon -- at least

[2020-09-25 22:32] balopat commented on #1999
Oh, okay, that's fair - I'll rename the title then to reflect that standardization effort.

[2020-09-26 02:17] peterse commented on #2271
oops, sorry for taking so long. I'm struggling to find time to contribute so I'm going to unassign myself for now

[2020-09-26 03:47] tonybruguier commented on #3220
Sent #3361

[2020-09-26 11:28] kevinsmia1939 commented on #3154
Hi, I have not submit it to openSUSE python package maintainer yet since it is a master branch, they prefer a point release.
I have not tried the latest master yet since 19 Aug, but I will try the latest one today.
I can tell pytest to ignore the dev tool test with --ignore option. So not an issue if I need to exclude some test.
About the entry point, I will do it sometime today, afk at the moment

[2020-09-26 13:04] balopat commented on #2032
This is a duplicate of #1755.

[2020-09-26 13:04] #2032 closed

[2020-09-26 13:07] balopat commented on #2812
The answer is yes, this is coming next quarter. See the roadmap item #3234.

[2020-09-26 13:07] #2812 closed

[2020-09-26 15:34] kevinsmia1939 commented on #3154
Does bash script test need any dependency?
I check and I do have bash installed as dependency just in case.

I'm not sure what you mean by entry point. But I think you mean where pytest was execute?

This log should give a full commands use to run pytest.

[code]

Full log here: https://build.opensuse.org/build/home:andythe_great/openSUSE_Tumbleweed/x86_64/python-cirq/_log

[2020-09-26 18:52] satw1knandala commented on #1740
Sure, I will get started on this one. You can assign me. Thanks!

[2020-09-27 01:56] danchev commented on #3154
Following test are used to test changes related to the repository, and not the codebase itself.
All of the failing tests, require the existence of a local `.git` repository since they run git commands (eg. `git add -A`) and validate the response.
Release packages do not include the repository files (`.git` directory), and as a result tests running against a release and not clone of the entire repo

[2020-09-27 13:07] kevinsmia1939 commented on #3154
@danchev
Thank you for the help. I hope this will be useful to @balopat .
By the way, how do you make pytest verbose?

[2020-09-28 21:01] viathor commented on #3220
AFAICT, the only thing remaining before we can close this issue is the TODO in common_channels.py.

[2020-09-28 22:57] cduck commented on #2103
This isn't about updating qubits "online".  The simulators currently take an ideal circuit and a noise model, then simulates the noisy circuit.  This issue here is the density simulator assumes the qubits in the ideal circuit are the same as the noisy circuit.  This limits the transformations a `NoiseModel` can perform on a circuit.

My current workaround for the two use cases I mentioned is to fi

[2020-09-29 00:35] tonybruguier commented on #3220
I sent #3363 for review. No hurry at all.

[2020-09-29 13:38] #3302 closed

[2020-09-29 15:23] #3353 closed

[2020-09-29 17:44] balopat commented on #3359
Adding https://github.com/quantumlib/Cirq/pull/3366 - I think the conservative solution here to add np.float32 is a fine
incremental step. I opened a PR to add this in #3366.

I would be open to create a more generic solution which matches and returns number literals, maybe relying on `numbers.Number` - One of the problem with `numbers.Number` is that it matches things like `sympy.S.NegativeOne`,

[2020-09-29 19:48] viathor commented on #3220
I think this is done. Thank you, @tonybruguier ! :-)

[2020-09-29 19:48] #3220 closed

[2020-09-29 19:49] tonybruguier commented on #3220
You're welcome. Thanks for letting me learn.

[2020-09-30 01:29] balopat commented on #3359
I have a fix that provides pass-through for `numbers.Number` instances and the sympy constants.

The speedup is there now for np.float32 as well:

![image](https://user-images.githubusercontent.com/635073/94633252-c186fb00-029a-11eb-863a-e73b772ded24.png)

[2020-09-30 14:00] #3359 closed

[2020-09-30 16:20] balopat opened #3368 "Use pydata_google_auth instead of colab for Engine auth"
# Problems
Using google-colab as the dependency is problematic because:
 - On jupyter locally we have issues because of exactly google-colab: #3318
 - it has all sorts of issues with python 3.8
 - it's heavyweight

# Recommendation

I'd suggest using instead pydata_google_auth for auth. It is light weight and works on both colab (installed by default) and jupyter notebooks (we can install it as pa

[2020-09-30 16:27] balopat commented on #3368
cc @dstrain115 wdyt?

[2020-09-30 18:16] balopat commented on #3074
Discussed on Cirq Cynque:
1. even if we'd rename it, a better name would be quditorder.
2. to benefit our users, we will keep the more familiar qubitorder

Closing.

[2020-09-30 18:16] #3074 closed

[2020-09-30 18:24] balopat commented on #3257
No objections on Cirq Cynque.

[2020-09-30 18:31] balopat commented on #3354
Discussed on Cirq Cynque:
 - This should be changed to 20ns + we should mention that this is subject to change
 - when we can retrieve this from the device, we should have a snippet retrieving gate lengths

[2020-09-30 18:32] tonybruguier commented on #3288
I could be interested, if that's all right. Let me read up more and get back to you on this?

[2020-09-30 18:41] balopat commented on #2534
Discussed at Cirq Cynque:
- there is no really a good place to warn the user about this
- maybe we could introduce an analyze method that could tell whether the circuit would benefit from flattening or not
- autoflattening: we have to look into this if it would actually add value/benefit  -- marking as needs-feasibility

[2020-09-30 19:04] peterse commented on #2534
Yea its worth checking whether flattening makes as much of a difference after #3205

[2020-09-30 19:04] dstrain115 commented on #3354
Sure, I will take care of this shortly.

We can retrieve gate lengths, but the problem is that some gates have multiple different durations depending on parameters (z can be 0 or 20ns and Fsim can be 0, 12 or 32)

[2020-09-30 19:13] dstrain115 commented on #3368
I think this is fine.  It is a BSD-3 clause license, which I think is okay, but it might be worth checking out to verify that this is an acceptable license.

[2020-09-30 20:01] #3194 closed

[2020-09-30 20:01] #3318 closed

[2020-09-30 20:49] #3050 closed

[2020-09-30 22:01] balopat commented on #3288
That would be awesome @tonybruguier, thank you!

[2020-09-30 22:16] #2624 closed

[2020-10-01 01:01] therooler commented on #3359
Great!

[2020-10-01 13:14] dstrain115 commented on #3263
So, it looks like this doesn't quite work in our favorite environment, since it looks like the version number is not super well specified.  Maybe it got pulled from master or something:

This is the error:
"invalid literal for int() with base 10: '0+unknown'"

I think it is fine for it to assume unknown versions are not compatible, but it should not error out.

[2020-10-01 17:00] #3263 closed

[2020-10-01 19:53] balopat commented on #2816
A label on Circuit sounds good to me - we can use that in Circuit diagrams as well as in SubCircuits later.
cc @95-martin-orion

[2020-10-02 03:51] tonybruguier commented on #3288
It seems this will be a challenge for me. I am happy to work through it, but I wouldn't want to take too much of your time during the reviews. I'd be OK if you decide someone else is better suited.

That said, I have this very draft commit:
https://github.com/tonybruguier/Cirq/commit/14bfbd6c1c3481bd05c9784b700acc253f2b506d
Certainly not ready for review. Am I on the right track?

[2020-10-02 04:15] shouri007 commented on #3324
@balopat I'd like take this up.

[2020-10-02 15:09] balopat opened #3380 "TrialResult -> Result rename broke json parsing"
**Description of the issue**

`cirq.TrialResult` was deprecated for `cirq.Result`, however the json parsing did not follow correctly the deprecation, the new code breaks on the old json format.

**How to reproduce the issue**

[code]

Prints:
[code]

**Cirq version**
v0.9.0

[2020-10-02 21:15] balopat commented on #3324
Hi @shouri007 - thank you for taking this up, it's yours! Regarding mac we don't have the instructions but we do have a task to document it - I'm working on a mac myself - it is definitely possible. If you're interested taking that up as well, let me know - otherwise if you get stuck (I just use venv personally and `pip install -r requirements.txt -r cirq/contrib/contrib-requirements.txt -r dev_to

[2020-10-02 21:40] #3380 closed

[2020-10-05 02:55] balopat commented on #887
Related #3231.

[2020-10-05 03:13] balopat commented on #1246
Maybe we can use Subcircuits(#3235) to achieve this?

[2020-10-05 03:31] balopat commented on #2582
Agreed with the deprecation - I know that it is used in TFQ - not sure why - so we should definitely be careful deprecating it.

[2020-10-05 16:30] #3354 closed

[2020-10-05 17:28] balopat commented on #3276
This is now supported!

[2020-10-05 17:28] #3276 closed

[2020-10-05 17:48] balopat commented on #1986
I noticed that the pylintrc has a weird configuration - it used `[config]` instead of `[MASTER]` section - not sure how it was working at all - I think we were running pylint with default settings everywhere.

https://github.com/quantumlib/Cirq/pull/3387 is fixing this + upgrades to the latest pylint.

I believe that #3387 should fix this issue.

[2020-10-05 17:59] balopat opened #3388 "Setup docstring linting"
**Is your feature request related to a use case or problem? Please describe.**

Docstrings are a returning issue on PRs, it would be great if we could automate the feedback on them as well for Google style docstrings.

**Describe the solution you'd like**

Setup the [docstyle](http://pylint.pycqa.org/en/latest/technical_reference/extensions.html#pylint-extensions-docstyle) and [docparams](http://p

[2020-10-05 18:43] maffoo opened #3390 "Stronger typing for cirq.resolve_parameters"
**Is your feature request related to a use case or problem? Please describe.**

Currently the type of `cirq.resolve_parameters` is:
[code]
Since the result is `Any`, we lose type information whenever we resolve parameters. However, for many important cirq objects (gates, operations, moments, circuits) it is typically the case that resolving parameters returns an object of the same type. To avoid l

[2020-10-05 18:44] maffoo opened #3391 "Stronger typing for cirq.resolve_parameters"
**Is your feature request related to a use case or problem? Please describe.**

Currently the type of `cirq.resolve_parameters` is:
[code]
Thus, by resolving parameters we lose type information. However, for many important cirq objects (gates, operations, moments, circuits) it is typically the case that resolving parameters returns an object of the same type. To avoid losing type information it'd

[2020-10-05 18:44] maffoo commented on #3391
Dupe of #3390

[2020-10-05 18:44] #3391 closed

[2020-10-05 20:44] #1986 closed

[2020-10-06 01:50] kevinsung opened #3394 "Fix validate_normalized_state requiring complex64"
~~Inconsistent use of np.complex64 vs np.complex128 results in undesirable behavior such as~~

Calling `validate_normalized_state` fails despite not specifying a required dtype:

[code]
giving a ValueError:
[code]

[2020-10-06 23:51] zaqqwerty commented on #2582
Wanted to mention that we removed this stray use from TFQ in the PR [here](https://github.com/tensorflow/quantum/pull/400)

[2020-10-07 12:19] balopat commented on #2582
Thanks for the info @zaqqwerty!

[2020-10-07 20:52] dstrain115 opened #3402 "Read the docs has goofy copyright"
**Description of the issue**
Copyright shows up on cirq tutorials on readthedocs.

**How to reproduce the issue**
Go to https://cirq.readthedocs.io/en/latest/docs/gates.html or other pages.  Top part says "Copyright 2020 The Cirq Developers" with apache license.

**Cirq version**
0.9.1.  It probably broke when we adjusted all the copyright notices.

[2020-10-08 14:59] balopat commented on #3402
This is the standard header that @lamberta put on every notebook as part of the devsite migration - including the buttons that I strip out during sphinx doc building as they looked even worse.
It didn't bother me too much because we'll shut down RTD soon, and I'd expect less people to look at the latest link.

I guess I can strip out the header cell as well fully from RTD publishing. I wonder how

[2020-10-08 20:31] lamberta commented on #3402
The license was a legal requirement for the notebook docs so we need it in the source notebook. But we remove it on the website because we already display the (same) license info in the footer.

For publishing to RTD, stripping it is fine with me as long as it remains in the source.

[2020-10-08 20:38] mpharrigan commented on #3402
I did some minor stripping here: https://github.com/quantumlib/ReCirq/pull/64/files#diff-1135f4acf7ec38e9ff5417b385142a20R162 in ReCirq. If you really wanted, you could probably munge out entire cells. I don't think it's a huge issue since we're moving off RTD and the new build system does strip the license info

[2020-10-08 20:49] balopat commented on #3402
@mpharrigan yeah, I'm removing the title, already in Cirq inspired by your stripping. I just don't see the ReCirq notebooks having these "@titleLicense" fields on the website (https://recirq.appspot.com/recirq/index.html) is that because you haven't published it since then?

[2020-10-08 21:03] balopat commented on #3402
Anyways, it is easy to strip it so I just raised a PR to avoid confusion while we still have the `latest` RTD site up

[2020-10-08 21:32] #3402 closed

[2020-10-09 10:19] rheaparekh commented on #3286
Hi @balopat, I made the corresponding changed needed for this issue. However, I forgot to first claim the issue. I don't think I saw anyone working on this, so is it fine if I go ahead and make a pull request?

[2020-10-09 11:20] sgangoly opened #3406 "NEQR example request in Cirq for QIMP"
Hi Gurus,

I am trying out Quantum Image Analysis for quantum machine learning classification of Gravitational Lenses.

NEQR reference:  https://link.springer.com/article/10.1007/s11128-013-0567-z

The first step would be to try to use NEQR (as FRQI is good only for grey scale) for 256 RGB to process the image. Hence, I was wondering if there would be any known NEQR code samples in Cirq around ple

[2020-10-09 12:16] balopat commented on #3286
Awesome, thank you @rheaparekh, yes please open the PR!

[2020-10-09 15:30] vtomole commented on #3406
Hey @sgangoly , I don't have access to that article.

[2020-10-09 16:16] sgangoly commented on #3406
Hi @vtomole , it appears also to be downloadable from researchgate: https://www.researchgate.net/publication/257641933_NEQR_A_novel_enhanced_quantum_representation_of_digital_images

[2020-10-09 16:50] vtomole commented on #3406
@sgangoly Thanks for the accessible link.

[2020-10-09 21:15] rezah opened #3408 "MatrixGate"
Is there any way to transform an arbitrary two-body MatrixGate into given logical raw gates? and or in an approximate way. It seems the decomposition class does not work here.

[2020-10-10 02:05] mpharrigan opened #3409 "Simulate factorizable circuit"
**Is your feature request related to a use case or problem? Please describe.**

If you're running many "independent" circuits in parallel on a given set of qubits (where independent means there are no entangling gates between them; i.e. you can factorize the circuit (and therefore wavefunction)) you can simulate it much more efficiently than working in the full 2^(all n qubits) space.

**Describe

[2020-10-10 18:00] seunomonije commented on #3346
@balopat @karlunho starting on the Dockefile now. @karlunho I just emailed you for access to the google doc.

Reviewing the current file, I have 2 questions.

1. What is the purpose of lines 8-11 shown below?
https://github.com/quantumlib/Cirq/blob/50d9be8812ca5729344bdd58b33e21b7831f9105/Dockerfile#L8-L11
2. Would you prefer the packages be installed to `.local` directory of the user, or in a vir

[2020-10-11 22:27] balopat commented on #3408
Thank you for your question @rezah! We prefer taking questions on Quantum StackExchange - we also monitor that for `cirq` tags - it serves really well as a searchable database for knowledge.

To answer it: You should look at `cirq.two_qubit_matrix_to_operations` for the raw unitary of your MatrixGate. It uses the KAK decomposition to decompose it to two-qubit and one-qubit gates.

[2020-10-12 19:26] satw1knandala commented on #1740
update: still working on this. should be done by end of week

[2020-10-12 22:49] satw1knandala commented on #1740
@Strilanc @balopat i was able to create the function sample_final_state_vector, but I am writing tests and have a few questions -

1. to test against a fully general channel, can i just create a random non unitary matrix and test it on that? or do you have a better solution to this?
2. should i replicate the tests for final_state_vector to sample_final_state_vector in mux_tests.py? the functions o

[2020-10-12 22:59] satw1knandala commented on #3341
I can work on this if no one else is on it already. Let me know @balopat @cduck @mpharrigan

[2020-10-13 00:16] zchen088 opened #3411 "Single qubit clifford XZ decomposition is missing two Cliffords"
**Description of the issue**
See title

**How to reproduce the issue**

[code]

**Cirq version**
0.9.0.dev

[2020-10-13 12:18] balopat opened #3412 "Add Github new issue workflows for more issue types"
We have templates for feature requests and bugs.

I think we should have templates for:
- kind/docs (Documentation bug or feature request)
- kind/design-issue (Design discussions that are not yet feature requests)
- kind/health (Issues related to technical debt, testing, release, etc.)
- kind/deprecation (An issue to deprecate a feature)
- kind/task (contributors only)

[2020-10-13 12:45] balopat opened #3413 "Enable CI job for testing commits on master"
When we migrated to Github Actions we did did not add the tests on master to the workflows. While most issues are supposed to be caught on the checks on each PR and we don't merge without the branch being up to date with master, I think it still can serve some purpose to run these tests on the actual commits to have final proof that everything is passing on master. In my experience in some rare ca

[2020-10-13 15:50] maffoo commented on #3411
In addition, is possible to change the XZ decomposition to use ZXZ instead of XZX so that each clifford has at most 1 microwave gate?

[2020-10-13 17:07] kevinsung commented on #3394
We should probably use complex64 due to space and time savings. The drawback is that numpy uses complex128 by default, so users creating numpy arrays using numpy will either have to tell numpy to use complex64, or tell Cirq that they are using complex128.

[2020-10-13 17:27] kevinsung commented on #2904
For JSON serialization of the QuantumState data type it would be nice to have https://github.com/quantumlib/Cirq/issues/2742.

[2020-10-13 18:24] yourball opened #3415 "Support of R(theta, phi) gates from QASM"
Hi,

it looks like that R(theta, phi) gates are not supported by QASM parser in Cirq.
It is especially strange having in mind that R(theta, phi) gate is hardware native gate for Google devices.

At the same time R gate is implemented in Cirq as cirq.PhasedXPowGate(p, t) and could be added in a circuit, but could not be parsed from QASM. Qiskit on the other hand supports QASM readout of the R gate.

[2020-10-14 18:14] Strilanc commented on #3406
The answer to your question is that there isn't a NEQR example in cirq. We'd be open to a code sample being contributed to the docs. Although it sounds like in your case the sample may be more appropriate for tensorflow quantum.

I'm going to close this as "question answered".

[2020-10-14 18:14] #3406 closed

[2020-10-14 18:15] Strilanc commented on #3394
To me it looks like the bug here is "validate" assuming complex64 is required, instead of only doing that if the user asks for it.

[2020-10-14 18:18] balopat commented on #3349
Discussed on Cirq Cynq: this sounds reasonable, and we could also even add this functionality for mixtures too.

[2020-10-14 18:26] balopat commented on #3342
Discussed on Cirq Cynque:
- it sounds like the best place for the responsibility to store the adjacency information would be in `Device` (maybe within a `DeviceTopology` class)

[2020-10-14 18:31] balopat commented on #3290
Cirq Cynque discussion:

- slight preference towards functional direction.
- we should have consistency
- only one standard way should exist
- deprecation is going to be a bit tricky

[2020-10-14 18:40] balopat commented on #3058
Discussed on Cirq Cynque: this might be useful but not high priority for us at the moment, if somebody is willing to contribute it, we'll accept it as it seems useful for our qudit support.

[2020-10-14 18:48] balopat commented on #3034
Discussed on Cirq Cynque:
- the use cases seem to be one-off ones for now - i.e. an argument of qubits for diagramming should be sufficient to handle this

[2020-10-14 19:50] #3411 closed

[2020-10-16 12:10] apassenger opened #3421 "DLL not found (Installation on Windows)"
Dear All,

I tried to install cirq on windows as described here: https://cirq.readthedocs.io/en/stable/docs/install.html#installing-on-windows

And the library succefully installed but I cannot import cirq. When I tried "import cirq"  I am getting "DLL not found" error

How can I solve my problem?

Best regards

[2020-10-16 15:09] balopat commented on #3421
Thanks for filing @apassenger - can you please provide more details? I could not reproduce the issue:

![image](https://user-images.githubusercontent.com/635073/96275623-cdefa100-0f86-11eb-9ace-ec7aa37ec82a.png)

It would be great to know the exact error message.
Also the python version you are using and what `pip list` shows.

Thanks!

[2020-10-16 22:31] balopat commented on #3415
Thanks for opening this!
Yes, this should be relatively easy to implement using a mapping like this:

[code]

[2020-10-17 17:51] apassenger commented on #3421
Hello,
Thanks for your answer and sorry for my late answer. Here are my all messages:
![er1](https://user-images.githubusercontent.com/25195538/96349769-72becb00-10ba-11eb-8a15-d5c2d3705a49.PNG)
![e2](https://user-images.githubusercontent.com/25195538/96349772-794d4280-10ba-11eb-8fd3-d6eb471adfd5.PNG)

[2020-10-17 18:38] vtomole commented on #3421
@apassenger Looks that error is in `matplotlib`. Try downgrading your version of `matplotlib` and try again like https://stackoverflow.com/questions/24251102/from-matplotlib-import-ft2font-importerror-dll-load-failed-the-specified-pro.

[2020-10-17 19:34] apassenger commented on #3421
Hello,
Thanks a lot :)
I needed to upgrade matplotlib, after that I have 3-4 similar error and I did the same thing for the other libraries and now it is working
Thanks again and I am closing to issue :)

[2020-10-17 19:34] #3421 closed

[2020-10-19 23:41] balopat commented on #3154
You can make pytest fully verbose by using `-vvv`.
The tests require git to be present.
The tests themselves create a temporary folder, run `git init` on it and test the scripts based on some changed files.
I think you can totally safely ignore these tests, they do not affect the quality of the package.

[2020-10-20 10:11] kevinsmia1939 commented on #3154
Thanks, closing this.

[2020-10-20 10:11] #3154 closed

[2020-10-20 21:42] balopat commented on #3324
Yes, I believe so!

[2020-10-20 22:03] LorcanConlon opened #3429 "Specific noise model for Googles quantum computers"
Is there a way to simulate the noise of googles quantum computers using circ? In the same way that any of IBM's computers can be simulated using different backends?
[code]
Ideally I would want something like above which allows me to easily call the noise properties of for example Bristlecone or Sycamore.

If this is not possible does anyone know the best way to approach simulating the noise of any

[2020-10-20 22:49] karlunho commented on #3429
Thanks LorcanConlon. Simulating noise is something that is very delicate that we want to be thoughtful about. Although you can use noise models in the cirq simulator, we don't yet have a detailed noise model of our processor that we are ready to make public yet. However, you can infer many of the parameters from our quantum supremacy supplemental - https://www.nature.com/articles/s41586-019-1666-5

[2020-10-20 23:01] LorcanConlon commented on #3429
Hi karlunho, thanks for your response. I have read through the supplementary in an attempt to model the noise in this way. I have a simple three qubit circuit which I wish to run. Starting from the IBMQ noise model I have constructed something similar that allows me to investigate the performance of a quantum computer in terms of the parameters IBM use to characterise their devices: thermal relaxa

[2020-10-21 18:12] mpharrigan commented on #3327
I think this refers to [cirq.experiments.google_v2_supremacy_circuit](https://github.com/quantumlib/Cirq/commits/master/cirq/experiments/google_v2_supremacy_circuit.py) rather than the above named file in `cirq.google`.

[2020-10-21 18:13] mpharrigan commented on #3327
xref https://github.com/quantumlib/Cirq/pull/2235

[2020-10-21 18:33] mpharrigan commented on #3342
Yes, we need to store the adjacency information *and* update the API of the random_quantum_circuit_generation function to take the adjacency information

[2020-10-21 18:34] mpharrigan commented on #2757
@viathor @XiaoMiQC is this an issue?

[2020-10-21 18:36] mpharrigan commented on #2233
I'd vote for avoiding putting them in the top-level namepsace. And, of course, when a given experiment starts getting complex it should be considered for ReCirq

[2020-10-21 18:44] balopat commented on #2472
Discussed at Cirq Cynq:
- we should make this issue a bit more specific around what the change that we propose here
- other thoughts:
     - half turns are useful for high precision / exact calculations but are less user-friendly (surprising when you're coming from typical textbook context)
     - maybe offer both rads and half_turns?

[2020-10-21 22:02] mpharrigan commented on #2113
See https://github.com/quantumlib/ReCirq/issues/85

[2020-10-21 22:26] mpharrigan opened #3438 "Cirq Circuit Efficient Serialization"
Cirq supports JSON serialization of all its objects. This is highly portable and extensible but can be somewhat verbose. As part of the XEB refactor I'm working on (https://github.com/quantumlib/ReCirq/issues/85); we need to generate a whole suite of large (wide and deep) and save them to persistent storage. Using the vanilla JSON serialization is both prohibitively slow and disk-space-taking. To

[2020-10-22 01:20] cduck commented on #3438
1. You could include a header with the used set of gates specified with their json encodings.  The circuit encoding could be something really simple like `a 0 2,b 1,c 4 3 5;a 1 2,a 3 5;...`.

Compression: Some libraries allow you to specify an initial or commonly known vocabulary to improve file size.

[2020-10-22 18:46] balopat commented on #3438
It is interesting that you discounted protobuf - that would have been my first thought for efficiency.
Why do you say protobuf's shouldn't be used for long term storage?

[2020-10-22 19:52] mpharrigan commented on #3438
I was under the impression that it was for messages in-flight (like when doing an RPC call) and lacked some of the backwards compatibility / stability required for long-term use.

In any event, I was discounting repurposing the existing quantum-engine protobuf serialization because it only works for certain gates. I'll edit the list of options above

[2020-10-22 20:00] mpharrigan commented on #3438
@cduck yes, that would be an option for a grammar for a (1)-type implementation

re: compression: even with "off the shelf" tools, it works good enough for me.

[2020-10-22 20:01] mpharrigan commented on #3438
I edited in 6 into 6a and 6b. My commentary on 6b ["use protobuf"] is reproduced below:

For 6b, we'd have to weigh how to compose (or not!) with JSON serialization of other cirq objects. For example, I exploit the fact that I can serialize anything in one cirq json file by storing a list of circuits, some qubits, result data, numpy arrays, et al. We'd either have to provide protobuf objects for e

[2020-10-22 21:41] balopat commented on #3438
The new edits make sense - I agree with 6b not being a good drop-in solution.

While we should compare options and keep pushing the boundaries as much as possible, it would be useful to capture the demarcation lines which below things are unacceptable, acceptable and ideal specifically for the XEB applications, e.g.:

Typical XEB instances: 100 x  10 qubit circuits of depth 100

| Requirement | Ac

[2020-10-23 05:37] maffoo commented on #3438
I'd vote for option 4. It might even be possible to autodetect whether passed a gzip or plain text file by looking for gzip [magic number](https://en.wikipedia.org/wiki/Gzip#:~:text=%22gzip%22%20is%20often%20also%20used,and%20the%20operating%20system%20ID), so this could be done in a fairly transparent way. Might be worth looking into a binary-first alternative like bson, but those seem like they'

[2020-10-23 09:55] apassenger opened #3441 "Installing Cirq on Windows 10"
Hello,
I al trying to install cirq for Window 10 and Installation was completed successfully. However I have some import error:
What is the problem?

[2020-10-23 10:00] apassenger commented on #3441
Sorry I tought I added images but I cannot upload any images via GitHub
Here my error images: https://ibb.co/6vMRK6n

[2020-10-23 14:33] apassenger commented on #3441
Ok I don't know what is this problem and how I can fix it but I log in Windows 10 with another user so It is for me ok

[2020-10-23 15:15] balopat commented on #3441
This seems to me an environment issue. Can you do `pip install --force-reinstall -U cirq` and try again?

[2020-10-23 15:20] balopat commented on #3441
How did you install things? If different users have different experience, then it might be that the original installation ended up in some sort of privileged location that not all users have access to. Does the user that works have admin rights? Does the other one not? Anyway, this clue points to an environment issue as well.

Another thing I would try is the [`--user` flag](https://stackoverflow.

[2020-10-23 15:22] balopat commented on #3441
Finally another clue - as this is scipy related maybe forcing a downgrade will help based on this [SO thread](https://stackoverflow.com/questions/62566691/error-when-loading-scipy-oserror-winerror-126-the-specified-module-could-not)

[2020-10-23 18:39] mpharrigan commented on #3438
In case it wasn't clear by the slanted way I wrote the original post, I also like option 4 :)

@balopat -- I agree that it's important to actually create a benchmark to measure what we want. We should budget for 50 circuits of depth 200 on 50 qubits for XEB probably

[2020-10-23 19:38] satw1knandala commented on #1740
@balopat are we still tracking this? thank you

[2020-10-23 19:42] satw1knandala commented on #3394
hi, I can tackle this. please assign me if you need it

[2020-10-23 19:43] satw1knandala commented on #3349
I can tackle this if it is needed. Thanks!

[2020-10-23 21:04] balopat commented on #3349
Thank you for volunteering - go for it @satw1knandala!

[2020-10-23 23:04] balopat commented on #3438
I like that too now that I realized that to_json is for any object, not just Cirq objects.
I think we have a winner. Marking it as triage/accepted. What's the priority on this one?

[2020-10-23 23:48] #2953 closed

[2020-10-24 17:08] kevinsung commented on #3394
@satw1knandala I've already submitted #3428, which fixes this.

[2020-10-26 07:52] crystalzhaizhai commented on #3356
@balopat Sorry just saw the comment! I opened this bug per @pingyeh 's request. Do you have a immediate example at hand?

My current [implementation](https://github.com/quantumlib/Cirq/pull/3351) took out this part of code and adopted a different solution.

@pingyeh mentioned in our 1:1 that he wants to fix this bug and add rendering to the graph in this quarter. Please let me know if you are stil

[2020-10-27 00:00] balopat opened #3444 "Remove deprecated v0.9 and v0.10 items"
We should have removed the v0.9 items when we released v0.8 from the development branch.

[code]

Now that we are on dev v0.10 we can remove these guys as well:

[code]

[2020-10-27 02:24] mpharrigan commented on #3248
Regarding the first post, I don't think we should "switch" the representation to channels. This sounds like an ideal place for "protocols" where an operation can give its choi matrix "by hand" or it can be automatically computed from the kraus operators

[2020-10-27 15:58] balopat commented on #3356
Got it, thanks for the clarification - I'm marking it as triage/accepted.

[2020-10-28 04:40] rmlarose opened #3447 "Should an IonDevice accept any qubit type?"
Some docstrings ([here](https://github.com/quantumlib/Cirq/blob/master/cirq/ion/ion_device.py#L26)) state qubits are one a line, while others ([here](https://github.com/quantumlib/Cirq/blob/master/cirq/ion/ion_device.py#L42)) state qubits are identified by their x, y location. I believe the latter is a typo due to the [annotation](https://github.com/quantumlib/Cirq/blob/master/cirq/ion/ion_device.

[2020-10-28 15:05] 95-martin-orion opened #3452 "Equal circuits may have unequal measurement keys"
**Description of the issue**
Circuits which are equal do not necessarily have equal `all_measurement_keys` output. Encountered in #3445, where it prevents the use of `@lru_cache` to cache FrozenCircuit details.

**How to reproduce the issue**
Run the following python code (partial copy from `test_all_measurement_keys` in `cirq/circuits/circuit_test.py`):

[code]

**Cirq version**
0.10.0.dev

[2020-10-28 15:36] maffoo commented on #3452
It seems to me there's no meaningful sense in which `all_measurement_keys` should be ordered. I would suggest we change it to be a set, or at least document that the order is not meaningful. This seems similar to the [`parameter_names`](https://github.com/quantumlib/Cirq/blob/master/cirq/protocols/resolve_parameters.py#L83) protocol where we return a set. I presume tuple was chosen in the `measure

[2020-10-28 16:11] balopat commented on #3452
The only reason I could guess why insertion order was preserved in the ordering measurement keys is to control the output ordering of `cirq.Result`...but I don't see any evidence of that from a cursory look. It is undeniably better to rely on sorting based on intrinsic properties of the measurement keys if needed at all - which the set semantics express much better. Thanks for reporting and the qu

[2020-10-28 16:51] #3452 closed

[2020-10-28 17:06] Ashalynd commented on #3409
Is someone already looking at this, or can I give it a shot?

[2020-10-28 17:39] balopat commented on #3409
Let's chat about it on Cirq Cynq today @Ashalynd - thanks for volunteering!!

[2020-10-28 17:46] Ashalynd commented on #3409
Sure, sounds good! (I'll be there today ~15 minutes later, schedule mangled due to the winter time).

[2020-10-28 18:24] balopat commented on #3409
Discussed on Cirq Cynque:

Use case: mostly characterization, example: two qubit parallel XEB

Initial design ideas:

 1. `factorize_circuit`: Factor the circuit into smaller circuits if possible  - simulators could use this to attempt to factorize circuits in general
 2. the reverse: create a function to run smaller circuits "in parallel" on the device/simulator and then post-processing: return t

[2020-10-28 18:38] balopat commented on #2577
Discussed on Cirq Cynque: it is a bit unclear in what cases this would help. Caching the statevector before the first measurements would be one way to implement this. Marking it as needs-more-evidence for now. If someone feels strongly about this please comment / reopen after this gets closed.

[2020-10-28 18:54] balopat commented on #2742
Discussed on Cirq Cynq:

- it doesn't feel like that it's cirq's responsibility to provide this reversible serialization for naked numpy arrays - it is however when it's embedded in a Cirq object like `cirq.Result` - for which we have helper functions
- changing the default here would be a breaking change
- We could expose these helper functions to be more discoverable though. Marking as triage/ac

[2020-10-28 19:26] mpharrigan commented on #3438
This is high priority for my work. I'll take this issue.

One question I have is how to deal with filenames and design the API.

How should the user specify compression when writing. One option would be to have `to_json(file_or_fn, *, comrpess=None)` where `None` means "no compression" and `"gzip"` means gzip. This can only work when passed a filename (not when returning a string or writing to an

[2020-10-29 04:40] balopat commented on #3438
I think we should have symmetry between the two directions and have both convention based and explicit methods.

Signatures:

[code]

**Explicit (`compress is not None`)**

If `compress="no"` or `compress="gzip"` are defined, that behavior is forced ("no" = plain text). No fallbacks.

**Convention based (`compress is None`)**

[code]

WDYT?

[2020-10-29 19:09] balopat commented on #3368
The problem I have with pydata_google_auth is that it uses PyData for the consent screen which is unfamiliar for the users.
![image](https://user-images.githubusercontent.com/635073/97620988-8124b500-19df-11eb-8c06-203ca9a8ae9f.png)

Colab uses Google Cloud SDK which is also different from the Quantum Computing Service. @dstrain115 have we ever thought of creating an oauth consent page for QCS? I

[2020-10-30 19:06] satw1knandala commented on #3349
Question about this @balopat @dkafri - can this be achieved by creating a class that just creates several matrix gates by looping through the tuple of kraus operators? something like a wrapper that manages all the different matrix gates at once?

[2020-10-30 20:51] dkafri commented on #3349
I am not a Cirq expert, but I think the simplest thing would be to subclass cirq.Gate. The custom class can be initialized with the Kraus operator matrices, which can then be returned for the call to `_channel_()`. Additionally, for the implementation of `on` you will want to check that the matrix dimensions match the qubit dimensions.

[2020-10-31 05:56] divya-mohan0209 commented on #3388
@balopat :  I'd like to help out in this endeavour since I've some experience in RTD & Sphinx.  Would you still be needing help?

[2020-11-01 02:45] josealvarez97 opened #3471 "How to apply for access to Google Hardware?"
Sorry for asking here, but the documentation is rather obscure on this topic (https://cirq.readthedocs.io/en/latest/docs/google/access.html). How do I apply for access to Google Hardware. In particular, access to Google Cloud's Quantum Engine API. (IBM's Quantum Lab is rather accessible, so I wonder why Google's Quantum Engine isn't.)

I am an undergraduate student at Minerva Schools at Keck Gradu

[2020-11-02 21:34] dstrain115 commented on #3368
Can we just warn the user that they will have to authenticate via pydata?

[2020-11-02 22:39] balopat commented on #3368
Thanks for the follow-up idea - I should have captured this - based on our chat on Friday I will do the following:

I will make the colab auth conditioned on colab being detected. Otherwise it will assume "advanced" usage and won't help with the interactive login. I'll make this very clear in the comments in the cells. If the jupyter user is not logged in, they will get DefaultCredentialsError. We

[2020-11-02 22:39] #3368 closed

[2020-11-02 22:40] karlunho commented on #3471
Hi,

We are currently testing our service with a very limited set of collaborators. I recommend you to check out cirq, and experiment with qsim for your undergraduate project. Using qsim, you should be able to simulate up to 30 some qubit on a beefy workstation.

[2020-11-02 23:20] balopat commented on #3388
Hi @divya-mohan0209 - that would be great! Our .pylintrc lives under dev_tools/conf. We are following Google style.  Please raise a PR and we can discuss the breakages and how to fix them, which flag to turn on or off!

[2020-11-03 02:02] josealvarez97 commented on #3471
Thanks @karlunho, I will do that.

[2020-11-03 17:17] balopat commented on #3056
Was fixed in #3360.

[2020-11-03 17:17] #3056 closed

[2020-11-03 17:35] #3471 closed

[2020-11-04 16:37] dabacon opened #3479 "RFC proposal: IonQ integration"
This is a proposal to integrate vendor IonQ's api into Cirq:

[RFC: Cirq IonQ integration](https://docs.google.com/document/d/1ml1mZ-LyCxh1_FtRPBOqDfoxZAxvMDl95ePc-Dvq-aw/edit#heading=h.mckr847qq60k)

See RFC document for details.

[2020-11-04 16:53] dabacon commented on #3479
Ooops wrong doc shared, should be correct now.

[2020-11-05 14:01] akushnarov commented on #3274
Esteemed,

I've started working on this issue. Cirq is pretty new for me and I would need some guidance here, could you please advise?

Especially my question was:
Where it is better to implement "commutes" functionality:
- In the "[commutes_protocol.py](https://github.com/quantumlib/Cirq/blob/master/cirq/protocols/commutes_protocol.py)" (by extending the list of strategies, see the [diff](https:/

[2020-11-06 18:06] balopat commented on #3447
I agree - I think we should expect `LineQubit`s - now we have an ion-computing expert, @dabacon can you chime in?

[2020-11-06 18:45] balopat commented on #3323
Also, if we create a good integration testing environment, we can run the Google notebooks against them as well.
The problem with the qsim "processor" is that for example reservations are not supported for it.
Maybe we could have a fake processor implementation for integration tests? @wcourtney what do you think?

[2020-11-06 21:36] balopat commented on #3408
I'm going to assume that this helped. Please reopen, comment if you need more information.

[2020-11-06 21:36] #3408 closed

[2020-11-07 00:44] #3185 closed

[2020-11-07 00:44] #3099 closed

[2020-11-07 00:44] #2835 closed

[2020-11-07 00:44] #2664 closed

[2020-11-10 16:00] dabacon opened #3490 "Zenodo citation author"
The authorship of "Quantum AI team and collaborations" for the zenodo citation link, I think, is not really correct.  1) Unlike the quantum computing effort at Google, not everyone on that team contributes (nor even the vast majority) to Cirq. and nit 2) It doesn't say Google, it just says "quantum AI team", which doesn't really inform anyone about the authors who does not work at Google.

I sugge

[2020-11-10 17:17] balopat commented on #3490
Thank you for opening this - I agree that this is not correct, I was just following the ReCirq pattern which could be also questioned but probably more correct than here. I like "Cirq Developers" as it is easy. The full authorlist is challenging given that not even all our contributors share their real names. Defining a cut-off at a commit count would be a reasonable idea, but that still doesn't h

[2020-11-10 17:19] dstrain115 commented on #3490
@balopat Which citation is this?  Can you point me to the right place?

[2020-11-10 17:23] maffoo commented on #3490
+1 for "Cirq Developers". What's that saying about every problem being solvable by adding a level of indirection? If it is possible to add extra information when publishing to zenodo, we might add a link to the [contributors](https://github.com/quantumlib/Cirq/graphs/contributors) page on github. Even if we can't publish that to zenodo, we could consider adding that link to the readme where the ze

[2020-11-10 17:24] maffoo commented on #3490
@dstrain115, it's in the readme: https://github.com/quantumlib/Cirq#how-to-cite-cirq

[2020-11-10 17:44] dstrain115 commented on #3490
Oh, I agree, I don't think that's the correct way to cite cirq.  My suggestion is to change it to "Google Quantum AI and Cirq Developers" for now (our current official designation combined with the term we use in the copyright notice).  We may also want to run this by our internal (pubpy) publication committee as well.

This is not the same as ReCirq, which is primarily Google experiments, so I do

[2020-11-10 18:34] balopat commented on #3490
I like Cirq Developers + link to Contributors page from the notes field [in the metadata](https://developers.zenodo.org/?python#deposit-metadata). Great idea on asking for guidance from pubpy. Thank you!

[2020-11-10 22:48] 95-martin-orion opened #3492 "Expectation value API for simulators"
**Is your feature request related to a use case or problem? Please describe.**

Currently, finding expectation values from a simulator in Cirq requires implementing the `SimulatesFinalState` interface and using the resulting state vector to get the expectation values. If simulators provide a more efficient way of producing expectation values, we should prefer that instead.

**Describe the solution

[2020-11-11 13:57] akushnarov commented on #3274
1. As discussed on the https://gitter.im/cirqdev/community, I'm going to implement the solution on the `Moment` class side.
2. As for the tests I will take into account the feedback (from the same channel):

[2020-11-11 14:04] #3394 closed

[2020-11-11 15:52] 95-martin-orion opened #3494 "Make state vector copying explicit"
The `state_vector` method in `StateVectorTrialResult` includes a copying of the state vector to resolve issue #3101:
https://github.com/quantumlib/Cirq/blob/8bf262e957363e9475defaaa8cf088fb7890e7a5/cirq/sim/state_vector_simulator.py#L215

This eliminates the issue of mutating the state vector, but can significantly increase runtime for large circuits without a clear indication of the root cause. W

[2020-11-11 22:37] XiaoMiQC commented on #2757
I believe the formula in the documentation is actually equivalent to what is being done in the code. This has been used on actual quantum processors and I have obtained fidelity numbers as expected. One can test the equivalence by generating bits using the Cirq simulator and compute the results using the code. If it is different than what you get out of implementing the formula in the documentatio

[2020-11-12 19:06] wjy99-c commented on #2504
Is this bug still reproducible? I mean "The strange thing that the output probabilities varying with gamma (the CZ parameter)".  My code seems fine when changing the gamma with the example on https://cirq.readthedocs.io/en/latest/docs/tutorials/variational_algorithm.html.

[2020-11-13 04:38] balopat opened #3501 "Fix quantum volume notebooks"
They are broken in multiple ways. The API seem to have changed under them.

[2020-11-13 05:39] balopat opened #3502 "Fix testing for example notebooks"
We should lift the fidelity estimation notebook into our regular docs/tutorials folder.

Currently it's also untestable as it fails with:

[code]

[2020-11-13 05:53] balopat commented on #2711
Given the crazy amount of notebooks coming and going now with QPolish, this is a must. I raised a PR for a version that runs the pip installs in isolated envs.

[2020-11-13 12:19] alex-treebeard opened #3504 "Notebook Testing Feedback"
Hey folks (specifically @balopat),

I noticed you tried using [treebeard](https://github.com/treebeardtech/treebeard) for testing example notebooks and that it hasn't exactly gone smoothly ([context](https://github.com/quantumlib/Cirq/runs/1393127125)).

Just wanted to encourage you to leave me a list of problems, frustrations, suggestions, and any other feedback I can use for prioritising work on

[2020-11-13 18:18] balopat commented on #3504
Hey @alex-treebeard, I like the reachout :) I like treebeard. But then the specific use case here convinced me that it wasn't a fit (at least for now), so I ended up rolling my own driver for the notebook tests. Specifically:
- ability to run notebooks in their own virtual environment - most of our users use notebooks in Colab and currently we install cirq via `!pip install cirq` in the first cell

[2020-11-13 19:11] alex-treebeard commented on #3504
Thanks so much for the writeup.

I can see how much work you put into this testing setup so I'd like to get your feedback in a few days after I put in some fixes on my end as I reckon this is a great case study for my project.

Will follow up on your fork.

[2020-11-13 19:11] #3504 closed

[2020-11-13 19:56] viathor commented on #3501
The notebooks are [here](https://github.com/quantumlib/Cirq/tree/master/examples/advanced).

[2020-11-13 22:35] #2711 closed

[2020-11-16 15:45] akushnarov commented on #3274
Hey @balopat, could you please check the [proposed solution](https://github.com/quantumlib/Cirq/compare/master...akushnarov:issue3274?expand=1), if no comments I'll create a pull request

[2020-11-16 23:46] dabacon commented on #3295
It was originally designed to do validation, i.e. to enforce that your circuit could run on the given device.

I think I'm the one who advocated the mistaken pattern of using it during circuit construction.  There was a nice use case where you could use it to gracefully handle the "not parallel ops" in the old Bristlecone architecture.

I think it should be deprecated as well.  (I suspect there is

[2020-11-16 23:50] dabacon commented on #3494
For the final simulator state it's not clear why it needs to copy at all (Think @95-martin-orion commented on this in original PR not sure why I ignored it).

[2020-11-17 00:44] #2071 closed

[2020-11-17 00:46] balopat commented on #2412
Related to #3231

[2020-11-18 18:28] balopat commented on #3020
It seems that we are a bit stalling with this one, I would like to drive this to a decision.

The maintainer team is a bit split: It seems that the current proposal is not ready to be accepted due to concerns about too much generality (@Strilanc) and overhead (@mrwojtek). There are some concerns around naming as well, specifically the `crosstalk_graph` (`not_simultaneity_graph`?). However, in http

[2020-11-19 00:25] wjy99-c opened #3511 "PointOptimizationSummary results in an infinite loop"
**Description of the issue**
When I set `clear_span` to negative, `PointOptimizationSummary` result in an infinite loop
**How to reproduce the issue**

[code]

It also happens when I set `clear_qubits` to some unregistered qubits. I think it should give an exception instead of running endlessly.

**Cirq version**
0.9.0

[2020-11-19 00:46] #1611 closed

[2020-11-19 02:38] balopat opened #3512 "Showcase protocols based on annotation"
Instead of manually maintaining the list of notable protocols we could annotate them, so that they will be included in the main protocols docs.

[code]

_Originally posted by @balopat in https://github.com/quantumlib/Cirq/pull/3485#discussion_r526554704_

[2020-11-19 17:03] Ashalynd commented on #3409
We just discussed this with Alan, who suggested that the reverse might be more interesting (and physically relevant) problem (with the reverse being understood as: given a number of circuits and the specific device (or a simulator), and the information about two-qubit error rates, figure out how many of them could be reliably run together on this device.

Will open another issue for that.

[2020-11-19 17:05] 95-martin-orion commented on #3511
Thanks for filing this issue! I agree that the right solution here would be to validate the values of `clear_span` and `clear_qubits` in the `PointOptimizationSummary`. You're welcome to open a PR with the fix, or one of our maintainers should get to it within a week.

[2020-11-20 17:38] balopat commented on #3274
Hey @akushnarov, create the PR and we can continue from there, it's easier to comment on a PR!

[2020-11-20 21:03] balopat opened #3517 "Consider adding StateVectorMixin to ProductState, _NamedOneQubitState"
StateVectorMixin provides a couple of useful features on the state vector itself. `ProductState` and `_NamedOneQubitState` and its subclasses could benefit from it.

cc @mpharrigan wdyt?

[2020-11-20 21:51] balopat commented on #3288
# Observable projectors

After the initial PR #3386 and chatting with both @MichaelBroughton and @viathor here is a rephrasing of requirements - comments, thoughts would be highly appreciated!  Then when we have an agreed design, we can modify #3386 accordingly and prepare for the next PRs with a design in mind.

Today, one can calculate the expectation value of an observable for a given a state b

[2020-11-20 22:41] balopat opened #3518 "Support OpenQASM 3.0"
Currently we only support OpenQASM 2.0, we should start to look into what is required for exporting and importing to and from the new version of [OpenQASM 3.0](https://qiskit.github.io/openqasm/)

**What is the urgency from your perspective for this issue? Is it blocking important work?**
P3 - I'm not really blocked by it, it is an idea I'd like to discuss / suggestion based on principle

[2020-11-20 22:41] mpharrigan commented on #3517
The mixin uses `qubit_map` which is designed for a vector (aka ndarray) based representation so you can map qubits to indices in a contiguous array. ProductState is like a dictionary (so this isn't applicable) and NamedOneQubitState only has one qubit (per its name (it's also named per its name)).

Is `StateVectorMixin` used anywhere? Either "no" or my pycharm is broken :)

[2020-11-20 22:53] mpharrigan commented on #3288
If we change `cirq.ProductState.projector()`, I'll need some way to get the matrix form somehow

Projector operators could very easily SupportChannels and maybe even in pure state simulation. https://algassert.com/quirk#circuit=%7B%22cols%22%3A%5B%5B%22H%22%5D%2C%5B%22%E2%80%A2%22%2C%22X%22%5D%2C%5B1%2C%22%7C0%E2%9F%A9%E2%9F%A80%7C%22%5D%5D%7D

[2020-11-20 23:37] mpharrigan commented on #1611
Should we keep this open?

[2020-11-21 00:02] balopat commented on #3288
The `.matrix()` method should work, similar to the `PauliSum`

Oh, I might have misunderstood something - I thought channels should be trace-preserving - i.e. for Kraus operators A_i, \sum_i A_i A_i^{\dagger} should be the identity. For a projector like P=|0><0|, you just get P^2 = P, which is not I. In my understanding that is a quantum _operator_ but not a _channel_.

[2020-11-21 00:23] balopat commented on #1611
We totally can, there was not much movement on it - if the impact is not too bad on performance with all the casting in `__unitary__` for every parametrizable gate, then we can have this just for the sake of prettier circuit outputs. Do you see this valuable? Why did you comment on it? Just reviewing stale closed issues or because it came up in a use case?

[2020-11-21 02:33] balopat commented on #3490
This is confirmed now - the verdict is "Cirq Developers + link to Contributors page from the notes field in the metadata"- I just need to raise a PR and fix it :)

[2020-11-23 00:19] dabacon commented on #3349
@satw1knandala I think you don't want to mix matrix gates and these channel matrix gates.  The reason is that matrix gates should be unitary gates, and there is a sort of expectation that it describes such an object.  The matrices in the Krauss operators are not necessarily (usually) unitary, so this would likely lead to confusion.  I think just passing a tuple of the matrices makes sense here and

[2020-11-23 00:48] #2678 closed

[2020-11-23 11:06] akushnarov commented on #3274
@balopat here is the [PR](https://github.com/quantumlib/Cirq/pull/3519)

[2020-11-23 15:59] #3285 closed

[2020-11-23 19:17] Ashalynd commented on #3438
+1 to trying gzipping before anything else.

[2020-11-24 00:47] #3293 closed

[2020-11-24 03:32] crystalzhaizhai commented on #2553
Hi folks,

I have a fix for the bug. After rewriting the algorithm, the prototype provides the following results:

in:
circuit = cirq.Circuit(
    cirq.CZ(cirq.GridQubit(6, 2), cirq.GridQubit(6, 3)),
    cirq.CZ(cirq.GridQubit(5, 2), cirq.GridQubit(5, 3)),
    cirq.CZ(cirq.GridQubit(6, 3), cirq.GridQubit(7, 3)),
)
or
circuit = cirq.Circuit(
    cirq.CZ(cirq.GridQubit(5, 2), cirq.GridQubit(5, 3)),

[2020-11-24 03:36] crystalzhaizhai commented on #2553
I haven't spent time on coming up with more edgy test cases. Ideas are welcomed!

[2020-11-24 04:35] Ashalynd commented on #3409
Thinking further about this.

Matthew @mpharrigan : a few clarifying questions :)

1. Is it correct to assume that the circuits in two examples below (taken from tutorial) both have two factors (both could be split into [0] and [1, 2] in terms of the participating qubits):

[code]

and here:

[code]

and from the point of factorization, this example:

[code]

will be identical to this:

[code]

an

[2020-11-24 07:44] akushnarov opened #3529 "Functionality decoupling for "_strat_commutes_from_operation""
Move "commutes" check from the protocols to the "Operation" class.
- Now: "_strat_commutes_from_operation" is a part of [commutes_protocol.py](https://github.com/quantumlib/Cirq/blob/master/cirq/protocols/commutes_protocol.py)
- Should be: part of "\_commutes\_" in [ops.Operation](https://github.com/quantumlib/Cirq/blob/master/cirq/ops/raw_types.py)
(This is related to the #3274)

P3 - I'm not rea

[2020-11-24 14:36] akushnarov commented on #3274
FYI I added an issue 3529 (as it was discussed separately).

[2020-11-24 16:43] #3274 closed

[2020-11-24 20:38] mpharrigan commented on #3409
1: yes, all of your assertions are correct. The "H"s example: the two circuits are identical anyways (ignoring real-world noise, see below)

2. yes. You could probably implement this functionality by making a networkx graph representation of the circuit (where an edge is added for each two qubit interaction) and using the "connected components" algorithm to find the factors, as I mused in the orig

[2020-11-24 23:43] tonybruguier commented on #3288
Hi,
I updated PR #3386 as a try to reflect what is being discussed. It's not a push toward one direction, I'm happy to revise it further (especially because I understand the design is not completely settled).

[2020-11-26 00:11] nlbao opened #3541 "Notebooks: incorrect URLs to QuantumLib site"
**How to reproduce the issue**
* Open a notebook, for example: https://github.com/quantumlib/Cirq/blob/master/docs/gates.ipynb
* Look for the ***"View on QuantumLib"*** link --> it incorrectly points to https://www.example.org/cirq/....

**Cirq version**
0.10.0.dev

[2020-11-26 00:48] #673 closed

[2020-11-26 01:40] viathor opened #3542 "Inconsistent canonicalization of FSim angles"
**Description of the issue**

`FSimGate` and `PhasedFSimGate` disagree on whether or not theta and phi angles that are used by `__init__` and are exposed as properties are canonicalized (by projecting them into [-pi, +pi]) or not.

**How to reproduce the issue**

[code]

**Cirq version**
0.10.0.dev

[2020-11-26 02:50] 95-martin-orion opened #3544 "cirq.resolve_parameters sometimes fails to fully resolve parameters"
**Description of the issue**

Previous discussion: #3538

When calling `cirq.resolve_parameters` with a multi-step ParamResolver (e.g. `{a: b, b: c}`), whether or not the resolution completes depends on the alphabetical ordering of the symbols involved. From `sympy.Basic.subs`:

Given that this is the expected behavior in sympy, we either need to switch to one-step parameter resolution or hack tog

[2020-11-26 03:10] viathor commented on #3544
A trouble with our own recursive multi-step parameter resolution is of course that it may never complete, e.g.:

[code]

Alphabetic ordering is just one of many unsatisfying ways to prune a subset of edges from the parameter dependency graph to force it into a DAG. I doubt a satisfying solution exists to this problem without some extra information to guide the pruning.

I think it's reasonable to

[2020-11-26 03:47] balopat commented on #3541
Thanks for noticing, this is intended. It is a temporary situation - we are working on a new site, so these are placeholders - sorry for the confusion!

[2020-11-26 03:47] #3541 closed

[2020-11-26 03:49] balopat commented on #3529
This sounds like a good idea in principle, but maybe there was a reason that it lives in the protocol module. Would you like to try if it will work on the Operation class? It should be quick to try to make all the tests pass.

[2020-11-27 09:42] akushnarov commented on #3529
Hey @balopat, I did some research and here is the following output:
- it's possible to move the logic from `_strat_commutes_from_operation` to the Operation class (with some adjustments)
- if the functionality is moved, the tests from `protocols/commutes_protocol_test.py` fail (the reason is not in the moved code itself)

The reason of test fail is in the  class "GateOperation" which implements `_

[2020-11-29 21:37] smitsanghavi opened #3547 "Break out / Delegate `_act_on_` implementations to `_act_on_SPECIFIC_STATE_REP_` methods"
A circuit composed of Clifford operations should be simulated on `CliffordSimulator` by default. Before running the actual circuit, we need to verify that all the operations are efficiently simulatable on the above. Currently, to determine this we rely on `is_supported_operation` method in `CliffordSimulator` which is based on some heuristics which might be brittle and are slightly expensive.

It

[2020-11-30 00:53] #2534 closed

[2020-11-30 16:15] obriente opened #3549 "InsertStrategy.EARLIEST does not appear to be working?"
I'm trying to concatenate two circuits acting on independent qubits to run in parallel. As far as I can tell this should work if I use cirq.InsertStrategy.EARLIEST with either circuit.insert or circuit.append, but in both cases the second circuit appears to be added in parallel.

I've put together a minimal example below. Sorry that it's a bit messy, hope that it makes sense.

**Cirq version**
0.1

[2020-11-30 16:29] maffoo commented on #3549
When adding "op trees" to circuits, the insert strategies really only work if you are actually adding individual operations. If you add moments or circuits (which are composed of moments) we preserve the moment structure which results in the behavior you are seeing. You can work around this in one of two ways, either convert the circuit to be added/inserted into a stream of operations which will t

[2020-11-30 16:31] obriente commented on #3549
Ah ok. Thanks for the information and the quick reply.

[2020-11-30 16:31] #3549 closed

[2020-11-30 16:38] maffoo commented on #3549
No problem, @obriente. As a follow-up, if there are places where you feel this behavior could be described better please feel free to suggest improvements to the docs. Manipulating circuit structures like this is a core part of cirq, so we want to be sure to document it clearly.

[2020-11-30 16:53] obriente commented on #3549
Hmmm, good question. Upon re-looking, I guess this is what is meant in the docstring for 'circuit.append' by the line 'Moments within the operation tree are appended intact.' ? (And similar for circuit.insert.)

This could perhaps be expanded on a bit, it's currently a bit cryptic to me (I must admit I also didn't check the docstring before submitting the issue, which is my bad, ). Maybe expanding

[2020-11-30 19:40] 95-martin-orion opened #3550 "Expression-to-symbol maps in ParamResolver are ignored"
**Description of the issue**

Mapping expressions to symbols in `ParamResolver` is ignored during resolution. Expressions to values, however, work as expected - at least for basic cases.

**How to reproduce the issue**

Expressions to values:
[code]

Expressions to symbols:
[code]

**Additional comments**

I'm not convinced that there's an active use case for this behavior that couldn't be achieve

[2020-11-30 21:31] viathor commented on #3550
I agree we should only allow symbols and not expressions as keys.

Expression keys seem to have a poor cost/benefit ratio. Specifically, on one hand there don't seem to be many compelling use-cases and on the other any practical implementation is likely to fail to be completely general leading to arbitrary and unclear scope of what is and isn't handled.

[2020-11-30 23:32] balopat opened #3552 "Relax install_requires constraints"
Based on https://packaging.python.org/discussions/install-requires-vs-requirements/ "It is not considered best practice to use install_requires to pin dependencies to specific versions".

We need to loosen up `install_requires` while keeping the CI stable. We don't have good, documented reasons for the lower/upper boundaries. Maybe we could just pin to major versions and let the minors fly free? A

[2020-11-30 23:42] maffoo commented on #3552
Thanks for raising this issue. For some things I think it makes more sense to test against the oldest supported version (e.g. want to make sure we don't require new features) while for other things it's nice to test against newer versions (e.g. want to test that we take advantage of new features if available). Since it's infeasible to run tests against the entire matrix of possible versions, one p

[2020-12-01 00:04] mpharrigan commented on #3552
@maffoo , your suggestion is a good one; but that speaks to what we should put in `requirements.txt`; i.e. how we set up the test environment(s).

I think @balopat is asking about what to put in `install_requires`. I'd naively prefer using only `>=` to set minimum versions of things and blacklist versions we know don't work. In my (perhaps naive!) view of the world, one of our small number of stab

[2020-12-01 00:49] mpharrigan commented on #3552
If a downstream user wants to use a newer version of e.g. networkx with a current or older version of cirq, things could get messy. In the olden days (i.e. right now) the pip dependency resolver would let you override some of the version specs by pinning things. But starting soon it will error out and fail to install. Their suggestion is to fork the dependency to loosen the `install_requires` fiel

[2020-12-01 02:08] m-szalay commented on #3552
The way python devs are going at this is convoluted to say the least... I cannot believe that they pulled the switch on the new dependency resolution "feature" without allowing for a reasonable override method... forking the dependency and loosen the requirements as the standard solution is... questionable. Having said that, to fix the current blocking issue, having `>=` + blacklist sounds good to

[2020-12-01 03:00] balopat opened #3554 "Docs build is failing"
Since the black formatter merge the RTD builds are failing with some weird pip error:

https://readthedocs.org/projects/cirq/builds/

Need to look into it and resolve it if the error is on our end or report it to the RTD team if it's on their end.

[2020-12-01 03:10] balopat opened #3555 "Modular JSON serialization for contrib and vendor packages"
https://github.com/quantumlib/Cirq/pull/3539 adds modular json serialization for `cirq` and `cirq.google`.

This task is to add JSON serialization testing for all the future optional packages, namely:
- [ ] cirq.contrib
- [ ] cirq.ionq
- [ ] cirq.pasqal
- [ ] cirq.aqt

Also,
- [ ] we should modify the `json_test_data` folder to live under `cirq` instead of `cirq.protocol` to be consistent with the

[2020-12-01 04:05] dabacon opened #3556 "How to determine if an operation has a gate?"
It used to be that you could check whether an operation had a gate using a type check
`isinstance(gate_op, cirq.GateOperation)`
But if you tag an `op` it loses that signature.
`isinstance(gate_op.with_tags('you are it'), cirq.GateOperation) == False`

Note that there are a lot of these checks throughout Cirq that will presumably break when you tag an operation.  For example look at `cirq.EjectPhas

[2020-12-01 04:26] balopat commented on #3556
Thanks for opening this!

Given that this breaks the optimizers I consider this a bug.
Also cross ref #2536 - could be that a generic pattern matching will be the solution here.

[2020-12-01 05:29] maffoo commented on #3556
`cirq.Operation` has a `gate` property of type `Optional[Gate]` so you can check it against `None` on any operation:
[code]
Note that `TaggedOperation` delegates `gate` to the underlying operation (https://github.com/quantumlib/Cirq/blob/master/cirq/ops/raw_types.py#L534) so it also works fine to access the gate of a tagged operation directly without going through the sub operation.

[2020-12-01 05:31] maffoo commented on #3556
If there are still places that do isinstance checks against `GateOperation` we should change them to use the gate property instead.

[2020-12-01 07:00] maffoo commented on #3554
Could this be an issue with the new dependency resolver in pip 20.3? It was just released today and changes the default dependency resolver, which has been causing problems in various places.

[2020-12-01 13:24] #2973 closed

[2020-12-01 19:52] BillGatesNephew commented on #3415
I was just looking at this issue, and if you're asking for the parser to create a `PhasedXPowGate` from QASM, then, based on my understanding, I don't think you can do it with the current version of the parser because it currently doesn't support parsing custom gate definitions. Using it with something like the following would throw an exception:
[code]
I guess you could add custom logic to check

[2020-12-01 20:06] balopat commented on #3267
I posted a [question on SO](https://stackoverflow.com/questions/65097736/throw-error-from-setup-py-when-detecting-conflicting-package) about this after a bit of experimentation.

[2020-12-01 20:08] vtomole commented on #3529
@akushnarov

What is gained by this change?

[2020-12-01 20:08] BillGatesNephew opened #3560 "Support custom gate defintions in QASM parser"
Currently the QASM parser can't handle `gate name(params) qargs;` control statements, so the request is to add these features into it.

I was already planning to work on this myself and put up a PR for it, but I wasn't sure if it needed a RFC or not.

[2020-12-01 20:36] balopat commented on #3560
Hi @BillGatesNephew,

thanks for opening, this is great! The feature sounds good to me, this will be a good medium sized project. I think this is just at the size for an RFC. Do you mind sketching out a design in an [RFC](tinyurl.com/cirq-rfc-template), mainly: How are you planning to map a custom gate to Cirq? How about recursively defined gates, are you going to keep the structure somehow? How w

[2020-12-01 21:23] BillGatesNephew commented on #3560
@balopat Yeah I wouldn't mind working on an RFC for it after I think a little more about it and consider the points you mentioned. Thanks.

[2020-12-02 01:12] balopat commented on #3267
There is no way to implement this using the two separate packages. The main reason is that setuptools will build the wheel and the wheel has no means to specify post/pre install hooks. See [this SO answer](https://stackoverflow.com/questions/24263774/post-install-script-after-installing-a-wheel?lq=1).

The remaining options:

1. Embrace the different packages - in the end the whole tensorflow ecos

[2020-12-02 02:28] wingers commented on #3278
Hi @balopat, I'd like to work on this.

[2020-12-02 02:33] balopat commented on #3278
You got it @wingers! Thanks for taking it on!

[2020-12-02 04:21] jasonlarkin opened #3561 "Error loading QAOA Sycamore data with various cirq versions"
**Description of the issue**
Sorry if this isn't the appropriate location to open this issue.

I am trying to load the QAOA Sycamore data from here:
https://figshare.com/articles/dataset/Sycamore_QAOA_experimental_data/12597590

I encounter the following error:

![image](https://user-images.githubusercontent.com/2052476/100827775-85ebe700-342b-11eb-86bb-a988ceae75f2.png)

**How to reproduce the is

[2020-12-02 11:11] akushnarov commented on #3529
Hi @vtomole

- _Reason for having this request_: Moving the Operation's `_commute_` functionality from the general "commute strategy" (which should not know anything about object types and should only orchestrate the commute logic) to the Operation class (where the commute functionality should be controlled)

- _What is done in the [code](https://github.com/quantumlib/Cirq/pull/3548)_: 1) Moved th

[2020-12-02 16:42] maffoo commented on #3267
My instinct is to prefer 2a. I think 1 is going to get even harder in the future due to recent pip resolver changes where it tries to be more strict about installing dependencies, and 2b also makes life more difficult for anyone who want to use the pre-release versions.

If we needed to limit to just one nightly pre-release per day, that would probably be ok. People who need to track more granular

[2020-12-02 18:48] BillGatesNephew commented on #3289
@balopat  So I did some digging and it looks like this bug is happening because the function `_rewrite()` in `merge_single_qubit_gates.py` takes the product of all unitaries for **all** operations to generate the matrix it then passes to the provided `synthesizer`. I.e.:
[code]
 Because `protocols.unitary()` for a wait operation returns the identity matrix, the wait operation effectively gets eras

[2020-12-02 18:50] Ashalynd commented on #3409
Given that there is already [CircuitDag](https://cirq.readthedocs.io/en/stable/generated/cirq.CircuitDag.html) (which is conveniently already based on [networkx.DiGraph](https://networkx.org/documentation/stable/reference/classes/digraph.html)), one way to achieve this is to use this class to convert the circuit to a DAG , factorize it as you suggest (e.g. with [networkx.algorithms.components.weak

[2020-12-02 19:02] 95-martin-orion opened #3566 "Expose Kraus operator selection in simulators"
**Is your feature request related to a use case or problem? Please describe.**

For debugging purposes, it would be useful for the operator selected in Channels and Mixtures to be exposed to the user.

**Describe the solution you'd like**

Allow Channels and Mixtures to specify a measurement key for which simulators can populate results. Among other things, this is consistent with the treatment of

[2020-12-02 19:17] balopat commented on #3547
Discussed on Cirq Cynq: sounds like a reasonable idea to have a `can_act_on` protocol that would return whether an operation can act on a object or not.

[2020-12-02 19:33] tonybruguier opened #3567 "Remove CliffordTableau"
**Is your feature request related to a use case or problem? Please describe.**
The CliffordTableau is still not being removed from the CliffordSimulator because direct_fidelity_estimation still relies on the availability of stabilizers from CliffordState.

**Describe the solution you'd like**
We can move to use the tableau directly

**[optional] Describe alternatives/workarounds you've considered*

[2020-12-02 19:34] tonybruguier commented on #3567
Happy to take this on if you want me to.

[2020-12-02 19:48] 95-martin-orion commented on #3566
For context: the probabilities of each operator in a `Channel` are dependent on the state vector when the operator is applied, whereas the probability of applying each operator in a `Mixture` is hardcoded by the user.

Sadly, this naming is confounded by `DepolarizingChannel` and similar objects, which despite their names are actually `Mixtures`.

[2020-12-02 20:05] 95-martin-orion commented on #3566
Duplicate of #1357.

[2020-12-02 20:31] BillGatesNephew commented on #3511
Should `clear_span` allow for `0` to be a valid value? Also @wjy99-c, do unregistered qubits here refer to qubits that are just not in the set of qubits acted on by the operations in the parameter `new_operations`?

[2020-12-02 22:12] mpharrigan commented on #3409
I don't think CircuitDag is exactly what I had in mind. The documentation is a bit sketchy, but it seems like it is representing a graph of the time-like structure of the circuit ("this operation must happen after that operation") where I was thinking of a space-like structure ("this qubit talks to that qubit sometime(s)")

[2020-12-02 22:13] smitsanghavi commented on #3567
Thanks for creating the issue, Tony. I can take it up.

By a quick glance at the `direct_fidelity_estimation` implementation (for Cliffords), it seems to just be iterating over the circuit and using `CliffordSimulator`'s`apply_unitary` on all the ops. After that it just needs the `stabilizers` from the final state to proceed. It seems easy to just switch to using `CliffordTableau` instead of `Clif

[2020-12-02 22:55] balopat commented on #3267
Sounds good, 2a it is - I'm going to merge tomorrow https://github.com/quantumlib/Cirq/pull/3527 unless no-one objects loudly :)

[2020-12-03 00:09] viathor commented on #3566
Should we close this issue or #1357? This has a better description, so close #1357?

[2020-12-03 00:14] 95-martin-orion commented on #1357
Absorbing into #3566 to capture more recent discussion.

[2020-12-03 00:15] 95-martin-orion commented on #1357
Duplicate of #3566

[2020-12-03 00:15] #1357 closed

[2020-12-03 00:16] 95-martin-orion commented on #3566
Keeping this issue, though #1357 has some good historical details around the `measurement_key` protocol.

[2020-12-03 00:57] #3544 closed

[2020-12-03 01:16] #3267 closed

[2020-12-03 04:25] wjy99-c commented on #3511
Should `clear_span` allow for 0 to be a valid value? -> Seems the program also run endlessly for `0`
For the unregistered qubits, I mean:

[code]
With
`input_qubits = [cirq.GridQubit(i, 0) for i in range(qubit_count)]`

[2020-12-03 04:39] tonybruguier commented on #3567
I sent you:
https://github.com/quantumlib/Cirq/pull/3571

[2020-12-03 17:11] balopat opened #3573 "Formatter script fails on moved file"
**Description of the issue**

After moving or deleting a python file, the formatter script fails

[code]

[code]

**How to reproduce the issue**

1. Delete a .py file
2. run check/format-incremental

**Cirq version**

master

[2020-12-03 17:16] balopat commented on #3152
This should work now since 3.8 is supported.

[2020-12-03 17:16] #3152 closed

[2020-12-03 17:49] balopat opened #3575 "Docs: Quantum operator representations"
I think it would be great for our users to have a page or extend some of our pages in our documentation describing the different kind of representations we have for operators and what features each have and how they interrelate.

Currently the list would be:
- Unitary operators: gate/operation + unitary protocol
- Quantum channels:
    - channel protocol - good for quantum trajectory simulations a

[2020-12-03 18:02] #3554 closed

[2020-12-03 19:08] viathor commented on #3288
Recording an idea from a discussion in cirq sync:

The core of the original issue is that at present cirq only implements Pauli basis representation of operators (via PauliSum class) and this basis is unsuitable for certain applications since it leads to very large expressions (see first comment above). It seems a little awkward to fix this problem by providing an expansion in terms of projectors,

[2020-12-03 19:29] balopat opened #3577 "Rewrite complicated checks in python"
Python should be more maintainable and testable than bash. This issue is about replacing complicated logic in bash scripts with testable python code. This would remove the necessity of dev_tools/bash_scripts_test.py as well, which is a bit brittle as it depends on the output of the scripts.

[2020-12-03 19:43] #3573 closed

[2020-12-03 20:22] tonybruguier commented on #3288
Thanks! So do we have consensus on going to butterfly or is it something for later?

The current approach might be faster to commit, but I'm ok with doing the butterfly approach too.

Just let me know, so that I don't accidently wait for you when you are waiting for me.

Thanks a lot for all the guidance!

[2020-12-03 20:45] viathor commented on #3288
I was a little unclear whether we reached a consensus on this idea. Let's hear from a few more people.

Regarding doing projectors first and then extending to butterfly operators: It seems to me that an implementation that targets butterfly operators directly (and obtains projectors as a special case when i==k, see above) is likely to be simpler and cleaner. I'm sorry I haven't thought of this ear

[2020-12-03 23:11] balopat commented on #3288
I'm pro 🦋  and scratching the current direction.
A mini conclusion I would like to draw for the future: we should design first and then implement in PRs for larger features.
So to apply this conclusion here - Tony, do you mind drawing up a design doc for this? We have an RFC template that you can use tinyurl.com/cirq-rfc-template.

Key questions:
- how would the interface look like for butterfly o

[2020-12-03 23:46] 95-martin-orion opened #3581 "ParamResolver serialization may be relying on magic"
Serialization of a ParamResolver uses the following method:
https://github.com/quantumlib/Cirq/blob/0701327bc66c988428f302dd1e4bed1eef1535a6/cirq/study/resolver.py#L226-L231

Conversion of `param_dict` to a list is necessary due to the JSON requirement that dict keys be built-in types, but the ordering of that list is suspicious - `items` has no guaranteed ordering, and the code does not explicitl

[2020-12-04 00:33] mpharrigan opened #3582 "cirq._compat.proper_repr and numpy arrays of datetimes"
Currently, `cirq.compat.proper_repr` of a numpy array of datetimes cannot be evaluated because the `dtype` argument is not valid python

[code]

This would be a breaking change and could make reprs less pretty:

[code]

---

A bigger issue is whether we should have repr be a full serialization format. Most other Python projects don't do this. In fact, we have to use our own repr for numpy arrays b

[2020-12-04 14:23] BillGatesNephew commented on #3511
Adding the check for `clear_span <= 0` was easy enough, but I'm not familiar enough with `PointOptimizationSummary` to be sure how to check for these unregistered qubits other than seeing if they're in the qubits acted on by the `new_operations`. Looks like @Strilanc was the original author of this class; maybe he can offer some insight?

[2020-12-04 16:03] 95-martin-orion opened #3584 "Test flake in quimb state_vector_test"
Seen in automated checks for #3580, affecting `cirq/contrib/quimb/state_vector_test.py`. Error log:
[code]

As a flake, this may take several runs to reproduce. Without the full contents of `psi1` and `psi2` to compare it's hard to say where the issue occurred, but it's possible that simply increasing the tolerances will fix this.

[2020-12-04 17:25] BillGatesNephew commented on #3289
After thinking about this a little more. A solution on this might want to do something with `Tag`s. It doesn't seem outside the realm of possibility that you may want to preserve particular individual operations, or sub-circuits  for future `CircuitOperation`s, when optimizing that aren't just `cirq.WaitGate` operations. There maybe could be a `NonOptimizableTag` or something that optimizers check

[2020-12-04 20:35] rmlarose commented on #3575
I like this idea, especially concerning observables where (to my knowledge) examples are a bit lacking. PauliSum's and PaulSumCollector's could even be used in some existing tutorials on variational algorithms, if desired.

[2020-12-05 00:47] viathor opened #3586 "Computational graph"
**Is your feature request related to a use case or problem? Please describe.**

In many experiments, quantum circuits are built by a classical program and then sent off for execution on the quantum hardware or simulator. Performance is improved significantly by batching many executions together. This is why `run` has the `repetitions` parameter and why we have features such as parameter sweeps.

H

[2020-12-05 00:54] #666 closed

[2020-12-05 01:15] balopat opened #3588 "Reservation docs"
The current notebook is still available in the new devsite, though hidden from the nav. We could hide it better.
With the new UI we should rethink how we want to document reservations.

[2020-12-06 04:51] tonybruguier commented on #3288
Here's a draft RFC:
https://docs.google.com/document/d/10MVpeUBegxHwfPzSSgP2p-yh4D6kQsMUN1TpquF3jks/edit#
Also available at:
https://tinyurl.com/cirq-proj

[2020-12-06 14:09] zaqqwerty commented on #3586
This sounds like the use case TFQ was designed to solve.   The [Sample](https://www.tensorflow.org/quantum/api_docs/python/tfq/layers/Sample) and [SampledExpectation](https://www.tensorflow.org/quantum/api_docs/python/tfq/layers/SampledExpectation) layers correspond to the idea of a "quantum node", since the backend can be either local simulation or remote execution on a real QPU.  Classical nodes

[2020-12-06 16:36] MichaelBroughton commented on #3586
Hi @viathor what you are describing in this feature is eerily similar to TFQ. If you haven't used it before I'd encourage you to give it a whirl and see if it aligns with your vision of how a computation graph fits in with quantum/cirq. When designing TFQ we wanted to: "incorporate the primitives around running and building circuits into TensorFlow's vast compute graph capabilities". @zaqqwerty 's

[2020-12-07 13:30] akushnarov commented on #3529
Hey @vtomole, just curious if you need anything else from my side?

[2020-12-07 16:32] vtomole commented on #3529
Hey @akushnarov, i just saw this. I've been very busy with other things and will be for the foreseeable future. @balopat, can you see this through?

[2020-12-07 20:19] balopat commented on #3511
The `PointOptimizer` class itself is the main consumer for the `optimization_at` method, and that's the only context that knows about the Circuit instance itself. We could do the validation at this line: https://github.com/quantumlib/Cirq/blob/a0ee113f0f776242263f75822bc4cebadd85a0bc/cirq/circuits/optimization_pass.py#L144 or even better, we could have a `self._validated_optimization_at` method th

[2020-12-07 20:26] balopat commented on #3581
From https://docs.python.org/3/library/stdtypes.html#dict

[2020-12-07 20:44] 95-martin-orion commented on #3581
Ah, then I think I see the cause of the CircuitOperation nondeterminism. The `qubit_map` field is populated from `circuit.all_qubits()`, which is a set:
[code]
I'm reasonably certain that sets make no guarantees about iterator order, so this makes sense.

[2020-12-07 20:44] #3581 closed

[2020-12-07 21:27] #3229 closed

[2020-12-08 03:57] jasonlarkin commented on #3561
Need more info? This seems like an easy fix...

[2020-12-08 16:51] dabacon opened #3594 "Consider using parallel pylint"
Pylint is by far one of the slowest parts of the CI suite.  It has a parallel flag, -j <number of processes>.  On my local box, doing j=4 sped up pylint from 2.5 minutes to 1 minute.

[2020-12-08 18:26] balopat commented on #3292
This is done now! Thank you @maffoo!

[2020-12-08 18:26] #3292 closed

[2020-12-08 18:27] balopat commented on #3088
This is closed now, thanks @crystalzhaizhai!

[2020-12-09 01:31] balopat commented on #3594
We can try - I have had moderate success on the Github Actions machines with parallelization - namely the sphinx build actually just hung when I set -j auto, but also -j 2 didn't help either. Not sure why. Maybe there is some kind of cpu throttling / oversubscription / virtualization / containerization overhead :) or maybe it's just specific to sphinx and not pylint. Worth a try!

[2020-12-09 02:29] Strilanc commented on #3582
Can we check for datetime when producing the repr, and special case the dtype?

I feel pretty strongly about reprs being pastable into a REPL to get test cases.

[2020-12-09 17:45] balopat commented on #3582
From the [python docs for `__repr__`](https://docs.python.org/3/reference/datamodel.html#object.__repr__):

I believe that we are in the former category. I also like Craig's suggestions regarding special casing the dtype - it is totally possible as an option number 4 in https://github.com/quantumlib/Cirq/pull/3374/files/5925b8aff6ffaa1c2d94d9e43850cc816f65c939#r538956429 - which wouldn't break any

[2020-12-09 17:55] Ashalynd commented on #3409
Looking at CircuitDag, it might serve in the way you suggest if a different `can_reorder` strategy gets implemented (currently it just checks whether the operations have qubits in common).

On the other side, looking at the examples, many of them represent time-like circuits, and the docs don't talk much about the difference between the two. I feel like I am missing some piece of understanding her

[2020-12-09 19:44] Ashalynd commented on #3409
Actually things became a bit clearer to me after I looked at cross_entropy_benchmarking example :)

[2020-12-09 21:28] zchen088 opened #3597 "cirq.X and cirq.X**(-1) render the same in text diagrams"
**Is your feature request related to a use case or problem? Please describe.**
[code]
Now, this is sensible because X and -X have the same unitary up to a global phase. However, X and -X are implemented differently when you run them on hardware, and we use this fact sometimes when doing experiments on hardware.

**Describe the solution you'd like**
I think it'd make sense to render the exponent wh

[2020-12-09 23:23] Ashalynd commented on #3409
Here is a proof of concept, to illustrate what I meant: https://github.com/quantumlib/Cirq/pull/3599

[2020-12-09 23:31] Ashalynd commented on #3409
(By the way, thanks for the chat today - it had an unblocking effect :) )

[2020-12-10 04:40] tonybruguier commented on #3288
Thanks for the feedback, new version (and new URL) of the RFC at: https://tinyurl.com/ketbra

[2020-12-10 17:14] balopat commented on #3529
Hey guys, sure, I'll have a look - thanks @vtomole for the feedback so far and @akushnarov for taking this on!

[2020-12-10 17:28] balopat commented on #3286
This is done.

[2020-12-10 17:28] #3286 closed

[2020-12-11 01:17] balopat commented on #3597
I'm okay with this but would love the @quantumlib/cirq-maintainers to chime in on it.
Do we want this to be the default behavior always or should we put it behind a flag (e.g we could have a`cirq.set_printoptions()` method similar to `np.set_printoptions`) as the default X display has some benefits to it too?

[2020-12-11 01:45] viathor commented on #3597
This looks like a requirements conflict. On one hand, from the abstract perspective X and its inverse are identical. On the other, they may be implemented differently on the hardware.

We have introduced tags to carry some extra information to aid hardware implementation (e.g. `VirtualTag`). Perhaps we can also use tags to encode which "branch" the gate exponent lies on (to distinguish t=..., -3,

[2020-12-11 01:56] dabacon opened #3603 "Notebook test slow tests"
Probably worth trying to speed up that notebook test as it is long poll in the CI.  Maybe there is a pattern to add something that can "fix" the notebooks to smaller parameters to speed them up?
[code]

[2020-12-11 05:48] maffoo commented on #3597
Seems like we should fix this in circuit diagrams. The str and repr of `cirq.X**-1` do preserve the exponent:
[code]

[2020-12-11 06:19] mpharrigan commented on #3597
On the other hand, circuit diagrams are really sensitive to long names because everything has to get pushed out. For example: I remember making PhasedXGate render as PhX which is not the `str`

[2020-12-11 06:59] mpharrigan commented on #3582
We discussed at Cirq Cync and there was some appetite for potentially truncating numpy arrays that are too big but much less appetite for falling back on numpy and dataclasses' default reprs and removing some of the `cirq.` prefixing.

I have done this in #3374

It was also noted that my complaining about friction writing Cirq reprs was noted and I'm at liberty to bring it up again if I run into i

[2020-12-11 06:59] #3582 closed

[2020-12-11 07:02] mpharrigan commented on #3561
This is a consequence of https://github.com/quantumlib/Cirq/pull/2756

You can use a pre-Feb 10 release of Cirq or patch a local checkout of cirq by reverting the linked PR / commit 926751dee9d13e6cef0dbfc07910eecd7ffa6b26

I'll try to see if there's another way to fix it. This is a prime example of why pickl is bad for long-term storage

[2020-12-11 07:23] #3278 closed

[2020-12-11 15:12] #3567 closed

[2020-12-11 17:22] 95-martin-orion opened #3605 "Print subcircuits out-of-line"
**Is your feature request related to a use case or problem? Please describe.**

In #3580, a circuit containing `CircuitOperation`s will print those operations inline. This can make the diagram much larger in the best case, and impossible to read in more complex situations.

**Describe the solution you'd like**

`CircuitOperation`s should be printed outside the circuit, with an identifier replacing

[2020-12-11 17:48] maffoo commented on #3597
@mpharrigan, that's a good point about wanting to be concise. But abbreviated names don't lose any information, whereas eliding exponents to show an "equivalent" gate drops info that is useful when running circuits on hardware (a core cirq use case). I'd suggest we treat circuit diagrams more like repr's that should just show the structure and not try to simplify things too much. If you want to re

[2020-12-11 18:17] balopat commented on #3603
Haha, I was just about to open this issue!

There is a lot of room for improvement.

A bit of context: notebooks are expected to ran in two ways: 1) in colab 2) in jupyter notebook from the Cirq repo
In 1) the path currently requires the latest stable version of cirq to be installed (currently 0.9.1). This means that we need to test the notebooks as they change against the latest release. Currentl

[2020-12-11 18:28] viathor commented on #3597
@maffoo I don't think treating X and X**-1 qualifies as eliding information because the exponent is periodic. X and X**-1 really are the same gate. It is true that a particular hardware implementation may distinguish these two cases, but I am worried that the equivalence induced by two different hardware implementations may differ. For this reason, it may be safer to separate these concerns into l

[2020-12-11 18:51] maffoo commented on #3597
I guess it depends on what "the same" means. They are certainly equivalent in some senses, but not in others, and in particular not in a sense that we care about for hardware implementations. I suppose one could argue that if we care about the distinction in hardware then we should use `cirq.rx` instead where `cirq.rx(np.pi)` and `cirq.rx(-np.pi)`, but that has its own awkwardness. I'd prefer not

[2020-12-11 19:06] viathor commented on #3597
Fair enough. I see how not having to use tags for this makes things easier from the practical standpoint.

In any case, we should probably have one consistent approach to dealing with periodicity of gate parameters that can be relied on for all gates, so if we prefer gates to remember the "lifted" (i.e. pre-canonicalization) values then we should probably change the FSimGates (and maybe others tha

[2020-12-11 19:09] viathor commented on #3597
Regarding rendering, in the unicode mode we could render X inverse as X† which is merely two characters long instead of five in X**-1.

[2020-12-11 23:11] balopat commented on #3566
I realized that this is basically part of the roadmap item: #3241

[2020-12-12 00:17] dabacon commented on #3603
Is the variation above really due to the virtual env and pip install?  It seems to me that this is more likely that these notebooks have some pretty heavy computation in them (the variation is quite large)...I'm just basing this on seeing the names and thinking, oh yeah that could be a lot of compute.

Would be nice if there was a way to not have to do the install every test, but must be a good re

[2020-12-12 00:18] dabacon commented on #3603
Also probably there should be some discussion of notebook naming :)

[2020-12-12 00:35] balopat commented on #3603
Yeah, the quimb ones should be renamed to underscores and no capitalization. I did rename a bunch of them during the site revamp, so the situation is better than before.
Are there any other naming things you see to be addressed

?

A big part of it for sure, e.g. the quimb ones have to install quimb as well...but there must be computational differences. I like the idea to make them faster by choos

[2020-12-12 22:33] alex-treebeard commented on #3603
note on treebeard: I've rebooted it as [nbmake](https://github.com/treebeardtech/nbmake) and [nbmake-action](https://github.com/treebeardtech/nbmake-action) -- you'd probs need to re-add your virtualenv logic as a pytest hook as I minimised the feature set.

[2020-12-13 19:44] guvennakpinarr commented on #3190
fu**ing your comment.why don't you write more clearly?
for example :

import cirq
circ = cirq.Circuit()
qbits = [cirq.LineQubit(x) for x in range(2)]
circ.append([cirq.H(qbits[0]), cirq.CNOT(qbits[0], qbits[1])])

# print out the circuit
print(circ)

or 👍
circuit = cirq.Circuit()
circuit.append(cirq.H(q) for q in cirq.LineQubit.range(3))
print(cirq.Circuit(cirq.SWAP(q, q+1) for q in cirq.LineQubit

[2020-12-14 19:33] balopat commented on #3597
One more thing to add: Currently we display 0th power, e.g. for `X**0`: we display `─X^0─`.
@viathor  I liked the X† idea, but there is a question: should then make that a universal rule for all negative exponents? I.e. X**-3.5 should be displayed as `─X†^3.5─`?  If not, isn't that just too much special casing and display inconsistency for a couple of characters?

[2020-12-15 19:20] 95-martin-orion opened #3611 "Accept qubit maps in transform_qubits"
**Is your feature request related to a use case or problem? Please describe.**

The `transform_qubits` method in `Circuit` and `Operation` only accepts functions. In contrast, `CircuitOperation` also accepts qubit-to-qubit maps in `with_qubit_mapping` (Highlighted by @maffoo in #3580).

**Describe the solution you'd like**

The `transform_qubits` method should be updated to also accept qubit-to-qu

[2020-12-16 02:03] balopat opened #3612 "CircuitOperation diagram styling"
The inline circuit diagram introduced in https://github.com/quantumlib/Cirq/pull/3580 is awesome. If we could push it a bit further that would be cool - eg using proper box ascii drawing. So currently what looks like this:

[code]
, instead could look like this

[code]

Even cooler would be pulling in the right side of the box...

[code]

_Originally posted by @balopat in https://github.com/quantu

[2020-12-16 02:04] balopat opened #3613 "Consider representing negative loops differently in CircuitOperations"
It's great to see the loop number in the diagram!

However, repetition allows for negative numbers - it gets a bit weird to interpret that - what should we do there?

[code]

Maybe print the circuit in reverse + reverted operations? As that's what is happening under the hood.
Or we can explicitly say † , inverse or ^-1 somewhere in the header?

_Originally posted by @balopat in https://github.com/

[2020-12-16 02:05] balopat commented on #3612
Another diagram nit:
It's great to have the qubit map there. However, we could make it a bit cleaner.

Code:

[code]

Current output:

[code]

Improved:
1. mapping in-place for qubits outer -> inner
2. tag(s) to the header instead

[code]

_Originally posted by @balopat in https://github.com/quantumlib/Cirq/pull/3580#discussion_r542666148_

[2020-12-16 14:52] akushnarov commented on #2777
@balopat I'm happy to contribute here

[2020-12-16 16:01] 95-martin-orion commented on #3612
See #3605 for the (separate?) consideration of out-of-line subcircuit diagrams.

[2020-12-16 16:04] 95-martin-orion commented on #3613
See #3605 for discussion on out-of-line subcircuit diagrams, which may be able to share the format we decide on here.

[2020-12-16 17:49] balopat commented on #3605
I don't think I agree with always putting CircuitOperation out of line. I could see how the inline diagram can be useful in smaller cases. Maybe we could control the behavior by a flag on CircuitOperation itself?

[2020-12-16 17:52] balopat commented on #2777
Thank you @akushnarov! It's all yours!

[2020-12-16 20:50] smitsanghavi commented on #3231
Should this be added to the 2021 roadmap given that it's the precondition for the above 3 linked issues?

[2020-12-16 20:57] smitsanghavi commented on #3242
This sounds pretty nice to have. What are the expected benefits of establishing these relationships?

1. A more general `isinstance` implementation that understands these relationships might simplify some code (Some examples would be great here)
2. Easier Gateset validation/conversion once we have that feature

[2020-12-16 21:31] 95-martin-orion opened #3614 "Propagate tags to components of CircuitOperation"
**Is your feature request related to a use case or problem? Please describe.**

Context: #3580 (CircuitOperation)

The default behavior of `TaggedOperation` is to drop tags during decomposition. This is intentional, as the meaning carried by ceratin tags on an operation does not necessarily apply to all components of its decomposition.

**Describe the solution you'd like**

When tags are applied t

[2020-12-17 00:42] smitsanghavi commented on #3232
A previous feature request https://github.com/quantumlib/Cirq/issues/762 was closed as intended because we didn't know how the hardware was going to support this. Do we have more idea now? Any specific requirements due to hardware constraints?

[2020-12-17 03:11] jasonlarkin commented on #3561
@mpharrigan  that seems to have worked!

![image](https://user-images.githubusercontent.com/2052476/102439113-a3a07b00-3feb-11eb-8873-e46226097728.png)

[2020-12-17 03:11] #3561 closed

[2020-12-18 00:16] 95-martin-orion commented on #3605
Child of #3235

[2020-12-18 00:17] 95-martin-orion commented on #3612
Child of #3235

[2020-12-18 00:17] 95-martin-orion commented on #3613
Child of #3235

[2020-12-18 00:17] 95-martin-orion commented on #3614
Child of #3235

[2020-12-18 00:22] 95-martin-orion opened #3619 "Handle recursive parameter resolution in CircuitOperation"
**Is your feature request related to a use case or problem? Please describe.**

Child of #3235.

CircuitOperation implicitly relies on single-step parameter resolution for its internal parameter mappings. This is inconsistent with the default behavior of `ParamResolver`, which is to resolve parameters recursively (see PR #3538).

**Describe the solution you'd like**

`CircuitOperation` should acce

[2020-12-18 01:21] balopat opened #3620 "Make notebook test errors more readable"
As pointed out in https://github.com/quantumlib/Cirq/pull/3604#issuecomment-747235924 test failures spit out a bunch of json that are hard to parse. We should make this better. Again treebeard might be the solution here.

[2020-12-18 01:43] #451 closed

[2020-12-21 01:04] #2472 closed

[2020-12-21 19:36] balopat opened #3623 "[docs] SimulatorStep.set_state doesn't exist"
See the question on : https://quantumcomputing.stackexchange.com/questions/15187/access-and-set-state-during-quantum-computation-simulation-in-cirq

1. This part of the docs is pointing to a set_state() method wrongly, instead it should be `set_state_vector()`.
2. Also, we should point to the API docs when referencing methods.
3. set_state_vector should get some docsstrings - it's a public method

[2020-12-21 19:58] chiefnoah opened #3624 "ParallelGateOperation does not support JSON serialization"
**Description of the issue**

`ParallelGateOperation` does not appear to support json serialization using `cirq.to_json`.

**How to reproduce the issue**

[code]
**Cirq version**

0.9.1

[2020-12-22 20:37] balopat opened #3625 "Chemistry notebook failing after OpenFermion release"
We should fix this ASAP as it blocks PR checks through the notebook tests.

This cell in docs/tutorials/educators/chemisrty.ipynb is failing:

[code]

With this error

[code]

[2020-12-22 21:29] 95-martin-orion commented on #3556
A similar issue exists for `CircuitOperation`s (#3580), which do not populate the `gate` field but instead have a `circuit` field not present in the base `Operation` class.

[2020-12-23 00:54] #3625 closed

[2020-12-23 01:03] balopat opened #3627 "Update chemistry notebook to latest OpenFermion/PySCF versions"
#3626 pinned openfermion and openfermionpyscf as a temporary fix.
This issue is to update the notebook based on the latest version of the API.

[2020-12-23 01:03] balopat commented on #3627
cc @rmlarose - will you have bandwidth to fix this?

[2020-12-23 01:06] #3441 closed

[2020-12-23 02:29] rmlarose commented on #3627
Can do!

[2020-12-23 03:47] rmlarose commented on #3627
Question for @ncrubin or @kevinsung

Most API changes are very small except for the [variational energy calculation](https://quantumai.google/cirq/tutorials/educators/chemistry#variational_energy_calculation) section, in particular the line

[code]

The [ofc.variational](https://github.com/quantumlib/OpenFermion-Cirq/tree/master/openfermioncirq/variational) module was not copied over when merging

[2020-12-23 22:08] kevinsung commented on #3627
@rmlarose Indeed, we decided to scrap the old ofc.variational module, and there is no equivalent of ofc.LowRankTrotterAnsatz in OpenFermion, so that section of the docs should be removed.

[2020-12-28 01:10] #2577 closed

[2020-12-29 18:33] #3624 closed

[2020-12-29 18:34] balopat commented on #3624
Thanks for opening the issue @chiefnoah! I put in a quick fix, you should be able to use it with `pip install cirq --pre`.

[2020-12-30 18:59] 95-martin-orion opened #3633 "Efficient JSON serialization of FrozenCircuit"
**Is your feature request related to a use case or problem? Please describe.**

Part of #3235.
Concise serialization (#3601) is available for Cirq objects, but not yet supported for FrozenCircuit.

**Describe the solution you'd like**

FrozenCircuit needs the `_serialization_key_` magic method to enable efficient serialization. This should be a fairly small code change, but may require nontrivial

[2020-12-30 19:08] 95-martin-orion opened #3634 "Efficient proto serialization of FrozenCircuit"
**Is your feature request related to a use case or problem? Please describe.**

Part of #3235.

PR #3480 added a lookup table for constants in the circuit proto. Extending this table to more complex objects should help reduce the amount of network traffic required when using Quantum Engine.

**Describe the solution you'd like**

FrozenCircuits are a prime candidate for storing in the constants tab

[2021-01-03 16:30] Kee-Wang opened #3636 "To be confirmed: Inconsistency in controlled gate unitary between v0.8.2 and v0.9.1"
I found the unitary after applying `.cotrolled()` on `rz` behaves differently for version v0.8.2 and v0.9.1 which causes trouble.

The simplest code that that reproduce this issue on my computer is:
[code]

If I run this on v0.8.2, I got
[code]

If I run with v0.9.1, I got
[code]

Can anyone else reproduce this issue?

The former converted the control into `CZPowGate` and the later is simply a con

[2021-01-04 05:20] smitsanghavi commented on #3636
Just to confirm, the latter behavior is correct as we should not be converting `rz.controlled` to `CZPowGate`. The behavior change you mention above was intentional, #3113.

Is the main question that v0.8.2 and v0.9.1 have identical code for this part?

[2021-01-04 06:14] daxfohl commented on #1622
I can take this as a first issue.

The hacky way to do this would be to hard-code this comment string into [`CCZ._qasm_`](https://github.com/quantumlib/Cirq/blob/0ff2894e053e4ce3bb1b54e9b9de1cc4345d10b3/cirq/ops/three_qubit_gates.py#L138).

The better way would be to have ccz with exponent=1 decompose into [h, ccx, h]. The problem is that ccx decomposes into ccz, so it gives an infinite loop. Woul

[2021-01-04 06:49] Kee-Wang commented on #3636
Thanks for the confirmation.  Are you asking if I used the same Python code I showed above, but with different Cirq versions? Then yes I did. I ran the identical Python code with different Cirq versions.

Also would you agree with the following sum up for the people who might get confused by definitions of gates?
The `cirq.rz(theta).controlled()` is implemented in:
1. v0.8.2 as:
[code]
where `g =

[2021-01-04 13:58] daxfohl commented on #1121
I'm using WSL on Windows, and would recommend anyone using this on Windows to do so. I followed the Linux directions and once git and python were installed everything worked smoothly. (I'm new to Python, so sorting out py2/py3 and pip and mkvirtualenvwrapper took some time, but I imagine most users will be familiar with Python ecosystem already).

[2021-01-04 17:26] daxfohl commented on #1622
Opened a PR for the issue. That PR goes with the third option: augment the `should_annotate` to annotate any multiline output.

At first I was thinking the second option would be preferred, but I no longer think so. What an operation decomposes to, and how an operation is best represented in qasm are different things. (for instance, ccx decomposes, but can be represented directly in qasm).

I orig

[2021-01-05 22:19] daxfohl commented on #1932
I'd be willing to take this. So it looks like we need a new `InsertStrategy.LATEST` and handle that in `circuit.insert/append`, and then a circuit optimizer `Compact` that takes an `InsertStrategy` and recreates the circuit with the provided `InsertStrategy`? Is the expectation that the optimizer will optimize the circuit in place, or return the optimized circuit?

[2021-01-05 22:59] daxfohl commented on #1932
Is there a bug in the existing implementation of EARLIEST?

    circuit = cirq.Circuit(
        cirq.X(cirq.LineQubit(0)),
        cirq.X(cirq.LineQubit(0)),
        cirq.X(cirq.LineQubit(0)),
        cirq.X(cirq.LineQubit(1)),
        cirq.measure(*cirq.LineQubit.range(2), key='a'),
        strategy=cirq.InsertStrategy.EARLIEST,
    )
    circuit.insert(3, cirq.Y(cirq.LineQubit(1)), strategy=cirq

[2021-01-06 00:23] daxfohl commented on #1932
Probably need help understanding all the strategies before taking this one in earnest. I'd have also expected `INLINE` here to leave the top line unaffected:

    circuit = cirq.Circuit(
        cirq.X(cirq.LineQubit(0)),
        cirq.X(cirq.LineQubit(0)),
        cirq.X(cirq.LineQubit(0)),
        cirq.X(cirq.LineQubit(0)),
        cirq.X(cirq.LineQubit(0)),
        cirq.X(cirq.LineQubit(0)),

[2021-01-06 00:35] maffoo commented on #1932
I'm not sure something like `InsertStrategy.LATEST` is the right way to approach this. I think a circuit transformation or optimization pass that runs _after_ a circuit is constructed by whatever other means makes more sense. The main issue is that when doing a "latest" strategy you really want to insert gates in reverse order and all of the insertion and circuit construction functions process gat

[2021-01-06 01:16] smitsanghavi commented on #3636
That's correct. I'll close the issue for now, please reopen if any of your questions were unanswered.

[2021-01-06 01:16] #3636 closed

[2021-01-06 01:28] balopat opened #3638 "Tagging qubits and moments"
**Feature**: Tagging qubits and moments

**Problem**: Currently one can tag operations.  These can serve as compiler or executor pragmas.  They also provide a way to cross an api boundary with more generic data appropriately serialized.  In actual hardware, it is useful to also provide other metadata to the hardware.  For example qubit can be tagged with properties of the qubit necessary for execu

[2021-01-06 01:30] balopat opened #3639 "Devices: Full Clifford group gates support"
**Feature**: Full Clifford group support

**Problem**: Currently Clifford group gates are supported via the addition of the _act_on_ to gates in Cirq (this is a work in progress).  This means only certain gates can be simulated.  One could instead support the entire Clifford group via it’s specification of a symplectic matrices plus a vector describing the phases of the Pauli group.  In addition t