[2019-05-14 11:11] Strilanc opened #1633 "has_channel doesn't fallback to decompose like has_unitary does"

[2019-05-14 11:16] #1633 closed

[2019-05-14 11:17] Strilanc commented on #1633
This is not the actual problem. There's some kind of bad interaction though.

[2019-05-14 14:37] dabacon opened #1634 "Class methods on GridQubit to create common lattices"
Some obvious shapes
```GridQubit.square(3, 3)```
```GirdQubit.rect(2, 4)```
returning list of list with row and column.   Default to 0,0 as one corner, but option to set corner.

Ability to construction from an ASCII diagram like xmon devices
```GridQubit.from_pic```
which operations on maps like
[code]

[2019-05-14 16:26] dabacon opened #1635 "Transformation that turns Pauli**exponent gates to Rp(theta) gates and vice versa"
These are the same up to global phase, but different people like different version of this gate.

[2019-05-14 17:58] babbush opened #1636 "cirq.decompose semantics are confusing"
I believe there is a bug in the keep functionality of cirq.decompose. Perhaps I am just using it wrong. Consider the following code.

[code]
I would have expected this code to decompose things until stopping at "MyGate". Instead, it assumes that I really want it to decompose everything that isn't MyGate, including things that cannot be decomposed further. Thus, I get the error message:
`ValueError

[2019-05-14 18:03] Strilanc commented on #1636
This is intentional behavior. The keep predicate is supposed to indicate the set of things that you are willing to accept, and so decompose keeps going until it can satisfy those desires or else it fails. This is important when e.g. saying "I want this to decompose into things that define a unitary method". If the decompose fails to reach something with a unitary method, the code that follows and

[2019-05-14 19:13] babbush commented on #1636
I see, fair enough. Indeed, I would vote for a stop_if function but I'm not willing to implement it myself right now either! I'll close this issue but note that I am still a bit put off by the compilation to ion trap gates without me asking for that!

[2019-05-14 19:29] babbush commented on #1636
@Strilanc I am reopening the issue because your solution (as I understood it anyways) does not seem to work. I've now changed the decompose call to
`cirq.Circuit.from_ops(cirq.decompose(MyOtherGate().on(a, b), keep=stop_at_mygate, on_stuck_raise=None))`
but when I do this, it ignores my request to stop at MyGate and compiles all the way down to YY gates, CZ gates and still to my great dismay, MS g

[2019-05-14 21:08] KenBrownPackwood opened #1637 "Misaligned bracket in circuit output"
Using  the Ion Device and Cirq 0.5  the following  code plots a circuit with an misaligned horizontal bracket.

Full code is here
https://colab.research.google.com/drive/1p_SLX83UzudhHLeZ6UXx_GAp67ElxMXW

Code piece is here
[code]
---------------------------------------------
Ouput
--------------------------------------
[code]

[2019-05-14 21:49] vtomole commented on #1628
If we adopt JAX, i believe we should place it in `contrib`.

[2019-05-14 23:49] c-poole commented on #1636
And XXPowGate with global shift of -0.5 is by definition a MS gate. The reason an MS gate shows up in your circuit is because you put one in it, not because decompose is attempting to construct a circuit with it.

[2019-05-15 00:05] c-poole commented on #1636
Also your "keep" method

`def stop_at_mygate(gate):
    return isinstance(gate, MyGate)
`
will only return True if the thing that is passed into it is a `Gate`. You are passing it `GateOperation`s via your generator. Does the following "keep" function give you behavior you expect?

[code]

[2019-05-15 00:36] c-poole commented on #900
@Strilanc  This looks closable

[2019-05-15 00:40] c-poole commented on #899
@Strilanc This appears to have been resolved by throwing an error if an unrecognized operation gets passed in.

[2019-05-15 00:43] c-poole commented on #1125
I vote in favor.

[2019-05-15 00:47] c-poole commented on #1292
Is there additional functionality we want from the Identity gate as it stands?

[2019-05-15 00:52] c-poole commented on #1373
This is where a "preferred" default method for achieving basic tasks like putting operations into circuits can be specified as discussed at the Hands-On Workshop.

[2019-05-15 00:55] c-poole commented on #1625
I don't think we want a duplicate of the PowGate since the users shouldn't be explicitly constructing the gates this way. Instead they should be raising the gate or operation with that gate to the desired power. We should just need CX = CNOT and CCNOT = CCX

[2019-05-15 05:21] #1625 closed

[2019-05-15 18:07] babbush commented on #1636
Thank you, yes, that did solve the problem so I will close this issue.

Regarding the MS gate, I still maintain cirq should not be showing that. Indeed, the MS gate is a gate and it has a unitary that is the same unitary as an operation showing up in my circuit. But the thing called an MS gate is not just the name of a unitary: it is the name of a specific way to realize that unitary that is speci

[2019-05-15 19:06] vtomole opened #1642 "Add links to issues next to TODO comments"
There're currently ~20 TODOs in the repository.
 For example:
https://github.com/quantumlib/Cirq/blob/7fcda9361a3fb2b58ef914a0fce7573b2a83c6f9/cirq/sim/sparse_simulator.py#L295

We should link to the corresponding issues alongside these TODO comments or create the issues and then link them if they don't exist.

[2019-05-15 19:42] timothyman commented on #1624
I can take this one.

[2019-05-16 22:38] babbush commented on #1636
I am reopening based on @Strilanc 's suggestion as we both agree this behavior is sufficiently unintuitive that it should probably be addressed in some way.

[2019-05-16 22:46] babbush opened #1647 "instability in kak decomposition"
In some cases the kak decomposition appears to have an instability in the sign of the ZZ coefficient. Consider the following example:
[code]
returns
[code]
And thus we see that despite the fact the unitaries are very similar, the kak decomposition gives a seemingly random sign on the ZZ interaction coefficient. Is this a bug?

[2019-05-17 02:02] Strilanc commented on #1647
When I run this repro script I get the following results:

[code]

With no sign instability.

This happens both in my development environment and in a freshly created virtual env. I also tried it in both python 2 and python 3.

[2019-05-17 02:02] Strilanc commented on #1647
What version of cirq are you using? What OS?

[2019-05-17 03:30] Strilanc opened #1648 "cirq.unitary should work on gates/operations that only specify _apply_unitary_"

[2019-05-17 05:01] #1630 closed

[2019-05-17 15:50] babbush commented on #1647
Mac, Mojave, Python 3.7, Cirq 0.5. The discrepancy between our builds is disturbing...

[2019-05-17 16:22] vtomole commented on #1647
I just ran this on `cirq==0.5.0` and `python==3.7.3`  on `ubuntu==18.04` with no problem; so it's probably macOS problem.

[2019-05-17 20:48] Strilanc opened #1655 "Distinguish between return NotImplemented and return None in protocols"
I've been trying to refactor the protocol methods, and I've run into a bit of a problem. The issue is that, e.g. in `_apply_unitary_`, we use `return None` or equivalently `return NotImplemented` to mean two different things. It could mean "this object does not have a unitary effect" or alternatively it could mean "this object has a unitary effect, but I don't optimize this particular case; try ca

[2019-05-17 21:15] Strilanc commented on #1628
I agree about placing it in contrib.

Does computing the gradients come up a lot in NISQ machine learning stuff? It seems like an odd operation.

[2019-05-17 21:21] vtomole commented on #1372
@dabacon @Strilanc @viathor

Anything we've missed?

[2019-05-17 21:46] Strilanc opened #1657 "_mixture_ should be able to return List[Tuple[float, Operation]] instead of List[Tuple[float, matrix]]"
Where it is required that the operations be unitary.

This is beneficial because it allows you to return mixtures of large operations, without having to generate their unitaries.

Fixing this mostly involves finding usages of mixture and making them account for this.

[2019-05-17 21:56] QuantumVerd commented on #1628
It comes up extremely often, in both VQE, QAOA, and QNN's. I would say the computation of the gradient is as crucial as the execution of the circuit itself, and is often (if not always) the bottleneck for the training of variational algorithms (main NISQ class of algorithms). Although there are other optimizers that are gradient-free, there are many reasons to stick to gradient-based optimization,

[2019-05-17 22:12] Strilanc opened #1658 "Simulator state shouldn't expose external details"
[code]

Fails saying the shape is `(2, 2, 2, 2)`. If you use an empty circuit (and specify the qubits) you instead get shape `(4, 4)`.

[2019-05-17 22:40] viathor opened #1659 "ParallelGateOperation has wrong unitary"
The unitary returned by `ParallelGateOperation._unitary_()` is incorrect. For example, for XX it returns a 4x4 singular (hence non-unitary) matrix and for XXX it returns a rectangular 16x4 matrix.

Unit tests don't check internal consistency of the operation.

[code]

Found when trying to use the operation in a new unit test for #1612.

[2019-05-17 23:29] #1659 closed

[2019-05-18 00:38] dabacon commented on #1658
Good catch.

I think numpy is smart enough when you reshape tensors, but I assume we should always do (n, n) for density matrix or (n,) for state.  Should we consider adding versions of these that return the tensor form of these?

[2019-05-18 00:39] dabacon commented on #1655
Do you see any obvious drawbacks?  I don't.

[2019-05-18 00:42] vtomole commented on #1647
@babbush This also passes in `macOS 10.13, Xcode 9.4.1` : https://travis-ci.com/quantumlib/Cirq/jobs/201188271.  This might be a very strange corner case, but it's worth getting to the bottom of it!

[2019-05-18 02:03] Strilanc commented on #1655
The drawback is that it's a breaking change. A class that was returning `None` from `_apply_unitary_` and not `None` from unitary will become inconsistent, whereas right now it happens to work.

[2019-05-18 02:06] Strilanc commented on #1647
@babbush I recommend putting your laptop next to your workstation, getting this code on both of them in pycharm, and debugging through the test. Step over methods until you find the point of divergence. Then step into the method where it diverges, and step over submethods to find the more exact point of divergence. Just keep narrowing it down.

[2019-05-18 02:07] Strilanc commented on #1658
I think we should always do `(n, n)` for now.

[2019-05-18 02:15] Strilanc commented on #1372
I think this is done enough to close. Whatever's left can be eroded gradually.

Good job victory!

[2019-05-18 02:15] #1372 closed

[2019-05-18 02:17] #1631 closed

[2019-05-18 16:03] bryano commented on #1655
I've bumped up against this a few times, and think it's worth doing before it becomes even more of a breaking change.

[2019-05-18 20:58] Strilanc commented on #1655
Okay, let's do it.

[2019-05-20 14:29] vtomole commented on #1144
Closed by: https://github.com/quantumlib/Cirq/pull/1549

[2019-05-20 14:29] #1144 closed

[2019-05-20 15:06] vtomole opened #1662 "`Y^-0.5` not being converted to `PhasedX(-0.5)^0.5` on Ion related tests in Windows."
As a reference: https://travis-ci.com/quantumlib/Cirq/jobs/201514754

For ` test_convert_to_ion_circuit`

[code]

For `test_decomposition`
[code]
CC: @mlihc15 , @c-poole

[2019-05-20 15:40] c-poole commented on #1662
iirc, This discrepancy didn't show up the first time you tried a windows build in Travis. If that is correct, could you provide some detail on what changed between then and now in the build?

[2019-05-20 15:43] mlihc15 commented on #1662
Is it a problem with rendering PhasedX gates in particular or is it a problem with optimizers.merge_single_qubit_gates_into_phased_x_z?

[2019-05-20 15:47] vtomole commented on #1662
@c-poole These tests weren't in the codebase last time I ran the Windows Travis build (about a month ago).

[2019-05-20 16:18] babbush commented on #1647
Just to make sure @vtomole when you say "it passes" do you mean that you get the same numbers as Craig? My code should still run, it just gives a negative sign on the .2999 number. Anyways, today I ran this on my linux workstation and see the same thing. I highly suspect the problem is with scipy or numpy's diagonalization routines so the version or cirq or the os might not be the problem. For bot

[2019-05-20 16:20] vtomole commented on #1662
@mlihc15 Yeah, this probably doesn't have to do with the rendering because the only problem we seem to be having here is `Y^-0.5` not being converted to `PhasedX(-0.5)^0.5`. This seems to be related to Windows somehow.

[2019-05-20 16:24] vtomole commented on #1647
@babbush

Yes. I haven't been able to reproduce the negative sign on `.2999` on macOS, Windows, or Linux. Let me try Anaconda `python==3.7` on Linux.

[2019-05-20 16:44] vtomole commented on #1647
No luck on the latest version of Anaconda:

[code]

[2019-05-20 16:57] babbush commented on #1647
So strange. Can you try running this in an anaconda jupyter notebook and
see if that changes anything?

On Mon, May 20, 2019, 09:44 Victory Omole <notifications@github.com> wrote:

[2019-05-20 17:09] vtomole commented on #1647
Same thing: https://ibb.co/ZT2Spy5

[2019-05-20 19:44] babbush commented on #1647
This is so weird. I'm not the only one though. @ncrubin is also experiencing the same bug on both mac and linux. He has some theory about how it might be caused by some confluence of anaconda installed a certain way on intel processors. I'll let him elaborate.

[2019-05-21 17:21] ncrubin commented on #1647
I am observing the same behavior as @babbush .  Running MacOS Mojave, Anaconda python3.7, Cirq 0.6.0.dev, numpy 1.16.3.  Also observe the same negative sign issue on debian with the same anaconda python, cirq, and numpy specs.

[code]

[2019-05-21 18:44] vtomole commented on #1647
How did you run the Debian? Was it on a virtual machine on your MacBook?

[2019-05-21 18:45] ncrubin commented on #1647
@vtomole : I used a separate machine running Debian.

[2019-05-21 18:48] vtomole commented on #1647
I've just reproduced this on Windows. Progress.

[code]

[2019-05-21 20:53] Strilanc commented on #1647
I tried on my macbook but it also doesn't reproduce the issue.

@ncrubin @vtomole are you able to narrow down the issue more specifically by stepping through with a debugger and seeing where a good machine and bad machine deviate?

[2019-05-21 20:54] ncrubin commented on #1647
Currently @vtomole is the only one with a "good machine" and a "bad machine"

[2019-05-21 21:05] vtomole commented on #1647
@Strilanc  I'm currently stepping through the bad and good machine at the moment.

[2019-05-21 21:06] #1519 closed

[2019-05-21 21:57] babbush commented on #1647
awesome @vtomole ! I'll definitely owe you some good Google schwag if you can pin this one down and implement a fix. Its currently blocking me on something important!

[2019-05-21 22:04] #1608 closed

[2019-05-21 22:05] vtomole commented on #1647
@Strilanc  @ncrubin  @Strilanc Got it.

https://github.com/quantumlib/Cirq/blob/5f49f39bb05eee222fa382fe5c7f7a050de9f7b3/cirq/linalg/decompositions.py#L455  goes to
https://github.com/quantumlib/Cirq/blob/5f49f39bb05eee222fa382fe5c7f7a050de9f7b3/cirq/linalg/decompositions.py#L440

This loop never runs on the implementations that give you the negative sign. This is because on the implementations th

[2019-05-21 22:17] vtomole commented on #1647
I should also add that this is coming from

https://github.com/quantumlib/Cirq/blob/5f49f39bb05eee222fa382fe5c7f7a050de9f7b3/cirq/linalg/decompositions.py#L523
Where `z = 0.7853981633974483` on negative ones and `z = 0.7853981633974484` on non-negatives; so where we should round is not clear, but i prefer rounding in `def canonical_shift`.

[2019-05-21 22:19] vtomole commented on #1647
Also if you round `pi /4 ` down, it's `0.7853981633974483`. No wonder this was hard to track.

[2019-05-21 22:43] Strilanc commented on #1647
Oh, it's just because we're on the border for the angular wrap around? Blergh. So it's not _actually_ different, it just _looks_ different.

Given how confusing this was, I think we should adjust the canonical range to be (-pi/4+epsilon, pi/4+epsilon]. The KakDecomposition class also needs to support approximate equality.

[2019-05-21 23:05] Strilanc commented on #1647
Okay, I've managed to find a variant of this issue that I can reproduce:

[code]

[2019-05-21 23:29] Strilanc commented on #1647
Apparently these two KAK decompositions represent the same unitary (up to global phase):

[code]

I'm not sure what to make of it, since they disagree so wildly on the Z. It may have to do specifically with the fact that the X and Y coefficients are equal to 1. I seem to remember there being something about one of the border lines of the space being redundant; maybe that's what this is.

[2019-05-21 23:40] Strilanc commented on #1647
Yes, the issue is that the canonicalization is not handling a special case where X=Y=pi/4. When this occurs, commuting an X operation across the XYZ part causes the Z part to negate without affecting the other two.

This:
![image](https://user-images.githubusercontent.com/79941/58137437-1581ca00-7be7-11e9-9965-46266f163339.png)

[is equal to this][1]:

![image](https://user-images.githubuserconten

[2019-05-22 00:25] babbush commented on #1647
Ok, I think I see what's going on. I would still consider this behavior by itself to be buggy. It's not very helpful to have a canonicalized form which spits out different representations on different machines for the same operation...

[2019-05-22 00:36] Strilanc commented on #1647
Yes, it's a bug that it doesn't canonicalize this case.

[2019-05-22 00:53] babbush commented on #1647
The bug does not appear to end there. This is also something very strange going where the single qubit kak coefficients don't correspond to what they are supposed to be. I'm sorry for the rather long example, but below you will find pretty much the smallest example I could make that demonstrates the real problem I'm facing. I would be thrilled with even a very hacky solution to the problem I'm fac

[2019-05-22 01:36] Strilanc commented on #1647
That snippet doesn't reproduce for me.

Is there a reason you expect it to be a different issue from this canonicalization issue?

[2019-05-22 01:41] babbush commented on #1647
As I understand the canonicalization issue, we're always getting a valid KAK decomposition, but sometimes there are multiple valid KAK decompositions, and in that case the code is failing to consistently choose the same one.

However, my code above suggests something beyond this is happening. I believe my code above should always work provided the KAK decomposition is valid.

[2019-05-22 01:42] babbush commented on #1647
When you say it doesn't reproduce do you mean that uncommenting the line doesn't break things? Just set theta to random values until you see it break. Most likely you can unbreak it from that point by adding some epsilon to the theta that broke it.

[2019-05-22 01:45] Strilanc commented on #1647
You should phrase your repros in the form of a failing assertion, instead of a line that needs to be uncommented.

[2019-05-22 02:09] babbush commented on #1647
The code is supposed to pass whether or not that one line is commented. But on my computers, the code only passes if that line remains commented. Sorry I made my example poorly.

[2019-05-22 03:13] Strilanc commented on #1647
Oh I'm sorry, you *did* phrase it as a test. It just doesn't fail on my machine.

[2019-05-22 03:21] babbush commented on #1647
well presumably that's because you aren't running it on a build that reproduces the same kak instability that @ncrubin and myself experience. I would imagine that @ncrubin would experience the same problem for the snippet and that @vtomole can reproduce it on his windows build.

[2019-05-22 04:17] c-poole commented on #1647
On my machine I do not have the sign instability but the circuit comparison test does break when the line is uncommented.

[2019-05-22 05:10] c-poole commented on #1647
If we change the line that instantiates actual_circuit to `actual_circuit = cirq.Circuit.from_ops(cirq.decompose(RandomGate(theta).on(a,b)))` we can get a circuit diagram from the error message. This results in the below diagrams for the failing case on my machine. What does the diagram look like on a machine where un-commenting the line doesn't cause the test to fail?
![kak_error](https://user-im

[2019-05-22 05:23] timothyman commented on #1624
What would you expect of a return type? Do you want to have the list of lists preserved, if the input is a list of lists? Or do you want to keep the current return type, which is a flattened list?

[2019-05-22 12:00] dixr commented on #1624
For me the current return type is the most obvious solution. I don't know any good enough reason to change the return type and potentially risk incompatibility with other existing patterns. The primary purpose of flattening the list is that we can write the intuitive `yield cirq.H.on_each(qubits)` in a generator, no matter if qubits is a list of LineQubits or a list of lists of GridQubits (two cas

[2019-05-22 12:23] timothyman commented on #1624
The usecase I had in mind is method chaining, where you can repeatedly apply gate operations to a list of lists of GridQubits, while keeping the topology intact. But that might not be that obvious, indeed.

I will keep the current return type of a flattened list. Thanks for the reply.

[2019-05-22 21:05] c-poole commented on #1662
If you try to construct a `PhasedX(-0.5)^0.5` cirq will recognize that as a `Y^-0.5` and return that instead, but this relies on the -0.5 in the PhasedX passing a float equality comparison, so it isn't too terribly surprising that floating point comparisons are causing system dependent differences. What seems to matter in this test is whether the circuits produced are equivalent and whether they p

[2019-05-23 14:44] #1662 closed

[2019-05-23 19:47] vtomole opened #1667 "Two circuit diagram tests that rest in `contrib` are failing on Windows"
See: https://travis-ci.com/quantumlib/Cirq/jobs/202641395

[2019-05-23 22:32] dabacon commented on #1657
You mean Gate instead of Operation?

[2019-05-23 22:35] dabacon commented on #199
Schedule and Circuit currently take device.  There is likely more work on this boundary, but I think these should be opened as separate issues.

[2019-05-23 22:35] #199 closed

[2019-05-23 22:36] dabacon commented on #218
This isn't really in the scope of Cirq.  This is tracked on service side where we do proper integration testing.

[2019-05-23 22:36] #218 closed

[2019-05-23 22:37] dabacon commented on #1124
We now have performance tests, right?  Should this be closed?

[2019-05-23 22:54] dabacon commented on #1607
So this isn't coming from any of our pip installed components.

I get it in colab because they have a newer version of imgaug but also albumentations.

[2019-05-23 22:59] vtomole commented on #1124
Not yet. The current implementation is not reliable because we don't persist performance data between builds. What we need to do is upload the `.json`s that are generated to a remote location so we may reference them and implement a script that creates an issue if incremental  benchmark results fall below a threshold

[2019-05-23 23:12] Strilanc commented on #1522
I wrote some experimental code that might be useful for this. It has a sort of SQL feel to it.

Usage example:

[code]

Outputs:

[code]

And here's the code:

[code]

[2019-05-23 23:24] Strilanc commented on #1657
Good point. A gate `_mixture_` would return gates, whereas an operation `_mixture_` would return operations. Then, in `GateOperation`, there would be a conversion.

[2019-05-24 16:05] dabacon opened #1671 "Grid or Lattice helper class"
There are a lot of very common things you want to do especially in variational algorithms for lattice type models.
* Give me Operation X between every horizontal bond in two layers.
* Give all single qubit gates on the "even" sublattice
* Iterate over rows, apply same sequence of gates across the column
* etc.
These sort of things sort of belong in device, but it feels like this will be shared acr

[2019-05-24 16:09] dabacon opened #1672 "Serializing code shouldn't be in core Cirq: remove proto methods from GridQubit"
For example we currently have proto calls in GridQubit.

For old v1 protos we move this to serializing/deserializing methods that consume and produce objects.  We should make sure to do this for all objects, not just gates.

[2019-05-24 18:59] #1667 closed

[2019-05-24 21:00] c-poole commented on #1611
I just tried my suggestion and surprisingly only one test failed. It was due to numpy complaining about not knowing how to multiply sympy constants with standard numpy data types. This can be patched over by making the appropriate numeric casts inside _apply_unitary_, and _unitary_ for each gate in the repository but that is a bit more fuss than I had originally anticipated. I just tried it with R

[2019-05-27 05:55] Strilanc opened #1675 "PauliString constructor should accept (but filter out) cirq.I (identity) values"

[2019-05-27 06:27] Strilanc opened #1676 "Multiplying by the identity gate should return the other operation"
[code]

[2019-05-27 06:28] Strilanc commented on #1676
Removed good first issue because there's some interaction with the type system and protocols.

[2019-05-27 23:44] dabacon commented on #1675
I think this shows how PauliString is broken.

I think instead you should make Pauli String know about identities.  I mean it already knows about qubits.  I think we are making the mistake of "implicit" identities being used (which is fine, as far as it goes), and then the current situation where "I" is somehow special.

[2019-05-28 00:45] Strilanc commented on #1675
It's pretty common for data structures to have a canonical form that they normalize to. In this case our canonical form is "identities are omitted, because otherwise it makes equality and hash codes slower".

Are you advocating for `print(cirq.I(a) * cirq.X(b))` to print out `I(a) * X(b)` instead of `X(b)`?

[2019-05-28 16:26] babbush commented on #1647
@vtomole can you let us know the answer to @c-poole 's question?

[2019-05-28 17:14] babbush commented on #1647
Oh right, of course that's what it does. In any event, do people see why I am claiming this most recent example shows a related, but I believe, distinct, failure from the canonicalization issue? The canonicalization issue is basically occurring because, due to finite precision, there are two fairly different looking kak decompositions that are "valid" to within numerical precision (at least that i

[2019-05-28 17:17] babbush commented on #1647
And yet, this most recent problem I'm pointing out only occurs when finite precision pushes you to one side of the numerical instability, and not the other. So either something in my example code, or something in the kak decomposition code, is somehow expecting a certain convention about what to do near this instability, but I cannot figure out what it is!

[2019-05-28 18:10] dabacon commented on #1658
Ah note that you are doing `out.final_simulator_state`.  That's the internal "simulator state".  The right way to get this is `out.final_density_matrix`.

[2019-05-28 18:13] dabacon commented on #1658
So yeah the issue here is that the public facing stuff should be in trial results and step results, but not in the "simulator state".  That way you can't do it the "wrong way" without considerable effort and using "_" classes.

[2019-05-28 19:08] #1634 closed

[2019-05-28 19:10] dabacon commented on #403
This looks stale and doesn't have enough info to repo.  Closing unless there is a good way to repo.

[2019-05-28 19:10] #403 closed

[2019-05-28 23:04] mpharrigan opened #1679 "two_qubit_state_tomography is broken"
This code (modified from qubit_characterization_test.py) works:

[code]

However, if you change it to

[code]

it does not give the correct answer. The density matrix should be

[code]

but it's actually

[code]

[2019-05-28 23:07] dabacon commented on #1679
@XiaoMiQC

[2019-05-28 23:56] dabacon commented on #1522
I worry that we are just reinventing pandas.  Have we consider leveraging pandas instead of writing our own dataframe / sql- lite

[2019-05-29 01:43] c-poole commented on #1647
I agree with @babbush's conclusion that there are two separate problems that have been discovered. I've tried varying the amount theta is shifted to see if there is a clear pattern with the flipped sign on the ZZ component of the kak decomposition and when the code fails. All four conditions (flipped ZZ, code passes, flipped ZZ code fails, etc.) have occurred.

[2019-05-29 02:20] c-poole commented on #1647
I think I have a fix. I adjusted the kak_canonicalize_vector method so that this minus sign issue doesn't occur and when I did that the larger test case @babbush came up with always seems to pass. I'll put in a PR for the fix as soon as I can.

[2019-05-29 16:19] dabacon opened #1681 "Follow method style guide for gates"
We currently have `cirq.Rx` which is a method, not a gate.  Method names should be snake case.  This is confusing since it makes it seem that `cirq.Rx` is a class name.  Especially considering that users expect there to be a `cirq.Rx` gate and not `cirq.XPowGate`

[2019-05-29 16:54] vtomole commented on #1681
What is the method style guide? Is it snake case? You are saying that we should rename methods like `cirq.Rx` to a snake case convention?

[2019-05-29 17:19] mpharrigan opened #1682 "PauliString, LinearDict, QubitOperator"
There are multiple schemes for representing operators that are sums of pauli strings. OpenFermion has `QubitOperator`. Cirq has `PauliString` and `LinearDict` but lacks a way to combine the two.

## Background
`QubitOperator` is a mapping (dictionary) from coefficients to terms, and each term is a tuple of single-qubit operators, which itself is a tuple of (`qubit`, `operator`).

`LinearDict` is a

[2019-05-29 17:19] vtomole commented on #933
Casey, Pranav, et.al. have open sourced their Cirq fork implementation for Qudits (but mostly qutrits): https://github.com/epiqc/qutrits

[2019-05-29 17:28] Ashalynd commented on #1637
Yeah there seems to be an extra space due to the way Python combines arguments for print.
Replace the last line with the following:

[code]

[2019-05-30 02:27] #813 closed

[2019-05-30 05:08] c-poole commented on #1647
To elaborate on what appeared to be happening and what my current fix does: @Strilanc correctly identified the issue as being a special case when X=pi/4 (Having Y=pi/4 doesn't appear to be necessary). When this is true, you can shift X by -pi/2 and then negate both X and Z and end up with a net operation of just negating Z. The reason @babbush ran into an issue with the equivalent circuits test is

[2019-05-30 21:16] Strilanc commented on #1522
I think it would be great to use pandas instead of writing our own stuff.

[2019-05-30 21:25] Strilanc commented on #1522
I've been trying to use pandas and finding it a bit clunky... so far I haven't managed to get a filter to work the way it should. I just keep getting errors about indexing duplicate axes.

[2019-05-30 21:32] Strilanc opened #1686 "Should we started enforcing no overlap between measurement keys and parameter names?"
This comes up when analyzing data afterwards. It's ambiguous whether you're talking about the measurement result "a" or the parameter "a".

[2019-05-30 22:08] Strilanc opened #1687 "Raise an error when attempting to sample a circuit with duplicate measurement keys"
This should be raising an error:

[code]

Instead it returns malformed data:

[code]

[2019-05-30 23:00] Strilanc opened #1689 "Replace TrialResult data and query methods with a '.data' pandas.DataFrame attribute"
Pros:

- Less work for us.
- Easier to learn for users / user knowledge generalizes beyond cirq.
- The pandas API is already way better than ours w.r.t. handling data.
- run_sweep and run can have the same output type.

Cons:

- Less control over the format. E.g. we can't add sympy symbol support to the filtering.
- There's no longer metadata like "number of repetitions" associated with the result

[2019-05-30 23:21] maffoo commented on #1689
How about if `TrialResult` "has a" dataframe rather than "is a" dataframe? Then we have a place to tack on extra metadata if needed or add some helper methods to do things like translate sympy queries into the data frame. Can also easily just get the data frame itself and discard the rest of the trial result if that's all you need.

[2019-05-30 23:24] Strilanc commented on #1689
I think we should not add any of our own filtering or aggregation methods, because they will behave differently than the pandas ones and this will create opportunities for [mode errors](https://en.wikipedia.org/wiki/Mode_(user_interface)#Mode_errors).

I would prefer to just return the dataframe because it's one less thing to teach ("don't forget to put `.data`), but I agree that we may have to re

[2019-05-31 23:10] Strilanc opened #1693 "Should we bump our minimum python 3 version?"
Seeing as how we're dropping python 2 support, this seems like a natural time to do it.

I've run into a few issues recently w.r.t. things existing in the `typing` module or not. We could also start using features like data classes and attribute/variable type annotations.

[2019-06-01 01:38] vtomole commented on #1693
+1 for bumping.

[2019-06-01 23:51] XiaoMiQC commented on #1679
Thanks Matt for catching this. There was a mixup in the order of the qubits in the code which caused the rotation operators to be applied to the wrong qubits. Somehow the Bell states didn't catch it. I fixed it and `circuit = circuits.Circuit.from_ops(ops.H(q_0), ops.H(q_1))` should work too now.

[2019-06-03 22:03] Strilanc commented on #1637
Ah, good explanation Ana. This isn't a bug in cirq, so I'm closing the issue.

[2019-06-03 22:03] #1637 closed

[2019-06-03 22:18] vtomole commented on #1693
So, versions `3.7+`

[2019-06-04 16:52] c-poole commented on #1693
The biggest issue I see with doing something like this is whether or not we are limiting integration of cirq into projects that operate on earlier python 3 versions. We may want a release that is compatible with 3.5/3.6 so that it isn't a jump from 2.7, >=3.5 to 3.7 only

[2019-06-04 18:40] dabacon commented on #1693
https://www.jetbrains.com/research/python-developers-survey-2018/ contains some info on version adoption

[2019-06-04 19:48] dabacon commented on #1693
I'm not very familiar with how backward incompatible 3.x versions are.

FWIW: colab uses 3.6.7.

[2019-06-04 20:20] Strilanc commented on #1693
We definitely don't want to become incompatible with colab.

[2019-06-04 23:49] peterse commented on #1632
that reshape operation is incorrect. In general you have to promote the wavefunction to a density matrix with np.kron, then do the partial trace, then apply a "nearest kronecker product" factorization to get a wavefunction as the final form. Then this will give you a unique traced wf representation (mod global phase) IFF the circuit is completely unitary.

[2019-06-05 14:57] dabacon commented on #1632
This would be a nice feature, but if we add support for this it should not be called just "partial trace" which is a well defined mathematical operation (what is described is a composition of outer product and partial trace).

[2019-06-05 17:32] c-poole commented on #1657
Is this a duplicate of #1626? Also, I can give this a shot.

[2019-06-05 17:42] Strilanc commented on #1626
Duplicate of https://github.com/quantumlib/Cirq/issues/1657

[2019-06-05 17:42] #1626 closed

[2019-06-05 17:42] Strilanc commented on #1657
Yup, it's a duplicate. Both by me. Four days apart. Wow.

[2019-06-05 18:28] viathor commented on #1689
FWIW, complex numbers are supported in pandas:

[code]

[2019-06-05 19:55] vtomole commented on #95
@bryano Is this related to all of your not-yet-merged pull requests?

[2019-06-05 19:56] vtomole commented on #160
Pinging @Strilanc too.

[2019-06-05 20:04] vtomole commented on #748
This is impossible as the screen is cutoff at the `docs` directory.  Let's just keep an eye out for anything that will go to top-level in the future. This issue is not specific so i will close it.

[2019-06-05 20:04] #748 closed

[2019-06-05 21:07] kevinsung opened #1698 "Circuit + OP_TREE"
Since `circuit += op_tree` works, I propose to let `circuit + op_tree` work too.

[2019-06-05 21:09] bryano commented on #95
Yea, specifically #1181

[2019-06-05 22:06] Strilanc commented on #1698
Makes sense to me.

[2019-06-05 22:19] peterse commented on #1610
one way to handle the vagueness could be to define `noise.apply_noise` with a conditional function kwarg to determine where the noise goes, e.g.
[code]
then you might do something like
[code]
Alternatively, this might belong to a completely different class of NoiseModel where the user overrides `noisy_moment` with that conditional built in...

[2019-06-06 10:46] gauravMann commented on #1698
I am willing to take this up. I have read the contributor's guide, and set up my local environment.

[2019-06-06 12:40] vtomole commented on #1698
@gauravMann Go for it!

[2019-06-06 13:04] Strilanc commented on #1698
Ah right, I forgot about the device inter-compatibility check. That's important to keep. The validation of moments in `other` can be delegated to `copy.__iadd__`, but the validation of moments in `self` would stay.

[2019-06-06 13:39] vtomole commented on #252
Second part is done but `Operation` still exists.

https://github.com/quantumlib/Cirq/blob/1e6436c136dbe94a62970fa64692d27ed8f919c8/cirq/ops/raw_types.py#L231

@Strilanc Considered done?

[2019-06-06 13:47] Strilanc commented on #252
I consider this to be closed. We need Operation (unitary with specified qubits) because it is the fundamental thing circuits use, and we need Gate (unitary with unspecified qubits) because it's such as a common concept.

[2019-06-06 13:47] #252 closed

[2019-06-06 14:11] vtomole commented on #238
MergeRotations doesn't exist anymore.

[2019-06-06 14:11] #238 closed

[2019-06-06 14:20] vtomole commented on #251
This may be solved by an in memory cache. https://github.com/googleapis/google-api-python-client/issues/325#issuecomment-274349841

Can someone with Engine access try it out?

CC: @dabacon @dstrain115  @viathor

[2019-06-06 18:19] c-poole opened #1700 "trace_distance_bound should fallback to unitary before giving up"
This value can be calculated from the eigenvalues of a unitary matrix.

[2019-06-06 18:25] vtomole commented on #489
@Strilanc Does the recent work on noise obsolete this?

[2019-06-06 19:56] Strilanc commented on #489
This is obsolete, although oddly prescient of running into the same issue with the new models. But there's already a bug for that.

[2019-06-06 19:56] #489 closed

[2019-06-06 19:58] Strilanc commented on #1700
I'm unsure if we should fallback to eigendecomposing unitary for this. The issue is that the bound is supposed to be cheap to compute, and really it's only supposed to matter near zero when deciding whether or not to drop an operation. Even if falling back to unitary, I would probably use a much simpler distance metric to upper bound it (e.g. 2-norm of difference from the identity).

[2019-06-06 21:17] c-poole commented on #1700
My hope would be that most gates already have cheaper to compute trace_distance methods so that falling back isn't necessary. But if for example a user makes their own gate/operation and isn't quite sure how to calculate the trace_distance to implement their own method, they would at least have some way of getting this information out of the library. Since an explicit calculation of the supremum i

[2019-06-06 22:00] Strilanc commented on #1700
Eigengate is set up so that the eigenvalues are more directly accessible, which is much cheaper and more stable than doing an eigendecomposition.

If someone makes this change, I will approve it. If they can do it with <1% error when the diamond distance is within 0.1 of 0, without computing an eigendecomposition, by computing some more trivial metric directly from the matrix entries, that would b

[2019-06-07 08:00] iamvamsikrishnad opened #1701 "cannot import name 'TYPE_CHECKING' in python 3.7"
While using python-3.7 and running
`python -m pip install -r dev_tools/conf/pip-list-dev-tools.txt`
throws an error:

Updating the requirement of astroid in pip-list-dev-tools.txt to 2.2.* makes it work.

[2019-06-07 08:03] iamvamsikrishnad commented on #1687
I'll take a stab at it. Can you please assign it to me.

[2019-06-07 08:54] vtomole commented on #1701
Hey @iamvamsikrishnad, this was a compromise we had to make to be on a latest version of pylint while getting around this bug:
https://github.com/quantumlib/Cirq/blob/1e6436c136dbe94a62970fa64692d27ed8f919c8/dev_tools/conf/pip-list-dev-tools.txt#L21

[2019-06-07 08:54] #1701 closed

[2019-06-07 09:01] iamvamsikrishnad commented on #1701
Hi,
Thanks for the reply. I am not sure I totally follow you.
Yes it (https://github.com/PyCQA/astroid/issues/650) is a issue in 3.5.2 and hence astroid was pinned to version 2.1.*, but that is breaking it for users on python 3.7. I believe we need to find a fix for both versions right ?

[2019-06-07 09:17] vtomole commented on #1701
Yes, the fix is solving that issue that you linked which is still open. I've spent an hour or two playing around with astroid to try to fix that bug with no luck.

[2019-06-07 09:32] iamvamsikrishnad commented on #1701
In that case, Can you please keep this issue open.

[2019-06-07 09:37] vtomole commented on #1701
This issue is not a bug in cirq. It's a bug in astroid.

[2019-06-07 10:25] vtomole commented on #368
I can't reproduce this

[code]
`check.sh` runs fine on said machine.

Feel free to open/comment if you are able to.

[2019-06-07 10:25] #368 closed

[2019-06-07 10:29] vtomole commented on #859
Named to `google_v2_supremacy_circuit.py`: https://github.com/quantumlib/Cirq/blob/master/cirq/experiments/google_v2_supremacy_circuit.py

[2019-06-07 10:29] #859 closed

[2019-06-07 10:34] vtomole commented on #900
Pinging @Strilanc for @mrwojtek's question (`CircuitDag` needing support for approximate equality)

[2019-06-07 12:57] vtomole commented on #1079
Isn't it two? `exponent ` and `global_shift`

https://github.com/quantumlib/Cirq/blob/1e6436c136dbe94a62970fa64692d27ed8f919c8/cirq/ops/eigen_gate.py#L65

[2019-06-07 13:00] vtomole commented on #1079
Anyway, these are the comments on the commit that introduce it

[code]
I agree.

[2019-06-07 13:18] dabacon commented on #1079
I think the argument that it doesn't require a docstring is not a positive one.

[2019-06-07 13:29] vtomole commented on #1183
This is internal.

[2019-06-07 13:29] #1183 closed

[2019-06-07 13:32] vtomole opened #1703 "Write `optimization` chapter on readthedocs"

[2019-06-07 13:33] vtomole commented on #752
Those links are not TODO anymore, but we do need to add docs for optimization: https://github.com/quantumlib/Cirq/issues/1703.

[2019-06-07 13:35] vtomole commented on #526
Duplicate of: https://github.com/quantumlib/Cirq/issues/1564

[2019-06-07 13:35] #526 closed

[2019-06-07 13:52] vtomole commented on #1628
@QuantumVerd  Since we are not experienced with JAX, we will assign this to you.

[2019-06-07 17:29] vtomole commented on #1425
Please re-open if you are able to reproduce this and still want it solved then leave a comment on how you setup your environment so that i may do the same.

[2019-06-07 18:17] vtomole commented on #520
Closed by: https://github.com/quantumlib/Cirq/blob/master/continuous-integration/simple_check.sh

[2019-06-07 18:17] #520 closed

[2019-06-07 20:30] kevinsung commented on #1079
@vtomole What I mean is that one is no longer allowed to specify the rotation in units of rads or degrees. There is only one choice: specify the exponent.

[2019-06-07 20:42] vtomole commented on #1079
@kevinsung Thanks for the clarification. In that case i agree.

[2019-06-07 20:47] Strilanc commented on #1079
I like that we continue to force the keyword, because I'm still not happy with the API here. It insulates us from making subtle breaking changes, where the first argument becomes different.

[2019-06-07 21:03] kevinsung commented on #1079
I think that's fine.

[2019-06-07 21:03] #1079 closed

[2019-06-07 21:26] AlicePagano opened #1704 "Noise model, how to apply it?"
Hi all,
I'm new in quantum computing and I'm trying to implement a noise model to apply to my quantum circuit. I'm not very friendly with the documentation really.
I was trying to do something like this:

qubits = cirq.LineQubit.range(N)
circuit = cirq.Circuit()

    for q in range(N):
        cirq.PhaseDampingChannel(0.2).on(qubits[q])
        cirq.PhaseDampingChannel(0.2).on(qubits[q])
        c

[2019-06-07 23:18] c-poole commented on #1704
Each of the statements like `cirq.PhaseDampingChannel(0.2).on(qubits[q])` produces an `Operation` that you can append into your `Circuit`. One way to do this could be:
[code]
This adds each of the operations corresponding to the noise channels in the for loop into the circuit at the end. If we call (for N=3) ` print(circuit)`, I get the below output. Is this what you are expecting?

0: ───PD(0.2)─

[2019-06-08 00:38] dabacon commented on #1628
So what you probably want is the ability to compute the derivative of a circuits, gates, or operations with respect to parameter of the gate?

Something like
[code]
or maybe
``
jaxnp.grad(cirq.unitary(cirq.XPowGate(exponent)))
[code]

[2019-06-08 02:45] dabacon commented on #1681
Yep, methods should be snake_case.

[2019-06-08 02:49] dabacon commented on #252
(nit nit operation is more than just unitary, gate is more a factory than a keeper of unitary)

[2019-06-08 06:33] AlicePagano commented on #1704
I did this way, but now I have a new issue... what kind of simulator can I use to simulate that non unitary-matrices ?

[2019-06-08 16:44] c-poole commented on #1704
You have a couple of options. This one will give you access to the density matrix of your qubit system.
[code]
This one will behave such that if it encounters one of these channels, it will generate a random number to decide which of the unitaries that make up the channel to apply. For example, with a Bit Flip channel of with probability 0.3, it will apply an X gate with 0.3 probability and do not

[2019-06-08 18:30] AlicePagano commented on #1704
I already used cirq.Simulator() but it doesn't work because of:

Can't simulate unknown operations that don't specify a _unitary_ method, a _decompose_ method, (_has_unitary_ + _apply_unitary_) methods,(_has_mixture_ + _mixture_) methods, or are measurements.: cirq.phase_damp(gamma=0.2).on(cirq.LineQubit(0))

So I thought exist another simulator to do this, or I have to add some option to the nois

[2019-06-08 19:04] c-poole commented on #1704
Ah I see. I had thought these channels all had mixtures specified and so I expected cirq.Simulator() to work. The DensityMatrixSimulator option should still work though.

[2019-06-09 20:40] AlicePagano commented on #1704
Thanks @c-poole ! DensityMatrixSimulator work, but I have a N=18 qubit circuit to simulate so it need too much computational resources and kernel die. I'll try different way.

[2019-06-09 21:17] c-poole commented on #1704
PhaseDampening channels have the same effect on a density matrix as a phase flip channel, probably with some need to translate between the input arguments based on the way they are defined in cirq. You could get away with just dropping the phase dampening channel and moving on to regular Simulator which will perform the Monte-Carlo simulation I described in a previous comment.

[2019-06-09 21:33] Strilanc commented on #1704
Hmmm, it is kinda confusing that `cirq.Simulator` doesn't work on noisy circuits. Maybe we should try to generalize it to be more of a "just works" simulator.

You can use `cirq.sample` on any circuit. It will pick an appropriately fast or general simulator as needed.

[code]

Prints e.g.

`a=1111110111111101111111101111111011111111111110111111111111111111101111111111111111111111001111101110`

As

[2019-06-09 21:33] #1704 closed

[2019-06-10 05:01] iamvamsikrishnad commented on #1701
I'd leave it up to your judgement.
I feel since the cirq installation is failing because of the dependencies, we should track it here as a cirq bug as well.

[2019-06-10 14:26] vtomole commented on #1701
The cirq installation does't fail because of this. It throws a warning that the versions of astroid and pylint are not compatible. If i'm wrong about this let me know. Also, the title of this issue doesn't seem to match what we are discussing right now.

[2019-06-10 16:01] iamvamsikrishnad commented on #1701
Sure.

[2019-06-10 17:59] c-poole commented on #1610
This vagueness stems at least in part from a lack of default behavior in `NoiseModel`. We have a clear hierarchy of potential methods to use:
`noisy_circuit` which can access the circuits sequence of moments and device
`noisy_moments` which only accesses a sequence of moments
`noisy_moment` which accesses a single moment (which can be thought of as a sequence of operations)
`noisy_operation` which

[2019-06-10 19:30] dabacon opened #1705 "Create nice str representation for DensityMatrixTrialResult"
It has a repr, but not a good str.

Should work similar to WaveFunctionTrialResult.

[2019-06-10 21:26] vtomole commented on #1425
Got it: This is what's happening: https://travis-ci.com/quantumlib/Cirq/jobs/206539331

[code]

I'm going to change it to 6 decimal places to fix.

[2019-06-10 22:50] #1679 closed

[2019-06-10 23:23] vtomole opened #1708 "Speed up Windows travis builds if possibe"
They are currently too slow compared to other pipelines.

[2019-06-10 23:33] Strilanc commented on #1708
An easy win might be to filter down the dev requirements being installed.

If we get desperate we could also consider omitting the contrib tests.

There's also always the option of paying travis-ci more money, so we can run more builds in parallel.

[2019-06-11 00:59] #1624 closed

[2019-06-11 01:21] #1425 closed

[2019-06-12 15:51] vtomole commented on #1693
Based on Dave's link, 54 percent of the users surveyed are on Python 3.6 vs 11% on 3.5.

[2019-06-13 05:15] c-poole commented on #1648
Is there a counter-example in the library at the moment?

[2019-06-13 14:44] dabacon commented on #1648
Do we worry about the case where apply unitary is used to do something efficiently where the unitary would be very large?

[2019-06-13 14:45] #1476 closed

[2019-06-13 17:57] c-poole commented on #1394
Can this be closed now that #1650 was merged or is there more to be done @Strilanc?

[2019-06-13 18:03] c-poole commented on #1648
I think the implication isn't that the library would be using the unitary directly (the whole point of apply unitary was to avoid this), but rather that a user might want to know the unitary. The implication seems to be that since the unitary can be constructed from _apply_unitary_, if _unitary_ isn't defined cirq should perform this construction for the user who was interested rather than making

[2019-06-13 18:09] dabacon opened #1713 "PhasedXPowGate raised to a symbol power fails is_parameterized protocol"
The following
[code]
has val False.  Compared with
[code]
which has val True.

[2019-06-13 19:31] #1713 closed

[2019-06-13 19:43] vtomole commented on #788
Context please?

[2019-06-13 19:48] vtomole commented on #730
Closing because we have made a lot of progress in simulating noise. Even though there is still more work to do, this issue is not specific enough to define when to close.

[2019-06-13 19:48] #730 closed

[2019-06-13 21:09] vtomole commented on #1708
@verult How long does it take to run Pytest on Windows in Prow?

[2019-06-13 21:40] maffoo commented on #1156
I'd like to revisit this, because I'm currently dealing with some protobuf translation issues but want to get input before I put in too much work. I think it's nice to use the protobuf classes directly for some use cases (and we could even enable [stub generation](https://github.com/dropbox/mypy-protobuf) to get type checking of the messages). Also, there's an existing [`json_format`](https://gith

[2019-06-13 21:42] kevinsung commented on #935
One way we could do this is to have a `cirq.optimize.minimize` method analogous to `scipy.optimize.minimize`. We don't really need to make any classes to do it this way.

[2019-06-13 22:01] Strilanc commented on #1156
What do you see as the advantages of using the protobuf classes, instead of just dictionaries? These are serialized objects; we mostly interact with them in code that is converting into or out of the representation. Is that code noticeably difference if we use the protobuf classes instead of dicts?

I agree that outside of conversion code, when actually operating on the representation, you want mo

[2019-06-13 22:13] maffoo commented on #1156
One issue is that right now we are hand-rolling the serialization code to try to be compatible with the canonical json representation of protobuf message, but we differ in some cases. For example, protos represented as json messages can omit fields that have default values, but in `GridQubit` we currently [require](https://github.com/quantumlib/Cirq/blob/master/cirq/devices/grid_qubit.py#L152) tha

[2019-06-13 22:28] maffoo commented on #1156
Another thing I'll say in favor of writing protobuf (de)serialization functions is there are far fewer magic strings in the code because we don't have to write the field names manually.

[2019-06-13 22:49] maffoo commented on #1156
Another wrinkle: the official [JSON format](https://developers.google.com/protocol-buffers/docs/proto3#json) specification for protobuf says that field names are mapped to `lowerCamelCase` unless a field is annotated with a `json_name` option. We are definitely not following that in our hand-rolled serialization code.

[2019-06-14 04:49] iamvamsikrishnad commented on #1687
@Strilanc : Can you please let me know if this sounds okay ?

[2019-06-14 18:04] viathor commented on #1156
The datapath from cirq on a client's machine to the quantum computers in the cloud should be simple and easy to maintain.

Rolling our own JSON format and shoe-horning it into protobuf-compatible shape somewhere along the cirq-cloud datapath is highly likely to result in bugs, outages and tears.

Therefore, we should avoid hand-rolled serialization code. Since protobufs have a standardized JSON re

[2019-06-14 19:11] balopat commented on #1703
I'm happy to take this on - I'm digging into the optimizers anyway.

[2019-06-14 19:42] vtomole commented on #1703
Thank you!

[2019-06-14 20:55] dabacon opened #1719 "Override of PhasedXPowGate causes determinant of gate to jump discontinuously"
[code]
and the gates also change badly
[code]

These discontinuous jumps are likely coming from the __new__ override code.

[2019-06-15 01:03] c-poole commented on #1719
This happens because flipping the sign of the exponent in the special cases of phase_exponent=1, -0.5 also applies a global phase and can be corrected by adjusting the global_shift of the resulting XPow or YPow gate. This will break an awful lot of tests that assume global_shift never gets touched in the special casing.

[2019-06-17 06:55] bradyb commented on #1705
I can take a look

[2019-06-18 00:22] Strilanc commented on #1705
Sure thing.

[2019-06-18 00:53] Strilanc opened #1723 "cirq/testing/asychronous accidentally introduced a dependency on pytest"
@cduck noticed this.

Pytest is only supposed to be a dev dependency, but `asynchronous.py` imports it in order to implement one of the helper testing methods. We should rewrite the code in question.

Also, we should have a trivial continuous integration check that does nothing except try to import cirq and print a circuit (similar to what the package verification script does). This could be snuck

[2019-06-18 07:09] maffoo commented on #1156
Fixed by #1717

[2019-06-18 07:09] #1156 closed

[2019-06-18 13:39] vtomole commented on #624
@dabacon Good to close?

[2019-06-18 13:41] vtomole commented on #900
@Strilanc Ping +2

[2019-06-18 19:31] #1723 closed

[2019-06-18 19:57] Strilanc commented on #1687
That is not sufficient, because operations may be appended into circuits dynamically via append, iadd, etc.

We can either enforce this at the circuit level by checking at all edit points or at the simulator level by checking at all entry points.

I do think we should check in Moment's constructor, as a sanity check.

[2019-06-18 20:03] Strilanc commented on #624
Yeah this is settled.

[2019-06-18 20:03] #624 closed

[2019-06-18 22:09] Strilanc commented on #1693
I think I've thought of a hacky solution to the 3.5-is-forever-confusingly-broken problem.

When we release the next package, we mark it as compatible with 3.5 (and even 2.7). But at import time we check if the version is 3.5, and if it is then we blow up with an error message saying "you either need to upgrade to python 3.5 or you need to install the old version of cirq==0.whatever".

This transf

[2019-06-18 22:16] terrillfrantz commented on #1693
Folks, I am just a lurker to the thread at this point, but such a strong
message is a good thing to do for those of us not using Cirq everyday,
or are entirely new to it. Saves everyone--the noob and the development
community--a lot of pain as you can well imagine.

On 6/18/2019 6:09 PM, Craig Gidney wrote:

[2019-06-18 22:39] Strilanc opened #1728 "Is python3-tk still a system requirement?"
We had this requirement because of matplotlib, but I just tried uninstalling python3-tk from my machine and then plotting stuff and it worked.

Note that we did switch to a more recent version of matplotlib: https://github.com/quantumlib/Cirq/pull/1684 . But in my testing the old version also worked..

[2019-06-19 00:15] Strilanc commented on #900
We don't need CircuitDag to support this to close it. Thanks for the pings. :+1:

[2019-06-19 00:16] Strilanc commented on #1394
Yup, it can be closed!

[2019-06-19 00:16] #1394 closed

[2019-06-19 00:35] #900 closed

[2019-06-19 02:32] #1719 closed

[2019-06-19 02:55] vtomole commented on #1728
tkinter is packaged with the Python 3+ installs. Seems like i wasn't the only one having problems reproducing this: https://stackoverflow.com/questions/25905540/importerror-no-module-named-tkinter.  I'll remove this as part of the "Remove Python 2 support" issue.

[2019-06-19 17:17] vtomole commented on #508
You might have fixed it because i haven't been able to reproduce it. This might have had to do with something else in the PR you are linking. Open if you able to reproduce.

[2019-06-19 17:17] #508 closed

[2019-06-19 17:57] vtomole commented on #1671
This sounds familiar to what @bryano  has been working on.

[2019-06-19 18:41] Strilanc opened #1731 "Refactor EigenGate to not use globalshift anymore and instead use individual phases for each eigenspace"

[2019-06-19 19:04] c-poole commented on #1708
Appveyor may be worth looking into. Another possibility is packaging wheels/install utilities to speed up making an environment in windows or just straight up spoofing an environment. If we choose this second option we would need to make sure that changes to our various requirements files didn't cause issues.

[2019-06-19 22:07] #1728 closed

[2019-06-20 20:25] dabacon commented on #1708
#1732 disables the virus checker which gets the time for the windows test down to comparable to the coverage test.  Going to close for now.

Note that our current travis-ci integration runs 5 in parallel, but since we have two really fast tests parallelism doesn't really help.  The slowest two tests dominate the time right now (and other quantumlib repos don't submit at a high rate yet).

[2019-06-20 20:26] dabacon commented on #1708
Also just for clarity I also got caching working for pip on windows.  It ended up not really having much impact because while the pip steps are faster, the cache download time also goes up by enough to make this at best a few second improvement.  Our dependencies are O(180) Mb if this grows somehow, then we should revisit.

[2019-06-20 20:30] dabacon commented on #1647
Does #1680 fix this or is there still more work to be done here?

[2019-06-20 20:31] dabacon commented on #184
I think this isn't really that useful.  Going to close unless someone comes up with a good use case.

[2019-06-20 20:31] #184 closed

[2019-06-20 20:32] dabacon commented on #356
The new protos (v2) don't have this problem, but we need code that wraps and unwraps these.

[2019-06-20 20:40] maffoo commented on #356
I have internal code for this, and was planning to move them to cirq, so I'll assign to myself.

[2019-06-20 22:02] Strilanc commented on #1708
We do have the option of splitting tests across multiple builds, except for the incremental coverage build.

[2019-06-20 22:04] vtomole commented on #216
Pinging @Strilanc  too.

[2019-06-20 23:25] c-poole commented on #1708
Splitting the tests across multiple operating systems would defeat the purpose of testing on multiple operating systems wouldn't it?

[2019-06-20 23:33] c-poole opened #1735 "Channel/Mixture/Unitary methods compiled Mega-Issue for discussion"
I've been giving some thought spurred by the recent Cirq Cynq discussion for #1657 . There are a few open issues about how the protocol methods behave, including #1527 , #1648, #1163  I think we need a clear idea of what the variety of utility protocols we have for these concepts mean and how they interact. This issue is essentially my proposal for how it seems they should work. Where appropriate,

[2019-06-21 20:18] dabacon commented on #861
#1567 and related fix this.

[2019-06-21 20:18] #861 closed

[2019-06-21 20:31] dabacon commented on #911
it looks like this is now fixed
[code]

[2019-06-21 20:31] #911 closed

[2019-06-21 20:32] dabacon commented on #1124
OK so now it looks like we have this working checking for regressions.  Close?

[2019-06-21 20:36] dabacon commented on #1658
Fixed in #1678

[2019-06-21 20:36] #1658 closed

[2019-06-21 21:48] Strilanc opened #1739 "PROPOSAL: merge sim.run and sim.run_sweep into sim.sample"
After https://github.com/quantumlib/Cirq/issues/1689 is resolved, the return type of both sim.run and sim.run_sweep will be identical. The only difference between them is that one takes a sweep and one takes a parameter resolver. But we can use a common parameter for both cases, so that a sweep is called in exactly the same way as a non-sweep, just with parameters = a sweep instead of parameters =

[2019-06-21 22:05] #1693 closed

[2019-06-21 22:12] Strilanc opened #1740 "Add cirq.sample_final_wavefunction method"
When a circuit has noise, it does not have a well defined final wavefunction. But as long as the noise is all in the form of mixtures, it is still possible to sample from the possible final wavefunctions as efficiently as if you were running a unitary simulation.

Things this issue involves:

- Update cirq.final_wavefunction error message to mention the sample_final_wavefunction as an alternative

[2019-06-21 22:30] #1598 closed

[2019-06-22 04:25] sloveys commented on #1419
I'm also having a problem with printing the circuit. I think it's a problem with windows command prompt not having good support for unicode. Strilanc's recommendation of `print(circuit.to_text_diagram(use_unicode_characters=False))` worked for me, however when I tried running this code `print(cirq.google.Bristlecone)` I ran into the problem again. But there didn't seem to be a `.to_text_diagram` m

[2019-06-22 10:43] vtomole commented on #1740
Good first issue for the ambitious.

[2019-06-23 20:38] Strilanc commented on #1419
Urgh, it is so frustrating for a modern OS to not understand monospaced UTF8.

I would really prefer not to make the default ASCII, because it's much harder to parse visually. But maybe it's necessary.

We could have a global switch to set it, like an equivalent of `np.printoptions`, but I dislike that kind of configuration because it's so easy for code in one file to break code in a file somewher

[2019-06-23 21:18] sloveys commented on #1419
That's why you set global switches in a `if __name__ == "__main__":` block to prevented from changing setting if that file is later imported. But ya, it would be so much easier if standards where... standard.

[2019-06-24 07:07] iamvamsikrishnad commented on #1687
Thanks @Strilanc

I am almost finished with the coding. One question I have before submitting PR is:
how to deal with measurements with not key provided (as I see that the cirq.measure doesn't need key as mandatory arg). This creates two cases where all the measurements are provided without keys and the case where some measurements has keys and some don't.

[2019-06-24 18:55] Lucaman99 commented on #1740
I'm no expert, but I would like to try to give one of these issues a try. How difficult do you think this will be to resolve?

[2019-06-24 19:08] vtomole commented on #1740
@Lucaman99  I encourage you to try it out and let us know when you get stuck (if you do). Note: there are other easier issues here: https://github.com/quantumlib/Cirq/labels/good%20first%20issue

[2019-06-24 19:28] Lucaman99 commented on #1740
@vtomole Great, I'll give it a shot! Thank you!

[2019-06-24 20:29] #356 closed

[2019-06-24 20:47] Strilanc commented on #1740
`cirq.Simulator` will already do the right thing if given a circuit with mixture gates, so there's no need to write new simulation code. It's mostly a matter of short-circuiting the simulation quickly when it's going to fail anyways.

[2019-06-24 23:20] vtomole opened #1742 "Partially support QUIL"
We currently support QASM output and there is some work being done by @balopat for QASM imports. We should also support QUIL (https://arxiv.org/abs/1608.03355)  because it's another popular ISA that's currently used. We can't support the whole instruction set because it's meant for hybrid architectures, but we can support whatever our QASM implementation supports.

[2019-06-25 00:33] Lucaman99 commented on #1740
@Strilanc Awesome, I'll try doing that

[2019-06-25 22:09] dabacon commented on #1739
Need to remember to update documentation on rename of sample and run.

Should there be a similar refactoring for the simulate method?

[2019-06-25 22:58] peterse opened #1750 "validating wavefunctions"
There should be some standard predicate to check if an input array is normalized, shaped like `(2 ** N)` or `(2,) * N` for N qubits.

Since there will be support for qudits in the near future, it might make sense for the function to check for an input array shaped like `(d ** N)` or `(d,) * N` for a qudit of dimension d. However this immediately poses an ambiguity issue (e.g. Two 4-dits and four q

[2019-06-26 02:12] Lucaman99 commented on #1740
Hey @vtomole @Strilanc, sorry, this is irrelevant to the actual issue, but I've been trying to setup the virtual environment for Cirq development for a few hours now and for some the reason the virtualenvwrapper library is just not working. It doesn't recognize commands when I try to create a new virtual environment. Would you happen to have any suggestions for resolving this issue?

[2019-06-26 02:16] Strilanc commented on #1739
Yes, `simulate` should become e.g. `final_wavefunction` or `sample_wavefunction`.

[2019-06-26 02:16] Strilanc commented on #1740
Sometimes you need to open a new terminal after installing.

virtualenvwrapper is a system dependency, so pip installing cirq or its python dependencies won't install it.

[2019-06-26 02:48] Lucaman99 commented on #1740
@Strilanc Yeah I installed all of the requirements.txt and restarted the terminal, still not recognizing the command.

[2019-06-26 02:51] Strilanc commented on #1740
In that case I'm not sure what to do. You can always fall back to using virtual envs in the standard way, with a `.venv` folder somewhere.

[2019-06-26 02:53] Lucaman99 commented on #1740
Ok, I'll give that a try, thanks!

[2019-06-26 03:27] Strilanc commented on #1708
I didn't mean split it up like that, I meant split it up like "pytest circuits", "pytest ops", etc for each operating system.

We could use the multi-threaded pytest plugin, if it didn't get so upset about some of the tests being generated with random parameters.

[2019-06-26 15:58] vtomole commented on #1675
@Strilanc Is this right?

[code]

[2019-06-26 16:05] vtomole commented on #216
This is actually outdated.

[2019-06-26 16:05] #216 closed

[2019-06-26 16:09] vtomole commented on #217
@Strilanc This is done since our move to `TrialResult`, correct?

[2019-06-26 16:12] vtomole commented on #160
Looks like @mafoo is back, so i'll ping him again :)

[2019-06-26 23:54] Strilanc opened #1755 "Automerge script doesn't understand "one approved one disapproved" review status"
E.g. see behavior in https://github.com/quantumlib/Cirq/pull/1745

[2019-06-27 02:30] bryano commented on #95
Can this be closed?

[2019-06-27 02:31] bryano commented on #646
Can this be closed?

[2019-06-27 09:22] #95 closed

[2019-06-27 16:06] vtomole commented on #617
I'm unable to reproduce this

[code]
Result
[code]
Please reopen or comment if you have managed to reproduce this issue.

[2019-06-27 16:06] #617 closed

[2019-06-27 21:01] Strilanc opened #1760 "Is anyone still using `continuous-integration/check.sh` ?"
In my own workflow I've switched over entirely to the scripts in the `check/` folder, which are significantly faster (if not quite as bullet proof in terms of agreeing with Travis-ci).

I ask because without maintenance these scripts gradually bit-rot and stop working. E.g. @cduck had some trouble with continuous-integration/check.sh .

[2019-06-27 21:03] vtomole commented on #1760
I was about to make this issue.

CC: @dabacon

[2019-06-27 21:27] bryano commented on #1760
I use `continuous-integration/simple_check.sh`.

[2019-06-27 21:37] Strilanc commented on #1675
That's an example of what should start working to fix this issue.

[2019-06-27 21:39] #1635 closed

[2019-06-27 21:41] Strilanc commented on #1647
I asked @babbush and he said it's no longer blocking him, therefore it's good to close.

and...... clo-

[2019-06-27 21:41] #1647 closed

[2019-06-28 11:28] gauravMann commented on #1698
Hi @Strilanc I apologize for the delay.
Please review the pull request [https://github.com/quantumlib/Cirq/pull/1762](url)

[2019-06-28 19:38] dabacon commented on #1760
I haven't been using it.  Do we have a script that runs all the relevant scripts in the check folder?

[2019-06-28 19:42] Strilanc commented on #1760
No, there's not a "run all" script.

Because we now have continuous integration checks across platforms, it's not actually possible for one person to run all the checks anymore (without VMs anyways).

[2019-06-28 19:50] dabacon commented on #1760
Yes I understand that.  But right now it is annoying that there isn't one thing I can run which gives me some idea that the build is going to fail or not.  Instead I run each of these by hand.
[code]
though sometimes I do the incremental coverage.   It would be nice to have a single script that does this

[2019-06-28 19:54] Strilanc commented on #1760
We could definitely add an `all` script.

It would be a bit unusual for the `all` script to apply formatting changes instead of checking for them.

[2019-06-28 20:42] #1682 closed

[2019-06-28 22:07] dabacon commented on #969
Think we are moving towards having empty qubit sets?  At least this is for the global phase operation.

[2019-06-28 22:12] Strilanc commented on #969
Yeah, I think this is obsoleted by the introduction of the GlobalPhaseOperation.

[2019-06-28 22:12] #969 closed

[2019-06-29 00:28] bryano commented on #1760
@dabacon `simple_check.py` does the latter three things (with coverage). Its omission of the formatting I think is just because it hasn't been updated since formatting was introduced.

[2019-06-29 22:46] c-poole commented on #1760
I've been using pytest on my own machine and relying on travis to tell me what else I need to fix.

[2019-06-30 19:52] timothyman commented on #1675
I just submitted #1765

[2019-07-01 16:12] dabacon commented on #1760
Oops.  fat moused the button

[2019-07-01 20:48] #1698 closed

[2019-07-02 10:13] AlexisRalli opened #1767 "Possible Bug with cirq.ParamResolver"
When running the following code:

[code]

One gets an error of:

`'str' object has no attribute 'value_of'`

When checking everything seems to be working:
[code]

Am I potentially just using the simulator in the wrong way?

[2019-07-02 14:41] vtomole commented on #1767
You are on an older version of cirq. Please upgrade by executing `pip install cirq --upgrade` and it will work

[code]

[2019-07-03 17:26] peterse commented on #1632
resolved in #1699
for the record:
- `cirq.subwavefunction` attempts to factor a wavefunction into two pure states and return the pure wavefunction over the `kept_qubits` arg, or else fails
- `cirq.wavefunction_partial_trace_as_mixture` factors a wavefunction into a (possibly pure) mixture and returns a tuple representing that mixture.

[2019-07-03 17:26] #1632 closed

[2019-07-03 18:13] Strilanc opened #1772 "Implement ApproximateEqualsTester or add approximate=True to EqualsTester"

[2019-07-03 18:13] Strilanc opened #1773 "Mention gitter cirqdev in readme"

[2019-07-03 18:37] Strilanc opened #1774 "Add Reset channel"
The reset channel is equivalent to performing an unobserved measurement which then controls a bit flip onto the targeted qubit. It is also equivalent to tracing out a qubit and then swapping a fresh 0 qubit into the system.

[2019-07-03 18:55] Strilanc opened #1775 "Qasm output should include identity gates"

[2019-07-03 22:16] #1773 closed

[2019-07-04 05:18] Lucaman99 commented on #1740
Hey @Strilanc, I've been playing around with the cirq.final_wavefunction method and it is making sense. I was wondering though, when you say you don't want this new method to allow "fully general channels", what exactly do you mean by that?

[2019-07-04 18:16] Lucaman99 commented on #1740
Hey @Strilanc - So to construct the cirq.sample_final_wavefunction I took the cirq.final_wavefunction method and removed the condition that all gates have to be unitary. I tested it with a bit flip method acting on a qubit in a small circuit, and it seemed to work (it outputted the correct wavefunction). The issue is that I can only call this new method as cirq.sim.mux.sample_final_wavefunction. I

[2019-07-04 23:58] Roger-luo opened #1778 "Incompatible with matplotlib 3.1.1"
Any reason why cirq is not using a conditional dependency for visualization? e.g allow using `pip install cirq[matplotlib]` to enable matplotlib visualization. This can be quite annoying on servers.

I think it is related to #1269

[2019-07-05 01:15] Lucaman99 commented on #1740
Also @Strilanc, how would one differentiate between mixtures and fully-general channels?

[2019-07-05 02:47] Lucaman99 commented on #1740
In addition, I tried using the cirq.has_mixture as opposed to cirq.has_unitary method, but for some reason, this didn't work (it kept throwing the same error, meaning that cirq.has_mixture(arg) = False for an argument that should return True).

[2019-07-08 17:55] Strilanc commented on #1740
Hey @Lucaman99 ,

A fully general channel is an operation that implements `_channel_` but not `_mixture_` or `_unitary_`. That is to say, it does not have an interpretation as a probabilistic set of unitaries acting only on the system qubits. @dabacon do you know a specific concrete example of such a channel?

You have to import it within `cirq/sim/__init__.py` and then `cirq/__init__.py`.

This i

[2019-07-09 05:04] Lucaman99 commented on #1740
Hey @Strilanc

Thank you for your response! For the `has_mixture` method, it's essentially just failing when I try to replace the `has_unitary` with it. I played around with the function a bit more, and created a few simple circuits with some mixer gates (bit flip, phase damp, amplitude damp, etc.) and the `has_mixture` method seems to always return false, regardless of whether the gates in the ci

[2019-07-09 05:05] Lucaman99 commented on #1740
On the other hand, the `has_unitary` method is working exactly as expected, which leads me to believe that this is in fact a bug. Should I open an issue?

[2019-07-09 12:20] vtomole opened #1780 "Add Simon's algorithm example"
Basically translate the example presented https://en.wikipedia.org/wiki/Simon%27s_problem to Cirq.

[2019-07-09 21:33] Strilanc opened #1782 "Add noisy simulation example"
Demonstrate use of `NoiseModel` (e.g. `cirq.ConstantQubitNoiseModel`) with `cirq.sample`.

[2019-07-09 21:35] vtomole commented on #1569
Duplicate: https://github.com/quantumlib/Cirq/issues/1782

[2019-07-09 21:35] #1569 closed

[2019-07-09 22:32] Strilanc commented on #1740
Yes, please open an issue. That's a serious bug.

[2019-07-09 23:29] Lucaman99 commented on #1740
@Strilanc Will do! Any idea what could be causing the bug?

[2019-07-09 23:32] Lucaman99 opened #1783 "`has_mixture` always returning False"
When `has_mixture` is called on a circuit containing mixer gates, a combination of unitary/mixer gates, or exclusively unitary gates, the method seems to always return False as opposed to its `has_unitary` counterpart, which returns True if and only if a circuit contains exclusively unitary gates.

[2019-07-09 23:33] Lucaman99 commented on #1780
@vtomole This sounds super cool, mind if I give it a try?

[2019-07-10 00:20] Strilanc commented on #1740
Probably something silly like checking for `_has_mixture_` but not `_has_unitary_` (which implies that a mixture can be derived).

[2019-07-10 00:28] cduck opened #1784 "QubitOrder.explicit fails when given an iterator"
Also affects `QubitOrder.as_qubit_order()`.  I believe the issue is on line 77 of cirq/ops/qubit_order.py.

Example:
[code]

The example raises `ValueError: Unexpected extra qubits: {cirq.LineQubit(3)}.` because `reversed()` is an iterator and QubitOrder tried to iterate it twice.

[2019-07-10 01:26] mpharrigan opened #1787 "Syntactic sugar for cirq.Circuit.from_ops (?)"
When using cirq, you'll typically want to create a circuit. As far as I can tell, the most common way of doing that is with `cirq.Circuit.from_ops`. Since this is so common, it *might* be nice to have a shorter alias. Maybe `cirq.ascircuit(...)` by analogy to `np.asarray`. What do you think?

[2019-07-10 02:45] vtomole commented on #1243
@dabacon Has the recent work on the Engine addressed this yet?

[2019-07-10 04:52] bryano commented on #1787
Why don't we just allow arbitrary op_trees in the `Circuit` constructor?

[2019-07-10 04:59] Strilanc commented on #1787
Now that we have the convention about moments going in without being reflowed, `from_ops` is in fact a strict superset of the constructor. Allowing `cirq.Circuit(OP_TREE)` could be reasonable.

[2019-07-10 14:51] vtomole commented on #1780
@Lucaman99 Go for it!! Try to follow the https://github.com/quantumlib/Cirq/blob/master/examples/bernstein_vazirani.py pattern.

[2019-07-10 19:05] cduck opened #1793 "Add assert-on-tuple rule to pylint"
This pylint check should prevent people from accidentally parentheses around the arguments to assert.

Bug that pylint should catch:
[code]

Fixed:
[code]

[2019-07-10 20:07] cduck commented on #1793
This has already been done.

[2019-07-10 20:07] #1793 closed

[2019-07-10 22:02] #1784 closed

[2019-07-10 22:24] Strilanc opened #1795 "Decide whether PhasedXPowGate(0) == X"
Deferred from https://github.com/quantumlib/Cirq/pull/1788

[2019-07-10 22:27] #1775 closed

[2019-07-11 14:26] balopat opened #1800 "cirq.Rx/Ry/Rz(pi) has confusing QASM output since these are not gates on their own."
as `cirq.Rx()` is just an `XPowGate` instantiation, `Rx(pi)` becomes `x`. This is just true up to a global phase, but also might be surprising for users. Also `Rx(0)` is not `id`, so it is not consistent.

Recommendations:

- `cirq.Rx/Ry/Rx` would become proper subclasses of `XPowGate` instead of just methods and override the `_qasm_` to keep the `rx(<angle>) q;` QASM output form.
- `XPowGate._qas

[2019-07-11 21:17] Strilanc commented on #1800
Now that we have `cirq.GlobalPhaseOperation`, I think we should consider removing `global_shift` from `EigenGate` resulting in splitting `RxGate` out of `XPowGate`.

[2019-07-11 22:37] dabacon opened #1801 "Make sure protos are correctly compiled."
We have build-protos.sh for compiling protos.  We should have as part of the CI tests a test that checks that compiled proto code is correct.

[2019-07-12 19:01] mpharrigan commented on #1800
That's a pretty big change

[2019-07-12 21:02] mpharrigan opened #1803 "Optimizer that re-"left aligns" circuit"
[code]

[code]

Propose something like:

[code]

[code]

[2019-07-12 22:20] XiaoMiQC opened #1804 "sim.Simulator() is very slow"
sim.Simulator() is significantly slower than a couple of weeks ago. qubit_characterizations_test.py now takes 50s to run as opposed to a few seconds before. Has there been some recent change to the simulator?

[2019-07-12 22:59] dabacon commented on #1804
Pandas maybe?

[2019-07-12 23:24] Strilanc opened #1805 "Move Pauli string expectation value calculation into PauliString then delete the associated display"

[2019-07-12 23:25] Strilanc opened #1806 "Add Parameter columns to TrialResult data frame"

[2019-07-12 23:26] Strilanc opened #1807 "TrailsResult's data frame will fail for more than 64 qubits due to integer conversion."
(Still exposed as a list by legacy methods though)

[2019-07-12 23:27] Strilanc opened #1808 "Rename TrialResult to just Result (with deprecated TrialResult for compatibility)"

[2019-07-12 23:27] Strilanc opened #1809 "Add documentation demonstrating usage of new TrialResult for common tasks"

[2019-07-13 00:11] Strilanc opened #1812 "Have standardized global methods for going from List[int] + shape to index"
Would be used e.g. when packing down measurement results into an integer.

The endian-ness of this method has to be big endian in order to match the convention set by np.kron.

[2019-07-13 00:20] cduck commented on #1812
Also the inverse function from index + shape to List[int].

[2019-07-15 19:07] vtomole opened #1813 "Occasional regressions in performance tests"
When re-run, these tests usually pass. We should increase the margin of error for these checks.

See: https://github.com/quantumlib/Cirq/pull/1796#issuecomment-511494180

Update: https://travis-ci.com/quantumlib/Cirq/jobs/215339790 which is related to https://github.com/quantumlib/Cirq/issues/1804 which was probably caused by https://github.com/quantumlib/Cirq/pull/1752 might be what is slowing do

[2019-07-15 20:49] Strilanc opened #1815 "Automatically generate documentation related to protocols"
Here's a tricky one.

Currently, there's not a good place in the documentation for tasks like:

- What's the signature for "_apply_unitary_", again?
- What are all the magic methods I can implement?
- What global methods will work on this object?
- What kinds of objects can I pass into this global method?

It would be very beneficial if we could include this kind of information in the documentatio

[2019-07-15 23:37] Strilanc commented on #1813
I disagree that we should increase the margin of error. I think these periodic failures being ignored indicates that these tests are not fulfilling their function.

Since the tests are not being respected, and I don't see a viable way to force them to be respected in a way that doesn't put undue burden on unrelated contributions, I think we should remove the performance tests.

If we want performa

[2019-07-16 00:04] Strilanc commented on #1800
Yeah, there's no particular rush on making it. We could start by perhaps extracting RxGate as a child class of XPowGate.

[2019-07-16 00:27] Strilanc opened #1816 "Start running doctest"
Doctest finds lines like

[code]

In docstrings and actually evaluates them and checks that they output what is shown in the example. This allows us to add an "Examples" section to docstrings while ensuring they function.

I did this recently, and _immediately_ made a failing example that I tried to submit. So perhaps we should verify this with actual test execution, in the same way that we verify

[2019-07-16 00:35] Strilanc commented on #1816
Example. In my PR https://github.com/quantumlib/Cirq/pull/1814

[code]

Produced

[code]

[2019-07-16 02:49] #1813 closed

[2019-07-16 17:56] dabacon opened #1819 "Nightly dev builds"
Releasing dev builds to pypi is currently done manually and in an ad hoc manner.  We could move to nightly builds.

[2019-07-16 18:24] dabacon commented on #251
I don't see this.  Think the way we are accessing engine now won't hit this.  Going to close unless someone can reproduce.

[2019-07-16 18:24] #251 closed

[2019-07-16 19:30] Rbatistab opened #1823 "ModuleNotFoundError: No module named 'cirq'"
Hi everyone!
I'm new to cirq, and have just installed OpenFermion, wich works correctly, and cirq (https://buildmedia.readthedocs.org/media/pdf/cirq/stable/cirq.pdf), all the installation went fine, with:

worked all good, but when I try to compile a small test (bellow), I get this error:

Does anybody know what is going on?

Small test:
import  openfermion
import  openfermioncirq  as  ofc
from op

[2019-07-16 19:53] vtomole commented on #1823
Are you using the same interpreter that you ran `python -c "import cirq; print(cirq.google.Foxtail)"` with when you try to run Openfermion?

[2019-07-16 20:01] Strilanc commented on #1823
You're most likely running the tests in a different virtual environment. For example, if you are running the tests from PyCharm, you need to tell it to use the virtualenv into which you installed cirq.

[2019-07-16 20:02] Rbatistab commented on #1823
Hi! Well, I think I do, but I'm very new in Python
I installed Anaconda 3.7, and in the navigator work with spyder
The first time I installed cirq I got this error:

But managed to change to python 3 and the installation worked, and also tried this

which also worked

[2019-07-16 20:03] Rbatistab commented on #1823
Thanks! I will just try now!

[2019-07-16 20:26] Strilanc commented on #1819
Sounds reasonable. Any suggestions on what would actually be producing the builds? Some kind of cron job running on Travis?

[2019-07-16 20:29] #1816 closed

[2019-07-16 23:12] Strilanc opened #1826 "Make --actually-quiet work in the windows tests on Github Actions"
https://github.com/quantumlib/Cirq/pull/1825 added `--actually-quiet` parameter to `check/pytest` to suppress progress output from pytest in travis logs.

This is done by piping through `grep -Pv '^(.\[0m)?[\.FEsx]+(.\[36m)?\s+\[\s*\d+%\](.\[0m)?$'` which detects lines like

[code]

accounting for the possibility of color codes being present.

However, this does not work in the windows tests build

[2019-07-17 01:44] Strilanc opened #1831 "Can we bump the google.protobuf pinned dependency version to ~=3.9?"
There are deprecation warnings being triggered by 3.5.

[2019-07-17 02:00] Strilanc commented on #1812
Fixed in https://github.com/quantumlib/Cirq/pull/1811 by big_endian_int_to_digits and friend

[2019-07-17 02:00] #1812 closed

[2019-07-17 02:32] Strilanc commented on #1823
I am going to close this issue since it has more to do with python environments than cirq. But feel free to ask for more help.

[2019-07-17 02:32] #1823 closed

[2019-07-17 13:40] balopat commented on #1800
As this is QasmOutput related there might be other ways around it - i.e we could handle known gates in the Qasm protocol, this way this Qasm specific structure doesn't have to force anything on the Cirq representation - there are other places where this is an issue, namely the S and T gates  (and maybe CH, CY could be supported too?):

<details>
  <summary>Code generating QASM</summary>

[code]

<

[2019-07-17 14:55] vtomole opened #1833 "Add FAQ.md"
`What is the difference between Cirq and Qiskit, Q# e.t.c?` is one i've been asked a lot. I can't remember others so post them on this comment section.

[2019-07-17 18:18] Strilanc opened #1835 "Make noise models composable"
A major problem with NoiseModel as it is currently defined is that there is no way to define a compose(noise1, noise2) operation that works in the way the user would expect.

In general there may not be a way to compose two arbitrary noise models in a user-expected way, but certainly why they e.g. apply to non-overlapping operations or talk about orthogonal concepts of noise, it would be useful to

[2019-07-17 18:27] Strilanc commented on #1835
@mpharrigan @peterse @cduck could you post examples of code where you needed this?

[2019-07-17 20:39] Strilanc commented on #1833
How do I do a noisy simulation?

How do I run on real hardware?

How do I control a gate?

[2019-07-17 20:47] #1735 closed

[2019-07-17 22:11] Strilanc opened #1837 "Deprecate ParamResolver"
ParamResolver is a class that adds nothing beyond `Dict[str, float]` except a `value_of` method that does this:

[code]

I suggest we move this logic into the `resolve_parameters` protocol (if it's not already there) and then delete the ParamResolver class.

[2019-07-17 22:16] dabacon commented on #1837
SG. I guess resolving symbolic formulas would also follow into this protocol?

[2019-07-17 22:24] mpharrigan commented on #1805
xref #1798

[2019-07-17 22:29] sashananda opened #1838 "Version Update"
How do I update to cirq version 0.5? I currently have version 0.4, and am getting an import error when I try to import the DensityMatrixSimulator (which I assume is a problem that is arising from having the old version)

[2019-07-17 22:44] vtomole commented on #1838
`pip install cirq --upgrade`

[2019-07-17 22:48] vtomole commented on #1838
Accidentally closed. @sashananda  Did the command i posted work?

[2019-07-17 23:41] cduck commented on #843
setuptools has a feature for this:

setup.py:
[code]

And you can install it with `pip install cirq[contrib]`.

[2019-07-18 00:00] Strilanc commented on #1837
Yes

[2019-07-18 02:35] Lucaman99 commented on #1780
Hey @vtomole @Strilanc! I'm basically done the implementation, but I'm a bit unclear as to where to go from here. Where exactly should I put the code when I submit a pull request?

[2019-07-18 03:32] vtomole commented on #1780
@Lucaman99 Put it in the `examples` directory: https://github.com/quantumlib/Cirq/tree/master/examples.

[2019-07-18 21:37] c-poole commented on #1804
I just ran qubit_characterizations_test.py on a branch up to date with the repository and it completed in under 5 seconds. How up to date is your branch?

[2019-07-18 21:54] c-poole commented on #1795
I do like the idea of having the concept of "equivalent in the eyes of QC", but the == operator may not be suited for that purpose. If we special case instances like this and get used to the idea that `a==b` implies a and b are equivalent in the eyes of QC, then it can be easy for a user to make the mistake of thinking that a and b are equivalent in the eyes of QC implies `a==b`.

Suppose instead

[2019-07-18 23:03] mpharrigan commented on #1795
While I was vehemently opposed to having PhasedXPowGate.__new__ sometimes give you an X, I'm fine with saying they're equal. This all reminds me of the difference between e.g. float and int

It would be surprising if `float(3)` gave you an `int` but it's not surprising that `float(3) == int(3)`

[2019-07-19 00:50] mpharrigan commented on #1835
[code]

[2019-07-19 03:47] Strilanc commented on #1804
I modified `TrialResult` to lazily compute the pandas dataframe, and also to store int instead of Series[boolean]. That may explain the time going back down.

[2019-07-19 18:07] dabacon opened #1849 "Move LineQubit to device?"
since placement is in contrib probably we should move line to device?

[2019-07-19 19:05] kevinsung opened #1850 "Phase out SupportsPhase protocol"
The use case I have in mind is defining this protocol for SWAP. This is useful, for instance, for the EjectZ optimizer because one can pass a Z gate through a SWAP as follows:
[code]
=
[code]
So I think the `phase_by` function signature should be changed from
[code]
to
[code]
Then `phase_by` for SWAP would return an `OP_TREE`.

[2019-07-19 20:25] Strilanc commented on #1778
I think visualization is going to be a core feature, so it doesn't make sense to move this into an optional dependency. Is there a way to have a variant that *omits* the visualization instead?

[2019-07-19 20:27] c-poole commented on #1795
One of my primary issues with the `==` relationship is that you might have an instance where a device supports only one of `XPowGate` and `PhasedXPowGate`, in which case the device may support `XPowGate` but not understand `PhasedXPowGate`. My intuition says that `A==B` implies `Device.validate_gate(A)` and `Device.validate_gate(B)` either both pass or both throw errors.

[2019-07-19 20:37] bryano commented on #1849
LineQubit seems so lonely in its own directory.

[2019-07-19 21:10] mpharrigan commented on #1850
We could also special case swaps in EjectZ for a quick and dirty solution

@Strilanc what do you think about @kevinsung 's proposed changes? also cc @dabacon

[2019-07-20 01:01] cduck opened #1855 "cirq.I doesn't have an on_each() method"
This is because `IdentityGate` doesn't subclass `SingleQubitGate`.  Instead `I = IdentityGate(num_qubits=1)`.

`cirq.H`, `X`, `T`, etc. all have `for_each()` so I expected `cirq.I` to also have this method.

[2019-07-20 01:03] cduck opened #1856 "./check/doctest should also execute code after "Example:" in docstrings"
Currently it only executes code after ">>> " and checks the output with the following line.

[2019-07-21 01:03] Lucaman99 commented on #1780
Hey @vtomole - As I was trying to put some finishing touches on my code, I noticed something: I'm not entirely sure how to go about algorithmically solving the system of linear boolean equations outputted at the termination of the algorithm. Would you happen to be familiar with any method to solve such problems?

[2019-07-21 01:14] Lucaman99 commented on #1780
Actually, I think there is a way to do it pretty easily using Sympy 😄

[2019-07-21 01:18] Lucaman99 commented on #1780
Either that or Gaussian Elimination it would seem

[2019-07-21 01:22] peterse commented on #1835
I've previously worked with this toy model for simulating 1/(f^alpha) noise:
[code]

This implementation was originally meant for unitary ("semiclassical") noise, and demonstrates the difficulty of applying further noise models on top of this:
[code]
original circuit:
[code]
circuit after noise modification:
[code]

[2019-07-22 05:16] peterse commented on #1837
+1. This class just makes parametrization more opaque for new users in my experience

[2019-07-22 05:44] peterse opened #1859 "Methods to return common sets of gates"
It would be convenient to have access to some getters that would return iterables of gates of a specific type. For example:
[code]
etc.

This is something I end up re-writing a lot when benchmarking or composing partially random circuits

[2019-07-22 09:01] iamvamsikrishnad commented on #1687
https://github.com/quantumlib/Cirq/pull/1746/files

[2019-07-22 17:42] c-poole commented on #1648
This has been completed right?

[2019-07-22 21:48] cduck commented on #1648
It looks like #1789 did this: https://github.com/quantumlib/Cirq/blame/master/cirq/protocols/unitary.py#L155

[2019-07-22 21:48] #1648 closed

[2019-07-22 23:41] cduck opened #1861 "./check/format-incremental --apply is not idempotent"
Sometimes `./check/format-incremental --apply` removes an empty line that wasn't in the original diff.  This causes a second call to `./check/format-incremental --apply` to make more changes even though the first call succeeded (exit code 0).

Step to reproduce:
- Remove a function at the end of a file where the second to last function was never formatted.
- Leave an extra trailing newline.
- Run

[2019-07-23 16:39] XiaoMiQC commented on #1804
I just merged with master and run the tests again. They are back to the original speed (~3 s to complete qubit_characterizations_test.py).

[2019-07-23 16:39] #1804 closed

[2019-07-23 22:36] c-poole commented on #1731
I can take a stab at this. My proposal is as follows:

Remove `_global_shift` entirely
Add abstract methods `_default_eigen_shifts` and `_eigen_spaces`
Make `_eigen_shifts` an instance variable and optional keyword argument in the constructor
Refactor `_eigen_components` to build output from `eigen_spaces` and `self._eigen_shifts`
Add helper method `with_eigen_shifts` to produce an otherwise ident

[2019-07-24 18:22] mpharrigan commented on #1850
Initially: add in swap gate and fsim gate (with the one theta that works) support as hardcoded cases in EjectZ.

Later: delete phase_by protocol after hardcoding remaining cases.

[2019-07-24 18:30] balopat opened #1866 "add check for docs generation"
If a PR contains changes in the `docs` folder, we should make sure the docs can be generated.

I'm a bit worried about the extra time this would add, as a full site build is pretty slow currently, ~5 mins 10 seconds on my Mac locally.

We should try to make it as fast / maybe incremental, if possible.

[2019-07-24 18:40] Strilanc commented on #1731
I think this would be reasonable. Slightly clunky for gates that have three eigenvalues, but I don't see how to avoid that.

[2019-07-24 20:17] cduck opened #1867 "[After 0.6.0 release] Update install instructions for cirq.contrib"
Update install instructions to match the package changes in #1863.

[2019-07-24 20:24] cduck commented on #1867
Not needed.

[2019-07-24 20:24] #1867 closed

[2019-07-24 20:38] #843 closed

[2019-07-25 20:43] #1548 closed

[2019-07-25 21:13] vtomole commented on #1838
I'm going to close this as stale. Feel free to ping me if the command I suggested doesn't work.

[2019-07-25 21:13] #1838 closed

[2019-07-25 21:54] maffoo opened #1873 "Move api protobuf definitions from cirq.api.google to cirq.google.api"
It's rather confusing to have both of these packages, so I propose we restructure. In particular, I would suggest that we move the protobuf definitions for v1 and v2 into `cirq.google.api.v1.protos` and `cirq.google.api.v2.protos`, respectively. We can reesport the `*_pb2` packages in the `__init__.py` for the `cirq.google.api.vN` packages, so that both protos and various helper functions can be u

[2019-07-26 00:44] dabacon commented on #1873
I agree it would be nice to move these.  Need to be careful in doing this with downstream dependencies.

[2019-07-26 02:20] dstrain115 commented on #1873
Oh dear.  This is going to be painful.

I propose copying the protos from cirq.api.google to cirq.google.api so that there are two copies of all the protos temporarily.

Once everyone has switched over to using the new package name, then we can get rid of the old one.

This will cause some annoyance, since we will need to update two copies of protos for a little while, but it hopefully won't break

[2019-07-26 15:36] balopat opened #1881 "Duplicated formulae in the docs"
On my Pixel's Chrome formulae show up duplicated:
![Screenshot_20190726-083340](https://user-images.githubusercontent.com/635073/61963376-4502d900-af80-11e9-88f8-01300b17f0f0.png)

[2019-07-26 15:49] vtomole commented on #1881
This is not only on mobile.

[2019-07-26 16:16] vtomole commented on #1881
This is because the formulas are defined twice; in Latex and in a `gif`. For example

[code]
We should remove the `.gif` and define the formulas in Latex

[code]

[2019-07-26 16:41] dabacon opened #1882 "Handedness between ISwapPowGate and FSim is different."
The ISwapPowGate and FSim gate rotate in different directions on the |01>, |10> subspace.  This feels a bit odd to me.

[2019-07-26 17:27] #1705 closed

[2019-07-26 17:30] kevinsung opened #1883 "Bug in Pauli multiplication"
The code
[code]
incorrectly yields
[code]
(the correct behavior, if we want to allow such expressions, is to yield `Y(a)`). Indeed, the code will yield `-X(a)` no matter what the Z exponent is:
[code]
always yields
[code]
The exponent is being ignored. The issue has to do with ```type(cirq.Z(q)**theta)``` being `cirq.ops.pauli_string.SingleQubitPauliStringGateOperation`, when maybe it shouldn't.

[2019-07-26 17:45] viathor opened #1884 "Schmidt decomposition"
A few interesting properties of a two-qubit gate can be determined from its Schmidt decomposition. The decomposition is similar to the Pauli expansion (computed by the `pauli_expansion` protocol). In general, a unitary can be expressed in any basis of the space
 of matrices. In Pauli expansion, we choose the basis that consists of Pauli products. In Schmidt decomposition, we choose the basis that

[2019-07-26 18:11] dabacon commented on #1883
Oh I didn't even notice this when I wrote that :(

[2019-07-26 18:25] viathor opened #1885 "dev and contrib requirements inconsistent"
I just rebuilt my virtualenv and noticed an error about inconsistent requirements:

[code]

It seems that our contrib requirements explicitly call for ply 3.4 while dev requirements call for qiskit 0.6.* and thus implicitly for ply >=3.10.

I checked whether the tests in qasm_import (the contrib package that uses ply) pass with 3.10 and they do. Time to bump ply to 3.10?

[2019-07-26 18:40] vtomole commented on #1885
If i recall, we decided on `3.4` to be compatible with google3.

CC: @balopat

[2019-07-26 18:40] kevinsung commented on #1883
The bug seems to be in line 108 of `pauli_string.py`:
[code]
since `phased_pauli_product` does not take exponents into account. This leads to the question of whether we should allow PauliStrings to be initialized with exponentiated Paulis, since this leads to the related buggy behavior
[code]
returning
[code]

[2019-07-26 18:46] vtomole opened #1887 "Remove qiskit dependency from contrib"
We only use it in `consistent_qasm.py` and `consistent_qasm_test.py` and it causes warnings like https://github.com/quantumlib/Cirq/issues/1885. Could we do without it?

[2019-07-26 18:50] cduck commented on #1887
I believe its optional already.  If Qiskit isn't installed, those tests don't run.

[2019-07-26 18:54] vtomole commented on #1887
Ah okay. I've renamed the issue.

[2019-07-26 19:23] peterse opened #1888 "Sparse simulator does not support `initial_state` typecasting"
[code]
throws the error
[code]

[2019-07-26 19:25] viathor commented on #1882
This morning I meant to change signs of the angles in fSim only to notice that @maffoo has already done this in #1726. It seems that his PR missed ISwapPowGate. I'll send out a fix soon.

[2019-07-26 19:39] peterse commented on #1888
This might be duplicate of  #871 but its worth clarifying the docstring in the meantime. From `Simulator`:

But `np.float32` (which throws the same error) should safely cast to `np.complex64` no?

[2019-07-26 19:51] maffoo opened #1890 "Plotting code should not call `show`"
Calling `show` in some cases leads to warning messages, for example if using an inline backend in colab:
[code]
We could try to detect which backend is running, but I think that way lies pain. Better IMO would be to just not call show, since in common environments (colab, ipython with matplotlib integration) it's not needed.

[2019-07-26 21:32] viathor commented on #1885
Steps to reproduce, including tests sensitive to ply version:

[code]

[2019-07-26 21:33] viathor commented on #1887
Qiskit 0.6 is in [our dev requirements](https://github.com/quantumlib/Cirq/blob/master/dev_tools/conf/pip-list-dev-tools.txt). Ply 3.4 is in [our contrib requirements](https://github.com/quantumlib/Cirq/blob/master/cirq/contrib/contrib-requirements.txt).

Related: see #1885 for details of the conflict in the versions of the ply package.

[2019-07-26 21:58] vtomole commented on #1887
So many `requirement.txt`s

[2019-07-26 21:58] #1887 closed

[2019-07-26 22:00] viathor commented on #1887
Indeed :-)

[2019-07-26 22:17] Strilanc commented on #1890
The reason I wanted these calls included is because, without them, the plot method fails to show a plot when running from the command line, from python's interpreter, and from within pycharm.

We could perhaps have `plot` and `show_plot`? Seems confusing...

Intercept the warning message and dump it? Seems dangerous...

Detect the backend and react appropriately? Sounds like massive jank...

Do we

[2019-07-26 22:24] balopat commented on #1885
We chatted with @dstrain115 about this back in May: https://github.com/quantumlib/Cirq/pull/1613#discussion_r282248630
What do you think about `ply>=3.4`?
On the long run someone could take on upgrading the google3 ply version...

[2019-07-26 22:26] Strilanc commented on #1882
https://quantumcomputing.stackexchange.com/questions/2594/what-is-the-matrix-of-the-iswap-gate

![image](https://user-images.githubusercontent.com/79941/61984533-a98e5a00-afb9-11e9-846d-ec69ff7b3c75.png)

[2019-07-26 22:26] dstrain115 commented on #1885
Yeah, I think we should change to "ply>=3.4" unless there's a good reason to pin to that exact version.

[2019-07-26 22:28] balopat commented on #1885
SGTM. And just to be a bit more specific: in cirq/contrib/qasm_import only the qiskit tests fail as latest qiskit requires latest ply. All the other functionality is compatible with latest ply versions.

[2019-07-26 22:33] maffoo commented on #1890
I would bet that most users will be in a notebook environment (colab or jupyter) or ipython, but I don't have data to say what the ratios are. We certainly have lots of colab examples for introductory purposes and it seems to me that emitting warnings for plots in those examples is not great. If there's a way to detect whether the matplotlib backend is a "GUI" backend and do it robustly, then we c

[2019-07-26 23:08] viathor commented on #1890
FWIW, on the commandline you can just append `; plt.show()`...

[2019-07-26 23:15] mpharrigan commented on #1861
Anecdotally, I've run into similar issues typically with the formatting of the imports in the various `__init__.py`s

[2019-07-27 00:22] #1885 closed

[2019-07-27 03:15] Strilanc commented on #1890
I agree that we want to fix the warning in notebook environments, but I'd strongly prefer to not require different code in different environments to make the plots pop up. I want to be able to say "call .plot to see a plot" in the documentation, instead of "if you are in a notebook environment such as ipython or jupyer call .plot to see a plot. If you are not, then you also need to import matplotl

[2019-07-27 03:17] Strilanc commented on #1882
Changing these kinds of conventions is a silent breaking change on our users. The iswap gate has been around for several versions now; we can't just change what it means.

Personally I don't mind so much if iswap is at fsim(-90deg) instead of fsim(+90deg).

If we want to change this convention, we first need to deprecate iswap for one version then delete it for one version then re-introduce it wit

[2019-07-29 17:13] dabacon commented on #1884
Like should be a protocol, especially because it also applies pure states.

[2019-07-29 23:40] balopat commented on #1819
We could use Cloud Build on GCP as well.

[2019-07-30 00:06] dabacon commented on #1819
I'm looking into this.

Current idea is that we will do dev builds to a separate cirq-dev pypi package on every commit to master.  We can use travis's deploy functionality to do this I think.

[2019-07-30 00:30] viathor commented on #1883
The first issue above is caused by the fact that raising a `cirq.Pauli` (such as `cirq.X`) to a power (fractional or not) returns another instance of `cirq.Pauli`. In turn, `cirq.Pauli.on()` produces a `cirq.SingleQubitPauliStringGateOperation`. The latter pretends that multiplication is supported, but in fact implements an algorithm for Pauli strings only.

The fix is to ensure that raising `cirq

[2019-07-30 04:21] viathor commented on #1882
OK.

[2019-07-30 17:49] #1883 closed

[2019-07-30 18:59] #1882 closed

[2019-07-30 20:00] peterse opened #1899 "ParamResolver is slow"
Reconstructing a circuit op-wise and replacing all parametrized ops with new ops containing parameter updates is 10-50x faster than using `cirq.ParamResolver` with sympy  symbols...

Example code to reproduce:
[code]
produced (cirq v0.5.0, Windows 10 + core i7 gen 7 processor)
[code]
Some plots of how this scales with large numbers of parameters (generated from a different script using the same `u

[2019-07-30 22:05] dabacon opened #1900 "extras_require doesn't work with wildcard requirements"
In setup.py we now have extras_require to only install some dependencies when requested.  Like
[code]
However this appears to not work when we use this setup.py to create a wheel and upload it to pypi.  It yells about being unable to support a version when publishing the package.
[code]

[2019-07-30 23:07] kevinsung opened #1901 "Expectation protocol"
PauliSum, LinearCombinationOfGates, and Circuit could all implement a protocol
[code]

[2019-07-31 02:11] dabacon commented on #1899
Interesting.  We should narrow this down to whether it is something in the Simulator or the ParamResolver or the protocol.  A first glance at code suggest that hashing in ParamResolver, that doesn't seem like a great idea.

[2019-07-31 19:19] mpharrigan commented on #1675
Does #1765 actually address this, specifically during construction of the `PauliString`?

[2019-07-31 21:44] #1675 closed

[2019-08-01 09:36] iamvamsikrishnad commented on #1884
Can I take a shot at this ?

[2019-08-02 00:08] viathor commented on #1884
@iamvamsikrishnad Generally, yes, help is very welcome! Note that I filed this early to record a need which I encountered when playing with some problems in cirq. This issue is actually **gated** on having a representation for tensor products suitable for specifying the operators that make up the Schmidt decomposition. AFAIK, we don't yet have anything appropriate in cirq. I'll ping this again whe

[2019-08-02 05:19] iamvamsikrishnad commented on #1884
@viathor : Sure !

[2019-08-03 01:22] cduck commented on #1900
I was able to reproduce the error.  Somehow it works for this package: https://pypi.org/project/RelStorage/#files

[2019-08-05 21:08] harryputterman opened #1912 "Circuit equality with moment order"
When I run the following code the assertion fails.
[code]
These circuits are the same just that the order of the elements in the moment with the # is different.
[code]
I think this is because the moment is stored as a tuple of operations so the order matters.

[2019-08-07 08:47] andbe91 commented on #1881
Also in [https://cirq.readthedocs.io/en/stable/simulation.html](https://cirq.readthedocs.io/en/stable/simulation.html) under **Monte Carlo simulations of noise**

[2019-08-07 09:31] andbe91 opened #1920 "Pandoc missing"
When trying to build the docs on a fresh linux machine I got an error message saying that pandoc (the command line tool) was missing. Perhaps add this to the dev requirements [dev_tools/conf/apt-list-dev-tools.txt](https://github.com/quantumlib/Cirq/blob/master/dev_tools/conf/apt-list-dev-tools.txt)?

[2019-08-07 14:54] Ashalynd commented on #1855
Doe they? There isn't a for_each method, but there is on_each, which is supported by IdentityGate as well: see cirq/cirquits/circuit_test.py.

[2019-08-07 16:49] cduck commented on #1855
Yes, I meant `on_each`.

Another class called `IdentityGate` is defined for a test ([cirq/circuits/circuit_test.py#L1488](https://github.com/quantumlib/Cirq/blob/master/cirq/circuits/circuit_test.py#L1488)) but the class of `cirq.I` is [cirq/ops/common_gates.py#L587](https://github.com/quantumlib/Cirq/blob/master/cirq/ops/common_gates.py#L587).  The first one subclasses `SingleQubitGate` but the s

[2019-08-07 17:07] Ashalynd commented on #1899
Some thoughts:
1) ParamResolver initialization might be potentially heavy, but afaics it is not supposed to be re-initialized in the recursive calls.
2) Recursion itself might potentially be a problem, which is a known issue in Python. The winning solution doesn't do recursion for parameter resolving.

[2019-08-07 17:27] Strilanc commented on #1881
I think this is leftover from before we added latex support.

[2019-08-07 18:58] c-poole opened #1921 "Proposal: Remove mixture in favor of mixture_channel"
If `cirq.mixture` is allowed to return mixtures of various types of concepts, then any code calling this method needs to sort through what it received before knowing how to use it. Rather than having one `mixture` protocol designed to handle the general case of "probabilistic mixtures of foo", we should have independent protocols for each "foo". We only currently use `mixture` to describe a mixtur

[2019-08-07 21:37] Strilanc commented on #1921
I think that `mixture_channel` may currently return the mixture *wrapped to look like a channel* (i.e. a combination of matrices A_k such that sum A_k * A_k^-1 == Identity). This is a distinct concept from "tell me the mixture of this object", because it is more of a conversion instead of a getter.

I agree that we should refactor to have one type of mixture, and that this single type of mixture i

[2019-08-07 21:51] #1037 closed

[2019-08-07 21:56] dabacon commented on #1037
So nice that we didn't have to use the non abelian QFT (though I guess you did behind the scenes).

[2019-08-07 22:02] viathor commented on #1037
Yeah, the algorithm implemented comes out of a derivation which is probably equivalent to abelian QFT, though I didn't show this. Might be a subject for another math note when I get a chance! In this case, you'll definitely see it!

[2019-08-08 00:58] kevinsung opened #1922 "SimulatesAmplitudes simulator interface"
Some simulators (such as those based on contracting tensor networks) compute individual amplitudes of bitstrings without storing the entire wavefunction.

[2019-08-08 09:53] andbe91 commented on #1774
I'd like to work on this (I need this for a simulation I'm doing anyway).
I looked a bit at the channel protocol and I think that I have an idea on how to implement this.

My idea is the following:
The measurement Kraus operators are `[[1,0],[0,0]]` and `[[0,0],[0,1]]`, where the latter corresponds to the 1 state. If we measure 1, we apply a Y-gate with the unitary `[[0,-1],[1,0]]`, i.e. the secon

[2019-08-08 17:13] cduck commented on #1774
That is the correct channel (although applying X also works).  I would suggest implementing this like `AmplitudeDampingChannel` or `GeneralizedAmplitudeDampingChannel`.

@dabacon might have ideas for a diagram symbol.  `R` makes sense but might be confused with rotation.  `|0⟩` and `|0>` (for ASCII mode) could work.

[2019-08-09 00:09] #1881 closed

[2019-08-09 21:49] dabacon opened #1930 "Unwinding Symbolic formulas and parameters?"
Quite accidentally I ran an optimization pass which ended up working correctly but changing a parameter to a formula in sympy, like Symbol('a') + 1.23.

It occurred to me that if we allow this, then we could support a flow where you
a) do compilations that support formulas in parameters
b) create parameter sweeps
c) unwind the sweeps and then calculate the values of the formulas in the parameters.

[2019-08-12 16:21] dstrain115 opened #1932 "Feature request: Optimizer to push moments backwards"
The current default insert strategy is to push the gates to the earliest possible moment.  This makes sense to compress the circuit as much as possible, but this creates a ragged frontier at the end of the circuit.  For instance, you may want to do all measurements at the end of the circuit simultaneously, rather than create them in different moments, since cirq has pushed them forward.

It may be

[2019-08-12 17:48] #1700 closed

[2019-08-12 19:15] #1774 closed

[2019-08-12 21:23] cduck opened #1933 "ValueError for PhasedXPowGate with integer phase_exponent"
`PhasedXPowGate._circuit_diagram_info_` contains a format string that throws a `ValueError` when `phase_exponent` is an `int`.  I know the type annotation specifies `float` but mypy allows int.

[code]
Output:
[code]

[2019-08-12 22:51] dabacon commented on #1933
Saw this one today too

[2019-08-12 22:53] dabacon opened #1936 "serializable gate fails when gates are parameterized and can't handle it with bad error message."
[code]

[2019-08-13 02:16] #1933 closed

[2019-08-13 04:46] bryano commented on #1932
It seems better to achieve this by having an insert method that respects moments in the op_tree.

[2019-08-13 17:06] cduck commented on #1932
@bryano All the insert methods already support this:
[code]

[2019-08-13 18:17] bryano commented on #1932
Ah, I didn't realize that was implemented. Why not just do that then if you want all measurements in the final moment?

[2019-08-13 18:31] bryano commented on #1932
For reference, I was thinking of #1246; apparently not _all_ insert methods support this yet..

[2019-08-13 18:44] cduck commented on #1932
My bad.

[2019-08-13 18:55] maffoo commented on #1932
@bryano, the idea here is not _only_ to place all terminal measurements in the same moment, but more generally to transform a circuit by pushing _all_ gates toward the end of the circuit to do them as late as possible (relative to the final moment, which is typically just measurements). This is a very natural transformation to want from a hardware perspective, since any idle time after a gate is j

[2019-08-13 19:10] cduck commented on #1932
I agree.  Here are two ways to do this currently:
[code]
[code]

What do you think of this API in addition to a circuit optimizer?
[code]
[code]

[2019-08-13 19:59] dabacon opened #1940 "Proposal: operator tags"
When building a circuit is often useful to have some extra information about certain parts of the circuit.  For example you may want to preserve a certain part of the circuit while performing a transformation (optimization pass).  There isn't a great way to do this right now, but we were able to tag our operations, then we could use the tag to do this.

Tagging could also be used for diagrams.

Ta

[2019-08-13 20:00] dabacon commented on #1940
Thoughts?

[2019-08-13 20:36] cduck opened #1942 "check/pytest succeeds when too many errors during collection"
check/pytest should fail when there are import-time errors but it this case it incorrectly returns status code 0 and Travis marks it as "passed".

It occurred in this Travis job https://travis-ci.com/quantumlib/Cirq/jobs/224953957

[code]

[2019-08-13 21:18] sammcardle30 opened #1943 "invert_mask doesn't flip measurement results."
In the following example, I would expect setting `invert_mask` to `True` to make these two circuits equivalent. They are deemed equivalent by `cirq.testing.assert_circuits_with_terminal_measurements_are_equivalent()`, but lead to different measurement results.

[code]

This produces the following output:
[code]

[2019-08-13 21:25] peterse commented on #1901
Do you have in mind what the function that calls this protocol look like?

I was thinking of a single `expectation` protocol that would dispatch to different `_expectation_*`  methods defined for wavefunctions, density matrices, or bitstring arrays. Then, for example,  `expectation(cirq.X(cirq.LineQubit(0)), wf)`, would end up using a method like `PauliString._expectation_from_wavefunction`.

Righ

[2019-08-13 21:26] peterse commented on #1901
@Strilanc @mpharrigan does this seem like a reasonable protocol?

[2019-08-13 23:31] dabacon commented on #1943
It looks like the fast simulator doesn't invert but the slow one does.  If you append an X to the first circuit it gives the correct result.

[2019-08-13 23:54] mpharrigan commented on #1901
xref #1805

@peterse : this seems like a weird form of dispatch. Why not `wf.expectation()`?

@kevinsung : What is state? How would the protocol work on `Circuit`s? Circuits are unitary but generally not Hermitian

[2019-08-14 01:34] cduck commented on #1930
I did the same thing while decomposing a gate into e.g. [X**(gate_param+0.5), ...].  This would be useful.

It turns out that many gate's `_circuit_diagram_info_` crash if the gate parameter is a formula.

[2019-08-14 02:01] peterse commented on #1901
@mpharrigan I don't think there's a dedicated class for wavefunctions/dm's at this point.

Another alternative is `PauliString.expectation( ... )` though the natural choice of defining `PaulliSum.expectation` in terms of `PauliString.expectation` would lead to a lot of redundant input validating/dispatch.

[2019-08-14 02:41] dabacon commented on #1940
Amusingly got a request for this today from someone else.

[2019-08-14 03:34] dstrain115 commented on #1940
It seems like it would be low effort and generally useful for a variety of tasks.

It seems like there are a fair amount of different tasks where we have a generally accepted behavior or optimization pass, except we want to ignore one specific use case, so this would be a good way to accomplish all of those kinds of tasks.

[2019-08-14 04:01] dabacon opened #1945 "pytest fails but travis says green"
https://travis-ci.com/quantumlib/Cirq/jobs/225040090

[code]

[2019-08-14 04:09] cduck commented on #1945
This has been a problem at least since #1937 and there were test failures in #1937 when it was merged.

[2019-08-14 04:10] cduck commented on #1942
This may be a more general issue with pytest: #1945

[2019-08-14 04:23] cduck commented on #1945
The --actually-quiet flag is causing check/pytest to always exit with 0 (success).

[2019-08-14 04:26] dabacon commented on #1945
ha was just reading that code.  guess today is bash script day

[2019-08-14 04:26] dabacon commented on #1945
is it because while the pytest fails the grep suceeds?

[2019-08-14 04:27] cduck commented on #1945
Yes.  I'm making a PR for my fix.

[2019-08-14 04:52] #1945 closed

[2019-08-14 04:53] dabacon commented on #1943
I have a fix for this.

[2019-08-14 04:54] cduck commented on #1942
Closing as duplicate of #1945.

[2019-08-14 04:54] #1942 closed

[2019-08-14 15:00] dabacon opened #1948 "Engine api does not support sampler for program object in Engine"
Engine that creates program and job needs support as well as just "create program" then use this as a sampler.

[2019-08-14 17:39] dabacon commented on #1940
Another question is whether Gates should also have tags.  Any gate with a tag transfers it to its operator when applied using `on`

[2019-08-14 18:00] dabacon commented on #1948
Oh just found it.

Actually we need to make sure that QuantumEngineSampler also supports the Program object in engine

[2019-08-14 18:37] kevinsung commented on #1901
@mpharrigan `state` would be the wavefunction. Now that you mention it, in fact none of the objects I mentioned (PauliSum, LinearCombinationOfGates, and Circuit) are guaranteed to be Hermitian. I was thinking that the expectation for any object A would nevertheless be defined as ⟨Ѱ|A|Ѱ〉, but I guess this might not be conventional?

[2019-08-14 21:27] dabacon opened #1951 "single_qubit_randomized_benchmarking needs to support specific gate sets"
Right now it just uses Cliffords which it assumes are available, but how these work depends on the device.  The sampler could do this, but then we are sticking compilers into samplers.  I think we should supply a way to supply the decomposition to the method.  (Another reason we need a good notion of gate sets).

[2019-08-14 23:26] #1922 closed

[2019-08-14 23:38] peterse commented on #1899
@Ashalynd could you say a little more about how recursion is used in the resolver?

[2019-08-15 19:48] dabacon opened #1958 "QuantumEngineSampler doesn't allow any control over program id or job id."

[2019-08-15 21:40] #1943 closed

[2019-08-15 21:53] #1920 closed

[2019-08-16 13:36] andbe91 commented on #1204
It looks like tensorflow is now supported by python 3.7. I have verified that it works to build the docs on python 3.7 on Linux after `pip install tensorflow`. Should we change the contrib requirements to tensorflow instead of tf-nightly?

[2019-08-16 13:40] vtomole commented on #1204
@andbe91 Yes. Please open a pull request doing so.

[2019-08-16 14:13] vtomole opened #1965 "Fix readthedocs warnings"
When built locally, there are warnings like

[code]

[2019-08-16 14:57] andbe91 commented on #1965
I already started working on this so you can assign to me if you want,

[2019-08-16 17:22] dabacon commented on #1819
We now have builds that deploy on every successful new merge.  These are pushed to "cirq-dev" which is owned by "quantumlibdev".

[2019-08-16 17:22] vtomole opened #1966 "Automerge bot is not merging."
See: https://github.com/quantumlib/Cirq/pulls

[2019-08-16 17:23] vtomole commented on #1819
YAY!!

[2019-08-16 17:29] dabacon commented on #1966
yeah because @Strilanc  is out and it requires some auth on his machine.  I have instructions for doing this but haven't fixed it since it is easier to wait for @Strilanc to get back (Monday-ish)

[2019-08-16 17:33] vtomole commented on #1966
Ah yes. That manually reset Craig has to do every once in a while haha.

[2019-08-16 17:36] vtomole commented on #1966
I'll let this stay open for if we ever manage to automate that auth part.

[2019-08-16 17:39] vtomole commented on #1204
@dabacon How long does it take for latest: https://cirq.readthedocs.io/en/latest/api.html to update once merged? The problem is still persisting.

[2019-08-16 17:41] andbe91 commented on #1204
Oh, it was actually not working with tf-nighlty then. That probably means that the problem is elsewhere.

[2019-08-16 17:42] dabacon opened #1967 "Address comments in #1960"
Pull request got mangled and then rereviewed.  Need to address comments in #1960

[2019-08-16 17:58] dabacon opened #1968 "Deprecate dev version of cirq (keeping cirq-dev) in packaging scripts"
Since we now have dev version of cirq in cirq-dev, we should probably not have dev versions under cirq.  We should update packaging tools to support this new process.

[2019-08-16 18:04] andbe91 commented on #1204
I wonder if the issue is that `.readthedocs.yml` reads `requirements_file: dev_tools/conf/pip-list-dev-tools.txt`, i.e. it doesn't even try to install the contrib requirements. However, that should also mean that `requirements.txt` doesn't get installed, and then nothing should work, so I'm not sure what is going on here.

[2019-08-16 18:05] vtomole commented on #1204
List of builds: https://readthedocs.org/projects/cirq/builds/

[2019-08-16 18:14] dabacon commented on #1890
We now have both patterns in Cirq.  Probably we should make a decision on this.

[2019-08-16 18:48] andbe91 commented on #1204
Thanks. The logs confirm that the contrib requirements are not installed. I'm no expert on the config of readthedocs, but it looks like there is `.readthedocs.yml` and settings on readthedocs.org itself. Where do we want to configure this?

[2019-08-16 18:49] vtomole commented on #1204
Are you referring to https://github.com/quantumlib/Cirq/blob/master/.readthedocs.yml?

[2019-08-16 18:49] andbe91 commented on #1204
Yes.

[2019-08-16 20:32] dabacon commented on #1967
Fixed in #1970

[2019-08-16 20:32] #1967 closed

[2019-08-16 21:24] mpharrigan opened #1972 "Non-EigenGates don't have equality semantics"
[code]

[code]

[2019-08-16 21:32] mpharrigan opened #1973 "Why does `ControlledGate` have a notion of qubits"
`ControlledGate.control_qubits` is a tuple of `Qid` (or `None`s). I thought "gates" don't have qubits and that that is reserved for `Operation`s.

[2019-08-16 21:35] cduck commented on #1972
`CSwapGate` needs to be decorated with `@value.value_equality()`.

[2019-08-16 22:51] c-poole commented on #1973
`ControlledGate` seems to use the `control_qubits` property primarily as a way of helping it interpret how to use a qubit list that has been provided to it by methods like `_decompose_`, `_on_`, and such. It is primarily being used decide which qubits in the provided list are controls and which are targets using a (seemingly?) undocumented convention that control qubits come earlier in the list. T

[2019-08-16 22:57] dabacon commented on #1973
This is to have controlled gates that are associated with control on some fixed qubits.  I agree that it is confusing and argued against it in the original PR.  It adds complexity, violates the usual case that gates do not have qubits, and leads to code that is only slightly nicer in the case that it is used.

[2019-08-16 23:26] cduck commented on #1930
@dabacon Am I missing any features not in the referencing PRs?

[2019-08-17 00:13] dabacon commented on #1930
I think this is great!  The one thing I don't see in the ParamFlattener is the case where teh formula is the same and a small helper to do this all in one pass.

[2019-08-17 00:30] cduck commented on #1930
What do you mean by "the case where the formula is the same"?

[2019-08-18 03:33] dabacon commented on #1940
Another question is about equality.  I guess gates and ops with different tags need to not be different.  I was going to lazily add the tags, but if we want that to work then there is a bit more work.

[2019-08-18 03:38] #980 closed

[2019-08-18 04:43] dabacon opened #1978 "Delete xmon simulator"
It has only given advantage for large qubit number, and only on certain machines.  Also it is tied to a gate set which is a bad coupling.

[2019-08-18 04:43] dabacon commented on #1978
@Strilanc agree?

[2019-08-18 05:52] dabacon commented on #1339
New slowest tests.
4.83s call     examples/examples_test.py::test_example_runs_qaoa
3.60s call     cirq/experiments/cross_entropy_benchmarking_test.py::test_cross_entropy_benchmarking
2.40s call     examples/examples_test.py::test_example_runs_qubit_characterizations
1.94s call     dev_tools/bash_scripts_test.py::test_pytest_changed_files_branch_selection
1.85s call     dev_tools/bash_scripts_test

[2019-08-18 05:53] #1972 closed

[2019-08-18 06:27] #1849 closed

[2019-08-18 16:07] dabacon commented on #1936
This was an issue with the can_serialize_predicate from a dependency where the can_serialize_predicate didn't look to see if a certain parameter was a `Symbol`.  The gate set only allowed discrete values of the parameter, and so could not support serialization.

Closing now since this wasn't the code in Cirq's fault.

One question it does bring up is that there are gate sets that are serializable

[2019-08-18 16:07] #1936 closed

[2019-08-19 09:07] andbe91 commented on #1866
I second this. However most of the fixes in #1981 where to the docstrings themselves, so I wonder if its enough to just check for changes to the docs folder or if we actually need to check for all PRs.

The most time consuming part is the auto generation of stubs. I will look into if this can be done incrementally.

[2019-08-19 14:50] dabacon commented on #1948
The Sampler interface has a fundamental problem that it assumes that you pass in a program each time

[2019-08-19 15:16] Strilanc commented on #1973
It would be more accurate to say that a gate has some (but not necessarily only) unspecified qubits. A gate is a function that takes qubits and returns an operation.

[2019-08-19 15:32] Strilanc commented on #1978
Agree

[2019-08-19 15:34] Strilanc commented on #1948
We could definitely generalize sampler to have some concept of passing in a program reference

[2019-08-19 16:52] dabacon commented on #1973
That's what's at debate.  I think that including qubits in the constructor is conceptually confusing.
Maybe a solution is to hide these sort of qubits in a class constructor (so they are only set if you come in from `ControlledGate.controlled_from_fixed_qubits()`)

The other issue with this pattern is that it breaks any code that reasons "the only qubits this gate acts on are those that are operat

[2019-08-19 17:27] dabacon opened #1983 "Engine calls should fail with good explanations."
Engine doesn't now bury failed jobs, but we haven't verified what it does for other bad fail cases.  We should go through the commands and verify that they have good failure messages.

[2019-08-19 18:26] Strilanc opened #1984 "Add standard test battery for Sampler implementations"
Could verify things like actually paying attention to invert mask, and async behavior.

[2019-08-19 19:21] mpharrigan opened #1985 "`_Pauli{X,Y,Z}` maybe shouldn't be private"
Unlike every other gate, with `cirq.X`, `cirq.Y`, and `cirq.Z`, it's very easy to end up with an instance of a class that is not importable from top-level-`cirq`

[code]

consider renaming to `PauliX` and exposing as `cirq.PauliX`

[2019-08-19 20:24] mpharrigan commented on #1985
Actually, this happens with a lot of singletons and is probably by design. Running into this when trying to automate testing for #1880

[2019-08-19 22:14] cduck opened #1986 "check/pylint sometimes doesn't check imports"
An unused import (`Optional`) passed CI here: https://github.com/quantumlib/Cirq/blame/master/cirq/ops/pauli_gates.py#L15

Now I'm getting an error for that on Travis: https://travis-ci.com/quantumlib/Cirq/jobs/225990740#L253

When I run pylint locally, I don't catch this or other import errors.  This has happened during my last few PRs: https://travis-ci.com/quantumlib/Cirq/jobs/225990740#L251

I

[2019-08-19 22:32] vtomole commented on #1986
Could it be that the errors have nothing to do with the `unused import`? What you linked has
[code]
Alongside the unused import error.

[2019-08-19 22:35] cduck commented on #1986
The same thing happened in #1963 (last commit on Apr 15).  I got an unused import error on Travis but no errors locally.

[2019-08-19 22:37] cduck opened #1987 "Add type alias for circuit parameter value Union[float, sympy.Basic]"
_Originally posted by @dabacon in https://github.com/quantumlib/Cirq/pull/1974#discussion_r314924054_

Add something like `TParamVal = Union[float, sympy.Basic]` under `cirq.value` and refactor all uses of `Union[float, sympy.Basic]` and `Union[sympy.Basic, float]`.

[2019-08-19 22:38] vtomole commented on #1986
I just ran your `cduck:eject-pauli` branch localy on my machine and i received lots on unsued imports.
[code]

I also have pylint==2.3.1, astroid==2.1.0. I always get these but i ignore them and they pass on Travis.

[2019-08-19 22:43] cduck commented on #1986
At least some of those are imports only used in a type comment.  The latest pylint version should handle that.

[2019-08-19 22:49] vtomole commented on #1986
We are on the latest version on pylint, what we are not on the lastest version of is astroid because this bug has not been fixed https://github.com/PyCQA/astroid/issues/650.

[2019-08-20 02:36] cduck opened #1989 "check/pytest-changed-files doesn't run tests for new files"

[2019-08-20 02:42] dabacon commented on #1948
Fixed in #1982

[2019-08-20 02:42] #1948 closed

[2019-08-20 03:20] cduck commented on #1989
Once a file is commited pytest-changed-files works as expected.

[2019-08-20 03:35] dabacon commented on #1985
Do we know this is the right pattern?  We don't use singletons anywhere else and this is a pattern that may confuse a lot of people.

[2019-08-20 14:16] salperinlea opened #1991 "ControlledOperation objects do not (un)pickle"
Python version 3.6.8
Cirq Version = 0.6.0.dev (also in 0.5.0)

Attempting to unpickle any ops.ControlledOperation object, either by pickle or by dill, results in an error.

Code to reproduce:

[code]

Error message:
[code]
Extra info/commentary:

Though this issue doesn't reside exclusively in cirq, it does restrict the (full) use of cirq with some standard python modules. In my particular use cas

[2019-08-20 15:23] #1987 closed

[2019-08-20 16:43] mpharrigan commented on #1985
There's a couple other places:

[code]
NO_NOISE             _NoNoiseModel
OP_TREE              _Union
ParamResolverOrSimilarType _Union
PauliSumLike         _Union
QubitOrderOrList     _Union
Sweepable            _Union
UnconstrainedDevice  _UnconstrainedDeviceType
UnitSweep            _Unit
X                    _PauliX
Y                    _PauliY
Z                    _PauliZ
[code]

[2019-08-20 17:46] cduck commented on #1991
This is happening because ControlledOperation is doing custom object creation inside `__new__`.  In this case the logic in `ControlledOperation.__new__` could be moved to `__init__` to fix this issue.

[2019-08-20 17:48] Strilanc commented on #1985
I would omit the _Union types from consideration, since they are just shorthands for type annotations.

I am not opposed to making the singleton value types public. They pollute the autocomplete namespace with strings that are not useful to users, but on the otherhand it makes sense that if an instance is public then its type should also be public.

[2019-08-20 17:52] mpharrigan commented on #1985
For the purposes of #1880 automated testing, it no longer matters to me.

The `_Union` types are not ours, but shows that even the python-powers-that-be sometimes gives you an instantiation of a private class

[2019-08-20 17:53] mpharrigan commented on #1985
Here's all the singletons, for reference

[code]

[2019-08-20 21:21] mpharrigan commented on #1973
If you can have partially specified qubits, I'm led to ask why bother having a difference between `Gate` and `Operation` at all? There could be one object that has any of its qubits specified or not. If all of them are there, it would be similar to an `Operation`. If none of them are there, it would be similar to (most) `Gate`s.

Earlier versions of pyquil provided first-class support for partial

[2019-08-20 21:37] mpharrigan opened #1992 "check/pytest-and-incremental-coverage matplotlib window appears"
Running check/pytest-and-incremental-coverage on my linux workstation pops up a matplotlib figure window but instead of showing the plot, it just has whatever was drawn on the screen before the window popped up. It stays there for the duration of the test, but does eventually go away. Taken with the lack of output on the command line, it gave me the strong impression that the tests were hung; alth

[2019-08-20 21:40] cduck commented on #1992
This is another reason we shouldn't call `show` inside plotting functions (#1890).

[2019-08-20 21:45] mpharrigan commented on #1890
Coming here from @cduck 's xref on #1992. Library code should never call `show`

[2019-08-20 22:52] dabacon commented on #1890
I agree that we shouldn't call show by default.  We could have a `show` bool parameter, so that people who really want to call show would do `plot(show=True)`.  I do think we should optimize the plotting for common environments, which means colab / ipython type setups, which also argues against calling show.

[2019-08-20 23:29] mpharrigan commented on #1795
I'm not sure if I personally would expect that implication, but I don't have a convincing argument.

How should we resolve this issue? anyone else have thoughts?

[2019-08-21 14:07] vtomole opened #1994 "Describe the iterable of parameterized resolvers supported by Google's API."
Saw this as a `TODO` in `docs/simulation.md`.

[2019-08-21 14:10] td2014 opened #1995 "Energy function on first page of Cirq tutorial incorrectly rendered in readthedocs view"
Hi.  On the first page of the Cirq tutorial:  https://cirq.readthedocs.io/en/stable/tutorial.html the rendered energy function appears corrupt.  Actually, the first two equations that appear have the same issue.  This seems to only be on the HTML page, not what is in the github repo.  The items circled below should be removed.
<img width="762" alt="Screen Shot 2019-08-21 at 7 06 51 AM" src="https:

[2019-08-21 14:14] vtomole commented on #1995
Hey @td2014 that is the stable version of the docs and this has been fixed on the latest https://cirq.readthedocs.io/en/latest/tutorial.html.

[2019-08-21 14:14] #1995 closed

[2019-08-21 14:20] vtomole commented on #1995
PS: That error will automatically be fixed on the next release. Thanks for opening up this issue!

[2019-08-21 14:23] vtomole opened #1996 "Mention the difference between stable docs and latest docs."
Stable is usually behind latest which can cause some confusion depending on which version you are reading and whether or not you are using `cirq-dev` or `cirq-release`.

See: https://github.com/quantumlib/Cirq/issues/1995

[2019-08-21 16:41] #1930 closed

[2019-08-21 16:44] dabacon commented on #1930
The case where `Symbol('a') + 1` appears in multiple gates.

[2019-08-21 17:10] cduck opened #1997 "Expression flattener sometimes creates different symbols for the same expression"
This happens when one expression contains an int and another contains a float of the same value.

Expected behavior:
[code]

Actual behavior:
[code]

This causes the transformed parameter values to have two entries evaluated to the same value.

[2019-08-21 17:23] cduck commented on #1997
This is caused by a sympy bug where `a+1 == a+1.0` but `hash(a+1) != hash(a+1.0)` (https://github.com/sympy/sympy/issues/11707).

[2019-08-21 17:32] cduck commented on #1930
Yes.  That is already handled in #1963.

I just found that this doesn't work as expected when two gates have `a+1` and `a+1.0` (#1997).

[2019-08-21 18:46] dabacon opened #1999 "[TYPE_CHECKING] Use cirq.* instead of cirq submodules for imports that are only for type-annotations"

[2019-08-21 18:52] dabacon commented on #1999
When a dependency only exists for type annotations, you can use
[code]
and then you can use the type as an annotation as a string
[code]

[2019-08-21 20:05] peterse opened #2000 "Move state validation functions out of `sim` module?"
I've needed to validate input wavefunctions and density matrices in a few functions that act on input states (e.g. `linalg.wavefunction_partial_trace_as_mixture`, `linalg.subwavefunction`, `ops.PauliString.expectation`) but can't import `to_valid_state_vector` and `to_valid_density_matrix` at the module level without causing a circular import (`sim` imports from `linalg` and `ops`).

It might make

[2019-08-21 20:05] peterse commented on #2000
xref #1975

[2019-08-21 21:07] mpharrigan commented on #1999
I thought the proposed convention was

[code]

i.e., use top-level imports (stringified)

[2019-08-21 21:15] mpharrigan commented on #1940
How much structure do you want tags to have? A string field? a list of strings? something more like an enum?

[2019-08-21 21:26] dabacon commented on #1999
Oh that is probably better yes.

[2019-08-21 23:20] dabacon commented on #1940
list of strings was my thought

[2019-08-22 01:38] cduck commented on #1997
This function could possibly be used to canonicalize expressions before using them:
[code]

[2019-08-22 17:37] vtomole commented on #1819
Look for a new way of doing this.

[2019-08-22 17:47] #1991 closed

[2019-08-22 17:54] c-poole opened #2009 "Proposal: Optimizer/Noise Model list of strategies"
There has been a fair amount of discussion about how to make separate noise models and optimizers play nice when we want to use more than one of them on the same circuit. For the case of noise models, composing noise models that act on every operation is an issue if we don't want noise inserted by one model to cause the next noise model to insert more than its fair share of noise. For optimizers,

[2019-08-22 18:22] dabacon commented on #1966
Back up and running.

[2019-08-22 18:26] vtomole commented on #1966
Thanks!

[2019-08-22 18:26] #1966 closed

[2019-08-22 20:02] dabacon commented on #1985
I don't mind many of these Singletons in this long list, though I do think that they should follow style guidelines and be CAPS (ignore union types as Craig said).  `UnconstrainedDevice`, `reset` seem to violate this.

[2019-08-22 20:17] dabacon commented on #1985
The thing about Pauli is that I don't see why we shouldn't just have the XPowGate, and, in the case where the exponent is such that we have and I or and X the methods that Pauli supports are used?  In looking over pauli_string I don't see a great reason for this.  We could also make this a proper interface, and this would allow code to still spot that the object is potentially a Pauli by class and

[2019-08-22 20:33] dabacon commented on #1900
Fixed in #1935

[2019-08-22 20:33] #1900 closed

[2019-08-22 21:37] dabacon commented on #1978
Long live multiprocessing.

[2019-08-22 21:37] #1978 closed

[2019-08-22 21:47] #1526 closed

[2019-08-22 21:47] #1760 closed

[2019-08-22 22:07] mpharrigan opened #2014 "Implement more complete JSON serialization for sympy"
Follow up to https://github.com/quantumlib/Cirq/pull/1880#pullrequestreview-278642567

It would be ideal if sympy itself had a serialization format. However, the most promising candidate `srepr` looks to be horribly unsafe to parse on untrusted input.

https://github.com/quantumlib/Cirq/pull/1880 adds support for `sympy.Symbol`, but we'll probably need support for more constructs; at least arithme

[2019-08-22 22:25] dabacon commented on #1994
The new version of the protos does not have this issue.  We are deprecating v1, so probably should just delete this TODO.

[2019-08-22 22:31] #1994 closed

[2019-08-22 22:32] vtomole commented on #1994
Okay.

[2019-08-22 22:36] mpharrigan commented on #1985
xref #2011

[2019-08-22 22:42] mpharrigan commented on #1985
I'd generally push back against any further consolidation into them being gate-like. I'm still not fully convinced that there shouldn't be two separate things: X-the-gate and X-the-operator. It's pretty rare to have a case where you want to take one thing and use it both as an operator (Hermitian) and a gate (unitary). In fact, most of the time when you have an X-the-operator, you convert to an as

[2019-08-22 23:22] Strilanc opened #2015 "Delete cirq/testing/file_tester.py; use tmpdir and tmp_path pytest fixtures instead"
http://doc.pytest.org/en/latest/tmpdir.html

[2019-08-23 00:40] dabacon commented on #1890
It also leads to lots of warnings in our tests
[code]

[2019-08-23 00:53] dabacon commented on #1890
@pingyeh could you comment on the pattern you used in heatmap and why?

[2019-08-23 00:56] dabacon commented on #159
Since we deleted the multiprocessing simulator, this now just depends on the numpy random seed.  We should add this to documentation, and then close.

[2019-08-23 01:01] dabacon commented on #159
Or better yet allow it to be set in the simulator.

[2019-08-23 11:45] andbe91 commented on #1999
What about imports from outside of Cirq? I can imagine that there some `numpy.ndarray` for example.

Also, is there a good way to find all instances of this automatically?

[2019-08-23 15:14] dabacon commented on #1999
The main goal would be to reduce our internal module dependencies.  The drawback of the string is likely that it makes using and IDE to navigate a bit harder.  For external dependencies I wonder how many people use their IDE to navigate to these methods.  Otherwise they don't really add much to our dependency graph, so I'd leave them.

[2019-08-23 15:35] dabacon commented on #702
XmonGates no longer exist.

[2019-08-23 15:35] #702 closed

[2019-08-23 15:38] dabacon commented on #1686
I guess this could be a problem but the way you access these makes it pretty clear they are different.  I'm inclined to close this since I'm not aware of anyone making this mistake, and if they do it's mostly because we have moved too far in the direction of returning objects that don't allow you to understand what you are accessing (probably also a vote against the idea that we should eliminate `

[2019-08-23 16:46] #159 closed

[2019-08-23 16:53] dabacon commented on #224
This exists as `EngineProgram` (and there is a corresponding `EngineJob`)

[2019-08-23 16:53] #224 closed

[2019-08-23 16:53] dabacon commented on #473
Obsolete

[2019-08-23 16:53] #473 closed

[2019-08-23 16:54] dabacon commented on #485
All run methods so do this check.

[2019-08-23 16:56] #1515 closed

[2019-08-23 17:40] pingyeh commented on #1890
Library codes that create plots on an `Axes` should not call `show()`, so the caller of the library can decide when to show it, e.g., only after adding more stuff to the plot.

Some codes are supposed to make visible plots, e.g., the example codes in `cirq.vis.examples.bristlecone_heatmap_example.main`. They have to call `show()`.

How about replacing calls to `Figure.show()` with `Figure.show(war

[2019-08-23 18:29] dabacon commented on #1042
dtype is currently on the simulator classes themselves.  The `mux` methods pass them in while being constructed.

[2019-08-23 18:29] dabacon commented on #1042
Ah closed this because I don't think

[2019-08-23 18:30] dabacon commented on #1042
oop accidentally closed

[2019-08-23 18:32] dabacon commented on #1826
I worry a bit about --actually-quiet parameter because if you don't know about it, travis logs can be less useful (why doesn't it show the tests running like when I use check locally).

[2019-08-23 21:20] mpharrigan commented on #1826
A data point: I thought everything was broken during #1992 because there was no terminal output (in addition to the wonky matplotlib behavior)

[2019-08-23 22:43] dabacon opened #2020 "Use np.random.RandomState for simulator seeds."
see comments in #2017

[2019-08-24 00:02] #1855 closed

[2019-08-24 00:08] dabacon commented on #862
xref #1880

[2019-08-24 01:15] Strilanc commented on #1826
@mpharrigan @dabacon You don't find that the amount of dot output was becoming problematically large? When a test fails, the output is hidden way down instead of being right in view.

If there was some way for us to trigger Travis' log folding behavior on the progress, that would solve both issues.

[2019-08-24 01:32] Strilanc opened #2021 "Add `check/pylint-changed-files` script"
Linting the code base is beginning to take an unreasonably large amount of time. It would be convenient to be able to only lint files that changed.

Basically, this change amounts to rebasing the diffs of `check/pytest-changed-files` vs `check/pytest` onto `check/pylint`.

Note that `check/all` has an `--only-changed-files` flag, and when this flag is set it should call the only-changes version of

[2019-08-24 03:11] Strilanc commented on #1890
`warn=False` sounds like an ideal solution

[2019-08-24 03:47] dabacon commented on #1890
So `warn=False` for example code and like that has to call `show`.  But in general library code should take in an `Axes` (so that people can control where it is shown)?  And if `Axes` is not passed in, should it create a Figure and Axes and then do show (with `warn=False`)?

[2019-08-24 04:07] dabacon commented on #228
#1982 #1875

[2019-08-24 04:43] dabacon commented on #1263
This has been done.

[2019-08-24 04:43] #1263 closed

[2019-08-24 04:46] dabacon commented on #993
One problem with new types is that they are less self documenting

[2019-08-24 04:49] dabacon commented on #862
#1880 now provides this.

[2019-08-24 04:49] #862 closed

[2019-08-24 17:48] pingyeh commented on #1890
I thought about making the `ax` argument of the `Heatmap.plot()` method optional and creating a `Figure` and an `Axes` if it's not specified, but I decided against it. My rationale is:

1. It is a library which should have no side effects like showing a plot on the screen,
2. It allows the caller a full control of the plot.

The down side is that it is a bit less convenient in interactive sessions

[2019-08-26 17:35] vtomole opened #2022 "Add docstring to cirq/contrib/paulistring/init.py"
A good place to start in debugging this is studying the build logs.

[2019-08-26 18:27] andbe91 commented on #2022
It's not showing up since there is nothing to show. `cirq.paulistring` is a module and [cirq/contrib/paulistring/__init__.py](https://github.com/quantumlib/Cirq/blob/master/cirq/contrib/paulistring/__init__.py) does not have a docstring.

[2019-08-26 21:14] vtomole opened #2024 "Convert `build-docs.sh` warnings into errors and add a Travis check for it."
That way, https://github.com/quantumlib/Cirq/issues/1965 can be closed for good.

[2019-08-26 21:17] andbe91 commented on #2024
Duplicate of #1866?

[2019-08-26 21:29] #2024 closed, assigned to nobody

[2019-08-27 17:19] dabacon opened #2030 "Cancel all jobs / all jobs under program"
* List programs
* List jobs under a program
* List all active or running jobs (not sure if api supports this)
* Cancel all jobs
* Cancel all jobs under a program

[2019-08-27 19:58] Strilanc opened #2032 "Modify automerge script to explain "someone requested changes" case"
In https://github.com/quantumlib/Cirq/pull/2028#issuecomment-525399478 cirqbot didn't understand that there was an approved review and also a review asking for changes.

[2019-08-27 20:44] Strilanc opened #2034 "Flaky test failure: test_single_qubit_matrix_to_native_gates_cases"
This random test failure was observed on travis ( https://travis-ci.com/quantumlib/Cirq/jobs/228700099 , but likely no longer appears due to re-running the check ):

[code]

[2019-08-27 20:51] Strilanc opened #2035 "Should we start using `import cirq` at top level inside cirq?"
Now that we are using python 3, importing is much lazier and it's possible for us in many situations to just `import cirq` instead of individual modules.

Pros:

- Much simpler to import functionality. Don't have to remember where things are.
- Internal code will look more like external code.

Cons:

- Further obscures the dependencies between files and modules. If you think the dependency graph i

[2019-08-28 00:47] cduck opened #2036 "[Style] cirq/protocols/equal_up_to_global_phase.py has carriage returns"
This command finds all files with carriage returns:
[code]

[2019-08-28 18:36] Strilanc opened #2039 "Describe how to run auto_merge script better in docstring of that file"

[2019-08-28 18:59] cduck opened #2040 "JSON serialization usability"
When I first tried to use JSON serialization, I tried to run `cirq.to_json_dict(circuit)` expecting to get the output of `cirq.to_json` as a dictionary.  A docstring needs to be added to `to_json_dict` and may need to be renamed to avoid autocomplete confusion with `to_json`.

[2019-08-28 19:29] peterse opened #2041 "BUG: downcasting from complex in `apply_unitary`"
The following code to multiply PauliY by the identity incorrectly casts the matrix representation of PauliY into the type of the input state (float):
[code]
gives
[code]
numpy correctly throws a warning about this casting, but this should really throw an error.

[2019-08-29 00:07] #2035 closed

[2019-08-29 00:11] cduck commented on #2035
The closing PR implements @Strilanc's idea (1) and solves (2) with a test that verifies import order.

[2019-08-29 08:25] Psrit opened #2047 "A question on PauliString exponentiating"
I was using `PauliString` to implement some operations like `exp(i t X Y) |00>`, but I found that the simulated state vector did not match the one given out by directly using numpy matrix multiplication (by a global phase). The code I used is:
[code]

Then I tried to test the simplest case `exp(i t X) |0>`, the results still differed. I found in `cirq/ops/pauli_string_test.py`, there are test case

[2019-08-29 21:46] Strilanc opened #2053 "Remove to_json_dict"
This is blocked by @mpharrigan depending on the method for one week.

[2019-08-29 22:09] cduck opened #2055 "Remove lazy imports from code in protocols/"
Now that #2037 has fixed most circular import issues, most of the function-local import statements used in protocols/ can be made module-level imports.  The only exception is circular imports within protocols/ like has_unitary.py <-> apply_unitary.py.

[2019-08-30 18:51] #2040 closed

[2019-08-30 18:51] #2053 closed

[2019-09-02 18:36] andbe91 commented on #2055
I started looking into this, but I'm running into two issues.
In `cirq.protocols.has_unitary` I'd like to import the `device` module at module level, and in  `cirq.protocols.resolve_parameters` I'd like to import `study`. However that gives the following errors in `import_test`:

[code]

But in #2037 you say "protocol code can import any other module at import time". Is this a bug?

Also, is it OK

[2019-09-02 19:06] cduck commented on #2055
That sounds like a bug in #2037.  At the last minute I changed "protocols can import anything" to "protocols can import ops or anything that comes before it in the dependency list."  If a protocol needs the study module then this should be changed.  Do this by editing `cirq/__init__.py`.  Move devices and study up a few lines so they come right after ops.

I would still avoid `import cirq` for now

[2019-09-02 22:21] #2055 closed

[2019-09-02 23:15] dabacon opened #2061 "Engine doesn't serialize lists of dicts of params"
Passing in a list of dicts to a param sweep doesn't serialize to the v2 protos
[code]

[2019-09-03 15:30] dabacon opened #2062 "Calibration and EngineJob needs a good str"
Probably should list its timestamp in a good format and its keys

[2019-09-03 15:30] dabacon commented on #2030
* get_processor

[2019-09-03 16:05] dabacon commented on #2062
Also EngineJob.  should print id maybe link the console?

[2019-09-03 19:14] andbe91 commented on #2034
I ran the test 100 000 times and got 6 failures.

Looks like the issue is the difference in `atol` between the optimizer and the assertion.

[code]

I'll run some tests with different tolerances and see if I can reduce the failure rate.

[2019-09-03 20:31] cduck opened #2064 "Flaky test failure: test_example_runs_quantum_teleportation"
This random test failure was observed on Travis Windows test (similar to #2034).  The randomness here comes from the simulator sampling measurement output I think.

[code]

[2019-09-04 00:25] yriyat opened #2066 "Installing Cirq"
Hi, I am using PyCharm/Anaconda. I am trying to install Cirq and I used the following commands in the docs:

python -m pip install --upgrade pip
python -m pip install cirq

I got this error after running:
---
C:\Users\yoges\Anaconda3\envs\hello_qubits\python.exe C:/Users/yoges/PycharmProjects/hello_qubits/hello_qubits.py
  File "C:/Users/yoges/PycharmProjects/hello_qubits/hello_qubits.py", line 1

[2019-09-04 00:30] Strilanc commented on #2066
Those commands are supposed to be run from the command line, not as a python program.

In pycharm open the terminal tab

![image](https://user-images.githubusercontent.com/79941/64217030-779dcc80-ce70-11e9-8bc0-a031a75f7c15.png)

and run the commands from there.

[2019-09-04 07:34] #2034 closed

[2019-09-04 15:55] yriyat commented on #2066
Thanks Craig.
When I run those two commands in the terminal, for the first one:

WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None,
status=None)) after connection broken by
'NewConnectionError('<pip._vendor.urllib3.connection.Verifi
edHTTPSConnection object at 0x000001E1B8B92188>: Failed to establish a new
connection: [Errno 11001] getaddrinfo failed')': /simple/pip/
Require

[2019-09-04 16:14] vtomole commented on #2066
Your machine is probably not connected to the internet. Check for that.

[2019-09-04 16:19] yriyat commented on #2066
100% correct. Sorry working out of a Dunkin Donuts and didn't realize that
I wasn't connected. Seems to be working now, thank you very much!

On Wed, Sep 4, 2019 at 11:14 AM Victory Omole <notifications@github.com>
wrote:

--
Yogesh K. Riyat
McKinsey & Company (Alum)
University of Chicago Booth School of Business (Alum)
(847)977-8087

[2019-09-04 16:26] dabacon opened #2067 "Travis is not doing auto deploy to cirq-dev"

[2019-09-04 16:34] vtomole commented on #2066
Awesome!! Is it okay if i close this ticket now that this has been resolved?

[2019-09-04 16:49] yriyat commented on #2066
Yes please thank you

[2019-09-04 16:51] #2066 closed

[2019-09-04 16:54] dabacon opened #2069 "Support differentiation of gates that are parameterized"
Sympy supports differentiation
https://docs.sympy.org/latest/tutorial/calculus.html

Current `cirq.unitary` doesn't return a matrix if the gate is parameterized.  But we could make it return the formulas, and the this would allow us to perform symbolic differentiation using Sympy.

This would be a very useful primitive for simulation in quantum machine learning.

[2019-09-04 17:38] trevormccrt commented on #2069
I don't think I quite understand the end goal here. Are you trying to enable something like calculating a symbolic expectation value/partial of and expectation value with respect to a symbol? Or something more intermediate?

[2019-09-04 18:32] Strilanc opened #2070 "Add _kak_ protocol for two qubit gates"

[2019-09-04 19:00] viathor opened #2071 "Gate logarithm"
Every quantum gate can be thought of as a unitary operator or as evolution under a given Hamiltonian. IOW, one can reason about gates either downstairs or upstairs of the exponential map sending anti-Hermitian operators to the unitary group.

For user convenience, we should introduce a protocol that enables users to ask a gate for its corresponding Hamiltonian.

One use-case for this arises in two

[2019-09-04 19:15] viathor opened #2072 "Gate AST"
Quantum gates can be built from simpler gates using operations such as taking (normalized) linear combinations, tensor products and compositions. Cirq has a means of representing linear combinations (using LinearDict and related classes), but for now doesn't have an explicit way to represent tensor products or compositions.

One use case for TensorProduct is provided by #1884. Compositions would e

[2019-09-04 19:49] bryano commented on #2071
I implemented this for the fermionic simulation gates in [OFC #353](https://github.com/quantumlib/OpenFermion-Cirq/pull/353).

[2019-09-04 20:53] dabacon commented on #2070
A protocol because we want to be able to provide efficient decomposition without doing all the hard numerical math?

[2019-09-04 23:01] mpharrigan opened #2075 "QuantumEngine takes a list of processor_ids?"
When using `QuantumEngine`

                to run the program. Only one of these will be scheduled for
                execution.

What's the intended use case here? Can you figure out which processor actually ran your job?  In the NISQ context you typically want to tailor a circuit to a device.

A related question: what's the utility of `Circuit.device`? Is it respected/validated when using `Qua

[2019-09-04 23:56] cduck opened #2076 "Add little endian versions of bit and digit packing functions"
Currently only there are only functions that convert from bit or digit lists to ints with the big endian convention (first digit in the list is the most significant).
 Little endian versions would be useful (e.g. https://github.com/quantumlib/Cirq/pull/2074#discussion_r321009818 and https://github.com/quantumlib/Cirq/pull/2074#discussion_r321012340).

Functions to add to cirq/value/digits.py:
- `l

[2019-09-04 23:58] maffoo commented on #2076
Is there a reason we need both endiannesses in cirq? I haven't followed the referenced issue so I don't have much context, but having both endiannesses floating around seems like a potential source of nasty bugs.

[2019-09-05 00:03] cduck commented on #2076
I agree.  This came up while I was modifying simulator code that internally uses little endian for sampling measurements.  The function `slice_for_qubits_equal_to` uses little endian and now is a backward compatibility issue if it is changed.

[2019-09-05 00:13] cduck commented on #2076
In #2074, I just fixed the wave function simulator to use big endian internally.  Now `slice_for_qubits_equal_to` is the only function I'm aware of that uses little endian.

[2019-09-05 03:19] dabacon commented on #2075
The multiple processor_id case is for example when you are testing, and there are multiple processors, and you don't care which one it runs on.  This can increase throughput for you.  I agree for most NISQy business you want to specify the processor

[2019-09-05 03:21] dabacon commented on #2075
Circuit.device is not used at all in engine right now.

We are adding the ability to down device specifications, at which point that could be used.  You can always add your device to a circuit and it will validate as you build the circuit.

[2019-09-05 15:03] #2067 closed

[2019-09-05 17:15] dstrain115 commented on #1873
The list of things that need to change packages that I know about are:

- cirq
- cirq_internal
- pyle
- google3

I think that most other projects should be using the public interfaces of cirq rather than using the api directly.

[2019-09-05 20:09] dabacon commented on #2075
In some places where is says processor_ids you can also pass in a single str.  I don't really like that.  Maybe we should just be more explicit here and have both processor_id and processor_ids, you gotta specify one and not both.

[2019-09-05 20:39] mpharrigan commented on #2075
My personal opinion is that the cognitive overhead of giving a list outweighs the (IMO marginal) utility of the current api.

Overhead: Users following the intro documentation / notebooks / examples will be surprised by the pluralized argument and visually cluttered `('xmonsim',),` argument, expecting a single target. Furthermore, I don't think it's obvious whether the process will run on *any* or

[2019-09-06 00:15] Strilanc commented on #2075
I suggest adding a `processor_id` argument, which takes a string and throws an error if specified at the same time as `processor_ids`. That fixes the "tricky to learn" issue.

[2019-09-06 00:21] dabacon commented on #2075
Another question is whether we want default values of these specified on Engine.  I'm sure everyone is tired of typing `rainbow` by now?

[2019-09-06 00:34] mpharrigan commented on #2075
For forward compatibility and general readability, I'd strongly suggest not having any default. I was fooled once by the current default

[2019-09-06 06:23] Patil2099 commented on #2022
@vtomole What String I have to add? Can I work on this issue?
Thanks!

[2019-09-06 13:12] vtomole commented on #2022
Sure. Add a sentence about what the `paulistring` module is about. I'll let you figure it out from the source.

[2019-09-06 17:08] #2015 closed

[2019-09-06 18:14] dabacon opened #2082 "Windows build is sometimes failing on travis"
Windows tests appear broken
https://travis-ci.com/quantumlib/Cirq/jobs/231923888
it looks like this broke it
https://github.com/quantumlib/Cirq/pull/2063

[2019-09-06 18:28] vtomole commented on #2082
I wonder how the build passed with failing tests.

[2019-09-06 18:39] cduck commented on #2082
Error log:
[code]
Notice that it stops before 99%.

[2019-09-06 18:41] Strilanc commented on #2082
@dstrain115 has also seen this failure, but on one of his PRs. Based on his description, it seems to randomly come and go. I suspect debugging it will require quite a lot of bisecting and repeating.

[2019-09-06 19:36] dabacon commented on #2082
```--actually-quiet``` is that burying the actual error messages?

[2019-09-06 20:14] cduck commented on #2082
I got a job to fail with the verbose flag: https://travis-ci.com/quantumlib/Cirq/jobs/231970083

It fails right after `cirq/work/pauli_sum_collector_test.py::test_pauli_string_sample_collector_extra_qubit_x The command "check/pytest --benchmark-skip -v" exited with 3.`

[2019-09-06 20:14] dabacon commented on #2082
So helpful: "Exit code 3: | Internal error happened while executing tests"

[2019-09-06 20:15] cduck commented on #2082
The test after that is `cirq/work/sampler_test.py::test_sampler_fail PASSED`.

[2019-09-06 20:16] dabacon commented on #2082
Async code.  Hahah yeah that wouldn't surprise me.

[2019-09-06 21:24] cduck commented on #2082
Now it crashed on `test_pauli_string_sample_collector_extra_qubit_x`.  https://travis-ci.com/quantumlib/Cirq/builds/126289206
[code]

[2019-09-06 23:13] #1689 closed

[2019-09-06 23:36] #1522 closed

[2019-09-06 23:51] smitsanghavi commented on #1973
The original reason for going this route was to have the flexibility of calling control(GateX, my_control_qubits) to generate a ControlledGate where you can specify the qubits GateX uses (and also some more controls) later. The assumption was that control qubits might be used differently than "regular" qubits and having an option to pre-specify some controls without being asked to resolve the unde

[2019-09-09 17:15] dabacon commented on #2082
Should we disable this test for Windows?

[2019-09-09 17:33] cduck commented on #2082
This could be pointing out an actual issue on Windows.  I wouldn't disable unless I know that this is caused by with async code on Windows only in pytest.

[2019-09-09 18:40] dstrain115 commented on #2061
Being solved by PR #2080

[2019-09-09 18:56] dstrain115 commented on #2061
You should now be able to serialize flattened sweeps and lists of dicts, as long as you make them a ListSweep.

e.g.  params=ListSweep([{'a': 1, 'b': 2}, {'a':2, 'b':3}])

[2019-09-09 18:56] #2061 closed

[2019-09-09 21:14] dabacon commented on #2082
Does anyone have a windows device to easily debug this and not have to use travis to make it fail?

[2019-09-10 17:24] vtomole opened #2091 "Add xtalk for 2 qubit operations in AQT device"
https://github.com/quantumlib/Cirq/blob/941e2b46f03d98526f0750e4640bd02e074391ab/cirq/aqt/aqt_device.py#L89.

@pschindler  Let me know if I should assign this issue to you.

[2019-09-10 17:55] trevormccrt opened #2092 "Gradients of expectation values wrt circuit symbols"
Is this a module you all would be interested in adding to cirq? I suggest this because there are several non-trivial methods of doing this at this point that i would like to implement, and I want to minimize future re-inventing of the wheel by putting it in a place accessible to everyone.

some examples of different methods usable for computing gradients of expectation values:

harrow - https://ar

[2019-09-10 20:55] gecrooks commented on #2092
I, for one, would like to see this functionality added.

In the last section of the second paper above I also attempt to explain the "middle out" method. Middle out is faster than parameter shift, but works only for simulation, and not for an actual quantum computer.

Other approaches include using TensorFlow (again, simulation only), and evolution strategies (https://www.nature.com/articles/s4153

[2019-09-10 20:56] c-poole commented on #2082
I can take a look

[2019-09-10 21:33] vtomole commented on #2092
From the abstract of the first paper you linked, this is pretty NISQY so i think it's fine to add it.

Fortunately, we already have Tensorflow as a dependency in contrib.

@trevormccrt  @gecrooks  Please add this module you want to contrib (https://github.com/quantumlib/Cirq/tree/master/cirq/contrib) and open a pull request.

[2019-09-10 22:03] gecrooks commented on #2092
If gates with sympy parameters returned parameterized unitaries, as suggested in issue #2069, then converting a Cirq circuit to TensorFlow would be fairly easy.

[2019-09-10 22:06] trevormccrt commented on #2092
i'd say integration with tf should be out of scope here - i was more thinking adding some simple differentiation methods that stay relatively close to the hardware

[2019-09-10 22:10] QuantumVerd commented on #2092
This is overlapping too much with another project that both the above Googlers know about, gradients should be in that project, not Cirq.

[2019-09-11 02:36] QuantumVerd commented on #2092
After discussion with other Google engineers and the PM for Cirq we've decided to hold off on the gradient feature as this is an area of constant change in terms of research.

In the meantime, there is currently work going on at X for a Cirq JAX-based execution backend, which would allow for gradients.

[2019-09-11 17:29] pschindler commented on #2091
@vtomole Yes please do so.

[2019-09-11 17:38] kevinsung opened #2095 "Proposal: Merge QuantumEngineSampler and Engine"
Often when writing code that uses Engine you really want a Sampler so that you can easily swap in a simulator. It seems unwieldy to have both these classes around and one kind of has to look around or be told about QuantumEngineSampler to realize it exists.

[2019-09-11 18:23] kevinsung commented on #2095
Ok the plan is to make Engine implement Sampler by moving keyword arguments from Engine.run to Engine.__init__.

[2019-09-11 19:47] maffoo commented on #2095
It would also be useful to implement a "copy" method that creates a new engine instance with some parameters changed (for example you might want to change `JobConfig` or `priority` but leave auth info the same). Then you can do things like:
[code]

[2019-09-11 23:56] dabacon opened #2099 "Engine should retry retriable errors (with backoff or a finite number of tries)"
For example 503 errors.

[2019-09-12 00:47] dabacon commented on #2099
[code]

[2019-09-12 00:53] dabacon commented on #2099
---------------------------------------------------------------------------
HttpError                                 Traceback (most recent call last)
<ipython-input-2-99f02a240e61> in <module>
     52     p1_landscape.collect_p1_landscape_data(
     53         params=params,
---> 54         problem_base_dir=os.path.expanduser('~/cirq-results/problems')
     55     )

~/Projects/qaoa-experiment/q

[2019-09-12 20:24] kevinsung opened #2102 "Make EngineProgram a Sampler"

[2019-09-12 20:35] #933 closed, assigned to cduck

[2019-09-12 20:54] cduck opened #2103 "Allow NoiseModel to substitute and/or add qubits"
When DensityMatrixSimulator is run with a noise model, the simulator assumes that the noise model only returns operations on the same qubits and crashes otherwise.

There are two main use cases for this:
- Simulating noise caused by leakage to the |2> state.  The noise model needs to return operations on qutrits corresponding to the input circuit's qubits.
- Simulating entanglement with the enviro

[2019-09-12 23:32] dabacon opened #2106 "Add __getitem__[start:stop] slicing support to parameter sweeps"
If we have a sweepable that is really big it is useful to break it up into smaller sweeps.  We should add functionality which does this slicing.

[2019-09-12 23:34] dabacon opened #2107 "Engine should using sweepable slices to keep job sizes down"
Follow up after #2106

Engine should take a repetition x parameter sweep size that it wants to break things into, and if the job is bigger than this break the job into multiple jobs of this size (or smaller).

One issue here is how to name these jobs.

[2019-09-12 23:36] dabacon opened #2108 "Optimization pass that aligns measurements."
Useful if all measurements need to be performed in the same moment.

[2019-09-13 12:55] alexandrupaler commented on #2108
Does it mean that under the assumption that all measurements are at the end of a circuit, the optimisation creates a moment and moves all the measurements in the last moment?

[2019-09-14 00:46] Strilanc commented on #1899
We could do this:

[code]

[2019-09-15 20:03] KevinVillela opened #2111 "Implement Quantum Volume algorithm"
Spoke with @mpharrigan about this. It'd be nice to have an implementation of the Quantum Volume algorithm described at https://arxiv.org/abs/1811.12926. Note that OpenQASM has the first part of this, [creating the model circuit](https://github.com/Qiskit/openqasm/blob/5fb61893661261b7211942dc04ee85f8fd845f2a/benchmarks/quantum_volume/quantum_volume.py).

If someone could assign this issue to me, I

[2019-09-16 17:36] viathor opened #2113 "Factor out XEB fidelity estimator out of XEB experiment code"
XEB experiment code is monolithic. In particular, it tightly couples generation of random circuits and fidelity estimation. The latter is potentially useful on its own (e.g. when RQCs have been generated and executed offline), so should be factored out for re-use.

Also, there is more than one formula for estimating fidelity, e.g. on a few qubits one can compute cross-entropies directly while on m

[2019-09-17 03:31] trevormccrt opened #2118 "Add PauliSum-level expectation from density matrix without validation"
If a user is confident their density matrix is valid, it would be good if they could calculate the expectation value without the additional overhead of an eigenvalue decomposition or numerical error causing this computation to error out (especially when the density matrix represents a nominally pure state). @peterse thoughts?

[2019-09-17 06:29] Strilanc commented on #2118
We have many linalg methods with `check_preconditions=True` on them. You could add such a thing to the method.

I'm a bit surprised that validating the density matrix involves taking an eigendecomposition. Shouldn't checking that it is Hermitian with unit trace be sufficient?

[2019-09-17 06:49] trevormccrt commented on #2118
The eigendecomp is to check positive-definiteness. I'll go ahead and add something along those lines to both expectation methods in a way that makes sense.

[2019-09-17 07:08] Strilanc commented on #2118
Ah I see, the eigenvalues (-1, +2) or (-0.5, 0.5, 0.5) would pass the Hermitian-and-unit-trace test.

If you pick a random vector and multiply it by (D-I)^N where D is the density matrix and N is very large (use repeated squaring), the vector will diverge to infinite size iff there's any negative eigenvalues (note that there can't be any positive eigenvalues larger than 1 if there are no negative

[2019-09-17 07:53] peterse commented on #2118
Performance certainly checks out, especially since the cholseky timing is the _worst case_ for input validation:
[code]

[2019-09-17 17:40] mpharrigan commented on #2020
See discussion on https://github.com/quantumlib/Cirq/pull/2112#discussion_r325297470 for examples of this idiom in scikit-learn and pandas

[2019-09-17 22:07] kevinsung opened #2121 "Format script not working properly"
This has come up repeatedly for me but one example would be at commit 94f4a4e of #2096 . If, at that commit, I run the script `check/format-incremental`, it tells me `No formatting needed on changed lines.` Nevertheless, Travis tells me I do need formatting. Could this be my yapf version? I have yapf 0.16.2.

[2019-09-17 22:08] kevinsung commented on #2121
I should have thought to actually try updating my yapf. Now that I did, it seems to work.

[2019-09-17 22:08] #2121 closed

[2019-09-17 22:29] #1610 closed

[2019-09-17 22:59] #2095 closed

[2019-09-18 03:55] trevormccrt opened #2122 "op_serializer fails on gates parameterized by algebraic expressions"
For example, if i create a circuit including `cirq.X ** a/2` where `a` is a sympy symbol, op_serializer.py fails in the _check_value method with the following error:

`ValueError: Expected type convertible to float but was <class 'sympy.core.mul.Mul'>`

@Strilanc do you know if not supporting this is intentional, or has it just never been added?

[2019-09-18 16:03] vtomole opened #2123 "Add methods from the "Simulation of quantum circuits by low-rank stabilizer decompositions" paper."
"We implemented the new simulation methods and used them to simulate quantum algorithms with 40-50 qubits and over 60 non-Clifford gates, without resorting to high-performance computers" - https://arxiv.org/abs/1808.00128

[2019-09-18 16:39] vtomole opened #2124 "test_implied_job_config_project_id() and test_implied_job_config_gcs_prefix() failing on my local machine and travis osx build"
```google.auth.exceptions.DefaultCredentialsError: Could not automatically determine credentials. Please set GOOGLE_APPLICATION_CREDENTIALS or explicitly create credentials and re-run the application. For more information, please see https://cloud.google.com/docs/authentication/getting-started```

https://travis-ci.com/quantumlib/Cirq/jobs/234202807

[2019-09-18 16:48] vtomole commented on #2124
These tests don't exist anymore. Syncing with master.

[2019-09-18 18:29] dstrain115 opened #2125 "Delayed importer fails for certain importers"
The delayed import functionality fails in a certain importer that creates a zip for hermetic python packaging for Google.

Here is what fails.

Traceback (most recent call last):
...
 File "<frozen importlib._bootstrap>", line 994, in _gcd_import
  File "<frozen importlib._bootstrap>", line 971, in _find_and_load
  File "<frozen importlib._bootstrap>", line 955, in _find_and_load_unlocked
  File "

[2019-09-18 18:35] cduck commented on #2125
The `create_module` method on a Loader is allowed to be not implemented or return `None` to indicate the default behavior.  https://docs.python.org/3/library/importlib.html#importlib.abc.Loader

The fix should just be to check if the `create_module` method exists and return `None` otherwise.

[2019-09-18 18:37] dstrain115 commented on #2125
Ok, I can give that a try.

[2019-09-18 19:30] vtomole commented on #2124
That didn't work. Reopening.

[2019-09-19 18:39] wcourtney opened #2128 "Standardize Engine resource names"
e.g., get_program() takes a program ID, whereas get_job() takes a full resource name as "projects/<project_id>/programs/<program_id>/jobs/<job_id>".

[2019-09-19 18:45] trevormccrt commented on #2122
@dabacon any thoughts on this? I figure it might have something to do with what you guys want to support on the engine side of things.

[2019-09-19 19:00] dabacon commented on #2122
If your circuits have formulas you need to flatten them.  See [https://github.com/quantumlib/Cirq/blob/master/cirq/study/flatten_expressions.py](https://github.com/quantumlib/Cirq/blob/master/cirq/study/flatten_expressions.py).

We can consider making this automatic by default, but we need to be careful with too much automagic that people don't understand.

[2019-09-19 23:52] hanusaj commented on #2022
Assign this to me

[2019-09-19 23:57] Hancockan commented on #1642
Assign this to me

[2019-09-19 23:57] cjcarey commented on #1642
Assign this to me

[2019-09-20 00:00] jkc1113 commented on #1740
I can try this out

[2019-09-20 00:03] Hancockan commented on #998
Assign this to me

[2019-09-20 00:12] vtomole opened #2134 "Implement the quantum part of Shor's algorithm."
Classical part has already been implemented: https://github.com/quantumlib/Cirq/blob/master/examples/shor.py

[2019-09-20 00:17] hanusaj commented on #2134
Assign to me.

[2019-09-20 18:34] #2022 closed

[2019-09-20 22:40] karlunho opened #2139 "Create benchmark test suite for different simulators"
A number of groups would like to contribute their simulators to Cirq. This should be relatively easy by creating a class that implements Sampler (samples from the output distribution) or SimulatesAmplitudes (given output bitstring, outputs amplitude) Interface.

We would need a benchmark script to show how much faster the simulator is compared to the default simulator, but also to just double chec

[2019-09-20 23:40] #2106 closed

[2019-09-20 23:48] Strilanc opened #2142 "On PartialGate and cirq.Z(a).controlled_by(b) returning a CZ"
I've been experimenting with whether it's feasible to have special cases for `controlled_by`. By having specific classes (`GateOperation`, `ControlledGate`, `ZPowGate`) override their `controlled_by` method, and preferentially calling this method instead of `ControlledOperation`'s constructor in a few places, we can do things like have Z.controlled_by(x) turn into a CZ.

The main decide is that, i

[2019-09-21 01:13] cduck commented on #2142
I don’t see a need for PartialGate here.  It seems reasonable for Z.on(a).controlled_by(b) to return CZ(b, a) and Z.control(1) to return CZ (once #2090 is merged).

[2019-09-22 17:25] peterse opened #2143 "Consistently call things "state_vector""
Nitpick: Its hard to keep track of how a method acting on [an object representing a discrete quantum state] is named. This may cause confusion and also stymie autocomplete.

Right now, functions in `wave_function.py` are named like "state vector" or just "state", while `Circuit.final_wavefunction`, PauliStrings, PauliSums, and a few linalg transformations are named like "wavefunction". (I acknowle

[2019-09-22 17:26] peterse commented on #1901
resolved with #1975

[2019-09-22 17:26] #1901 closed

[2019-09-22 17:28] peterse opened #2144 "Allow users to compute expectation values of non-Hermitian PauliStrings/PauliSums?"
Followup for #1975 - see discussion therein.

[2019-09-22 22:06] MichaelBroughton commented on #2107
I can take this on. I'll plan to solve it in two steps:
1. Add a function to combine two trial results together (provided they have same params and qubits measured).
2. Add a new class EngineJobBatch which will manage the small enginejobs.

How does that sound ?

[2019-09-23 15:49] vtomole opened #2147 "Move `Cirq/cirq/vis/examples/` to `Cirq/examples`"

[2019-09-23 17:56] mpharrigan opened #2148 "to_valid_density_matrix is too picky"
The density matrix result of `sim.simulate()` regularly fails the assertions in `to_valid_density_matrix`. I had to weaken the tolerances for my code (which worked just fine under the previous implementation that just didn't check)

cc #1901

[2019-09-23 18:56] Strilanc commented on #2142
The `controlled_by` method of `Gate` currently doesn't take qubits to apply to; `ZPowGate.controlled_by` has to return a `Gate` that takes a single qubit. Even if you say `Z.on(a).controlled_by(b)`, the `ZPowGate.controlled_by` method is being invoked behind the scenes when `GateOperation` delegates to it.

[2019-09-23 19:10] mpharrigan commented on #2142
I think I made some sort of argument like this in #1973 , but if you do decide that `PartialGate` is needed, you might as well go all the way an collapse `Gate`, `PartialGate` and `Operation` into one thing, corresponding to none, some, and all of the qubits filled out.

I still question the utility of having partial gates. In your example, they're very quickly promoted to full operations by chain

[2019-09-23 20:07] Strilanc commented on #2142
Yes, this does relate pretty closely to #1973 .

It's currently needed in order to represent the value communicated from `Gate.controlled_by` to `GateOperation.controlled_by`. Basically, it would appear in library glue code. Also it's nice if users who reverse the order of `on` and `controlled_by` find that their code still works.

We could modify the signature of `Gate.controlled_by` to include a

[2019-09-23 20:10] Strilanc commented on #2142
Currently I'm leaning towards have `Gate.controlled(control_count: int=1)` instead of `PartialGate`. I don't think that partial gate muddies the concept of what an operation is, but it does muddy the concept of what a gate is (e.g. the `num_qubits` method becoming ambiguous).

[2019-09-23 20:28] Strilanc opened #2150 "Add WaitOperation, T1 decay experiment, and an example"
Resolving this issue requires doing the following parts (not all in the same PR):

1. Introduce a 0-qubit `WaitOperation` with a `cirq.value.Duration` attribute. Modify circuit drawing code to draw it (see `_draw_moment_in_diagram` in `cirq/circuits/circuit.py`). It's not immediately clear to me the best way to define the concept of waiting, e.g. maybe it should be applied to specific qubits; ther

[2019-09-23 21:03] kevinsung opened #2151 "Change input to SimulatesAmplitudes.compute_amplitudes from 2-d numpy array to 1-d int sequence"
@viathor are you doing this in #2114 ? If not I can do it.

[2019-09-23 21:07] viathor commented on #2151
I'd rather keep the PR focused on one change, so nope. Feel free to do this. If you don't have time, I can also take it. Your call.

[2019-09-23 21:19] viathor opened #2152 "Duplicate measurement keys don't raise exception"
Found by @Strilanc in review of #2114 .

To reproduce:

[code]

[2019-09-23 21:22] viathor opened #2153 "Support appending individual Operations to Circuits"
Current behavior:

[code]

[2019-09-23 21:25] viathor opened #2154 "Support repetitions=0 in cirq.sample and related utilities"
Currently, setting `repetitions` to 0 raises

[code]

[2019-09-23 21:26] kevinsung commented on #2151
Ok I'll do it.

[2019-09-23 21:27] vtomole commented on #2152
This needs to get in https://github.com/quantumlib/Cirq/pull/1862.

[2019-09-24 07:01] Strilanc opened #2160 "ArithmeticOperation apply unitary assumes reshape always returns a view"
This is not true. In some cases reshape returns a copy. This can result in undefined data going into the result, because the workspace buffer is never initialized.

The safe way to reshape and get an error if it's not a mutable view is to make an identical view `view = buffer[...]` and then *set* its shape `view.shape = shape`.

The code needs to be fixed to work in the case where reshape would fa

[2019-09-24 16:58] #2148 closed

[2019-09-24 21:57] #2151 closed

[2019-09-24 22:42] #1965 closed

[2019-09-24 23:29] kevinsung opened #2164 "Deprecate TwoQubitGate and ThreeQubitGate"
What is the use of `gate_features.TwoQubitGate` (and `ThreeQubitGate`, for that matter)? It doesn't define any method other than `_num_qubits_`.

The reason I think its existence could potentially be bad comes up when people want to count the number of two-qubit gates in their circuit. They might think to do
[code]
but for this to work properly, every two-qubit gate in their circuit must be of a t

[2019-09-24 23:40] Strilanc commented on #2164
It's a convenience class that avoids the user having to write a `num_qubits` method.

I agree that it could cause the mistake you're pointing out. Same for the 1 and 3 qubit variants.

I am in favor of deprecating them.

[2019-09-25 00:00] viathor opened #2172 "Squared ISWAP fails trace distance bound test"
[code]

I guess we really care about this near identity, but still the protocol explicitly says "Underestimates are not permitted.", so we should fix it in case it's relied on in future.

Other exponents in [1.0029..2.9971] also fail the check.

[2019-09-25 02:07] gecrooks commented on #2164
Are gate_features like TwoQubitGate placed in the right place in the class definitions? For instance, XPowGate is declared as:

`class XPowGate(eigen_gate.EigenGate,
               gate_features.SingleQubitGate):`

But SingleQubitGate seems to be Mixin class, and EigenGate is the base class, so the order should be the other way around (Base class last)?

[2019-09-25 02:34] Strilanc opened #2174 "contrib/test_route_circuit_via_unitaries flaked"
Happened in this build:

https://github.com/quantumlib/Cirq/pull/2165/checks?check_run_id=235027498

This is the build log from travis:

[code]

[2019-09-25 14:21] vtomole commented on #1642
@cjcarey Creating 20 issues at once might be too much. Open 5 for now. Link to this issue when creating.

[2019-09-25 14:48] jshede commented on #2147
assign to me

[2019-09-25 15:24] vtomole commented on #2111
The referring pull request has been merged. Please reopen if it's not done yet @mpharrigan @KevinVillela .

[2019-09-25 15:25] vtomole commented on #2111
Sorry! Only the `HOG` portion is done.

[2019-09-25 16:02] KevinVillela commented on #2111
Yup, I'm working on the next part now :)

[2019-09-25 16:25] mpharrigan opened #2176 "Doing noisy simulation is unintuitive"
To set up the most basic noisy simulation, you need three jargony-named things:

[code]

Opening this based on real user research :) Despite my hints, the user could not find the correct incantation to find a depolarizing noise model. One thing they tried is using `AQTNoiseModel`.

[2019-09-25 16:31] Strilanc commented on #2176
I would say it's one jargony-named thing:

[code]

Maybe what we could do is permit stuff like:

[code]

with the understanding that when the noise model is a single qubit operation it automatically gets wrapped?

[2019-09-25 16:34] mpharrigan commented on #2176
`cirq.sample` isn't a good choice for testing code that uses a `Sampler` that you want to run via quantum engine

[2019-09-25 16:37] mpharrigan commented on #2176
I think it would ease a lot of confusion if there was something named `DepolarizingNoiseModel`

[2019-09-25 16:38] Strilanc commented on #2176
I see, you don't just want "the most basic noise simulation" you want to make a noisy sampler specifically.

Auto-wrapping single qubit operations into noise models would still make sense in that context.

We could generalize `cirq.Simulator()` to include density matrix simulation, and have a `with_noise(noise)` method on it.

[2019-09-25 16:42] Strilanc commented on #2176
Creating a noise model type for every noisy channel operation type would be quite a lot of duplication. Having `cirq.depolarize(p)` play double duty as a de-facto noise model would be superior IMO.

[2019-09-25 16:44] Strilanc commented on #2176
I'm liking the idea of generalizing simulator more and more. I'll bring it up at the meeting.

[2019-09-25 17:47] c-poole commented on #2172
In error I added a special case that doesn't apply to ISWAP gate. If the `_trace_distance_bound_` method of the `ISwapPowGate` class is removed then the `EigenGate` version will be used instead which should return accurate results.

[2019-09-25 18:42] Strilanc commented on #160
This is de-facto obsolete now. Related: https://github.com/quantumlib/Cirq/pull/2141

[2019-09-25 18:42] #160 closed

[2019-09-25 19:03] cduck opened #2178 "Reduce required boilerplate for implementing external simulators and samplers"
I wrote a custom simulator recently and I had to copy quite a bit of boilerplate code out of cirq/sim/sparse_simulator.py.  Below is my code with the boilerplate pointed out.  It would be nice if the code in SimulatesSamples and SimulatesIntermediateState parent classes were rearranged to reduce this.  @Strilanc

[code]

[2019-09-25 20:17] JulianSKelly opened #2179 "PauliString.pass_operations_over doesn't accept Pauli"
`PauliString.pass_overations_over` only accepts `SingleQubitCliffordGate`. For example:

[code]
raises `TypeError: Unsupported operation: cirq.X.on(cirq.NamedQubit('q0'))`

The expected use-case is AFAICT:
[code]

This is pretty awkward given the constructor takes a `Pauli`.

[2019-09-25 20:19] JulianSKelly commented on #2179
There is a test explicitly for this behavior: https://github.com/quantumlib/Cirq/blob/116fbf5480c40a04af64aad4cb006db3adb5ffac/cirq/ops/pauli_string_test.py#L613-L617

[2019-09-25 20:22] JulianSKelly opened #2180 "PauliString should accept List[Operation] in constructor"
Usage is a bit awkward that we need a dict in the constructor. Specifically:

[code]
But this doesn't work
[code]

[2019-09-25 20:22] Strilanc commented on #2179
This is a usability bug. The code and the test should be fixed to work when given `cirq.X`, `cirq.Y`, `cirq.Z`, `cirq.CNOT`, etc.

If we're feeling really ambitious, we should make stuff like `cirq.SingleQubitMatrix` work when it happens to approximately encode a Clifford. That would require writing a matrix-to-clifford method.

I suspect there are several other places where the "Clifford" gates i

[2019-09-25 20:22] JulianSKelly commented on #2180
I'm going to give fixing this a shot for my own edification.

[2019-09-25 20:23] Strilanc commented on #2180
Assigned it to you.

[2019-09-25 20:31] #2172 closed

[2019-09-25 20:31] JulianSKelly commented on #2180
@Strilanc what do you think about `from_single` accepting a single `Operation` argument over what it takes now:

https://github.com/quantumlib/Cirq/blob/116fbf5480c40a04af64aad4cb006db3adb5ffac/cirq/ops/pauli_string.py#L57-L61

[2019-09-25 20:32] Strilanc commented on #2180
I think that this change to the constructor should deprecate that method. If you're feeling ambitious, `from cirq._compat import deprecate` and decorate `from_single` with it.

[2019-09-25 20:35] Strilanc commented on #2180
And you'd set "fix" to like "call `cirq.PauliString([op])` instead"

[2019-09-25 20:36] viathor opened #2182 "Distance for unitary gates"
Tools such as gate compilers often need to compare an incoming gate against a gate they know how to handle. I have seen at least one case of cirq users calling `cirq.op_gate_isinstance` for this purpose.

This is not the right way of doing this. It makes the compiler less flexible and couples it tightly to particular gate definitions. Instead, compilers should use a distance measure on quantum gat

[2019-09-25 20:36] viathor opened #2183 "Distance for quantum channels"
Like #2182, but for quantum channels.

[2019-09-25 20:37] viathor commented on #2182
Also, would people object against the removal of `cirq.op_gate_isinstance` (once trace distance is implemented)?

[2019-09-25 20:56] Strilanc commented on #2182
Unless this lets you compute a distance from a parameterized space, and also obtain the closest parameter, it is not able to replace `op_gate_isinstance`. The isinstance check is usually followed by accessing attributes of that type.

[2019-09-25 21:05] Strilanc commented on #2178
Blergh.

Basically every single parameter except the circuit can be handled via glue code inside `SimulatesIntermediateState` or similar. Qubit order? Transpose results on their way out. Parameter resolver? Resolve the circuit before passing it along. Repetition? For loop.

The only thing the implementer should have to write is `def _iter_wavefunctions(self, circuit)` or `def _final_wavefunction(s

[2019-09-25 21:28] c-poole commented on #2182
We already use trace distance to specify the distance between a unitary and the identity. It is straightforward to extend this to two arbitrary unitaries, since this quantity is invariant with respect to unitary transformations. The distance between unitaries U and V is the same as the trace distance bound of U V^-1. I think it would be dangerous to have code automatically attempt to find the gate

[2019-09-25 21:37] c-poole commented on #2183
I think this would be a useful addition to cirq for the sake of having a more complete quantum computing package, but implementations that I've found for this have tended to be too slow for practical use in circuit optimization/compilation.

[2019-09-25 22:19] #1787 closed

[2019-09-25 23:21] viathor opened #2185 "Remove `is_adjacent` from line and grid qubits."
LineQubit models a very sparsely connected topology. GridQubit describes devices with very dense connectivity. In a lot of real quantum hardware qubit connections are denser or more elaborate than simple lines, but still less dense than fully connected 2-D grids, see e.g. [IBM Q device topologies](https://www.ibm.com/blogs/research/2019/09/quantum-computation-center/) below or [Rigetti's Aspen top

[2019-09-25 23:30] viathor commented on #2185
Another interesting example of a topology that cannot be captured by LineQubit and GridQubit is the "star" topology with the shared "bus" phonon qubit surrounded by the ion qubits.

[2019-09-26 01:40] viathor commented on #2183
I'd expect that. My primary goal in filing this was to explicitly descope non-unitary operations from #2182. Secondary goal was completeness of cirq. In any case, this is low priority and as you point out any expectations with regards to speed should be realistic.

[2019-09-26 06:45] maffoo commented on #2185
Another way to deal with this would be to use `cirq.NamedQubit` to identify the qubits and then put the connectivity graph in the `Device`. This to me seems conceptually cleaner than having a different qubit type that would need to include connectivity information.

Note that we're actually also in this situation of needing a `Device` object when using `GridQubit` because while we can generate the

[2019-09-26 09:45] Strilanc commented on #2185
I don't think this concept lands in a nice conceptual valley. It strikes me as very general (you can do *any* connectivity!) mixed with very specific (it has to be on a plane at integer coordinates).

I think we should wait until we actually need a type of qubit before defining it. And my instinct is to define specific qubit types ("OctagonalTilingQubit") rather than to create a qubit so general t