[2022-06-24 15:40] dabacon commented on #5572
I don't remember why we had a mutable version of PauliString.  Was it just convenience?

[2022-06-24 15:42] tanujkhattar commented on #5572
Also, since it's not an operation, can we make it a private class?

[2022-06-24 15:42] maffoo commented on #1861
This was reported before we switched to using [black](https://github.com/psf/black) for formatting instead of the previous [yapf](https://github.com/google/yapf) (https://github.com/quantumlib/Cirq/pull/3516). The older formatter had idempotency problems like this, but we haven't seen them with black. Will close this issue.

[2022-06-24 15:42] #1861 closed

[2022-06-24 16:15] dabacon commented on #1093
I made an attempt at this and I really don't think it is worth doing.  One ends up having to override many of the EigenGate methods and the code becomes much less readable as one has to constantly flip up to EigenGate to understand it.

[2022-06-24 16:15] #1093 closed

[2022-06-24 17:37] #5557 closed

[2022-06-24 18:18] vtomole commented on #5572
@tanujkhattar It used to be private: https://github.com/quantumlib/Cirq/pull/3299

[2022-06-24 18:26] vtomole commented on #5572
@dabacon

Looks like it was for performance reasons: `Add private _MutablePauliString type for aggregating products efficiently` - https://github.com/quantumlib/Cirq/pull/2232

[2022-06-24 18:30] #5564 closed

[2022-06-24 22:42] tanujkhattar opened #5615 "Raise a value error if `cirq.measure_single_paulistring` receives a pauli string with coefficient != 1"
**Description of the issue**
Brought up in https://github.com/quantumlib/Cirq/pull/5605#discussion_r906373518

**Cirq version**
0.14dev

[2022-06-24 23:04] #1373 closed

[2022-06-24 23:08] dabacon opened #5617 "UnitSweep should be UNIT_SWEEP"
It's a constant, not a class.

[2022-06-24 23:51] #5554 closed

[2022-06-25 00:09] #5552 closed

[2022-06-25 00:22] #4615 closed

[2022-06-25 00:27] dabacon opened #5620 "Flakes due to np.complex128 to np.complex64 default in unitary change."
Please add them here.

[2022-06-25 00:32] dabacon commented on #2209
The code is now backward compatible in a more elegant way.  Closing this

[2022-06-25 00:32] #2209 closed

[2022-06-25 00:42] verult commented on #5620
https://github.com/quantumlib/Cirq/pull/5611 : [CI page](https://github.com/quantumlib/Cirq/runs/7049415538?check_suite_focus=true)

[code]

---

[2022-06-25 01:59] #5404 closed

[2022-06-25 02:12] daxfohl opened #5622 "Invoke decomposition strategy by default in SimulatorBase"
Currently simulators have to explicitly invoke a decomposition strategy in `_act_on_fallback_`. Should we just add this to the base implementation so that it's there by default? (For instance MPS simulator doesn't have it, and thus fails on decomposable ops). This would all third-party `contrib.CustomSimulator` subclasses inherit that behavior by default as well.

[2022-06-25 03:08] daxfohl commented on #3079
FWIW https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/contrib/custom_simulators/custom_state_simulator_test.py provides an example of how easiest to implement a custom simulator (20 loc for a classical basis state simulator). If you follow that example, you get subcircuits, classical control, decomposition, etc for free.

[2022-06-25 16:55] #5397 closed

[2022-06-25 18:21] kris524 commented on #4691
Just to make it clear. We want to get something like this:
`cirq.Heatmap({q: 0.0 for q in device.qubits}).plot(
    ax=ax,
    selected_qubits = ...
    collection_options={
        'cmap': 'binary',
    },
    plot_colorbar=False,
    annotation_format=None,
)`
to reach the objective, correct? Also, what will the default values for `edge_colors, linestyle, linewidths` inside `collection_options`

[2022-06-25 21:19] joelmasters commented on #1989
It seems like this is an issue with `git diff` not applying to untracked files. If the file is staged or committed, `./check/pytest-changed-files` works.

What would be the preferred way to handle this? Keep as is and update the documentation, or add a script to stage untracked `_test.py` files before `git diff` in `pytest-changed-files`? Or something else?

[2022-06-26 04:20] #5615 closed

[2022-06-26 20:08] kris524 commented on #4691
One last question: Could you suggest a method for `PolyCollection` or something that could help me get the data in `collection_options`? This is for testing purposes (I want to compare the expected vs returned contents of `linewidths edge_colors linestyle`)

[2022-06-27 16:38] mpharrigan commented on #5505
@wcourtney what do you think?

[2022-06-27 17:30] #5572 closed

[2022-06-27 20:48] dabacon commented on #930
I believe we standardized on `_decompose_` always falling back to a "standard" gate set.  @tanujkhattar is this documented somewhere?  If so we can close this.

[2022-06-27 21:00] tanujkhattar commented on #930
I think we need more documentation for the behavior, right now it's only in code:

https://github.com/quantumlib/Cirq/blob/d7ee49df36b95a4f0c16512cf705907de663b1c2/cirq-core/cirq/testing/consistent_decomposition.py#L69

https://github.com/quantumlib/Cirq/blob/ed7489c961aa7a9264caf23facba5990e5fafb06/cirq-core/cirq/protocols/decompose_protocol.py#L50

[2022-06-27 22:09] dabacon opened #5631 "Flaking engine_client_test"
Lately I've been getting a flake on `cirq-google/cirq_google/engine/engine_client_test.py`

It has the strange behavior that a different number of the tests in this file fail.

Here is a typical failure
[code]

[2022-06-27 22:53] #5388 closed

[2022-06-27 23:48] #4660 closed

[2022-06-28 04:42] #5622 closed

[2022-06-28 20:29] 95-martin-orion commented on #5401
Based on discussion in Cirq design meeting and the complexity of the proposed solution, we determined that this causes more confusion than it resolves. Dropping this issue.

[2022-06-28 20:29] #5401 closed

[2022-06-28 20:32] dabacon commented on #5631
@maffoo @dstrain115 any idea what might be causing this, it looks to be coming from `AsyncMock`.

[2022-06-28 22:16] maffoo commented on #5631
I have not been able to reproduce the flakiness on either python 3.8.8 or python 3.9.13. How are you invoking pytest? I tried just running the `cirq_google/engine/engine_client_test.py` tests and also all tests in `cirq_google/engine`.

[2022-06-29 00:40] dabacon commented on #5620
We have rolled back the change in default #5636 so these should no longer be occurring

[2022-06-29 00:40] #5620 closed

[2022-06-29 00:41] dabacon commented on #5590
We have rolled back the change in default #5636 so these should no longer be occurring

[2022-06-29 00:41] #5590 closed

[2022-06-29 00:41] dabacon commented on #5574
We have rolled back the change in default #5636 so these should no longer be occurring

[2022-06-29 00:41] #5574 closed

[2022-06-29 00:41] dabacon commented on #5536
We have rolled back the change in default #5636 so this is no longer a relevant issue.

[2022-06-29 00:41] #5536 closed

[2022-06-29 17:22] mhucka opened #5637 "Tiny doc bug: incorrect arg shown to dev_tools/modules.py in dev/modules.md"
**Description of the issue**

In the Cirq [modules](https://quantumai.google/cirq/dev/modules) documentation, at the bottom, the command line to list modules is given as
[code]
but in fact, attempting to use `--list` will result in an error, because the argument should actually be `list` (without the dashes).

**How to reproduce the issue**

In a shell, with the current directory being the top of

[2022-06-29 18:14] dstrain115 commented on #5533
Is this fixed now that 128 has been rolled back?

[2022-06-29 18:18] dstrain115 commented on #5547
Cirq cync:   Most of these should be fixed now with added redirects.  A few remaining stragglers will remain, but should disappear over time.

[2022-06-29 18:20] dstrain115 commented on #5637
Discussion: this has already been fixed.

[2022-06-29 18:21] vtomole commented on #5637
Fixed by https://github.com/quantumlib/Cirq/pull/5638

[2022-06-29 18:21] #5637 closed

[2022-06-29 18:21] Ashalynd commented on #5148
Oh boy, that was a silly oversight on my side: https://docs.python.org/3/library/itertools.html#itertools.groupby
TL/DR for posterity: the stuff grouped by `groupby` had to be sorted prior to grouping. My bad for forgetting about it :-(

[2022-06-29 18:25] dstrain115 commented on #5617
Discussion:  This is a singleton, but it has a different convention than some of the other sweeps.
For consistency with other sweeps, we may want to keep this as camel case.
Other singletons such as Sycamore, Foxtail, also, follow camelcase convention.

[2022-06-29 18:27] dstrain115 commented on #5546
@tanujkhattar will take a look at it and fix it or close it.

[2022-06-29 18:48] tanujkhattar opened #5641 "`eval(repr(op))` fails for `cirq.SingleQubitCliffordGate`."
**Description of the issue**
See title.

**How to reproduce the issue**

[code]

**Cirq version**
0.16dev

[2022-06-29 19:44] dabacon commented on #5617
Some of the singletons don't though: `Pauli.X`, all our gate constants follow the correct style rule as well.  This may be easy for us to remember, but for users coming in from the outside a strong consistency in style is very helpful. For example knowing the `cirq.CNOT` is a gate instance is useful in that there is often confusion when learning Cirq about gate classes, gate instances, and op inst

[2022-06-29 19:52] #5546 closed

[2022-06-29 21:41] mpharrigan commented on #4321
Happy to help here. What's the ask? I could:

 - write a thing that says old data must always be migratable+loadable
 - write a technical blurb demonstrating how to use a custom resolver to perform on-the-fly migration

I personally think keeping and maintaining a set of migration scripts is just as much developer/organizational burden as keeping the migration logic in the resolver so it can be do

[2022-06-29 21:44] mpharrigan commented on #4321
The ask for documentation is a good one and will be easier than the second part of the original post in this issue, which is to have better tooling to enforce the currently de facto policy that documentation would make de jure.

Specifically: we could have a CI check that mandates the json_test_data *.json files are never modified! This would involve reworking the current json_inward scheme where

[2022-06-29 22:00] 95-martin-orion opened #5647 "YPowGate has no dimension"
Follow-up to #4782: we added a dimension property for X and Z, but Y remains locked to qubits. This seems like an oversight - can we finish out the pauli trio by adding dimensions to YPowGate?

[2022-06-29 22:00] 95-martin-orion commented on #5647
CC @daxfohl

[2022-06-29 22:29] daxfohl commented on #5647
X and Z have standard generalizations to higher dimensions https://en.wikipedia.org/wiki/Generalizations_of_Pauli_matrices#Construction:_The_clock_and_shift_matrices

I wasn't able to find a standard for Y. Probably the relation `Y**k = X**0.5 * Z**k * X**-0.5` (or something like that) holds in higher dimensions? If so, we could define Y in higher dimensions via decomposition. (Unless someone with

[2022-06-29 23:40] maffoo opened #5652 "GridDevice should allow measuring any qubit"
**Description of the issue**

Currently `cirq_google.GridDevice` requires that for any operation with exactly two qubits, the pair of qubits must be in `qubit_pairs`. However, not all 2-qubit operations require the qubits to be coupled. In particular, `MeasurementGate` should be allowed on any set of qubits, including pairs that are not coupled.

**How to reproduce the issue**

[code]

**Cirq vers

[2022-06-30 00:28] verult commented on #5652
Thanks for the catch!

[2022-07-01 19:53] dabacon commented on #5647
Yeah I don't think there is a canonical definition of a higher order Y operator.  Consider for example`X Z` and `X**(-1)Z`.  In d=2 these are the same, but in d>2 they are different.  So which one are we to chose?

[2022-07-01 20:28] daxfohl commented on #5647
(Except in other contexts where Y is _the_ canonical higher order operator https://en.m.wikipedia.org/wiki/Fixed-point_combinator#Fixed-point_combinators_in_lambda_calculus) :)

[2022-07-03 01:57] vtomole commented on #5641
Taking this.

[2022-07-05 15:36] vtomole commented on #1030
@dabacon Given https://github.com/quantumlib/Cirq/pull/5636, did we decide that this is not worth doing due to the frequency of the flakes? If so, then I think the only thing left is to monitor the CI for the next few days to confirm that the roll back fixed everything and then close this.

[2022-07-06 15:32] dabacon commented on #5533
yes fixed.

[2022-07-06 15:32] #5533 closed

[2022-07-06 15:33] dabacon commented on #1030
Yes we decided to keep the different precision on the Circuit class.  Closing.

[2022-07-06 15:33] #1030 closed

[2022-07-06 18:10] viathor commented on #5460
(Meta: triage/needs-feasibility is not ideal, but is closest triage label to "needs agreed design". Maybe we should have triage/needs-agreed-design? @dstrain115 )

[2022-07-06 21:25] mpharrigan commented on #5505
bump @wcourtney

[2022-07-07 01:52] #4835 closed

[2022-07-07 01:52] #5352 closed

[2022-07-07 18:13] tanujkhattar opened #5675 "Add `name` to `cirq.CircuitOperation`"
**Is your feature request related to a use case or problem? Please describe.**
`cirq.CircuitOperation` is useful to wrap circuits in an operation and thus build nested circuits. However, when printing a circuit containing a circuit operation, it currently prints out the entire nested circuit. This blows up quickly for large circuits and there is currently no way to attach a "name" field to a circu

[2022-07-07 19:10] dabacon commented on #1189
Still relevant, as there are places with docstrings that have unescaped `_dunder_` methods that render strangely.

[2022-07-07 19:17] dabacon opened #5678 "doctest = don't-test"
Running check/doctest on a clean client.  No tests run.  Think this is because it globs for `cirq/**/*.py` and was never updated when we moved packages!

[2022-07-07 19:54] dabacon commented on #5678
Also verified that this is happening in github actions.

[2022-07-07 21:40] daxfohl commented on #5675
Xref #3605

[2022-07-07 23:10] #5641 closed

[2022-07-08 18:40] Strilanc opened #5688 "In text diagrams, writing a classical bit is shown as a control and using it is not shown as a control"
[code]

[code]

The `@` means control elsewhere in diagrams. In this case should should probably be an `X`. And the `^` should be an `@` since that means control.

[2022-07-08 18:43] Strilanc opened #5689 "In SVG diagrams, classical bits look identical to quantum bits"
[code]

![image](https://user-images.githubusercontent.com/79941/178051970-c80f7fd3-0be3-4682-807a-9e7e154fc81f.png)

[2022-07-08 18:44] Strilanc opened #5690 "In SVG diagrams, MatrixGate does not render"
[code]

![image](https://user-images.githubusercontent.com/79941/178052137-0e132948-0f25-4f12-b89c-76c50c8e23a0.png)

[2022-07-08 18:46] Strilanc opened #5691 "Qasm output doesn't support classical controls"
[code]

[code]

[2022-07-08 18:48] Strilanc opened #5692 "Qasm output decomposes CNOT**-1 instead of using the native gate"
[code]

Outputs:

[code]

Should output:

[code]

[2022-07-08 18:51] Strilanc opened #5693 "Qasm output decomposes single qubit MatrixGate into multiple operations instead of one u3 operation"
[code]

Outputs:

[code]

But should output:

[code]

Which I got by using `cirq.PhasedXZGate.from_matrix(...)` and turning that into qasm.

[2022-07-08 19:00] daxfohl opened #5694 "Multi-qubit conditions in DeferredMeasurementsTransformer"
Use https://github.com/quantumlib/Cirq/pull/5755 to allow control keys from multi-qubit measurements in deferred measurements transformers. That new feature allows us to express "anything but all zeros", which is the condition required.

https://github.com/quantumlib/Cirq/blob/77b61f500af3726ad4b34b06c72e21eac48d3db6/cirq-core/cirq/transformers/measurement_transformers.py#L121-L124

[2022-07-08 21:38] pavoljuhas opened #5698 "Complete coverage of aqt_device.py"
**Description of the issue**

#5696 moves some uncovered code from ion_device.py (deleted) to aqt_device.py causing a CI coverage failure on the *new* lines.  I have added a few `# coverage: ignore` comments to unblock the PR.

TODO: Fix this by adding tests that will complete the code coverage of aqt_device.py.

[2022-07-08 23:11] mhucka opened #5701 "`dev_tools/modules.py print_version` fails with an error"
**Description of the issue**

This report is a follow-up to [a comment by @vtomole](https://github.com/quantumlib/Cirq/pull/5638#issuecomment-1170310457) on PR #5637. The current version of `dev_tools/modules.py` exits with an error if given the argument `print_version` (which is one of arguments it is supposed to accept).

**How to reproduce the issue**

In a shell, with the current directory bei

[2022-07-08 23:13] mhucka opened #5702 "`dev_tools/modules.py` fails with a confusing error if invoked without argument"
**Description of the issue**

The program `dev_tools/modules.py` exits with a confusing and user-unfriendly error message if it is invoked without any arguments. At the same time, it is not obvious (or at least, I haven't found it mentioned in the docs) that _not_ passing any arguments to it is unsupported.

**How to reproduce the issue**

In a shell, with the current directory being the top level

[2022-07-10 16:18] daxfohl commented on #5691
As stated in the error message, this will work if converted to a sympy condition. To get it to work for key conditions, we'll need to pass in the qid dimension somehow, as this would only be valid for 2D qubits (qasm has no way to express "abc == 1 || abc == 2", nor "abc != 0").

Passing in the dimension will be a big architectural change, as measurement keys don't carry this information at circui

[2022-07-10 16:34] Strilanc commented on #5691
I don't know what "converted to a sympy condition" means. The code sample is unambiguous and should work exactly as written. The dimension of all the involved values is clearly 2, because it's using LineQubit. Any ambiguity about that fact is purely a spandrel resulting from the internal implementation failing to explain itself to itself.

This isn't intended as a blocker for 1.0. Just recording t

[2022-07-11 04:38] daxfohl opened #5712 "concat_ragged allows measurements to overlap"
**Description of the issue**

`Circuit.concat_ragged` allows measurements and classical controls to commute past each other or overlap, resulting in unexpected behavior or invalid circuits.

**How to reproduce the issue**

[code]
Result is two independent measurements to `a` at the same time.

[code]

**Note:** classical controls on a measurement key can commute past each other and/or overlap in a

[2022-07-11 04:43] mhucka opened #5713 "`pytest .` fails to find `cirq` module after setting up Cirq dev environment"
**Description of the issue**

The instructions at <https://quantumai.google/cirq/dev/development#setting_up_an_environment> describe how to set up how to clone the repo, install dependencies, set up a virtual environment, and then (in step 4) run `pytest .` from the `Cirq` subdirectory. When I do this in a relatively plain installation of Ubuntu 20.04 (which is based on Debian), it produces the fo

[2022-07-11 05:11] daxfohl commented on #5694
I take it back #5362 was just the first step for general controls. The classes that would allow easily representing "anything but all zeros" are not available yet. Must wait for #4512.

[2022-07-11 15:39] mhucka commented on #5713
Additional info: the underlying problem is that the Python module search path hasn't been set up to search in the right locations for the Cirq modules in the local source directory (or at least, the instructions as written don't tell the user to do anything that would set it up).  Here are 3 options for solutions that I can think of.

1. Perhaps the simplest solution would be to change the documen

[2022-07-11 15:43] maffoo commented on #5713
Did you run the `add2virtualenv` command described in the docs? This will add submodule directories to your virtualenv, but only works if you've set things up with virtualenvwrapper.

[2022-07-11 15:50] mhucka commented on #5713
Yeah, that will also work (so I guess that's a 4th option), but please note that the docs at <https://quantumai.google/cirq/dev/development#setting_up_an_environment> tell you to run `pytest .` _before_ they explain about using `add2virtualenv`.

[2022-07-11 16:21] maffoo commented on #5713
Yeah, this clearly needs to be improved. I would suggest reordering the steps for now, though in the longer term it would be nice to avoid relying on `virtualenvwrapper`, since that is a bit of a niche tool. Note that under the hood `add2virtualenv` just adds a `_virtualenv_path_extensions.pth` file in the virtualenv's site packages directory, so the submodule paths could be added to the virtualen

[2022-07-11 17:19] tanujkhattar opened #5715 "`Xa*Zb*Zb*Zb` works but `Xa*Zb**3` raises error"
**How to reproduce the issue**
[code]

**Cirq version**:
0.16.0.dev

[2022-07-11 19:19] tanujkhattar opened #5718 "Add sparse representation support to `cirq.DensePauliString`"
**Is your feature request related to a use case or problem? Please describe.**
`cirq.PauliString` drops identity gates by default and only stores non-identity terms. Therefore, a pauli sum hamiltonian $H$ acting on $N$ qubits and containing $M$ different pauli strings as part of the paul sum will contain $M$ * `Avg(#non-identity terms per pauli string)` different terms.

However, if we want to rep

[2022-07-11 20:17] andbe91 opened #5719 "Misaligned two-qubit gate diagrams for deep circuits"
**Description of the issue**
Lines connecting two qubits get gradually misaligned for deep circuits in Google colab (with a supposedly monospaced font).
<img width="1761" alt="image" src="https://user-images.githubusercontent.com/23558186/178350380-2b5d57d2-ee28-4e03-be15-53a68b6ae901.png">

**How to reproduce the issue**

[code]

**Cirq version**
0.15.0

[2022-07-11 20:45] pavoljuhas opened #5721 "Inconsistent use of state argument in SimulationState base and derived classes"
**Description of the issue**

pylint complains about missing `state` argument in SimulationState constructor call

https://github.com/quantumlib/Cirq/blob/de761212dd686443a88def2e1136bfbd5dcecead/cirq-core/cirq/sim/simulation_state.py#L190

pylint report:

[code]

The fix is not apparent, because SimulationState constructor requires the `state` argument

https://github.com/quantumlib/Cirq/blob/de7

[2022-07-11 21:03] daxfohl commented on #5721
+1 this was an unfortunate oversight on my part. I think "state" is better than "initial_state" (it sounds nicer when serializing) but could be convinced otherwise.

[2022-07-11 21:12] pavoljuhas opened #5726 "Move `durations_of` and `neigbors_of` methods in AQTDevice to metadata"
**Description of the issue**

Follow-up to the changes requested in #5696.

[2022-07-11 21:16] andbe91 commented on #5719
@maffoo yeah I agree. Seems to be a macOs and/or Colab issue since I only see this is on my MacBook and not on my linux desktop. So can probably close this issue

[2022-07-11 22:08] vtomole commented on #5702
@mhucka You can close it. BTW, if the PR description contains `Fixes #PR Number`, a bot will close this issue once that PR is merged.

[2022-07-11 22:28] mhucka commented on #5702
Oh, good to know! Thanks!

[2022-07-11 22:29] #5702 closed

[2022-07-11 22:30] pavoljuhas commented on #5721
I can think of adding an abstract class method `SimulationState.fromQubits` (or some similar name) which will be only implemented in subclasses to produce `cls(qubits=qubits)` where it will hopefully pass pylint scrutiny.
The `SimulationState.with_qubits` will then use
[code]
instead of
[code]

[2022-07-11 23:06] dabacon commented on #5690
Duplicate of #4630

[2022-07-11 23:20] maffoo commented on #5721
Rather than adding a new method like `fromQubits` on all subclasses; I'd suggest changing `with_qubits` to be abstract and implementing that everywhere instead.

[2022-07-11 23:24] daxfohl commented on #5721
We could also just delete that function. It came from a new contributor PR where I gave this as an example of something that his changes would enable, though I didn't actually intend for him to implement it. Once he did, I figured may as well keep it. But it's not used for anything AFAIK.

[2022-07-11 23:37] vtomole commented on #5690
@dabacon You linked an unmerged PR, not an issue. It looks like this issue will be closed once that PR is merged.

[2022-07-11 23:49] mpharrigan commented on #5505
@wcourtney what do you think?

[2022-07-12 00:27] wcourtney commented on #5505
2¢: As I understand it, both of these features are confusing to users. IMO, it's a user win to clean up these legacy features even if it's a bit of work to bring them back. If that happens, I expect that we'll have new requirements for the features and a new model and if there was churn in the meantime, we can skip all intermediate the migration work :-).

[2022-07-12 00:33] mhucka commented on #5713
I only now noticed something else in the docs: the first alternative given in step 5 in https://quantumai.google/cirq/dev/development#setting_up_an_environment is slightly wrong. You can't simply do
[code]
in a shell because what `pypath` does (set environment variables) won't affect the environment of the shell running the command. It looks to me like maybe there was a typo when that was written,

[2022-07-12 04:42] dabacon commented on #5690
Ooops thanks @vtomole

[2022-07-12 05:11] dabacon commented on #5690
Proper duplicate is #2313

[2022-07-12 05:11] #5690 closed

[2022-07-12 05:17] dabacon commented on #5688
Would making the second one an "@" would be confusing, since it might make someone think it actually is a CNOT?  Similarly for the first making it an "X" would also be slightly misleading in that people could think this means a measurement is a someone an "X" gate.

[2022-07-12 14:47] mhucka opened #5734 "Incomplete sentences in Cirq Basics documentation"
**Description of the issue**

There are two places in  <https://quantumai.google/cirq/start/basics> where sentences end abruptly, as if something cut them off or the writer was interrupted.

1. In the section Decompositions (https://quantumai.google/cirq/start/basics#decompositions).

<img width="500" src="https://user-images.githubusercontent.com/1450019/178526266-cc5d698c-546c-435b-b055-b1e54252

[2022-07-12 19:53] dabacon commented on #5713
Oh that latter one is definitely me typing it in wrong!

[2022-07-12 20:05] mhucka commented on #5713
It's so freakin' easy to do. (And seriously, whoever thought "." would be a good idea for a command?)

[2022-07-12 20:17] tanujkhattar opened #5739 "Move cirq-core/contrib out of cirq-core as a separate vendor package."
Post 1.0, cirq-contrib is expected to follow versioning policy similar to other vendor packages outside of cirq-core. We also ideally don't want cirq-core to depend on anything present in cirq-core/contrib. Therefore, moving cirq-core/contrib outside of cirq-core as a separate vendor package (cirq-contrib) looks like the right thing to do here.

This can be done post 1.0 since the versioning polic

[2022-07-12 21:09] #5734 closed

[2022-07-12 22:52] #5652 closed

[2022-07-13 01:20] verult opened #5745 "API backward compatibility and release processes"
**Is your design idea/issue related to a use case or problem? Please describe.**
After Cirq 1.0, changes to `cirq-core` will be backward-compatible for all minor and patch version bumps. Open questions:

* What's the scope of backward compatibility?
  * To what extent can implementation logic change?
  * Need to write down JSON serialization backward compatibility policy. https://github.com/quantu

[2022-07-13 03:32] pavoljuhas commented on #5721
Removing the method sounds good - #5748.

[2022-07-13 14:22] mhucka commented on #5701
This was fixed by PR #5705, which has been merged, but I didn't _quite_ name the PR in the right way and so this issue didn't get closed automatically. Closing it manually.

[2022-07-13 14:22] #5701 closed

[2022-07-13 16:31] #5721 closed

[2022-07-13 18:36] #5678 closed

[2022-07-13 18:47] viathor commented on #5692
Circuit simplifications might not affect unitary interpretation of a circuit, but do affect its noisy interpretation. For this reason, cirq's NISQy philosophy calls for circuit simplifications to only be done when explicitly requested by the user. This places a constraint on possible solutions to this issue. Namely, we don't wish to do any algebra in serde, qasm conversion and other similar code.

[2022-07-13 18:47] dabacon commented on #5692
Discussed this at Cirq Cync.

The main issue is that is that in Cirq we have tended to interpret the exponent as different gate, i.e. CNOT and CNOT**-1 are actually different physical transforms.   QASM does not have an CNOT_INV or a parameterized CNOT gate, so it doesn't make sense to serial to this.  Note that this is different that CZ where the QASM version of the gate has a parameter.

If you

[2022-07-13 18:47] #5692 closed

[2022-07-13 18:57] dabacon commented on #5713
So `check/pytest` sets the path correct?  If so, then we should change it to that.

[2022-07-13 18:57] mhucka commented on #5713
<s>Following up on today's cirq cynq: if I understood @dabacon correctly, you suggested the answer should actually be to tell people to run `check/pytest`, yes?</s>  Okay, yes :-). That'll work, and if we do that, we don't have to change the order of steps 4 & 5.

[2022-07-13 19:00] mhucka commented on #5713
(My $0.02 is that in this context, using `check/pytest` is better.)

[2022-07-13 19:30] dabacon opened #5757 "Numpy einsum missing type for common case"
**Description of the issue**

Numpy does not currently have an override for the case when the type is of the form operator, indices, operator, indices, etc.
https://github.com/numpy/numpy/issues/21978

When this is added to numpy and we are upgraded to a version that captures this, we should fix the places where we have had ignore mypy errors.

**Cirq version**
v0.15

[2022-07-13 21:37] dabacon opened #5758 "Consider adding numpy number types to TParamVal"
Current we define
[code]
for parameter values (like exponents in `cirq.EigenGate`s).  However in general these also work for numpy types like `np.double`.

We should consider adding support for these numpy types

[2022-07-13 22:47] dabacon opened #5761 "Modify Alpha notice."
Currently we have an alpha release statement at bottom of readme.
[code]

For 1.0 should we be changing this?

[2022-07-14 00:09] pavoljuhas commented on #5726
The AQTDevice.neighbors_of() method can be removed and replaced by LineQubit.neighbor().

I am however not sure about the durations_of method.
The DeviceMetadata does not have an attribute for gate durations.
There is only one derived class, GridDeviceMetadata, which has a gate_durations dictionary,
but AQTDevice is not GridDevice so this class is not appropriate.

@MichaelBroughton , @dstrain115

[2022-07-14 01:27] tanujkhattar commented on #5726
You will have to create a new derived class `AQTDeviceMetadata` which exposes the relevant properties / methods like `durations_of` and `neighbors_of`

[2022-07-14 01:30] tanujkhattar commented on #5761
AFAIR, we also have a similar line in many of our docs. For example: https://github.com/quantumlib/Cirq/blob/a2fd90225217d2b0821b5f6c97d75eb3506bb51a/docs/start/intro.ipynb?short_path=f48a42c#L145

[2022-07-14 03:42] dstrain115 commented on #4587
I'm taking this on in #5759

[2022-07-14 21:32] #5693 closed

[2022-07-14 21:35] dabacon commented on #5713
I don't think the changed-files one is correct as this is when setting up a new dev environment, right?  So there are no changed files.

[2022-07-14 23:25] mhucka commented on #5713
Yes, exactly, which is why I think `check/pytest` is the right one in this case.

[2022-07-15 03:59] mhucka opened #5773 "`dev_tools/bash_scripts_test.py` does not guard against interference from user's `~/.gitconfig`"
**Description of the issue**

When running `pytest` in the Cirq repo (or `check/pytest`), the tests in `dev_tools/bash_scripts_test.py` run a series of git commands and compares the output against expected values. A few of the tests will fail with very confusing errors if the user has configured `init.templateDir` in their global `~/.gitconfig` file.  The reason is that the command
[code]
will gen

[2022-07-15 13:04] daxfohl opened #5775 "Moment allows conflicting measurements"
**Description of the issue**

Moment constructor checks for conflicting ops on qubits but not on measurement keys.

**How to reproduce the issue**

[code]

[code]

**Note:** multiple classical controls should be able to depend on the same measurement key within a moment; just multiple measurements, or measurement+control on the same key should not be allowed in one moment.

**Cirq version**
v1.0

[2022-07-15 13:29] daxfohl opened #5776 "Printing moment with classical control fails"
**Description of the issue**

A classically controlled op causes moment printing to fail. The op itself renders correctly, and a circuit containing the moment renders correctly. Just the moment itself fails to render.

**How to reproduce the issue**

[code]

[code]

v0.15

[2022-07-15 17:56] daxfohl opened #5778 "Unused qid_shape in DensityMatrixSimState constructor"
**Description of the issue**

`qid_shape` is a parameter of `DensityMatrixSimulationState.__init__` but is not used.

**Cirq version**
v0.15

[2022-07-15 19:15] #5713 closed

[2022-07-15 19:57] dabacon commented on #5757
Wow numpy already has submitted a fix, will need to wait for our numpy version to catch up.

[2022-07-15 21:09] daxfohl commented on #5694
Reopening, new SumOfProducts does what is needed.

[2022-07-15 21:38] dstrain115 commented on #4587
Processor_id and project_id are now returned in #5759 and the function is cleaned up.

I have a follow up in #5766 that attempts authentication only if virtual=False and tests this out in cirq_google notebooks to enable better testing and will close this after that PR is in.

[2022-07-15 21:46] tanujkhattar commented on #5028
This is now complete.

[2022-07-15 21:46] #5028 closed

[2022-07-15 23:16] verult opened #5783 "CZTargetGateset: PhysicalZ op gets decomposed when `additional_gates` contains a PhysicalZ GateFamily"
**Description of the issue**

Expected `cirq.Z` to not decompose into `cirq.PhasedXZGate` in the code snippet below (probably the same issue in other target gatesets as well):

**How to reproduce the issue**

[code]

Are we checking only the gate and not the operation when decomposing?

@tanujkhattar

[2022-07-16 01:13] verult commented on #5783
My bad, the example given above isn't an issue because `CZTargetGateset` ejects Paulis as expected. The actual code that failed was this:

[code]

This fails because raising the whole operation to an exponent removes all tags, which is a separate issue but not related to target gatesets.

[2022-07-16 01:13] #5783 closed

[2022-07-16 01:31] verult opened #5784 "Exponentiating a TaggedOperation drops the tag"
Is this expected?

**How to reproduce the issue**

[code]

<details>

put long logs in details blocks *like this*

</details>

**Cirq version**

v1.15.0

[2022-07-16 02:05] viathor opened #5785 "merge_single_qubit_gates_to_phxz raises IndexError when encountering GlobalPhaseGate"
**Description of the issue**

**How to reproduce the issue**

[code]

I also checked `merge_single_qubit_gates_to_phased_x_and_z` and it suffers from the same issue.

The problem appears to be that the rewriter passes a 1x1 matrix to `single_qubit_matrix_to_phxz` which expects a 2x2 matrix.

**Cirq version**
0.16.0.dev

[2022-07-16 02:22] maffoo commented on #5784
The original intent of allowing exponent on operation was so that one could write `cirq.X(q)**p` and have it be the same as `(cirq.X**p)(q)`. This was added long before tags were a thing, but I think it'd make sense to preserve tags when exponentiating.

[2022-07-16 05:37] #5698 closed

[2022-07-16 05:53] #5773 closed

[2022-07-16 19:18] Strilanc commented on #5688
But it *is* a controlled not. It's a classically controlled not. They wouldn't be confused about that, they would be right.

A measurement kinda *is* a NOT gate on a classical bit, controlled by a quantum bit. it's not a perfect analogy this time, but it really is the case that there is a dependence where the state of the quantum bit affects the classical bit and a CNOT achieves the same effect as

[2022-07-16 19:38] daxfohl commented on #5688
I agree with changing the control to `@`. For changing the target to `X`, my main concern is that now that we allow multiple writes to the same measurement key, `X` looks like an XOR, when it's actually just a write. Otherwise I agree here as well.

(I had also been thinking that we might want to add an "op" param to `measure`, allowing things like `cirq.measure(q, key=m, op=XOR)`, which would XOR

[2022-07-16 20:28] daxfohl commented on #5784
#4914

[2022-07-16 21:19] #5726 closed

[2022-07-16 22:34] verult commented on #5784
Thanks for the context - closing

[2022-07-16 22:34] #5784 closed

[2022-07-17 02:29] #5785 closed

[2022-07-18 17:06] #5778 closed

[2022-07-18 22:23] #5694 closed

[2022-07-18 22:43] #4512 closed

[2022-07-20 09:49] ousodaniel opened #5800 "Documentation"
The tutorial link returns a 404 error

[2022-07-20 15:06] daxfohl commented on #5800
@MichaelBroughton FYI. This is referring to the repo Readme file.

[2022-07-20 18:47] mhucka opened #5803 "Cirq overview page at https://quantumai.google/cirq could mention availability of QVM"
**Is your feature request related to a use case or problem? Please describe.**

The Overview page at <https://quantumai.google/cirq> currently does not mention the availability of the [quantum virtual machine](https://quantumai.google/quantum-virtual-machine). One only finds mention of the QVM by clicking on the "Simulate" page link in the top banner. This is a little bit hard to find.  It seems l

[2022-07-22 03:09] mhucka opened #5806 ""Textbook algoritheets""
**Description of the issue**

There's an obvious typo on the page at <https://quantumai.google/education>. I would offer a PR to fix it but I haven't figured out where the source pages are kept. In a past Cirq Cynq, I was advised to report such issues in this issue tracker, so here it is.

![image](https://user-images.githubusercontent.com/1450019/180354272-20a7d78d-4d2d-4d30-a73f-d7ae94915b4d.png

[2022-07-22 22:48] verult opened #5809 "Deprecating classes used by global singletons is challenging"
**Description of the issue**

Example: [SerializableGateSets](https://github.com/quantumlib/Cirq/pull/5573)

When we have a global singleton such as:

[code]

deprecating `SerializableGateSet` will cause tests to fail because all calls which raise deprecations must be declared in tests (using `cirq.testing.assert_deprecated()`, and because `SYC_GATESET` is loaded in init files, it's not possible t

[2022-07-23 07:16] thisisjaymehta commented on #5806
I dont think that webpage is sourced from this repo.

[2022-07-23 14:29] mhucka commented on #5806
I agree! But in a not-too-long-ago Cirq Cynq, I specifically asked about where to report issues on such pages because I couldn't find the right repo. People said they didn't think there was a public repo for them, and said to report them here anyway.

And so, here we are.

[2022-07-23 17:26] jay-tau commented on #4685
Hi @tanujkhattar @fedimser,

I am still very very keen to work on this issue.
Would it be possible to assign it to me?

Cheers,
@jay-tau

[2022-07-23 21:21] vtomole commented on #4685
@jay-tau I've assigned it to you.

[2022-07-24 09:42] Ishan-Gokhale commented on #3597
May I work on this issue? I would really like to work on this issue.

[2022-07-24 15:15] vtomole commented on #3597
@Ishan-Gokhale I've assigned it to you.

[2022-07-25 03:25] Caffetaria commented on #2216
@prekshan Are you still working on this? If not, I'd like to give it a go.

[2022-07-26 01:12] daxfohl commented on #5242
Not worth it at this point. Will reopen if the qis library gets some love.

[2022-07-26 01:12] #5242 closed

[2022-07-26 02:46] Caffetaria opened #5810 "[Question] Resources to Get Started with Writing Tests"
I would like to write some unit tests for this project. Would you please let me know how I can get started?

[2022-07-26 02:50] #5810 closed

[2022-07-26 18:36] augustehirth commented on #5806
We've got a fix for this in the pipeline. Ty for letting us know!

[2022-07-26 19:08] mhucka commented on #5803
I should add that this isn't meant as an annoying "why have you fixed this yet?" kind of issue – I know full well the QVM was only just announced, and of course one can't expect everything to be done everywhere all at once. This is just a "mentioning this very nonurgent thing in passing in case it's not on anyone's radar yet" kind of report.

[2022-07-26 21:24] larchen commented on #4501
After a quick discussion with Tanuj, the initial thought was to try and implement the following two conversions:

(1) is fairly trivial, but I couldn't find a simple closed form solution for (2), in which case it may not make much sense to try to compile the parameterized gates into a single PhXZ before the parameters are resolved.

(2) boils down to finding a representation of `a'`, `b'`, `c'`, i

[2022-07-27 18:20] tanujkhattar commented on #4501
If it's possible to do analytically, let's do it. The result might end up looking very complicated but that's upto users using the analytical compiler.

[2022-07-27 18:40] dabacon commented on #5803
Flagging this for @augustehirth

[2022-07-27 18:42] dabacon commented on #5775
Looks like a bug.  We should fix for a bug fix release 1.0.1

[2022-07-27 18:44] verult commented on #5809
Pytest fixtures could potentially help us eliminate the hard requirement of declaring deprecations in tests. @pavoljuhas

[2022-07-27 18:48] tanujkhattar commented on #5758
Also consider moving `Scalar` type from `linear_dict.py` to `type_alias.py`.

[2022-07-27 19:03] maffoo commented on #5775
I think we should allow this, since operations are ordered within in a moment there's not ambiguity about which operation will write first into the output array for the given key.

[2022-07-27 19:23] vtomole commented on #5758
If we do the above then `cirq.value.Scalar` won't work anymore. We need to decide whether or not that qualifies as a breaking change.

xref https://github.com/quantumlib/Cirq/issues/5745

[2022-07-27 20:58] daxfohl commented on #5775
@maffoo an aside, from a HW perspective should we allow a qubit to be used as a control for multiple operations in the same moment? i.e. logically `CX(0, 1)` and `CCX(0, 2, 3)` can run in parallel. We don't currently allow them to appear in the same moment though. Is that restriction worth removing, or would HW be unable to support that anyway?

[2022-07-27 22:30] maffoo commented on #5775
I think it'd be fine to allow multiple gates that use a given control bit in the same moment.

[2022-07-29 17:47] dabacon commented on #5806
What is an algoritheets? lol

[2022-07-29 18:01] augustehirth commented on #5806
Dunno but it should be fixed :)

[2022-07-29 18:01] #5806 closed

[2022-07-30 00:15] #5761 closed

[2022-07-30 02:09] yurivict opened #5813 "Is Cirq planning to support Honeywell quantum computers?"
[Honeywell quantum computers](https://www.honeywell.com/us/en/company/quantum/quantum-computer)

[2022-07-30 16:30] vtomole commented on #5813
Hey @yurivict, we already support Honeywell. See this [Getting Started With Honeywell Notebook](https://github.com/quantumlib/Cirq/blob/f3987d528156f1f746b73fd7b3ca9bdb7e0bd2c3/docs/hardware/azure-quantum/getting_started_honeywell.ipynb).

[2022-07-30 16:30] #5813 closed

[2022-07-30 16:32] vtomole commented on #5547
Looks like this is not an issue anymore. Will re-open if I run into it again.

[2022-07-30 16:32] #5547 closed

[2022-08-01 03:27] joelmasters commented on #1997
Has a canonical convention been established? I've been working on implementing the above, but while it avoids the duplication of `[a+1, a+1.0]`, it has the side effect of transforming expressions such as `sympy.Symbol('c') / 2 + 1` to `<0.5*c + 1.0>`, losing the fractional representation. Is there concern for losing the fractions (for visualizations or other)?

[2022-08-01 18:03] #5647 closed

[2022-08-02 19:44] tanujkhattar opened #5815 "Add analytical decomposition for synthesis of single qubit unitaries generated by Clifford and T gates."
**Is your feature request related to a use case or problem? Please describe.**
One of the promising gatesets for fault tolerant regime is the Clifford + T gateset, where executing T gates is significantly slower than executing Cliffords and therefore it's often desired to minimize the T-count of the compiled circuits.  Cirq currently does not have any analytical decompositions for synthesizing arb

[2022-08-02 20:12] tanujkhattar commented on #5815
A related recent paper for decomposing arbitrary n-qubit unitaries, which is probably out of scope for this feature request but can be done as a follow-up if we have enthusiastic contributors.

https://link.springer.com/article/10.1007/s11128-020-02816-0

[2022-08-03 18:25] tanujkhattar commented on #5718
Discussion from cirq sync:

We should do it. In terms of implementations, it's probably best to add a flag to `DensePauliString` which can control whether the internal representation is sparse or not since we are not allowed to do breaking changes after Cirq 1.0 and changing internal representation of dense pauli strings by default would be a breaking change (is it?? cc @95-martin-orion @verult)

[2022-08-03 18:28] tanujkhattar commented on #5715
From cirq sync:

Looks like a bug and should be fixed. Should not be categorized as a breaking change.

[2022-08-03 18:31] aksaw commented on #5815
I'd be very interested in giving this a shot.

[2022-08-03 20:15] Batmaev commented on #5719
Actual strings are aligned.

The problem occurs because the output is inside the `<pre>` HTML element. By default, it has the property `font-family: monospace`. Which monospace font will be used depends on the browser and OS.

On macOS, Chromium-based browsers seem to select the old Courier font, which lacks box-drawing characters  `│` and `─`. These characters get displayed in Menlo, which is als

[2022-08-03 20:15] Batmaev commented on #5719
The problem occurs in two scenarios:

1.
[code]
In the first scenario, we can't do anything since `circuit.__str__()` must return plain text. We can only contact Colab or Chrome developers and ask them to change the font.

2.
[code]

The second scenario produces misaligned output not only in Colab on Chrome but also in Safari and VS Code on macOS.

Fortunately, here we have control over font.

For

[2022-08-04 21:17] maffoo opened #5816 "`AbstractCircuit.freeze` should not reallocate moments"
**Description of the issue**

When freezing circuits, `Moment` instances should be reused since they are immutable. This was previously the case, but seems to have changed recently (possibly due to https://github.com/quantumlib/Cirq/pull/5332).

**How to reproduce the issue**

[code]

**Cirq version**

1.1.0.dev20220801180412

[2022-08-05 05:55] daxfohl commented on #5816
Yes, looks like it was from https://github.com/quantumlib/Cirq/pull/5332. The `with_operations` below is what does it.  `Moment.with_operations` creates a new Moment even if the input list is empty.

https://github.com/quantumlib/Cirq/blob/65ebb4a4d4a7b8b15e766b486e19582c634c1641/cirq-core/cirq/circuits/circuit.py#L1823

You could either change the code here to skip the `with_operations` call if t

[2022-08-07 17:38] swamulism commented on #5715
Would this be a good first issue to look into. If so could this be assigned to me?

[2022-08-08 16:28] viathor commented on #2603
Not at all. To measure bitstring 0010, you need to provide 2 as input which you may choose to write as 0b0010 or 0b10 or 0x2 or 2 or even 0o2 (no longer fashionable).

[2022-08-08 17:20] andreamari opened #5819 "Strange behavior after upgrading to cirq 0.1.0"
After upgrading to cirq v0.1.0 the following code doesn't work (runs forever):
[code]
It used to work with cirq v0.15.0  .

Not sure if this is an actual bug since appending a mutable object to itself ( `circuit.append(circuit) ) it's probably a bad idea and one should probably avoid it in the first place.

Still, I am reporting this fact here since that code used to work before upgrading.

FYI: t

[2022-08-08 18:38] vtomole commented on #5819
This is the PR  that causes it: https://github.com/quantumlib/Cirq/pull/5332. Specifically this change: https://github.com/quantumlib/Cirq/pull/5332/files#r940546694. Pinging @daxfohl.

[2022-08-08 18:58] daxfohl commented on #5819
I see, looks like passing the circuit into itself would cause the iterator to infinite loop there. Wrapping in a list should fix it: `for moment_or_op in list(ops.flatten_to_ops_or_moments(moment_or_operation_tree)):`. Feel free to make the change; my time for cirq is limited these days.

[2022-08-08 21:48] #5819 closed

[2022-08-09 15:52] andreamari commented on #5819
Thanks for the quick reply and fix!

[2022-08-10 02:04] #2603 closed

[2022-08-10 16:30] vtomole commented on #5739
How will we maintain backwards compatibility with respect to the imports? For example, `cirq.contrib.CircuitDag.from_circuit(cirq.Circuit())` should work after this change.

[2022-08-10 16:32] vtomole commented on #5739
Ah okay, got it.

[2022-08-10 18:18] tanujkhattar opened #5822 "Add a classical simulator to Cirq"
The feature request is to add a classical simulator which can simulate X / CNOT and multi-controlled X gates, similar to `ToffoliSimulator` in Q#

See https://docs.microsoft.com/en-us/azure/quantum/machines/toffoli-simulator

cc @mpharrigan to add more context

P2 - we should do it in the next couple of quarters

cc @augustehirth This would need documentation once we get this done.

[2022-08-10 18:19] verult commented on #5816
From Cirq sync - this will be considered a bug fix as it returns the API behavior to the original intention.

[2022-08-10 18:44] verult commented on #5712
From Cirq sync - to what extent is classical controls broken by this? cc @MichaelBroughton @tanujkhattar @95-martin-orion

[2022-08-10 18:51] verult commented on #5739
From Cirq sync - worth looking into. Tentatively accepted, and as a next step, understand the difficulty around doing this, especially around packaging and serialization. This has been done before when vendor packages are moved out of core, so something similar could be done here potentially.

[2022-08-10 18:51] 95-martin-orion commented on #5712
Pretty broken - see also: #5775

[2022-08-10 18:56] verult commented on #5688
From Cirq sync - biggest question is whether changing text diagram output would be considered a breaking change.

[2022-08-10 18:58] verult commented on #5675
From Cirq sync - maybe call it `display_name` to avoid the name being used as an ID.

[2022-08-10 19:09] tanujkhattar commented on #5712
What is the expected behavior for putting two measurements with the same key on two different qubits? Do we support repeated measurements on different qubits? My understanding was that a measurement with the same key can be repeated only when the qubits on which it acts doesn't change. So, for example, the following also breaks:
[code]

[2022-08-10 19:48] 95-martin-orion commented on #5712
@maffoo for comments on same-moment measurements sharing a key.

In my opinion: measurements sharing a key but on different qubits should not commute past each other or be allowed in the same moment. The example @tanujkhattar gave above looks like a bug to me - `sampler.py` is accessing the 2D data (no repetitions allowed) instead of the 3D records (repetitions allowed).

[2022-08-10 20:02] maffoo commented on #5712
A agree that measurements with the same key on different qubits should not be commuted past each other, because that changes the order of results in the measurement record. I think allowing the same key on different qubits within a moment is fine though, because operations in a moment are ordered, and the hardware interface layer does support this. We do need to be careful if we combine measuremen

[2022-08-10 20:04] maffoo commented on #5712
The sampler error is a known limitation of the current implementation because we never defined how repeated keys should be mapped into the 2D data frame produced by the `sample` method, so we intentionally left this code as it was where it would try to access `.measurements`, which fails if any measurement keys are repeated.

[2022-08-10 20:28] daxfohl commented on #5822
Note we've got a very basic implementation already in the test case for custom_simulator: https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/contrib/custom_simulators/custom_state_simulator_test.py

I recommend starting there, copying it to its own non-test file, and then fleshing it out with @cduck's code linked in #3079.

[2022-08-10 20:43] daxfohl commented on #5822
Also note one feature missing from @cduck's implementation is decomposition strategy as a fallback. (I noticed this in MPS simulator too--probably this logic should go into SimulatorBase so that all the simulators do a decomposition fallback by default).

[2022-08-11 19:50] dstrain115 commented on #5822
I have a student who can do this project.

[2022-08-11 22:05] #4710 closed

[2022-08-12 16:03] wcourtney opened #5825 "Deprecated `gate_set` still set by `CircuitSerializer`"
The [`CircuitSerializer`](https://github.com/quantumlib/Cirq/blob/f3987d528156f1f746b73fd7b3ca9bdb7e0bd2c3/cirq-google/cirq_google/serialization/circuit_serializer.py#L31) continues to [set](https://github.com/quantumlib/Cirq/blob/f3987d528156f1f746b73fd7b3ca9bdb7e0bd2c3/cirq-google/cirq_google/serialization/circuit_serializer.py#L70) the [deprecated `gate_set`](https://github.com/quantumlib/Cirq/

[2022-08-12 22:26] verult commented on #5825
Thanks for the catch!

Will do, it was an oversight that this wasn't cleaned up after Cirq is updated on server side.

I hadn't thought about that. My take is users can still use an old Cirq version to deserialize old stored circuits. A warning could be added to newer Cirq versions to recommend using an older version if the `gate_set` field is unrecognized. WDYT?

[2022-08-15 14:50] gatorwatt opened #5827 "Packaged sampling for integration with dataframe encodings for supervised learning (Automunge)"
**Is your feature request related to a use case or problem? Please describe.**

Hello, I have drafted a RFC and wanted to invite any feedback or suggestions for sponsorship. Welcome any opportunity to discuss prior to formalizing. I am looking for a sponsor.

The draft RFC is provided here: [tinyurl.com/4v54kmf6](https://tinyurl.com/4v54kmf6)

**Describe the solution you'd like**

I have developed

[2022-08-15 15:11] gatorwatt commented on #5827
Looking for a sponsor

[2022-08-16 23:06] mpharrigan commented on #5822
@daxfohl the example custom simulator doesn't support things like e.g. CNOT. Do we have to switch on the gate type in `_act_on_fallback_`? It's probably necessary for gates themselves to declare how to operate on computational basis states like how gates know how to act on a state vector

[2022-08-16 23:12] daxfohl commented on #5822
Correct, @cduck's implementation has the proper state transition logic. My example shows how to integrate into the custom simulator infrastructure so that you get subcircuit traversal, classical control, etc. for free. So the actual implementation needs to combine these two things.

[2022-08-16 23:59] mpharrigan commented on #5822
How though? Is _act_on_fallback_ supposed to interrogate the gate to see if it has a magic method that knows how to act on a classical state?

[2022-08-17 00:09] daxfohl commented on #5822
Using protocols, like https://github.com/cduck/cirqtools/blob/master/cirqtools/classical_simulator.py#L118-L149.

[2022-08-17 00:25] mpharrigan commented on #5822
I was imagining having methods on classical gates that could express their classical action on a bitstring without tensoring up a unitary

[2022-08-17 01:07] daxfohl commented on #5822
I see, yeah you could make a new protocol like `apply_to_bitstring(bitstring) -> bitstring` and supplement cduck's method like

[code]
or something along those lines. That way you get the `apply_to_bitstring` shortcut plus the ability to fall back to unitary if that protocol was not implemented on the gate.

[2022-08-17 02:39] jay-tau commented on #4685
Hello,
Unfortunately, I am unable to solve the issue. Thank you for giving me a chance to work on this issue.
Hopefully, this can be solved by someone else.

[2022-08-17 17:29] tanujkhattar commented on #5712
I don't think ordering of operations within a moment is well defined. Currently, we just preserve insertion ordering in `Moment._operations` and `Moment._sorted_operations` is used for equality comparison and diagrams.

[2022-08-17 17:31] seunomonije commented on #5688
From Cirq sync:

- Maybe the choice that we made to display classical control is not the best design choice, may not really be a bug
- More of a behavior change to something that is obscure. Current behavior is awkward and questionable whether or not it’s intended.
- Maybe we should introduce a new tag for issues like this

Consensus: We should accept this as a bug and get fixed

[2022-08-17 17:31] maffoo commented on #5712
Insertion ordering is what I mean.

[2022-08-17 17:33] dstrain115 commented on #5827
Preliminary decision from cirq cync is that this is an application of quantum computing and probably does not belong in the framework, but rather in a separate library.  We are more than happy to help assist in any integration problems and possibly to link in the ecosystem page once it is complete.

[2022-08-17 17:34] #5827 closed

[2022-08-17 17:36] tanujkhattar commented on #5712
So then the original issue raised is not a bug (because measurements with same key in the same moment are well defined) and we should instead fix the sampler error that I raised (to support measurements with same key on more than one qubit)?

[2022-08-17 17:43] maffoo commented on #5712
In my view, measurements overlapping is not a problem as long as we maintain the output order. So, for example, if we have a circuit:
[code]
then transforming this into the following would be fine:
[code]
but we should _not_ transform it into either of the following, since these change the order of outputs:
[code]

[2022-08-18 11:45] gatorwatt opened #5832 "autocomplete in colaboratory only goes to k"
**Description of the issue**

This is a small thing and is more as an fyi than any pressing need for a fix. Colaboratory's autocomplete feature to view available commands associated with a module (as could be used for exploring commands available in the cirq library) appears to max out at 100 displayed commands. It would be cool for exploratory purposes if colab could add support to navigate beyon

[2022-08-18 14:47] vtomole commented on #5832
This sounds more like a Colab issue than a Cirq issue

[2022-08-18 15:10] gatorwatt commented on #5832
I think they set a cap at 100 to benefit latency of autocomplete. Ideally could have option when scroll to bottom of list to select "show more". Either that or replace with large language model, something like that.

[2022-08-19 19:53] tanujkhattar commented on #5832
As @vtomole mentioned, this looks like a Colab issue and not a Cirq issue. You can consider opening an issue in one of Colab's github repository (https://github.com/googlecolab) to discuss the potential solutions.

[2022-08-19 19:53] #5832 closed

[2022-08-19 21:22] augustehirth commented on #5803
Added!

[2022-08-19 21:22] #5803 closed

[2022-08-22 19:59] dabacon opened #5833 "Speed up Circuit construction"
We should see if we can get the circuit construction time down, perhaps by invoking a builder pattern.

Here is an example of the speed of circuit construction (variance will be quite high, just doing a single time), but this is good for order of magnitudes
[code]
which produces the following
![image](https://user-images.githubusercontent.com/87974/186007869-988a73e9-f6e6-4696-8a00-849c898a65be.pn

[2022-08-22 21:11] tanujkhattar opened #5834 "`cirq.Simulator()` drops global phase after measurement?"
**Description of the issue**
When using measurement outcomes with classical feedback, we often write circuits which correct a local / global phase conditioned on the measurement outcome. However, it seems to be that `cirq.Simulator()` drops global phase after measurement, which leads to inconsistencies.

**How to reproduce the issue**
For example, consider the following circuit which performs the

[2022-08-22 21:30] daxfohl commented on #5834
Does running with `split_untangled_qubits=False` fix it? My hunch is global phase gets lost in the factoring and merging of states.

[2022-08-22 21:36] 95-martin-orion commented on #5834
`Simulator(split_untangled_states=False)` resolves it for me.

[2022-08-22 21:44] daxfohl commented on #5833
If you create a list of the qubits and then create a circuit from the list, that should give _much_ faster construction times than appending to the circuit one-by-one.

[2022-08-22 22:03] daxfohl commented on #5834
I think it's here: https://github.com/quantumlib/Cirq/blob/79d725068594685a564549e24106ee1c63a26529/cirq-core/cirq/sim/simulation_product_state.py#L125

If we are measuring all the qubits in the set, then it'll factor them all out and leave a global phase that it throws away.

Can you try adding a `and op_args.qubits` to that condition, to make sure we aren't factoring out the last qubit? I think

[2022-08-22 22:36] daxfohl commented on #5834
Sorry just realized I meant "and len(op_args.qubits) > 1"

[2022-08-23 00:30] daxfohl commented on #5834
And I take it back. Looks like the factor method itself does not necessarily preserve global phase: https://github.com/quantumlib/cirq/blob/e362cb6fe2120a3a74a8feefc2c6e5957a219c13/cirq-core/cirq/linalg/transformations.py#L597

[2022-08-23 17:00] daxfohl commented on #5834
(FWIW I'm not going to have time to work on this. Probably there are better ways to factor state vectors and density matrices. All the stuff I added to linalg in https://github.com/quantumlib/Cirq/pull/4100#issuecomment-865282552 should probably be reviewed by someone with a better linalg background).

[2022-08-25 18:58] tanujkhattar opened #5835 "mypy tests failing on master due to sympy 1.11"
**Description of the issue**
Recent PRs are running into unrelated mypy test failures: https://github.com/quantumlib/Cirq/runs/8021863639?check_suite_focus=true

This is due to a recent release of sympy: https://pypi.org/project/sympy/1.11/

[code]

[2022-08-25 21:09] #5835 closed

[2022-08-27 19:24] zchen088 opened #5841 "Should cirq.measure allow sets as inputs?"
**Is your design idea/issue related to a use case or problem? Please describe.**

I was running some cirq Circuits and got confusingly unrepeatable results, until I realized that the problem was that I was doing something like
[code]

`all_qubits` produces a set, so constructing this kind of Circuit and sampling from it repeatedly can give inconsistent results since the order of the measured qubit

[2022-08-29 10:52] pratishtha-abrol commented on #4393
Hi, is this still open? If yes, I would love to try

[2022-08-29 17:20] vtomole commented on #4393
@pratishtha-abrol I've assigned it to you.

[2022-08-30 16:30] viathor commented on #5834
Unless there is some extra context I'm missing that's not described here, I don't think there is a bug here.

Measurement-based uncomputation uses measurement result to correct relative phases, not the global phase. The latter is unobservable. Therefore, -1|110⟩ is in fact a correct result for the circuit above. The phase becomes important when it is relative, so to confirm this we can apply the c

[2022-08-30 17:17] mpharrigan commented on #5834
Isn't it true that most of the time the simulator will track global phase? or at least not randomly randomize it. I understand that it's not _wrong_ in terms of observables; but for a software tool it would be nice to be able to test with basis states and to build confidence that it will also work with superposition, see https://algassert.com/post/1903 for example

[2022-08-30 17:37] viathor commented on #5834
In a sense, global phase doesn't really exist, so one could argue that our simulator doesn't need to track it at all. Density matrix simulators don't. That our present wavefunction simulator does is an implementation detail which may change in future. Moreover, not making it a requirement enables optimizations such as the one that has apparently already been done for example [here](https://github.

[2022-08-31 02:45] daxfohl commented on #5834
I figured out how to fix it. Whether there's a bug in the quantum sense or not, there was definitely a bug in that the outputs of the `factor_state_vector` method did not kron back together into the original. That's plain linalg and should work.

Turns out I double-dipped on the phase when factoring, so the linked PR fixes that. This ends up fixing the problem at hand too.

[2022-08-31 17:15] verult commented on #5825
Need to check how this interacts with server side replay functionality

[2022-08-31 17:19] verult commented on #5822
From Cirq sync: reverting back to accepted. @viathor let us know if there's anything you'd like to discuss

[2022-08-31 17:33] tanujkhattar commented on #5841
From cirq sync:
Doug: We should add a big red flag to the documentation to call out that all_qubits returns set which doesn't preserve insertion order.

Pavol: Maybe we can change the ordering of unordered sequences (like sets) in the implementation of `cirq.measure`. If the input argument is ordered, then we can keep it as it is.

[2022-08-31 17:38] verult commented on #5833
- https://github.com/quantumlib/Cirq/pull/5845 contains benchmarks to help define goals for performance improvements
- Please help add any improvements you can think of in the meantime!

[2022-08-31 19:15] maffoo commented on #5841
On the core question of whether `cirq.measure` should not accept sets, I don't think we should do that. There's no way in general to detect whether a given iterable comes from an "ordered" or "unordered" collection, so at best we'd be adding special cases for types that people happened to have problems with.

On `all_qubits`, it does seem unfortunate that [`AbstractCircuit.all_qubits`](https://git

[2022-08-31 20:21] tanujkhattar commented on #5841
I think one other drawback of `all_qubits` is that it iterates over the entire space time volume of the circuit (all moments x all qubits in moments) to figure out the qubit set. This is usually expensive and can hurt users if they are not careful (eg: using `circuit.all_qubits()` inside a loop instead of caching it once outside the loop).

We can also consider maintaining an internal dictionary o

[2022-08-31 21:20] maffoo commented on #5841
Yes, the expensive computation is an issue. I worry that trying to track properties such as all qubits in a circuit as it's being mutated is going to be very error-prone, and there are many other properties we'd potentially like to track in addition to the qubits so it'd be hard to cover everything. I'd prefer if we could encourage using immutable circuits with more explicit "builder" patterns whe

[2022-09-01 05:36] viathor commented on #5822
Oh, I think I added triage/discuss by accident (probably missed that the issue already had a triage/* label).

[2022-09-01 23:24] #5834 closed

[2022-09-02 21:06] tanujkhattar opened #5852 "Numpy update breaks type checking on master"
**Description of the issue**
See https://github.com/quantumlib/Cirq/runs/8161863398?check_suite_focus=true for failing tests.

<details>

[code]
</details>

[2022-09-02 23:53] tanujkhattar opened #5855 "Add optimal layout synthesis to Cirq"
**Is your feature request related to a use case or problem? Please describe.**
Cirq now has [abstractions for qubit routing](https://github.com/quantumlib/Cirq/tree/master/cirq-core/cirq/transformers/routing) and an implementation of CQCs qubit routing algorithm as described in https://arxiv.org/abs/1902.08091

There is more recent work on using SMT solvers for qubit routing which has a significan

[2022-09-05 00:31] #5631 closed

[2022-09-06 17:37] #5852 closed

[2022-09-07 02:04] rht commented on #2828
Would be nice if this has a more easily discoverable name like `UGate` or `U3Gate`.

[2022-09-07 15:56] daxfohl commented on #4886
Actually this may not be relevant anymore. Since we allow repeated measurements on the same key, it's plausible a user may want the original measurement in some condition, or a new measurement in some other condition. So perhaps the better solution is just to remove the logic that prevents conditional measurements.

[2022-09-07 15:56] #4886 closed

[2022-09-07 15:59] ammareltigani opened #5859 "[Routing] Add initial mapping strategy for circuit with small # of qubits."
**Summarize the task**
Currently `LineInitialMapper` is the only initial mapping (placement) strategy Cirq offers for routing. Adding more strategies like graph monomorphism could improve routing performance on deep circuits with a small # of qubits (graph monomorphism scales exponentially with the # of qubits).

**Acceptance criteria - when is the task considered done?**
The task is complete once

[2022-09-07 16:12] ammareltigani opened #5860 "[Routing] Encode qubits into integers to replace dictionary lookups with array indexing."
**Summarize the task**
Currently, distance queries in `MappingManager` and logical -> physical qubit queries in `RouteCQC` are made using dictionary lookups.  In order to scale routing to 100+ qubits and 1000+ moment circuits, we need to replace these dictionary lookups with array indexing to gain speed.

Based on profiling the runtime of the current implementation, @tanujkhattar  and I expect a 2

[2022-09-07 16:19] ammareltigani opened #5861 "[Routing] Add support for handling CircuitOperations recursively"
**Summarize the task**
The current implementation of `RouteCQC` unrolls all CircuitOperations before routing. We want to enhance the transformer by allowing recursive routing of CircuitOperations.

**Acceptance criteria - when is the task considered done?**
See how this can be done [here](https://docs.google.com/document/d/1df9Onm0Z6ZiU_O7QYRsPtDL1WGTP3330ojEwucI0jZ8/edit#heading=h.dj4v2spnajhy).

[2022-09-07 16:30] ammareltigani opened #5862 "[Routing] Adding use of ancillas"
**Summarize the task**
Enable use of ancillas to shorten the shortest path along qubits that need to be adjacent during routing.

**Acceptance criteria - when is the task considered done?**
Once an ancilla allocation strategy is implemented (based on some user-specificed inputs like for e.g. `max_number_of_anicllas`) and MappingManager is extended by a subclass MappingManagerWithAncillas that enab

[2022-09-07 16:32] ammareltigani opened #5863 "[Routing] Add support for directed device graphs."
**Summarize the task**
Currently, if a user wants to route their circuit on a device that has asymmetric coupling (i.e. you can execute a CNOT(q1, q2) but not CNOT(q2, q1)) then the transformer [raises an error](https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/transformers/routing/route_circuit_cqc.py#L105).
As an improvement, we can support directed device graphs using the swap decom

[2022-09-07 20:51] tanujkhattar commented on #5860
@ammareltigani Can you also add screenshots for the profiling and add a brief explanation of why the speedup is expected?

[2022-09-09 02:43] pavoljuhas opened #5870 "Fix inter-dependency of tests in engine_client_test.py"
**Description of the issue**

When pytest-randomly shuffles unit tests order, [engine_client_test.py](https://github.com/pavoljuhas/Cirq/blob/13890c62815188116fa57b9432cd99fd5036e175/cirq-google/cirq_google/engine/engine_client_test.py) has several failures which go away when tests are run in unchanged order - https://github.com/quantumlib/Cirq/runs/8261627949.

**Cirq version**

Cirq 1.1.0.dev at

[2022-09-09 21:36] ammareltigani commented on #5860
[code]
Above is a screenshot of profiling the transformer on 100 qubits 500 moments and 1/2 op density. After switching the array indexing the combined time spent in `dist_on_device` and `apply_swap` (two mutually independent methods that do dictionary lookups ove qubits) should be reduced only to a few seconds.

Some very simple tests
[code]
shows that array accessing ints is 25x faster than dict

[2022-09-13 04:02] daxfohl commented on #5389
For posterity, "impossible" is a bit strong. It would require having the various `SimulationState._act_on_fallback_` call a new method `act_on_fallback` or something, on their corresponding `QuantumStateRepresentation`. Basically push all the `_act_on_fallback_` logic down to the QSR level. This would require passing in the prng, the classical_data, etc. into this new function (or maybe pass in `s

[2022-09-17 00:25] #5460 closed

[2022-09-17 18:03] daxfohl commented on #5712
I think this discussion is outside the scope of this issue. This issue is to fix a specific bug. It wouldn't make sense to fix it in a way that makes concat_ragged behave differently from append, and I don't think anyone is suggesting that we do.

Changing the behavior of how measurements are appended and how circuits are constructed is a breaking change that has many implications. If that is a co

[2022-09-19 18:12] #5860 closed

[2022-09-19 20:34] #5816 closed

[2022-09-20 00:11] tanujkhattar commented on #5387
This is a very useful discussion! I also thought more about the issue and I agree with most of what Matt has said. Here are my thoughts:

One of the most important points to focus on when thinking about this issue is that the JSON serialization used by Cirq is NOT an exchange format and is expected to be used primarily by Cirq to load the data and circuits generated by (potentially older versions

[2022-09-20 18:08] vtomole opened #5880 "MacOS checks failing"
Started today. See https://github.com/quantumlib/Cirq/actions/runs/3092172859/jobs/5003479363

[2022-09-20 18:51] pavoljuhas commented on #5880
[code]

Seems that the CI is getting rate-throttled by GitHub?

[2022-09-20 21:34] vtomole commented on #5880
@MarkDaoust @lamberta Is tensorflow-docs on Pypi? I can't find it.

[2022-09-20 21:50] lamberta commented on #5880
@vtomole No, not on PyPi but you can pip install it from the Git repo, see https://github.com/tensorflow/docs/tree/master/tools/tensorflow_docs/tools

[2022-09-20 21:52] vtomole commented on #5880
@lamberta That's what our CI does now, but apparently Github might be rate throttling us. Hence this issue.

[2022-09-20 23:02] pavoljuhas commented on #5880
I think we can install tensorflow_docs from its `git archive` tarball,
that should have lower demands than cloning a git repo.

Let me prepare a PR for that ...

[2022-09-21 00:55] daxfohl opened #5883 "`X.controlled(cirq.SumOfProducts([[1]]))` does not optimize to `CX`"
`X.controlled` simplifies to `CX` when possible (and Z to CZ). However this does not work when the `control_values` is represented as a `SumOfProducts`, requiring workarounds by any code expecting such optimizations.

A fix for this is provided in #5873.

[2022-09-21 01:14] daxfohl opened #5884 "Deferred measurements transformer missing some cases"
Deferred measurements transformer does not handle some cases currently. This is the umbrella issue for the fixes.

* [x] Sympy expressions: #5824
* [x] Qudits: #5850
* [x] Confusion matrices: #5851
* [ ] Repeated measurement keys: #5857

[2022-09-21 04:08] tanujkhattar commented on #5880
I think using github tarball as a dependency is causing CI failures?

https://github.com/quantumlib/Cirq/actions/runs/3095026537/jobs/5009016923

[2022-09-21 16:43] #5880 closed

[2022-09-21 16:45] vtomole commented on #5880
Fixed https://github.com/quantumlib/Cirq/actions/runs/3099583511/jobs/5018890923

[2022-09-27 18:42] dkothari11 opened #5893 "Benchmark transformers.routing.RouteCQC takes a lot of time to setup"
**Benchmark transformers.routing.RouteCQC takes a lot of time to setup**
`asv compare` between two commits, is taking more than 2 hrs to run. While investigating why it's slow, I found that benchmark `transformers.routing.RouteCQC` has slow setup routine.

I have tried to go via method mentioned in this [comment](https://github.com/pandas-dev/pandas/issues/23412#issuecomment-435107701)
Slow setup

[2022-09-27 20:34] #5870 closed

[2022-09-27 23:00] tanujkhattar commented on #5893
Thank you Disha for reporting this.

The [`RouteCQC.setup`](https://github.com/quantumlib/Cirq/blob/2575da770c1c9c58c77cfb8ce3f1b5fcef8e6da6/benchmarks/transformers/routing.py#L25) method is mainly doing the following 3 steps:
1) Construct a random circuit
2) Construct a grid device
3) Initialize the routing transformer

AFAICT, the majority of the time would be going in constructing the random ci

[2022-09-28 01:10] tanujkhattar commented on #5822
@mpharrigan As discussed offline, can you write a brief comment / code piece describing how the simulator using the protocol to act on a numpy array and falling back to the unitary application would look like? And potential advantages and challenges in using the protocol to act on 2D numpy arrays for sampling multiple classical input states in a vectorized fashion?

@dstrain115 How's the progress

[2022-09-28 16:55] mhucka commented on #5387
Thank you @tanujkhattar for the thoughtful reply and further elaboration!

If things are left as-is (i.e., no changes to the json format), then for the sake of future developers, I suggest it would be worth adding some text to the ["serialization guidelines"](https://github.com/quantumlib/Cirq/blob/master/docs/dev/serialization.md) document to bring up some of what @mpharrigan wrote [in his commen

[2022-09-28 16:59] tanujkhattar opened #5895 "Add integration with QPIC for drawing circuit diagrams"
**Is your feature request related to a use case or problem? Please describe.**
As the size of the circuits we build with Cirq increases, the ASCII style circuit diagrams do not scale very well. We also need a way to draw diagrams for publications in latex and it would be nice if Cirq users have a way to convert their cirq circuits into nice latex diagrams.

**Describe the solution you'd like**
QPI

[2022-09-28 18:13] cgranade opened #5896 "Devcontainer specification"
**Description of the issue**

If possible, it'd be really helpful to provide a [devcontainer](https://code.visualstudio.com/docs/remote/create-dev-container) specification that would allow spinning up a container for Cirq in VS Code or GitHub Codespaces. In this case, that would likely consist of a post-create script that calls `pip install -r requirements.txt; pip install -e .` for each subpackag

[2022-09-28 21:37] Dripto commented on #5895
Other options could be quantikz (https://arxiv.org/abs/1809.03842) or qcircuit, unsure if those tools have different licenses that are more amenable

[2022-09-28 22:47] tanujkhattar commented on #5895
A good thing about QPIC is that it reads circuits written in an intermediate representation and then generates the corresponding latex code automatically. IIUC, other packages like quantikz / qcircuit provide packages that can be included in a latex document but there would be a non-trivial conversion from a cirq circuit object to the corresponding latex code using commands from these packages. Wi

[2022-10-01 08:40] daxfohl opened #5900 "GateOperation has no _apply_channel_"
`GateOperation` needs an `_apply_channel_` to simulate gates that only have `_apply_channel_` defined. It is currently missing.

[2022-10-01 13:17] anonymousr007 commented on #5855
Hello @tanujkhattar, I want to work on this issue as a part-time project. Can you please assign me this issue? We discuss this issue very briefly. Thanks.

[2022-10-01 20:23] viathor opened #5901 "Use `_apply_channel_` when appropriate"
Most (all?) our channels are specified via `_kraus_` method that returns a sequence of Kraus operators. This is inefficient for channels such as Reset whose Kraus operators are sparse and whose action is easy to describe in terms of changes they make to the elements of the input density matrix. IOW, such channels should be implemented using  `_apply_channel_`, not `_kraus_`.

Filing for discussion

[2022-10-02 23:05] daxfohl commented on #5901
I created #5902 that improves the situation here a fair amount. Curious to see what more can be done!

[2022-10-03 00:52] daxfohl commented on #5901
Also I'd have to imagine that `einsum` has the optimizations from #5902. So `targeted_left_multiply` may already be optimal for sparse operator matrices.

[2022-10-03 01:10] daxfohl opened #5903 "Optimize targeted_left_multiply for onehot operators"
**Is your feature request related to a use case or problem? Please describe.**

Some operator matrices passed to `targeted_left_multiply` are onehot (times a constant). Kraus components in particular. I could be wrong, but I believe these can be sped up beyond the default `einsum` implementation.

Plausibly even the `_apply_kraus_multi_qubit` that calls it could be sped up for onehot operators, as

[2022-10-03 18:27] tanujkhattar opened #5906 "Improve coverage of `_decompose_into_clifford_with_qubits_` and `has_stabilizer_effect` protocols"
**Is your feature request related to a use case or problem? Please describe.**
The two protocols were added to Cirq to support fast stabilizer simulations for (mostly) Clifford operations. See https://github.com/quantumlib/Cirq/pull/2600#pullrequestreview-326549320 and https://github.com/quantumlib/Cirq/issues/2423 for historical context.

However, the coverage of these two protocols across Cirq g

[2022-10-06 09:56] tanujkhattar opened #5912 "`PauliString`s and `SingleQubitPauliStringGateOperation`s are iterables on qubits, which can lead to weird inconsistencies."
**Description of the issue**
[code]

This happens because single qubit pauli's derive from `cirq.PauliString`, which
https://github.com/quantumlib/Cirq/blob/994dba13c67ab54b9a654ae21b4c29aa3763d1f6/cirq-core/cirq/ops/pauli_string.py#L1129

and `cirq.PauliString` has a `__getitem__` defined; which makes it an iterable on qubits as well.

[code]

This behavior, that certain cirq operations are itera

[2022-10-07 11:20] rht opened #5913 "Generating lockfile via pip-compile fails with conflicting protobuf requirement"
**Description of the issue**

When generating a lockfile via `pip-compile` (https://github.com/jazzband/pip-tools) in my own Python package that lists Cirq as a dependency, I got this error
[code]

It looks like `cirq` and `cirq-google` have conflicting `protobuf` requirement.

**How to reproduce the issue**

As described above. Here is my command
[code]

**Cirq version**

1.0.0

[2022-10-07 18:19] viathor commented on #5901
Thank you for checking einsum performance on sparse vs dense matrices! Your result appears to confirm my concerns [here](https://github.com/quantumlib/Cirq/pull/5902#pullrequestreview-1134917469).

[2022-10-08 16:31] daxfohl commented on #5901
For posterity and since the code is rather tricky, #5905 is also a large boost when the matrix is one-hot, which is the case for many Kraus components such as Reset, ConfusionChannel, PhaseDamp(1). However the `flatnonzero` check was too slow to include in the general case of that function. It should probably be added as an independent function for these custom `_apply_channel_` to use as appropri

[2022-10-11 02:11] daxfohl commented on #5903
Closing since it creates extra overhead in the nominal case.

[2022-10-11 02:11] #5903 closed

[2022-10-11 03:55] rht opened #5914 "Installing google-cloud-compute 1.5.0 and Cirq 1.0.0 simultaneously fails due to conflicting requirement"
**Description of the issue**

I am trying to use `google-cloud-compute` 1.5.0 and Cirq 1.0.0 within the same virtualenv environment. But they can't be installed together without conflict.
[code]

**How to reproduce the issue**

Using this requirements.txt
[code]
I do `pip install -r requirements.txt

**Cirq version**

1.0.0

[2022-10-11 04:00] rht commented on #5914
My current workaround is to first install `cirq`, and then in a separate `pip install`, install the requirements.txt. This will override the `google-api-core` version to be >2.0.0-dev. But this solution is not ideal.

[2022-10-11 05:56] daxfohl opened #5915 "Make cirq.final_density_matrix work on classical controls"
**Is your feature request related to a use case or problem? Please describe.**

The `ignore_measurement_results` argument of `final_density_matrix` is used for calculating the final density matrix without ever collapsing the DM due to a measurement. However this causes the function to fail when presented with a classically controlled operation.

**Describe the solution you'd like**

This can be fi

[2022-10-11 14:55] maffoo commented on #5914
Are you using anything from `cirq-google`? If not, you can install `cirq-core` rather than `cirq` and avoid the dependency on `google-api-core` altogether. It's generally a good idea to install the specific `cirq-*` submodules that you need rather than the `cirq` metapackage itself, precisely for this reason that it reduces the number of dependencies and hence the possibility for version conflicts

[2022-10-11 15:19] rht commented on #5914
Yeah, I'm not using `cirq-google` actually. I wasn't aware that `cirq` is a meta package, and `cirq-core` is what one should install most of the time.

[2022-10-11 17:29] maffoo commented on #5914
This is probably something we should document better. Most of our tutorials and introductory materials still do `pip install cirq` for simplicity, but at the very least we should document the submodule structure and the fact that you can do `pip install cirq-core` to get just the core and then add other modules as needed.

[2022-10-11 19:24] mvchalupnik opened #5916 "Density matrix traces not remaining at 1 after certain operations"
**Description of the issue**
When looping over certain gate operations and measurements, the trace of the density matrix decreases and eventually approaches 0.

**How to reproduce the issue**
The following script (@kinetic-cipher) reproduces the issue:
[code]
The printed output is:
<details>

(0.9999999+0j)
(0.99999976+0j)
(0.9999994+0j)
(0.9999988+0j)
(0.9999976+0j)
(0.99999523+0j)
(0.99999034+0j

[2022-10-12 17:22] tanujkhattar commented on #5912
Is it possible to preserve the `__getitem__` while getting rid of the fact that pauli string is an iterable on qubits -- answer here is probably no.

[code]

For example, Can we override the `__iter__` and raise an exception?

[2022-10-12 17:26] pavoljuhas commented on #5912
The `__iter__` seems to be defined at https://github.com/quantumlib/Cirq/blob/6e64449dccb8cb2613f5f2aa6df9e32955941414/cirq-core/cirq/ops/pauli_string.py#L440-L441

Perhaps `__getitem__` by itself does not make its class iterable.

[2022-10-12 17:36] tanujkhattar commented on #5913
`pip install cirq` works as expected; also `pip install cirq-google` and `pip install cirq-core` works.

https://github.com/quantumlib/Cirq/search?l=Text&q=protobuf also shows that only cirq-google has a dependency on protobuf.

The above implies that cirq and cirq-google probably don't have a conflicting dependency. Maybe the project that you are compiling for has a conflicting requirement? Maybe

[2022-10-12 17:42] tanujkhattar commented on #5901
From cirq sync:

This should be done. This would probably involve two steps:
1) `GateOperation` should forward the protocol to the underlying gates -- should be relatively easy to fix.
2) Go through all the operations and identify the ones where `_apply_channel_` would be more efficient but is not already implemented. Go and implement `_apply_channel_` for these operations -- this would be more in

[2022-10-12 17:43] tanujkhattar commented on #5900
From cirq sync:

This should be done and should be a relatively easy fix.

[2022-10-12 17:47] tanujkhattar commented on #5896
Is this a VSCode specific concept? I would imagine most vscode users would create the `devcontainer.json` file themselves. Unless this is a general concept that can be used across different IDEs, we should probably not add it as part of the repository.

[2022-10-12 17:49] tanujkhattar commented on #5895
From cirq sync:

- I confirmed with the legal team that adding an integration such that we don't have a direct dependence on their codebase should be fine. This implies that we can add a method that outputs the circuit in an IR that can be consumed by QPIC without any legal implications.
- So yes, this should be done. We should probably add this in `cirq/contrib` to make sure we don't have any bac

[2022-10-12 17:59] tanujkhattar commented on #5883
[code]
This is probably backwards incompatible. Potential considerations:
- LSP is not strictly satisfied because cirq.CXPowGate is not a subclass of cirq.ControlledGate
- However, the behavior of the returned object should be "similar" -- is that true? is that enough?
- Also, expected return type of `X.controlled` is a `cirq.Gate` -- so technically it's not a breaking change because the return ty

[2022-10-12 18:49] eliottrosenberg opened #5918 "Make CouplerPulse sweepable"
I am building fSim gates using CouplerPulse (located in `cirq_google/experimental/ops/coupler_pulse.py`). To calibrate them, I need to sweep over `hold_time` and `coupling_mhz`. I wrote a sweep to do this, but it throws the following error because `cirq.Duration` is not sweepable:

[code]

If I comment out the offending lines (the ones checking the values of `hold_time`, `rise_time`, and `total_ti

[2022-10-12 21:16] daxfohl commented on #5916
This seems to be happening in the factor when the measurement gate is encountered. https://github.com/quantumlib/cirq/blob/8953eebe05e2510d798356dfd9fc2d5ba922cfe9/cirq-core/cirq/linalg/transformations.py#L636 likely needs to renormalize after getting the partial traces.

For now, OP can create the simulator as `DensityMatrixSimulator(split_untangled_qubits=False)`, which avoids the factoring afte

[2022-10-12 21:19] maffoo commented on #5918
I have a PR up to allow symbols for `coupling_mhz`: https://github.com/quantumlib/Cirq/pull/5908. Note that `cirq.Duration` is sweepable if you construct it with a symbol, e.g. `cirq.Duration(nanos=sympy.Symbol('delay_ns'))` but we need to modify the `CouplerPulse` constructor to not check the durations if they are symbolic (or to remove the checks altogether since these should be handled internal

[2022-10-12 21:38] eliottrosenberg commented on #5918
@maffoo Should I start a pull request where I delete those checks?

[2022-10-12 21:49] maffoo commented on #5918
I'd be ok with removing the checks, since they're easily bypassed by using symbols anyway.

[2022-10-12 22:22] daxfohl commented on #5916
Note reverting #4300 fixes this, though that implementation is still incorrectly normalized in other cases. I think the pre-#4300 implementation should be faster since it calculates both factors at the same time rather than two calls to partial_trace (I haven't tested this). However it needs renormalized as a density matrix rather than a state vector (`extracted /= np.trace(extracted)` and same fo

[2022-10-12 22:23] kinetic-cipher commented on #5916
split_untangled_states = False seems to work in the provided test script

[2022-10-12 22:51] daxfohl commented on #5883
`decompose` on `X.controlled(cirq.SumOfProducts([[1]]))` currently throws `TypeError: object of type '<class 'cirq.ops.controlled_gate.ControlledGate'>' does have a _decompose_ method, but it returned NotImplemented or None`. So going ahead with this strictly benefits that situation.

Also note that all other cases for `X.controlled(...)` already return `CX` when possible. So fixing this improves

[2022-10-12 23:34] rht commented on #5913
Sorry for not providing a minimal reproducer earlier. Here it is:
requirements.txt
[code]
Hence the command is `pip-compile -o requirements.lock requirements.txt`, ran on a fresh empty virtualenv.
`pip-compile` version: pip-compile, version 6.9.0 (latest release).
`pip freeze` of my fresh virtualenv:
[code]

`pip-compile` may have a stricter constraint requirement than just `pip install`. It is on

[2022-10-13 21:48] daxfohl opened #5921 "Derive _kraus_ from _apply_channel_"
**Is your feature request related to a use case or problem? Please describe.**

Follow up from https://github.com/quantumlib/Cirq/pull/5917#discussion_r995097628

**Describe the solution you'd like**

Similarly to how `unitary_protocol` has `_strat_unitary_from_apply_unitary`, we should have `kraus_protocol` be able to infer the Kraus values from the `_apply_channel_` implementation as a fallback

[2022-10-13 22:37] daxfohl commented on #5916
Ran some tests and the newer implementation using partial_trace is faster than the old implementation. Will push a PR that restabilizes the DM by trace after factoring.

[2022-10-13 22:43] #5900 closed

[2022-10-13 22:44] daxfohl commented on #5901
@viathor I accidentally linked this to close instead of #5900. The most important channels have been addressed but IDK if you wanted to keep this open to investigate the others.

[2022-10-14 02:10] daxfohl commented on #5775
Closing due to lack of activity

[2022-10-14 02:10] #5775 closed

[2022-10-14 02:10] daxfohl commented on #5712
Closing due to lack of activity.

[2022-10-14 02:10] #5712 closed

[2022-10-14 02:53] pavoljuhas opened #5923 "CI - check shell scripts with shellcheck"
**Description of the issue**

#5910 fixed issues in shell scripts discovered by [shellcheck](https://www.shellcheck.net/).
We should add an automated CI check to keep scripts healthy in the future.

**Cirq version**

1.1.0.dev at 6e64449dccb8cb2613f5f2aa6df9e32955941414

[2022-10-14 05:46] tanujkhattar commented on #5906
@NoureldinYosri Do you want to take a stab at this issue?

[2022-10-14 07:09] NoureldinYosri commented on #5906
@tanujkhattar  sure, can you assign it to me?

[2022-10-17 09:47] ggardet opened #5924 "`two_qubit_state_preparation_test.py::test_prepare_two_qubit_state_using_sqrt_iswap` tests fail"
**Description of the issue**
`two_qubit_state_preparation_test.py::test_prepare_two_qubit_state_using_sqrt_iswap` tests fail.
[code]

Details:
[code]

**How to reproduce the issue**
Build and test on openSUSE Tumbleweed aarch64.

**Cirq version**
1.0.0

[2022-10-18 17:46] dubey-sukhsagar opened #5926 "Histogram function doesn't fail for non-bool values."
**The histogram function has a default value for the fold_func parameter that calculates the integer value for the binary big endian number got from measurement results assuming qubits, not qudits**

**Take any qudit circuit and you will find below result is wrong (as per binary)
samples = sim.run(circuit, repetitions=10)
result = samples.histogram(key='out')**

[code]

For above circuit res shoul

[2022-10-18 23:20] paaige opened #5927 "Unable to print multi-qubit circuit with asymmetric depolarizing noise"
**Description of the issue**
Attempting to print a multi-qubit circuit with asymmetric depolarizing noise results in an error being thrown.

**How to reproduce the issue**
[code]

<details>

ValueError: Wanted diagram info from cirq.asymmetric_depolarize(error_probabilities={'XX': 0.1, 'II': 0.9}).on(cirq.LineQubit(0), cirq.LineQubit(1)) for [cirq.LineQubit(0), cirq.LineQubit(1)]) but got cirq.Cir

[2022-10-24 14:17] ArfatSalman opened #5928 "Different outputs for U3Gate and QasmUGate"
**Description of the issue**

These two equivalent circuits show different outputs.

**How to reproduce the issue**

**Qiskit (version 0.37)**

[code]

[code]

The documentation here at [Gate conversion rules](https://quantumai.google/cirq/build/interop#gate_conversion_rules) states that QASM `u3(θ,φ,λ)` is equaivalent to `QasmUGate(θ,φ,λ)` (as far as I could tell). So I'm not sure why the outputs

[2022-10-24 23:52] daxfohl commented on #5928
I'm not a maintainer but I believe qiskit is in radians whereas cirq is in half-turns. Try dividing the angles by pi?

[2022-10-25 12:21] ianhellstrom opened #5929 "Incompatible versions in Cirq 1.0.0"
**Description of the issue**
Protobuf versions of various transient dependencies do no match for Cirq 1.0.0. For those of us who prefer to peg versions, this represents a problem.

**How to reproduce the issue**

1. Create reqs.in file with `cirq==1.0.0` as its contents
2. Run `pip-compile reqs.in`
3. Check output:

[code]

**Cirq version**
1.0.0

[2022-10-25 19:30] vtomole commented on #5927
@tanujkhattar  I think the output of the above snippet should be

[code]
What do you think?

[2022-10-25 20:12] tanujkhattar commented on #5927
I thought I had left a comment on this issue when I added the labels, but looks I never finished the draft. Anyways, here are my thoughts:

This is a bug and should be fixed. The reason is that the diagram info method returns a single string, instead of returning an `Iterable[str]` with length equal to number of qubits.

https://github.com/quantumlib/Cirq/blob/425bf8d442498741884cb4a7ad885e134e39f

[2022-10-26 17:22] tanujkhattar commented on #5927
From cirq sync:

Let's use do the second approach for diagrams and keep it consistent with other multi-qubit gates like QFT:

https://github.com/quantumlib/Cirq/blob/ec68a55d54cf1372e5394d602575b185bc54396d/cirq-core/cirq/ops/fourier_transform.py#L192

[2022-10-27 19:14] richrines1 opened #5933 "incorrect type hints in `_BaseLineQid` and `_BaseGridQubit` addition/subtraction operator signatures"
**Description of the issue**

addition/subtraction operations between pairs of (equal-dimension) `LineQid`s or `GridQid`s are supported, but:

* annotations of `_BaseLineQid.__add__` and `_BaseLineQid.__sub__` only include addition/subtraction with integers

* annotations of `_BaseGridQid.__add__` and `_BaseGridQid.__sub__` only include addition/subtraction with two-tuples of integers

**How to re

[2022-10-27 19:40] richrines1 opened #5934 "`find_terminal_measurements` duplicates multi-qubit measurements"
**Description of the issue**

Given a circuit with multi-qubit measurements, `cirq.transformers.measurement_transformers.find_terminal_measurements()` will repeat the same measurement operator for every qubit it acts on. As a result `cirq.synchronize_terminal_measurements()` fails for circuits with multi-qubit measurements.

**How to reproduce the issue**

[code]

**Cirq version**

1.1.0.dev202210

[2022-10-28 00:30] #4501 closed

[2022-10-28 16:17] paaige commented on #5927
Just to clarify, in the qft example it looks like they're starting from 1. So for example, you get something like this:
[code]
 Why don't we start from 0 so the number corresponds to the line qubit #?

[2022-10-31 20:29] #5883 closed

[2022-11-02 14:06] mschroemann opened #5938 "MatrixGate: the name is not taken over during exponentiation"
**Description of the issue**
When you create a matrix gate with a name and exponentiate it, the initial name is lost as the name is not handed over to the power gate:
def __pow__(self, exponent: Any) -> 'MatrixGate':
        if not isinstance(exponent, (int, float)):
            return NotImplemented
        new_mat = linalg.map_eigenvalues(self._matrix, lambda b: b**exponent)
        return Matri

[2022-11-02 16:24] maffoo commented on #5938
What would you expect the name to be? It probably shouldn't have the same name after exponentiating because it's not the same matrix. Could maybe construct a name like "U**2" in the example you gave, but that could lead to some strange edge cases, for example if you square again the name would end up as something like "U**2**2" which is ambiguous.

Another possibility is that you exponentiate the

[2022-11-03 08:43] mschroemann commented on #5938
To be honest, I would have expected something like "U^2". For me, it feels wrong that the name is lost. But I understand your point that potentizing several times can result in very long names.

[2022-11-03 15:01] maffoo commented on #5938
We could perhaps add a method `MatrixGate.with_name` to create a new gate with the same matrix but a different name. Then the example I wrote above would be:
[code]

[2022-11-04 07:32] mschroemann commented on #5938
If we could add that, that would be great and would meet my requirements.

[2022-11-04 23:21] daxfohl commented on #5938
Would it be possible to make MatrixGate into an EigenGate? IIUC you can use `np.linalg.eig` to get the eigencomponents from the input matrix. Then the exponent and phase are passed in separately and kept in the base class. Only thing is I'm not sure if `eig` will always return a usable result.

But even if not an EigenGate, seems like exponent and phase could be kept separate (memoizing a `self._f

[2022-11-05 03:51] daxfohl commented on #5715
Kinda think this is not possible. Presumably it should work for even exponents too. However to work for even exponents, the gate needs to transform to `cirq.I`. However that ends up causing all sorts of downstream problems (even after making `cirq.I` an `EigenGate`) as can be seen in the linked PR above because `cirq.I` is special cased so much. Additionally it breaks all the `eval(repr(x)) == x`

[2022-11-05 18:55] daxfohl commented on #5715
Well, it's possible, as I managed to get the linked PR to pass all tests. The changes are probably more breaking than desired though. And we need to add some extra handling and tests since `IdentityGate`, as an `EigenGate`, can now have a phase attached.

It also leaves `Xa*Xa != Xa**2`, which seems wrong. I think to solve this completely we'd need a `_PauliI` (which may be reasonable? Not sure.)

[2022-11-05 21:37] daxfohl commented on #5715
Nvm, different approach worked.

[2022-11-06 03:14] daxfohl commented on #5715
Nvm again. The second approach had an issue with `PauliString(X(q)**2)` turning into `PauliString()` and then losing the qubit and thus changing the commutation properties. To fix that we'd need to make `I` a paulistring option, which then we'd have to get into making a `_PauliI`, and then making `Identity` an `EigenGate` like in the first attempt. Doable, but a big change that needs some back-and

[2022-11-08 13:26] lmarti-dev opened #5944 "Cannot print `PauliSumExponential` of identity gate"
**Description of the issue**

Exponentiating an identity gate with `PauliSumExponential` and then printing it raises a ValueError, similar to #5927. I could not tell whether the pull request that fixes the aforementioned issue would fix this one too. Feel free to close this issue if this is the case.

**How to reproduce the issue**

[code]

<details>

ValueError: Wanted diagram info from cirq.Paul

[2022-11-08 19:50] viathor commented on #5928
As @daxfohl said, `QasmUGate` takes half-turns, not radians, so the angles must be divided by pi. To confirm, I ran

[code]

and got

[code]

[2022-11-08 19:51] viathor commented on #5928
Note that [documentation](https://github.com/quantumlib/Cirq/blob/e7233bb8f0b53f6c5cda5d15b0416ea564596240/cirq-core/cirq/circuits/qasm_output.py#L29) is explicit about the units.

[2022-11-08 20:06] viathor commented on #5928
Actually, [not everywhere](https://quantumai.google/cirq/build/interop).

[2022-11-08 22:58] #5938 closed

[2022-11-09 05:16] #5928 closed

[2022-11-09 18:21] dstrain115 commented on #5944
Discussion from cirq cync:  This is likely because the exponential of the identity has no operation since the PauliStringPhasor is stripping out identity.  This should be accepted.  Probably an empty PauliString needs a proper diagram strategy.

[2022-11-09 18:25] dstrain115 commented on #5927
Discussion from cirq cync:  python is zero-based indexing, so we slightly prefer zero based indexing here as well.

[2022-11-09 18:25] seunomonije commented on #5927
From Cirq Sync...0 based indexing.

[2022-11-09 18:36] dstrain115 commented on #5929
Discussion from Cirq Cync: Pavol to investigate and determine whether this issue is reproducible and what the current status of protobuf libraries and downstream dependencies are.

[2022-11-09 18:42] seunomonije commented on #5926
From Cirq Sync: need to investigate more. Histogram fn clearly is not working properly for qutrits.

Tanuj: There might be a workaround if you customize the fold function in the histogram creator. Right now it is default for base 2. Potential change to make the default for any base?

[2022-11-10 03:45] #5934 closed

[2022-11-10 15:06] daxfohl commented on #5944
`PauliString._circuit_diagram_info_` gets around this by returning `NotImplemented` if it is empty, which causes the diagramming logic to put the op below the circuit along with global phase and other non-qubit ops. Same strategy would work here.

Though to note, this strategy invokes the `str` method to display the op, and the `PauliStringPhasor.__str__` doesn't match the style of a PSP in the di

[2022-11-11 05:58] richrines1 opened #5949 "inconsistent ordering of tags in `GateFamily._default_description`"
**Description of the issue**

the order of tags in `GateFamily._default_description()` is not guaranteed to be consistent, because both `_tags_to_accept` and `_tags_to_ignore` are frozensets which get passed to `list()` in the f-string. Because this description is included in `GateFamily._value_equality_values_()`, this can lead to (what should be) identical GateFamilies being evaluated as not equ

[2022-11-12 00:36] #5923 closed

[2022-11-12 02:18] rht commented on #5913
It seems to be specific to `cirq-google`
[code]

[2022-11-16 18:54] mpharrigan commented on #5929
+1 this issue. `pip-compile` is becoming an important part of the python ecosystem and does not work whenever cirq is involved