[2020-03-17 07:48] #2841 closed

[2020-03-17 11:06] S130111 opened #2843 "what is the meaning of '~='"
Hi, deadbeatfour
       Thanks for your job. and I have a question about the requirements.txt, it is: what the meaning of 'numpy ~= 1.16'.
      i am waiting for your message.

[2020-03-17 11:52] jitendrs commented on #2843
HI,
~= means a compatible library version. which in this case not less than 1.16

[2020-03-17 14:00] jitendrs commented on #2842
I think you have two different python 3.5 version install on your machine.
locate python3 installation path and search for cirq library in its site-packages directory.
 you can try to install with below command as well to install in current python pointing version and cross check if you can import afterwards,
python3 -m pip install cirq

[2020-03-17 14:22] jitendrs commented on #2778
fixed in PR #2844

[2020-03-17 17:13] #2778 closed

[2020-03-17 22:15] 95-martin-orion opened #2846 "Increased length of RB circuits?"
In #1712, the code to manually construct the terminal "inversion" Clifford in randomized benchmarking was replaced with a call to `protocols.inverse`:
https://github.com/quantumlib/Cirq/blob/afad82b688a93a12976b3890392e59671e0bb2bf/cirq/experiments/qubit_characterizations.py#L527-L534

In my tests, `protocols.inverse` doesn't create a single gate, but rather creates an inverted copy of the entire

[2020-03-18 17:45] #2826 closed

[2020-03-18 17:53] mpharrigan commented on #2846
Yes, in RB the inversion operation should be one(-ish) moment

[2020-03-18 18:19] Strilanc commented on #2846
Agree that this is wrong. The inverse needs to be optimized into a fixed length sequence to make noise behavior better and probably also to avoid undoing noise in a way that wouldn't happen in actual computations. We could replace it with a stabilizer tableau simulation and then map the Tableau to minimal sequences, but may not be faster than the unitary simulation.

(It sounds like maybe the slow

[2020-03-18 18:56] #2843 closed

[2020-03-18 19:39] surarijit commented on #2842
Please delete multiple versions of python 3 installed, or to be on the safe side create a virtual environment first and then install Cirq inside it.

[2020-03-19 03:57] viathor opened #2847 "Global phase in SingleQubitCliffordGate"
Filing to continue discussion started in the meeting by @fedimser.

### Background

Clifford gates are often said to be the unitaries that map Paulis to other Paulis under conjugation. This yields an infinite group(*). However, there really is only a finite number of interesting classes of elements in this group, so the actual definition of the Clifford group generally involves the quotient of the

[2020-03-19 09:35] fedimser commented on #2847
I came up with this idea while working on PR #2803.

As @Strilanc suggested, I added a factory method `from_unitary` on class `SingleQubitCliffordGate`. When I am trying to simulate a Clifford gate, I am converting it to `SingleQubitCliffordGate`, then decompose to rotations and decompose rotations to H and S gates.
But we also need to keep track of global phase - it's stored in `_ch_form.omega`.

[2020-03-19 15:21] 95-martin-orion commented on #2832
As noted in PR #2715, since the data for this model is Google-specific, we should move it to `cirq.google` when we get the chance.

[2020-03-19 15:35] cduck commented on #2847
Another option would be to output a GlobalPhaseOperaton with the appropriate additional phase from `_decompose_`.  This could be done in addition to adding a global phase attribute to SingleQubitCliffordGate.

[2020-03-19 17:08] jitendrs commented on #2191
@vtomole please close this issue. since it was fixed in #2321

[2020-03-19 18:53] vtomole commented on #2191
@jitendrs Give me a code snippet of this then i will close.

[2020-03-19 20:48] 95-martin-orion commented on #2846
Some clarifying points on this:
1. The >200s test in the original PR was `check/pytest-and-incremental-coverage`, which runs a few thousand tests in my local runs. Without that PR, it takes ~220s; with the PR it's down to 150s.
2. Without that PR, `qubit_characterizations_test.py` takes ~45s to run. With the PR, it only takes 2s. The main factors in the runtime are:
    a. Excessive test repetitio

[2020-03-19 21:44] c-poole commented on #2846
I agree that this was a mistake on my part. I removed the construction of the two qubit matrices and the multiplication of each of the two qubit matrices with the unitary of the circuit to find the inverse and replaced it with the protocols.inverse to save the time but without realizing the issue it brings up in terms of circuit length and noise.  To fix this we need to replace with the former inv

[2020-03-19 22:05] 95-martin-orion commented on #2846
This mostly depends on our expectations for the inversion step. I haven't found any decomposers that convert to XPow + YPow, so if we want the inversion step to have the same format as the rest of the circuit we'll need to make a new decomposer.

If instead any inversion is sufficient, then existing decomposers (e.g. `single_qubit_matrix_to_gates` and `two_qubit_matrix_to_operations`) should suffi

[2020-03-21 02:44] kevinsung opened #2853 "Remove deprecated functions with v0.8.0 deadline"

[2020-03-21 05:30] jitendrs commented on #2191
@vtomole code snippet is on another issue, both request are for same issue.
https://github.com/quantumlib/Cirq/issues/2273

[2020-03-22 13:21] dstrain115 commented on #2620
If you want to do this as a jupyter notebook, I would recommend putting it in docs/notebooks as an example (don't add it to table of contents yet).  I am working on putting together a nbsphinx converter to convert these to markdown automatically and then adding a section for "case studies", where we will go into an in-depth example.

In general, I would imagine that the goal of this should be two-

[2020-03-22 23:07] fedimser commented on #2620
Thanks, Doug!
I will address your comments and create a PR adding this notebook to docs/notebooks. I'll try to do that tommorow.

[2020-03-23 02:10] jaeyoo commented on #2741
Hi all. I am the user who opened #2710. Because I heard that the support of `np.exp` would be removed, I am trying to removing it. Also, FYI, I've implemented `tfq.util.exponential` ([link](https://github.com/tensorflow/quantum/blob/master/tensorflow_quantum/python/util.py#L419-L446)) that can exponentiate paulistring. I hope it is helpful.

[2020-03-24 18:43] cduck commented on #2840
I debugged this with Dripto.  It is not a bug in Cirq.  His additions to Cirq likely caused this.  If others have similar circular import issues, running `python dev_tools/import_test.py` can help pinpoint the problematic import.

[2020-03-24 18:43] #2840 closed

[2020-03-24 20:52] dstrain115 commented on #2740
I am not sure I understand this feature.  Will the recent addition of tags work to fix this problem?

You can now tag Operations with meta-data, such as strings.  Would this work for your use case?
https://github.com/quantumlib/Cirq/blob/master/cirq/ops/raw_types.py#L406

[2020-03-25 11:11] fedimser commented on #2620
Created PR with a notebook, please review.
@dstrain115

[2020-03-25 17:48] mpharrigan commented on #2677
xref #2781

[2020-03-25 18:36] Strilanc opened #2858 "Switch over to github actions"
It sounds like github actions is just better than travis-ci. We should switch over.

@95-martin-orion and @MichaelBroughton have used this in other repos and may be able to answer questions.

[2020-03-25 18:39] 95-martin-orion commented on #2858
Some sample Github Actions workflows: [qsim](https://github.com/quantumlib/qsim/blob/master/.github/workflows/bazeltest.yml), [TFQuantum](https://github.com/tensorflow/quantum/blob/master/.github/workflows/ci.yaml)

Related discussion: issue #2785, PR #2733

[2020-03-26 06:30] jaeyoo commented on #2553
I am digging into this work. Plus, I found out that clear_span=0 with non-empty clear_qubits ran endlessly.

[2020-03-26 19:05] mpharrigan commented on #2553
Yeah, this is still a problem for me so let me know if you find anything out!

[2020-03-26 23:50] Strilanc opened #2862 "Document in cirq.apply_unitary's docstring that it can operate on qudit subspaces"
If you have a state tensor defined over qutrits, and you call `cirq.apply_unitary` targeting this state tensor but give it a qubit gate, apply_unitary will operate on the 01 subspace. This isn't currently documented but it should be mentioned in the docstring.

[2020-03-27 00:12] JulianSKelly opened #2863 "Add circuit convenience method for all measurement_keys"
It would be convenient to be able to access all measurements key names in a circuit. I.e.

[code]
could give you the result of
[code]

[2020-03-27 00:13] Strilanc commented on #2863
We shall call it `all_measurement_keys`

[2020-03-27 15:54] #2533 closed

[2020-03-27 23:53] mrwojtek opened #2867 "Add pair of qubits type which is JSON-serializable"
The usual Tuple[cirq.Qid, cirq.Qid] is simple but JSON doesn't serialize tuples.

This concepts appears often when working with different kinds of circuit description and it would be nice to have a specialized class which behaves like tuple (is hashable and comparable) with automatic JSON serialization.

[2020-03-28 00:17] vtomole commented on #2842
@catafest Feel free to reopen this if the stated solutions don't solve your problem.

[2020-03-28 00:17] #2842 closed

[2020-03-28 00:55] #2846 closed

[2020-03-31 09:58] fedimser commented on #2423
As I promised in PR #2803, I am going to update has_stabilizer_effect to check the gate's matrix, so that we can use it to check if gate is supported by Clifford simulator. For 2x2 matrices that would be as easy as `not SingleQubitCliffordGate.from_unitary(unitary) is None`.

However, why not go one step further and implement it for any unitary? Let me describe what I am going to do and ask whethe

[2020-03-31 18:31] dstrain115 commented on #2204
Revamped gates document and added more detail throughout.

[2020-03-31 18:31] #2204 closed

[2020-03-31 18:32] dstrain115 commented on #1703
I am going to take this, since I am revamping the documentation.

[2020-03-31 18:33] dstrain115 commented on #752
REmoved all the TODOs, I believe.

[2020-03-31 18:33] #752 closed

[2020-04-01 06:35] smitsanghavi commented on #2423
Dmytro, the logic seems sounds to me for an arbitrary gate with unitary U.

My understanding of Craig's original proposal is that we want to make the simulation more efficient. So, it is better if we annotate known gates with the stabilizer property as such using _has_stabilizer_effect_ and only fall back to trying to deduce it from the unitary if it is not already hardcoded in the gate definition

[2020-04-02 23:02] SebastianMue commented on #2867
Hey @mrwojtek

Can I work on this?

And for the clarification, it should look like this, right?

We have the following Qubits in the new Tuple.
q3 = cirq.NamedQubit('q').with_dimension(3)
p3 = cirq.NamedQubit('p').with_dimension(3)

Then the tuple should implement an automatic JSON serialization which results in the following JSON string:
["{\n  \"cirq_type\": \"_QubitAsQid\",\n  \"qubit\": {\n

[2020-04-03 00:23] mpharrigan commented on #2867
`cirq.Qid` is an abstract class. @mrwojtek what types of qubits are you actually trying to serialize? JSON should work fine with tuples, but note that they will be loaded in as `list`s since there's no distinction in json between lists and tuples. If you're desperate for them to be loaded in as tuples you can:

 - wrap in a class with a custom `_from_json_dict_` method which casts to tuple
 - call

[2020-04-03 01:14] mrwojtek commented on #2867
I would like to store the common Qid types as used in Cirq: GridQubit or LineQubit and what I really need is for this pair of Qids to be a hashable.
The list is not hashable so the conversions as you mention are necessary. On top on that, I not only need to load pairs but also to save them; and Json complains when it needs to serialize a tuple.

After filing for this issue I also realized that I d

[2020-04-03 01:14] #2867 closed

[2020-04-03 21:10] dstrain115 commented on #1703
See #2884

[2020-04-03 22:26] m-pedro opened #2887 "Cirq Tutorial - links broken"
All the links under the "Next Steps" section of the Cirq Tutorial are broken. See here:
https://github.com/quantumlib/Cirq/blob/master/docs/tutorial.ipynb

[2020-04-03 22:56] vtomole commented on #2887
@dstrain115 Looks like we are still linking to `.md` files in that section. I'm assuming follow up pull requests are going to address this.

[2020-04-03 23:12] vtomole opened #2888 "Add a docstring that summarizes protocols in cirq/protocols/__init__.py"
https://github.com/quantumlib/Cirq/blob/master/cirq/protocols/__init__.py

[2020-04-06 06:26] viathor commented on #2423
Here is cirq's general philosophy. Suppose you have a question you'd like to be able to answer about any gate, operation etc. You implement this as a protocol *and* you add a method in gate classes that efficiently answers the question. The protocol tries the efficient method when it finds it. If it doesn't find it, then it either falls back to slower but more general calculation (if it is still r

[2020-04-06 18:50] tanujkhattar commented on #2486
The behaviour is expected as far as the current InsertStrategy definitions are concerned.

Therefore to achieve the desired effect, we would have to specify index + 1 with insert strategy INLINE.

Currently, there is no insert strategy which directly inserts into an existing moment at index `i` if possible, else creates a new moment / starts scanning backwards.

[2020-04-06 19:30] m-pedro commented on #2887
Added this to #2890:
The Examples link under "Next Steps" in the Cirq Tutorial is broken: https://github.com/quantumlib/Cirq/blob/master/docs/tutorial.ipynb.
It should point here:
https://github.com/quantumlib/Cirq/tree/1daad398783964cc9b1965ae957812b5ca1f1395/examples

[2020-04-07 15:54] dstrain115 commented on #2887
All the links should be fixed now.  Let me know if you find any others that are broken.

[2020-04-07 15:54] #2887 closed

[2020-04-08 18:11] Strilanc commented on #2486
This reason for this is to make it act the way list.insert does, in that the index that you're refering to is the divider between the two indices. So if you say to insert at index 5, you mean between offsets 4 and 5. So the insert is logically before offset 5 if you say 5.

I agree that this is confusing sometimes. I've confused myself with it. I'm not sure what's best to do.

[2020-04-08 18:16] alexandrupaler commented on #2486
would this need to throw an exception if the operation cannot be added to the moment?

[2020-04-08 18:17] Strilanc commented on #2486
it should raise if it won't fit

[2020-04-09 00:20] alexandrupaler commented on #2185
Is there a way to obtain a networkx graph from a graph device? The greedy router accepts such graphs for the connectivity.

[2020-04-09 18:02] mpharrigan commented on #2486
The list metaphor makes sense if you're doing `insert(moment)` (because `Circuit` is like a `List[Moment]`) but it really breaks down since we're inserting a thing that goes *into* a list element

What if we only allow inserting moments? and then have a `.place(op)` to put in an operation (and/or use the syntax you suggest of `circuit[i] += op`). Would this break too much existing code?

[2020-04-09 21:11] 95-martin-orion opened #2900 "Add list_processors to integration tests"
For reference: PR #2899 fixes a bug due to argument types in list_processors. Issues of this type cannot be caught by mock-based unit tests (likely how it escaped notice to begin with) which means we need to check for it in our integration tests.

Additionally, there are several other methods in the `engine_client.py` file which have similarly-fragile type-agnostic tests. If any of those are not c

[2020-04-09 21:24] 95-martin-orion commented on #2900
It might also be possible to catch this kind of issue with better type-checking in the affected files. (Honestly, it's a little strange to me that mypy isn't complaining about the lack of type annotation on arguments in `quantum_engine_service_client.py` - we don't appear to have any `type: ignore` directives for that module...)

[2020-04-13 18:51] kevinsung opened #2904 "Define new state type that encompasses STATE_VECTOR_LIKE plus density matrices and use it in fidelity function"

[2020-04-13 20:15] drewrisinger commented on #2503
Closing for inactivity

[2020-04-13 20:15] #2503 closed

[2020-04-14 05:12] mpharrigan opened #2905 "Tagging noise operations clutters the circuit output"
The extra `[]` are from the tag, I think

xref #2719

[code]

[2020-04-15 16:00] dstrain115 commented on #1703
Wrote a section here:
https://cirq.readthedocs.io/en/latest/circuits.html#Circuit-Optimizers

[2020-04-15 16:00] #1703 closed

[2020-04-15 16:01] dstrain115 commented on #2723
Fixed deprecated call.

[2020-04-15 16:01] #2723 closed

[2020-04-15 16:10] tanujkhattar commented on #2486
`circuit[i] += op` currently works as expected. We can also use `circuit.batch_insert_into([(moment_index, operation)])` to achieve the exact same thing.

IIUC, it would break a lot of code if we just allow inserting moments. There will also be inconsistencies with other methods like `insert_into_range`, `insert_at_frontier`, `batch_insert` etc., all of which are for inserting operations in the ci

[2020-04-15 16:28] fedimser commented on #2818
Hi. I would like to implment this. Can you please assign me?
@dstrain115

[2020-04-15 16:30] dstrain115 commented on #2818
Assigned.  You were not able to assign yourself?

[2020-04-15 18:24] dabacon commented on #2405
One suggestion is `q(1,2)`, which we could then `LineQubit` could be `q(1)` and `NamedQubit` could be `q(foo)`.  I think this is better than modifying just `GridQubit` because it is more universal.

[2020-04-15 18:25] Strilanc commented on #2486
I agree that we have to continue supporting circuit.insert(index, operation).

[2020-04-15 18:36] 95-martin-orion commented on #2900
Discussed with the group - this can be resolved by some combination of forcing keyword arguments (e.g. `func(self, *, [args])`) and improving type annotation of the affected functions.

Note also that mypy does **not** protect against untyped function arguments.

[2020-04-15 18:37] Strilanc commented on #2405
Agree that `q(row, col)` is superior to `row_col` for our purposes because it can be consistent across qubit types.

[2020-04-15 19:15] dstrain115 commented on #2405
Are we okay with doing that change if it breaks circuit diagrams and other things that depend on str representations?

[2020-04-15 20:04] mpharrigan commented on #2405
My initial preference is for keeping circuit diagrams the same. Context is clear in circuit diagram anyways.

Changing the `str` for qubits might break things as well? I've seen `str(q)` used as measurement keys. This probably would still work in the majority of cases where `str(q)` is used to retrieve measurements by key, but wouldn't if people were re-constructing strings or re-processing saved

[2020-04-15 20:09] cduck commented on #2405
Qubits could have their own version of `_circuit_diagram_info_` so the diagram isn't dependent on the string representation.  This would allow a more clear `str(q)` without changing diagrams.

[2020-04-15 20:48] tanujkhattar commented on #2486
Marking the issue resolved.

[2020-04-15 20:48] #2486 closed

[2020-04-16 12:23] thubregtsen opened #2915 "Specify input range for Pauli gates/normalize output"
When performing Pauli x rotations, the values are not normalized after a rotation larger than pi.

Code example:
[code]

Example output:
[-0.70710677+0.j          0.-0.70710677j]

Assumption: even though the state is correct, I would say the expected behavior would be to output a normalized state (no minus in the |0>)

I would propose one of the following
* A range indication in the manual https:/

[2020-04-16 13:38] vtomole opened #2916 "Add Github Worflow for unstable builds"
Move the code in https://github.com/quantumlib/Cirq/blob/master/.travis.yml to a corresponding one in https://github.com/quantumlib/Cirq/tree/master/.github/workflows.

[2020-04-16 16:47] obriente opened #2917 "Using multinomial rather than choice to generate samples"
Currently cirq generates samples using numpy.random.choice (https://github.com/quantumlib/Cirq/blob/3132f9704fd2488378ca34361b0b2baa84a337c9/cirq/sim/wave_function.py#L578), which draws a new random number for each sample.

Often the user wants to average over a large number of samples, in which case the order in which samples appear is irrelevant. When this is the case, numpy.random.multinomial w

[2020-04-16 17:23] obriente commented on #2917
@mpharrigan - this is the PR that I mentioned.

Seems like it might be a better idea to add this functionality to the calculation of expectation values rather than the calculation of samples from the wavefunction?

It also seems like this could be better in openfermion-cirq or openfermion, though I'm not entirely sure, as it mainly shows up in the averaging in a VQE. So if this functionality isn't

[2020-04-16 17:29] obriente commented on #2917
@kevinsung pointed out that this ties in with https://github.com/quantumlib/Cirq/pull/2781

[2020-04-17 17:12] mpharrigan commented on #2917
Yes, having a Cirq API for "give me histograms; I don't care about the order" would be pretty nice. Even for real processors, it could considerably compress the size of results sent over the wire

[2020-04-17 20:47] viathor opened #2920 "Remove exponent parameter from _Pauli{X,Y,Z}"
Raising a Pauli to an arbitrary exponent generally does not return another Pauli. Therefore, it doesn't make sense for the constructor of these (private) classes to take the parameter.

Note that functions like `__pow__` do the right thing by instantiating an appropriate gate from `common_gates`.

Also note that this requires custom implementation of algorithms that use `with_exponent`. I think th

[2020-04-17 23:56] vtomole commented on #2858
Closed for https://github.com/quantumlib/Cirq/issues/2916

[2020-04-17 23:56] #2858 closed

[2020-04-19 05:36] jitendrs commented on #2916
can you assign it to me @vtomole

[2020-04-20 21:36] tanujkhattar commented on #2920
If we remove the exponent from constructor of the Paulis, we'll have to override the `_with_exponent` virtual method in `eigen_gate.py`. However, mypy won't allow me to return an `XPowGate` from `_PauliX` because of the constraint in original function that return type should be same as self. As a workaround, I had to modify the return type constraint in `_with_exponent` and `_resolve_parameters_`

[2020-04-20 22:35] cduck opened #2925 "Doctest failure on macOS"
The failure appears to be caused by one test creating a 3D pyplot figure and another test assuming the default current figure is 2D.  My guess is that the tests are run in a different order on macOS.

One fix is to add the following code that clears the current figure to the example code in [contrib/routing/device.py#L62](https://github.com/quantumlib/Cirq/blob/master/cirq/contrib/routing/device.p

[2020-04-21 04:16] dkafri opened #2926 "googleapiclient import error"
In terminal:
[code]

I then create the following python script (test_script.py):
[code]

Running the script gives:
[code]

I am able to fix this by downgrading google-api-python-client:
[code]

[2020-04-21 10:47] DuckTigger commented on #2926
Seconded - but you only need to downgrade to `google-api-python-client==1.8.0`

[2020-04-21 15:57] dkafri commented on #2926
3.7.6

[2020-04-21 20:06] vtomole commented on #2926
Looks like this is due to a new release of https://github.com/googleapis/google-api-python-client/issues/870.

[2020-04-21 20:49] dstrain115 commented on #2926
This issue has already been fixed in the latest version.  You can either downgrade google-api-python-client as mentioned or install cirq-unstable (the latest version).  This will be fixed in the cirq stable version (`pip install cirq`) once we release a new version.

[2020-04-21 21:35] MrSaral commented on #2888
Can I work on this? I am new around here, is there any slack communication channel?

[2020-04-21 22:17] vtomole commented on #2888
We have a [gitter channel](https://gitter.im/cirqdev).

[2020-04-22 18:10] 95-martin-orion commented on #2807
Copying discussion from #2864:

[2020-04-23 00:33] #2920 closed

[2020-04-23 08:22] #2813 closed

[2020-04-23 20:39] Strilanc opened #2936 "cirq.X**"text" half works"
To my surprise, if you write `cirq.X**"text"` instead of `cirq.X**sympy.Symbol("text")`, thing mostly work. For example, you can run a sweep over the circuit with a dictionary mapping `"text"` to a value and you'll get samples back. This is because `cirq.resolve_parameters` treats strings as a shorthand for `sympy.Symbol`, as a way of removing boilerplate when specifying sweeps.

However, `cirq.is

[2020-04-24 13:47] obriente commented on #2917
@xabomon is willing to take this on (for a separate project I think he needs something like this pretty soon).

I would suggest the best method here is to add a function 'histogram_state_vector' to wave_function.py, and link this through to the simulator.run function, to be called with a flag 'histograms_only'. But perhaps there's a better way to do this?

[2020-04-25 02:07] MrSaral commented on #2888
#2939 Please review

[2020-04-26 03:26] MrSaral commented on #2936
Hey, I would like to work on this issue!

[2020-04-27 20:56] kevinsung opened #2940 "Device specification documentation is incorrect"
Executing the following example code from https://cirq.readthedocs.io/en/latest/google/specification.html:
[code]
gives
[code]

[2020-04-27 21:04] kevinsung opened #2941 "Context should be optional for initializing EngineProcessor"
Initializing a `cirq.google.EngineProcessor` requires providing an EngineContext, but simply passing `cirq.google.engine.engine.EngineContext()` works so that should be used by default. Also, shouldn't EngineContext be exposed outside the file level?

[2020-04-28 22:08] #2863 closed

[2020-04-28 22:47] #2726 closed

[2020-04-29 16:13] dabacon commented on #191
There is no "optimizer" abstract class anymore.

In places where we just do additions, we could chain these together.  This would not have impact on the overall runtime.  It could potentially be easier to reason about, but on the other hand the ordering even of replacements matters, so it's not clear that this would have benefit.

Closing unless we see compiler patterns that make more sense.  Then

[2020-04-29 16:13] #191 closed

[2020-04-29 16:20] dabacon commented on #266
Currently we use floats and the details of the accuracy are obscured from the user.  This is likely fine since the accuracy tends to not be an important factor for users at this level of control.

We should close until we have a concrete case where the accuracy matters to end users (and then it might just be important to inform the users, not use a type thank captures the degree of precision that

[2020-04-29 16:20] #266 closed

[2020-04-29 16:22] dabacon commented on #346
Presumably this applies to PointOptimization passes?

[2020-04-29 16:24] dabacon commented on #361
Can we write a test to catch these?  I don't know how many we have, so trying to write a test to spot them would be a good start.

[2020-04-29 16:33] dabacon commented on #461
The elegant solution is a gate which the simulators understand.  Let's make this the issue to track that.

[2020-04-29 16:35] dabacon commented on #472
Ooops, I changed the previous discussion to this.

Duplicate of #461

[2020-04-29 16:35] #472 closed

[2020-04-29 16:39] dabacon commented on #516
We have a base implementation that outputs svg: `contrib/svg`

Closing this for now, if we want to use a different svgwrite tooling, we should do that at the time of change.

Not actionable.

[2020-04-29 16:39] #516 closed

[2020-04-29 16:46] dabacon commented on #536
This issue is stale as these gate classes no longer exist (pre protocols).  We have a `__pow__` protocol and `MatrixGate` implements it by default.

However +1 to users not using powering of gates, we should really audit some code to see how useful powering is, a lot of the research code I have looked at does not use this.

[2020-04-29 16:46] #536 closed

[2020-04-29 16:51] dabacon commented on #554
Current abstract methods that should be checked.
[code]

[2020-04-29 17:23] mrwojtek commented on #361
I had a feeling that at some point mocking was not an encouraged testing practice in Cirq. Is that still the case?

[2020-04-29 20:02] smitsanghavi opened #2948 "Update CliffordSimulator state through method dispatch on Gates"
Spun out from #2423.

Clifford Simulator currently special cases handling for multiple Gates through hardcoding operations on the CliffordTableau and StabilizerCHForm in the simulator. The CliffordTableau and StabilizerCHForm logic also, in turn, has hardcoded handling for these gates as private methods.

This is unpythonic; the goal is to implement method dispatch and have this handling exported

[2020-04-29 21:34] mpharrigan commented on #2917
Having a flag control return values is a code smell.

 1. I think there's some preference to move from non-descript "run" vocabulary to "sample", which is a more accurate description of what's going on.
 2. I'd suggest a new method `sample_counts` (or similar) which does what you want and falls back to calling `run`(/`sample`) if there isn't special functionality for it

[2020-04-29 23:23] dabacon commented on #361
In core Cirq I think this is true.

But for interface boundaries it is good, so for example Engine code uses mocking.  Another place that it seems ok is for "more complex" abstract classes which want to test that "more complex" by mocking out the abstract classes.

[2020-04-29 23:41] dabacon commented on #579
The code to produce qcircuit LaTeX currently uses the circuit info object.  It does output code that has single boxes for multiqubit gates.

I think the question that remains here is whether there should be a way to specify gates as @kevinsung suggested, i.e. should the information that is returned by gates include an explicit LaTeX version R_z(\theta).

I'm going to title this to reflect that.  P

[2020-04-29 23:56] dabacon commented on #605
You're thinking about being able to insert across different moments?  Instead of insert at a particular index you could insert at different index for different qubits?

This feels like it might complicate the insert method by a lot, so if it is done it might be via a different method?

[2020-04-29 23:58] dabacon commented on #605
Oh I think we have this.
[code]

[2020-04-29 23:59] dabacon commented on #605
Oh I see this is to make insert return something that is useful for insert at frontier.

[2020-04-30 00:02] dabacon commented on #605
OK but it looks like you can achieve this by using `insert_at_frontier` with no frontier specified.  So I think we just need to encourage that use for optimizers that run into this.

Closing one more time as I don't think this is feasible with current insert's return type of `int`.  Overloading that feels like it would create a lot of overhead for callers.

[2020-04-30 00:02] #605 closed

[2020-04-30 00:04] dabacon commented on #646
I don't see an actionable proposal here anymore and think this can be closed.  If reopened please make it an explicit proposal.

[2020-04-30 00:04] #646 closed

[2020-04-30 00:11] dabacon commented on #662
If we standardize to some dtype then we should make sure that is documented.  If we don't standardize we should provide dtype as information to the protocol method so that implementors can use that type.  Alternatively we can make consumers of the protocol be required to convert dtypes.

Tradeoff is that type conversion might be costly.  If we pass in different dtypes then code gets more complex (

[2020-04-30 00:18] dabacon commented on #666
I think this is an important point.  Sometimes gates have a group structure and this allows for gates to be composed via this group operation.  In general I think we want this to be the responsibility of the gate type itself.  There is another great example of this which is Clifford gates and Pauli gates.

I think there is a good question whether Cirq should be responsible for this or whether crea

[2020-04-30 00:32] dabacon commented on #673
Is this still an issue?   This is now in optimizers.merge_interactions.

[2020-04-30 00:40] dabacon commented on #679
We currently have
[code]

[2020-04-30 00:40] #679 closed

[2020-04-30 00:51] dabacon commented on #682
We don't have many implementations of this.  It is probably most urgent for "heavy" objects since otherwise it uses repr.

[2020-04-30 17:24] dabacon commented on #682
Here is a pass on object we should consider making sure we have this for
[code]
Some of these may already be done or covered by superclasses.

[2020-04-30 19:31] dabacon opened #2949 "EngineProcessor should return Device intead of proto"
Currently we have get_device_specification, but that returns a proto.  Typically you take that and then pass it directly to a SerializableDevice.from_proto.  It would make more sense, I think to just have get_device() on the EngineProcessor which returns the cirq.Device object.

Is there something in the proto that doesn't end up in the device that is important?

[2020-04-30 22:28] dabacon commented on #682
I guess we also have guidance to use _repr_pretty_ for Gates.  So we should do a complete audit.

[2020-05-01 03:50] dabacon commented on #685
[code]
then
[code]
shows
[code]
So it does look like you can get the display width.

Do we think this would be strange to change behavior if it is too wide?

[2020-05-01 03:54] dabacon commented on #728
We now have the `_commutes_` protocol for this, thought it has problems.

The fundamental problem is that objects that directly implement it need to know the set of other gates that it can act on.  Without the notion of "belong to these gates which form a group" this ends up being a rather bad blowup.

Closing this issue since we have a protocol, but think we should think about how this should wor

[2020-05-01 03:54] #728 closed

[2020-05-01 03:59] dabacon commented on #751
Point 2 is done.
Point 3 is no longer relevant.

It looks like the remaining work would be to take metrics from engine and support them as the costs.

[2020-05-01 04:04] dabacon commented on #775
This is now fixed.

[2020-05-01 04:04] #775 closed

[2020-05-01 04:07] dabacon commented on #777
`JobConfig` no longer exists.  We have moved away from using resource ids in the client code.  All that code should now refer to specific ids (project_id, program_id, job_id).  These are accessible attributes on relevant objects.

[2020-05-01 04:07] #777 closed

[2020-05-01 04:08] dabacon commented on #788
This is at the front documentation page.   Documentation revamp should consider this.

@karlunho

[2020-05-01 04:31] dabacon commented on #791
@JulianSKelly for posterity what numbers would you recommend for xmon gate speeds (we currently have 50 ns CZ and 20 ns XY)?

[2020-05-01 04:40] dabacon commented on #798
Suitably updated (no more `from_ops`) this still throws an exception.

I believe this is still a bug.

[2020-05-01 04:40] dabacon commented on #798
There is some validation in these methods, but apparently not enough.

[2020-05-01 04:45] dabacon commented on #849
I'm going to close this. We now have two placement/routing codes in Cirq, one in Google and one in contrib.  I think we should think about whether a general location is suitable.  Of course there are also a lot of algorithms to explore in this space, so we would likely want to leverage previous algorithm work.

[2020-05-01 04:45] #849 closed

[2020-05-01 04:47] dabacon commented on #852
A possible documentation page to think about @karlunho a notebook or page with all of the gates (gate zoo)

[2020-05-01 04:49] dabacon commented on #871
I believe our simulators now all support passing in a `numpy.dtype`.  Please someone open this if they know otherwise (of course Clifford simulator doesn't do this, btw).

[2020-05-01 04:49] #871 closed

[2020-05-01 05:26] dabacon commented on #889
Closing this as likely this is legacy from wonky xmon simulator.  If this is still to slow for some reason, please reopen, hopefully with some timings showing the issue.

[2020-05-01 05:26] #889 closed

[2020-05-01 05:41] dabacon commented on #908
I think what is missing here is just a simple method that creates the Callable between cirq.Qid's that is used in Circuit.with_device.  Actually I think can just pass lambda x: x+(1,2) to do the appropriate displacement.

Keep this open as it might be nice to add this to doc string for with_device

[2020-05-01 05:41] dabacon commented on #908
@karlunho

[2020-05-01 05:55] dabacon commented on #914
I think changing the clear length to include negative will conflict with the way the PointOptimizer iterators through the circuit, so I don't think we can update the clear as described.

I'm going to close this, but if you can think of a good way to do this iteration and then have a pattern matching replacement like you mention, please reopen.

[2020-05-01 05:55] #914 closed

[2020-05-01 05:59] dabacon commented on #936
https://github.com/ngnrsaa/qflex currently has a Cirq interface.  There are other low depth simulators.  I don't we have a plan to add these directly into Cirq unless there is high demand, but we welcome other simulators to write Cirq interfaces (and we can help with this!)

[2020-05-01 05:59] #936 closed

[2020-05-01 06:07] dabacon commented on #940
Currently the simulators default to decompose first, so this shouldn't happen.

Still think decompose is dangerous and should be handled with care :)

[2020-05-01 06:07] #940 closed

[2020-05-01 06:15] dabacon commented on #941
WaveFunctionSimulatorState should have a way to pass in the PauliSumLike that you want to calculate the expectation of.

[2020-05-01 15:56] dabacon commented on #942
Since we've abandoned displays, we should revisit the main gist of this request, which is an easy way to measure in different Pauli eigenstate basis.

This could be

1. A composite gate which takes in the PauliString and a key and is a gate and that decompose spits out the correct rotations followed by measurement.
2. A helper that returns an iterator of this gates, something like `Cirq.measure_pa

[2020-05-01 15:57] JulianSKelly commented on #791
I would use 45ns CZ and 15 ns XY

[2020-05-01 16:03] dabacon commented on #958
Placement is challenging, and the acquaintance module in contrib is one answer to this.  The question is whether we want other simple solutions for this for uses who want to build these circuits.  I think @Strilanc suggestion is good and don't see a reason why this basic primitive should be put into device.

[2020-05-01 16:06] maffoo commented on #942
It would be nice if this produced parameterized rotation gates for the basis change, so that one could potentially measure many different pauli strings as part of a sweep over parameters. There's also #2781 that tries to tackle this in a more general way.

[2020-05-01 16:14] dabacon commented on #930
Some thoughts on this old issue.

We have `Moment`s and we have `Operation` that act within a moment.  When an `Operation` can be decomposed into multiple gates, this implicitly breaks the idea of a `Moment` being a slice with `Operations` that do not act on different `qubits`.  For some consumers of `Moments` this is great: for a simulator it is great to be able to expand out the gate and one can

[2020-05-01 16:21] dabacon commented on #970
I still think this is a viable primitive.  The real use would be if you are using this with parameters that are sweepable in some way, i.e. if you aren't just using this to generate single circuits (in which case like @Wuggins says just write a function of the parameters).

Would be curious to hear more feedback on if this is still something that feels useful.

[2020-05-01 16:28] dabacon commented on #993
This is done and is called `STATE_VECTOR_LIKE`.

[2020-05-01 16:28] #993 closed

[2020-05-01 16:28] babbush commented on #970
For me this still feel useful.

[2020-05-01 16:30] dabacon commented on #1002
@karlunho this was some old discussion of organizing examples, tutorials, etc.

I think this conversation is now obsolete by new efforts to sort this out.  Closing.

[2020-05-01 16:30] #1002 closed

[2020-05-01 16:34] dabacon commented on #1030
The simulators currently use `np.complex64` but there are other places where the default is still `np.complex128`.

[2020-05-01 16:41] dabacon commented on #1060
2 is definitely better.  Certainly there is a sense in which the move operations map down to real hardware commands.  Because I like gates and operations and not new operation classes, I would suggest a fix which is a `ShuffleGate` that corresponds to moving the qubits.  Simulators would need to be updated to support this without doing the permutation directly on the state (i.e. keep a map of qubi

[2020-05-01 16:48] dabacon commented on #1086
Closing this because it roughly exists.

[2020-05-01 16:48] #1086 closed

[2020-05-01 16:51] dabacon commented on #942
Yes would suggest something like `measure_paulis` which could take in multiple pauli string like and then produce the circuit along with the parameters.

[2020-05-01 17:10] Wuggins commented on #970
Yeah, definitely! Although I think there have been two separate issues discussed in this thread and I would love to see solutions for both of them.

1. It would be great to have a way of variationally adjusting some or all of the gates in a circuit that was specified without symbolic parameters to begin with. This was the original suggestion and it would be great for taking circuits which serve as

[2020-05-01 19:00] dabacon commented on #1088
It is easy to modify the benchmarker in dev_tools/profiling if we want to do this.  There is also a repo https://github.com/Roger-luo/quantum-benchmarks/blob/master/RESULTS.md which compares different simulators, which I think is sufficient.  We also have effectively performance regression tests in the tests that simulate examples.

I'm going to close this as it's not clear it belongs in Cirq.

[2020-05-01 19:00] #1088 closed

[2020-05-01 20:33] dabacon commented on #1126
This could have been fixed by #2434

I don't think there is enough info to reproduce this or understand what went wrong.  Closing.

[2020-05-01 20:33] #1126 closed

[2020-05-01 20:47] dabacon commented on #1142
This looks to have been fixed in #1342 .
[code]
produces
[code]

[2020-05-01 20:47] #1142 closed

[2020-05-01 20:52] #1163 closed

[2020-05-01 21:00] dabacon commented on #1179
I think the plan of record is documented in #1731.  I'm going to close this, though we need to get #1731 back on track as it is a better solution.  There is a comment on #1731 about this issue so should that not work out we should revisit this.

[2020-05-01 21:00] #1179 closed

[2020-05-01 21:01] #791 closed

[2020-05-01 21:14] dabacon commented on #1188
This is a bit vague, but my guess is that this is a task to make
```convert_markdown_mathjax_for_rst```
from `docs/conf.py` to work with the code the that the Napolean extension (Google docstrings) has processed i.e.  the code that is skipped here https://github.com/quantumlib/Cirq/blob/6271cb62ddfc0ba9121140a60cc7e1faf39da77e/docs/conf.py#L96

[2020-05-01 21:23] dabacon commented on #1189
An example can be found in
https://cirq.readthedocs.io/en/stable/generated/cirq.phase_by.html
where we see an un-escaped `_phased_by`

[2020-05-01 21:28] dabacon opened #2953 "Protocol documentation are missing methods"
Likely because they are private!

It looks like a workaround might be to include
[code]
in the docstring

[2020-05-03 13:42] dabacon commented on #1195
This should now be handled by the serializable gate set as well as custom optimizers for the different gate sets (though of course this later is not unique).

[2020-05-03 13:42] #1195 closed

[2020-05-03 13:44] dabacon commented on #1207
I'm going to close, though there might be consideration in documentation for pointing to the release notes more prominently.

[2020-05-03 13:44] #1207 closed

[2020-05-03 13:56] dabacon commented on #1226
@Strilanc I think this is maybe stale with current BlockDiagramDrawer.  Do you think there is more that needs to be done?

[2020-05-03 13:57] dabacon commented on #1243
This is now doable by creating a program, then creating jobs under this program.

[2020-05-03 13:57] #1243 closed

[2020-05-03 14:12] dabacon commented on #1245
There are a couple parts of this issue that are actionable (qubit labels), and there has been a move to separate out block diagram from text diagram.  We can either make this issue track those, or close  this an open, but I'm not sure this issue is well defined enough as is.

[2020-05-03 15:53] tanujkhattar opened #2956 "Comments in ThreeDGridQubit in pasqal_qubits.py"
The comments under `ThreeDGridQubit` in `pasqal_qubits.py` say

[code]

It is confusing whether the ordering across lines is also supposed to hold? i.e.

[code]

Clearly,  the ordering does not hold true.

[code]

This is should be made more clear/fixed.

[2020-05-03 16:18] dabacon commented on #1286
Part of the reason to make sure to specify atol for `assert_all_close_up_to_global_phase` is likely that we are modeled after numpy's downstream `is_close`.  Numpy's method is not symmetric.  The guidance in documentation https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.isclose.html is that you should select this carefully (also known as until your tests pass).  That said, even nu

[2020-05-03 16:27] dabacon commented on #1288
I think this still makes sense and the return type should be `ndarray`

[2020-05-03 16:31] dabacon commented on #1289
This is implemented in `cirq.von_neumann_entropy`

[2020-05-03 16:31] #1289 closed

[2020-05-03 16:34] dabacon commented on #1290
It would be useful for someone to do a deep dive into qpic and list the advantages and disadvantages versus qcircuit.

One significant advantage to qpic is that it has an open source repo https://github.com/qpic/qpic so if we run into shortcomings we could contribute upstream.

[2020-05-03 16:35] dabacon commented on #1291
Factories should be provided as needed.  For measurement it seems the result is fairly usable.

[2020-05-03 16:35] #1291 closed

[2020-05-03 16:38] dabacon commented on #1297
We need an updated example of this. @vtomole do you see somewhere else in the documentation where this is a problem?

[2020-05-03 16:47] dabacon commented on #1309
If we go down this direction it seems like we should consider it as part of a generic addition of support for  basis expansions outside of the pauli basis (all hail the hegemony of the Pauli matrices!)

[2020-05-03 17:07] vtomole commented on #2956
@lhenriet

[2020-05-03 18:23] dabacon commented on #1325
This should be done for the simulator.

[2020-05-03 18:36] dabacon commented on #1347
Do we have a handle on how these install instructions should differ?

I think we already recommend using `pip -e` in recommendations.

[2020-05-03 18:39] dabacon commented on #1353
From #1235

return ('cirq.ops.controlled_gate_test.'
'GateUsingWorkspaceForApplyUnitary()')

[2020-05-03 18:40] dabacon commented on #1357
There is a concrete proposal to move to a protocol `_acts_on_` and this would be fixed as part of this.

[2020-05-03 18:41] dabacon commented on #1359
Displays are no longer supported.  Closing.

[2020-05-03 18:41] #1359 closed

[2020-05-03 18:48] dabacon commented on #1452
Is this for measurement and reset?  Or for actual destructive measurement?

Channel for measurement and reset to 0 has
A_0 = [[1, 0], [0, 0]]
A_1 = [[0, 1], [0, 0]]
(you can also reset to different basis, so it might be useful to build the correct primitive version of these that are basis dependent).

If it is a real destructive measurement (qubit disappears, like a photon) then probably then the

[2020-05-03 18:49] dabacon commented on #1452
Related #1357

[2020-05-03 18:56] dabacon commented on #1386
Currently if a program has a device when passed into engine we validate it.  We don't do any decomposition and a user must specify a serializable gate set.

Think this issue is now stale for those reasons.  Closing.

[2020-05-03 18:56] #1386 closed

[2020-05-03 19:00] dabacon opened #2957 "Change default serializable gate set in Engine from XMON"
1. This isn't documented in doc strings
2. Should this be upgraded to something more modern?
3. I assume lots of uses are having to specify this for every call, is this something that we should have an Engine level default for?  I think we have steered away from that pattern.

[2020-05-03 21:41] dabacon commented on #1487
This is probably another vote fore #1290 especially if qcircuit isn't being updated.

[2020-05-03 21:43] dabacon commented on #1492
Let's track this here and close #1290

[2020-05-03 21:43] dabacon commented on #1290
Tracking this in #1492

[2020-05-03 21:43] #1290 closed

[2020-05-03 21:50] dabacon commented on #1527
This this discussion is obsolete given current code which uses `mixture` versus `channel_mixture`.

[2020-05-03 21:50] #1527 closed

[2020-05-03 21:59] dabacon commented on #1539
A version of this exists in `pauli_sum_collector` for samplers.  I'm going to close this, because I think we are moving to that pattern, though there is still work to be done there.

[2020-05-03 21:59] #1539 closed

[2020-05-03 22:10] dabacon commented on #1543
This looks to be fixed.

[2020-05-03 22:10] #1543 closed

[2020-05-03 22:15] dabacon commented on #1561
Currently we still have `PauliStringGateOperation`.  It is not at all clear why this is necessary.  Certainly PauliStringPhasor is a well defined gate time.

[2020-05-03 22:22] dabacon commented on #1564
We had an example and a tested notebook but this appears to no longer exist.  Tutorials jupyter notesbooks in docs do not appear to have tests.

[2020-05-03 22:24] dabacon commented on #1601
This is done with concept of `control_values`.  There is a question of a further generalization in which the different basis states are mapped to different operations, but closing this for now.

[2020-05-03 22:24] #1601 closed

[2020-05-03 22:25] dabacon commented on #1607
This still exists in 0.8:
`ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.`

[2020-05-03 22:44] dabacon commented on #1611
I think the proposed solution keeps the meaning of `is_parameterized` clean.  It does however mean that consumes of the objects need to always try to cast numeric values when they are consumed.  It would be good to try the solution to see what those later look like and if they are maintainable / reasonable

[2020-05-03 22:48] dabacon commented on #1611
Verified that this is still an issue.

[2020-05-03 22:52] dabacon commented on #1628
I don't think we have any plans to support jax and don't currently see a way to do this without a major overhead.  Someone could try getting it working to see how much of our current numpy code works, but currently support for Cirq symbolic differentiation resides more in TensorFlow Quantum.

Going to close.

[2020-05-03 22:52] #1628 closed

[2020-05-03 23:04] dabacon opened #2958 "Mølmer–Sørensen gate should be disentangled from XX parity gate"
The Mølmer–Sørensen gate is nothing more than
`ops.XXPowGate(exponent=rads*2/np.pi, global_shift=-0.5)`
But in general that gate is usually only called that by the ion trap community (since it referes to a specific very cool trick to couple via an oscillator mode).  Right now we special case XXPowGate names when it is this gate.

This also leads to a strange coupling between ops and ion, not in co

[2020-05-03 23:06] dabacon commented on #1636
I've create #2958 here about further disentangling MS and XXPowGate naming.

[2020-05-03 23:10] dabacon commented on #1642
We need to reaudit these todo issues.

[2020-05-04 05:59] lhenriet commented on #2956
Thanks for pointing out this typo !

[2020-05-04 13:39] dstrain115 commented on #2949
Completed in #2954

[2020-05-04 13:39] #2949 closed

[2020-05-04 15:18] maffoo commented on #2957
Internally, we have code where we default the gateset to `None`. When a circuit is submitted and no gateset is specified, we try each gateset that the engine says it supports in turn until we find one that can serialize the given circuit and then use that. In practice, the first gateset that the engine claims to support should be the full "fsim" gateset, which can basically serialize any allowed c

[2020-05-04 16:25] dabacon commented on #1622
Confirmed this is still true.
[code]
returns
[code]

[2020-05-04 16:27] dabacon commented on #1623
This seems to have been completed.  At least for the stated example :)
[code]
gives
[code]

[2020-05-04 16:27] #1623 closed

[2020-05-04 16:37] dabacon commented on #2199
The AQT api does not seem to have a measurement gate.  This issue is to add measurements to generation of cirq circuits from the api when it gets measurement gates.

Currently blocked on AQT api.

[2020-05-04 16:51] dabacon opened #2961 "Clifford optimize needs documentation"
It is a custom optimization routine.  Does not appear to be connected to the body of work on optimizing Clifford circuits (see for example https://arxiv.org/abs/quant-ph/0304125 and papers that cite that one)

[2020-05-04 16:55] dabacon opened #2962 "Clifford optimize either should support more general pauli phases or make assert"
In the code to merge Clifford operations there is code that only works if a pauli string coefficient is $\pm 1$.  If not it raises a NotImplementError, lines that are not tested :(

My suspicion here is that at this point the phase can only be these two values, but someone will need to better understand this code and the associated TODO.

[2020-05-04 17:00] dabacon opened #2963 "Update code for when Engine metric qubits are formatted differently"
There is currently code in calibration.py that looks at qubit ids that start with `q` and removes this `q` before getting the grid qubit.  If the API no longer returns `q` prefixed code this should be removed, otherwise if we are going to continue to support this we should add it to `grid_qubit_from_proto`.

[2020-05-04 17:04] dabacon commented on #2217
Specifically this is the annealing sequence search strategy, which needs to be made more efficient.

[2020-05-04 17:11] dabacon opened #2964 "Serializable device should validate args during op validation"
Currently it doesn't check that the args match for gates. See TODO in `serializable_device.py`

[2020-05-04 17:12] dabacon commented on #2964
Assigned this one to @dstrain115 because he left the TODO with his name in it, but feel free to unassign :)

[2020-05-04 17:16] dabacon commented on #2195
Currently the measurement is hard coded to `m` and ignores a key that might be supplied in the circuit.

This is related to #2199 because AQT always assumes terminal measurements.

Let's use #2199 to track as they are very related (likely AQT currently ignores measurements because always assumes terminal measurements).

[2020-05-04 17:16] #2195 closed

[2020-05-04 17:18] dabacon commented on #2199
Combining this with another TODO in the AQT code.  In aqt_sampler.py there is a TODO about not hard coding the measurement.  Likely this is because AQT assumes terminal measurements.

[2020-05-04 17:32] dabacon opened #2967 "Quantum volume should handle routing of parity bits better."
Quoting the TODO

[2020-05-04 17:41] dabacon opened #2968 "Fix boundary cases for incremental coverage"
1. Code that strips end of line comments will also do this if a `#` is in the middle of a string.
2. The code that finds end of scope will be less indented.
3. There is a comment that we dot not correctly handle multiline comments or strings in determining whether this is handled in the coverage report. We need an example of this problem as it doesn't seem to be a problem.

[2020-05-04 17:58] dabacon opened #2969 "Add to heatmap visualization tests"
In the `test_colorbar` test there is a comment about testing that the position size and pad arguments are respected.

[2020-05-04 18:02] dabacon opened #2970 "Common mod near integer and integer multiple of pi code should be refactored"
In `convert_to_sqrt_iswap.py` we use code to dermine closeness to an integer or a 2 pi times an integer.  These helpers appear in a lot in gates and should likely be included in some utility location.

[2020-05-04 18:03] dabacon commented on #2970
Alternatively ideas of actual discrete gate sets could be developed which handle these parameter range checking intricacies

[2020-05-04 20:18] dabacon commented on #1686
Closing unless we think there are places where this is causing confusion.  As was mentioned you can get confused between the rows and columns of data frames, but I don't think not allowing them to overlap is a good idea (it's a strange restriction that just adds complexity while only supporting a few people who might possibly get slightly confused).

[2020-05-04 20:18] #1686 closed

[2020-05-04 20:23] dabacon commented on #1739
Sampler ended up being a different concept, with run being reserved to return the TrialResult while sample returns the dataframe.  TrailResult also gives access to the dataframe via `data`.

[2020-05-04 20:23] #1739 closed

[2020-05-04 20:27] dabacon commented on #1740
An example of a channel to test mixtures with can be created using `cirq.bit_flip`.

[2020-05-04 20:35] dabacon commented on #1750
I think hiding in this issue is whether we should standardize that states are (d_1, d_2, ..., d_n) shaped tensors or not.

Certainly there are places where we have some idea about the shape (from the `qid_shape` protocol), so we could write a helper to check if such objects were consistent.

[2020-05-04 20:41] dabacon commented on #1755
What is desired behavior?  I think in this case it makes sense that the disapprove should have to marked as stale in order to submit?

Code that would need to be modified if we change this is https://github.com/quantumlib/Cirq/blame/master/dev_tools/auto_merge.py#L731

[2020-05-04 20:47] dabacon commented on #1778
I don't think such a variant exists that excludes packages.

I think there exists a workaround which is to do your work in a virtual environment or container where you have better control over your defaults and don't use system defaults.

I'm going to close this as we don't currently have a plan to make a minimal dependency version of Cirq.

[2020-05-04 20:47] #1778 closed

[2020-05-04 20:48] dabacon commented on #1780
This was done in #2649

[2020-05-04 20:48] #1780 closed

[2020-05-04 21:00] dabacon commented on #2382
This is definitely not correct behavior (verified it still exists).

[2020-05-04 21:03] dabacon commented on #1783
This is certainly a bug.

@Strilanc I think design for `_act_on_` should consider problems like this.

[2020-05-04 21:11] dabacon commented on #1795
Current behavior is still as described
[code]
Ultimately this is somewhat tied to concepts of a gate set, however I don't see a good case not to keep them equal since it really only occurs now for specific defined values of the gates where they are equal.

I'm going to close as we have other places where gate set is argued for and against.

We should open if there are places where this causes user

[2020-05-04 21:11] #1795 closed

[2020-05-04 21:16] dabacon commented on #1801
This is now done as one of the actions during CI.

[2020-05-04 21:16] #1801 closed

[2020-05-04 21:20] dabacon commented on #1803
Also the opposite is often useful: to push everything closer to a final measurement.  That's described in #1932

[2020-05-04 21:29] dabacon commented on #1806
This looks to have been done.

[2020-05-04 21:29] #1806 closed

[2020-05-04 21:35] dabacon commented on #1807
I'm not sure flattening to int is the right call for all users though it appears that this was done.

At the very least this needs to document the endian-ness of this conversion, which is not done in `TrialResult`.

Also this will fail at 64 qubits because pandas data type is int64 in our current code.

[2020-05-04 21:41] dabacon commented on #1807
Oh this does work, my bad.  Closing this issue.

We do need to document this in sampler.

[2020-05-04 21:41] #1807 closed

[2020-05-04 21:43] dabacon opened #2972 "Sampler should document big endian nature of Pandas dataframe"
We document this in `TrialResul` but no in sample.  Documentation should also reference unpacking and packing methods like `cirq.big_endian_bits_to_int`

[2020-05-04 21:44] dabacon commented on #1808
This seems reasonable.  I suspect not many people use TrialResult directly as a name, only as a consumer (Though maybe if they are doing type annotations).

[2020-05-04 21:51] dabacon commented on #1815
I think there are many issues here.  Let's make this one about the first issue which is adding to classes that implement protocols the docstrings related to protocols.  This seems pretty reasonable.

The other idea here about giving lists of the protocols seems a bit harder to do automatically and really the api documentation should be doing some of this.  A documentation page that describes all o

[2020-05-04 21:53] dabacon opened #2973 "Document protocols, how they work, and how they interoperate"
Brought up in #1815 we don't have a good location for looking at all the protocols and their signatures (and #2939 means the classes for the protocols are essentially undocumented).  We should make documentation for the protocols since they are less discoverable.

[2020-05-04 21:55] dabacon commented on #1826
Still a problem after move to Github Actions.

[2020-05-04 21:58] dabacon commented on #1831
We are currently at 3.8.0, but I still see a lot of these warnings.

@maffoo is there a reason for us not to go to 3.9?

[2020-05-04 22:01] dabacon commented on #1835
I don't think noise is generally composable like this and would recommend that we don't pursue this as it probably encourages bad patterns (my noise model is bit flip followed by probabilistic unitary followed by depolarizing...that's to really a reasonable noise model).

[2020-05-04 22:49] maffoo commented on #1831
Should be ok to go to 3.9. We're still on 3.8 internally, but it's an easy upgrade.

[2020-05-04 23:59] dabacon commented on #1837
We haven't had objections to this proposal, removing proposal from title.

[2020-05-05 00:10] dabacon commented on #1850
I'm trying to reconcile the title of this issue with the description which appears to mean to augment the phase_by protocol.

What would be even better is if we could generalize this protocol for describing the logic behind these types of transforms.

[2020-05-05 16:27] lhenriet commented on #2956
Thanks for pointing out the typo. Issue resolved together with the current pull request for adding docs: https://github.com/quantumlib/Cirq/pull/2947

[2020-05-05 21:09] dabacon commented on #1856
A quick grep shows we have very little use of `Example:` that has code after it.  Going to close as I think we don't have enough usage of this.  I believe one can always use `>>>` after example as a workaround as is done for example in https://github.com/quantumlib/Cirq/blob/33194ad3a2f4c28c48417876ff7dd1a6732d3e41/cirq/sim/density_matrix_simulator.py

[2020-05-05 21:09] #1856 closed

[2020-05-05 21:37] dabacon commented on #1861
For anyone who wants to investigate this, probably you need to understand this perl gem
`perl -ne 'chomp(); if (/@@ -\d+(,\d+)? \+(\d+)(,)?(\d+)? @@/) {$end=$2+($4 or 1)-1; print "--lines=$2-$end "}' \`
in format-incremental.  A good test file is `grover.py` following @cduck s instructions.

[2020-05-05 21:43] dabacon commented on #1866
This is one of the github actions now.

[2020-05-05 21:43] #1866 closed

[2020-05-05 21:47] dabacon commented on #1888
This is fixed.

[2020-05-05 21:47] #1888 closed

[2020-05-05 21:56] dabacon commented on #1890
The pattern that is recommend is documented in `docs/dev/plotting.md`.

[2020-05-05 21:56] #1890 closed

[2020-05-05 22:10] dabacon commented on #2534
Is there a reason we shouldn't just flatten for users?  User has original parameters and circuits with formulas.  We calculate new parameters where there are no formulas.  Use that for simulation or execution.  All user cares about is associating original parameters with these results, or am I missing something?

[2020-05-05 22:17] dabacon commented on #1951
I think it only makes sense for this to produce Cliffords, then do translation to native gate sets.

[2020-05-05 22:17] #1951 closed

[2020-05-05 22:19] dabacon commented on #1958
This is now supported by using an `EngineProgram` instead of a circuit.

[2020-05-05 22:19] #1958 closed

[2020-05-05 22:27] dabacon commented on #1968
Fixed in #2052

[2020-05-05 22:27] #1968 closed

[2020-05-05 22:43] dabacon commented on #1986
This is growing stale and we probably need someone to repo again to make progress.

[2020-05-05 22:49] dabacon commented on #2000
These have been moved to the qis module.

[2020-05-05 22:49] #2000 closed

[2020-05-05 22:53] dabacon commented on #2014
More support has been added for simple math.  Do we have more we'd like to add?  I'd recommend we close until we see if there is more complicated math that starts showing up that we need to serialize.

[2020-05-05 22:57] dabacon commented on #2030
get processor and list calibrations are done.  But all in first batch are not currently supported.

[2020-05-06 00:01] mpharrigan commented on #2014
Sounds good to me!

[2020-05-06 00:01] #2014 closed

[2020-05-06 00:05] dabacon commented on #2039
Done in #2105

[2020-05-06 00:05] #2039 closed

[2020-05-06 00:31] dabacon commented on #2041
This feels like a case where the code should use the larger type.

[2020-05-06 00:38] dabacon commented on #2047
This does look broken to me. @viathor for comment.

[2020-05-06 00:41] #2062 closed

[2020-05-06 01:01] Strilanc opened #2978 "sphynx/readthedocs not listing/generating class method documentation"
For example, https://cirq.readthedocs.io/en/stable/generated/cirq.Moment.html has no list of the methods of `cirq.Moment`.

[2020-05-06 16:53] dabacon commented on #2064
The test should set a seed for the simulation.

[2020-05-06 17:11] dabacon commented on #2069
The derivative of the unitary of a circuit / gate / op with respect to it's parameters is well defined, it just isn't necessarily a circuit itself (for example if your gate is exp(i (alpha |0><0|) the derivative turns this into a circuit with a post select |0><0| element).  This could be useful for work where you need to calculate this for other uses.

[2020-05-06 17:21] dabacon commented on #2072
This type of representation makes the most sense for general matrices and makes me think we should have a separate class for this, with implicit type conversion when using gates or operations in this class.

It would be nice if we could write code like
`(P.X | P.X) | (P.YY + P.YY)`
(`I` used or for tensor product but probably a debate about what that symbol should be).

[2020-05-06 17:34] dabacon commented on #2075
Current state is that we still have multiple ids, but we no longer have places where a single string is acceptable.

There is a good case to not have a default.
There is a good case for having a `processor_id`.

The badness of having both `processor_id` and `processor_ids` is a cluttering of the signature of the method.  These methods already have a pretty big list of optional specification, so bu

[2020-05-06 17:35] dabacon commented on #2064
Should be fixed, but please reopen if we see flakes again.

[2020-05-06 17:35] #2064 closed

[2020-05-06 17:44] bryano commented on #1060
I propose moving `cirq.contrib.acquaintance.permutation` out of contrib. The `PermutationGate` there is what I think @dabacon means by a `ShuffleGate`.

One change I would make is to remove the restriction (which IIRC only affects typing and not runtime) of `LogicalIndex` to `int` and `cirq.Qid`.

[2020-05-06 17:44] dabacon commented on #2092
There is currently functionality for this in TensorFlow Quantum http://tensorflow.org/quantum (it's sort of one of its main purposes).

I don't think we should put this into Cirq core right now.  However it make sense to figure out how the flow from TensorFlow quantum to actually running against the hardware works, and whether there are ways to get the experiments that it runs to easily be exporte

[2020-05-06 17:44] #2092 closed

[2020-05-06 17:48] dabacon commented on #2102
We ended up with a pattern that ended up occurring was the ability get a sampler from the Engine.  One can use the sampler with an `EngineProgram` if one wants to create the program and then run it with different jobs.

[2020-05-06 17:48] #2102 closed

[2020-05-06 17:54] dabacon commented on #2122
This now uses the func arg language construction for a small subset of symbolic expressions.

[2020-05-06 17:54] #2122 closed

[2020-05-06 18:56] Strilanc commented on #2978
The relevant file to edit is probability `docs/conf.py`, which is the sphynx configuration code. For example, this is where the "skip member" method is defined ( https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#skipping-members ).

I recommend that, when testing changes, you temporarily reduce `api.rst` to only mention a single class. This makes document generation *way* faster.

[2020-05-06 19:04] maffoo commented on #2072
Python has a "matmul" operator that could be used for tensor product:
[code]

[2020-05-06 19:41] dabacon commented on #2128
Now standardized

[2020-05-06 19:41] #2128 closed

[2020-05-06 19:51] dabacon commented on #2139
See #1088 for a similar request.  We have a skeleton that can easily be used to generate this data.  As mentioned in that issue, there is currently a benchmarking repo which includes Cirq (but not qsim):
https://github.com/Roger-luo/quantum-benchmarks/blob/master/RESULTS.md

My concern with this is mostly that this adds a lot of dependencies mostly just for comparison's sake.  I would suggest if w

[2020-05-06 19:57] dabacon commented on #2142
I think this was fixed, and then there was a regression that was fixed.

@smitsanghavi are there more places that this needs to be implemented?  Could you list them if so, or close otherwise.

[2020-05-06 20:34] dabacon commented on #2143
We should probably avoid `state` as it is too generic and we do have notions of simulator state.

Github needs a "vote on this issue" feature.

At the top level from `__init__.py` here is the status:

Currently methods in `qis` use `state_vector` in method names except `validate_normalized_state`.  `state_vector` is also used in `measure_state_vector` and `sample_state_vector` in `sim`.  6 total u

[2020-05-06 20:52] dabacon commented on #2144
From a comment in that PR:

[2020-05-06 20:57] dabacon commented on #2164
`on_each` could be generalized for `SingeQubitGate`, for a two qubit gate it would just apply to pairs in the list.  For k-qubit gate it would just iterate in steps of size `k`.

[2020-05-06 20:59] dabacon commented on #2176
This now exists for single qubit noise.

[2020-05-06 20:59] #2176 closed

[2020-05-06 21:08] dabacon commented on #2182
For the purposes of this issue we should scope it to not killing `op_gate_isinstance` but we should definitely have these distance measures in the `qis` package.

[2020-05-06 21:22] dabacon commented on #2185
`is_adjacent` is used exactly twice outside of tests.  The first is in `xmon_device`.  The second is three_qubit_gates where code calls this to do the adjacency preserving CCZPowGate.

I think there is a strong preference by upvotes to remove `is_adjacent`.  I do think it can lead to bad code when, for instance, you ask about adjacency for qubits that are off the device.

I'm going to rename this

[2020-05-06 21:27] bryano commented on #2185
I'm not aware of anything that needs to be done to get it out of contrib, but I'm willing to spearhead that.

[2020-05-06 21:27] dabacon commented on #2191
Duplicate of #1357 so closing.  Don't think the linked code solves the problem mentioned.

[2020-05-06 21:27] #2191 closed

[2020-05-06 21:28] dabacon commented on #2198
This has been fixed.

[2020-05-06 21:28] #2198 closed

[2020-05-06 21:31] dabacon commented on #2202
Obsolete as was deleted in #2206

[2020-05-06 21:31] #2202 closed

[2020-05-06 21:32] dabacon commented on #2208
Covered in #2968

[2020-05-06 21:32] #2208 closed

[2020-05-06 21:33] dabacon commented on #2200
Covered in #2968

[2020-05-06 21:33] #2200 closed

[2020-05-06 21:33] dabacon commented on #2201
Covered in #2968

[2020-05-06 21:33] #2201 closed

[2020-05-06 21:35] dabacon commented on #2210
This is covered in #1357

[2020-05-06 21:35] #2210 closed

[2020-05-06 21:37] smitsanghavi commented on #2142
Implemented the following:
ZPowGate->CZPowGate->CCZPowGate
XPowGate->CXPowGate->CCXPowGate

This is all I intended to do and will close this for now. Please reopen if anyone has more suggestions for specialized controlled gates.

[2020-05-06 21:37] #2142 closed

[2020-05-06 21:37] dabacon commented on #2214
@cduck is the original author of this optimizer and it was later refactored.  My suspicion is that those are the only phases that can be handled, then this should likely become an assert.

[2020-05-06 21:43] dabacon commented on #2218
We used to have a restriction on only one zip and one product.  This is no longer true, so we should be able to serialize all parameter sweeps.  If this is not true, please reopen with an example.

[2020-05-06 21:43] #2218 closed

[2020-05-06 22:59] dabacon commented on #2256
For the reason @kevinsung lists I don't think this is feasible. If we were to put this in `Simulator` code one would have no way to do the monte carlo pure state simulator.

[2020-05-06 22:59] #2256 closed

[2020-05-06 23:00] dabacon commented on #2260
I believe this is a duplicate of #1617.  Going to close this one and move assignment.

[2020-05-06 23:00] #2260 closed

[2020-05-06 23:01] dabacon commented on #1617
@trevormccrt

[2020-05-06 23:04] dabacon commented on #1617
Can assign to @trevormccrt if he accepts invitation to be collaborator.

[2020-05-06 23:09] dabacon commented on #2072
My reason for suggesting `|` was that it does make sense to matrix multiply two pauli matrices, so that might cause confusion.  Who wants to lobby Python to add the first unicode magic method, ⊗? lol

[2020-05-06 23:16] dabacon commented on #2267
I believe that PauliSum now supports multiplication so this is obsolete.
Example
[code]
returns a valid `cirq.PauliSum`

[2020-05-06 23:16] #2267 closed

[2020-05-06 23:31] dabacon commented on #2274
@jkc1113 please reopen this if the windows specific install instructions do not work for you.  They are located at
https://cirq.readthedocs.io/en/stable/install.html#installing-on-windows

[2020-05-06 23:31] #2274 closed

[2020-05-06 23:36] dabacon commented on #2294
We ended up with a pattern where the sample is gotten from the engine and these other methods still exist.  See discussion in linked PR for why we can't remove them.  These were refactored.  Closing.

[2020-05-06 23:36] #2294 closed

[2020-05-06 23:37] dabacon commented on #2311
We now have `apply_channel` and `apply_mixture`.   @Strilanc is working on a common method `_act_on_` which may end up deprecating these.

[2020-05-06 23:37] #2311 closed

[2020-05-06 23:46] dabacon commented on #2324
#2468 notes that this fails sometimes due to a faulty numpy install (which causes the test to fail on windows).  Going to close this in favor of that issue.

FWIW did not fail on my machine.

[2020-05-06 23:46] #2324 closed

[2020-05-07 16:39] dabacon commented on #2347
I'm currently unable to reproduce this using either conda or using a virtualenv.

I'm going to close as this is a sort of strange corner case where the unstable and stable version are co-installed.

My only thought is that there could be someway to warn if you are about to do this.

[2020-05-07 16:39] #2347 closed

[2020-05-07 16:42] dabacon commented on #2360
This requires modifying dev_tools/build-protos.sh

[2020-05-07 16:45] dabacon commented on #2367
A basic example exists.

[2020-05-07 16:45] #2367 closed

[2020-05-07 18:14] #2403 closed

[2020-05-07 18:37] dabacon commented on #2411
This is an argument for making the measurement keys (plural) that @Strilanc has advocated.

[2020-05-07 18:52] dabacon commented on #2468
Closing this as we now mark this as failing on windows.  This looks to be downstream problem with installing numpy as per kevin's comment.

[2020-05-07 18:52] #2468 closed

[2020-05-07 18:56] dabacon commented on #2472
Somewhat related discussion which points out problems with PowGate and Rot gates : #1800

[2020-05-07 19:09] dabacon commented on #2476
@dstrain did you run into this while pushing documentation for 0.8.0?

[2020-05-07 19:14] dabacon commented on #2477
This is a duplicate of #2278  Closing that one as this has better details.

[2020-05-07 19:14] dabacon commented on #2278
Closing in favor of #2477

[2020-05-07 19:14] #2278 closed

[2020-05-07 19:37] mpharrigan commented on #2476
I think this was fixed long ago. The readthedocs dashboard shows nothing but success https://readthedocs.org/projects/cirq/builds/ and the 0.8.0 docs are built and served as "stable"

[2020-05-07 19:37] #2476 closed

[2020-05-07 19:41] mpharrigan commented on #2477
Did you close this by accident?

Duplicate of #2704 as well?

My comment (about adding Makefile) has been done

[2020-05-07 20:49] dabacon commented on #2517
I believe this has been fixed with the removal of `IdentityOperation`.

[2020-05-07 20:53] dabacon commented on #2536
The "this gate is really this gate" pattern is probably good, but one thing about it is that is really really hard to discover.  This might make the case that it should be a protocol.  Combined with #2939 which suggest adding protocols to docstrings automatically this could lead to better discoverability.

[2020-05-07 21:44] dabacon commented on #2553
This behavior is highly unexpected.  I'm marking as a bug since I think it means that PointOptimizer is broken in some way.

[2020-05-07 21:47] dabacon commented on #2570
Yeah generally this is probably not what is desired. I would suggest that we start by adding the ability to toggle between before and after and add deprecation warning about the default for this being switched.

[2020-05-07 21:49] #2579 closed

[2020-05-07 21:55] dabacon commented on #2582
I don't see a use.  We should deprecate and then delete.

[2020-05-07 22:10] dabacon commented on #2477
Oops good catch.

[2020-05-07 23:03] #2517 closed

[2020-05-08 16:47] dabacon commented on #2603
I think the way to do this in python is to use the binary prefix: `0b0010` or `0B0010`.  I'm going to change this to adding binary as example usage.

[2020-05-08 18:21] #2639 closed

[2020-05-08 18:32] dabacon commented on #2662
It appears to me that the PhasedXPowGate was not supported until #2801 .  I believe this is fixed (don't get error).  Please reopen if this is currently still not working and you are on Cirq 0.8.

[2020-05-08 18:32] #2662 closed

[2020-05-08 18:38] dabacon commented on #2678
Related #887

[2020-05-08 18:40] dabacon commented on #2685
Engine calls now have labels.

[2020-05-08 18:40] #2685 closed

[2020-05-08 18:54] dabacon commented on #2710
Making this the bug to track removing support for np.exp since it is elementwise exponentiation.  #2741 is issue to define `cirq.exp`.

[2020-05-08 18:58] kevinsung commented on #2710
We should probably do this in two steps:
1. Fix the actual bug
2. Drop the functionality

[2020-05-08 19:37] dabacon opened #2982 "Virtual Tag is confusing"
From the doc string:

It is strange that it both does and does not have duration.  The places this is used are for Virtual gates, which are gates that are compiled out when the circuit is run, and (potentially) in Channels where it means "ignore this because I've already touched it" #2719 #2789

These seem like different things.

[2020-05-08 19:39] dabacon commented on #2982
Oh I misread the documentation.  This is if they are in the same moment.  OK.  But still think we should be a bit more clear about virtual, since it is true that they have no duration, but they also have non-local effects on the execution of the circuit.

[2020-05-08 19:39] #2982 closed

[2020-05-08 19:42] dabacon commented on #2719
This appears to be done.  However I don't think "virtual" is the right tag.  Closing this and opening new issue for that.

[2020-05-08 19:42] #2719 closed

[2020-05-08 19:43] vtomole opened #2983 "Improvements to QUIL output"
Related to: https://github.com/quantumlib/Cirq/issues/2386 and https://github.com/quantumlib/Cirq/pull/2903/files

1. Simplify ` def _quil_` in `quil_output.py` That huge `return` statement can be simplified with a permutation.
2. Fix https://github.com/quantumlib/Cirq/pull/2903/#discussion_r412376163

[2020-05-08 19:49] dabacon opened #2984 "Virtual tag does not feel like correct tag for noise"
From the doc string:

This is very confusing because noise certainly has "duration".  Of course we only support "noise" in simulation (well on the quantum computers too haha).

Do we have an example of a noise composition that is useful?  Right now noise composition feels dangerous since noise does not commute and the new model is highly dependent on this ordering.

[2020-05-08 20:01] hanusaj commented on #2983
1. Adding a `gates_defined` variable to the `QuilFormatter` to replace the `rename_defgates` function.
2. Properly test the `fallback` function in the `_write_quil` function.

[2020-05-08 20:10] dabacon commented on #2727
Not sure why this is not failing for us, but this looks like your version of the protobuf parser does not like numpy bools.
I think this could be fixed by casting appropriately to bool in https://github.com/quantumlib/Cirq/blob/master/cirq/google/arg_func_langs.py#L131

[2020-05-08 20:11] dabacon commented on #2727
Note that we just release cirq 0.8, so it may be a bit before we get this fixed and in the next release.  (also thanks for getting this in Nix!)

[2020-05-08 20:14] vtomole opened #2985 "Doctest failing on Github actions"
[code]

[2020-05-08 20:16] cduck commented on #2985
Related to #2925.

[2020-05-08 20:18] dabacon commented on #2728
The first one just looks like accuracy issue which should be fixed.

The second one, about bool, is a duplicate of #2727

[2020-05-08 20:42] dabacon commented on #2728
For the first we will need a version of `np.is_close` or `np.are_almost_equal` that works for python dicts.

[2020-05-08 20:46] dabacon commented on #2737
There can never be too many implementations of state tomography :)

But yes we should unify these standard method of state tomography (there are many others).

[2020-05-08 20:53] dabacon commented on #2740
Note that one can do this already using code like this
[code]

[2020-05-08 20:57] dabacon commented on #2740
The only thing I can think beyond this that would help is if Moments could have user defined names.  Potentially this could also be used in more detailed diagraming as well.

[2020-05-08 20:58] dabacon commented on #2740
I'm going to change this over to the moment labeling suggestion, since I think you can do step through circuits nicely with step numbers and access to the last moment using the above pattern.

[2020-05-08 21:02] dabacon commented on #2742
Is there something concrete in Cirq we could do here?  Does the issue with numpy arrays come up in our objects?

[2020-05-08 21:05] alexandrupaler commented on #2740
Moment names would be a nice feature for debugging and visualisations.

I have also met situations where subcircuits (a sequence of moments) would be great to be named. Could sequences of moments with the same name (e.g. SUBCIRC) be drawn under the same moment parantheses?
[code]

[2020-05-08 21:11] dabacon commented on #2743
I think this is working as intended with the confusing (but python inspired) insert at index being interpreted as the boundary a la the discussion #2486  If I'm wrong, please reopen.

This does point out as described by #2775 how confusing it is to have insertion strategies in our insertion methods.

[2020-05-08 21:11] #2743 closed

[2020-05-08 21:25] dabacon commented on #2749
I think this is a case where ease of use would lead to very bad coupling.  Basically you have a noise channel being used as a noise model (ok, this was an added feature) and that noise model needs to be aware of a particular noise type to modify how it works (i.e. it needs to look at the duration of any gates it is associated with).  This feels like something that if it is supported should ONLY be

[2020-05-08 21:26] dabacon commented on #2749
(Also what Matt said, though you can define a "probability for unit time" and then use p*(t/t_unit))

[2020-05-08 21:30] dabacon commented on #2755
Is your main issue with the naming?  i.e. is #2143 your beef?

[2020-05-08 21:31] dabacon commented on #2757
@viathor also to comment

[2020-05-08 21:38] dabacon commented on #2769
Do we want to remove json_serializable_dataclass decorator?  It doesn't look like ti is used anywhere.

[2020-05-08 21:39] dabacon commented on #2785
This has been done

[2020-05-08 21:39] #2785 closed

[2020-05-08 21:54] 95-martin-orion commented on #2925
Is there a PR out for this? It looks like a lot of PRs are blocked on it...

[2020-05-08 21:54] dabacon commented on #2775
I agree the insert methods are confusing and hard to use (I usually fail the first time).  One part of this is that this is because they behave differently depending on the content of the container, and that's not something that we typically encounter.

I disagree a bit that this functionality should be put in optimizers, there is something particularly nice about using EARLIEST insertion strategy

[2020-05-08 21:58] dabacon commented on #2793
Alternative: create separate module which contains them (architectures)?

[2020-05-08 22:04] dabacon commented on #2798
I think what you want to do is make it a function that takes in the qubits and then either returns the list of operations (gates acting on qubits), or an iterator over these.  That way people can pass in their own qubits.
[code]
Then you can use just use there where you would with the actual qubits
[code]

Does this make sense?  (Hopefully I'm not missing something)

[2020-05-08 22:09] dabacon commented on #2799
I don't see a drawback except I would miss CirqBot's cute little face.

There is no reason we couldn't enable it and test it out for a while while keeping old autobot around.

[2020-05-08 22:13] cduck commented on #2925
I don't have time to make a PR.  Feel free to make my suggested change.  If are other examples that use matplotlib, they should probably also be fixed.

I'm not sure the best way to prevent the test order from affecting other tests in the future.

[2020-05-08 22:16] dabacon commented on #2802
`n_clifford_trials` is now called `n_measured_operators`.

[2020-05-08 22:28] dabacon commented on #2740
We likely need some notion of collections of `Moments` in order to get control flow to work, so I think we would want to understand that before adding this behaviors, but it is a good suggestion modulo that.

[2020-05-08 22:32] dabacon commented on #2809
I think we have decided to roll our own?  In my own investigation I preferred qutip.

[2020-05-08 22:33] dabacon commented on #2810
Qis it is!

[2020-05-08 22:33] #2810 closed

[2020-05-08 22:39] dabacon commented on #2816
Programs and jobs in Engine have labels which you should be able to set.

Because the sampler interface is rigid, we can't add it to the run sweep.

I guess we could add a mutable state on `EngineSampler` for these job and program fields
[code]
You'd need to set it each time, so maybe it would be
[code]

Other ways to do this?

[2020-05-08 22:41] dabacon commented on #2817
On the other hand we have had loser who have "lost their server" and could not figure out how to shut down their job.

Maybe the solution is to set this at a day or something like that.

[2020-05-08 22:43] dabacon commented on #2818
The serializable gate set is specific to Google, so I would suggest this as a separate sampler.

[2020-05-08 22:54] dabacon commented on #2819
This is an argument that devices should not be responsible for compiling, right?  I think this is very similar in nature to the debate over decompose.  What you want to compile into is context dependent and there is no often no "optimal" solution (especially because gate combinations that produce the same unitary may have different behaviors with respect to noise).

Do you have suggestions for wha

[2020-05-08 22:58] dabacon opened #2988 "Remove need to specify Gateset for Engine calls"
It should be possible for a processor to know if it will support the given gates and the user not to have to specify the gate set.  This might mean that it needs to query the device spec before hand.  We could cache this (for sampler interfaces this could be done at construction time of the sampler).  Branched off from #2819

[2020-05-08 23:00] dabacon commented on #2821
Yes!

[2020-05-08 23:07] alexandrupaler commented on #2819
The fact that a device is a tuple of (constraints, gate set, etc) can be seen independent of the reality of the device.

There may be multiple devices - virtual and real - and this helps imagine a pipeline of circuit compilation and optimisation. A maybe exaggerated example: RepetitionCodeDevice sitting on top of a IonTrapGeneralDevice that sends its output to a SimulatorDevice which exports Quil.

[2020-05-08 23:09] dabacon commented on #2853
Done in #2717

[2020-05-08 23:09] #2853 closed

[2020-05-08 23:11] dabacon commented on #2904
STATE_VECTOR_LIKE exists.  We likely need an equivalent for density matrices (should be different, though, right?)

This has not been added to fidelity in measures.py

[2020-05-08 23:12] dabacon commented on #2905
This is when you add the noise to the circuit?  I think that should remove the tags.

[2020-05-08 23:19] dabacon commented on #2915
I don't think this is the range that is causing the problem as you will also not get a fully normalized state if you do smaller angles.

At some point we did normalize between steps (we did this in old xmon sim), but we no longer appear to do this.

Suggest we add this back, though this will slow down simulation.

[2020-05-08 23:21] dabacon commented on #2916
This is for unstable builds, correct (no longer called dev builds, though we have that name in the scripts).

[2020-05-08 23:22] #2925 closed

[2020-05-08 23:25] dabacon commented on #2926
Assume this is now fixed in move to cirq version 0.8.0. Closing, please reopen if I'm wrong

[2020-05-08 23:25] #2926 closed

[2020-05-08 23:28] dabacon commented on #2940
Yes the device spec (and better yet the `device`) is on the processor, this should be updated.

[2020-05-08 23:30] vtomole commented on #2916
That's right; just re-titled the issue.

[2020-05-08 23:30] dabacon commented on #2941
Yes it should be exposed in `cirq.google`.

I don't think it should be default.  Technically it is a mutable container and one should not use mutable objects as defaults and instead use None.

[2020-05-08 23:32] dabacon commented on #2941
Oh I see this looks like a bug where the code is
[code]
and should be
[code]

[2020-05-08 23:38] dabacon commented on #2941
And noticed this refers to EngineProcessor not Engine so yes, should use a default of None.

[2020-05-08 23:39] dabacon commented on #2941
Looks like this is ubiquitous in the constructors of the Engine objects.

[2020-05-08 23:45] dabacon commented on #2941
Oh I see.  The idea is that you should only get to `EngineProcessor` via `Engine`.  Constructing it directly isn't what is intended.  This is why `EngineContext` is not exposed except at the file level.

I think we need to document this at least in the constructor that you should be getting this object through Engine.

[2020-05-08 23:45] #2386 closed

[2020-05-08 23:49] vtomole commented on #2985
Fixed by https://github.com/quantumlib/Cirq/pull/2987

[2020-05-08 23:49] #2985 closed

[2020-05-08 23:57] vtomole commented on #2809
Yeah, I prefer the rolling on own so we don't add another dependency.

[2020-05-08 23:57] #2809 closed

[2020-05-09 14:20] BillGatesNephew commented on #2798
Yeah that's very helpful! Thanks!

[2020-05-09 14:20] #2798 closed

[2020-05-10 05:33] aditya-giri commented on #2862
@Strilanc I'd like to pick this up if that's okay - sounds like an easy first issue to get started with.

[2020-05-10 05:43] aditya-giri commented on #2862
Just to clarify with an example, since I'm new here - this means that if you have a qutrit (say, with states 0, 1, 2, and currently in the superposition `01 + 12`) - and you call `apply_unitary` but with a qubit gate instead of a qutrit gate, the unitary will only act on the 01 component and not on the `12`. Is my understanding correct?

[2020-05-10 06:02] aditya-giri commented on #1742
@vtomole what would it take to get this done if I'm new to the code but I've worked with Qiskit previously and continue to do so?

[2020-05-11 15:54] #2900 closed

[2020-05-11 16:04] dabacon commented on #2727
I believe this is now fixed, but you will need to wait for Cirq 0.9.  If it is not fixed, please reopen.

[2020-05-11 16:04] #2727 closed

[2020-05-11 16:40] vtomole commented on #1742
@aditya-giri You can start with https://github.com/quantumlib/Cirq/issues/2983

[2020-05-11 16:47] aditya-giri commented on #1742
@vtomole Sure, lemme just familiarize myself with the code a little and then I'll get started. Would you be able to help me with that? Also can you look at #2862? Looks like some low hanging fruit for me to pick off.

[2020-05-11 16:52] vtomole commented on #1742
@aditya-giri Sure. it's good to start with `good first issues` if you are beginning. I just assigned that to you.

[2020-05-11 17:00] dstrain115 opened #2990 "Changing qubits in PointOptimizer causes ValueError"
The cirq.PointOptimizer class assumes that an optimizer won't change qubits (or at least won't change qubits in a way that pushes the new gate backwards).   If two gates are modified in the same moment to use the same qubits, a ValueError is raised.

A check similar to https://github.com/quantumlib/Cirq/blob/master/cirq/circuits/optimization_pass.py#L128
needs to be added at or around Line 148 to

[2020-05-11 17:01] vtomole commented on #2862
@aditya-giri  That's right.

[2020-05-11 17:01] aditya-giri commented on #1742
Great, thanks!

[2020-05-11 18:38] tanujkhattar commented on #2958
I'll create a new `MSGate` in `ion_gates.py` which derives from `XXPowGate` and would show the correct name in `repr`, `str` etc. Does this sound good?

[2020-05-11 20:26] mpharrigan commented on #2742
I think the only action item would be to document the above limitations. If any of our objects don't handle numpy nuances, that would be a bug and we should fix it; but I don't think there are any.

[2020-05-11 20:30] mpharrigan commented on #2755
Yes, closing as duplicate

[2020-05-11 20:30] #2755 closed

[2020-05-11 20:51] kevinsung opened #2991 "Add default values for Qid initializers"
Proposal:
- `cirq.LineQubit()` means `cirq.LineQubit(0)`
- `cirq.GridQubit()` means `cirq.GridQubit(0, 0)`

[2020-05-11 22:10] drewrisinger commented on #2727
Thanks for the fix. I can test it against that commit actually. Will report back

[2020-05-11 22:36] drewrisinger commented on #2727
Tested working with that commit on 0.7.0 & 0.8.0. Much appreciated @dabacon!

[2020-05-12 00:42] kevinsung opened #2993 "Module wrapping makes module members invisible to inspection"
https://github.com/quantumlib/Cirq/pull/2808 introduced `wrap_module` in `_compat.py` and used it to wrap the module `cirq.sim` in order to deprecate `cirq.sim.STATE_VECTOR`. It has the unfortunate side effect of making the module members invisible to inspection. For instance:
[code]
gives
[code]
which is missing all the members of `cirq.sim`. One problem that this causes is that `docs/docs_covera

[2020-05-12 12:21] aditya-giri commented on #2862
@vtomole does this also generalize to k-qubit gates applied to n-qubit systems (k<n)?

[2020-05-12 19:57] #2993 closed

[2020-05-12 23:47] kevinsung commented on #1288
Well, we could also make `trial_result[key]` return `trial_result.data[key]` instead of `trial_result.measurements[key]`. The return type would then be a Pandas Series. Now that I think of it, this ambiguity makes a case for not implementing this.

[2020-05-12 23:54] kevinsung commented on #1850
@dabacon I think what happened was that we discussed this issue during a Cirq sync and then decided to instead remove the SupportsPhase protocol using the plan in @mpharrigan's comment. Then I changed the title of this issue.

[2020-05-13 00:17] kevinsung commented on #2742
I'm actually in favor of implementing reversible serialization of Numpy arrays; this would be extremely useful, and the serialization protocol of TrialResult already does it.

[2020-05-13 00:24] kevinsung commented on #2769
It's used once in `experiments/cross_entropy_benchmarking.py` but that shouldn't prevent us from removing it.

[2020-05-13 01:47] mpharrigan commented on #2742
How do you want to do that?

[2020-05-13 01:48] mpharrigan commented on #2769
I would not object to removing it, if the drawbacks exceed the marginal benefit

[2020-05-13 04:21] dabacon commented on #2940
This has been fixed in latest documentation.

[2020-05-13 04:41] dabacon opened #3000 "Deprecate proto v1 in engine"
All downstream clients now support v2.

[2020-05-13 12:56] dstrain115 commented on #2620
This has been completed and is now available on readthedocs and in the repo:
https://cirq.readthedocs.io/en/latest/tutorials/hidden_linear_function.html

[2020-05-13 12:56] #2620 closed

[2020-05-13 12:57] #2817 closed

[2020-05-13 12:57] dstrain115 commented on #2817
Timeout is now configurable and defaults to not timing out.

[2020-05-13 13:00] dstrain115 opened #3001 "Add CPMG to T2 experiment"
The T2 decay experiment currently supports T2 and T2*, also known as Hahn echo and Ramsey, but it would be nice to also support a CPMG style T2 experiment.

[2020-05-13 14:04] drewrisinger commented on #2728
Failure 2 is resolved by #2986. Failure 1 is resolved by changing the following line: https://github.com/quantumlib/Cirq/blob/91e919ad54683747f99ccd3404d884d813fc9b5c/cirq/google/arg_func_langs_test.py#L108
to ``assert packed == {'arg_value': pytest.approx({'float_value': float(np.float32(sympy.pi))})}``

I've also found a similar issue to Failure 1 in ``test_convert_to_ion_gates()`` when I test (

[2020-05-13 15:00] #1325 closed

[2020-05-13 18:25] dabacon commented on #2143
At Cirq Cync we decided that we should use "state_vector".

From notes:
"all API names should say state_vector, docstrings should say state_vector first"

To do this we will need to first deprecate wavefunction methods and add state_vector methods.  This will go out in 0.9.0.  For 0.10.0 we will then remove deprecated methods.

[2020-05-13 18:33] Strilanc commented on #2958
You should also remove the MS naming from XXPowGate as part of adding it into MSGate.

[2020-05-13 18:42] Strilanc commented on #2991
What's the use case that this makes easier?

[2020-05-13 18:47] Strilanc commented on #2991
This doesn't seem like enough benefit for the corner case.

[2020-05-13 18:47] #2991 closed

[2020-05-13 18:59] dabacon opened #3002 "TrialResults seems to assume only boolean results"
Documentation says this but we think it should work for three outcome or more measurements.

We should

1.  verify it works for >2 dimensional outcomes
2. update doc strings

[2020-05-13 19:05] dabacon commented on #2676
This was discussed at Cirq Cync.

Arguments in favor:

1.  Allows one to check for if it is a mutable sequence using `isinstance`
2. Allows type annotation of collections.abc.MutableSequence for methods that use Circuit and some other class as possible arguments.

Arguments against:

1. Could box the class in a bit if we are thinking about Circuit containing anything beyond moments or other moment

[2020-05-13 19:05] #2676 closed

[2020-05-13 19:41] kevinsung commented on #3002
This at least will need to be changed:
https://github.com/quantumlib/Cirq/blob/3d645b7ec08d05d8bbd7f7461b717bba865e362a/cirq/study/trial_result.py#L111

[2020-05-13 20:13] cduck commented on #3002
Workaround: Use `sampler.run().measurements` instead of `sampler.run().data` or `sampler.sample()` until this is fixed.

This looks like something I missed (I even reviewed the PR that added `TrialResult.data`).  The issue is `TrialResult.data`, `TrialResult.histogram`, `TrialResult.multi_measurement_histogram`, and `TrialResults._json_dict_` all convert `TrialResults.mreasurements` to all assume

[2020-05-13 20:18] cduck commented on #3002
Currently, `TrialResult` doesn't know the qid shape of its data so these methods can't do the right thing.  To fix this, it needs to store a qid shape (a tuple of qubit dimensions: Tuple[int, ...]) for each measurement key and every sampler that supports qudits needs to specify the shapes when they create `TrialResults`.

[2020-05-13 20:29] maffoo commented on #3002
Instead of storing the qid shapes in TrialResult, I'd suggest we just store the list of qid's themselves. These will include the shapes, of course, but this also makes TrialResult more self-documenting since you can interpret the measurements without referring back to the measurement gate in the circuit to know what qubits were measured.

[2020-05-13 21:53] smitsanghavi commented on #3002
FWIW, this concern was raised in the original PR and it was assumed that TrialResult has access to the qid shape https://github.com/quantumlib/Cirq/pull/1811#issuecomment-511067677.

+1 to including the qids themselves in TrialResult.

[2020-05-13 22:10] dabacon commented on #1837
At Cirq Cync it was decided we should do this.

[2020-05-14 02:39] dabacon opened #3003 "Methods for partial trace and separable part of state vector should work for qudits"
These methods should take an optional shape and use this.  Default would be to assume qubits.

[2020-05-14 04:42] kevinsung commented on #3002
@cduck Actually the JSON serialization does support qudits. For instance, adding
[code]
to the end of your example works.

[2020-05-14 05:09] kevinsung commented on #2821
Can't we achieve the same thing using `current.futures.ThreadPoolExecutor`? I.e.,
[code]

[2020-05-14 14:12] cduck commented on #3002
You are right @kevinsung.  I missed that `_json_dict_` checks if any measurement result values are not 0/1 and uses numpy's array serialization instead.

[2020-05-14 18:30] dabacon opened #3004 "Move capture_logging from _compat_testing.py to cirq.testing"
Code that wants to test deprecation uses this and currently we import from _compat_testing which is a bit ugly

[2020-05-14 18:47] dabacon commented on #3004
Or alternatively create a test for testing deprecation.

[2020-05-14 19:45] kevinsung commented on #2742
The implementation would be the same as that in TrialResult to serialize the measurements array. It is very similar to the implementation in https://github.com/quantumlib/Cirq/pull/2712. But instead of wrapping arrays in a separate object, as proposed in https://github.com/quantumlib/Cirq/pull/2712, we just serialize the arrays directly.

[2020-05-14 19:49] dabacon opened #3006 "Why is cirq.VirtualTag not at top level"
Currently you have to say `cirq.ops.VirtualTag`.  Is there a reason it doesn't appear at the top level as `cirq.VirtualTag`?

[2020-05-14 20:02] kevinsung commented on #2047
This was fixed by https://github.com/quantumlib/Cirq/pull/2989. Note, however, that we will be removing support for applying `np.exp` to gate, since `np.exp` means element-wise exponentiation. This is being tracked at https://github.com/quantumlib/Cirq/issues/2710.

[2020-05-14 20:02] #2047 closed

[2020-05-14 20:10] kevinsung commented on #1432
#2781 is related to this.

[2020-05-14 20:42] mpharrigan commented on #2821
I swear I scoured the python async docs looking for something like this!

[2020-05-14 20:57] mpharrigan commented on #2313
- deal with `MatrixGate`

[2020-05-14 21:01] mpharrigan commented on #2742
i.e. modify the `cirq.to_json` `CirqEncoder`  to check for `np.ndarray`?

[2020-05-14 21:27] #2940 closed

[2020-05-14 21:29] kevinsung commented on #2742
Yup. That is, treat Numpy arrays as we do other non-Cirq objects that we serialize, like Pandas dataframes, Sympy symbols, etc.

[2020-05-14 21:30] kevinsung commented on #2821
I didn't know about this until @mrwojtek showed me the other day :stuck_out_tongue: .

[2020-05-14 22:41] mpharrigan commented on #2742
My original motivation was: typically when running an experiment you have a set of parameters that you may be sweeping over or similar. You've generated the set with `np.linspace` so its a numpy array. You save it with your results and later when you're trying to remember what set of parameters you ran you can pull up the json and quickly scan for the values instead of trying to decode a hexdump.

[2020-05-14 23:44] kevinsung commented on #2742
For most of my use cases, the Numpy arrays contain a large amount of numerical data (such as state vector amplitudes), so space efficiency and reversibility are crucial. I think that for cases when the data should be human-readable, it's okay to force the user to convert to a list or other type.

[2020-05-15 15:40] mrwojtek commented on #2821
The concucrrent.futures.ThreadPoolExecutor is a concept that is conceptually orthogonal to asyncio library and they aim to solve slightly different problem. By design, asyncio is a single threaded library which allows for concurrent execution of python code. ThreadPoolExecutor allows for actual parallel execution where different functions run on different threads. This doesn't matter much for Pyth

[2020-05-15 22:23] dabacon commented on #1642
I went over all TODO and added issues for all of them.  I also edited the issues to make sure they were clear on the issue.  Closing.

[2020-05-15 22:23] #1642 closed

[2020-05-15 22:32] dabacon opened #3010 "QFT should be qft"
The method `cirq.QFT` breaks style convention that method should be lower case.  `cirq.QFT` should be deprecated and `cirq.qft` should be used instead.

[2020-05-15 22:48] dabacon opened #3011 "Find a better pattern for implementing control and target keywords and us for control gates."
Currently `CXPowGate` has a special override of `on` which allows one to pass in `control` and `target` when turning into a `GateOperation`.  It seems like we never followed up to do this for any other gates, and if we are going to do this we shouldn't do it in a one off manner.

[2020-05-16 03:49] dabacon commented on #1831
We bumped to 3.11

[2020-05-16 03:49] #1831 closed

[2020-05-16 03:51] dabacon commented on #1607
Correction, this no longer appears when installing cirq 0.8.  Closing

[2020-05-16 03:51] #1607 closed

[2020-05-17 23:09] tanujkhattar commented on #2990
I have sent a PR which tries to resolve this, but there is one inherent issue with trying to address this problem. If two gates in the same moment are changed to act on the same Qubit, what should be the ordering in which these two gates are applied on the Qubit? This will become implementation dependent and I'm not sure if that's something we want. Let me know your thoughts on this.

[2020-05-17 23:47] Strilanc commented on #3011
At the very least the code can be simplified to `def on(self, target, control)` instead of the args/kwargs stuff that's there.

I'm fine with deprecating it.

[2020-05-17 23:49] Strilanc opened #3018 "Deprecate implicit cartesian product behavior in `to_sweeps`."
This one seems tricky to deprecate, because its arguments are often ultimately from a user but are provided by intermediate methods such as `cirq.sample`. This makes it difficult to print a relevant error message in terms of what the user did, instead of the internal details of the library.

[2020-05-19 05:34] bryano opened #3020 "Proposal: move GraphDevice out of contrib"
See [RFC](https://docs.google.com/document/d/1_71Vp4Rw0p2blTHSiTckq4jm3z-HwgaajwCnThYAjrA/edit?usp=sharing). Questions and comments welcome.

@Strilanc @dabacon @viathor @maffoo @mrwojtek

[2020-05-19 19:10] dabacon commented on #3004
Fixed in #3009

We now have `cirq.testing.assert_logs`

[2020-05-19 19:10] #3004 closed

[2020-05-19 19:11] dabacon opened #3021 "Clifford simulator states needs tests"
`clifford_tableau` and `stabilizer_state_ch_form` both have no tests.

[2020-05-19 23:04] dabacon opened #3023 "Subwavefunction documentation does not render LaTeX correctly"
https://cirq.readthedocs.io/en/latest/generated/cirq.subwavefunction.html?highlight=subwavefunction#cirq.subwavefunction

[2020-05-19 23:07] dabacon commented on #3023
Hm, doesn't look like an LaTeX in doc strings is rendering
https://cirq.readthedocs.io/en/stable/generated/cirq.bit_flip.html

[2020-05-21 02:26] rmlarose opened #3028 "Random single qubit circuits always have empty moments"
Single qubit circuits returned from [testing.random_circuit](https://github.com/quantumlib/Cirq/blob/master/cirq/testing/random_circuit.py#L38) are always empty with the default gate domain. For example:

[code]

The reason is that the [default gate domain](https://github.com/quantumlib/Cirq/blob/master/cirq/testing/random_circuit.py#L23) contains two-qubit gates, so [`max_arity = 2`](https://gith

[2020-05-21 02:45] dabacon commented on #2143
Fixed in #3022 but will take deprecation process to fully clean up.

[2020-05-21 02:45] #2143 closed

[2020-05-21 04:03] dabacon commented on #3028
This seems reasonable to me. Could you also update the doc string to specify that the default is to use the `DEFAULT_GATE_DOMAIN` including noting the special case you are adding (The param currently doesn't document this)?  (I'd also maybe use a different word that `arity` or at least clarify it in the doc string, it's not a term that is universally understood).

[2020-05-21 18:56] dabacon commented on #3011
discussed at Cirq Cync: vote was to keep it, but to do it in a way that is not adding this code to every gate.

[2020-05-21 19:08] #3028 closed

[2020-05-21 20:57] cduck opened #3031 "Support multi-qubit measurements in `cirq.plot_state_histogram`"
Quote from the docstring: "Currently this function assumes each measurement gate applies to only a single qubit."

Currently, I get an incorrect histogram if I didn't read the docstring and used a multi-qubit measurement (I always make circuits like this):
[code]
![index2](https://user-images.githubusercontent.com/2476062/82605089-e5c42400-9ba4-11ea-8eb5-516586620a45.png)

If I use single-qubit me

[2020-05-25 17:35] cubicgate opened #3032 "Math for Bell Inequality?"
Is it possible for someone to explain the math behind the Bell inequality example:
https://github.com/quantumlib/Cirq/blob/master/examples/bell_inequality.py ?

   Thanks!

[2020-05-25 17:47] vtomole commented on #3032
Hey @cubicgate. The math for this example is in section `15.2` of these lecture notes (https://homepages.cwi.nl/~rdewolf/qcnotes.pdf). We would love it if you added this math to that `bell_inequality.py` file. Let me know if you have questions about those equations.

[2020-05-25 18:35] cubicgate commented on #3032
Thanks @vtomole for this reference. Section 15.2 uses R(theta) which is a real-value matrix, but the bell_inequality.py program used X^-0.25 and X^0.5. Both of these X matrices have imaginary parts, so I am not sure how to translate the math in Section 15.2 into your X matrices. In a typical textbook, people tend to use just the Bell state, but you applied X^-0.25 after the Bell state. I tried to

[2020-05-25 18:51] vtomole commented on #3032
@cubicgate Ah. Now i understand why you filed this issue. It deviates significantly from how this is usually taught. Since this is an example, we should modify this program to better reflect what most people are familiar with.

[2020-05-25 18:56] cubicgate commented on #3032
@vtomole I think there is a great value for others to learn the math from this program since it is not the typical way of doing the math. If you can provide any help in this regard, that will be fantastic.

[2020-05-26 02:01] satw1knandala commented on #1783
Don't know if this is a bug? The tests are passing in has_mixture_protocol_test, and it worked for a simple GHZ circuit I ran.

[2020-05-26 02:09] satw1knandala commented on #1740
Is help still needed on this? I see that the final_wavefunction is being deprecated for final_state_vector.

[2020-05-26 02:27] satw1knandala commented on #3021
I'll take a crack at this.

[2020-05-26 17:15] dabacon opened #3033 "Random circuit can fail due to empty gate domain"
Random circuit was changed recently to make sure that gates that have too many qubits are not used in the random circuit.  This had the side effect that the sometimes removed all of the gates from the domain, which causes `test_random_circuit` to fail.

[2020-05-26 17:47] dabacon opened #3034 "Circuits with qubits that are not acted upon."
Right now the qubits in a circuit are taken from the operations in the moments.  But there are cases where I want a circuit that operates on some qubits but not all of them (for example random circuits may generate circuits which don't act on some qubits).  This should be a case we can handle without too many hacks.  Right now I can hack by adding an identity gate for the qubit I want to include,

[2020-05-26 19:19] cduck commented on #3034
Currently the circuit's device specifies its qubits (but this isn't used for the diagram right now).  What is the application where you want a circuit to use a set of qubits separate from the context of a device?

[2020-05-26 21:27] sebgrijalva commented on #3032
Maybe I can try to expand the math in the example (perhaps comparing it to deWolf's 15.2?)

[2020-05-26 21:40] cubicgate commented on #3032
Thanks @sebgrijalva ! I would love to learn from you.

[2020-05-26 21:45] sebgrijalva commented on #2216
Maybe I can give this one a crack if it's still open.

[2020-05-26 22:23] #2360 closed

[2020-05-26 22:28] dabacon commented on #2978
I've looked into this and it is really wanky.  One problem is that the skip method is not correct as it ignores the `skip` variable.  But even when you fix that sphix seems to run the skip method twice, and the first time it runs it ignores the result.  This results in generated every method for a class, even after correctly configuring sphinx to only keep some methods.

Going to poke around a bit

[2020-05-27 00:45] dabacon opened #3041 "study/visualize.py sould be moved to vis and updated to use plot style"
Should also adhere to plotting.md so that we can remove the warning from the test.

[2020-05-27 17:00] tanujkhattar opened #3044 "Changing Qubits in PointOptimizer leads to implementation dependent behaviour"
Following up on #2990, `PointOptimizer` does not handle changing qubits well and the behaviour is undefined (many edge cases with different unintuitive outcomes). Eg:

[code]

- Case-1

    - Input
[code]
    - Output
[code]

- Case-2

    - Input
[code]
    - Output
[code]

- Case-3

    - Input
[code]
    - Output
[code]

Inconsistencies:
* Case-1 should not be a value error if Case-2 and Case-3

[2020-05-27 17:56] #3010 closed

[2020-05-27 18:58] dabacon commented on #3044
Discussion at Cirq Cync.  We should enforce that PointOptimizer does not allow adding qubits.  This should include a good error message when that constraint is violated.

[2020-05-28 14:48] #3033 closed

[2020-05-28 20:14] mpharrigan commented on #2905
Interestingly, this is more broken than I first thought. In the terminal it displays as

[code]

but the `<virtual>` tags are interpreted as badly formed html tags in e.g. Jupyter notebook and are not displayed. In the SVGCircuit implementation, the virtual tag hides the closing `]`

[2020-05-28 20:21] dabacon commented on #2905
For physical versus virtual Z gates, clearly seeing the tag is important.  But for noice, I'm not sure this is correct, and as I say in #2984 I don't think we should reuse virtual in this form for noise.  It is re-using a tag for no real reason.

[2020-05-28 20:34] dabacon commented on #2978
I've confirmed that this was broken by #2659

[2020-05-28 21:20] mpharrigan commented on #2905
Based on the above, the "virtual" specifier probably gets eaten in jupyter notebook for virtual Z gates then

[2020-05-29 17:56] dabacon commented on #1105
Fixed in #3024

[2020-05-29 17:56] #1105 closed

[2020-05-29 18:07] dabacon commented on #2626
I've tried this refactor and indeed run into problems with ControlledOperation and PauliString.  These feel like signs that these operations are not properly designed.

[2020-05-29 20:51] #2978 closed

[2020-05-29 20:53] dabacon opened #3049 "Bugfix 0.8 release with documentation fix"
#3048 fixes a regression where our documentation for 0.8 has all methods missing from the api docs.  We should make a bug fix release, and then push a new version of docs to readthedocs.

[2020-05-30 05:49] viathor opened #3050 "Avoid calling optimizers in optimizers"
In review of #2955, @mrwojtek pointed out that optimizers should avoid calling other optimizers and instead leave any further optimization (such as merging single-qubit gates) up to the caller.

I agree with this since it makes it more explicit in the client code what optimizations actually take place and hence what output is produced. It can also reduce the number of calls to optimizers in some c

[2020-05-31 20:44] AnimeshSinha1309 opened #3053 "Fourier Transform demo fails due to incorrect return type"
The following piece of code throws an exception (error message below) when being executed:
https://github.com/quantumlib/Cirq/blob/2c3e6a8a2a12d4783da9d99afa3c70924c3bb733/examples/quantum_fourier_transform.py#L37-L40

A deprecated `WaveFunctionTrialResult` is returned by the function, instead of the promised `SimulationTrialResult`. I believe this is due to version conflicts, but I am running on

[2020-05-31 21:27] dabacon commented on #3053
I am unable to reproduce this either locally or with a colab at HEAD.

This is a good question though: should we be taking care to keep examples in sync with last release and not HEAD?

How are you installing cirq on colab?  I used `!pip install git+https://github.com/quantumlib/cirq` and also tried `!pip install cirq-unstable` and both of those worked.

[2020-05-31 21:29] dabacon commented on #3049
Note that LaTeX in doc string is still broken, but I think that is OK.  Working on fixing that now (it's also a beast).

[2020-05-31 21:34] #3006 closed

[2020-06-01 03:30] dabacon commented on #2505
The one on `circuit` does, the one in `mux` does not (also now called `final_state_vector`).

[2020-06-01 03:34] dabacon commented on #2505
Actually I'm not sure the one mux should have this.  It already is a very odd thing to have something that modifies the meaning of the circut on `Circuit`.  It's another thing to have it on the simulation.

[2020-06-01 07:48] AnimeshSinha1309 commented on #3053
I was using the stable version of cirq and trying to run the demo on that, I am starting out on Cirq and was unaware that I should have run them on unstable/master. You are right, both those work.

Anyways, here is the notebook that did not work because I was using the stable version.  https://colab.research.google.com/drive/1uwJjOvRa1REHLIgIzhfxc_tg9Z9Yo9H2?usp=sharing

I am closing this issue si

[2020-06-01 07:48] #3053 closed

[2020-06-01 08:24] AnimeshSinha1309 commented on #3031
I have made a quick-fix, I guess. Can you tell me what would be better, to raise an error/warning or to add said logic? Adding said logic does not seem hard, just a little longer. I don't know if it's the right way to get `n_qubits` by splitting by `,`, please suggest a better way if there is one.

[2020-06-01 09:28] AnimeshSinha1309 commented on #3031
Along with the 2 code sample provided above being made equivalent, I have also made a mixture of single and mutli-qubit measurements work the same. Please tell me if some other combinations might have been expected. Just h-stacking the results worked.
[code]

[2020-06-01 15:21] vtomole commented on #3053
@dabacon We've already made the decision that examples should be up to date with HEAD.

[2020-06-01 16:29] dabacon commented on #3053
@vtomole thanks!

[2020-06-01 17:00] dabacon commented on #1030
The places where it needs to be changed are `circuit.unitary` and `circuit.final_state_vector`.

[2020-06-01 17:48] dabacon opened #3055 "Clifford optimize has no doc string and does not explain what it does"

[2020-06-01 22:28] yourball opened #3056 "Cirq routing is hanging again for some circuits"
Hi guys,

I have a concern similar to the one from issue #2282. The problem was fixed later and when running from `6d81ddbb` commit everything works just fine. However, there were further changes in apply_next_swaps(...) function, in particular a new parameter `max_num_empty_steps` was introduced.

In the last version of code when running routing via route_circuit_greedily(...) and with parameters

[2020-06-02 05:23] kevinsung opened #3057 "Getting the matrix of a PauliSum"
There doesn't seem to be an easy way to get the matrix of a PauliSum. It has no `matrix` method, nor do we have a `matrix` protocol. Typically one actually wants the matrix as a Scipy sparse matrix rather than a Numpy array. We should make this easy. Should it be a method or a protocol?

[2020-06-02 13:42] tomiock opened #3058 "Proposal: Add Generalized Gell-Mann matrices for n-qudits"
I think that a function to generate parameterized GGM matrices will be useful especially on TFQ for the PQCs (they are used in [Quantum Convolutional Neural Networks (arXiv:1810.03787v2)](https://arxiv.org/abs/1810.03787.pdf) for example).

More info about GGMs in [Bloch vectors for qudits (arXiv:0806.1174v1)](https://arxiv.org/abs/0806.1174.pdf)

[2020-06-02 17:03] dabacon opened #3059 "bash_scripts_test only runs in CI if changed"
See an example here:
https://github.com/quantumlib/Cirq/runs/726085829?check_suite_focus=true

[2020-06-02 17:30] dabacon commented on #3059
This is because github actions for the changed tested does not have
`git config --global user.name ${GITHUB_ACTOR}`
while that for some of the other pytest actions do.

[2020-06-02 21:21] dabacon commented on #3056
@bryano I think you added this feature.  Thoughts?

[2020-06-02 21:25] bryano commented on #3056
@wcourtney Could you provide some circuits (or code to generate them) on which the router hangs?

[2020-06-03 00:02] dabacon opened #3062 "Import is slow"
`import cirq` takes around 1.5 seconds (this is in colab).

Would be nice to get some other numbers from users as to what they are seeing.

[2020-06-03 00:03] #2021 closed

[2020-06-03 00:03] dabacon commented on #3059
Fixed in #3038

[2020-06-03 00:03] #3059 closed

[2020-06-03 00:04] dabacon commented on #2021
check/pytest-changed-files now exists and check-all with --only-changed-files uses it.  Can be a considerable savings.

[2020-06-03 00:13] cduck commented on #3062
New MacBook, Python 3.8:
[code]

[2020-06-03 00:13] dabacon commented on #3050
My intuition is that optimizers shouldn't call optimizers because it violates single use.

For this specific case we should talk about this at Cirq Cync since it breaks an existing "api".

[2020-06-03 00:18] vtomole commented on #3062
Ubuntu 18.04

[code]

[2020-06-03 00:22] alexandrupaler commented on #3062
Ubuntu 18.04. i5-8250U
`python3 -c 'import time; time.sleep(1); t1 = time.monotonic(); import cirq; t2 = time.monotonic(); print(t2-t1)'` executed sequentially
[code]

[2020-06-03 00:34] cduck commented on #3062
Cirq submodule import times excluding external packages:
[code]

[2020-06-03 03:25] yourball commented on #3056
This is the code snippet.
It works fine if number of qubits involved in the random circuit <16 (number of qubits in the hardware is 16) or for small value of n_moments.

[code]

[2020-06-03 15:41] aminjahanpour commented on #1899
I'm still facing a problem. In my case, new theta values are generated in a different scope and delivered to the ParamSolver. The next value of thetas would be unknown to me. I will only know it after I ParamSolver and generate the unitary of the circuit for the current thetas. So for me, it has to be one theta set at a time. Any suggestions?

[2020-06-03 15:47] dstrain115 commented on #1899
@aminjahanpour Can you provide a simplified example of the problem?  Otherwise, I am not sure I can reproduce your issue.

One suggestion would be to reduce the use of formulas as much as possible, since sympy formula resolution is extremely slow.  If you are using the Rz/Ry/Rx gates, you may want to consider using ZPowGate,YPowGate,XPowGate instead and divide by pi yourself rather than rely on sy

[2020-06-03 15:56] aminjahanpour commented on #1899
I'll write an example. Before that, I am using custom two-qubit gates on my circuit. I am not aware of a way to convert them to PowGates.

[2020-06-03 16:51] aminjahanpour commented on #1899
here is an example but I am facing another issue: the resolver does not work with my custom unitary gate.
[code]

[2020-06-03 16:55] dabacon commented on #1899
Can you say how it fails?  I think you need to implement the `_is_parameterized_` protocol.

[2020-06-03 17:01] aminjahanpour commented on #1899
When Cirq it trying to build the unitary of the Sympy circuit, apparently it is getting confused by the formulation:
[code]

[2020-06-03 18:24] kevinsung commented on #3057
At Cirq sync we decided to first add a matrix and/or sparse_matrix method to PauliSum, and only consider making these protocols if there are more use cases. The methods added to PauliSum should take qubit_order as argument.

[2020-06-03 19:49] dabacon opened #3067 "Better Noise model building"
In #1835 it was decided that making noise explicitly composable was not a goal.  But there are cases (see that issue) where we can provide better methods for constructing noise models, and a more complete set of basic noise models for users to use.

[2020-06-03 19:50] dabacon commented on #1835
Discussed at Cirq Cync.  Composability of noise models is not an explicit goal.  However we are missing a feature of being able to build a set of reasonable noise models, so we need to increase the number of such models / make easy construction of noise models.

Opened #3067 to track better / more noise model construction.

[2020-06-03 19:50] #1835 closed

[2020-06-03 19:53] dabacon commented on #2984
Discussed at Cirq Cync.  Decision was to remove automatic tagging but allow optional tagging for noise models.

[2020-06-03 21:58] cduck opened #3068 "Missing documentation for some cirq.linalg.* functions"
`cirq.linalg.deconstruct_single_qubit_matrix_into_angles` in particular.  It is not exported to the top-level `cirq.*` namespace so maybe the documentation script is missing them?

In this case, `deconstruct_single_qubit_matrix_into_angles` should probably be added to `cirq/__init__.py` since the rest of `cirq.linalg` is there.

[2020-06-03 22:31] dabacon commented on #3068
Where are you looking at the docs?  Readthedocs?  The build docs script output?

[2020-06-03 22:32] dabacon opened #3069 "Named Qid"
GridQubit and LineQubit have Qid versions, but there is no version of this for NamedQubit.

[2020-06-03 22:32] dabacon commented on #3069
@cduck was there a reason for not doing NamedQubit?

[2020-06-03 22:35] cduck commented on #3069
No reason other than to keep the number of different qid classes small.  Also GridQid was added later to match LineQid.

`NamedQubit('a').with_dimension(3)` works just fine but `LineQid.range()` is nice to have.

[2020-06-03 22:37] cduck commented on #3068
Readthedocs: https://cirq.readthedocs.io/en/stable/api.html#algebra-and-representation

[2020-06-03 22:39] cduck commented on #3068
These are the URsL where I might expect it to be:
https://cirq.readthedocs.io/en/stable/generated/cirq.deconstruct_single_qubit_matrix_into_angles.html
https://cirq.readthedocs.io/en/stable/generated/cirq.linalg.deconstruct_single_qubit_matrix_into_angles.html

Latest:
https://cirq.readthedocs.io/en/latest/generated/cirq.deconstruct_single_qubit_matrix_into_angles.html
https://cirq.readthedocs.io/

[2020-06-03 22:52] dabacon commented on #3068
Yeah the doc coverage test only looks at a few namespaces for methods (`cirq`,`cirq.experiments`, `cirq.testing`, and `cirq.google`), so it would not fail if this were not at top level.  It would get generated by inclusion into the api.rst.

[2020-06-03 23:45] dabacon commented on #3069
Yeah I noticed it works, I guess the only thing you really lose is the type information (and maybe a less nice repr and str)?

[2020-06-04 05:05] kevinsung opened #3071 "Implement JSON serialization for PauliSum"

[2020-06-04 16:59] #3068 closed

[2020-06-04 22:45] kevinsung opened #3073 "SupportsPauliExpansion Protocol isn't defined"
For consistency with the other protocols, shouldn't we have a Protocol that has the method `_pauli_expansion_`? @viathor

[2020-06-04 23:44] kevinsung opened #3074 "QubitOrder should be called QidOrder"
Right?

[2020-06-04 23:47] cduck commented on #3074
There are many things already called '*qubit*' when I added qudits to Cirq.  At the time, we decided not to rename the large number of function and argument names already in Cirq, especially since qudits are a minor use case.

[2020-06-05 19:18] mpharrigan commented on #2905
The behavior has changed. It now does `D(0.001)[cirq.VirtualTag()]`

[2020-06-05 19:36] mpharrigan commented on #3034
I've run into this trying to show a circuit diagram for a part of a circuit

[2020-06-07 16:35] peterse opened #3078 "sqrtISWAP serializer doesn't like rz, ry, rx"
The `cirq.rz` helper function ([cirq.ops.common_gates:1045](https://github.com/quantumlib/Cirq/blob/d998b3afe20dd6783e00dcc2590ba0f162b95af7/cirq/ops/common_gates.py#L1045)) converts inputs to half turns (radians?) by dividing by sympy.pi for parametrized inputs, but this division is actually expressed as `sympy.Mul(sympy.Pow(sympy.pi, sympy.Integer(-1))`

The `sympy.Pow` part of that expression t

[2020-06-07 20:08] #2958 closed

[2020-06-08 06:38] RankJay commented on #1550
Hi @vtomole ,
I would like contribute by solving this issue, if it's still open.

[2020-06-08 07:30] alexandrupaler opened #3079 "Toffoli circuit simulator"
Would a simulator for boolean reversible circuits be useful, or of interest?
Something like the one in https://docs.microsoft.com/en-us/quantum/machines/toffoli-simulator

[2020-06-08 16:33] cduck commented on #3079
I'd be happy to contribute my implementation of this to Cirq if it's wanted.  https://github.com/cduck/cirqtools/blob/master/cirqtools/classical_simulator.py

[2020-06-08 21:48] dabacon commented on #3078
Was there a reason not to support `Pow` in the language (or division for that matter)?  Worry about divide by zero?

[2020-06-08 21:49] dabacon opened #3080 "Proper deprecation of `qubit` and `_qubits` on device"
There is hacky code in `cirq.Device` that falls back to these method for `qubit_set`, apparently according to the comment to preserve backward compatibility.  These other methods should be properly deprecated and removed instead.

[2020-06-08 21:49] alexandrupaler commented on #3079
@Casey: thank you for pointing me to your simulator. I will try it.

For the Toffoli simulator I was thinking of an even more simpler one that accepts only CNOT and Toffoli, such that it can be possible to operate on lists of bits. It would be a trivial simulator but able to easily simulate 10k qubit reversible circuits.

[2020-06-08 21:50] mpharrigan commented on #2905
I'm contributing a hack in https://github.com/quantumlib/Cirq/pull/3076/files#diff-d949b9f3211c62c5defeb9f7d1439416R16 which should be reverted after this is fixed

[2020-06-09 05:41] RankJay commented on #1550
Hi @vtomole,
can you once share the link of readthedocs and PauliString file, I am unable to find it.
Thanks for your assistance.

[2020-06-09 17:52] vtomole opened #3081 "Github workflow's `build the docs` is failing"
[code]

[2020-06-09 18:27] cduck commented on #3081
This is blocking https://github.com/quantumlib/Cirq/pull/3054 and probably other PRs.

[2020-06-09 19:41] dabacon commented on #3081
Am looking at this now.

[2020-06-09 21:52] dabacon opened #3083 "random_circuit_test is flakey"
See pytest ubuntu here: https://github.com/quantumlib/Cirq/runs/755627222?check_suite_focus=true

[2020-06-09 22:18] #3081 closed

[2020-06-09 22:29] dabacon commented on #3071
@mpharrigan this is going to require serializing frozenset.  Do you have any objections to this?  I'm going to do it in a way that it preserves roundtrip (there is a crazy cool hack you could do which is to pass in the values of the set as keys in a dict with all values None, but figure that's not a good practice :) )

[2020-06-09 22:38] mpharrigan commented on #3071
Do you mean adding generic support for frozensets in the cirq encoder? Or custom logic in `PauliSum` for turning the keys from `frozenset` to lists and then back to frozenset in `PauliSum`'s deserializer?

If the latter, that's expected although the plumbing is a little intricate in this particular case.

If the former, how do you intend to tag the resulting JSON so it's known to be a frozenset du

[2020-06-09 22:43] dabacon commented on #3071
Oh I was thinking the former, but you are correct that could be a way to handle it.   Was just going to re-use the "cirq_type" with frozenset.  An alternative would be to create a different key "builtin-type".  I think there was some discussion of this problem over in the numpy array serialization discussion.

Now that I think about it maybe your first suggestion is the better approach.

[2020-06-09 23:29] kevinsung commented on #3057
OpenFermion has an analogous [method](https://github.com/quantumlib/OpenFermion/blob/c1e46808b40ef78950db596915c9ab4b75b0e549/src/openfermion/utils/_sparse_tools.py#L137) but it gets quite slow and memory intensive for large matrices and I suspect it can be implemented more efficiently.

[2020-06-09 23:33] #3031 closed

[2020-06-11 05:32] maffoo opened #3087 "build_proto ci check does not enforce that generated proto code is up to date"
We recently added cirq/google/api/v2/batch.proto and the ci check did not catch that generated code was not checked in. Original PR: #3064; follow-up to add generated code: #3086.

[2020-06-11 22:09] mrwojtek opened #3088 "Extend cirq.vis.Heatmap to visualize two-qubit interactions"
Currently cirq.vis.Heatmap supports plotting of single-qubit to float maps.

It would be very useful to be able to plot a two-qubit interaction between qubits on a grid, for example like the plot on Fig. S40 a) (page 43) of the supremacy supplementary paper: https://arxiv.org/abs/1910.11333

Direct application of this could be a visualization of cirq.google.Calibration data (each parameter could j

[2020-06-12 19:00] LuisM78 commented on #1511
Hi, Is there a solution for this problem? I am using Windows 10. can you please point me to the right install for numpy?
Thanks,
Luis

[2020-06-12 21:31] #3083 closed

[2020-06-12 22:01] vtomole commented on #1511
We already solved this; by not using float128. What commands are you getting to run into this error?

[2020-06-12 22:07] LuisM78 commented on #1511
Hi, I am using in a function.
def softmax(x):
    x = np.array(x, dtype=np.float128)
    e_x = np.exp(x)
    return e_x / e_x.sum(axis=0)

I have np version 1.15.4

[2020-06-12 22:50] dabacon commented on #3071
I wanted to see what it looked like.  One issue you run into is tuples, which are default serialized to lists.  You can fix this https://stackoverflow.com/questions/15721363/preserve-python-tuples-with-json but not really a great hack.

[2020-06-12 23:01] vtomole commented on #1511
The snippet you posted doesn't use Cirq.

[2020-06-12 23:37] LuisM78 commented on #1511
yes, sorry...
I couldn't figure out how to do it in Windows. So I switched to an Ubuntu virtual box and created a python environment with the specific pip requirements and versions ... and problem solved...
Thank you!
Luis

[2020-06-17 15:27] vtomole commented on #1550
Here are the docs: https://github.com/quantumlib/Cirq/tree/master/docs.
Here is pauli string: https://github.com/quantumlib/Cirq/blob/master/cirq/ops/pauli_string.py

[2020-06-18 17:59] dkafri opened #3098 "Instructions for defining serializable custom objects are obscure"
The [instructions](https://cirq.readthedocs.io/en/latest/interop.html#Advanced:-Adding-JSON-compatibility-for-custom-objects-in-cirq) in the documentation basically tell you to look at the source code. I was able to figure out how to do it by looking at the tests.

This would be a useful example:
[code]

[2020-06-18 20:14] viathor opened #3099 "Matrix protocol"
We now have the method `matrix` in a few classes (various linear combinations and pauli strings since #3096). We should define a protocol for this to make it easier to endow objects (especially the not-necessarily unitary ones) with matrix representations.

Then we can take advantage of it in `protocols.unitary` so that objects that have a matrix also have a unitary (as long as the returned matrix

[2020-06-19 15:43] CirqUser199 opened #3100 "simulate_moment_steps return invalid density matrices"
When I try to simulate the density matrix through a circuit using simulate_moment_steps, I have some density matrices that have a trace different than 1 for some steps. For instance, when I execute the simple code below, the last line returns 1/2. If I did no mistake, this means that the simulator returns a density matrix that has trace less than 1. From what I can see, this could be caused by the

[2020-06-19 16:03] cduck commented on #3100
It appears that the simulator is re-using and modifying the matrix returned by `.density_matrix()` during later steps.  This was probably intended behavior to improve speed but can cause strange usability issues like you found.  If others have done this I would consider it a bug.

Try this instead.  You get the correct result if you use the matrix before the next simulation step.
[code]
[code]

If

[2020-06-21 08:15] smitsanghavi commented on #2468
FWIW, this test is now also failing on Ubuntu https://github.com/quantumlib/Cirq/pull/3063/checks?check_run_id=792203725

[2020-06-22 09:53] CirqUser199 commented on #3100
Thanks a lot for your quick answer!

[2020-06-23 20:26] trevormccrt opened #3101 "Density Matrix Simulator seems to mutate initial states sometimes"
Found this while running density matrix simulations in a loop passing in the same python object as initial state each time. Fails input density matrix validity check on the second iteration. not sure if bug or hack for higher performance. I remember pointing out something similar in the wavefunction simulator to @dabacon  late last year and I think it was deemed a bug. Thoughts in this case?

[2020-06-23 21:58] dabacon opened #3103 "Broken decompositions_test"
test_single_qubit_op_to_framed_phase_form_output_on_example_case has flaked out on me.

[2020-06-23 22:06] dabacon commented on #3101
Yeah I think initial states should be copied.  There is a similar problem in that the state is reused in the moment by moment iterator: 3100

[2020-06-23 22:09] dabacon commented on #3103
This looks like it is blocking submissions to master, so may not even be a flake.

[2020-06-23 22:10] dabacon commented on #2468
Opened #3103

[2020-06-23 22:19] dabacon commented on #3103
[code]

[2020-06-23 22:20] dabacon commented on #3103
it looks like the code that fixes for global phase isn't working for this case?  Cannot repo on my local box.

[2020-06-24 00:08] dabacon commented on #3103
Hypothesis is that this might be a numpy update.  https://pypi.org/project/numpy/#history was just updated to 1.19.  I confirmed that the last successful build was on 1.18 and the new failures are 1.19.  Checking to see if pinning fixes.

[2020-06-24 00:12] dabacon commented on #3103
Confirmed that penning to 1.16 numpy makes test pass.

[2020-06-24 00:39] dabacon commented on #3103
confirmed that is also fine a numpy 1.18

[2020-06-24 15:58] dabacon opened #3105 "Test in convert_to_ion_gates_test fails due to not using approximate equality testing"
test_convert_to_ion_gates fails at least sporadically

[code]

[2020-06-24 22:21] dabacon commented on #3101
@trevormccrt can you give an example of this failing?  Is it the initial state that is being mutated?

[2020-06-24 22:43] trevormccrt commented on #3101
Yes. What i did to produce this error was very simple. start with an initial state density matrix of type np.complex64. Then in a for loop run various circuits starting from the same initial state. I found that on the second iteration the initial state object had been mutated. This would lead to a "density matrix is not hermetian" error at the start of the second iteration during input checking. B

[2020-06-25 03:18] DaniloZZZ opened #3110 "Incompatible requirement: protobuf==3.8.0"
Hello

When installing cirq 0.8.1 using pip

```ERROR: google-api-core 1.21.0 has requirement protobuf>=3.12.0, but you'll have protobuf 3.8.0 which is incompatible.```

cirq has a requirement ```protobuf == 3.8.0 ```. this is incompatible with what other dependency wants.

[code]

[2020-06-25 11:43] stasja opened #3111 "Gate inconsistencies between versions when using controlled interface"
It seems there is a (unintentional?) change to what the controlled interface does before and after the `8179aa2d678bcce480c0ce14bd2852068657abf6` commit in certain cases, possibly related to how the global phase is handled.

Running the following circuit (and inspecting the states at each moment):
[code]

gives the following output before the `8179aa2d678bcce480c0ce14bd2852068657abf6` commit
[code

[2020-06-25 13:18] aminjahanpour commented on #451
I am trying to implement a three-qubit gate in an eight-qubit circuit.

[code]

The circuit is generated successfully but Cirq throws an error when calculating the circuit unitary.

[code]

[2020-06-25 13:58] vtomole commented on #3110
Does `pip install google-api-core 1.17.0 ` fix it?

[2020-06-25 16:04] DaniloZZZ commented on #3110
Yeah, I eventually solved the issue with manually installing `pip intsall google-api-core==1.14.0`, the lowest supported by cirq. Does this mean that pip is that bad at dependency solvig?

[2020-06-25 16:08] babbush commented on #3111
@dstrain115 could you give an opinion about this when you get a chance? This is an issue for one of our EAP projects and it seems you merged the PR that @stasja claims introduced the problem.

But if this is really an issue with a global phase then maybe it isn't really an error, per se. I know that, at least previously, we did not make any promises that the Cirq simulator would do predictable thi

[2020-06-25 16:15] maffoo commented on #3111
PR in question: https://github.com/quantumlib/Cirq/pull/2597

[2020-06-25 16:49] dabacon commented on #3111
@dstrain115 is out for a bit.  I can take a look.

[2020-06-25 20:22] dabacon commented on #3111
What is happening here is that the current code constructs a CXPowGate, but uses the global phase of the gate.  Since Rx gates have global phase, that phase ends up in the "identity" part of the gate.  That is not at all what users expect, they expect that the gate is a CRx gate.  I think the solution here is if the global shift is not 0, use the old way to construct a controlled not.

Alternative

[2020-06-25 20:31] dabacon commented on #3110
I looks like the upper bound our requirements file is too high.
```google-api-core[grpc] >= 1.14.0, < 2.0.0dev```
If you had 1.21 installed before installing cirq it would not have downgraded and you'll get this error, I believe.  Once you downgraded it all worked.

Since this is for 0.8.1 we would need to do a bug release to fix this.  (At head this isn't a problem since we have protobuf~=3.11.0

[2020-06-25 20:38] #3101 closed

[2020-06-25 20:39] dabacon commented on #3100
The density matrix is now a copy by default.  This should fix your original code by default.  If you need the more optimized version you can request it by setting the copy boolean when accessing the density matrix.

[2020-06-25 20:39] #3100 closed

[2020-06-25 20:54] smitsanghavi commented on #3111
Agreed, ideally we would construct a CR* gate as Dave said. But until then, if this CXPowGate construction is proving confusing, I don't mind changing it to only happen when there is no global shift.

[2020-06-25 23:28] Strilanc commented on #3111
The bug is that the code is not checking the global phase (self._global_phase_shift) before performing the substitution.

[2020-06-26 07:11] DaniloZZZ commented on #3110
For anyone also facing this issue: the problem with manual installation of `google-api-core` is that it's actually `google-api-core[grpc]`. I used a hard-coded version of api-core in a CI script, and it failed on missing grpc. In my case, adding ` 'google-api-core[grpc]<=1.14.0',` to my setup.py file fixes the issue.

[2020-06-26 14:30] #3049 closed

[2020-06-26 14:31] dstrain115 commented on #3049
cirq 0.8.1 was released.

[2020-06-27 05:11] jitendrs commented on #2916
@vtomole is this still valid issue?

[2020-06-27 11:09] xabomon commented on #2741
Hi all,

I've been reading a couple of issues opened about exponentiation of `PauliString`.
In #2710 it is suggested to stop using `numpy.exp`, my question is what is the best way to perform this exponentiation? Does `cirq.exp` exist yet?

Best,
Xavi

[2020-06-27 18:19] vtomole commented on #2916
@jitendrs  Yes.

[2020-06-28 20:15] tai271828 commented on #3103
confirmed that
  - numpy 1.19.0rc1 breaks decompositions_test
  - numpy 1.18.5 passes decompositions_test

[2020-06-29 18:26] dabacon commented on #2741
`cirq.exp` does not exist yet.  You might check out the code in `pauli_string_phasor` for exponentiating `PauliString`s.

[2020-06-30 07:17] xabomon commented on #2741
Thanks @dabacon , I'll use `PauliString` and `PauliStringPhasor` functionalities.

[2020-07-01 04:23] jaeyoo opened #3116 "Upgrade float to double in cirq protos"
Hi, I am suffering from the precision issue due to google protobuf.

In fact, google protobuf float is float32, and double is float64. However, python uses float only for float64, and this makes discrepancy when I saved into protobuf and reload the circuit from the proto. As it happens to others (https://github.com/quantumlib/Cirq/issues/2728, for example) I suggest that upgrading the float to dou

[2020-07-01 20:50] balopat commented on #2553
I did some analysis on this too.

The problem is that when the new operations from a point optimization is inserted, the algorithm inserts a new `Moment` that shifts everything globally. By globally, I mean shifting the operations to a new Moment on all the qubits, not just on the qubits that the new operations operate on.

The reason you are seeing the weird "non-commutative" behavior, because th

[2020-07-01 21:30] mpharrigan commented on #2553
I don't think your minimal example captures the truly surprising behavior here. In the minimal example, the current behavior makes sense: you're expanding an operation so you have to push everything back to fit it. What's happening in the bug part of the bug is you push everything back "twice". It would be like if your example did this:

[code]

[2020-07-01 21:32] mpharrigan commented on #2553
A special-purpose fix would be to go through all the operations in a moment and see how the point optimizer would expand/contract them and figure out the total, minimal amount of space you need to create. Then you're off to the races

[2020-07-01 21:59] dabacon commented on #3116
Is this coming from Tensorflow quantum integration?  Changing double to float isn't really an option without breaking the api, but we could add a double value.

[2020-07-01 22:01] #3111 closed

[2020-07-01 22:41] balopat commented on #2553
Can you explain more how the push back "twice" applies to your example?
It seems to me that the operations are pushed back exactly 3 moments, the same amount required for your Opty's new operations to fit.

In case of the small example, if the optimizer would replace with 4 Y gates instead, we get this:

[code]

[code]

Your example has an extra Y in it also...that was accidental?

[2020-07-01 23:40] jaeyoo commented on #3116
Yes, it happens when I tested with TFQ. Thank you for considering the second option!

[2020-07-02 00:06] dabacon commented on #3116
I think we need to
1. add double value to proto
2. make `_arg_from_proto` support double value
3. get `_arg_from_proto` version of cirq out to dependencies
4. make `_proto_from_arg` support double value (should ints be made to doubles?)

@maffoo

[2020-07-04 10:42] thubregtsen opened #3120 "cirq.Unitary appears to provide wrong unitary"
I'm likely misusing the function, but I do not observe what I expect.

What I am trying to do: observe the unitary of a set of gates

What I do:

    q0, q1 = cirq.GridQubit.rect(2, 1)
    circuit = cirq.Circuit()
    circuit.append(cirq.I(q0))
    circuit.append(cirq.Y(q1))
    print(circuit)
    print(cirq.unitary(circuit))

What I observe:

    (0, 0): ───I───
    (1, 0): ───Y───
    [[0.-0.j 0

[2020-07-04 11:29] #3120 closed

[2020-07-05 15:28] tai271828 commented on #3103
The same test case will pass with numpy=1.19.0 on my local machine (amd64, ubuntu 16.04.6). I dived into the difference between my local run and the github action CI, and the eigen vector from `np.linalg.eig(mat)` of  https://github.com/quantumlib/Cirq/blob/master/cirq/optimizers/decompositions.py#L142 differs.

[2020-07-06 16:31] balopat commented on #2553
I think I know what you mean by "twice" - on the first two qubits there is space created seemingly not only for the 3 extra operations but 3 more "holes" are there. The problem is because the overlapping "replacements" can create holes in previous ones. The first replacement is "being taken apart" by the second replacement, as it creates the new moments.

It looks to me that a fix here - to calcul

[2020-07-06 20:54] mpharrigan commented on #2553
That's right. A sneaky change I made in my version of the "minimal example" was to change the input to two `Y` gates

[2020-07-06 21:43] balopat commented on #2553
Oh, yeah, got it. We need one of the replacements to "not need" new moments though (i.e. to have enough space). So with the same `Y -> Y@Y` replacer this is now a real minimal example that shows the same reordering issue:

[code]

[code]

Yes, to clarify my first comment - that "minimal example" was not the reproduction of the original out of order behavior. It was the reproduction of the intermed

[2020-07-07 08:58] jfold commented on #1544
Any progress on this? Especially for AsymmetricDepolarizingChannel, a parameterization would be awesome.

[2020-07-07 21:06] kevinsung opened #3124 "Mypy fails to install"
In a fresh virtual environment, the required mypy version, 0.701.0, fails to install, with the error below. The latest version of mypy installs fine though. Is there a reason we shouldn't upgrade?
[code]

[2020-07-08 18:22] dabacon commented on #3116
@dstrain115 for comment as well.

[2020-07-08 20:38] dabacon opened #3127 "EngineJob should not just be iterable but also indexable"
Currently only implements `__iter__` but think this should also implement `__getitem__`.

[2020-07-09 22:41] mpharrigan commented on #2816
What about having an optional label/program_id attribute on `Circuit`?

[2020-07-09 23:17] viathor opened #3130 "Support numpy integer arrays as grid offsets"
It turns out that computations of grid coordinates are done more conveniently using numpy integer arrays than 2-tuples of python ints. However, when offsets thus computed are used with GridQubit exception is raised. For example:

[code]

It'd be nice to be able to say `q + d` instead of having to write `q + tuple(int(v) for v in d)` or similar.

[2020-07-10 04:22] #3127 closed

[2020-07-10 04:56] #3130 closed

[2020-07-10 16:01] balopat commented on #3110
https://github.com/googleapis/python-api-core/blame/02d25799243bd76ac76423a08c063a2bee8d11e4/setup.py `google-api-core 1.20` is the last that has `protobuf >= 3.4.0`. So we could put an upperbound on that as @dabacon said.

Alternatively we could upgrade our protobuf requirement. What are the constraints around that?

[2020-07-10 17:52] maffoo commented on #3116
Note that we also use floats in the sweep protos for Points and Linspace: https://github.com/quantumlib/Cirq/blob/master/cirq/google/api/v2/run_context.proto#L104.
We might want to modify those as well to allow specifying doubles for people who want the higher precision.

I don't feel particularly strongly either way; it seems like the few tests that fail that can be handled with approximate equal

[2020-07-10 20:06] balopat commented on #3116
Can we clarify the problem here a little bit?
@jaeyoo so you are serializing and deserializing a Circuit and that doesn't end being equal to the original Circuit? Can you provide example code?
Can you provide some clarity around what use case does this influence in TFQ?

[2020-07-10 21:12] balopat commented on #3116
I got a repro as I'm wrapping my head around it:

[code]

Prints:

[code]

[2020-07-10 22:12] dstrain115 commented on #3116
I've run into this before when serializing into FSIM_GATESET and then deserializing on the other side, since it wants to check if exponent is close to, say pi/6, and it is only within 1e-6 instead 1e-8 due to the down-scaling to 32 bit precision.

[2020-07-10 22:57] #3110 closed

[2020-07-10 22:58] balopat commented on #3110
We will release next week a bug release on this!

[2020-07-11 01:03] jaeyoo commented on #3116
Thank you all for giving your attention. @dabacon @dstrain115 @balopat @maffoo . Yes, if it is the well-known practice about the proto serializer, I also want to follow up the course - rounding up :) I've struggled fixing our serializer & deserializer, and now I can see no errors without changing the proto from `float` to `double`.

Now that we decided not to work on modify proto, please let me cl

[2020-07-11 02:20] dstrain115 commented on #3116
Did we actually decide not to work on this?  I think we may want to consider changing from float to double.

[2020-07-11 07:10] jaeyoo commented on #3116
Ahhh @dstrain115 , I misunderstood. Sorry. I decided, but not we. Thank you for the correction :) So I want to say it is not urgent to me anymore.

[2020-07-14 17:22] dabacon opened #3135 "Run batch interface"
Collecting some thoughts on the new `run_batch` in hopes of cleaning up its interface.

First, information about the program batch structure is very hard to recover from the `EngineJob` or `EngineProgram`.  Losing this information means that downstream consumers need to be fed this separately to sort out the results.

Second here are some ideas to improve the interface on `EngineJob`:

* `batched_

[2020-07-14 17:33] maffoo commented on #3135
Thanks for starting this, @dabacon. I agree that we need a more structured result format for batches. I think if running one circuit gives `List[TrialResult]` then running a batch should give `List[List[TrialResult]]`. Currently, `TrialResult` knows how to convert itself to a dataframe, but it would be nice if we had a way to get a dataframe representing an entire sweep so having a way to get a `D

[2020-07-14 19:42] balopat opened #3136 "release process nits"
As I went through releasing v0.8.2 I noticed a following small things:

1) _version.py is under the cirq folder, the code snippets should reflect that
2) -r dev_tools/conf/pip-list-dev-tools.txt might not be actually required, and it was failing on python 3.8 (typed-ast fails to compile) but succeeded on 3.7
3) ./dev_tools/packaging/verify-published-package.sh fails on MacOSX - it would be useful

[2020-07-14 20:09] balopat commented on #3124
I recently got this for python3.8 - do you see this for python 3.7 as well?

[2020-07-14 20:16] balopat commented on #3124
Agreed, that there is no other solution then to upgrade mypy (https://github.com/python/typed_ast/issues/124).
I see no objections yet, so I'll try 0.770 in CI and we'll see what breaks :)

[2020-07-14 20:45] dstrain115 commented on #2690
I have updated release docs.  See #3136 for the latest improvements that Balint discovered when running through the procedure.

[2020-07-14 20:45] #2690 closed

[2020-07-14 20:46] dstrain115 commented on #1288
Didn't you just implement this @dabacon ?  I think we can close this now.

[2020-07-14 20:56] dstrain115 commented on #1297
I removed the direct quotation of these examples in the docs and instead link to the source code.  I don't think this issue is relevant anymore.  Please re-open if you find other instances of this in the docs.

[2020-07-14 20:56] #1297 closed

[2020-07-14 21:12] balopat commented on #3124
I tried it locally, we'll need to review these issues to upgrade:

<details>

[code]

</details

[2020-07-14 21:22] dstrain115 commented on #2226
This is now completed.  See https://cirq.readthedocs.io/en/latest/google/engine.html#running-circuits-in-batch for details.

[2020-07-14 21:22] #2226 closed

[2020-07-14 21:42] dabacon commented on #2226
#3135 for follow up thoughts on the interface

[2020-07-14 21:44] dabacon commented on #1288
No I made EngineJob results indexable.  So still open.

[2020-07-15 12:34] obriente opened #3139 "Noise model details unclear"
Something I just ran into in the docs - when we use a noise channel in a simulator does this occur per gate, or per qubit per moment?

I can't seem to find this anywhere, perhaps it should be added to the docs in a few places, as it's pretty relevant.

[2020-07-15 18:31] balopat commented on #942
Chatted on Cirq Cync.
Requirements:

* We can start with extending the cirq.measure.
* The meat of this work will be `cirq.PauliMeasurementGate` analogous to the `cirq.MeasurementGate` (DensePauliString).
* In the hardware we have rotations and measurement. Maybe we should keep the representation closer to hardware: Parametrizability would be great (@maffo's comment) - this goes against using `Den

[2020-07-15 18:36] Strilanc commented on #942
So here's what I'm picturing as the general design:

[code]

[2020-07-15 21:20] #2957 closed

[2020-07-15 23:14] dstrain115 commented on #3116
I went ahead and fixed items 1 and 2 from @dabacon comment in PR #3140 .  We will need to wait for a version push in order to do 3 and 4.

@maffoo In order to change Points and Linspace to double, we will need to make a new field.  So, there will be points and points_double for a while, then we will have to deprecate points in favor of points_double.  I am a bit reluctant to do that, as it introdu

[2020-07-15 23:50] #3136 closed

[2020-07-16 03:44] dabacon commented on #3139
Yes I agree this is very unclear.  Different noise models handle this noise differently, they basically transform the moments by adding extra noise operations.  These can depend on what is in the moment, for example.  So you could have a noise model that depends on which two qubit gate was executed.

[2020-07-16 08:44] obriente commented on #3139
I'll go and try to add details to the docstrings of the functions in ops/_common_channels - at least here it should be clear. Will need someone to check though as I could get this quite wrong.

[2020-07-16 08:52] obriente commented on #3139
Aaaand reading over the code I just realised how this is implemented and that it is well-documented.

Nevermind my stupidity.

[2020-07-16 08:52] #3139 closed

[2020-07-16 16:35] dabacon commented on #3023
Don't work on this until we have documentation upgrade done.

[2020-07-16 20:09] #2818 closed

[2020-07-16 21:49] balopat opened #3143 "setup a CHANGELOG.md"
It is fairly common to have a portable, human readable changelog for OSS projects. I think we should have one. For more background - I mostly agree with the reasons listed in https://keepachangelog.com/en/1.0.0/

My main motivation would be to introduce an "Unreleased" section, that would talk about Deprecations, Breaking changes and other notices that we can start to build before the releases.

P

[2020-07-16 22:23] dstrain115 commented on #3143
SGTM.  Maybe let's raise it at the next cirq cync and get broad approval?

[2020-07-17 17:25] balopat commented on #3143
Sounds good!

[2020-07-17 17:37] #2990 closed

[2020-07-17 20:12] mpharrigan opened #3144 "MergeSingleQubitGates only merges to the right"
I'm trying to merge my single qubit gates without disturbing the overall structure of my circuit.

[code]
[code]
[code]
[code]

What I expected: one moment
What I got: two moments

This transformer uses `PointOptimizer` which only iterates over operations. We should (could?) iterate over circuit coordinates and handle `None` for the `op` argument in `optimize_at` (and in `find_until_blocked`)

[2020-07-17 20:24] mpharrigan opened #3145 "Moment should have `operation_at`"
There is a method called this on `Circuit`. It would make sense to live on `Moment` and then the circuit method could dispatch to it

[2020-07-17 20:59] balopat commented on #3145
This sounds like a reasonable and simple improvement, though moment can be indexed with the qubit (`moment[q]` returns the operation on that qubit), isn't it superfluous to introduce `operation_at`?

[2020-07-17 21:06] mpharrigan commented on #3145
Oh I didn't realize you could index into it like that. In any event, `Circuit.operation_at` should use that functionality

[2020-07-17 23:10] vtomole commented on #3143
We (kind of) voted against this: https://github.com/quantumlib/Cirq/issues/1207.

[2020-07-18 01:09] balopat commented on #3143
Thank you for that pointer @vtomole!!!

In my opinion we should reconsider given these arguments:
- It is hard to keep a list of "unreleased" changes in Github releases
    - users won't see it
    - not everyone has access to creating Drafts
- Github releases list releases in temporal format. When we move to multiple supported versions (after 1.0), we'll have this mixed bag of things like [here](

[2020-07-18 13:50] balopat opened #3148 "Extend the Sampler API"
From @mpharrigan: "Embolden the Sampler API so you can do everything with it. For example, batching should be added to the Sampler API. You should be able to modify your code to use batching (and test it) without a QPU reservation"

[2020-07-18 13:57] balopat opened #3149 "Better representation for QPUs"
From @mpharrigan: Consider tying together some of the related concepts: device object, sampler, device calibration, and device name, supported gatesets into an easy-to-get nicely-named object.
A version of these classes in ReCirq: https://github.com/quantumlib/ReCirq/blob/master/recirq/engine_utils.py#L232

[2020-07-18 13:59] balopat opened #3150 "A wrapper function for device calibration"
From @mpharrigan: A wrapper function for getting device calibration that doesn't require creating an Engine object

[2020-07-19 04:49] kevinsung opened #3152 "Failing tests related to qiskit"
**Description of the issue**
On my local machine, running `pytest` in a fresh virtual environment gives 162 failing tests, many of them with the same error.

**How to reproduce the issue**
In a fresh virtual environment, install cirq and the dev dependencies and then run pytest. For example, from the root directory of Cirq,
[code]
Note that you may need to edit `dev_tools/conf/pip-list-dev-tools.t

[2020-07-19 04:52] kevinsung commented on #3152
This seems to be caused by https://github.com/Qiskit/qiskit/issues/760 which is specific to python 3.8.

[2020-07-19 04:57] kevinsung commented on #3152
Upgrading qiskit-aer to the latest version (0.5.2) fixes this issue. So the solution to this issue should be to upgrade the version of qiskit that we are using, which is currently 0.13.0.

[2020-07-19 05:02] kevinsung opened #3153 "Failing test in clifford_simulator_test"
**Description of the issue**
I encounter a failing test on my local machine.

**How to reproduce the issue**
Run `pytest` in a fresh virtual environment. My Python version is 3.8.4rc1. I get the following failing test:

[code]

**Cirq version**
0.9.0.dev

[2020-07-19 17:06] kevinsmia1939 opened #3154 "Packaging for openSUSE: TypeError and AssertionError"
Hello,

I am trying to package this into openSUSE Tumbleweed.
Could it be about protobuf issue?

Thanks.
The installed packages are as follows.

[code]

[code]

Full log here: https://build.opensuse.org/build/home:andythe_great/openSUSE_Tumbleweed/x86_64/python-cirq/_log

[2020-07-20 16:14] balopat commented on #3152
Thank you @kevinsung, I'll look into this!

[2020-07-20 16:22] balopat commented on #3152
Oh I see, this is 3.8 related. We don't run our CI against 3.8 yet. Would it be possible for you to run on 3.7?
I'll open an issue to start to look into the 3.8 upgrade.

[2020-07-20 17:56] balopat commented on #3154
@kevinsmia1939 I can't reproduce this just yet.
I tested on a virtual env with python 3.8 and your list of dependencies.

This might a difference between protobuf 3.12.2 and 3.12.3 but I doubt it based on a look at their commit log. For some reason `protobuf  3.12.3` is not yet on PyPi - I haven't had success yet installing manually. How does openSUSE pull it in?

Can you try to reproduce this iss

[2020-07-20 18:07] balopat commented on #3153
Thanks for opening @kevinsung! This is a real bug - collapse_wavefunction was deprecated but the code deprecation code had `collapse_wave_function` instead inconsistently. I opened a PR to fix it. What I'm puzzled about is how this worked on Python 3.7 and not in Python 3.8...maybe `@deprecated_parameter` doesn't work that well in Python 3.7...

[2020-07-20 18:37] balopat commented on #3145
That is true, we could use moment[q] in Circuit.operation_at - just to clarify do you think it would be valuable to add `operation_at` to Moment as well as it might be more discoverable than the indexing?

[2020-07-20 19:08] balopat commented on #2581
@vtomole are you willing to reopen this and work on it? Happy to help during the migration!

[2020-07-21 07:46] kevinsmia1939 commented on #3154
Protobuf 3.12.3 is from github repo.
https://github.com/protocolbuffers/protobuf/releases/tag/v3.12.3

I will ask other packager and will keep you update,
Thanks.

[2020-07-21 17:07] #3153 closed

[2020-07-21 19:14] #3087 closed

[2020-07-21 19:15] dstrain115 commented on #2972
Closed via #3146

[2020-07-21 19:15] #2972 closed

[2020-07-22 18:42] viathor opened #3164 "Factoring 21 using Shor algorithm allocates 1TB unitary"
**Description of the issue**

An attempt to factor 21 using cirq's [Shor algorithm example](https://github.com/quantumlib/Cirq/blob/master/examples/shor.py) attempts to allocate 1TB unitary.

**How to reproduce the issue**

As shown by the description of the [original PR](https://github.com/quantumlib/Cirq/pull/2436), it used to work a while back, but now fails like this:

[code]

**Cirq version**

[2020-07-22 18:55] #2963 closed

[2020-07-22 21:01] #3164 closed

[2020-07-22 21:17] kevinsung commented on #3152
Yeah, I can work around this issue.

[2020-07-22 23:23] tanujkhattar opened #3169 "Exponential of a (commuting) PauliSum"
Exponentiating a `PauliSum` where individual terms commute is a fairly common utility function. Both [TFQ](https://github.com/tensorflow/quantum/blob/1f050a8ca3217adb56bdd3bf29255a4e8d610ceb/tensorflow_quantum/python/util.py#L419-L520) and [OpenFermion](https://github.com/quantumlib/OpenFermion-Cirq/pull/395) need/implement this functionality.

Given all the related nice functions which already ex

[2020-07-22 23:54] tanujkhattar commented on #3044
This was resolved by [PR3016](https://github.com/quantumlib/Cirq/pull/3016)

[2020-07-22 23:54] #3044 closed

[2020-07-23 00:40] mpharrigan commented on #3103
This test is failing for me. It's currently xfailed on windows with a reference to #2468 which is closed

[2020-07-23 01:55] mpharrigan opened #3170 "`final_wavefunction` is deprecated wrong"
If you use `cirq.final_wavefunction` it says:

[code]

[2020-07-23 02:00] mpharrigan commented on #3170
there is a test: `mux_test:test_deprecated` that must be broken as well. It uses `cirq.testing.assert_logs`

[2020-07-23 03:01] tai271828 commented on #3103
@mpharrigan may you please share your debugging information to us? e.g.

1. The output of `pip list`, or any method that could tell us your numpy version
2. Which cirq version you are using?

[2020-07-23 22:01] balopat commented on #3170
This is an issue with the deprecation function's text itself - I'll have a look

E.g.

[code]

[2020-07-23 22:02] balopat commented on #3170
The tests are just matching on the substring of the new function name to be there but not the structure of the whole text.

[2020-07-24 00:03] #3170 closed

[2020-07-24 00:12] mpharrigan commented on #3170
the mux test deprecated searches for both the new name *but also* the old function name which *isn't* (wasn't ... I see you've already fixed the underlying issue) in the message

[2020-07-24 00:26] balopat commented on #3143
Alternative idea: we could use the github wiki [like SciPy does](https://github.com/scipy/scipy/pull/7794#issuecomment-329409333) but add the link from somewhere visible to it.

[2020-07-24 05:56] maffoo commented on #3103
Is this the only blocker for numpy 1.19? @dabacon, are you actively working on fixing the test?

[2020-07-24 06:34] maffoo opened #3175 "cirq-unstable updates are broken"
cirq-unstable has failed to update since #3167. The packages are failing to upload to pypi, and from the [build log](https://travis-ci.com/github/quantumlib/Cirq/builds/176794690) it looks like pypi can't handle something in the new README.rst:

[2020-07-24 16:34] maffoo commented on #3175
Fixed by #3176.

[2020-07-24 16:34] #3175 closed

[2020-07-28 16:06] shadab-entrepreneur opened #3178 "Broken Link of Variational Algorithm on Documentation Page"
**Description of the issue**
Under the [Advanced Tutorials](https://cirq.readthedocs.io/en/stable/examples.html#advanced-tutorials) section on documentation page, [Variational Algorithm](https://cirq.readthedocs.io/en/latest/tutorials/variational_algorithms.html) link is broken

**How to reproduce the issue**
Go to this [page](https://cirq.readthedocs.io/en/stable/examples.html#advanced-tutorials)

[2020-07-28 23:06] balopat commented on #3178
Thank you for letting us know @shadab-entrepreneur! Would you be open to fix it? We are open for PRs! :)

[2020-07-28 23:23] shadab-entrepreneur commented on #3178
Sure @balopat
I'm new to the documentation of Cirq, can you please point me to the file from where these notebooks are getting rendered?

[2020-07-28 23:33] shadab-entrepreneur commented on #3178
Sure @balopat

[2020-07-29 00:04] balopat commented on #3178
Fixed in #3178

[2020-07-29 00:04] #3178 closed

[2020-07-29 00:07] balopat commented on #3169
Thank you for opening this Tanuj! I'm personally open to it, but I'd like to get the opinion of the rest of the maintainers - let's discuss on Cirq Cynq tomorrow!

[2020-07-29 18:05] Strilanc commented on #1288
In the pandas dataframe results, `dataframe[key]` returns the column by key (all samples for a given measurement by key). If we want to be consistent with that, we would match it.

[2020-07-29 18:12] mpharrigan commented on #1288
The fact that it isn't obvious to us what this should return might suggest that it's best to not implement it and have users type what they want after a dot

[2020-07-29 18:44] balopat commented on #3169
Cirq Cynque:
- let's do it
- implement first only for commuting terms
- if they don't commute what do we do?
    - first step: throw an error
    - next PRs - for a few anticommuting terms you can do a tableau based exponentiation

[2020-07-29 19:02] dabacon commented on #3169
There are sort of three cases:
1) commuting Pauli terms.
2) case where there are only a few anticommuting terms
3) no real structure.

Let H=c_1P_1+c_2P_2 +... +c_k P_k

In case 1) you can write this as a series of PauliStringPhasors, i.e. exp(iH) = exp(ic_1P) exp(ic_2P_2)...exp(ic_kP_k)

In case 2) you can use a stabilizer tableau (https://pdfs.semanticscholar.org/67af/c372369240e202ec902fb11ab25

[2020-07-29 21:56] balopat opened #3182 "Colab link for notebooks"
https://colab.research.google.com/github/quantumlib/Cirq

Brings up the notebooks in the project. It is kind of cool, but it requires a Google account to run them.
What do we think about adding it in the README.rst as a link to tutorials?
(I also asked the same question in OpenFermion https://github.com/quantumlib/OpenFermion/issues/628 and we could do something similar in ReCirq as well @mpharrig

[2020-07-30 16:19] dstrain115 commented on #1288
We have decided not to do this, as there is too much ambiguity and it is not that hard to type ".data" or ".measurements" after the TrialResult to disambiguate and clarify which one you want.

As an aside, I have also decided not to rollback getitem for EngineJob since that iterates over TrialResults and is not ambiguous.  Closing this issue.

[2020-07-30 16:19] #1288 closed

[2020-07-30 20:53] dabacon opened #3183 "QCircuit does not render gates that cross each other correctly"
**Description of the issue**

QCircuit creates extra wires in diagram.

**How to reproduce the issue**

Here is a circuit where CNOTs pass over each other:
[code]
prints
[code]
If you run this through the qcircuit convertor,
[code]
it produces output
[code]
you can see there are extra wires here not corresponding to any of the four qubits.  Compiling this in LaTeX confirms that the diagram is brok

[2020-07-30 21:03] balopat commented on #3183
Thanks for opening! This could be a great first issue for someone in the community to pick up.

Here's the compiled latex for reference:

![image](https://user-images.githubusercontent.com/635073/88974451-7d14ba00-d26d-11ea-8751-b9e5190ddd93.png)

[2020-07-30 21:38] dabacon opened #3184 "Customizing MatrixGate circuit diagram info"
Currently MatrixGate plots an entire matrix when displayed in a circuit.  For single qubit gates this is usually OK, but for two qubit gates the gates end up being pretty monstorous.  I've taken to hacking _circuit_diagram_info_ in this case, but I think it would be nice if there was a way to do this at construction time, i.e.
```cirq.MatrixGate(u, circuit_diagram_info=lambda or diagram info)```

[2020-07-30 21:55] cduck commented on #3184
This sounds like a job for tags.

[2020-07-31 13:20] exAClior commented on #3183
Hello @balopat @dabacon , may I try to work on this one? I presume I would try to modify the corresponding function under the branch 0.9.0.dev? If so, do I need some special qualifications to be able to see that branch? Thanks in advance for your help.

[2020-07-31 13:21] akshajgaur opened #3185 "Optimization Pass that runs through optimizations until no further are needed"
I think that it would be very helpful if we had an optimization pass that ran many optimizations for maximal gate reduction. I have been running:

[code]

Is there a better order/pass than this (including cliffords), and if there was, would adding 1 pass help.

[2020-07-31 16:43] balopat commented on #3183
Hey @exAClior, thank you for volunteering! Yes, please, have a look, let me know if you get stuck!
0.9.0.dev means currently that that's the `master` version. Just checkout master in your fork, create a branch based on that and raise a PR against the `master` in this repo!

[2020-07-31 16:59] balopat commented on #3185
Hi @akshajgaur, thanks for opening this. Yeah, that would be great if could give minimal circuits. However, to my knowledge global optimization of a circuit is QMA hard in the general case.
This tells me that it would be hard to pin down the exact optimizations that would result in a minimal circuit and that the exact list of steps would be different for different circuits. Thus I don't think that

[2020-08-02 18:14] oliverob commented on #3069
I think I would like to have a crack at this, as a first contribution. Is it simply matter of copying the format of LineQubit and GridQubit, but altering the functions to work like NamedQubit?

[2020-08-02 23:53] cduck commented on #3069
Yes, looking at LineQubit/LineQid and using the same structure for NamedQubit/NamedQid should be all that's needed.  Also take a look at the unit tests for them in the corresponding *_test.py files.

[2020-08-03 19:43] zohimchandani opened #3188 "Tensor product of 2 state vectors"
Ia there a way to tensor product 2 state vectors?

[2020-08-03 22:06] mpharrigan commented on #3149
Related / possible dupe: https://github.com/quantumlib/Cirq/issues/2820

[2020-08-03 22:08] mpharrigan commented on #3145
I can't speak for everyone, but I would have found it if it was called `operation_at` :)

[2020-08-03 22:56] balopat commented on #3188
Hi @zohimchandani, in general states are represented as numpy arrays of the probability amplitudes which then you can use np.kron to provide the tensor product, i.e. there is no special representation in Cirq. If you are thinking about tensor product of basis states, there is a PR that is going that direction: https://github.com/quantumlib/Cirq/pull/3171. What are you trying to achieve?

[2020-08-04 01:41] amandalqy opened #3189 "Can cirq work on Large-scale distributed platform？Such as a cluster of GPUs or a cluster of CPUs?"
Can cirq  work on Large-scale distributed platform？Such as several machines each with one cpu, or several machines each with one gpu, or several gpus on one machine?

[2020-08-04 20:08] viathor opened #3190 "Generalization of quantum gates to qudits"
Now that cirq supports qudits, we should generalize our quantum gates where possible/appropriate. Some examples of gates that should work on qudits:
 * generalization of Pauli gates: X|k⟩ -> |k + 1 mod m⟩, Z|k⟩ -> e^(2πi/m)|k⟩,
 * generalization of Hadamard/Fourier transform that takes X to Z under conjugation.

Naming will get tricky. We should probably not make users look for generalized gates u

[2020-08-04 20:09] viathor commented on #3190
The current behavior of the gates when applied to qudits is to raise a `ValueError`:

[code]

[2020-08-04 20:10] viathor commented on #3190
Related: #3058

[2020-08-05 13:57] zaqqwerty opened #3192 "Approximately equal circuits with symbols not detected by cirq.approx_eq"
**Description of the issue**
Circuits with symbols are determined to be unequal by `cirq.approx_eq` when they should be approximately equal.

**How to reproduce the issue**

[code]
First output is `True`, second output is `False`

**Cirq version**
0.8.2

[2020-08-05 16:29] balopat opened #3194 "Python 3.8 support"
This issue is to track the problems with Python 3.8.
It can be closed as soon as we can develop and run Cirq against 3.8, meaning that we have CI jobs against it as well.

[2020-08-05 16:31] balopat commented on #3192
Thank you for filing this @zaqqwerty - this should work. Either approx_eq should throw an error if the arguments are parametrized that it's not supported or support it properly. This behavior is a silent failure. Marked it as a bug.

It also seems like a self contained issue, perfect for contributors to pick up!

[2020-08-05 18:22] Strilanc commented on #3190
What we found when we considered doing this is that it had a lot of really bad corner cases, especially when involving noise operations.

Here is a relevant question on the quantum computing stack exchange where the same issue is encountered with "how do I control a Kraus operator?": https://quantumcomputing.stackexchange.com/questions/12196/deriving-a-controlled-kraus-operator-from-an-uncontrolle

[2020-08-05 18:34] Strilanc commented on #3190
For example, consider the Reset operation when using the "just work on the 01 subspace" interpretation suggested at the start of this issue. Is the reset operation *really* something that leaves the |2> state alone, or is the obviously correct generalization the one that also sends |2> to |0>? That's certainly what happens for the reset operation in our hardware.

I'm not even sure I would say the

[2020-08-05 20:13] viathor commented on #3190
I didn't suggest that we should implement qudit gates by unleashing corresponding qubit gates "on the 01 subspace". This is rarely (never?) the right thing to do. Instead, I noted that some gates admit natural generalization and provided examples for unitary gates:

As you point out, natural generalizations are sometimes also available for non-unitary operations (e.g. reset).

I argue that:
* wher

[2020-08-05 22:14] balopat commented on #1636
@babbush - now that MS and XXPowGate are "disentangled" do you think that issue still has to stay open? It is unclear from https://github.com/quantumlib/Cirq/issues/1636#issuecomment-493255486 which part of the behavior was unintuitive - was there anything left regarding the decompose method/args?

[2020-08-05 22:29] tonybruguier-google commented on #3192
Is help still needed on this? I am looking for a good first issue.

[2020-08-05 22:46] zaqqwerty commented on #3192
Thanks for offering to help!  Of the options Balint listed, most helpful would be to figure out how to make:
[code]
output `True`.

[2020-08-05 22:53] balopat commented on #3192
It's all yours @tonybruguier-google - thanks for volunteering!

[2020-08-06 00:47] tonybruguier-google commented on #3192
Sent:
https://github.com/quantumlib/Cirq/pull/3195

Note that I changed the test case. It seems that it compares 5e-3*s/pi which can be big if s is large. Happy to change the PR, of course.

[2020-08-06 01:33] tonybruguier-google commented on #2763
Hello,
Is more work needed for this issue?
Is this a good reference for the diamond norm?
https://arxiv.org/pdf/1004.4110.pdf

@mpharrigan
Is this easy enough given my limited experience?

[2020-08-06 02:55] viathor commented on #3190
Interesting caveat: I think there is actually some freedom in the form of generalized X. If we let

[code]

then we obtain reasonable(*) commutation relations as long as gcd(h, m) = 1. In a Hilbert space of prime dimension m any h=1, ..., m-1 works. The advantage of the choice h=1 is that it works in any dimension m. I think this still qualifies it as the right choice.

Also, I had a closer look a

[2020-08-06 03:05] viathor commented on #3190
Regarding the idea of "swapping 0 and 1": In addition to the math way of seeing that this isn't the right way to generalize Pauli X there is also the physics way:

The math way: "swap 0 and 1" is order two operator (i.e. X^2 = I), but the Heisenberg group on Z/3Z does not include any element of order two.

The physics way: X and Z correspond to the position and momentum operators, so if you identi

[2020-08-06 07:12] AlkaidCheng opened #3196 "Glitched Circuit Diagram after flatten"
**Description of the issue**
When a circuit has a parameterised gate as a product of symbols, flattening the circuit will produce a glitched circuit diagram where the parameterised expression is gone. This will further affect the circuit diagram if two qubit gates are also present in the circuit.
**How to reproduce the issue**

[code]
This will product circuit diagram like this

This will product

[2020-08-06 17:04] dabacon commented on #3190
Heisenberg-Weyl gates would be great.  This would be good to add to the roadmap feature for how we want gates to be interoperable or not.  I'm not sure of the advantage of overloading Pauli, for example, but I do see the advantage of overloading procedural calls (the former leads to problems that are consumers...each needs to support all qudit infrastructure or reject it, whereas the later is abou

[2020-08-06 21:22] tonybruguier-google commented on #2492
Sent:
https://github.com/quantumlib/Cirq/pull/3197

Happy to withdraw if misguided.

[2020-08-06 21:45] mpharrigan commented on #2763
I'm not an expert on distance measures or the current state of `cirq.qis`, so someone else could probably speak more to the current state of things.

But after a quick check, it looks like we still only have (state) fidelity. We should definitely support process fidelity and purity (see @vtomole 's linked qiskit page for more details). This depends on having a representation for processes (like th

[2020-08-06 22:10] balopat commented on #3196
Hi @AlkaidCheng  - the result on the CLI is

[code]

I'm guessing that the angle brackets `<` `>` create the problem in a browser for you - maybe Jupyter notebooks?

[2020-08-06 22:17] balopat commented on #3196
Yeah I just confirmed that that's the issue. In Jupyter notebooks this shows up incorrectly, but only if the object is returned as the result of the cell - if you use print, it works
[code]
Gives a workaround, but it might be a bit annoying. Not sure yet what the right solution is here.

[2020-08-07 03:20] AlkaidCheng commented on #3196
Right, I was using Colab notebooks and doing print will solve the problem.

[2020-08-07 03:27] AlkaidCheng commented on #3196
I have been using the circuit is returned as the result of the cell for printing circuits because for jupyter notebooks, doing print(circuit) will mess up the diagram by introducing extra newlines if the circuit is too long. Interestingly doing print(circuit) in Colab notebooks does not have this problem.

[2020-08-07 15:58] babbush commented on #1636
I think we can close this now, thanks!

[2020-08-07 15:58] #1636 closed

[2020-08-07 19:42] viathor commented on #3190
I agree: if cirq has qudits then cirq should have Heisenberg-Weyl gates. As is so often the case, the hard issue is how to name the new gates?

Some options:
1. Overload `cirq.X` and `cirq.Z`.
2. `cirq.Clock` and `cirq.Shift`.
3. `cirq.HeisenbergWeylX` and `cirq.HeisenbergWeylZ` or somesuch.

My preference is for 1 over 2 over 3.

In support of 1:
It seems awkward to have `cirq.X(qudit)` raise an

[2020-08-07 23:08] cduck commented on #3190
I think that there could be some confusion when reading Cirq code `cirq.X(qudit)` is
- a qudit Pauli (+1 mod d) gate or
- a qubit X gate on the 0-1 subspace

but I would prefer the first as a default if there is a clear way to also get the second (maybe `cirq.X.on_01_subspace(qudit)` that defaults to adding no phase to the other states).

For measurement (and reset), maybe there should be a "`Qubi

[2020-08-08 03:08] viathor commented on #3190
One clear way to get the X gate on the 0-1 subspace would be something like

[code]

where `subspace` method of a qudit exposes a subspace as a qubit. This helps avoid the need for hardcoding subspace information in names of gates (and proliferation of different classes/instances for what is essentially one thing).

Re `QubitHardwareMeasurementGate `: Is there a universally valid "quantum hardware

[2020-08-08 17:44] vtomole commented on #3190
+1 for

[code]

We should extend the gates we have to qudits since qudits are general. Having `cirq.H` and `cirq.Chrestenson` is duplication IMO.

[2020-08-08 20:44] tonybruguier-google commented on #2763
Sent https://github.com/quantumlib/Cirq/pull/3198 for process fidelity. Happy to withdraw if this is misguided.

[2020-08-09 03:04] cduck commented on #3190
`cirq.X(qudit.subspace(0, 2))` is an interesting idea.  Would you implement it something like this (being careful about infinite recursion)?
[code]

This would require an awkward new type, `QuditSubspace` (that probably shouldn't be a `Qid` subclass), only used as an indicator for constructing gates on subspaces of qudits.

[2020-08-10 17:47] balopat opened #3200 "Docs build is breaking PRs"
**Description of the issue**

dev-tools/build-docs.sh is broken

[code]

**How to reproduce the issue**

Any PR currently breaks.

**Cirq version**

master

[2020-08-10 18:38] balopat opened #3202 "Sphinx issues"
**Description of the issue**

Locally on Sphinx 3.1.2 on my Mac I see 3 warnings generated from the build-docs.sh execution:

[code]

1) For this first one: I think we should put some docs on `NAMED_GATESET` - sphinx generates the docs of `dict()` for it 🤯
https://cirq.readthedocs.io/en/latest/api.html#google - which probably changed in one version of sphinx (on my Mac 3.1.2) which in now includes

[2020-08-10 18:38] #3200 closed

[2020-08-10 18:58] #2806 closed

[2020-08-10 20:39] #3192 closed

[2020-08-11 16:27] #3183 closed

[2020-08-11 23:37] #1899 closed

[2020-08-12 01:10] balopat commented on #3194
dev_tools/Dockerfile does not build

<details>

[code]
</details>

[2020-08-12 20:15] balopat opened #3208 "Flake: Build docs action failing to install pyscf"
Haven't seen that one before. But it seems to be passing now - I'll open a flake issue for it just in case we see it again, maybe we can reproduce it / understand it better.

_Originally posted by @balopat in https://github.com/quantumlib/Cirq/pull/3207#issuecomment-673086890_

[2020-08-13 00:03] balopat commented on #3196
For someone who wants to look at this should review the possibility of replacing `<>` angle brackets with another pair of symbols (e.g. `{}` or `[]`) here: https://github.com/quantumlib/Cirq/blob/master/cirq/study/flatten_expressions.py

[2020-08-13 00:13] balopat commented on #3189
Hi @amandalqy - thank you for your question.

Yes, Cirq can work on a large scale distributed platform using [qsim](https://github.com/quantumlib/qsim). More specifically you would need to use [qsimh](https://github.com/quantumlib/qsim/blob/master/docs/usage.md#qsimh_amplitudes-usage) via Qsimcirq.

Please note: Usage related questions usually go to Quantum Stack Exchange with the cirq tag. Closin

[2020-08-13 00:14] #3189 closed

[2020-08-13 00:16] balopat commented on #3188
_Please note_: Usage related questions usually go to Quantum Stack Exchange with the cirq tag. Closing, as this is not an issue per se.

[2020-08-13 00:16] #3188 closed

[2020-08-13 00:23] balopat commented on #3184
@cduck what is your thinking around tags here? Use tags as a mechanism to override the circuit_diagram_info for any operation?

Anyway - I marked this as a good first issue - it should be easy for anyone to implement whichever the decision. But please discuss the design first here before opening the PR.

[2020-08-13 00:26] balopat commented on #3182
Good first issue!!! Whoever wants to work on it - should look at how OpenFermion implemented this to make it similar. I don't think we need binder link though.

[2020-08-13 00:30] balopat commented on #3194
related https://github.com/quantumlib/Cirq/issues/3154

[2020-08-13 00:32] balopat commented on #3194
related https://github.com/quantumlib/Cirq/issues/3124

[2020-08-13 00:34] balopat commented on #3149
It is, closing as a dupe.

[2020-08-13 00:34] #3149 closed

[2020-08-13 00:37] cduck commented on #3184
Previously, @dstrain115 listed "gate color in a diagram" as one of the use cases of tags.  One option could be to define a tag that means "use a compact gate representation".

In terms of design, this would require:
- Make the circuit diagram drawer check for this tag.
- Add an attribute to `CircuitDiagramInfoArgs` that tells gates to return compact diagram info.
- Add support for this attribute i

[2020-08-13 01:16] balopat opened #3210 "upgrade to numpy 0.19"
Discover all the issues / test failures related to numpy 0.19 and upgrade our requirements.txt.
More context: https://github.com/quantumlib/Cirq/pull/3106

[2020-08-13 13:23] exAClior commented on #3210
Hi @balopat, I just updated NumPy to 1.19 and ran check/all | grep numpy, it seems like every test passed and no warning regarding NumPy has been raised. But there is a mention that "Importing from numpy.matlib is deprecated since 1.19.0" which is related to quimb package that was used.

[2020-08-13 18:03] exAClior commented on #3145
Hi, would it be possible for me to try and add `operation_at` to Moment? I might need to read the relevant codes first as I am not entirely familiar with them.

[2020-08-13 18:06] abhik-99 commented on #3196
Hey! Can I contribute to this issue?

[2020-08-13 18:09] abhik-99 commented on #3210
Can I help on this if needed?

[2020-08-13 19:55] balopat commented on #3098
Thank you @dkafri for opening this and taking the time to capture a useful example!
This should be added to the docs on interoperability.

[2020-08-13 20:24] balopat commented on #3196
Hi @abhik-99 - yes please, feel free to grab it!

[2020-08-13 20:27] balopat commented on #3210
@exAClior - that sounds great - can you confirm that #3105 and #3103 - the currently known broken tests - are passing by raising a PR? @abhik-99  - I would leave this with @exAClior if he is interested.

[2020-08-13 20:31] balopat commented on #3145
You got it! Thanks for volunteering!

[2020-08-13 20:47] balopat commented on #3196
After a quick internal chat - consensus is on using `[ ]`.

[2020-08-13 20:52] cduck commented on #3196
I haven't been following this issue but it sounds like the angle brackets are a problem in the Jupyter scrollable view because they are interpreted as HTML tags.  An easy fix for this would be to the builtin `html` module to escape any special characters in `_repr_html_` for `Circuit`.

[2020-08-13 21:00] balopat commented on #3196
Oooo awesome suggestion @cduck, I didn't know about `_repr_html_` - @abhik-99 - please try that out - if we could implement the escaping there that would be even better and actually more robust.

[2020-08-13 21:39] exAClior commented on #3210
@balopat Just a quick update, I ran the following commands `pytest ./cirq/ion/convert_to_ion_gates_test.py` for #3105 and `pytest ./cirq/optimizers/decompositions_test.py` for #3103 and they did pass with no problem at all.
My python version is 3.8.5 and the numpy version is 1.19.1.
However, as I am trying to create a PR to report this, I pulled from the latest upstream/master I ran `./cirq/check/

[2020-08-13 21:56] balopat commented on #3088
Thank you @mrwojtek for the suggestion! Would

For the record this is the image:

![image](https://user-images.githubusercontent.com/635073/90181127-cdf3da80-dd64-11ea-9708-73af797b04a2.png)

Example test data from `cirq.CalibrationData['two_qubit_sycamore_gate_xeb_cycle_total_error']` which returns the metric for a given edge on a chip.

[code]

The solution would convert the data in `cirq.Calibr

[2020-08-13 21:59] balopat commented on #3210
I would be wary of using python 3.8 - I think that has it's own bag of issues (#3194). I would suggest solving this using a python 3.7 env first.

[2020-08-14 00:21] exAClior opened #3213 "Install documentation cannot install cirq[contrib]"
### Issue
In the installation documentation, there is a mention that you should install features in `cirq/contrib` by the command `python -m pip install cirq[contrib]`. This fails to install with the following error `no matches found cirq[contrib]`. This has occurred for both manjaro and macOS creating a virtual environment and using pip to install. pip version is 20.1.1  and 20.2.2.

[2020-08-14 00:35] exAClior commented on #3210
Thank you so much for your advice. It turned out that I am not installing the requirement for checkers and etc correctly. But numpy 1.19.1 should work. I am double testing everything before I create the PR.

[2020-08-14 00:41] abhik-99 commented on #3196
Sure @balopat! On it. Thanks.

[2020-08-14 00:46] balopat commented on #3213
This works for me on my MacOS with python3.7 and pip 20.2.2:

[code]

[2020-08-14 00:47] balopat commented on #3213
Can you try using `pip install cirq-unstable[contrib]`?

[2020-08-14 03:33] mpharrigan commented on #3196
xref #2905 `<virtual>` labels for noise tags also get eaten in jupyter sometimes

[2020-08-14 03:40] mpharrigan commented on #3182
I'm sort of baffled by the interface that pops up. It's just listing all the notebooks in the repo? How does it order them? Happy to see all of my notebooks pop up first but they should likely be filed way further down after some more introductory tutorials :) :)

[2020-08-14 03:42] mpharrigan commented on #3182
When I try to run one, it gives a warning that it wasn't authored by google and may be malicious. It also doesn't work, since cirq isn't installed in the runtime

[2020-08-14 12:49] exAClior commented on #3213
My bad, I did not realize it could be related to my shell.  For people using zsh, they would need to be careful about globbing for pip command. Once I disabled it, everything ran smoothly.

[2020-08-14 12:49] #3213 closed

[2020-08-14 12:59] balopat commented on #3080
If someone picks it up - this is the part in question:

https://github.com/quantumlib/Cirq/blob/72c2a9ff52bc947c022168593c0bf91bddb2fb6a/cirq/devices/device.py#L37-L44

And the test that ensures this behavior is in device_test.py / test_qubit_set.

For proper deprecation, we can't use the `@deprecated` annotation as we don't have access to these attributes or methods, but we should try to imitate

[2020-08-14 13:01] balopat commented on #3079
Thanks for opening this @alexandrupaler! In my opinion this is something that could be interesting to keep in contrib but not as a core cirq functionality.

[2020-08-14 13:04] balopat commented on #3182
I see the warning is less of an issue, we should look into it if there is an easy way to get rid of that.
The runtime installation is a great point - we should add

[code]

to our notebooks alongside with this change.

[2020-08-14 13:53] exAClior commented on #3182
Being able to use Colab to run tutorials solves a lot of trouble for beginners! Don't have to worry about installing everything or creating a virtual environment or too much of your processing power been consumed by running cirq and your computer becomes laggy.
But a heads up though, I tried to do this for tutorials from the blue team. Qiskit was huge and each time I want to run the notebook, I ha

[2020-08-14 15:27] dstrain115 commented on #3000
All proto references to v1 are now contained to the google.api.v1 package.  Nothing in cirq references them anymore.  Docs (at least for the new site) have been disabled for this package.

In addition, references in engine and pyle have been reduced to only tests and necessary components for backwards compatibility.

Closing this issue.

[2020-08-14 15:27] #3000 closed

[2020-08-14 19:03] alexandrupaler commented on #3079
I have used @cduck simulator and think it works great. It would be nice to have it at least in contrib.

[2020-08-14 21:05] kevinsung opened #3219 "Calling EngineProcessor.list_calibrations gives error"
**Description of the issue**

Calling `EngineProcessor.list_calibrations` gives an error.

**How to reproduce the issue**

[code]
Output:
[code]

**Cirq version**
0.9.0.dev

[2020-08-14 22:31] viathor opened #3220 "Multi-qubit channels"
In [cirq/ops/common_channels.py](https://github.com/quantumlib/Cirq/blob/master/cirq/ops/common_channels.py) cirq implements a number of common quantum operations. All of them act on single-qubits only, but some of them (e.g. depolarizing channel) have clear definitions for multiple qubits. We should generalize them to handle multiple qubits.

[2020-08-15 12:57] abhik-99 commented on #3196
So hey @balopat and @cduck I tried out two possible solutions.

1. Replacing the ```< >``` with ```[ ]``` in https://github.com/quantumlib/Cirq/blob/master/cirq/study/flatten_expressions.py in [here](https://drive.google.com/file/d/1NwHgvITmaMHpIEjZuN6Vwq9jJszeABDZ/view?usp=sharing).
2. Trying to escape using the builtin ```html``` module in https://github.com/quantumlib/Cirq/blob/master/cirq/circ