[2019-09-26 17:10] peterse commented on #1899
@karlunho

[2019-09-26 17:36] cjcarey opened #2191 "Support measurement outside of the computational basis"
https://github.com/quantumlib/Cirq/blob/7fcda9361a3fb2b58ef914a0fce7573b2a83c6f9/cirq/sim/sparse_simulator.py#L295

https://github.com/quantumlib/Cirq/blob/2efc8ab8f6a9fbfb3239b78001abb0c046a05449/cirq/sim/sparse_simulator.py#L346

[2019-09-26 17:59] cjcarey opened #2192 "Deprecate v1 proto method in to_proto_dict"
https://github.com/quantumlib/Cirq/blob/b0096307da010a050d67c28fa55d1797d210b366/cirq/devices/grid_qubit.py#L176

[2019-09-26 18:00] vtomole commented on #2191
There is a typo in the comment for that method.
https://github.com/quantumlib/Cirq/blob/7fcda9361a3fb2b58ef914a0fce7573b2a83c6f9/cirq/sim/sparse_simulator.py#L293

Please open a pull request that fixes it.

[2019-09-26 18:04] cjcarey commented on #2191
@vtomole To clarify, you want me to open a pull request that fixes the spelling error in computational?

[2019-09-26 18:04] vtomole commented on #2191
@cjcarey  Yes.

[2019-09-26 18:05] cjcarey opened #2193 "Deprecate v1 proto methods in grid_qubit"
https://github.com/quantumlib/Cirq/blob/b0096307da010a050d67c28fa55d1797d210b366/cirq/devices/grid_qubit.py#L188

https://github.com/quantumlib/Cirq/blob/b0096307da010a050d67c28fa55d1797d210b366/cirq/devices/grid_qubit.py#L176

[2019-09-26 18:07] cjcarey opened #2194 "Check if circuit is empty in aqt_sampler"
https://github.com/quantumlib/Cirq/blob/dd0934d833e1659951d6f9283c7f38355ba4d64e/cirq/aqt/aqt_sampler.py#L60

[2019-09-26 18:08] vtomole commented on #2192
@cjcarey This is the second issue that has something like `Deprecate v1 proto method`. If the TODOs duplicated, just create only one which lists them all.

[2019-09-26 18:08] #2192 closed

[2019-09-26 18:09] cjcarey opened #2195 "Get measurement name from circuit in aqt_sample"
https://github.com/quantumlib/Cirq/blob/dd0934d833e1659951d6f9283c7f38355ba4d64e/cirq/aqt/aqt_sampler.py#L159

[2019-09-26 18:16] cjcarey opened #2196 "Remove conditional in fidelity_elimination_test after #2154"
https://github.com/quantumlib/Cirq/blob/46d72e867abb091e4c305ed46b05f2178c8bf251/cirq/experiments/fidelity_estimation_test.py#L22

[2019-09-26 18:29] cjcarey commented on #1642
@vtomole I created 5 new issues and made a new pull request for the spelling error. When should I have the rest of the TODO statements completed

[2019-09-26 18:34] vtomole commented on #1642
@cjcarey Creating that many issues at once was not as spammy as i thought it would be. How about we just finish it all right now?

[2019-09-26 18:39] Hancockan commented on #2124
Currently experiencing this issue on Ubuntu 18.04.2 after running `pytest .`

[2019-09-26 18:42] cjcarey opened #2198 "Add ion device to aqt_device"
https://github.com/quantumlib/Cirq/blob/941e2b46f03d98526f0750e4640bd02e074391ab/cirq/aqt/aqt_device.py#L122

[2019-09-26 18:43] cjcarey opened #2199 "Better solution for measurements in AQT integration"
https://github.com/quantumlib/Cirq/blob/941e2b46f03d98526f0750e4640bd02e074391ab/cirq/aqt/aqt_device.py#L129

[2019-09-26 18:44] cjcarey opened #2200 "Deal with line continuations in coverage code"
Line continuations may be less indented.

https://github.com/quantumlib/Cirq/blob/8481f78b468c6335b1ba3b5cfeee457246d4feda/dev_tools/incremental_coverage.py#L215

[2019-09-26 18:46] cjcarey opened #2201 "Handle # in strings in coverage code."
https://github.com/quantumlib/Cirq/blob/8481f78b468c6335b1ba3b5cfeee457246d4feda/dev_tools/incremental_coverage.py#L248

[2019-09-26 18:47] cjcarey opened #2202 "Add control_values and control_qid_shape in control.py"
https://github.com/quantumlib/Cirq/blob/3d7783bf9a36afe72cced78a5a0f29af428ac271/cirq/protocols/control.py#L45

[2019-09-26 18:53] cjcarey opened #2204 "Add more detail in Gates doc"
https://github.com/quantumlib/Cirq/blob/ca7d55422eb53bb3962209aba7527f01cd3ba0b4/docs/gates.md

Gates under heading "Other Common Gates" should be described in more detail. Under Xmon gates, cirq.Z / cirq.Rz must have more detail added.

[2019-09-26 20:17] #2153 closed

[2019-09-26 20:30] alexandrupaler commented on #1899
sympy is generally slow, and everything that touches sympy becomes slow.

Would it be possible to have simple parameterized gates (e.g. the Rz rotations uses sympy only to multiply a number by pi) without sympy? If the symbol in the constructor stands just for a number, sympy is overkill, if the symbol is an expression per se, maybe the sympy overhead is good price.

[2019-09-26 20:50] #2124 closed

[2019-09-26 21:00] viathor commented on #2185
Re connectivity graph in Device:
LineQubit and GridQubit have `is_adjacent` method that serves this purpose already. I'm concerned that adding adjacency checks in Device would cloud the division of responsibilities. Specifically, some high-level abstract notion of adjacency would be present in qubit classes like LineQubit and GridQubit, but for details users would have to resort to using another c

[2019-09-26 21:32] maffoo commented on #2185
I don't think `is_adjacent` is going to be the best place for this in general. We're put information such as what 2-qubit gates are allowed between what pair of qubits in the device description (see recent work on this in #2110). It seems to me that the random circuit generation code should take a `Device` (created from such a protobuf device description) and use that to determine where it can pla

[2019-09-26 21:32] viathor commented on #2185
Re specific qubit types:
I think in practice after about three graphs, anyone would just implement GraphQubit and then things like OctagonalTilingQubit or AspenQubit by deriving from GraphQubit and feeding it a different graph (see the links in first comment above to see what graphs I have in mind).

[2019-09-26 21:47] viathor commented on #2185
Sounds like we'd like to keep the adjacency logic in device, which does make sense to me.

However, the issue of confusing API and mixed responsibilities remains: now both qubit classes and devices are responsible for qubit adjacency checks.

We can fix this by removing `is_adjacent` from the qubit classes. WDYT?

[2019-09-26 21:52] maffoo commented on #2185
+1 from me on removing `is_adjacent`. Adjacency is not a property of qubits, but a property of the devices they are embedded in (even if that device is the "unconstrained" device with an infinite lattice). The API should make this clear.

[2019-09-26 23:36] viathor commented on #2196
Oops, should be https://github.com/quantumlib/Cirq/issues/2154.

[2019-09-27 03:26] cjcarey opened #2208 "Check multiline comments and multiline strings"
https://github.com/quantumlib/Cirq/blob/8481f78b468c6335b1ba3b5cfeee457246d4feda/dev_tools/incremental_coverage.py#L184

[2019-09-27 03:33] cjcarey opened #2209 "Stop stripping `q` from targets in engine code."
https://github.com/quantumlib/Cirq/blob/5a2acb5f9931e2120b83f38237360ca49ca036b7/cirq/google/engine/calibration.py#L69

[2019-09-27 03:35] cjcarey opened #2210 "Support more general measurements in density matrix simulator"
https://github.com/quantumlib/Cirq/blob/dd0934d833e1659951d6f9283c7f38355ba4d64e/cirq/sim/density_matrix_simulator.py#L282

[2019-09-27 03:36] cjcarey opened #2211 "Use apply_channel similar to apply_unitary."
https://github.com/quantumlib/Cirq/blob/dd0934d833e1659951d6f9283c7f38355ba4d64e/cirq/sim/density_matrix_simulator.py#L441

https://github.com/quantumlib/Cirq/blob/dd0934d833e1659951d6f9283c7f38355ba4d64e/cirq/sim/density_matrix_simulator.py#L300

[2019-09-27 03:38] cjcarey opened #2212 "Add a test in density matrix simulator"
The test fails if the code beginning at line 450 is not performed
https://github.com/quantumlib/Cirq/blob/dd0934d833e1659951d6f9283c7f38355ba4d64e/cirq/sim/density_matrix_simulator.py#L449

[2019-09-27 03:39] cjcarey opened #2213 "Implement model circuit and run it"
https://github.com/quantumlib/Cirq/blob/284499ddf3b50faea1ac9a15e28bb6b9fe306d58/examples/advanced/quantum_volume.py#L128

[2019-09-27 03:41] cjcarey opened #2214 "Handle all coefficients in NotImplementedError"
https://github.com/quantumlib/Cirq/blob/1788d077dc2231dbd6755bb209b650ce9d1200ea/cirq/contrib/paulistring/clifford_optimize.py#L101

[2019-09-27 03:44] cjcarey opened #2215 "Make a more thorough heat map test"
We should test that the position, size and pad arguments are respected.

https://github.com/quantumlib/Cirq/blob/3c0cf121bed80a88cdc94aebc29706e4ff858c6e/cirq/vis/heatmap_test.py#L244

[2019-09-27 03:46] cjcarey opened #2216 "Optimize HHL using amplitude amplification algorithm"
https://github.com/quantumlib/Cirq/blob/498200c3ce4a5f4007c8e2e11013777ad21bc02e/examples/hhl.py#L254

[2019-09-27 03:49] cjcarey opened #2217 "Create a more efficient line search strategy"
https://github.com/quantumlib/Cirq/blob/a2593bcdb337b6b5b6f23cdaadf9862fb314ded3/cirq/google/line/placement/anneal.py#L340

[2019-09-27 03:51] cjcarey opened #2218 "Add to the simulation docs"
Under parameterized values and studies, describe the iterable of parameterized resolvers supported by Google's API.

[2019-09-27 03:55] cjcarey opened #2219 "Add more support for sympy"
Refer to: https://github.com/quantumlib/Cirq/issues/2014 for more details

https://github.com/quantumlib/Cirq/blob/fa5858e61da2d9fabe124ecbdc424a0a608bafe4/cirq/protocols/json.py#L198

[2019-09-27 03:57] cjcarey opened #2220 "Add insertion strategy diagram to Circuits doc"
Add diagram under the InsertStrategies heading

https://github.com/quantumlib/Cirq/blob/1bb5ffee39cc3d44744dde827713e0272ec4d30c/docs/circuits.md

[2019-09-27 03:59] cjcarey opened #2221 "Add control_qid_shape to raw types"
https://github.com/quantumlib/Cirq/blob/2efc8ab8f6a9fbfb3239b78001abb0c046a05449/cirq/ops/raw_types.py#L390

[2019-09-27 04:00] cjcarey commented on #1642
I think I got everything.. let me know if I missed something!

[2019-09-27 15:47] vtomole commented on #1642
@cjcarey That's it. Thanks for doing this.

[2019-09-27 17:14] kevinsung opened #2226 "Send circuits to Quantum Engine in batches"
Each call to Quantum Engine incurs a large overhead in network latency. Currently the only way to batch jobs (and hence reduce this overhead) is to use parameter sweeps. However, it is well known that parameter sweeps have serious limitations, such as the inability of many circuit optimizers to handle parameters. It would be very useful to be able to send non-parameterized circuits in batches too.

[2019-09-27 17:54] dabacon commented on #1819
Think we can close this again since we are back doing this?  Or was there some other way we wanted to look to do this?

[2019-09-27 17:54] #1819 closed

[2019-09-27 18:19] vtomole commented on #1819
I think it's good! :+1:

[2019-09-27 20:39] dabacon commented on #2150
It feels like this is what scheduled operation was built for?

[2019-09-27 20:39] #2108 closed

[2019-09-27 22:05] #2154 closed

[2019-09-27 22:06] #2196 closed

[2019-09-27 22:14] dabacon commented on #1339
14.08s call     cirq/experiments/n_qubit_tomography_test.py::test_state_tomography_diagonal
6.06s call     cirq/experiments/cross_entropy_benchmarking_test.py::test_cross_entropy_benchmarking
3.54s call     examples/examples_test.py::test_example_runs_qubit_characterizations
2.68s call     dev_tools/bash_scripts_test.py::test_pytest_changed_files_branch_selection
2.66s call     dev_tools/bash_scri

[2019-09-27 22:36] dabacon opened #2233 "Should cirq.experiments methods be at top level?"
A bunch of them are missing from the top level `cirq` namespace, but there are some. Do we want them there or should these be in `cirq.experiments`?

[2019-09-27 22:46] Strilanc commented on #2233
I think if they were at the top level then we might want "experiment" in the name. "rabi_oscillations" is not enough information on its own to describe what will happen.

[2019-09-27 23:15] bryano commented on #2185
#95

[2019-09-27 23:18] bryano commented on #2185
`cirq.contrib.graph_device` was intended to address many of the concerns discussed here. It's generality makes it a little cumbersome, but I imagine a few more helper classes would make device creation pretty easy.

[2019-09-27 23:23] bryano commented on #2164
Can't the convenience can be provided by a decorator (à la `value_equality`) while addressing Kevin's concern?

[2019-09-28 00:07] Strilanc commented on #2164
Will tools recognize that the decorator is adding the abstract methods? We could end up creating a lot of false positives in pycharm.

I am in favor of deleting two qubit and three qubit gate, since it's so easy to just add a num qubits method now.

For single qubit gate, there's the issue of "on_each".

[2019-09-28 00:09] Strilanc commented on #1339
I wonder why the bash script tests are so slow? They're running git commands in a temp directory.

[2019-09-28 17:58] Strilanc commented on #2150
Yes, but it would be nice if you could do a delay without having to go full schedule.

[2019-09-29 05:44] zaqqwerty opened #2238 "Protobuf version compatibility with Bazel"
Downstream projects that use Bazel versions 0.22 or greater are only compatible with protobuf versions after 3.6.1.2.  This is due to use of a constant that the newer versions of Bazel consider deprecated (for details, see discussion at https://github.com/bazelbuild/bazel/issues/5827).  So I propose updating to protobuf version 3.7.0, the first minor version of protobuf with correct compatibility.

[2019-09-29 22:35] trevormccrt opened #2240 "Simulator modifies initial state"
It seems that sparse_simulator modifies the initial_state argument in place during simulation. Is this a bug or a feature?

[2019-09-29 22:59] bt3gl commented on #338
Hi, could you please assign this to me?

[2019-09-29 22:59] bt3gl commented on #877
Hi, could you please assign this to me?

[2019-09-30 00:45] vtomole commented on #877
@bt3gl Done.

[2019-09-30 15:43] dabacon commented on #2240
bug

[2019-09-30 21:29] #2240 closed

[2019-09-30 21:40] dabacon commented on #2193
Fixed in #2231

[2019-09-30 21:40] #2193 closed

[2019-09-30 21:46] Strilanc commented on #1856
We're not consistent enough about the example being code in a particular format in order to do this. I think I would prefer to require that examples follow the `>>>` convention.

[2019-10-01 00:30] #1973 closed

[2019-10-01 00:40] smitsanghavi commented on #2142
#1973 is closed and #2090 added num_controls, control_values and control_qid_shape to `Gate.controlled`.
Now, `Z.controlled` can be overriden to produce `CZ` when appropriate.

[2019-10-01 01:19] smitsanghavi opened #2247 "`Operation.controlled_by()` and `ControlledOperation` without control qubits should throw an error"
Currently `ControlledOperation` silently accepts this and `Operation.controlled_by()` returns the operation itself which is highly unintuitive IMO.

[2019-10-01 01:38] smitsanghavi commented on #2221
#2206 removes removes the need for this.

[2019-10-01 01:38] #2221 closed

[2019-10-01 01:54] Strilanc commented on #2247
I think that the current behavior is the correct behavior.

How many controls does a NOT gate have? Zero controls. Therefore NOT.controlled_by(*zero_controls) should equal NOT.

[2019-10-01 01:57] #2160 closed

[2019-10-01 02:29] #2174 closed

[2019-10-01 02:32] smitsanghavi commented on #2247
I can see the reason for not throwing an error on zero qubits. Maybe I was a little hasty on jumping to that.

But NOT.controlled_by(*zero_qubits) being different from ControlledOperation(*zero_qubits, NOT) felt weird. controlled_by does a special thing when no control qubits are specified, even though ControlledOp without controls is well defined.

I get that this is because the original op is mo

[2019-10-01 02:57] #2180 closed

[2019-10-01 04:43] vtomole opened #2252 "Add hidden shift example"
https://arxiv.org/abs/quant-ph/0211140

[2019-10-01 18:17] mpharrigan commented on #1856
Pycharm has good support for `>>>`

[2019-10-01 18:20] mpharrigan commented on #1642
A lot of the issue titles don't make sense out of context

[2019-10-02 00:37] bryano commented on #2164
All the arguments here also apply to `InterchangeableQubitsGate`.

[2019-10-02 05:52] Strilanc commented on #2164
InterchangeableQubitsGate actually has a purpose. It affects the equality check in GateOperation.

That being said, we could certainly replace that class with an optional method that Gate classes can override.

[2019-10-02 06:04] Strilanc opened #2254 "Idea for insertion strategy: earliest after"
EARLIEST_AFTER would mean that operations are placed as early as possible but no earlier than the insertion point. This would give a bit more control over the structure of the circuit, without sacrificing packing efficiency within each call to insert or append.

Equivalently, EARLIEST_AFTER means "in a new empty circuit pack these operations tightly together, then take the moments of that circuit

[2019-10-02 06:09] bryano commented on #2164
It has a purpose in the same sense as the others: it defines a method (`qubit_index_to_equivalence_group_key`). The cost of missing some "interchangeable gates" by checking by type rather than by "equivalence group" is admittedly much smaller than undercounting two-qubit gates, but it seems like the same sort of issue.

[2019-10-02 14:33] vtomole commented on #1642
Hey @cjcarey, please add more context to the issues you created. It's a good exercise in learning the code base.

[2019-10-02 17:55] bradyb commented on #2252
This seems cool, I'll give it a shot.

[2019-10-02 18:33] smitsanghavi commented on #2247
Also, I have modified `Gate.controlled()` without args to return a single control `ControlledGate` instead of returning self. https://github.com/quantumlib/Cirq/pull/2090/files#r323442946

This was to make it consistent with the default behavior of `ControlledGate`. Let me know if this doesn't feel right.

[2019-10-02 18:58] MichaelBroughton opened #2256 "Put all simulators under one roof of Cirq.Simulator"
Modify `cirq.Simulator()` so it knows which backend to delegate to when simulating circuits. If there is noise go to `DensityMatrixSimulator` etc.

[2019-10-02 19:34] vtomole commented on #2256
Could we also add an optional flag like `cirq.Simulator(simulator='density')` so the user can decide explicitly?

[2019-10-02 20:09] Strilanc commented on #2256
Eh, I think specifying `DensityMatrixSimulator` if you want a density matrix simulator is fine. Having it also as an argument to Simulator, and a stringly typed one at that, seems unnecessary.

[2019-10-03 00:51] Strilanc opened #2259 "Replace sympy-based parser in circuit_from_quirk_url with ported parser from Quirk"
Basically this would involve copy-pasting the code from `src/math/FormulaParser.js` in Quirk and translating it into python. The goal is functional equivalence (i.e. bug parity).

This is a good idea because sympy's parser has a lot of exploitable properties, e.g. you can easily cause it to take hours to parse a string.

[2019-10-03 00:56] #998 closed

[2019-10-03 04:05] trevormccrt opened #2260 "Allow PauliString coeffecients to be symbols"
My goal here is to be able to use the cirq pauli exponentiation interface to compile something like $e^{j \theta X_0 Y_1 + Y_0 X_1 }$ to gates parameterized with the correct symbolic expressions

[2019-10-03 04:54] Strilanc commented on #2260
Makes sense to me that this would be allowed.

[2019-10-03 06:18] trevormccrt commented on #2260
If nobody else objects could you assign this to me?

[2019-10-04 08:50] jitendrs commented on #2191
can you please assign it to me @vtomole

[2019-10-04 14:08] vtomole commented on #2191
You have it! Thanks.

[2019-10-04 16:18] vtomole commented on #2147
Closed by: https://github.com/quantumlib/Cirq/pull/2255

[2019-10-04 16:18] #2147 closed

[2019-10-04 18:35] jitendrs commented on #2191
@vtomole Thanks mate.

[2019-10-04 22:34] kevinsung opened #2265 "PauliSum should support multiplication with PauliSum and raising to integer power"

[2019-10-04 23:22] trevormccrt commented on #2265
You beat me to this! An example of how we want this to behave:

[code]

[2019-10-04 23:32] trevormccrt opened #2267 "PauliSum/Lineardict missing some input checking"
If you multiply a paulisum by another paulisum (which is not currently supported), lineardict allows the computation until it fails cryptically in LinearDict.clean.

[2019-10-05 00:41] kevinsung commented on #2265
In your example, `*` should denote plain (matrix) multiplication, not the tensor product. The tensor product is implicit in the fact that `cirq.X(bit_0)` represents `X ⊗ I`, `cirq.X(bit_1)` represents `I ⊗ X`, etc.

[2019-10-05 06:09] jitendrs commented on #2191
Changes have been committed with another pull request.
https://github.com/quantumlib/Cirq/pull/2197
Please makr duplicate issue.

[2019-10-06 21:37] peterse opened #2271 "Add validation for Kraus operators"
Many of the methods involving noise/channels mention that the matrices making up a mixture or channel must satisfy \sum_{k=0}^{r-1} A_i^\dagger A_i = I. This is never enforced, which allows the user to simulate unphysical systems and get invalid density matrices (see example below).

Validation is easy enough (`assert np.sum([m.T @ m for m in object._channel_()`) but I'm not sure where to put this

[2019-10-07 01:43] Strilanc opened #2273 "Add `value: int = 1` parameter to `cirq.one_hot`."
Instead of putting a 1 at one place, it puts the given value.

[2019-10-07 03:56] jkc1113 opened #2274 "Unable to setup environment from development page."
I am trying to set up my environment for development with Cirq. Currently a large number of tests fail when I run "pytest ." as instructed in the "Setting up an environment" section of the development page. I believe this may have something to do with the fact that I could not run "cat apt-system-requirements.txt dev_tools/conf/apt-list-dev-tools.txt | xargs sudo apt-get install --yes" as instruct

[2019-10-07 03:57] jkc1113 commented on #2274
This is not an immediate issue as I am just going to use ubuntu on virtualbox going forward.

[2019-10-07 22:51] sycramore opened #2277 "Other measurement bases than the computational one?"
I'd love to be able to implement basis measurements in any given basis, let's say Pauli z or Pauli x. For normal matrices that would work like A^(-1)PA with A the matrix for the basis change from computational to Pauli eigenbasis and P the diagonal version of the corresponding Pauli gate. But my quantum system will collide upon measuring as the measurement is projective. Any idea how I can impleme

[2019-10-07 23:04] sycramore commented on #2273
Cannot find the function you are refering to. Could you tell me which one you mean exactly or precise your suggestion please?

[2019-10-07 23:07] Strilanc opened #2278 "Create an incremental build-docs script, for quickly viewing changes to docs"
At the moment, running `dev_tools/builds-docs.sh` takes several minutes. It would be convenient if we could only build the documentation that has been changed, which should hopefully take seconds instead of minutes.

[2019-10-07 23:08] Strilanc commented on #2273
It's in `cirq/linalg/states.py`, line 21.

[2019-10-07 23:20] Strilanc opened #2279 "Add symbol support to `cirq.Duration`"
Eventually we will add a wait gate to cirq. When we do, we will want to parameterize the amount of waiting and sweep over it (e.g. to do a decay experiment). The natural way to do that is by parameterizing `cirq.Duration`.

Basically:

- Instead of only taking integers, also allow `Duration` to accept `sympy.Basic` for `picos` and `nanos`.
- Add some tests making sure that addition and equality an

[2019-10-07 23:23] Strilanc commented on #2277
I agree that this is something we should do.

In particular, I would like the following things to magically produce working operations:

[code]

[2019-10-07 23:37] dabacon commented on #2277
`cirq.measure(cirq.X(qubit), key='m1')` is confusing to me because it looks like I'm applying a gate qubit which is just flipping it.

[2019-10-07 23:40] Strilanc commented on #2277
We could also have  `basis` parameter, but I have to admit I'm quite taken with allowing `cirq.X(qubit)` as an argument to measure. It might look confusing, but if you think about it for a second it's clear what it has to mean. You're specifying the Hermitian operator to measure.

[2019-10-08 02:27] vtomole commented on #2277
This will also close https://github.com/quantumlib/Cirq/issues/2191

[2019-10-08 03:04] Strilanc commented on #2277
Closed as duplicate of #2191

[2019-10-08 03:04] #2277 closed

[2019-10-08 04:41] Strilanc commented on #2274
There are windows specific install instructions that don't mention apt. Try following those and us know if you still run into problems. It would be helpful if you included an example of the errors you are seeing.

[2019-10-08 21:14] kevinsung opened #2282 "contrib.routing algorithm hangs"
The repro code below constructs a QAOA circuit and then tries to route it on a device 100 times, printing some output before each attempt. It prints up to `Attempt 1` and then hangs.

[code]

[2019-10-09 00:04] Strilanc opened #2283 "Windows builds are all failing"
Example: https://travis-ci.com/quantumlib/Cirq/jobs/243569608

[code]

[2019-10-09 00:29] Strilanc opened #2285 "Automate API reference documentation"
Currently, it is very easy to accidentally forget to add a cirq method or class to the API reference. There's probably dozens missing. Here is my proposal for fixing this:

1. Introduce decorators like `@cirq._internal.doc(category='circuits')` and helper methods like `cirq._internal.documented_constant(val, category='ops')`. These decorates and methods build up a global list of documented things.

[2019-10-09 00:45] cduck commented on #2285
Suggestion: Make the functions no-ops during normal execution (just like typing.cast) to reduce import-time overhead.

[2019-10-09 00:47] #2279 closed

[2019-10-09 05:02] Strilanc commented on #2285
I'm not sure how much that will save, since I'm imagining the bodies consisting of basically `some_list.append(the_thing)`. The string construction would all happen basically unconditionally.

[2019-10-09 08:32] Strilanc commented on #1992
This is due to the call to `results_1.plot()` in `cross_entropy_benchmarking_test.py`, which triggers a call to `plt.show()`. We need to either remove the call to show, or gate it behind a parameter.

[2019-10-09 08:55] Strilanc commented on #932
Obsoleted by the introduction of `PauliString` and `PauliSum`.

[2019-10-09 08:55] #932 closed

[2019-10-09 08:58] Strilanc opened #2288 "Leave tombstone v0.5 versions for python 2.7 and 3.5"
Because we bumped the supported python version upward, we should leave behind versions of cirq that fail loudly with a "You need to update python or install cirq==0.5", so that users are not confused about why documentation is not working for them.

[2019-10-09 14:19] 95-martin-orion opened #2289 "Installing Cirq on Alpine Linux"
Is Cirq supported on Alpine Linux? I've been using the following steps to attempt to install Cirq in an Alpine-based Docker image:

[code]

The above script produces the error:
`The following required packages can not be built: * freetype, png`

Modifying the script to explicitly add these packages (freetype, libpng) causes it to take considerably longer (5+ minutes) before failing with:
`numpy.di

[2019-10-09 18:26] Strilanc opened #2293 "Delete Displays"

[2019-10-09 19:09] 95-martin-orion commented on #2289
Update: We were able to install using the following commands:
[code]

[2019-10-09 19:09] #2289 closed

[2019-10-09 19:10] kevinsung opened #2294 "Deprecate Engine.run and Engine.run_sweep"
https://github.com/quantumlib/Cirq/pull/2096#pullrequestreview-287747568

[2019-10-09 19:34] vtomole commented on #2289
Might want to add other dockerfiles besides [Ubuntu](https://github.com/quantumlib/Cirq/blob/master/Dockerfile). Every dockerfile needs to be in it's own directory; so maybe we can have a `dev_tools/docker/apline/Dockerfile` e.t.c. Opinions @Strilanc ?

[2019-10-09 19:58] tbcdebug opened #2295 "bug in supremacy test circuit"
I ran the function
[code]
in `cirq.experiments.google_v2_supremacy_circuit` with `n_rows = 1` and got trapped in infinite loops.

I think this is because when we have `n_rows = 1`,  `_make_cz_layer` would never return any cz gate, since there's only one qubit, thus in ` _add_cz_layer`, the loop
[code]
would never end.

My suggestion would be change `assert 1 <= n_rows <= 11` in `generate_boixo_201

[2019-10-09 20:06] tbcdebug commented on #2295
#2296

[2019-10-09 20:43] tbcdebug opened #2298 "invalid moment after routing"
I tried `router` in `cirq.contrib.routing` and it generated one moment with `CZ((6, 5), (5, 5))` and `CZ((6, 6), (7, 6))` in it. I thought there would be a problem because `(6, 5)` and `(6, 6)` are adjacent. I ran `validate_moment` on this moment and it agrees with me.

Well, I don't know what leads to this problem yet. Just to give you guys a heads-up. Also, I don't know if you have the target of

[2019-10-09 21:16] Strilanc commented on #2247
We're likely to specialize controlled_by *more* in the future, e.g. returning a CZ instance when controlling Z. I think the correct behavior is to return self when there are 0 controls. If the user literally tried to instantiate a ControlledOperation then we won't stop them (although...), and we'll just deal with the fact that they disagree slightly.

Note that we also make it so that `controlled_

[2019-10-09 21:17] Strilanc commented on #2247
Since the relevant PRs are merged and the other changes should not be done, I'm goin gto close as completed.

[2019-10-09 21:17] #2247 closed

[2019-10-09 21:32] #2295 closed

[2019-10-10 02:30] Strilanc commented on #2289
That particular docker environment is for development I think, so it makes sense for it to be in dev_tools.

[2019-10-10 06:11] #2238 closed

[2019-10-10 16:31] jitendrs commented on #2273
Please assign it to me. I will update it. @Strilanc

[2019-10-10 16:48] dabacon commented on #2294
@Strilanc so now I can only use sample and I will always lose the id of any program or job I created.  This seems like a problem to me.

[2019-10-10 17:03] mpharrigan commented on #2219
duplicate of #2014

[2019-10-10 17:03] #2219 closed

[2019-10-10 18:50] dabacon opened #2310 "Convert documentation to jupyter notebooks."
These display nicely in github, and we can directly link to opening them in colab and other places where you can run the notebooks.

[2019-10-10 21:24] MichaelBroughton opened #2311 "Mixture and Channel do not have performant variants, and the protocols do not mesh quite correctly."
It is currently not possible to apply a mixture without generating huge matrices. There also appears to be a missing concept around the notion of a "reset", which should be usable inside of monte carlo unitary simulations but currently forces the density matrix simulator.

[2019-10-10 21:26] MichaelBroughton commented on #2311
Plan to fix this problem by adding a new Monte-Carlo simulator to the sim directory and also modify mux to send noisy circuits that can be simulated without the need for a full density matrix to it, before falling back to the density matrix simulator

[2019-10-10 21:45] dabacon commented on #1767
Closing unless this still doesn't work after upgrade.

[2019-10-10 21:45] #1767 closed

[2019-10-10 23:51] mpharrigan commented on #2310
nbsphinx also works well

[2019-10-10 23:54] mpharrigan opened #2313 "Circuit._repr_svg_ with nice diagrams for ipython"
https://ipython.readthedocs.io/en/stable/config/integrating.html#rich-display

Also see https://github.com/perak/quantum-circuit for a MIT licensed package that makes nice SVG circuits

[2019-10-10 23:57] #2099 closed

[2019-10-10 23:57] wcourtney commented on #2099
Resolved with https://github.com/quantumlib/Cirq/pull/2156

[2019-10-10 23:59] wcourtney commented on #1983
Resolved with https://github.com/quantumlib/Cirq/pull/2156

[2019-10-10 23:59] #1983 closed

[2019-10-11 02:24] vtomole commented on #2273
Hey @jitendrs, we've assigned you 3 `first issues` already. Is it okay if we assign you this after you finish one of them?

[2019-10-11 02:28] kevinsung opened #2314 "Adding PauliString/PauliSum with IdentityGate should work"
I.e.,
[code]

[2019-10-11 02:31] kevinsung commented on #2314
Actually, maybe just `cirq.X(a) + cirq.I`.

[2019-10-11 02:47] kevinsung commented on #2314
Oh I realized you can add constants like `cirq.X(a) + 1`. That's better.

[2019-10-11 02:47] #2314 closed

[2019-10-11 03:02] jitendrs commented on #2273
hey, @vtomole I don't have any Issue in my queue. That's the reason I was hunting for work.

[2019-10-11 03:16] kevinsung opened #2317 "Simulators change global random state, resulting in non-reproducible runs"
The following gives AssertionError:
[code]
Same thing with DensityMatrixSimulator.

[2019-10-11 04:10] c-poole commented on #2283
These problems seem to be happening because of a flaky interaction with the "Disabling Windows Defender" stage that appears to be present on the Windows Travis builds. Whether or not that stage succeeds seems to be a function of the powershell commands in the before_install section.

[2019-10-11 12:40] vtomole commented on #2273
What do you mean? You have https://github.com/quantumlib/Cirq/issues/2191, https://github.com/quantumlib/Cirq/issues/877 and https://github.com/quantumlib/Cirq/issues/338.

[2019-10-11 12:50] vtomole commented on #2273
Oh wow. I am so sorry.

[2019-10-11 12:50] vtomole commented on #2273
I've assigned you.

[2019-10-11 12:51] jitendrs commented on #2273
No Worries Mate. Thanks @vtomole

[2019-10-11 17:12] mpharrigan opened #2322 "Abbreviate PhasedXPowGate circuit representation as PhX"
`PhasedX(0.123)^0.456` makes the circuit diagrams really long. I propose changing it to `PhX(0.123)^0.456`

[2019-10-11 17:16] dabacon commented on #2322
I wonder how confused people are by "phased"?  The one reason I don't like it is that it is a basis dependent concept, i.e. it means phased in Z basis.  RotXY, for example, would generalize to other two pauli rotations nicely, RotYZ, RotXZ.  On the other hand for qubits that are clocks it really is a natural gate.

[2019-10-11 17:26] dabacon commented on #2322
But I do like `PhX`.

[2019-10-11 17:32] mpharrigan commented on #2322
PhasedXPowGate certainly was not obvious to me at first but yeah I'm mainly concerned about circuit diagram width :)

[2019-10-11 17:34] mpharrigan commented on #2317
xref https://github.com/quantumlib/Cirq/issues/2020

[2019-10-11 17:43] mpharrigan opened #2324 "test_single_qubit_op_to_framed_phase_form_output_on_example_case fails for me"
If I change
[code]
to
[code]

I get

[code]

[2019-10-11 17:54] dabacon commented on #2283
I guess we should be able to write this so that if it fails that is OK (since that would just make the test slower)?

If it is flaky we should probably report it https://travis-ci.community/c/environments/windows

[2019-10-11 17:56] dabacon commented on #2283
Alternatively we could not put the disabling in "before install"?
https://travis-ci.community/t/windows-builds-time-out-during-cache-restore/4642/5

[2019-10-11 18:08] c-poole commented on #2283
From the looks of it we don't have to because by default there is a disabling step that attempts to do it for us. The problem is that that disabling step doesn't always work. If it doesn't work, the build seems to pass, but the installs take longer.

[2019-10-11 18:51] dabacon opened #2326 "cirq.merge_single_qubit_gates_into_phased_x_z(circuit) is exponential"
[code]
scales poorly:
[code]

[2019-10-11 19:07] #2020 closed

[2019-10-11 19:07] #2317 closed

[2019-10-11 22:21] Strilanc opened #2336 "Windows build flake related to tkinter and plotting"
Happened in https://travis-ci.com/quantumlib/Cirq/jobs/244924672 (now rerun)

[code]

[2019-10-11 23:29] maffoo commented on #2336
For tests it's a good idea to configure matplotlib to use a "headless" backend like "Agg". It can avoid a lot of issues like this (also avoid spurious windows popping up on dev machines when tests are run locally).

[2019-10-12 01:18] #2118 closed

[2019-10-12 09:52] jitendrs commented on #2273
Please close this issue since we have merged the same code on #2321.
https://github.com/quantumlib/Cirq/pull/2321

[2019-10-12 10:47] jitendrs opened #2341 "Getting AttributeError while running example from README.rst"
Error log:

Backend MacOSX is an interactive backend. Turning interactive mode on.
Traceback (most recent call last):
 Cirq_example/example.py", line 13, in <module>
    cirq.measure(qubit, key ='m')
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/cirq/circuits/circuit.py", line 106, in __init__
    self._device.validate_circuit(self)
**AttributeError: 'GateOp

[2019-10-12 11:00] #2273 closed

[2019-10-12 15:47] c-poole commented on #2336
I just ran this test on my ubuntu subsystem for windows with gui-backend disabled and this test in addition to two others failed. The failing tests were:
In linalg/decompositions_test.py:
test_kak_plot_empty
test_scatter_plot_normalized_kak_interaction_coefficients
In cross_entropy_benchmarking_test.py:
test_cross_entropy_benchmarking

All of them failed with "_tkinter.TclError: couldn't connect t

[2019-10-12 21:49] Strilanc commented on #2322
Sounds good to me.

[2019-10-13 20:26] Strilanc commented on #2324
That's really strange. I was initially confused why you said "for me" in the title, but the changed line does pass on my machine.

Please reduce the test case as much as possible and try to figure out where the failure is happening. Specifically:

- Instead of producing the matrices from decomposition code, hard-code them.
- Simplify the matrices as much as possible (e.g. replacing small constants

[2019-10-14 14:04] vtomole commented on #2341
What version of Cirq are you running?

[2019-10-14 14:43] jitendrs commented on #2322
can you please assign it to me. I will have a look.

[2019-10-14 14:49] vtomole commented on #2341
The examples run on the code that is currently on master. Install using `~/Cirq$pip install e .`

[2019-10-14 14:57] #2336 closed

[2019-10-14 21:51] mpharrigan commented on #2285
You can probably maneuver sphinx autodoc/autosummary to do what you want without putting annotations everywhere

[2019-10-15 00:48] jmbaker94 opened #2347 "Problems installing cirq and cirq-dev"
By installing both cirq and cirq-dev on accident and when trying to fix by uninstalling one of the versions in a python environment, it seems like pip may be installing both to the same location and uninstalling one leaves a broken version of cirq which can imported but not really. This seems like a usability problem.

[code]

While trying to install a package dependent on cirq-dev I accidentally

[2019-10-15 03:26] jitendrs commented on #2341
Thanks it works.!

[2019-10-15 03:26] #2341 closed

[2019-10-15 21:42] mpharrigan opened #2356 "Qubits shouldn't be mutable"
[code]

[code]

[2019-10-15 21:54] mpharrigan opened #2359 "Moment.operations and Moment.qubits should be read-only properties"
You can do some pretty crazy things using public attributes. I recommend prefixing `operations` and `qubits` with underscores and exposing via a `@property`

[code]
[code]

[2019-10-15 22:02] mpharrigan commented on #2313
Partially done in #2323

I'm not going to work on it any more. Someone could pick this up and address the following things

 - make it prettier
 - actually distribute the horizontal spacing / don't assume constant row-height
 - thorough testing
 - I think it breaks if you have empty moments (?)
 - Generalize the textdiagramdrawer / blockdiagramdrawer to reduce duplicated code
 - Move from contrib

[2019-10-15 22:03] Strilanc commented on #2359
Agreed.

[2019-10-15 22:06] Strilanc commented on #2356
Agreed.

LineQubit and GridQubit should have their values hidden behind property methods.

[2019-10-15 22:24] dabacon commented on #2356
A new way to remap qubits!  (j/k).  Yes to immutable.

[2019-10-15 22:48] mpharrigan commented on #2356
We can also consider using dataclasses with `frozen=True`, which offers a stronger form of immutability

[2019-10-16 06:05] jitendrs commented on #2359
do you want to restrict the attribute assignment with the property descriptor?

[2019-10-16 07:54] Strilanc commented on #2359
Yes

[2019-10-16 09:44] jitendrs commented on #2359
Please assign it to me @Strilanc

[2019-10-16 16:47] dabacon commented on #87
I believe @c-poole #1842 does this.

[2019-10-16 16:47] #87 closed

[2019-10-16 16:50] dabacon commented on #2271
One first suggestion is that we should add a testing method that checks this.

My opinion is just as we don't enforce _unitary_ returns a unitary (because checking it each time would be costly), I think we just need to make it easier for people to test that their channel is OK.

[2019-10-16 18:00] c-poole commented on #87
#1842 calculated the trace distance bound exactly for unitaries. I don't know of a computationally cheap way of calculating the value exactly for a generic mixture or channel. For mixtures we can get a reasonable upper bound by applying the triangle inequality to the unitary case. I haven't implemented that yet because I'm waiting on my other mixture PR to be finished.

[2019-10-16 18:16] dabacon opened #2360 "Only run build proto during continuous integration when protos change"

[2019-10-17 01:54] kevinsung opened #2365 "Add over- and under-rotation noise models"
- Add Gaussian noise with specified mean and standard deviation

[2019-10-17 02:38] vtomole opened #2367 "Add BB84 example"
https://en.m.wikipedia.org/wiki/BB84

We have an "Alice and Bob" example you can use as inspiration: https://github.com/quantumlib/Cirq/blob/master/examples/bell_inequality.py

[2019-10-17 03:26] viathor opened #2368 "qiskit incompatible with networkx 2.4"
Networkx version 2.4 was released 1h ago and led to test failures on #2366.

Steps to reproduce:

[code]

Test failure looks like this:

[code]

[2019-10-17 03:42] #2368 closed

[2019-10-17 03:57] Strilanc commented on #2365
So this would like, replace all X, Y, and PhasedX gates with variants that rotate by epsilon more? Or would it also affect some other gates?

[2019-10-17 06:51] jitendrs commented on #2359
Thanks @kevinsung

[2019-10-17 17:40] kevinsung commented on #2365
I think we'll want to be more general than that. For instance, #1001 requests the ability to add Gaussian noise. I also think we might want to let the user specify which gates are affected. I'm not sure yet what this will look like. @dabacon might have thoughts.

[2019-10-17 17:40] kevinsung commented on #1001
Closing in favor of #2365

[2019-10-17 17:40] #1001 closed

[2019-10-17 21:32] refi64 opened #2373 "Cirq should ship a py.typed file"
[PEP 561](https://www.python.org/dev/peps/pep-0561/) says that any packages that ship with type information should have a py.typed file in their package. Otherwise, type checkers like mypy can't find Cirq. (FWIW I just did `touch ~/.virtualenvs/.../cirq/py.typed`, and then mypy type-checks the file correctly.)

Other than that, Cirq seems pretty awesome so far :ok_hand:.

[2019-10-17 22:19] kevinsung opened #2375 "Replace (int, float, complex) and permutations with numbers.Number"
Instances of np.int64 are not instances of int, leading to unhandled cases. For instance,
[code]
gives
[code]

[2019-10-18 02:35] Strilanc commented on #2375
Urgh, this is probably all over the code base.

[2019-10-18 02:43] kevinsung commented on #2375
Indeed, it is a `numbers.Number`. That is the way to go then.

[2019-10-18 14:05] jitendrs commented on #2359
@Strilanc do you want me to code setter function as well for qubits?
After looking at code in moment.py. There is a problem with variable qubits. It has been holding assignment value in the constructor.
It will throw attribute error if you don't write the setter method. other easiest solution would be creating new function for setting affected_qubits. Let me know what you think

[2019-10-18 19:39] #2373 closed

[2019-10-18 20:30] Strilanc commented on #2359
Having a setter would defeat the purpose. In the constructor you should use the private attributes instead of the properties.

[2019-10-18 21:22] #338 closed

[2019-10-18 22:18] c-poole commented on #2271
We have routines in `cirq.linalg.predicates` that check for a variety of potential qualities. I would suggest adding some additional methods like `is_cp` and `is_cptp` there for the users to apply on their constructions themselves. We could potentially add a flag in simulate and run which when true performs quantum computing validity checks on the circuit but I'm not convinced whether that would a

[2019-10-18 23:04] mpharrigan commented on #2324
I should clarify that the test fails whether I change the line or not. I changed it to get more diagnostic information.

I don't have a ton of time to debug this right now. Was wondering if this test fails for anyone else

[2019-10-19 08:51] jitendrs commented on #2322
Hi,
I can see reference to PhasedX has been spread across below listed file. which includes docstring as well.
let me know if it's ok changed all of them.

cirq/circuits/circuit_test.py
cirq/google/convert_to_xmon_gates_test.py
cirq/neutral_atoms/convert_to_neutral_atom_gates_test.py
cirq/ops/moment.py
cirq/ops/phased_x_gate.py
cirq/ops/phased_x_gate_test.py
cirq/optimizers/decompositions.py
cirq/

[2019-10-19 09:10] Strilanc commented on #2322
Where do you see PhasedX in `moment.py`?

You should only change `PhasedX` to `PhX` in strings that are circuit diagrams or circuit diagram info.

[2019-10-19 11:37] jitendrs commented on #2322
ahh apologies,  moment.py wasn't part of it. I will follow your instructions.

[2019-10-19 18:44] kevinsung opened #2382 "Define mixture for Circuit?"
[code]
gives
[code]
which feels wrong. We could fix it by defining `_mixture_` for Circuit. This method makes perfect sense but one potential pitfall is that if a Circuit has m mixture operations that each have k possibilities, the length of the Circuit mixture is k^m. This can easily be exponential in the size of the circuit.

[2019-10-19 21:56] peterse opened #2384 "Need documentation on what protobuf serializations are allowed"
It is important for users to know if their sympy-parametrized circuits will be protobuf serializable, either through more verbose error messages or more thorough documentation on which sympy features are supported.

xref #2122

[2019-10-20 05:36] bt3gl commented on #2356
Could you please assign this issue to me? (#2385)

[2019-10-20 11:02] deadbeatfour commented on #2367
I'd like to work on this, please!

[2019-10-20 14:50] #2326 closed

[2019-10-20 14:50] dstrain115 commented on #2326
This issue is resolved and now runs 100x faster.

[2019-10-20 17:35] vtomole commented on #2367
@deadbeatfour Have fun!!

[2019-10-21 15:05] vtomole opened #2386 "Implement quil_output.py"
This will be similar to QASM output: https://github.com/quantumlib/Cirq/blob/master/cirq/circuits/qasm_output.py
but for QUIL (https://arxiv.org/abs/1608.03355). Use the QUIL specification (https://github.com/rigetti/quil/blob/master/spec/Quil.md) as a reference when making this program.

This will require a design. https://github.com/quantumlib/Cirq/issues/1548#issuecomment-485039043 is a good ex

[2019-10-21 19:18] c-poole commented on #2375
In many instances it may be more appropriate to check against `numbers.Integral`, `numbers.Real`, and `numbers.Complex` to verify that the code will behave as expected w.r.t. integer vs. floating point arithmetic or other similar concerns.

[2019-10-21 23:19] c-poole commented on #2375
For the specific problem given by the example test, replacing our number checks with these other checks won't fix the problem. We also need to add cases for multiplication and for each other operation we want to support to the referenced method. Otherwise, numpy will have no idea what to do with our Cirq objects and the same error message will result. For these other operations, we will need to ca

[2019-10-22 03:24] #2259 closed

[2019-10-22 23:31] Strilanc opened #2393 "Should methods like `cirq.Ry` optionally take qubits?"
I got an email from a user confused about how to use `cirq.Ry` to produce an operation. They were trying to call `cirq.Ry(angle, qubit)` instead of `cirq.Ry(angle).on(qubit)`. This raises the question of whether `cirq.Ry(angle, qubit)` should just work, since it is unambiguous.

Pros:

- Fixes an actual observed user difficulty.

Cons:

- Return type becomes overload dependent (no qubit = get gate

[2019-10-22 23:38] dstrain115 commented on #1899
I took a stab at short-circuiting sympy for common cases.  It does not help the above code as written, but, if flattened or if using XPowGate (which doesn't add the "x/pi" formula), this speeds up the code significantly.

[code]

The changed code is below, for reference:
[code]

[2019-10-23 10:30] deadbeatfour commented on #2367
Hey! I've added a file with the program. I'd love some feedback.

[2019-10-23 17:04] jitendrs commented on #2359
Please close this PR. as requested code changes merged into master from PR #2391

[2019-10-23 17:07] #2359 closed

[2019-10-23 17:09] jitendrs commented on #2359
@kevinsung Thanks.

[2019-10-23 17:37] c-poole commented on #2393
Would this convention be spread to constructors of gates or be limited to gate factories like Rx, Ry, and Rz? If it is spread to constructors of gates, that adds quite a bit of additional work a user needs to do to make a user defined gate act like a library defined gate. If not, I think there will be confusion from users as to why the library define gate constructors don't also accept this syntax

[2019-10-23 17:45] maffoo commented on #2393
I agree with @c-poole; as long as we have a distinction between `Gate` and `Operation` I think functions like `cirq.Rx` should just produce gates and you have to separately apply them to qubits to an operation. I've proposed unifying `Gate` and `Operation` in #252, but we decided against doing that, so I think this distinction is just something people need to learn (and we need to explain clearly

[2019-10-23 18:04] c-poole commented on #2393
For this particular problem, we could easily add `Ry_operation`, `Rx_operation`, and so on. That doubles the amount of work for us any time we add gate factory methods like this but feels minimally confusing to users. If we are going to have `Gate` and `Operation` be distinct concepts then we need to maintain that difference. Unifying the two would be a major breaking change at this point, but the

[2019-10-23 18:15] smitsanghavi commented on #2393
An efficient way to solve this particular problem without having to break the fundamental `Gate` `Operation` boundary is to throw a helpful error message showing the "correct" way when a `Gate` encounters qubits in the constructor.

[2019-10-23 18:32] smitsanghavi commented on #2393
To enable better readability/writability than `MyGate(gate_args).on(qubits)`, we can have a protocol `get_op(MyGate, gate_args, qubits)` and encourage this usage when users don't care about reusing the `Gate` and just want the `Operation`.

Does anyone create an `Operation` directly? If not, we can stop exposing it and always use the protocol. It would give us more flexibility to change implementa

[2019-10-23 18:34] c-poole commented on #2393
I don't use `Operation` directly but I do call `ParallelGateOperation` directly.

[2019-10-23 18:40] smitsanghavi commented on #2393
`ParallelGateOperation` (or any other specialization of `Operation`) can just use the protocol in the __init__ method without being a breaking change.
Of course, we'd also need to support `get_op(My_Gate_Object, qubits)` in addition to `get_op(My_Gate_Class, gate_args, qubits)` if we want this to replace `Operation` entirely.

[2019-10-23 23:23] smitsanghavi opened #2399 "ParallelGateOperation for multi-qubit gates"
Right now we limit `ParallelGateOperation` to single qubit Gates. Any issues to expanding it to multi-qubit gates? We can accept list of lists or validate that len(qubits)%len(gate.num_qubits)==0

[2019-10-24 00:08] KevinVillela commented on #2213
This should be fixed now, see contrib/quantum_volume. Can someone with permissions close it, please?

[2019-10-24 00:12] #2213 closed

[2019-10-24 00:15] vtomole commented on #2213
Note to anyone: Remove that `TODO` line when possible.

[2019-10-24 00:26] KevinVillela commented on #2213
Thanks! That TODO should be gone: https://github.com/quantumlib/Cirq/blob/master/cirq/contrib/quantum_volume/quantum_volume.py

[2019-10-24 06:30] smitsanghavi commented on #2142
Coming back to this, what if there are more than one control qubits? Should `Z.controlled(num_controls=2)` produce `ControlledGate(CZ, num_controls=1)` or `ControlledGate(Z, num_controls=2)`?
I feel the first one is much better for consistency but produces something that might be somewhat unintuitive to the user.

[2019-10-24 15:42] AbhishekSalaria opened #2400 "AttributeError: 'GateOperation' object has no attribute 'validate circuit'"

[2019-10-24 15:57] vtomole commented on #2400
Hey @AbhishekSalaria you are probably trying to run a `0.6` cirq program on a `0.5` version. See: https://github.com/quantumlib/Cirq/issues/2341

[2019-10-24 18:23] #1676 closed

[2019-10-24 19:07] c-poole commented on #2399
I don't think there would be an issue in expanding it other than needing to have a clearly documented convention for how the class will parse the qubit input and feed that into the gates for validation. The `NeutralAtomDevice` class may need some modification since `ParallelGateOperation` was created explicitly for the validation methods of that class and the single-qubit gate assumption is probab

[2019-10-24 22:02] Strilanc commented on #2393
I agree that allowing the qubits to be specified in these methods would push us towards allowing them to be specified in the gate constructors. That would basically be a gigantic typing disaster. That's a strong argument against doing this. IMO

[2019-10-24 22:24] #2393 closed

[2019-10-24 22:37] smitsanghavi commented on #2399
Closing this since there isn't a use case for it

[2019-10-24 22:37] #2399 closed

[2019-10-25 14:03] vtomole opened #2403 "Add dev_tools/docker/alpine/Dockerfile"
See https://github.com/quantumlib/Cirq/issues/2289 for context.

[2019-10-25 15:08] jitendrs commented on #2403
@vtomole can you please assign it to me?

[2019-10-25 17:08] mpharrigan opened #2405 "str(GridQubit) too similar to str(tuple)"
Was just waylaid in debugging an issue because I thought I was dealing with two-tuples but it was actually a `GridQubit`. Their `str` representation is indistinguishable. I suggest adding a subtle hint that it's different.

The closest analogy I can think of is the difference between a python list and a numpy array

[code]

[2019-10-25 17:39] mpharrigan opened #2406 "PointOptimizer that respects moment structure"
Right now ops get flattened during initialization of PointOptimizationSummary and during circuit.insert_at_frontier. Would be nice to be able to transform circuits in a more structured way

[2019-10-25 17:42] #2322 closed

[2019-10-25 18:04] vtomole commented on #2400
@AbhishekSalaria I'm going to close this. Please ping me if what I previously posted doesn't work for you.

[2019-10-25 18:04] #2400 closed

[2019-10-25 18:06] vtomole commented on #217
Closing as stale.

[2019-10-25 18:06] #217 closed

[2019-10-25 18:19] AbhishekSalaria commented on #2400
You can close it , thank you :)

On Fri, 25 Oct, 2019, 11:34 PM Victory Omole, <notifications@github.com>
wrote:

[2019-10-25 19:04] KevinVillela commented on #2111
I believe this is done now, anyone can feel free to re-open and assign to me if they see something I missed. Thanks!

[2019-10-25 19:04] #2111 closed

[2019-10-25 19:53] c-poole commented on #2283
Have the matplotlib and powershell changes fixed this issue? I haven't had an errant failure in any of my commits but I'm only one data point.

[2019-10-25 20:11] vtomole commented on #2283
There is no Window's-based failure on master for past 2 weeks. @Strilanc PR to fix this hasn't been reviewed yet.

[2019-10-25 21:11] zchen088 opened #2408 "cirq.measure should accept List[Qid] the same way "on_each" does."

[2019-10-25 21:24] zchen088 opened #2409 "Circuit currently allows measure gates with duplicated keys. Is this intentional?"

[2019-10-25 22:20] zchen088 opened #2411 "Is there a way to ask a Circuit "what are all of your measurement keys?""

[2019-10-25 22:46] zchen088 opened #2412 "TrialResult should describe which qubits were measured in each measurement key"

[2019-10-25 22:59] #965 closed

[2019-10-25 23:04] mpharrigan opened #2413 "DensityMatrixSimulator().simulate() return value type annotation"
Should be `DensityMatrixTrialResult`. Due to inheritance, it is `SimulationTrialResult` leading to problems if you actually try to use it

https://github.com/quantumlib/Cirq/pull/2308#issuecomment-546538095

[2019-10-27 07:13] jaeyoo opened #2415 "Circuit + Moment doesn't work if Moment is ahead."
For 0.6.0dev, c is a cirq.Circuit() and m is a cirq.Moment().

new_c = c[:j] + m + c[j:] works well without error, but

new_c = m +  c[:j] + c[j:] shows error like:

TypeError: unsupported operand type(s) for +: 'Moment' and 'Circuit'

Could you please add this feature or is it intended?

[2019-10-27 08:03] jaeyoo commented on #2415
Currently, I'm just using a hack like: cirq.Circuit(m1) + c[:j] + m2 + c[j:], which looks unhappy.

[2019-10-27 08:11] jaeyoo opened #2416 "Serializer : AttributeError: 'ControlledOperation' object has no attribute 'gate'"
File "/usr/local/google/home/jaeyoo/git/Cirq/cirq/google/serializable_gate_set.py", line 136, in serialize_op
    gate_type = type(gate_op.gate)

AttributeError: 'ControlledOperation' object has no attribute 'gate'

When I try to serialize a circuit with "cirq.ControlledGate(cirq.Z).on(q0, q1)", It shows the above error. (yes, ControlledOperation doesn't have "gate" : https://github.com/quantumlib

[2019-10-27 17:53] c-poole commented on #2415
`Circuit` is missing an `__radd__` method that will fix this. We can and definitely should put this in.

[2019-10-27 20:49] hanusaj commented on #2386
Assign to me.

[2019-10-28 01:30] jaeyoo commented on #2415
Thanks a lot

[2019-10-28 02:39] jaeyoo commented on #2415
Please check this PR #2418. How can I add you as a reviewer and myself to assignee?

[2019-10-28 15:53] maffoo commented on #2416
It should work if you create a CZPowGate instead of using ControlledGate(cirq.Z), but this may depend on which gate set you are trying to serialize to. It looks like we don't have a good way of supporting controlled operations in SerializableGateSet, so we will have to add support for that.

[2019-10-28 16:32] vtomole commented on #2409
It's not intentional. We are trying to get https://github.com/quantumlib/Cirq/pull/1862 in. Closing as a duplicate of https://github.com/quantumlib/Cirq/issues/2152.

[2019-10-28 16:32] #2409 closed

[2019-10-28 17:16] Strilanc opened #2421 "Add cirq.final_density_matrix method"
This method would work similar to `cirq.final_wavefunction`, but it would return a density matrix instead of a wavefunction (state vector).

The method would take a circuit, possibly do some analysis to decide which simulator to use (e.g. it's faster to simulate using the wavefunction simulator and only create the density matrix at the end), run the simulation, extract a density matrix, and return

[2019-10-28 18:53] zchen088 opened #2422 "Need a convenient way to get json representation"
Currently we have to do this incantation from @Strilanc

[code]

[2019-10-28 20:05] Strilanc opened #2423 "Improve Clifford circuit simulation support"
- **Make the state more inspectable**. StabilizerStateChForm is a canonical circuit form, so you should be able to output the canonical circuit. `CliffordTableau` should have methods for returning the stabilizers and destabilizers as `cirq.DensePauliString` instances.

    - Add `to_circuit` method to `StabilizerStateChForm`
    - Add `stabilizers` method to `CliffordTableau`.
    - Add `destabili

[2019-10-28 20:35] Strilanc commented on #2416
Yeah, this is a good example of how consuming gates is complicated by the ability to specify them in multiple ways.

[2019-10-28 20:42] Strilanc opened #2425 "Add backward-compatibility tests for json serialization"
Currently we do some round trip testing, but there's nothing that checks that we aren't changing the json serialization from version to version in a way that breaks the ability to parse previously serialized things.

There are two main criteria I have in mind:

1. It should somehow be clear to developers that it is not okay to change the test data json, since that would defeat the purpose of a com

[2019-10-28 23:13] #2265 closed

[2019-10-28 23:39] kevinsung opened #2427 "Add GmonDevice and Sycamore chip"

[2019-10-28 23:47] dabacon commented on #1042
There was a need for this in the xmon simulator, but that is gone.  I think the simulators all take a dtype now, and this is used in the mux methods.

[2019-10-28 23:47] #1042 closed

[2019-10-29 00:29] Strilanc commented on #2405
This can be a bit of a nasty change to make, because it affects circuit diagrams.

We may want to separate the circuit representation of a qubit from its `__str__`.

[2019-10-29 00:30] Strilanc commented on #2411
I wonder if this is something that should fall under the purview of `cirq.measurement_key`? Main issue being that it's not just one key...

[2019-10-29 00:31] Strilanc commented on #2408
You mean the way it auto-flattens the list if you pass it in by accident instead of `*args` passing it? Makes sense.

[2019-10-29 00:36] Strilanc commented on #2347
I'm not sure if this is worth fixing. I'd rather this problem than adding thousands of dev versions to the `cirq` pypi package.

Does the same issue happen with `tensorflow` vs `tf-nightly`? Maybe there's a trick to it.

[2019-10-29 00:37] Strilanc opened #2431 "Switch from cirq-dev pypi package to cirq-unstable pypi package"
I think this is less confusing in important ways. Opinions?

@mpharrigan
@dabacon
@maffoo
@cduck

[2019-10-29 00:48] kevinsung opened #2432 "Wavefunction simulator should accept NoiseModel too"
It can simulate mixtures and coherent noise models.

[2019-10-29 01:29] #2179 closed

[2019-10-29 09:14] #2150 closed

[2019-10-29 09:34] Strilanc commented on #2432
I think we need to have noise models declare themselves as "monte carlo unitary safe" or something like that in order for this to work properly.

[2019-10-29 15:46] #1134 closed

[2019-10-29 15:50] dabacon commented on #940
This is another reason decompose should only be used for a composite gate and nothing else.

[2019-10-29 16:16] mpharrigan commented on #2405
Yes, I find it surprising that the circuit representation relies on `__str__`. Everything else (i.e. gates) uses `_circuit_diagram_info_`

[2019-10-29 18:34] maffoo commented on #2431
@Strilanc, can you describe the confusion you're hoping to prevent? I'm not tied to the name `cirq-dev`, just want to make sure I understand the thinking here and that we pick a different name that avoids the problems you see.

Another thing that I'd like to at least explore before we do this is whether it's possible to prevent pip from installing both cirq and cirq-whatever in the same virtualenv

[2019-10-29 20:48] kevinsung commented on #2256
It's not as simple as defaulting to DensityMatrixSimulator if there is noise. For instance, if the noise is coherent then it's still better to use the wavefunction simulator.

[2019-10-29 21:17] SatyaKuppam commented on #2216
Hey, I can work on this issue. Please let me know if there are any conflicts and assign this to me.

[2019-10-29 21:18] vtomole commented on #2216
@SatyaKuppam Have fun!

[2019-10-29 21:20] kevinsung opened #2439 "cirq.mixture should work on unitary objects"
In fact, why not work on _any_ object? If it doesn't explicitly define a mixture, then just return the mixture composed of the object itself.

Actually, there might be reasons not to do that ...

[2019-10-29 21:23] kevinsung commented on #2432
I think we should add `is_mixture_of_unitaries` and `is_coherent` methods/properties to NoiseModel.

[2019-10-29 22:00] Strilanc commented on #2431
We have the package variant cirq[dev-env], which installs a developer environment.
We have the alternate package cirq-dev, which installs the latest version of cirq from master.

They both use the word "dev" in a packaging context as a suffix to cirq, but it means drastically different things in each case.

[2019-10-29 22:06] Strilanc commented on #2431
The same thing happens with `tensorflow` and `tf-nightly`

[code]

[2019-10-29 22:19] #2134 closed

[2019-10-29 22:26] kevinsung commented on #2432
We decided at #2440 to make the simulator do all the work instead of letting noise models declare whether they can be simulated.

[2019-10-29 22:41] Strilanc opened #2442 "Remove cirq.contrib import inside protocols/json.py"
[code]

[code]

Contrib is explicitly for things that are unstable and changing. We should not be referencing things from inside the more stable parts of the library. *Particularly* serialization, which must remain compatible indefinitely.

I caught this is because it triggered an actual test failure when I was attempting to verify the next release.

[code]

Something to do with dataclasses and 3.

[2019-10-29 22:52] c-poole commented on #2439
Based on @Strilanc 's previous presentation on how he would like these protocols to work, yes. We've also discussed renaming mixture so that it unambiguously only refers to mixtures of unitaries. I plan to implement this renaming as part of #1722. If we want to support mixtures of other concepts then each concept should have its own mixture protocol. Otherwise, any code that uses an ambiguous mixt

[2019-10-29 23:09] Strilanc commented on #2439
We specifically want mixture to refer to a mixture of unitaries, so this would be akin to asserting the object was unitary.

But yes, cirq.mixture should have a result if cirq.unitary does.

[2019-10-29 23:22] mpharrigan opened #2445 "(re-)register deserializer for QuantumVolumeResult"
following #2443

cc @KevinVillela

[2019-10-29 23:27] KevinVillela commented on #2445
Thanks for the heads up - @Strilanc was saying that we can probably put the Quantum Volume stuff into cirq/experiments now. Happy to do that if it makes sense.

[2019-10-29 23:27] Strilanc commented on #2445
Yes, that would resolve this issue (+ restoring the entries in the big json dictionary)

[2019-10-29 23:32] #2283 closed

[2019-10-29 23:32] Strilanc commented on #2432
In the specific case of the wave functio nsimulator being given a noise model, it should be understood that if you give a noise model it can't handle then you will get an error.

[2019-10-29 23:44] Strilanc opened #2446 "Travis misc check installs requirements unnecessarily"
https://travis-ci.com/quantumlib/Cirq/jobs/250854540

![image](https://user-images.githubusercontent.com/79941/67817614-46560d00-fa6b-11e9-92fd-89c7fbc2bc88.png)

I thought that leaving out the 'install' field in the travis.yaml would result in no install steps. I believe this is a default step. So maybe 'install' is needed with a blank entry? Just needs to be checked.

[2019-10-29 23:51] #2442 closed

[2019-10-30 00:07] #2431 closed

[2019-10-30 02:05] peterse opened #2447 "`protocols/json.py` confuses python path"
Running python from within the protocols directory causes `protocols/json.py` to shadow json, resulting in `AttributeError: module 'json' has no attribute 'loads'` (for example).

This makes running individual tests in protocols slightly confusing. Does the module need to be named `json.py`?

[2019-10-30 02:51] peterse opened #2449 "`cirq/google` confuses python path"
Similar problem as #2447.

Importing cirq from within the `cirq/` directory (but not its subdirectories) causes imports from `cirq/google` to shadow the protobuf module located at `.../dist-packages/google/protobuf`, throwing an error:
[code]
This makes running tests locally pretty inconvenient. Does the module need to be named `google`?

[2019-10-30 03:14] jitendrs commented on #2403
@vtomole can you please review and approve pull request

[2019-10-30 03:15] vtomole commented on #2403
@jitendrs I'll review it first thing in the morning!

[2019-10-30 03:16] jitendrs commented on #2403
@vtomole Thanks, mate.

[2019-10-30 03:23] KevinVillela commented on #2445
I tried moving the file, but then I realized that it actually depends on something else in contrib - cirq.contrib.routing :\ https://github.com/quantumlib/Cirq/blob/master/cirq/contrib/quantum_volume/quantum_volume.py#L11. That means we don't want to pull it in, right? Is routing something we want in regular Cirq, or do we need another solution for json-ifying things in contrib?

[2019-10-30 03:34] #2422 closed

[2019-10-30 15:50] #2449 closed

[2019-10-30 15:53] maffoo commented on #2447
Same problem for `cirq.google` package, but I think the solution is the same. There are just too many possible name collisions to be able to avoid them all, so the best thing is to use namespaces (they are a [honking great idea](https://www.python.org/dev/peps/pep-0020/) after all :-) ). CD'ing into a package hierarchy puts subpackages onto your python path, which breaks package namespacing.

[2019-10-30 17:39] peterse commented on #2447
Fair enough.

[2019-10-30 17:39] #2447 closed

[2019-10-30 18:59] Ashalynd commented on #2416
Would it make sense for the serializer to check that an unknown gate is equivalent to one of the known serializable gates, as a relatively quick workaround? (May be not by default, but as an option)

[2019-10-30 20:28] c-poole commented on #2421
We want to cover cases where the qubit state at the end of the circuit isn't a pure state. There shouldn't be an issue with code duplication since if `noise = None` and `final_wavefunction` returns a column matrix, the shortcut method applies. If not, then we pass the circuit, initial state, and noise model into a `DensityMatrixSimulator` and use the output matrix from that simulator. In either ca

[2019-10-30 21:11] kevinsung opened #2453 "Numpy types other than float64 and complex128 are not JSON serializable"
[code]

[code]

[2019-10-30 21:21] kevinsung opened #2455 "Tests fail on my machine because precision requirements are too stringent"
[code]

[2019-10-30 21:27] viathor commented on #1731
Hey, @c-poole! Are you working on this? I'd like to fix #1179 before its birthday and it seems like your suggested approach addresses both issues. I can implement it, unless of course you're already on it.

[2019-10-30 21:32] c-poole commented on #1731
I have this partially implemented. I can finish it up reasonably soon. I'll make this my next focus.

[2019-10-30 21:50] Strilanc opened #2457 "Gate.controlled(0) should return self"

[2019-10-30 23:36] #2453 closed

[2019-10-31 00:03] mpharrigan commented on #2313
- fix spacing routines to not require integer coordinates

[2019-10-31 00:18] jaeyoo commented on #2415
PR #2418 is merged.

[2019-10-31 00:18] #2415 closed

[2019-10-31 07:33] jitendrs commented on #877
@vtomole  please close this ticket.

[2019-10-31 16:46] #2457 closed

[2019-10-31 16:59] vtomole commented on #877
@jitendrs Which PR was this done on?

[2019-10-31 17:16] maffoo opened #2466 "pylint failure on travis that is unrelated to PR changes"
I just had this [pylint failure](https://travis-ci.com/quantumlib/Cirq/jobs/251552372) on travis in a file that was not touched in my PR. I have seen similar issues locally where pylint detects problems in completely unrelated files. I think @Strilanc mentioned that this might be due to pylint caching information about various files, but in any case it would be good to fix it to make the lint job

[2019-10-31 18:07] KevinVillela commented on #2445
Couple of other options:
  - Re-write quantum_volume.py to take in an arbitrary routing function, which would be called with ccr.route_circuit. This isn't ideal because routing is kind of a central part of the algorithm.
 - Just move QuantumVolumeResult (which has no contrib dependencies) out of contrib temporarily.

[2019-10-31 19:29] mpharrigan commented on #2445
If we do have an `experiments/` module, the code will likely need to depend on contrib-quality code. Any experiment worth its salt will identify functionality not *strictly* associated with the experiment itself but either (a) not worth it (for the experiment developer) to put in the (large) effort to move to cirq-proper, or (b) slightly too specific to alleviate concerns of cirq becoming bloated

[2019-10-31 20:30] #2455 closed

[2019-10-31 20:30] kevinsung opened #2468 "test_single_qubit_op_to_framed_phase_form_output_on_example_case fails on my machine and sometimes on Travis Windows build"
[code]

I'm on cirq 0.6.0.dev0 and numpy 1.16.2.

[2019-10-31 22:22] c-poole commented on #2382
Related to #408.

[2019-10-31 22:26] c-poole commented on #1086
`DensityMatrixSimulator` exists. Does that satisfy the conditions for closing this issue @Strilanc ?

[2019-10-31 22:31] c-poole commented on #1161
This looks it has been completed.

[2019-10-31 22:32] c-poole commented on #1506
This has been completed

[2019-10-31 22:42] c-poole commented on #1992
Did the recent change to a headless backend during tests fix this?

[2019-10-31 22:43] #2009 closed

[2019-10-31 22:44] #1506 closed

[2019-10-31 22:46] #1161 closed

[2019-10-31 23:11] himanshujaju commented on #2446
`install: skip` should be the intended solution?
https://docs.travis-ci.com/user/job-lifecycle/#skipping-the-installation-phase

[2019-11-01 00:00] kevinsung commented on #1493
Displays are gone.

[2019-11-01 00:00] #1493 closed

[2019-11-01 02:25] jaeyoo commented on #2416
Yes, what I am implementing requires conditioning any DensePauliString and any PauliSum. I've tried maffoo's suggestion by using ConvertToCzAndSingleGates to use CZPowGate only, but it shows errors:
`

cirq.Circuit([
    cirq.Moment(operations=[
        cirq.Ry(sympy.Symbol('a')).on(cirq.GridQubit(0, 0)),
    ]),
])

(0, 0): ───Ry(a)───

Traceback (most recent call last):
  File "<stdin>", line 1,

[2019-11-01 06:02] viathor opened #2472 "Angles in radians (rather than turns or half turns)"
I've come to think that use of radians for things like phase angles would lead to more readable code. Specifically, presence of pi in an expression acts as a "unit", hinting the reader that the quantity they're looking at is an angle.

Such values would also be directly comparable to expressions encountered in textbooks, papers, blogs etc.

OTOH, counting turns leads to values that are easier to m

[2019-11-01 21:14] kevinsung commented on #491
This is done now that we have cirq.PauliSum.

[2019-11-01 21:14] #491 closed

[2019-11-01 22:26] Strilanc opened #2474 "Parity controls break when both inside and outside a custom gate"
Example:

https://algassert.com/quirk#circuit=%7B%22cols%22%3A%5B%5B%22zpar%22%2C%22zpar%22%2C%22~14b2%22%5D%5D%2C%22gates%22%3A%5B%7B%22id%22%3A%22~14b2%22%2C%22circuit%22%3A%7B%22cols%22%3A%5B%5B%22zpar%22%2C%22zpar%22%2C%22X%22%5D%5D%7D%7D%5D%7D

![image](https://user-images.githubusercontent.com/79941/68060031-f752e680-fcbb-11e9-9513-58139bf76c43.png)

[code]

[2019-11-01 22:27] Strilanc commented on #2474
Wrong project

[2019-11-01 22:27] #2474 closed

[2019-11-01 23:12] Strilanc opened #2475 "Add a clearer link to readthedocs"

[2019-11-01 23:15] Strilanc opened #2476 "ReadTheDocs build is failing despite local builds succeeding"

[2019-11-01 23:20] Strilanc opened #2477 "Add --incremental argument to dev_tools/build_docs"
Almost everything sphinx does is determined by `docs/api.rst`. If you change that file to only mention a single class, the docs build finishes in seconds with output for that class.

1. Iterate files that are modified and end in `.py` but not `_test.py`. Further iterate their exposed values via `inspect.getmembers`. Put the member names (not qualified by package) into a set S.
2. Temporarily renam

[2019-11-01 23:34] vtomole commented on #2476
This is referring to the `build erroed` we've been seeing in docs?

[2019-11-01 23:37] vtomole commented on #2475
In the readme?

[2019-11-01 23:47] Strilanc opened #2478 "Delete cirq.Schedule"
I was discussing this idea with @dstrain and @maffoo and @MichaelBroughton and got a surprisingly positive response. So I want to bring it up as a thing we should consider doing.

Originally, we added Schedule as a way to have a finer degree of control over the hardware. But over time the following has happened:

1. Even when calling actual hardware, users have stuck with `Circuit`. We haven't had

[2019-11-02 01:49] dstrain115 commented on #2478
For the record, I vote yes in dropping this functionality.  The schedule is too detailed of a level of abstraction and is nearly impossible to schedule correctly or efficiently.  I do not think we should support this level of control.

Having the WaitGate should mitigate many use cases that would have previously needed a schedule.

[2019-11-02 07:19] kevinsung commented on #1293
Displays are dead.

[2019-11-02 07:19] #1293 closed

[2019-11-02 17:25] dabacon commented on #2478
So one thing people haven't done, which I sort of expected, is to pack things a bit tighter than the Circuit allows (if you have gates with differing times).  WaitGate doesn't cover this case.

But this reminds me of an idea that could mitigate a bunch of these ideas: what if we added to operations instructions about when to schedule them, i.e. if you have "open time" before your gate, you can sli

[2019-11-03 22:35] Ashalynd commented on #2421
Noise can be injected into the circuit (using with_noise method). It doesn't make sense to provide an alternative way to supply noise, considering that circuit is a required parameter.

[2019-11-03 23:24] hanusaj commented on #2386
# Preliminary design document - Looking for feedback for more to add and outline

# Design for export to QUIL in Cirq

To output a circuit to QUIL format in Cirq, the following call can be made:

**Below is an example of printing the QUIL output in Cirq:**

[code]

**The print statement would output the following:**

[code]

## Gate Conversion Rules for Standard QUIL Gates

| Cirq Gate     | QUIL

[2019-11-04 00:17] c-poole commented on #2478
I think it will be simpler to modify `Circuit` to have any currently missing functionality than to attempt to repair the neglect we've had for `Schedule` up until now. I vote in favor of dropping it.

[2019-11-04 08:04] jaeyoo opened #2481 "cirq.FSimGate has no _eigen_components(). Is it intended?"
Hi all,
I wonder if it is intended or not that cirq.FSimGate has no _eigen_components(). I need it to get the eigenvalues of given gates even if unitary can't be obtained because the gates are parameterized. (In fact, I am only working on parameterized gates)
Or is it ok for me to implement it?

[2019-11-04 10:25] jaeyoo commented on #2481
Resolved. I've decided decomposing the gate (cirq.decompose), and every gate in the decomposed result has _eigen_components(). Thanks.

[2019-11-04 10:25] #2481 closed

[2019-11-04 13:32] Strilanc commented on #2481
Beware calling methods that begin with an underscore. They are considered private. We may remove them without notice.

[2019-11-04 13:35] Strilanc commented on #2478
Are you referring to relative placement within a moment, or are you referring to tight overlapped packing between different moments?

@dstrain115 this kind of timing information might be the sort of thing tags would be good at. You should consider it as a possible use case.

[2019-11-04 13:43] jaeyoo commented on #2481
Oh Thanks. Then how can I get the eigenvalues of given gates? There is also _eigen_shifts() but it is private too..

[2019-11-04 15:43] jaeyoo opened #2482 "gate.exponent = new_exponent causes AttributeError: can't set attribute."
I want to modify exponent of given gates to substitute old sympy.Symbol to new one. But it is not allowed because the gate.exponent as no setter. Is it intended design or may I add it?

[2019-11-04 16:15] jaeyoo commented on #2482
Hmm. I found out _with_exponent() but it is private. So I decided using the full type(a.gate)(exponent=sympy.Symbol('new')), but am afraid of _global_phase. Does cirq.decompose() guarantee that the generated gates have no _global_phase?

[2019-11-04 16:35] cduck commented on #2482
Closing because gates (and most objects in Cirq other than Circuit) are intended to be immutable.

If your goal is to substitute one symbol for another, you should use `cirq.resolve_parameters` to create a new gate.  This will work in general, even if the exponent is an expression involving that symbol.  `cirq.resolve_parameters` also works on `Operation` and `Circuit`.

[code]

[2019-11-04 16:35] #2482 closed

[2019-11-04 16:44] maffoo commented on #2478
I'm in favor of dropping Schedule in its current form because it's not really supported. We have some schedule abstractions that we use internally that are really useful, so I could imagine bringing this back in the future if we decide to give people more control over timings, but it needs some careful design.

[2019-11-04 17:12] mpharrigan commented on #2478
I suggested this in our meeting last thursday when you were talking about waitgate but I don't think anyone heard. Yes, I think we should drop schedule. If we bring something like it back, we should use (variants of) what the hardware team actually uses like @maffoo suggests

[2019-11-04 17:12] dabacon commented on #2478
Was thinking of both.

But I agree let's kill Schedule until we really find cases that we can't find a suitable abstraction for moments and circuits.

[2019-11-04 17:17] vtomole commented on #2446
It worked. Thank you @himanshujaju .

[2019-11-04 18:07] mpharrigan commented on #2475
In the readme and via the repo url (at the top)

[2019-11-04 18:28] Strilanc commented on #2481
You can get them in a more guaranteed way by using np.linalg eigendecomposition methods.

You could contribute this as a more generally supported feature for the library. I would not be opposed to adding top-level methods along the lines of `cirq.eigen_projectors/vectors/values` that were fast for EigenGate but fell back to numpy's linear algebra methods in the general case.

[2019-11-04 18:34] vtomole commented on #2386
@hanusaj  Looks fine to me so far. CPHASE is supported in Cirq as `cphase = cirq.CZPowGate(exponet=t)`. QUIL defines it as

[code]

Look at the matrix of  ` CZPowGate` https://github.com/quantumlib/Cirq/blob/190c41fb95a422d5828f74054b50f3ce16e20bb8/cirq/ops/common_gates.py#L605.

The other CPHASE gates are not supported by Cirq. We will need to add them.

[2019-11-04 19:02] mpharrigan commented on #2477
We should also include the `sphinx-quickstart`-style `Makefile` in `docs/` for familiarity with other python/sphinx projects

[2019-11-04 19:05] mpharrigan commented on #2472
Where do you want this? In the constructor of gates? Is is similar to the difference between `XPowGate` and `Rx`?

[2019-11-04 21:00] vtomole commented on #2423
The current implementation relies on the tableaux for performing measurements.

[2019-11-04 21:04] vtomole commented on #2423
We could separate this into 2 simulators. `CHP()`  and `CH()`.  Both will use `CliffordTableau`.

[2019-11-04 21:33] jaeyoo commented on #2482
Thanks. I checked it works perfectly :)

[2019-11-04 21:48] #2446 closed

[2019-11-04 22:51] mpharrigan opened #2486 "circuit.insert into a specific place"
Maybe I'm doing something wrong, but I'm trying to insert an operation into an existing moment on an existing qubit for which I know to be idle. I'm using `circuit.insert`. But it won't put it at the `i` I specify. Rather, it will slide my gate as left as possible near index `i`

[2019-11-04 22:53] smitsanghavi commented on #2423
Right, can we perform measurements on the CH representation without needing the tableau?

[2019-11-04 23:04] vtomole commented on #2423
Good question. If there is I haven't been able to find it.

[2019-11-04 23:06] cduck commented on #2486
This is probably because the default value for the optional `strategy` parameter is `cirq.InsertStrategy.EARLIEST`.  Is earliest the most intuitive for the `insert` method?

[2019-11-05 00:09] mpharrigan commented on #2486
Sorry, I should have mentioned that I tried changing the strategy to `INLINE`. I observed the same behavior. Upon further digging it looks like (under the inline strategy) it subtracts 1 from the index you pass in and puts the operation there; which seems surprising at best.

[2019-11-05 17:38] mpharrigan commented on #2476
from the readthedocs logs it *seems* to be failing when installing contrib requirements. It fails while installing tensorflow with an out-of-memory error

[2019-11-05 17:39] mpharrigan commented on #2475
Someone with admin privileges (ie not me) needs to add it to the repo url

[2019-11-05 18:24] jaeyoo commented on #2481
Thanks for the idea. Yes then I will try my best to support EigenGate first, and then numpy linalg method later.

[2019-11-05 19:08] jaeyoo opened #2492 "Implement cirq.eigencomponents()"
Conclusion of discussion in #2481 .

[2019-11-05 20:34] jaeyoo opened #2493 "TypeError: 'Moment' object is not subscriptable"
The following error looks weird to me.
[code]
Because we provide the following iterator property of Moment:
[code]
Is it ok to add subscriptability into Moment?

[2019-11-05 20:58] mpharrigan commented on #2493
It behaves like a python `set`. There's no "order" to the operations in a moment, per se. You could also imagine having indexing work by qubit (so it behaves like a `dict`) rather than by op index

[2019-11-05 23:54] kevinsung commented on #2493
Internally Moment stores its operations as a tuple. If we only need setlike behavior then we should change it to a set.

[2019-11-06 01:16] Ashalynd commented on #2413
Shouldn't there be some consistency? E.g. all simulate() methods should return SimulationTrialResult which then can be cast to the corresponding type. (Thought it seems odd too)

[2019-11-06 02:06] #2475 closed

[2019-11-06 06:51] MichaelBroughton commented on #2466
Pretty sure this is good to close (PR'd a fix that got entirely merged out when I merged master), have you had it recently @maffoo ?

[2019-11-06 13:46] andbe91 opened #2502 "Add CZRotation?"
After the addition of `ISwapRotation` in #2488, would it make sense to also add a `CZRotation` gate which takes the controlled angle as an argument? I usually find myself working mostly with angles, for instance for varitional algorithms, so I currently have to convert to exponents when creating circuits in Cirq.

[2019-11-06 15:44] drewrisinger opened #2503 "Docs: AQT not included in API documentation"
Not sure if this is intentional or not, but the AQT device is entirely unmentioned in the [v0.6 (stable) docs](https://cirq.readthedocs.io/en/stable/).

This could be fixed with something like ``sphinx-apidoc`` if this project uses that.

Related:
* Several of the functions/classes in the AQT file are either not fully-documented or malformatted.

Examples:
https://github.com/quantumlib/Cirq/blob/9

[2019-11-06 15:55] Strilanc commented on #2502
I'm worried that the matrix of this gate would be ambiguous to users. What's the matrix at pi/2?

1. A Controlled Rz, which the name reads like, would be `diag(1, 1, -i, i)`.
2. Most other R / rotation gates have the form `e^(i G t)`, implying the matrix `diag(-i, -i, -i, i)`
3. If this is strictly an angle conversion, the matrix would be `diag(1, 1, 1, i)`.

[2019-11-06 15:59] Strilanc opened #2504 "VQE example has parameterized gates with no effect"
From https://quantumcomputing.stackexchange.com/questions/8694/is-there-a-mistake-in-the-vqe-ansatz-in-cirqs-tutorial

This is the final circuit in the notebook ( https://cirq.readthedocs.io/en/stable/tutorial.html#background-variational-quantum-algorithms ):

[code]

All phasing operations preceding the measurements have no effect. This leaves only the layer of X gates. So the whole optimization

[2019-11-06 18:34] andbe91 commented on #2502
I see what you mean. 3 is what I had in mind, and that is also what `cirq.CZ**0.5` yields. I think the trouble is due to what global phase one uses for the Rz gate that is controlled? For instance,
[code]
which was a bit confusing to me at first.

Regardless, I think that it is quite common to want a gate with `exp(i*theta/4*(ZZ-ZI-IZ)) = diag(1, 1, 1, e^(i*theta))`. Perhaps a good name and docume

[2019-11-06 19:07] Strilanc commented on #2478
Verdict: kill it

[2019-11-06 19:23] Strilanc opened #2505 "final_wave_function doesn’t have the ignore_terminal_measurements argument"

[2019-11-06 19:39] maffoo commented on #2466
I don't get any lint failures on master, so that's good. I don't see that we've actually fixed whatever was causing local lint and travis lint to disagree, but it's probably not actionable, so I'll close for now.

[2019-11-06 19:39] #2466 closed

[2019-11-06 19:40] c-poole commented on #1731
We determined in the meeting today that we'll be introducing a new (name TBD) class to replace EigenGate and move all of the Cirq native gates to use the new class with it's greater flexibility instead and figure out how we want to phase out EigenGate in favor of new class (name TBD).

[2019-11-06 21:32] Strilanc opened #2506 "Include "global" tests in pytest-changed-files"
A "global" test is a fast test that should fire if any .py file is modified. I think there are only two at the moment: `cirq/protocols/json_test.py` and (soon to be) `docs/docs_coverage_test.py`.

[2019-11-06 21:43] kevinsung commented on #2282
Now that it is possible to seed the routing code, I've updated the repro in the opening post so that it is deterministic and hangs after printing `Attempt 1`.

[2019-11-06 21:43] #2285 closed

[2019-11-06 23:02] viathor opened #2508 "Naming rotations"
This issue seeks to settle the naming convention for factory functions that produce gate instances given rotation angles. I found the following factories:

[code]

These are clearly inconsistent. Proposals:

1. `Rx, Ry, Rz, Rgivens, Riswap, Rms`
2. `rx, ry, rz, rgivens, riswap, rms`
3. `XRotation, YRotation, ZRotation, GivensRotation, ISwapRotation, MSRotation`
4. `x_rotation, y_rotation, z_rotati

[2019-11-06 23:06] dabacon commented on #2508
related #1681

[2019-11-06 23:09] dabacon commented on #2508
I think method names should follow style conventions, so `snake_case`.  When I see `cirq.Rx` I think it is a class and start looking around for the class definition.  Maybe,
5. `rx, ry, rz, givens, iswap, ms`.
I think the factory methods main benefit is being short-cuts.

[2019-11-06 23:27] viathor commented on #2508
I agree about `snake_case` (hence conventions 2 and 4).

Convention 5 is inconsistent with its use of the `r` prefix.

[2019-11-06 23:30] dabacon commented on #2508
I think calling a unitary gate a rotation is kind of redundant.  "Rotation about givens" or "Rotation about Molmer-Sorenson" seems odd to me.

[2019-11-06 23:43] viathor commented on #2508
Good point. I'm starting to like 5. One more concern with it though: `cirq.iswap` and `cirq.ISWAP` meaning slightly different things is potentially confusing and error-prone.

[2019-11-07 01:05] mpharrigan commented on #1992
seems fixed for me

[2019-11-07 01:05] #1992 closed

[2019-11-07 02:50] viathor commented on #2508
Thought about it and I think I'm willing to accept `cirq.iswap` and `cirq.ISWAP` given that they would actually enter python expressions quite differently: one as a function call like `cirq.iswap(np.pi/5)` and the other standalone or exponentiated, e.g. `cirq.ISWAP**0.5`. This use is also consistent with the naming convention which implies the former is a function and the latter is a constant.

Th

[2019-11-07 06:46] Strilanc opened #2509 "pytest prints "Segmentation fault" after succeeding"
For example, try `pytest cirq/ops/fsim_gate_test.py`:

[code]

I've narrowed this down to the line `import qiskit` inside of the qasm compatibility tests. I've confirmed that a python file containing nothing except `import qiskit` prints the segfault message.

Best guess: the version we are targeting has bit-rotted and we need to bump it.

[2019-11-07 07:14] MichaelBroughton commented on #2509
I just ran that on my machine and didn't get a segfault. For reference I have qiskit 0.6.1 and qiskit aer 0.3.2 installed on my venv

[2019-11-07 07:42] Strilanc commented on #2509
Those ones. Very strange.

I also wasn't able to update qiskit without blowing away my virtual environment first. Regardless, I'm not seeing the issue anymore after increasing the qiskit version to 0.13. So I'll consider this issue closed once that gets merged.

[2019-11-07 23:15] #2509 closed

[2019-11-08 03:03] Strilanc commented on #2445
It might be worth putting the effort into getting parts of routing into the main library. I know that people are using it, which is a strong indicator.

[2019-11-08 03:14] jaeyoo commented on #2416
Ok, I found out a way. Close this issue and open the new issue related to cirq.decompose()

[2019-11-08 03:14] #2416 closed

[2019-11-08 03:15] jaeyoo opened #2514 "Support cirq.decompose c++ op"
I want c++ op of cirq.decompose() to decompose circuits into gates with at most two distinct eigenvalues.

[2019-11-08 11:26] jaeyoo commented on #2514
I find out a way to avoid this :) Thanks.

[2019-11-08 11:26] #2514 closed

[2019-11-08 23:17] Strilanc commented on #2288
Done

[2019-11-08 23:17] #2288 closed

[2019-11-08 23:27] Strilanc commented on #2508
`Rms` reads like root mean square.
`Rgivens` and `Riswap` are sorta logical given the first three, but very weird on their own.
Violates python naming convention.

`Rms` reads like root mean square.
`Rgivens` and `Riswap` are sorta logical given the first three, but very weird on their own.
Semi-violates python naming convention in that there would normally be an underscore after the `r`.

The nam

[2019-11-08 23:47] viathor commented on #2508
Agreed, commented on the `iswap` vs `ISWAP` concern [above](https://github.com/quantumlib/Cirq/issues/2508#issuecomment-550596699).

[2019-11-09 01:02] mpharrigan opened #2517 "Effectively can't subclass IdentityGate"
The `on` method always returns an operation with gate `IdentityGate` not my subclass. This has seriously messed me up and wasn't always the case

[2019-11-09 01:03] mpharrigan commented on #2517
git blame shows #1765

[2019-11-09 01:10] mpharrigan commented on #2517
update: it returns an `IdentityOperation` which obliterates the custom logic in my subclass

[2019-11-09 20:37] peterse opened #2520 "Remove IdentityOperation"
At some point it became harder to work with the typing of `cirq.I`, for example:
[code]
This is confusing behavior. Possibly related issues: #2517 #2515

EDIT: `circuit.findall_operations_with_gate_type(cirq.IdentityGate)` now behaves as expected  case as of #2515 but the better solution is to remove `IdentityOperation` entirely

[2019-11-11 19:41] vipasu commented on #2416
@jaeyoo Could you say more about the workaround to for your example? Also interested in ways to make more gates serializable with sympy symbols.

[2019-11-11 22:24] Strilanc commented on #2520
The root cause here is a historical accident where we introduced `IdentityOperation` before `IdentityGate`. It can be fixed by adding a `gate` attribute to `IdentityOperation` that returns an `IdentityGate` instance. It can also be fixed by deleting `IdentityOperation`, which is strictly redundant at this point and so that's probably the better approach.

[2019-11-11 22:26] Strilanc commented on #2517
You can override `on`, but as noted in https://github.com/quantumlib/Cirq/issues/2520 the proper fix is likely to just delete the now-redundant `IdentityOperate`.

[2019-11-11 22:35] Strilanc commented on #2503
Thanks for the report.

We need to gradually expand `docs/docs_coverage_test.py` to cover all packages (instead of a few whitelisted ones). The aqt package is one of the packages that is not tested for doc coverage yet.

[2019-11-12 00:58] mpharrigan commented on #2493
xref #1913

[2019-11-12 01:09] mpharrigan commented on #2445
I suspect we'll soon and have experiment code that uses contrib code outside of whether routing is ready to graduate or not

[2019-11-12 01:23] viathor commented on #2508
In #2526 I have forced keyword parameter passing to differentiate `cirq.ISWAP` and `cirq.iswap`. I'm curious what y'all think about this and whether you'd like to see this convention employed consistently for all the six factory functions. Admittedly,

[code]

is little longer than `cirq.rx(np.pi/2)`, but I don't find it excessively verbose. I also like explicit units since they make the code more

[2019-11-12 13:11] jaeyoo commented on #2493
I see then it is a set, and behaviors as intended. Thanks.

[2019-11-12 20:59] hanusaj commented on #2386
# Preliminary design document

# Design for export to QUIL in Cirq

To output a circuit to QUIL format in Cirq, the following call can be made:

**Below is an example of printing the QUIL output in Cirq:**

[code]

**The print statement would output the following:**

[code]

## Gate Conversion Rules for Standard QUIL Gates

| Cirq Gate      | QUIL Gate | Notes

[2019-11-12 21:43] vtomole commented on #2386
@hanusaj  `common_gates.py` contains too many gates already. Let's create a `cphase_gates.py` and write `PSWAP` in `cirq/ops/swap_gates.py`. Use https://github.com/quantumlib/Cirq/blob/15c142df5b1d27bdd42bd5b3f9330cf0c5af4e9b/cirq/ops/swap_gates.py#L257 as a reference on how to define `PSWAP` (they are very similar).

[2019-11-12 23:31] peterse commented on #2122
related: #2358

[2019-11-13 02:50] viathor opened #2533 "Clifford simulator ignores random seed"
We should pass it through all the way to tableau's `_measure` method.

[2019-11-13 04:24] peterse commented on #2520
Ah that makes sense; #2515 fixed the above but I agree that removing `IdentityOperation` is a better and simplifying solution

[2019-11-13 17:14] peterse opened #2534 "should circuits using symbols suggest that the user implement flattening?"
Would it make sense for a param resolver containing many sympy expressions to warn the user of potential slowdowns and point the user towards the flattening utilities?

Looking at @dstrain115's fix in #1899 ([comment](https://github.com/quantumlib/Cirq/issues/1899#issuecomment-545200718)) a user can potentially improve the simulation time of circuits containing symbols by orders of magnitude using

[2019-11-13 19:21] Strilanc opened #2536 "Major goal: gate pattern matching"
- We have many different ways of specifying the same gate. An X gate could an instance of `PauliString`, of `XPowGate`, of `PhasedXPowGate`, of (in the future) `PhasedXZPowGate`, of `MatrixGate`, you get the idea. It would be nice if I could just say `cirq.match(might_be_x, cirq.X)` in order to recognize X gates, and `cirq.match(might_be_x, cirq.XPowGate)` to identify X rotations.

- I always acci

[2019-11-13 19:21] Strilanc opened #2537 "Major goal: gate set concept and device refactor"
- Need clarity around amount of verification when mutating circuits

[2019-11-13 19:22] Strilanc opened #2538 "Major goal: improve sampler interface to support batching/async"

[2019-11-13 19:37] dabacon opened #2539 "Cirq logo no longer shows on github front page"

[2019-11-13 19:40] Strilanc commented on #451
Relevant papers via cpoole, balint:

https://arxiv.org/pdf/quant-ph/0406176.pdf
https://arxiv.org/pdf/quant-ph/0401178.pdf

[2019-11-13 20:17] vtomole opened #2541 "Add documentation on how to run Cirq's qasm_ouput on Q#"
Use the QASM -> Q# translator : https://github.com/Microsoft/Quantum/pull/58

[2019-11-13 22:33] bt3gl commented on #2310
Hi, kindly assign this to me, as I am aiming to resolve it in #2542 .

[2019-11-13 22:42] cduck opened #2543 "Readthedocs is still showing docs from v0.5.0"
https://cirq.readthedocs.io/en/stable/index.html

#2542 pointed out that "Qudits" is missing from the menu and readthedocs says it's displaying the docs for `e8f9323b` (the hash of the commit tagged v0.5.0).  Also the title of the page is "Cirq: A python library for NISQ circuits — Cirq **0.5.0** documentation"

@Strilanc Do you need to tell readthedocs the new `stable` version?

[2019-11-13 22:49] #2539 closed

[2019-11-13 23:31] kevinsung opened #2544 "Test cirq.experiments in JSON round trip test"

[2019-11-14 00:20] #2425 closed

[2019-11-14 00:45] Strilanc commented on #1292
Already done

[2019-11-14 00:45] #1292 closed

[2019-11-14 04:38] bt3gl commented on #1996
Hi, @vtomole  I was working on #2542 and realized this problem. So I can fix this one too.
When you say "mention", you mean in the document page (i.e. https://cirq.readthedocs.io/en/(latest||stable)/tutorial.html), correct? Or somewhere else?

[2019-11-14 19:32] dstrain115 commented on #1128
This has been completed.  All optimizers except ConvertToXmon() have been moved to cirq.optimizers.

https://github.com/quantumlib/Cirq/blob/master/cirq/google/optimizers/optimize_for_xmon.py#L37

[2019-11-14 19:32] #1128 closed

[2019-11-14 19:44] dstrain115 commented on #1672
#2231 fixed this.  Closing.

[2019-11-14 19:44] #1672 closed

[2019-11-14 19:48] dstrain115 commented on #752
It looks like those links still contain TODOs

[2019-11-14 20:02] vtomole commented on #1996
We should mention it on the README.

[2019-11-14 21:26] viathor commented on #2508
Oops, didn't actually intend to close this until all changes are in.

[2019-11-14 21:27] viathor commented on #2508
Also, FTR: from last meeting the convention we'll follow here is:

[code]

[2019-11-14 21:28] viathor commented on #1681
#2508 is a duplicate of this issue. I'll close this one since the other one has a more thorough discussion of the conventions we considered.

[2019-11-14 21:28] #1681 closed

[2019-11-14 22:23] kevinsung opened #2552 "ParamResolver does not have evaluatable repr"
The reason is that values can be resolved into instances of sympy.Basic. For instance, `repr(cirq.ParamResolver({'a': sympy.Symbol('b') + 1}))` evaluates to `"cirq.ParamResolver({'a': b + 1})"` where the `b` is not a defined expression.

This is currently blocking JSON serialization of ParamResolver because the serialization test insists that the repr be evaluatable. Should we drop this requiremen

[2019-11-14 22:29] mpharrigan opened #2553 "PointOptimizer putting in too many moments"
[code]

In:
[code]

Out:
[code]

Minor xref: #2406

[2019-11-14 22:32] mpharrigan commented on #2553
If you change the circuit construction to
[code]

i.e. re-order the first (uncompiled) moment, it gives the "correct" circuit:

[code]

[2019-11-14 22:38] kevinsung commented on #2552
#2554 fixes this for cases handled by `cirq._compat.proper_repr`.

[2019-11-14 22:41] mpharrigan commented on #2552
Shouldn't JSON serialization be independent of repr-roundtrippability?

[2019-11-14 22:54] kevinsung commented on #2552
Maybe, but #2527 made them dependent.

[2019-11-14 23:07] mpharrigan commented on #2508
What about `rzz`

[2019-11-14 23:08] c-poole commented on #1607
I imagine this has persisted into 0.6?

[2019-11-14 23:08] mpharrigan commented on #2508
Am I taking crazy pills or did you change it to `riswap`?

[2019-11-14 23:11] viathor commented on #2508
No crazy pills appear to have been ingested. We've decided in the meeting `cirq.riswap` was better than `cirq.iswap` so I've updated my PR. I've also recorded the change of plans in [the comment above](https://github.com/quantumlib/Cirq/issues/2508#issuecomment-554087655).

[2019-11-14 23:11] viathor commented on #2508
Sure, this is consistent with the convention we've settled on.

[2019-11-14 23:16] mpharrigan commented on #2508
ok

[2019-11-14 23:57] #2552 closed

[2019-11-15 07:44] #2493 closed

[2019-11-16 16:08] KevinVillela commented on #2544
FYI https://github.com/quantumlib/Cirq/pull/2559 pulls out the JSON roundtrip function into the cirq.testing package and uses it to test a class in cirq.contrib. I think you can build on that to test the classes in cirq.experiments.

[2019-11-16 21:45] alexandrupaler commented on #2537
@Strilanc : For the Cirq bootcamps I am using a device that has a method to check if a gate belongs to a certain supported gate set. That method is also used for a kind of automatic compilation, by calling `cirq.decompose` with the `keep` parameter.

You can see an example of the method [here](https://github.com/alexandrupaler/fondq/blob/97953e24f5d7e31e92987893acab2ce46c361d2c/fondq_device.py#L57

[2019-11-18 05:56] smitsanghavi commented on #2423
Another question, to implement to_circuit for CH representation it looks like I'll need a to_circuit for the Uc which is in a tableau form (from https://arxiv.org/pdf/1808.00128.pdf). To get circuit from tableau form, I can follow the algorithm to get the canonical form as described in https://www.scottaaronson.com/papers/chp6.pdf Theorem 8.
Just wondering if there is a simpler way I'm missing her

[2019-11-18 15:39] Ashalynd commented on #2421
Hey, the PR (#2487 ) is missing review for a while - can anyone take a look?

[2019-11-18 23:40] kevinsung opened #2565 "built-protos Travis job failing"
affecting #2563 and #2564

[code]

[2019-11-18 23:54] Strilanc commented on #2082
Stale

[2019-11-18 23:54] #2082 closed

[2019-11-19 00:33] kevinsung opened #2567 "Density matrix simulator simulates noise incorrectly"
The code below constructs two circuits, each with one measurement gate that should have the same measurement results. Instead, one measures 0 and the other measures 1.
[code]
Output:
[code]

[2019-11-19 00:51] kevinsung commented on #2567
The reason this happens is that if all measurements are terminal, the code will first simulate all noisy moments and then simulate all measurements. This is incorrect for Circuit 1 above because the moment with the measurement gets simulated (with a bit flip) before the measurement itself is simulated.

However, I think this example raises the question of whether the output of Circuit 1 is actuall

[2019-11-19 00:57] kevinsung opened #2570 "Should ConstantQubitNoiseModel apply noise first rather than second?"
https://github.com/quantumlib/Cirq/blob/e90430598d43bf124844c41c08663c9bafd5f9b7/cirq/devices/noise_model.py#L204-L209

As you can see, the original moment gets applied, then the noisy moment. This means that the measurement results of measurement gates are not affected by the noise, which may be surprising. For instance, a circuit consisting only of measurements will be sampled as if it is noisel

[2019-11-19 01:05] Ashalynd commented on #2567
This is partially fixed by #2487 which is in the review queue.

[2019-11-19 01:07] Strilanc commented on #2565
This is the same thing that happened the last time we had build protos as a build check. At some random point in time, a library started failing to download and all the builds broke.

I'll turn it off again, and push back against turning it on if this can't be fixed.

[2019-11-19 01:08] Strilanc commented on #2565
@zaqqwerty any idea why this is flaky again?

[2019-11-19 01:18] kevinsung commented on #2567
In what way is it partially fixed? Would it change the output of my code snippet?

[2019-11-19 01:33] #2565 closed

[2019-11-19 01:48] Ashalynd commented on #2567
Oh I see, this is a different issue. That PR added the option to not perform perfect measurements during the simulation.

[2019-11-19 18:57] bryano commented on #2298
This is the intended behavior, as Sycamore doesn't have the cross-talk constraints that Bristlecone does.

If you want to run a circuit produced by the routing code on an `XmonDevice`, just run an optimization pass that moves simultaneous and adjacent 2-qubit gates into separate moments. This will be suboptimal, but because the routing code is targeted at Sycamore, there aren't plans to optimize t

[2019-11-19 18:57] #2298 closed

[2019-11-20 04:07] bt3gl commented on #1996
#2549 was merged, so we can close this

[2019-11-20 12:25] #1996 closed

[2019-11-20 19:45] kevinsung opened #2577 "Simulators should expand their concept of "terminal measurements""
Currently terminal measurements mean there are no gates after measurements. However, the measurement in the circuit
[code]
is still "terminal" in the sense that it can be sampled repeatedly from the same state rather than executing the circuit once for each repetition.

[2019-11-20 20:45] pschindler commented on #2503
I improved the aqt device documentation. See PR #2578

[2019-11-20 20:46] pschindler commented on #2091
Crosstalk for the MS operation has been included in PR #2578

[2019-11-20 20:47] pschindler commented on #2194
This has been addressed in PR #2578

[2019-11-20 20:51] vtomole commented on #2194
Thanks @pschindler . We will close these issues once that PR is merged.

[2019-11-20 21:07] vtomole opened #2579 "Add return type annotations in AQT"
Most procedures don't have them.

[2019-11-20 21:43] vtomole opened #2581 "Add interop/qasm."
Move `qasm_import `from contrib and deprecate `qasm_ouput` from`circuits`  to `interop/qasm`.

[2019-11-20 22:00] kevinsung opened #2582 "What is the point of TrialResult.from_single_parameter_set?"
https://github.com/quantumlib/Cirq/blob/f14ed20545338f404516c55fd150daa8cbfd292f/cirq/study/trial_result.py#L118-L133

All it does is forward to the default constructor.

[2019-11-20 23:33] mpharrigan commented on #2298
That's right

[2019-11-21 06:50] #2506 closed

[2019-11-21 08:02] pschindler commented on #2579
This should be addressed in PR #2578

[2019-11-21 16:11] #2194 closed

[2019-11-21 16:12] #2091 closed

[2019-11-21 22:40] vtomole opened #2587 "Add DiagonalTwoQubitGate"
[code]
e.t.c

These pyquil built-in gates: https://github.com/rigetti/pyquil/blob/2f7e4b4dd5edcb99da1f5e7d8f4459ba11e81af3/pyquil/gates.py#L298 are needed to be compatible with QUIL. See:  https://github.com/quantumlib/Cirq/issues/2386

[2019-11-22 05:05] #2478 closed

[2019-11-22 05:15] Strilanc commented on #2386
Do we really need to add all these CZ variants? How about a single `TwoQubitDiagonalGate` to accompany `ThreeQubitDiagonalGate`?

[2019-11-22 09:50] vtomole commented on #2386
@Strilanc okay let's do that.

[2019-11-22 19:10] wcourtney opened #2590 "Default names can fail on Engine"
When no program name is provided, we create a random one because names must be unique: https://github.com/quantumlib/Cirq/blob/1c5084a8d87ad0c93fb1932362a827540262224e/cirq/google/engine/engine.py#L462

If the name already exists, the creation request will fail with a 209 ALREADY_EXISTS error. For these default names, we should probably recover by choosing a new one and trying again.

[2019-11-22 23:43] Strilanc commented on #2590
It would be acceptable to increase the length from 6 to 16 and append the current date as six digits. You'd need on the order of a trillion jobs in a day to have any reasonable chance of a collision.

[2019-11-23 02:20] #2508 closed

[2019-11-23 15:02] karlunho opened #2596 "Examples: Add end-2-end example for Sampling Random Circuits (Quantum Supremacy)"
We should have an end-2-end example for sampling random circuits. Ideal example will have the following requirements:

1. Show creation of random circuit for both "easy" and "hard" random circuit defined in the supremacy paper
2. Show creation of random circuit for patch, elided, and full random circuits defined in the supremacy paper
3. Usage of Sycamore device and Sycamore Gates
4. Show that one

[2019-11-25 23:17] vtomole commented on #2423
Sorry for the late reply @smitsanghavi . I was looking for an easier way but this seem to be it.

[2019-11-26 16:08] dixr commented on #2408
I second that.

The usecase is similar to the one discussed for on_each in #1624 and was fixed for on_each with #1674

We should have it for cirq.measure too.

[2019-11-26 18:01] amitabhyadav commented on #2216
Hi! I'd like to take a crack at this issue. Please assign this to me.

[2019-11-26 18:13] vtomole commented on #2216
@amitabhyadav  Done!

[2019-11-26 19:31] SatyaKuppam commented on #2216
Hey, I am already working on this.

[2019-11-26 21:01] vtomole commented on #2216
Oops. Hey @amitabhyadav . We have other issues you can work on.

[2019-11-26 22:16] mpharrigan commented on #2553
Bump

[2019-11-26 22:26] mpharrigan commented on #2282
@bryano any ideas?

[2019-11-27 01:06] maffoo opened #2602 "Add PhaseXZ (de)serializer to standard (de)serializers"
After #2598 is in and the gates are supported in the server.

[2019-11-27 09:03] iamvamsikrishnad opened #2603 "Add binary literal example to compute_amplitudes_sweep and compute_amplitudes methods of SimulatesAmplitudes class."
The signature of compute_amplitudes_sweep and compute_amplitudes requires bitstrings to be a list of int's. Because of the semantics in python3 of not allowing leading zeros for int's (https://stackoverflow.com/questions/36386346/syntaxerror-invalid-token) this can be confusing.

For eg: if I want to measure a bitstring 0010, I need to provide 10 as input to the bitstring which is confusing to the

[2019-11-28 09:38] #1782 closed

[2019-11-30 15:28] vtomole opened #2606 "Remove/reword "We will break your code when we make new releases""
Since we deprecate features now, this sentence is not accurate.

[2019-12-02 04:42] #2152 closed

[2019-12-02 15:39] ccalaza opened #2607 "cirq.contrib.qasm_import.qasm.QasmParser(): Add support for u1(lambda) gate"
I was testing the compatibility between Cirq-0.7.0.dev and QASM by running the following code:

[code]
when I noticed that some of the gates are not yet supported (i.e. all the gates below the "UNSUPPORTED GATES" comment). I was not surprised to see that barrier, reset or these weird control gates do not work, but u1 is one of the 5 basis gates in QASM and Cirq does not seem to recognize it yet. I

[2019-12-02 16:19] vtomole commented on #2607
@ccalaza  `u1` is not added, but you can use `rz` as a replacement.

[2019-12-02 16:30] ccalaza commented on #2607
I can also use u2 or u3, as u1 is a specific version of these more general gates. There is definitely several ways to work around this.

I just opened the issue because it will confuse people who are not aware of this down the line, and it seems that QasmUGate class can very easily deal with this gate:
cirq.circuits.qasm_output.QasmUGate(0, 0, lmda) == u1(lmda) == rz(lmda)

[2019-12-02 16:32] vtomole commented on #2607
Thanks for raising this issue: I've opened up a pull request that addresses it: https://github.com/quantumlib/Cirq/pull/2608

[2019-12-02 21:19] #2445 closed

[2019-12-02 22:04] #2607 closed

[2019-12-03 02:59] vtomole commented on #790
Closing because Schedule was removed.

[2019-12-03 02:59] #790 closed

[2019-12-03 07:15] chlorophyll-zz opened #2614 "MemoryError: Unable to allocate array with shape (562949953421312,) and data type complex64"
Running this Simulation in Colab Notebook with 49 Qubits
https://colab.research.google.com/drive/1bOg47bXV9lmUQqnJDn7jAbKvn5kOeBXN#scrollTo=x-0EyYgnh4Wg
`

Error:

The same Simulation runs without this error for 36 Qubits

[2019-12-03 11:05] ccalaza commented on #2614
You are trying to allocate memory worth (562949953421312 * 64) bit = 36028797018963970 bit =~ 4.5 Petabyte, whereas my guess is that 36 qubits would require approx 550 Gigabyte (still a lot but within reasonable limits for a big machine).

[2019-12-03 13:11] chlorophyll-zz commented on #2614
@ccalaza yes, for the 36 Qubits, the Machine Crashes with OOM, but without this specific error.

[2019-12-03 14:48] #2614 closed

[2019-12-03 18:22] #2606 closed

[2019-12-03 18:25] vtomole commented on #2543
Fix by removing TensorFlow dependency.

[2019-12-03 18:25] #2543 closed

[2019-12-03 23:46] maffoo opened #2617 "Test failure in cirq/optimizers/decompositions_test.py on windows"
Completely unrelated PR (#2616) is failing on a decomposition test: https://travis-ci.com/quantumlib/Cirq/jobs/262788593#L573

[2019-12-04 18:55] vtomole commented on #2541
**Add qsharp as a contrib dependency: https://pypi.org/project/qsharp/**
Option 1. Compile https://github.com/qsharp-community/qsharp-integrations/blob/master/src/OpenQasmReader/Parser.cs and add `Parser.exe` to `contrib`/`dev_tools`.

` mono Parser.exe Microsoft.Quantum.SanityTests tests/OpenQasmReader.Tests/TestFunctions/CNot.qasm > Cnot.qs`

[code]
Option 2: Translate `Parser.cs` to `qsharp_qas

[2019-12-04 19:12] Strilanc commented on #2541
Option 3:

Add an "interop.rst" to documentation explaining how to do this.

[2019-12-04 20:12] vtomole opened #2620 "Add 2D Hidden Linear Function problem and 1D Magic Square Problem examples"
These problems can be solved exactly by a constant-depth quantum circuit using bounded fan-in gates (or QNC^0 circuits), but cannot be solved by any constant-depth classical circuit using bounded fan-in AND, OR, and NOT gates (or NC^0 circuits). These would be interesting programs because they don't use oracles.

Refer to:
https://arxiv.org/abs/1704.00690
https://arxiv.org/abs/1904.01502

[2019-12-05 07:58] jaeyoo opened #2623 "Support sample-based expectation in PauliSum"
It is very important to support sample-based expectation in PauliSum for real & simulating QPU devices. Given `num_shots` (or we can name it as `repetitions`. which one do you prefer?), the result of cirq.Sampler().run() is a list of qubit measurements. Based on the result, a helper to calculate (estimated) expectation value of given PauliSum is really nice to have.

I suggest `cirq.PauliSum.expec

[2019-12-05 07:58] jaeyoo commented on #2623
I want to work on it.

[2019-12-05 08:00] gecrooks opened #2624 "_BGate defined as complex conjugate of B gate"
The B gate class in two_qubit_to_fsim.py appears to have been defined as the complex conjugate of the B gate as defined in the original reference (unless I'm making a sign error somewhere). It should be `XX(a, b)**-0.5, YY(a, b)**-0.25`,

https://github.com/quantumlib/Cirq/blob/2b88d34dc2c4dc5dc1c59d21810114112286c225/cirq/optimizers/two_qubit_to_fsim.py#L137

https://arxiv.org/abs/quant-ph/031219

[2019-12-05 09:30] alexandrupaler opened #2625 "multiqubit controlled gate decompositions"
It would be a nice feature if Cirq would support the multiqubit controlled gate decompositions presented in https://arxiv.org/abs/quant-ph/9503016

[2019-12-05 10:29] trevormccrt commented on #2623
@mpharrigan

[2019-12-05 11:11] trevormccrt commented on #2623
This is more complicated than it looks. I'd say someone with some experimental quantum computing experience should do this.

[2019-12-05 11:23] jitendrs commented on #2620
can you please assign to me?

[2019-12-05 16:37] hanusaj commented on #2386
# Design for export to QUIL in Cirq

To output a circuit to QUIL format in Cirq, the following call can be made:

**Below is an example of printing the QUIL output in Cirq:**

[code]

**The print statement would output the following:**

[code]

## Gate Conversion Rules for Standard QUIL Gates

| Cirq Gate      | QUIL Gate | Notes                                                        |
| ---------

[2019-12-05 17:40] mpharrigan commented on #2623
I'm putting the finishing touches on a design doc for a full solution to executing circuits to estimate a bunch of observables. That may be more than what you're asking for here. Specifically

This is a rather modest request. The difficulty is that the input measurements need to somehow be guaranteed to have come from modified circuits that include pre-measurement single-qubit change-of-basis rota

[2019-12-05 18:42] kevinsung opened #2626 "Gate.on().gate should be consistent"
Right now the return type of `Gate.on` is `Operation`, not `GateOperation`. I have come across situations where I want to assume that the result of `Gate.on` has a non-`None` `gate` attribute. This should be a safe assumption, but the types currently don't work out.

Changing the return type of `Gate.on` from `Operation` to `GateOperation` results in the following mypy errors:
[code]
I think the o

[2019-12-05 19:34] vtomole commented on #2386
@hanusaj

Please edit you design instead of adding new ones from now on because they are pretty large.

There other non-standard gates in Cirq besides `fsim`. Please list all the ones that you intend to define `__quil__` for

I don't know what this means. Cirq circuits will not be defined in Cirq using the `DEFCIRCUIT` keyword. Please explain.

Most of the operations in Cirq will need `_quil_`. So

[2019-12-06 01:18] kevinsung commented on #2468
The same test failed on the Travis Windows build for an unrelated PR:
https://travis-ci.com/quantumlib/Cirq/jobs/263688729

[2019-12-06 01:19] kevinsung opened #2628 "Windows build flaky"
https://travis-ci.com/quantumlib/Cirq/jobs/263688729

Interestingly the failing test is the same as the one at #2468 .

[2019-12-06 01:55] #2282 closed

[2019-12-06 12:21] jitendrs commented on #2620
Thanks @vtomole

[2019-12-06 14:36] KevinVillela commented on #2628
Is this the same as https://github.com/quantumlib/Cirq/issues/2617? The Travis link you reference above looks like it passed, so I couldn't tell.

[2019-12-06 15:25] vtomole commented on #1149
I think this issue is good to close. Re-open if you find a gate that doesn't have a matrix definition.

[2019-12-06 15:26] #1149 closed

[2019-12-06 17:18] maffoo commented on #2617
Dupe of #2468.

[2019-12-06 17:18] #2617 closed

[2019-12-06 17:22] maffoo commented on #2628
This looks like a dupe of #2468 to me, so closing. I put up a PR to mark the offending test as xfail so this doesn't block other PRs: #2630.

[2019-12-06 17:22] #2628 closed

[2019-12-06 17:33] kevinsung commented on #2468
I've discovered that the numpy version (which was installed using the Debian package manager) doesn't pass the numpy test suite `numpy.test('full')`, with some tests related to linear algebra failing. That seems likely to be the culprit here.

[2019-12-06 17:36] kevinsung commented on #2468
The output from the failing Windows build is
[code]

[2019-12-07 07:56] alexandrupaler commented on #2386
@vtomole @hanusaj will this interface be usable to execute computations on Rigetti machines from Cirq?

[2019-12-07 19:01] peterse commented on #2623
Gonna leave a few comments/notes that came up from a cirq meeting months ago:
 - minimizing the number of terms required for a given pauli-sum expectation is [NP hard](https://arxiv.org/pdf/1907.07859.pdf)
- Previous work:
https://arxiv.org/abs/1907.13623)
 https://arxiv.org/abs/1908.05628 (includes table of similar work)
 - This seems like something that should be done with respect to gate sets (

[2019-12-08 08:28] jaeyoo commented on #2623
Thank you for the comments @mpharrigan & @peterse. Do you think we have brute force algorithm first, and then optimize it later as Evan suggested?

[2019-12-08 20:36] vtomole commented on #2386
@alexandrupaler Yes. The QUIL code that Cirq generates makes it possible to run programs writen in Cirq to run on Rigetti's QVM like so

[code]

Same with the [optimizing compiler](https://github.com/rigetti/quilc) and on their hardware using https://github.com/rigetti/rpcq/. We are just generating QUIL and adding instructions on how users can leverage Rigetti's infrastructure. Similar to  https:/

[2019-12-09 00:37] jaeyoo commented on #2623
Also, I am rethinking about `cirq.PauliSum.expectation_from_samples()` because it requires PauliSum, and measurements can't be obtained without knowing `PauliSum`. I guess `cirq.PauliSum.expectation_from_wavefunction_and_samples()` might be the right name, and give it the right to perform pre-measurement circuit for change of basis. What do you think?

[2019-12-09 16:43] vtomole commented on #502
Fixed.

[2019-12-09 16:43] #502 closed

[2019-12-11 20:04] mpharrigan opened #2635 "Need a better compilation for swap_to_sqrt_iswap"
Right now it uses 4 sqrtiswaps to support arbitrary angle. For a plain ol' `SWAP` (common for routing qubits around) you should be able to get away with 3

[code]

should do it.

cc @dstrain115 @john6060 @Strilanc

[2019-12-11 23:02] Strilanc opened #2637 "Make cirq.GridQubit + cirq.GridQubit work"
```cirq.GridQubit(a, b) + (c, d)``` works

```cirq.GridQubit(a, b) + cirq.GridQubit(c, d)``` does not work

The latter should act like the former.

[2019-12-12 00:26] vtomole opened #2638 "Add a simulator in the style of the paper `Classical algorithms for quantum mean values`"
Calculating mean values is very NISQY. VQE, QAOA e.t.c: https://arxiv.org/abs/1909.11485

[2019-12-12 00:27] crystalzhaizhai commented on #2638
Could you please assign it to me?

[2019-12-12 00:32] vtomole commented on #2123
Done.

[2019-12-12 00:32] #2123 closed

[2019-12-12 04:48] tonybruguier-google opened #2639 "Direct fidelity estimation should not use O(4^n) estimations when the circuit is Clifford"
During the PR review:
https://github.com/quantumlib/Cirq/pull/2523#discussion_r356816645

A TODO was added to sample the states efficiently when the circuit is Clifford. Address the TODO.

[2019-12-12 17:54] maffoo commented on #2637
Not sure how I feel about this. It seems odd to use GridQubit as a "delta" on another grid qubit.

[2019-12-12 18:39] mpharrigan commented on #2553
Bump

[2019-12-12 23:52] Strilanc commented on #2637
The use case I ran into was defining a layout in grid qubits, and then passing in the center. It made sense for the function call to expose the center as a grid qubit, and for the internals to be defined on grid qubits, and then the offset operation is natural.

[2019-12-12 23:53] Strilanc opened #2641 "Implement `__add__` for cirq.Moment"
I'd like to be able to write `circuit[index] += cirq.X(qubit)` to append an operation into a moment inside a circuit. This requires defining an `__add__` operation for moment.

Note that moments are immutable, so do not implement `__iadd__`; just `__add__`.

[2019-12-13 15:02] kevinsung commented on #2638
These are classical algorithms; why do they belong in Cirq?

[2019-12-13 15:25] vtomole commented on #2638
These are classical algorithms in the sense that CHP (https://www.scottaaronson.com/chp/) is a classical algorithm that simulates certain types of quantum circuits efficiently on a classical computer. It's in the same vein as the [clifford](https://github.com/quantumlib/Cirq/tree/master/cirq/sim/clifford) simulator. These algorithms calculate: Given a short depth circuit `U` and an observable  `O`

[2019-12-13 16:31] vtomole opened #2642 "Discussion: Add `barrier`?"
The `barrier` directive will tell optimizers which instructions not to touch. Something like

[code]
What are your opinions on this? @mpharrigan @cduck @viathor @maffoo @Strilanc @dstrain115 @kevinsung

[2019-12-13 16:33] vtomole commented on #2642
I don't know if this already exists.

[2019-12-13 19:05] vtomole commented on #2520
This has been deprecated. I think @Strilanc removes deprecated functions during a release so I'll close this.

[2019-12-13 19:05] #2520 closed

[2019-12-13 21:06] dstrain115 commented on #2642
My alternative idea is to be able to tag operations with a Tag.  One possible tag would be a DoNotTouch tag for optimizers to leave it alone, but the concept would be general enough that you could tag operations like ColorBlue to show up in a different color on a diagram or something like that.

I have a design doc for this coming soon.

What do you think?

[2019-12-13 21:53] mpharrigan opened #2643 "Add documentation for cirq.contrib.acquaintance"
this needs even a basic amount of documentation. What is it for? Is there a paper reference?

[2019-12-13 22:19] mpharrigan opened #2644 "cirq.contrib.routing does some pretty weird stuff"
I was playing around compiling the circuits used in cirq.contrib.quantum_volume and with 100 random restarts and seed `np.random.RandomState(52)` I consistently get this routing (starting from a 6 qubit circuit):

![Screenshot from 2019-12-13 14-18-27](https://user-images.githubusercontent.com/4967059/70835946-81aa6200-1db3-11ea-9877-72fe1b9dbefd.png)

The eagle eyed viewer may notice some spuriou

[2019-12-13 22:52] mpharrigan commented on #2644
.... And the extra qubits (here: 5,1 and 5,2) don't show up in `initial_mapping`

[2019-12-13 23:17] mpharrigan commented on #2644
Ok, so the first swap on (5,1), (5,2) is very useless but I've done some checking with `cirq.wavefunction_partial_trace_as_mixture` and the input and output circuits produce the same wavefunction after you account for the final permutation and drop (5,1) and (6,1)

(5,1) seems to be used for transit purposes only, but this does seem to reduce the depth by 1 moment

[2019-12-14 00:05] #2644 closed

[2019-12-15 16:31] KevinVillela opened #2646 "Cirq tests appear to be failing"
I have two PRs that are completely unrelated: https://github.com/quantumlib/Cirq/pull/2645 and https://github.com/quantumlib/Cirq/pull/2629. They both cause the same (unrelated to the PRs) tests to fail: https://travis-ci.com/quantumlib/Cirq/jobs/267385668. Running the following on my machine passes in either of these PRs passes:
$ pip install --upgrade pip setuptools wheel
$ python -m venv venv
$

[2019-12-15 17:29] maffoo commented on #2646
Looks like all the failures are related to sympy.  A new version 1.5 was just released: https://github.com/sympy/sympy/releases/tag/sympy-1.5, so we might need to pin the sympy version in requirements.txt until we can fix compatibility issues.

[2019-12-15 18:50] aliiitarek commented on #2267
Can you give an example to reproduce this issue @trevormccrt ?

[2019-12-16 11:57] sebgrijalva commented on #1780
Hello!

I see this example is still missing from the library. I have some code ready, may I do a pull request with it?

[2019-12-16 12:37] sebgrijalva commented on #2252
What's the status on this one? I have some time to work on it if some help is needed.

[2019-12-16 15:20] vtomole commented on #1780
@sebgrijalva If you already have one, please go ahead. We've been waiting for a response from https://github.com/quantumlib/Cirq/pull/1908.

[2019-12-16 15:23] vtomole commented on #2252
Ping @bradyb .

[2019-12-16 15:27] vtomole commented on #2642
That is better. Tagging https://github.com/quantumlib/Cirq/issues/1940.

[2019-12-16 15:27] #2642 closed

[2019-12-16 18:45] KevinVillela opened #2650 "Cirq does not work with latest version of Sympy (1.5)"
See https://github.com/quantumlib/Cirq/issues/2646 for details.

[2019-12-16 22:45] Strilanc commented on #2650
Fixing in https://github.com/quantumlib/Cirq/pull/2655

[2019-12-16 22:47] Strilanc commented on #2646
It's because Rational is now considered to be a number, causing it to loss precision when being serialized.

[2019-12-16 23:12] Strilanc opened #2656 "OSX build stopped working (python 3.6 not present?), needs to be re-enabled"
Example: https://travis-ci.com/quantumlib/Cirq/jobs/267851055

I disabled the osx build as part of https://github.com/quantumlib/Cirq/pull/2655, to get builds running again.

Looks like python3.6 is not installed despite the travis.yml file asking for python3.6.

![image](https://user-images.githubusercontent.com/79941/70950792-7145f180-2016-11ea-974f-9651a0006e8f.png)

[2019-12-17 00:26] #2650 closed

[2019-12-17 00:26] #2646 closed

[2019-12-17 00:41] Lucaman99 commented on #1780
Yep, I still have to finish fixing my code. I'm really sorry for the delay, I'll let you know when it's done (ASAP).

[2019-12-17 01:33] vtomole commented on #1780
@Lucaman99 This is the new one https://github.com/quantumlib/Cirq/pull/2649. Please focus on the random walk notebook instead.

[2019-12-17 03:36] Lucaman99 commented on #1780
Got it, almost done with QRW

[2019-12-17 08:33] #1125 closed

[2019-12-17 12:44] jitendrs commented on #2191
@vtomole please close this issue.

[2019-12-17 13:57] vtomole commented on #2191
@jitendrs  Where was this fixed? https://github.com/quantumlib/Cirq/pull/2269 was not merged?

[2019-12-17 21:26] bradyb commented on #2252
ah, I got a little busy, I'm going to unassign.

[2019-12-17 21:56] Ashalynd commented on #2421
Ping: #2487 still stis unreviewed.

[2019-12-17 23:12] dstrain115 commented on #2427
Devices can now be found in https://github.com/quantumlib/Cirq/blob/master/cirq/google/devices/known_devices.py

Sycamore and Sqrt_iswap gate sets can be found here:
https://github.com/quantumlib/Cirq/blob/master/cirq/google/gate_sets.py#L34

Optimizers can be found here:
https://github.com/quantumlib/Cirq/blob/master/cirq/google/optimizers/optimize_for_sycamore.py#L76

These should all be accessi

[2019-12-17 23:12] #2427 closed

[2019-12-18 13:24] vtomole commented on #2252
@sebgrijalva I assigned it to you. Personally, I found https://www.nature.com/articles/s41467-019-13534-2 more useful than the paper i linked above. Have fun!!

[2019-12-19 18:07] #2602 closed

[2019-12-20 16:19] DenisKatic opened #2662 "CNOT gate issue with IonDevice and **"
Example:

        device, qubits = get_aqt_device(2)
        circuit = cirq.Circuit(device=device)
        circuit.append([
            cirq.Ry(rads=0.1).on(qubits[0]),
            cirq.CNOT(qubits[0], qubits[1]) **0.5
        ])

Error:
ValueError: ('Got unknown gate:', cirq.PhasedXPowGate(phase_exponent=1.0, exponent=0.6183667022230277).on(cirq.LineQubit(1)))

[2019-12-22 17:56] jaeyoo opened #2664 "cirq.PauliSumCollector() shows error if it is called in a thread."
By default policy of asyncio, it creates its event loop only if it is called by the main thread. When this `cirq.PauliSumCollector()` is called by another thread, it doesnt create its event loop and raises `RuntimeError`.

So I suggest adding new event loop explicitly inside `Collector` ([here](https://github.com/quantumlib/Cirq/blob/55c159071fbea7baf81c40dbfa9c619f4ee2a843/cirq/work/collector.py#

[2019-12-25 14:21] fedimser commented on #2641
Hi. I would like to work on it.

[2019-12-25 23:34] fedimser commented on #1884
Hi Adam,
If I understand problem correctly, it can be solved with help of KAK decomposition, which is already implemented in Cirq.

Here is my implementation:
https://github.com/fedimser/quant_comp/blob/master/Schmidt%20decomposition%20of%204x4%20matrix.ipynb

If it's correct, I would like to implement it in Cirq.

[2019-12-28 02:18] vtomole commented on #2662
Ping @pschindler

[2019-12-28 10:02] tanseersaji opened #2666 "Quantum Engine API timeout"
[code]
This line always gives TimeOut exception, is there something I'm missing?

[2020-01-02 03:23] jitendrs commented on #2191
This was fixed in #2321. Please check and close this issue.

[2020-01-02 06:06] tanseersaji commented on #2666
Closing this Issue, because I found out that Google's Quantum Engine is invite-only.

[2020-01-02 06:06] #2666 closed

[2020-01-04 01:28] dkafri opened #2669 "API reference for cirq.Sweepable gives description of Union"
[Reference](https://cirq.readthedocs.io/en/stable/generated/cirq.Sweepable.html#cirq.Sweepable)
I.e., it describes how to use Union from the typing library.
Is this the intended documentation?

[2020-01-06 03:16] SatyaKuppam commented on #2216
I am almost done will submit a PR in a few days.

[2020-01-07 08:03] #1687 closed

[2020-01-07 18:33] mpharrigan opened #2671 "Permutation Gate"
That permutes qubits. There's `cirq.interop.QuirkQubitPermutationGate` which does what I want but a) it's not part of the main set of cirq ops and b) it requires an "identifier" and "name" which are superfluous

[2020-01-08 02:29] bryano commented on #2671
There's also `cirq.contrib.acquaintance.LinearPermutationGate`.

[2020-01-08 15:51] DenisKatic commented on #2662
Thanks

[2020-01-08 16:36] vtomole commented on #2669
It's not.  Might be a bug in `def document`.

[2020-01-08 21:29] vtomole commented on #2662
@DenisKatic

[code]

Works on my machine.

[2020-01-09 20:23] DenisKatic commented on #2662
@vtomole
Thanks for your reply
I tried to understand why you didn't get the issue:

If I use the cirq.Simulator it works, but if I try to use AQTSimulator, AQTSampler or AQTSamplerLocalSimulator instead, it returns the "unknown gate" issue.

I was talking with AQT and they confirmed the issue and replied:
We confirm your error. We checked with an XX gate rather than CNOT and it does the right thin

[2020-01-09 22:10] #2590 closed

[2020-01-10 00:28] mpharrigan opened #2673 "Make it easier to request retry if quantum engine job id is not unique"
If you accidentally generate a not-random-enough job id, the engine will fail with a generic EngineError.

Possibly make it easier to manually handle this error or intelligently retry with a modified ID

[2020-01-13 22:22] MichalKononenko opened #2676 "Have Circuit inherit from collections.MutableSequence"
Considering it already implements all the methods in [collections.abc.MutableSequence](https://docs.python.org/3/library/collections.abc.html#collections.abc.MutableSequence) anyway, why not have Circuit inherit from it?

[2020-01-14 01:26] MichaelBroughton opened #2677 "PauliSumCollector is not compatible with engine"
In PauliSum Collector when doing the basis transformations with

https://github.com/quantumlib/Cirq/blob/3469e5c9bf99b4f54fe147379ff58e1642754dc0/cirq/work/pauli_sum_collector.py#L112

The gates that get returned are `cirq.SingleQubitClifford(...)` which won't play nice with the serializers. A quick fix is to just add a `cirq.decompose` around the result of `pauli_string.to_z_basis_ops()`, but I w

[2020-01-14 16:03] obriente opened #2678 "Allow ControlledGates to accept measurement keys instead of qubits when called"
Not sure whether there is a better way of doing this, but it seems like an easy/natural way to allow classical control would be to allow a ControlledGate to accept measurement labels in place of qubits for the first num_control parameters. Would this work?

(If something else has already been done, feel free to bin this suggestion.)

[2020-01-14 16:10] obriente opened #2679 "Slicing histogram output"
When histogram is called without a fold_func specified, the results can be interpreted as a sparse array, and it feels like it might be useful to be able to slice it (as one way of calculating marginals, for instance). However, this isn't implemented in the native collections.Counter class (as the key values are not necessarily integers).

Would it make sense to add this functionality to the outpu

[2020-01-14 17:12] #1873 closed

[2020-01-15 18:21] dstrain115 commented on #899
This has been fixed a while ago by raising a ValueError with ''Unsupported gate type'

https://github.com/quantumlib/Cirq/blob/master/cirq/google/devices/xmon_device.py#L75

[2020-01-15 18:21] #899 closed

[2020-01-15 18:41] dstrain115 commented on #1562
I cannot reproduce this with matplotlib down to 2.2.2 (March 2018).  Before that, matplotlib won't install for me due to too many conflicts.

I think this may have been a python2 bug.  Closing this.  We can always re-open if it reoccurs.

[2020-01-15 18:41] #1562 closed

[2020-01-15 19:20] #2637 closed

[2020-01-15 21:05] viathor commented on #1884
There are a few ways to compute Schmidt decomposition. Your implementation of the computational aspect of it looks good to me, but let's hold off on this until we have a good representation in which the output can be returned. The representation is WIP. I'll ping this issue when it's ready.

[2020-01-16 00:08] #2635 closed

[2020-01-16 22:59] dkafri opened #2683 "cannot print long circuits in pycharm console environment"
I'm using pycharm and running the following script in console (I think this takes you to an iPython environment)

[code]

The resulting output seems to continue the circuit diagram into the next line.
![screenshot-2020-01-16-14-44-02](https://user-images.githubusercontent.com/30353657/72569209-b310c480-386e-11ea-9712-d1c3279420de.png)

I suspect that this is an iPython issue, as I do not see this

[2020-01-16 23:00] dkafri commented on #2683
It turns out you need to turn off the "Soft-Wrap" option in the console settings (top right button below).
![screenshot-2020-01-16-14-58-49](https://user-images.githubusercontent.com/30353657/72570124-e2c0cc00-3870-11ea-8285-53a3b3ba91ef.png)

[2020-01-16 23:00] #2683 closed

[2020-01-17 00:20] wcourtney opened #2685 "Support specifying a description and labels when creating a job on the Engine"

[2020-01-17 06:56] fedimser commented on #2625
I can implement this.
I see this as a function which takes unitary matrix and returns a Circuit.

@viathor , can I work on this (not sure whether Cirq has this already)? What would be best place in repository to put such algorithm (maybe cirq/protocols)?

[2020-01-17 14:37] vtomole commented on #2641
Closed by https://github.com/quantumlib/Cirq/pull/2665

[2020-01-17 14:37] #2641 closed

[2020-01-17 14:42] vtomole commented on #2625
Wouldn't this fall in `cirq/optimizers`?

[2020-01-17 23:46] Strilanc opened #2690 "Update version release docs"
The cirq package documentation is out of date w.r.t. the tooling. In particular, the dev docs talk about using package creation scripts in a way that doesn't make sense since cirq-untsable was introduced.

development.md is not under dev section of docs

mention that first verify will likely fail

type "take not of this value"

Initial draft below

0. Prepare

    a) Make sure you're on an up to d

[2020-01-18 00:56] dstrain115 commented on #2690
Random addendums before I forget:
6b should be "./dev_tools/packaging/verify-published-package.sh "${VER}" --prod"
6c should include python version
7 should email to cirq-announce@

[2020-01-18 13:46] dstrain115 commented on #2690
As Adam points out, the version name must be of the form v0.7.0 or else various regexes will fail.

[2020-01-19 20:56] fedimser commented on #2625
Hi. I have several design questions.

1. Result of algorithm.
I imagine that it will be a sequence of gates. In paper result consists of general single-qubit gates and CNOT gates. In Cirq that can be represented as [cirq.MatrixGate](https://cirq.readthedocs.io/en/stable/generated/cirq.MatrixGate.html) and cirq.CNOT.
But maybe it's better to go further and decompose them into gates with 0 or 1 para

[2020-01-21 18:06] cduck opened #2691 "Remove deprecated functions with v0.7 deadline"
From a quick search, I found 3 deprecated functions (all the old commutes_with functions) that are planned to be removed by (before?) version 0.7.0.  Now that v0.7.0 is out, these can be removed.

- https://github.com/quantumlib/Cirq/blob/ed6188b05ac8121a6ed33af7f98d32b8b80be093/cirq/ops/pauli_gates.py#L58
- https://github.com/quantumlib/Cirq/blob/ed6188b05ac8121a6ed33af7f98d32b8b80be093/cirq/ops/

[2020-01-21 18:57] vtomole opened #2692 "Windows check failing"
`ERROR: Could not find a version that satisfies the requirement mkl (from cvxopt->qiskit-aqua==0.6.1->qiskit~=0.13.0->-r dev_tools/conf/pip-list-dev-tools.txt (line 18)) (from versions: none)`

[2020-01-22 18:03] vtomole opened #2695 "Revert 'Remove pip upgrade on Windows check in Travis' once pip fixes it's dependency issue"
Revert https://github.com/quantumlib/Cirq/pull/2693 once https://github.com/pypa/pip/issues/7626 is closed.

[2020-01-22 18:28] alexandrupaler commented on #2625
1. What would be the simplest for the moment? MatrixGate?
2. Intermediate Toffoli decomposition would be great to have. Actually that was the main reason I proposed this feature.
3. I am not sure what to answer.
4. Do not think is needed for the first version.
5. It would be useful in the sense of "reducing T count" when decomposing further to Toffoli

[2020-01-22 19:12] #2692 closed

[2020-01-22 19:55] #2656 closed

[2020-01-22 20:16] mpharrigan opened #2696 "IndexERror: tuple index out of range in gate_product_tabulation"
This happens periodically, but I've nailed down a deterministic way to trigger it:

[code]

[code]

as far as I can tell, `sq_cyles_single[old_ind]` is an empty tuple instead of a 2-tuple here

cc @dkafri

[2020-01-22 23:15] vtomole commented on #2669
@dkafri This has been fixed.

[2020-01-22 23:15] #2669 closed

[2020-01-22 23:29] Strilanc opened #2698 "Expand SWEEP_LIKE to work for {'t': [0, 1, 3]}"
Currently if you make a call like `sampler.sample(circuit, params={'t': range(5)})` it doesn't work, because it expects e.g. a list of dictionaries instead of a dictionary containing lists. For convenience we should just support both cases. Check if the input is a dictionary with list values (and possibly singletons too), and if so take the cartesian product of the various entries and turn it into

[2020-01-23 17:51] #2696 closed

[2020-01-23 19:41] crystalzhaizhai commented on #2691
Could you please assign it to me?

[2020-01-23 19:42] knsmith opened #2702 "Cannot use pow() for user defined gates"
Hi,

When you try to create new gates using cirq.SingleQubitGate (in my particular case, dimension=3), pow() is not supported to create inverse operations.

        class Qutrit_Chrest(cirq.SingleQubitGate):
                def _qid_shape_(self):
                        return(3,)
                def _unitary_(self):
                        return (1/np.sqrt(3))*np.array([[1, 1, 1],

[2020-01-23 20:03] mpharrigan opened #2704 "Docs generation is very slow"
It takes ~minutes to build the docs from scratch. It really seems to get bogged down reading and writing the autodoc `generated/` files. However, other projects seem to get away with using autodoc and at least as many functions that need documenting without these long build times. I'm worried there's a lot of custom processing hacked into `conf.py` that could be slowing things down

[2020-01-23 21:19] verult opened #2705 "Add `sample_measurement_ops()` to `SimulationTrialResult`"
Currently only `StepResult` implements `sample_measurement_ops()`, which is only available to simulators that computes intermediate steps.

https://github.com/quantumlib/Cirq/blob/bc858fc9523b34a6cf02cd5c58d58382ea31ec27/cirq/sim/simulator.py#L439

It (and also the associated abstract method `sample()`) should also be added to `SimulationTrialResult` to make it easy for simulators that only provid

[2020-01-24 14:56] vtomole commented on #2695
I'm going to close this because our pip is being run in a sandbox. Updating pip should not be necessary for running our tests.

[2020-01-24 14:56] #2695 closed

[2020-01-24 18:09] c-poole commented on #2702
I believe the only types of gates `pow()` works with out of the box are `EigenGates`. If you modify your gate class to inherit from `EigenGate`, `pow()` should start to work. The reason for this behavior is that raising a matrix to a general (non-integer) power isn't unique and although integer powers are unique, they are not special cased. `EigenGate` lets you specify the behavior of each Eigensp

[2020-01-24 18:14] knsmith commented on #2702
Thanks for the response! I'll try this out.

[2020-01-24 18:14] #2702 closed

[2020-01-25 00:05] crystalzhaizhai commented on #2698
Could you please assign it to me?

[2020-01-25 16:06] vtomole commented on #2691
Closed by https://github.com/quantumlib/Cirq/pull/2707

[2020-01-25 16:06] #2691 closed

[2020-01-26 21:21] tonybruguier-google commented on #2639
Sent PR #2709

[2020-01-27 05:55] jaeyoo opened #2710 "Remove support for np.exp"
I am really confused of this exponentiation that I expected as exp(-1j X).
[code]
In fact, the definition of cirq.rx(r) is cirq.XPowGate(exponent=r/np.pi, global_shift=-0.5).
Because cirq.XPowGate(exponent=t) is
        [[g·c, -i·g·s],
         [-i·g·s, g·c]]   = g ( I c - i X s)
    where:
        c = cos(π·t/2) = cos(r/2)
        s = sin(π·t/2) = sin(r/2)
        g = exp(i·π·t/2) = exp(i r/2)
si

[2020-01-27 15:13] vtomole opened #2711 "Add tooling that tests Jupyter notebooks."
We tried doing it here: https://github.com/quantumlib/Cirq/pull/1934, but it's clear that this should be a separate issue on it's own.

There are two options i can think of right now:
- Test the same way we do our `.md` (snippet tests)
- Bake tests into the notebooks: https://github.com/akaihola/ipython_pytest for example

[2020-01-27 15:21] vtomole commented on #2582
Ping @Strilanc

[2020-01-27 18:17] mpharrigan commented on #2711
I've had some success by putting this in a file called `notebooks_test.py`

[code]

[2020-01-27 19:45] #2036 closed

[2020-01-28 16:59] vtomole commented on #2310
Closed by https://github.com/quantumlib/Cirq/pull/2713

[2020-01-28 16:59] #2310 closed

[2020-01-28 17:14] vtomole commented on #2711
Ping @bt3gl

[2020-01-28 18:54] tonybruguier-google commented on #1282
Hello,

I am seeing the same problem. What was your local fix?

[2020-01-28 19:37] vtomole commented on #1282
@tonybruguier-google  It's a configuration issue. What's your environment like?

[2020-01-29 13:57] #1339 closed

[2020-01-29 19:57] #2421 closed

[2020-01-29 20:01] 95-martin-orion opened #2719 "Add "virtual" tag to noise channels"
Depends on #2670. Most NoiseModels today sift through the circuit and add noise channels after every moment (or operation). This becomes problematic when composing noise models (see #1835) as the second model may attempt to append noise after the noise channels from the first model.

To resolve this, these noise channels should be tagged as "virtual" (name subject to change) and all NoiseModels sh

[2020-01-30 08:28] jaeyoo commented on #2710
In details, the following equations seem to miss coefficient factor 2.
[code]
They all should be `np.pi/2`, not `np.pi`

[2020-01-30 14:49] vtomole commented on #2643
Ping @bryano

[2020-01-30 19:18] kevinsung commented on #2710
Indeed, there is a factor of 2 missing in the line
https://github.com/quantumlib/Cirq/blob/0882abb751005191f12d9bae410c9851ea705041/cirq/ops/pauli_string.py#L613
I'd like to note however that though this functionality seems convenient, it changes the meaning of `np.exp` from its normal meaning, which is _element-wise_ exponentiation. Thus there is a case to be made to not have this functionality a

[2020-01-30 23:59] viathor opened #2723 "T1 experiment test broken"
Error message:

[code]

Pandas 1.0.0 was released about 12 hours ago, so it's probably that.

[2020-01-31 20:47] zchen088 opened #2726 "Exponents in gates should ensure that they are real"
In many cases the exponents are periodic so we need to use `mod` to translate the gate into a hardware implementation, but this only works if the exponent is `float` rather than `complex`.

[2020-01-31 20:47] drewrisinger opened #2727 "Packaging Cirq 0.6.1 for Nix: op_serializer_test failure"
Hi all,
I'm working on packaging Cirq for Nix (https://github.com/NixOS/nixpkgs), and running into a few test issues (https://github.com/NixOS/nixpkgs/pull/78779, https://github.com/NixOS/nixpkgs/pull/78779#discussion_r373093653). Everything else seems to work.

I started working on it before the 0.7 release, so that's why it's behind. I tried a basic bump to 0.7 but it raised even more issues (ca

[2020-01-31 21:33] drewrisinger opened #2728 "Packaging Cirq 0.7 for Nix: serialization failures"
Hi all,
#2727 is higher priority.

For https://github.com/NixOS/nixpkgs/pull/78779 I tried building Cirq tag 0.7.0, and got several test failures. Are these in the main tree or local to me? And any tips on resolving them? (note: this is after disabling the failures from #2727, which also appear here).

Failure 2 looks like same issue as #2727.

[code]

Thanks in advance!

[2020-02-01 02:11] balopat opened #2729 "question: variable dimension of circuit unitary with empty qubits"
While working on the 3 qubit decomposition, I run into variable size circuits - sometimes there are no operations on one or all of the three original qubits.

As cirq.Circuit does not have a notion of qubits AFAICT - it is implied from the operations - this results in a changing size in the unitary matrix. This variability is inconvenient when I'm trying to assert equivalences in unitaries, e.g. b

[2020-02-01 02:22] balopat commented on #2729
Oh, I found it: `c.unitary(qubits_that_should_be_present=cirq.LineQubit.range(3))` is an answer...

[2020-02-01 02:27] #2729 closed

[2020-02-03 10:39] karlunho opened #2730 "cirq.Simulator.compute_amplitudes not well documented"
We should add some documentation on how to use cirq.Simulator.compute_amplitudes . There is no documentation in https://cirq.readthedocs.io/en/stable/generated/cirq.Simulator.html , or in the simulator tutorial https://cirq.readthedocs.io/en/stable/simulation.html

[2020-02-03 21:43] kevinsung commented on #2730
The method _is_ documented at https://cirq.readthedocs.io/en/stable/generated/cirq.Simulator.html: it's listed under "Methods", and clicking on it links to the full method documentation. Though it does look like that documentation could be expanded a bit.

As for adding it to the tutorial, I think it would make a much more compelling example once Cirq has a tensor network simulator that does not e

[2020-02-04 16:10] drewrisinger commented on #2727
@maffoo @dabacon

[2020-02-04 17:41] vtomole commented on #2727
@drewrisinger Can you cast those types? See if that test still passes on Cirq's travis if you change the types.

[2020-02-04 22:37] 95-martin-orion commented on #2719
Initial PR is #2734.

[2020-02-05 01:36] viathor opened #2737 "Too many implementations of state tomography"
We have three implementations of state tomography:
- for 1-qubit states,
- for 2-qubit states,
- for n-qubit states for arbitrary n.

The last one isn't well tested (yet). Once it is, we should compare performance and if there isn't a clear advantage to the fixed-size implementations we should remove them.

[2020-02-05 01:37] viathor opened #2738 "n-qubit state tomography broken"
n-qubit state tomography returns incorrect density matrices on some inputs, notably on asymmetric circuits with qubits re-ordered, e.g.: when you pass `(LineQubit(0), LineQubit(1))` and simple circuit with identity and the X gate you get:

[code]

which is close enough, but when you pass the qubits in reverse order `(LineQubit(1), LineQubit(0))` you get

[code]

Incidentally, the other implementat

[2020-02-05 16:15] ijdavis opened #2740 "Give moment a name that can be used for debugging"
Debugging a large quantum circuit is difficult because as the code changes it is very difficult to keep track of what action is performed at each simulation step. If the action of adding a sequence of gate operations to a circuit could have an optional string identifier, user defined function to be called with an established protocol before and after the execution of the gates when simulating a st

[2020-02-05 17:50] Ashalynd commented on #2567
Well, I have run your code with ignore_measurement_results=True and it looks even stranger:
[code]
[code]

Looks like terminal measurements have some special treatment now, which feels wrong.

[2020-02-05 18:40] Ashalynd commented on #2567
Found where it happens in density_matrix_simulator.py:

[code]

`self.run_sweep_sample` directly calls `step_result.sample_measurement_ops` and `self.run_sweep_repeat` does more nuanced things (including dephasing).

Not yet sure what is the best way to fix this.

[2020-02-05 19:13] kevinsung commented on #2710
At Cirq sync we decided to drop this functionality (support for `np.exp`).

[2020-02-05 19:18] kevinsung opened #2741 "Define cirq.exp"
For exponentiating gates. `np.exp` is not appropriate because it means elementwise exponentiation.

[2020-02-05 19:26] mpharrigan commented on #2728
The first issue seems to be a boring floating-point-comparison error. Replacing with `np.isclose()` in the test would work

If I had to guess on the second, it looks like something in the google protobuf libraries. What versions are you using and what is pinned in cirq's requirements?

[2020-02-05 23:33] kevinsung opened #2742 "Implement reversible JSON serialization of Numpy arrays"
Currently, it is not the case that
[code]
always returns something equivalent to `x`, or even has the same type as `x`. It is not the case when `x` is a Numpy array, since the line above would return a list. But reversibility certainly seems to me like something that should be required of a serialization protocol. @mpharrigan @Strilanc

[2020-02-05 23:43] mpharrigan commented on #2742
eh I always envisioned JSON as a best-faith attempt to provide an accurate and interoperable representation of cirq objects.

Relatedly:
 - no distinction between tuples and lists
 - dictionaries need string keys or you need to manually send through `list(x.items())` and `dict(x)`
 - numbers don't keep track of whether they were floats or ints

If you want 1:1 serialization you are always free to

[2020-02-05 23:56] alexandrupaler opened #2743 "potential circuit insert issue"
When inserting gates with Circuit.insert(), the gates are (often) added to the previous moment. I assume the fault is in `_pick_or_create_inserted_op_moment_index`

To replicate the error, the following code shows the problem. I start with a circuit of three CNOTs (one per moment), remove one of the CNOTS (expect three moments with one being empty), insert the same gate back to the Moment `index_t

[2020-02-06 01:15] Strilanc commented on #2567
I think the correct fix for this issue is to modify the "simulate then sample" optimization to discard all operations that come after measurements. The optimization could also be extended to apply to any circuit where all measurements are outside of each other's "light cone" if we wanted to be ambitious.

[2020-02-06 09:16] shaksham95 opened #2745 "Importing 'XmonSimulator'"
Hello All,

I am trying to experiment with a code that requires 'XmonSimulator' but while trying to import this, I am getting the following error:

![image](https://user-images.githubusercontent.com/7498849/73922623-7aa15b00-48ef-11ea-9e19-76ea7b80f2bf.png)

Can you please suggest what should I do?

[2020-02-06 14:05] vtomole commented on #2745
Hey @shaksham95 , XmonSimulator was deleted from Cirq. Use the `from cirq import Simulator` that you have.

[2020-02-06 14:50] vtomole commented on #2745
@shaksham95 I'll close this. Feel free to reopen if you have any more question related to this issue.

[2020-02-06 14:50] #2745 closed

[2020-02-06 22:18] alexandrupaler opened #2746 "aqt module import"
without explicitly doing `from cirq.aqt import AQTSampler` although` import cirq` was done, the code line below raises `AttributeError: module 'cirq' has no attribute 'aqt'`

[code]

[2020-02-07 08:58] jaeyoo commented on #2710
Thank you for the clarification :)

[2020-02-07 15:26] fedimser commented on #2741
There is corresponding method in SciPy
https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.expm.html

Would it make sense to provide Cirq interface for calling that method?
@Strilanc @viathor

[2020-02-07 15:34] fedimser commented on #2356
Can you please assign this to me?
@vtomole @Strilanc

[2020-02-07 17:56] kevinsung commented on #2710
This issue should remain open until we remove the functionality.

[2020-02-07 18:00] dabacon commented on #2710
Is there an issue to where dropping np.exp is discussed?

[2020-02-07 18:00] kevinsung commented on #2741
Are you suggesting to override the behavior of `scipy.linalg.expm`? How do you do that?

[2020-02-07 18:01] kevinsung commented on #2710
No, we discussed it during Cirq sync. The reason we decided to drop it is that `np.exp` means element-wise exponentiation, which is not what we implemented.

[2020-02-07 18:18] mpharrigan commented on #2746
FYI this is pretty standard python behavior

[code]

[2020-02-07 18:19] alexandrupaler commented on #2746
Thank you. Did not know. Nevertheless, I find it annoying.

[2020-02-07 18:21] mpharrigan commented on #2746
Yes, in Cirq we import everything, so I think #2748 is the correct change!

I think scipy doesn't do it to keep import times low

[2020-02-07 19:20] mpharrigan commented on #2737
Should we keep this open? The linked issue fixes the bug in n-qubit tomography but the larger issue is still present

[2020-02-07 20:04] drewrisinger commented on #2728
Yes, I realized that about the first error. Does it appear in your CI tests?

I'm using protobuf3.8. Nix's default is 3.7, which I also tested with. Error persisted in both configs.
Cirq pinned 3.8.

[2020-02-07 21:45] viathor commented on #2737
Yes, thank you. My comment on PR #2739 incorrectly said that it fixed #2737. It should have said that it fixed #2738.

[2020-02-07 21:45] viathor commented on #2738
Fixed in #2739.

[2020-02-07 21:45] #2738 closed

[2020-02-08 00:13] vtomole commented on #2728
@drewrisinger

Python 3.8? We don't run that on our CI yet.

[2020-02-08 01:25] Strilanc opened #2749 "Add optional time unit to cirq.depolarize and make it work with WaitGate when used as a noise model"
Basically, I want this to work:

[code]

This requires overloading the result of cirq.depolarize to be a normal depolarizing channel when given a probability, and a time based depolarizing channel when given a duration. Then ConstantQubitNoiseModel should be modified to notice when a wait gate appears, and that it has a time dependent operation, and have it work.

[2020-02-10 06:31] bryano commented on #2743
This is the correct, [documented](https://github.com/quantumlib/Cirq/blob/271541757800473b36c23c6fa34ab3b29363149d/cirq/circuits/insert_strategy.py#L54) behavior.

[2020-02-10 14:57] ijdavis opened #2750 "NEW_THEN_INLINE design issue"
The insert strategy NEW_THEN_INLINE should not be an option provided to a circuit, but rather an option attached to a gate.  This is because if you write code that yields gates and then embed those gates in a circuit using cirq.Circuit.from_ops there is no ability (without creating moments) to specify how the moments should be constructed.

Food for thought

Ian
textserver.com@gmail.com

[2020-02-10 17:38] dstrain115 commented on #1940
This has been done in #2407

[2020-02-10 17:38] #1940 closed

[2020-02-10 17:57] mpharrigan commented on #2704
Confirming my suspicions; blanking out the contents of `api.rst` makes everything go nice and quick

[2020-02-10 22:53] mpharrigan opened #2755 "SimulationTrialResult usability"
I'm always baffled by the members of this class. If you do a wavefunction simulation you need `result.final_state` but if you do a density matrix simulation you need `result.final_density_matrix`.

The state vector / wavefunction terminology rears its head when you're trying to use `PauliString.expectation_from_xxx`

[code]

[2020-02-10 23:46] kevinsung opened #2757 "Cross entropy benchmarking functionality does not match documentation"
Documentation:
https://github.com/quantumlib/Cirq/blob/1d35492f85aab580807709b3b012adeeda86cba7/cirq/experiments/cross_entropy_benchmarking.py#L107
Code:
https://github.com/quantumlib/Cirq/blob/1d35492f85aab580807709b3b012adeeda86cba7/cirq/experiments/cross_entropy_benchmarking.py#L335-L337

In the code, `f_meas` seems to be a quite different thing from what's documented: it is obtained by estimat

[2020-02-11 00:31] mpharrigan commented on #2749
But t1 decay isn't depolarizing (?) It's asymmetric

[2020-02-11 00:32] mpharrigan commented on #2728
I think they're talking about protobuf 3.8

[2020-02-11 00:34] mpharrigan commented on #2743
I was also very surprised when I discovered this behavior #2486

[2020-02-11 00:39] alexandrupaler commented on #2743
@bryano  The behaviour is documented for Inline, but earliest starts also at index-1? It is also more than confusing.

[2020-02-11 01:50] bryano commented on #2743
@alexandrupaler I'm not sure what you mean by "index-1". Could you give an example?

[2020-02-11 23:36] #2356 closed

[2020-02-12 17:58] alexandrupaler commented on #2743
@bryano: if I call `insert(index, strategy=Earliest)` the insertion is also performed starting with index-1. For example, if I specify index=4, then insertion starts from index 3 and not 4.

[2020-02-12 18:44] bryano commented on #2743
That shouldn't be the general behavior for `EARLIEST`. For example, if
```circuit.insert(index, op, strategy=InsertStrategy.EARLIEST)```
inserts `op` at index `inserted_index` and there are no operations touching `op.qubits` in later moments (`>= index`), then
```circuit.insert(index + k, op, strategy=InsertStrategy.EARLIEST)```
should insert `op` at the same `inserted_index` for any `k >= 0`.

[2020-02-12 19:09] #2625 closed

[2020-02-12 19:51] Strilanc opened #2762 "Add support for indexing circuits and moments by qubits"
It would be convenient if we could slice circuits and moments by qubit instead o fjust by index. For example:

[code]

In general the goal is for the indexing to behave like existing python slicing, and e.g. numpy slicing (probably we can't make mutable views). Any implementation should go over the relevant cases.

[2020-02-12 20:26] cduck commented on #2762
I'm worried about relying on type to distinguish moment index from qubit index.  Because of numpy, I would be surprised if `object[indices0, indices1] == object[indices1, indices0]` even if `indices1` is a list of qubits.

If this is implemented, I think it's more important to maintain the invariant `obj[x, y] == obj[x, y]` no matter the types of `x` and `y`.

The API I would expect is this:
[code

[2020-02-12 20:39] mpharrigan opened #2763 "Distance measures for quantum states"
- fidelity
- process fidelity
- purity
- diamond norm
- others?

[2020-02-12 23:39] fedimser commented on #2741
Sorry, maybe I didn't understand what is the proposal.
If it's about exponentiating square matrix, then scipy.linalg.expm can do that.

But now I see that you suggested to exponentiate a gate. Gate is a unitary matrix. And exponential of unitary matrix is not necessarily a unitary matrix. So result of exponentiating a gate can't be a gate.
Can you please provide an example of what is expected beha

[2020-02-12 23:40] fedimser commented on #2762
Hi. I would like to implement this. Can someone please assign this to me?
@Strilanc @cduck

[2020-02-13 01:04] kevinsung commented on #2741
One example would be to exponentiate a Hermitian PauliString to get a gate, as the user who opened https://github.com/quantumlib/Cirq/issues/2710 did with Cirq's current support of `np.exp`, which will be removed.

[2020-02-13 06:50] viathor commented on #2763
Well, trace distance, of course.

Regarding other distance measures to consider, it is surprisingly easy for them to proliferate. Given a distance measure on quantum states you can define a distance measure on quantum operations by:
1. Applying the former to the (trace-normalized) process matrices.
2. Computing the average over input states.
3. Computing the maximum over input states.

The latter

[2020-02-13 21:29] kevinsung opened #2769 "mypy does not recognize keyword arguments to json_serializable_dataclass instances"
**To reproduce:**

1.  Create a file `test.py` in `cirq/` with the following contents:
[code]
2. Execute `check/mypy`. This gives the following output:

[2020-02-13 21:41] mpharrigan commented on #2769
looks fairly hopeless: https://mypy.readthedocs.io/en/stable/additional_features.html#caveats-known-issues

[2020-02-13 23:26] 95-martin-orion commented on #2749
This may fall into the scope of the "generate noise models from calibration metrics" changes I'm working on - if I see an opportunity to include it, I'll add this in.

[2020-02-14 01:31] kevinsung commented on #2762
@cduck I agree with you. But I don't understand the part about ranges. What does the integer or pair of integers in the middle of the slice mean?

[2020-02-14 01:51] cduck commented on #2762
For LineQubit it's the optional step size.  For GridQubit it's the optional x and y step sizes.  I don't know how useful this is but it's part of the slice API.

[2020-02-14 01:53] cduck commented on #2762
Which is more intuitive for you?  Momemt[qubit] is type Moment or type Operation?

[2020-02-14 02:21] mpharrigan opened #2771 "repr(PauliString) on one qubit doesn't round-trip"
[code]

and it is no longer a PauliString

[2020-02-14 18:25] kevinsung commented on #2762
Moment[qubit] should be an Operation.

Ah so you meant to write `line_qubit1:line_qubit2:integer` instead of having integer in the middle.

[2020-02-14 18:28] kevinsung commented on #2771
`ps == eval(repr(ps))` is True though, which is perhaps all that matters.

[2020-02-14 18:29] cduck commented on #2762
Yes.  My mistake.

[2020-02-14 18:35] mpharrigan commented on #2771
If you try to include a single-qubit pauli string as part of an object for the `json_serialization` test it doesn't work because it compares `jsonify(ps) == jsonify(eval(repr(ps)))`

[2020-02-14 20:30] cduck commented on #2771
Should `cirq.testing.assert_equivalent_repr` also test `repr(val) == repr(eval(repr(val)))`?

[2020-02-18 18:58] viathor opened #2775 "Circuit as simple container"
Presently, the Circuit class provides fairly sophisticated method for inserting operations which is useful for writing optimizers (e.g. insert earliest). I think this is a misplaced responsibility. Circuit should be a simple(*) container for storing and organizing gate operations but without circuit optimization logic. In particular, all insertions should require the client to say where the insert

[2020-02-18 19:17] 95-martin-orion commented on #2749
@Strilanc, what is the expected behavior for gates with implicit durations? e.g. should it respect the implied duration of 25ns for an `xy` gate on Sycamore?

This looks like it should be possible with the current `DensityMatrixSimulator` behavior, but I think adding a new noise model type (`TimeDependentNoiseModel`?) may be better than trying to fit this behavior into the `ConstantQubitNoiseModel

[2020-02-18 22:20] kevinsung commented on #2567
@Strilanc what you propose would not fix this issue. In my opening post, the incorrect behavior arises in simulating Circuit 1, which does not have any operations after measurements.

One possible way to fix this is: when all measurements are terminal, simulate the noisy circuit _ignoring_ the measurements. Then perform the measurements.

[2020-02-18 23:08] kevinsung commented on #2567
Actually, what you said makes sense; we just need to discard the operations _after_ applying the noise model.

[2020-02-18 23:30] kevinsung opened #2777 "Density matrix simulator sometimes returns measurement results when ignore_measurement_results is True"
Split off from #2567 .
Input:
[code]
Output:
[code]

[2020-02-18 23:38] kevinsung commented on #2777
This bug appears to be due to the `ignore_measurement_results`, and not the `noise`.
Input:
[code]
Output:
[code]

[2020-02-18 23:39] kevinsung commented on #2777
I don't think it makes sense to call `simulator.run` when `ignore_measurement_results` has been set to True. We should just raise an exception in that case.

[2020-02-18 23:46] kevinsung commented on #2567
@Ashalynd the issue you raised has to do with the `ignore_measurement_results` flag, and not the `noise` argument. I think main issue there is that when `ignore_measurement_results` is set to True, then `simulator.run` should not return any measurement results. I opened #2777 for this issue.

[2020-02-19 01:47] cduck opened #2778 "Fix error message from cirq.final_wavefunction"
If I pass in a non-unitary circuit to `cirq.final_wavefunction` I get an error message with an incorrect suggestion to fix my code.  `cirq.sample_wavefunction` doesn't exist (did it ever?).  It should probably suggest `cirq.final_density_matrix` if the circuit contains channel or mixture operations.

[code]
[code]

[2020-02-19 19:12] mpharrigan commented on #2777
If you start with an exception, you can relax it later if people clamor about it. It's hard to go the other way

[2020-02-19 19:14] kevinsung commented on #2777
At Cirq cynq we decided to make it raise and exception.

[2020-02-20 02:07] #2567 closed

[2020-02-20 23:31] fedimser commented on #2620
Hi Victory, can you please assign it to me unless @jitendrs is planning to work on it?
@vtomole

[2020-02-21 00:22] mpharrigan commented on #2775
I know we're not technically at v1.0 but I'd consider circuit construction as a feature for which we already offer a high degree of backwards compatibility and for which there is already likely lots of code in the while depending on it. This sounds like a reasonable request for v2.0 several years down the line :)

[2020-02-21 22:21] 95-martin-orion opened #2785 "Switch from Travis CI to Github Actions"
Github Actions is [free for public repositories](https://help.github.com/en/actions/getting-started-with-github-actions/about-github-actions#about-billing-for-github-actions) and allows [up to 20 concurrent runners per repo](https://help.github.com/en/actions/getting-started-with-github-actions/about-github-actions#usage-limits). We should consider migrating from Travis CI to use Actions instead.

[2020-02-21 22:23] 95-martin-orion commented on #2785
@Strilanc - following up on offline discussion. In my personal experience, Github Actions are very user-friendly: you can pretty much write a script and the matrix of conditions to run it under, and Actions will happily trundle through them.

[2020-02-21 22:39] vtomole commented on #2785
Relevant: https://github.com/quantumlib/Cirq/actions, https://github.com/quantumlib/Cirq/pull/2733/files

[2020-02-23 10:59] jitendrs commented on #2778
@vtomole can you please assign it to me.

[2020-02-24 13:19] Ashalynd commented on #2771
AFAIK Python types by themselves aren't expected to be round-trippable.

[2020-02-24 17:25] dstrain115 commented on #2536
One other use case is for the matching system to handle wrapped classes.  For instance, TaggedOperation wraps an underlying operation, but it is really the same "type" except with some extra tag information added onto it.  One can imagine other uses similar to this with wrapper classes.

[2020-02-24 18:12] mpharrigan opened #2787 "Point to style.md in developer documentation."
In the "developer documentation" https://cirq.readthedocs.io/en/stable/dev/index.html it would be nice to have a reference for how we import things

- users `import cirq` and use `cirq.Thing` for everything
- library code imports "second level" modules e.g. `from cirq import ops` and then uses `ops.Thing` except in type annotations which should use `'cirq.Thing'`
- Non-flattened submodules: I don'

[2020-02-25 01:47] kevinsung commented on #2787
That information currently lives in [style.md](https://github.com/quantumlib/Cirq/blob/master/style.md).

[2020-02-25 16:17] 95-martin-orion commented on #1835
An issue I've come up against (illustrated in #2789) is that noise models implemented with `noisy_operation` cannot have moment-level behavior (e.g. not adding noise to virtual moments). The "fix" in that PR is to enforce moment-level behavior in the conversion from `noisy_operation` to `noisy_moment[s]`, but that doesn't feel like the cleanest solution.

In a similar vein, the fact that all `nois

[2020-02-26 04:43] jitendrs commented on #2778
Thanks @vtomole

[2020-02-26 14:36] BillGatesNephew opened #2791 "Local Development Setup Errors"
I'm trying to setup the project for local development on my macbook following the guide in `./docs/development.md`, and I run all of the steps (with the exception of the apt-system-requirements installation which I manually installed all the packages for) up until the `pytest .` step. When I run the tests I pass most but the following tests fail:
[code]

Looking at the more detailed results it see

[2020-02-26 15:00] BillGatesNephew commented on #2791
After poking around I tried running the `./check/pytest` script instead, which seems to pass mostly fine with the exception of the following test:
[code]
Should these test cases be the ones to be concerned with as far as local development goes?

[2020-02-26 15:49] vtomole commented on #2791
You need to `pip install -r dev_tools/conf/pip-list-dev-tools.txt`. I'm surprised this is not mentioned in that doc. Feel free to make a pull request for it.

Don't worry about these. We expect them to fail. See:
https://github.com/quantumlib/Cirq/blob/dec73130604956aa1ffc722f5a4263dab23eb265/cirq/protocols/json_serialization_test.py#L428

[2020-02-26 17:30] BillGatesNephew commented on #2791
@vtomole ok I updated it in #2792

[2020-02-26 19:49] dabacon opened #2793 "Proposal: move ion and neutral into devices"
Currently `ion` and `neutral`, which are devices plus decomposition methods sit at the top level of cirq and get imported into the cirq.* namespace.  Having these as top level modules is a bit odd since they are really about a particular device (and gates).  I suggest that we move the files in these directories into the devices module (or maybe subdirectories of devices?)

I think they are generic

[2020-02-26 23:51] #2791 closed

[2020-02-28 15:15] BillGatesNephew opened #2798 "QEC Extension Question"
I'm trying to extend Cirq by adding some functionality related to QEC, and I had some questions about the best way about going about this. For right now, I'm trying to implement a generic encoder that encodes _k_ qudits into _n_ qudits using some encoding scheme (i.e. repetition code). Right now, I was imagining someone using this would provide the gate sequence that performs the encoding when cre

[2020-02-28 17:44] balopat opened #2799 "Autosquash bot"
As a contributor it is frustrating to having to keep pressing the "Merge with master" button on my PRs. Also, the Cirq mergebot is flaky / rarely up.

What do you think about https://github.com/marketplace/actions/autosquash?

[2020-03-01 21:39] fedimser commented on #2423
I noticed that simulator currently doesn't support S^-1 gate. It's a Clifford gate and it's needed to implement a cirquit from a paper (#2620). Can I add support for it?

[2020-03-01 23:02] fedimser commented on #2620
Hi,
I implemented circuit for Hidden Linear Function from the first paper (https://arxiv.org/pdf/1704.00690.pdf). I put it in Jupyter Notebook in my repository, please take a look: https://github.com/fedimser/quant_comp/blob/master/2D%20Hidden%20Linear%20Function.ipynb

I have some questions:
1. What should be the format? I noticed that most examples in Cirq are just Python files, but I personally

[2020-03-02 14:59] vtomole commented on #2423
@fedimser

Please do.

[2020-03-02 15:12] vtomole commented on #2620
1. Notebooks are great! We need more notebooks in `examples/`.
2. Proofs will make the notebook too long. As long as the reader can follow how the circuit follows from the formulas, it's good.
3. I think implementing `2D Hidden Linear Function`  is important because I would want to link this notebook to someone who asks questions like: https://quantumcomputing.stackexchange.com/questions/10009/how

[2020-03-02 17:31] vtomole commented on #2711
This is becoming very important as the number of notebooks is increasing.

[2020-03-02 23:45] viathor commented on #2763
There is another, related concern that came up in a discussion I had with @maffoo. We probably want to avoid developing and maintaining a full quantum information package inside cirq. Many such packages already exist, e.g. [qiskit](https://qiskit.org/) and [qutip](http://qutip.org/) and have a lot more functionality than we are likely to build. Rather than writing our own, we may want to consider

[2020-03-02 23:52] mpharrigan commented on #2763
Love the idea of interop. qiskit and qutip are good, but would each be a very heavy dependency. If we can figure out a way to highlight the quantum information parts, that would be very cool

[2020-03-03 00:05] smitsanghavi commented on #2423
@fedimser That sounds great, please add me to the PR! I'll add a subsequent PR to #2760 that sets _has_stabilizer_effect_ to true for all 24 of those.

It will also make my coming implementation of using decompose_into_clifford easier since that protocol also counts gates like Y**-1/2 as natively Clifford.

[2020-03-03 00:25] viathor commented on #2763
I had quickly skimmed the two packages. They both provide a ton of cool functionality. Here are two short snippets showing the computation of fidelity of two pure states:

qutip:

[code]

output: 0.7071067811865475

qiskit:

[code]

output: 0.4999999999999999

Two notable differences:
 * qutip requires that we instantiate their classes that represent quantum states whereas qiskit is happy to work

[2020-03-03 05:04] #2762 closed

[2020-03-03 05:23] kevinsung commented on #2763
See https://github.com/quantumlib/Cirq/pull/2797#issuecomment-593767332 for an example of how Qiskit's implementation of fidelity is much slower than an alternative. If we implement a few core functions ourselves, we can be sure that they are as efficient as possible. Just a few core functions would not take much work to maintain, either.

[2020-03-03 17:56] tonybruguier-google opened #2802 "Offer better guidance on how to set --n_clifford_trials when doing direct fidelity estimation"
During the review of PR#2709 Matthew Harrigan (mpharrigan) suggested that the number of Pauli states sampled (when having a Clifford circuit) should be more than just a flag that the user has to set without any guidance.

Instead, we could add an exhaustive option and do numerical studies. See the full comment there:
https://github.com/quantumlib/Cirq/pull/2709#discussion_r386717424

[2020-03-03 22:27] bt3gl commented on #2711
@vtomole I just saw this, I can work on it this weekend/next week. If this is ok, could you please assign it to me?

[2020-03-04 01:46] vtomole commented on #2711
@bt3gl Thanks for doing this. Don't forget https://github.com/quantumlib/Cirq/pull/2713#issuecomment-583175086 too.

[2020-03-04 14:31] vtomole opened #2806 "Add matrix documentation for `class YYPowGate`"
Should be similar to `class XXPowGate` https://github.com/quantumlib/Cirq/blob/329765a96ec98e5856ba95ff41dec58f1e110452/cirq/ops/parity_gates.py#L37

[2020-03-04 20:45] 95-martin-orion opened #2807 "Support more noise types in metrics-to-noise converters"
Following PR #2715, the `simple_noise_from_calibration_metrics` will support three noise types:
- depolarization during gates
- qubit decay during readout
- error during readout (bitflip)

This issue tracks the addition of other noise types to this converter. Candidates include:
- amplitude damping during gates
- qubit excitation during readout

[2020-03-04 22:14] viathor opened #2809 "Find a QIS partner for cirq"
Go through existing open source packages for quantum information science in python and see whether we can partner with one.

Context: #2763. See that issue for some basic info about [qiskit](https://qiskit.org/) and [qutip](http://qutip.org/).

If we don't find one that easily interoperates with cirq, we will instead implement some basic functionality in cirq.

[2020-03-04 22:17] viathor opened #2810 "Quantum information science subpackage"
If #2809 turns up nothing, we'll implement some QIS functionality in cirq. I'm filing this issue to request comments on the name of the possible future QIS subpackage in cirq. A few options to get us started:
1. `cirq.qis`
2. `cirq.quantum_info`
3. `cirq.quantum_information`

My preference is 1. It is short and is consistent with some other second-level subpackages in cirq (e.g. ops instead of ope

[2020-03-04 22:37] 95-martin-orion commented on #2807
+ @dstrain115 for insights into calibration metrics.

One of the challenges in supporting per-gate amplitude damping is that noise models do not have device information when they are applied to a set of moments. This prevents an accurate estimation of the duration of each moment, which makes applying time-dependent amplitude damping difficult.

[2020-03-04 23:23] vtomole commented on #2810
+1 for choice 1.

[2020-03-04 23:47] kevinsung commented on #2810
Choice 1 sounds good to me. Even if we do decide to partner with another package, we'll need a place for the code being moved in #2808 and maybe a few core qis functions that we want to implement ourselves.

[2020-03-05 18:35] alexandrupaler opened #2812 "classical controlled operations/gates"
Are there plans to support classically controlled gates? Would this be of interest?

[2020-03-05 18:37] vtomole commented on #2812
https://github.com/quantumlib/Cirq/issues/887 is needed in Cirq. is this related?

[2020-03-05 18:44] alexandrupaler commented on #2812
Thank you. It is related, but my question started without considering classical registers, although results would need to be stored somewhere.

I was asking because would like to design. optimize and verify teleported-like implementations of circuits consisting entirely of single qubit initialisations, CNOTs and a final round of measurements that control controlled gate/operations (I call this ICM

[2020-03-05 18:48] 95-martin-orion commented on #2807
With the addition of two-qubit Pauli error metrics (PR #2761) we can model gate depolarization more precisely by controlling depolarization probability on the gate type.

[2020-03-05 19:23] zchen088 opened #2813 "Pauli operator deserialization, and commutation checking"
When you serialize and then deserialize a Pauli operator, you get a different instance, which might not be too surprising
[code]
This shouldn't be a problem, however Paulis are checking commutation using `is` instead of `==`, so commutation with deserialized Paulis is broken.

[2020-03-05 20:20] kevinsung commented on #2813
Can you give an example of the commutation being broken?

[2020-03-05 21:06] vtomole commented on #2812
Keep it.

[2020-03-05 21:30] zchen088 commented on #2813
[code]

[2020-03-05 23:21] mpharrigan commented on #2787
Ah. we should put that in the developer documentation

[2020-03-06 18:53] 95-martin-orion commented on #2807
In that PR, @viathor notes that two-qubit Pauli error is defined as the chance of _at least_ one qubit experiencing error, modeled by the formula:
[code]

Since this model is symmetric, with each possible combination of Paulis (aside from the identity) having equal probability `r_p / (4^n  - 1)`, the single-qubit error rate `r_pk` should come out to be:
[code]
since there are `3 * 4^(n-1)` combina

[2020-03-06 20:03] mpharrigan opened #2816 "program_id or Engine tags on cirq.Circuit"
When using the `QuantumEngineSampler` object to run programs on Quantum Engine there is no way to tag programs/jobs with short metadata which allows one to scan active jobs from the web UI.

If you use the `Engine` object, you can set the `program_id` parameter which is helpful but comes with its own set of restrictions (restricted character set; limited to 64 chars). "Tags" has been suggested to

[2020-03-06 20:06] mpharrigan opened #2817 "EngineJob.results() shouldn't give up"
Right now if you check for results for more than 500 seconds, it just gives up. In practice, this causes more harm than good. It can take down a whole run (by raising an exception) if someone or many someones slots in a sufficient amount of work in front of you in the queue

[2020-03-06 20:09] mpharrigan opened #2818 "ZerosSampler"
Often it is useful to test your workflow can successfully collect data without caring too much about what that data is.

I propose a `ZerosSampler` that just immediately returns a bunch of zeros but otherwise follows the `cirq.Sampler` interface. This can also run the program through the proto serialization routines to verify that the gateset is correct.

One final use case for this is profiling t

[2020-03-06 20:33] mpharrigan opened #2819 "Target gateset vs supported gateset"
There are two concepts which are currently conflated:

 - The set of gates that a device can do
 - The set of gates you'd like to compile to

These can be the same, but the second can be a subset of the first. The first should be query-able given a device whereas the second is something the user chooses.

Related: why do I have to choose a gateset when setting up a `QuantumEngineSampler`? It shoul

[2020-03-06 21:00] maffoo commented on #2819
I'm glad you're thinking about this, @mpharrigan. I agree that this is an important distinction, and that there are lots of improvements we can make in this area. I also think that the way we combine the abstract notion of "gateset" with serialization should be fixed.

Internally we have a sampler implementation that knows about all supported gatesets and picks an appropriate gateset on the fly fo

[2020-03-06 21:22] mpharrigan opened #2820 "Name <--> Device <--> Processor ID <--> Simulator correspondence"
Currently, there are disjoint pieces of information that should in principle be associated with each other

 - A specific chip/fridge/(cooldown?) combination has a name -- often colloquial -- by which we refer to it.
 - That has a processor_id used to get a `QuantumEngine[Sampler]` to run jobs
 - processor_id used to get stats
 - There's a `Device` object that encodes qubits and connectivity
 - Ga

[2020-03-06 21:31] mpharrigan opened #2821 "Maintain a respectful queue of jobs to be run on Quantum Engine"
Sometimes you have a whole host of jobs to run. Instead of submitting lots of them and filling up the queue, you could do one at a time. But you can save on latency / classical processing overhead by keeping a respectful queue. I've been using this function

[code]

Would something like this be welcome inside cirq.google?

[2020-03-09 07:12] ishanrai05 commented on #2806
@vtomole Hi! Can I work on this?

[2020-03-09 12:22] jitendrs commented on #2778
@vtomole can you please suggest what needs to be done here?

[2020-03-09 13:47] vtomole commented on #2806
@ishanrai05 Sure!!

[2020-03-09 21:26] mpharrigan opened #2826 "Include backwards compatibility shims for cirq.contrib.noise_models"
#2734 broke noise models. I'm using them. It should be easy to provide deprecated shims

[2020-03-09 23:11] 95-martin-orion commented on #2826
Making actual shims for these (i.e. backed by the other single-noise-type models) would require proper support for noise model composition, which is still in limbo.

In order to keep these around, we need to reinstate their fully-implemented versions.

[2020-03-09 23:57] mpharrigan commented on #2826
Oh. We should definitely keep them around until they can be replaced with composed noise models, at which point we should introduce shims with a deprecation warning

[2020-03-10 16:53] vtomole opened #2828 "Add U3 gate"
![15fd2c46-bcdd-4941-a97a-205710b38619](https://user-images.githubusercontent.com/8405160/76337672-b0a67600-62c5-11ea-961f-0ae985a5b28f.png)

Source of  image: https://subscription.packtpub.com/book/application_development/9781789136432/app01/app01lvl1sec101/qubits-states-and-gates-in-terms-of-matrices

[2020-03-10 16:57] cduck commented on #2828
I think that is already implemented as part of the QASM output/import code: https://github.com/quantumlib/Cirq/blob/292080453e22e91dc5658a0cfa5043539944a950/cirq/circuits/qasm_output.py#L30

[2020-03-10 17:01] vtomole commented on #2828
Ah nice! Thanks @cduck

[2020-03-10 17:01] #2828 closed

[2020-03-10 18:51] vtomole opened #2829 "Move jupyter notebooks from `examples` to `examples/notebooks` directory"
`QAOA_Demo.ipynb` and `Rabi_Demo.ipynb`. Also, are notebook names supposed to be cased like that? If so we should rename `quantum_walks_tutorial.ipynb`

[2020-03-10 21:03] vtomole commented on #2763
Rolling our own ~10 procedures from https://qiskit.org/documentation/apidoc/quantum_info.html shouldn't be a huge burden when it comes to maintenance. I vote for wheel re-inventing in this case.

[2020-03-11 10:41] joshp112358 commented on #2829
Hi, I can do this.

[2020-03-11 14:29] vtomole commented on #2829
Fixed by https://github.com/quantumlib/Cirq/pull/2831

[2020-03-11 14:29] #2829 closed

[2020-03-11 16:14] vtomole commented on #2750
Hey @ijdavis , How about https://github.com/quantumlib/Cirq/issues/2775?

[2020-03-11 17:22] 95-martin-orion opened #2832 "Use relevant gate info in metrics-to-noise model"
Split off from #2807. This issue specifically tracks improvements in the parameters of noise applied to specific gate types; at the time of writing, all non-measurement gates generate the same DepolarizingChannel regardless of type or duration.

[2020-03-11 17:38] ijdavis commented on #2750
I think it would be a good idea to replace the circuit default strategy
with the opposite extreme .. compress nothing.  The automatic compression
has the problem that when one is creating a sequence of gates to add to a
circuit one must constantly break the gates into moments in order to
manually force the desired moments for both functional and visual reasons.
It is visually displeasing to have H

[2020-03-11 18:13] Strilanc commented on #2750
I think that this is a reasonable idea, but I don't think that it provides enough benefit to outweigh the cost implementing it and explaining it. The insertion into circuits is already unfortunately complicated..

[2020-03-11 18:28] Strilanc commented on #2810
+1 for 1

[2020-03-12 14:06] ArturJS opened #2835 "[Question] javascript/typescript/wasm support"
@dstrain115
Firstly, I must admit that this is a great library. Thanks a lot!
Secondly, I have a few questions:
 - Do you plan to implement javascript/typescript, say, `Cirq.js` library in order to have a huge community of javascript devs?
 - if you're not really sure about separated javascript library, what do you think about something akin to https://github.com/quantastica/qconvert-js in order t

[2020-03-12 14:10] dstrain115 commented on #2835
There are no current plans to convert Cirq to javascript.

In terms of inter-operability with other quantum languages, Cirq already has output to QASM and plans to have interoperability with quil.

[2020-03-12 14:13] ArturJS commented on #2835
@dstrain115 Ok, thanks for the information!
Closing as resolved.

[2020-03-12 14:17] vtomole commented on #2835
Hey @ArturJS. We kind of have this. We support [Quirk](https://github.com/Strilanc/Quirk). See https://github.com/quantumlib/Cirq/tree/master/cirq/contrib/quirk.

[2020-03-12 14:18] vtomole commented on #2835
I reopened this issue so you can try out the Quirk support. Please let us know if it does what you are looking for.

[2020-03-12 14:20] ArturJS commented on #2835
@vtomole Wow, didn't know about that.
I'm gonna try out it the next week, when I have spare time for implementing a small prototype with this.
Thanks!

[2020-03-12 14:31] alexandrupaler commented on #2835
I think the goal of ArturJS would be to fully run Cirq in the browser as a webassembly package.

Would be interesting to see working, and pyodide certainly would help. Performance of Cirq would however be unknown, but maybe not really a dramatic decrease. With eg Quirk as frontend the use cases would exist.

For example, I ported pyzx to pyodide and experimented with combing in the browser C++ cod

[2020-03-12 14:36] ArturJS commented on #2835
@alexandrupaler Thanks a lot for the useful links!
Btw, I've found one more)
https://github.com/joastbg/quant-js

[2020-03-12 14:39] alexandrupaler commented on #2835
Indeed there are more projects doing quantum-something with webassembly. A useful use case could be where GUI and framework are joined.

[2020-03-12 14:43] ArturJS commented on #2835
@alexandrupaler Yeah, cannot wait when I have time to connect this with https://www.tensorflow.org/quantum
Hope it will exponentially decrease the time for at least some machine learning approaches in the near future =)

[2020-03-12 14:46] vtomole commented on #2835
@ArturJS I do like the idea of having a https://www.tensorflow.org/js combined with `Cirq.js` or something. As @dstrain115 said, we currently don't have the resources to get into this. If you want to implement it, that would be awesome.

[2020-03-12 14:50] ArturJS commented on #2835
@vtomole

I'll create a basic setup for the project and will let you know about the progress.

[2020-03-12 19:18] mpharrigan opened #2836 "QuantumEngine's ability to sweep is not at parity with the simulator"
I just got this error message:

[code]

trying to run with
[code]

where `sweep` is a `cirq.Product` of `cirq.Linspace`. This works fine through the simulator

[2020-03-12 19:19] mpharrigan commented on #2836
update: passing `dict(ptup)` has fixed it. This behaviour should be consistent with the simulator, though

[2020-03-13 16:42] vtomole commented on #2778
@jitendrs Change https://github.com/quantumlib/Cirq/blob/61b4259db3401afd224dd9eebc83617c93ac341d/cirq/sim/mux.py#L152 to `Maybe you wanted cirq.final_density_matrix?`

[2020-03-15 20:00] Dripto opened #2840 "Circular imports for value.value_equality when running on certain computers?"
Hello,

When I import cirq on my computer locally, I am able to run simulations and all of it works fine. However when I put the same folder onto the cluster, I find that I get an error referring to circular imports. Both computers are running the same python version, 3.7.4, but the error persists if I switch my cluster environment to run python 3.8.1.

The error is:

Traceback (most recent call l

[2020-03-15 20:34] cduck commented on #2840
This is definitely a circular import issue.  I suspect the Python configuration for your cluster hooks the Python imports in a way that conflicts with Cirq's import hook (see https://github.com/quantumlib/Cirq/blob/master/cirq/__init__.py#L17, https://github.com/quantumlib/Cirq/blob/master/cirq/_import.py).  This may be something that should be fixed in Cirq.

Can you give the results of running t

[2020-03-15 21:44] Dripto commented on #2840
Hey Casey,

On the computer where things are working, I get:

[<class '_frozen_importlib.BuiltinImporter'>, <class '_frozen_importlib.FrozenImporter'>, <class '_frozen_importlib_external.PathFinder'>]
<class '_frozen_importlib.BuiltinImporter'> True
<class '_frozen_importlib.FrozenImporter'> True
<class '_frozen_importlib_external.PathFinder'> True

and on the cluster I also get:

[<class '_frozen

[2020-03-15 22:01] cduck commented on #2840
Did `import importlib.abc` solve it?  I was expecting the cluster output to be different so I'm not sure where the issue is.

[2020-03-15 22:37] Dripto commented on #2840
yeah, I was surprised to see it was the same.

The _import issue was solved before these circular import issues came up.

[2020-03-15 23:18] cduck commented on #2840
I have some more questions to try and debug this.  Can you give some details about your setup?  Any python packages installed for managing execution on a cluster or is Python running on just one node?  Can you reproduce this on another machine?

[2020-03-16 02:14] Dripto commented on #2840
the job scheduler is slurm, but the same issue happens whether I use the scheduler, or just get an interactive node and try to run stuff.

One difference is that on my office computer, I just have all of my packages installed and then run stuff directly in the terminal, while with the cluster I'm using an Anaconda virtual environment, could that be causing any differences?

[2020-03-16 04:48] cduck commented on #2840
You could [clone the conda environment to your computer](https://datascience.stackexchange.com/a/24096).  If that reproduces the error, send me `environment.yml` so I can take a look.

[2020-03-16 08:29] muhammetfaik opened #2841 "AttributeError"
Code and Error:
[code]

[2020-03-16 16:51] vtomole commented on #2841
Hey @muhammetfaik , What version of Cirq are you using?

[2020-03-16 17:07] cduck commented on #2841
I've seen this issue (where Cirq is an empty package) after installing both `cirq` and `cirq-unstable `.  If this is the case, uninstalling both then reinstalling one solves the issue.

[2020-03-16 21:46] fedimser commented on #2533
Hi. Can I fix this?

[2020-03-17 06:48] catafest opened #2842 "Ubuntu 16.04.6 LTS pip3 install and not work"
I try to used with python on Ubuntu 16 LTS
[code]
When I try to run it:
[code]

[2020-03-17 07:48] muhammetfaik commented on #2841
Thanks