[2018-10-23 20:30] Strilanc opened #1042 "Add `dtype` parameter to SimulatesFinalWaveFunction and SimulatesIntermediateWaveFunction"

[2018-10-23 21:52] Strilanc opened #1043 "Add CxNOT gate"
This is a CZ gate conjugated by Hadamards. It's a native gate for ion traps.

[2018-10-24 14:43] askolik opened #1046 "circuit_to_latex_using_qcircuit converts RotXGate to \targ"
When a circuit contains RotXGates, cirq.contrib.qcircuit.qcircuit_diagram.circuit_to_latex_using_qcircuit converts those to target qubit symbol `\targ` in the LaTeX output instead of `\gate{\text{X}}`.

Example:

[code]

[code]

Produces following LaTeX:

[code]

Which renders as:

![x_to_target](https://user-images.githubusercontent.com/35702116/47438584-0e0e5580-d7ab-11e8-9650-ec9def0dd73b.png)

[2018-10-24 18:00] viathor commented on #1041
This is very interesting. Here are my first few thoughts after reading the above.

There are two classes of concepts here: mathematical concepts (e.g. hermitian operator, unitary operator, Clifford gate) and physical concepts (such as the Hamiltonian and the Evolution operator).

The mathematical concepts correspond to sets of operators defined by an algebraic condition (e.g. A=A^H). The physical

[2018-10-24 18:20] Strilanc commented on #992
Look into SupportsParameterization now that the magic method protocol is in place

[2018-10-24 18:57] Strilanc opened #1048 "Automatically compute the period of an EigenGate"
Current EigenGate requires the child class to implement a `_canonical_exponent_period` method saying what the period of the operation is. But this information can be derived from other information given to EigenGate; specifically the _global_shift_in_half_turns argument to `__init__` and the differences between the eigenvalue exponents coming out of the `_eigen_components` method.

This issue requ

[2018-10-24 20:09] Strilanc commented on #1041
That sounds reasonable to me.

[2018-10-24 20:11] Strilanc commented on #754
No, the dependency is still present. It's just restricted to the types instead of causing an error at runtime.

[2018-10-24 20:20] Strilanc commented on #962
The multiplication rules are quite simple; there's no need to go to the matrix arithmetic. Let r(I) be 00, r(X) be 01, r(Z) be 10 and r(Y) be 11. Then r(A*B) = r(A) xor R(b). Then you have to account for the sign of the product, which is based on the cycling direction: `s = 1j if A < B else -1j if A > B else 1`

[2018-10-24 20:32] Strilanc commented on #1046
This is intentional. The X gate is the NOT gate, so we draw it as a NOT gate.

(We'd do it in text diagrams too, if it weren't so common for supposedly fixed-width fonts to make '⊕' too wide and skew the diagram.)

Is there a reason you specifically want it to draw as an X?

[2018-10-25 00:42] #1034 closed

[2018-10-25 01:29] kevinsung opened #1051 "MeasurementDisplay"
This is my proposal to implement #942 using Displays.

MeasurementDisplay is like a measurement gate, but it's allowed to perform operations before measuring. It also knows the number of repetitions that should be performed. Since it's a Display, it's a no-op as far as the rest of the Circuit is concerned (see #982). The most important example would be PauliStringMeasurementDisplay. This would act

[2018-10-25 02:41] kevinsung commented on #989
Closing this in favor of #1051

[2018-10-25 02:41] #989 closed

[2018-10-25 04:22] kevinsung opened #1052 "SimulatesSamples._run return type is different from type(TrialResult.measurements)"
One is Dict[str, List[np.ndarray]] and the other is Dict[str, np.ndarray]. They should be the same, right?

[2018-10-25 05:09] Strilanc opened #1053 "Add a "standard test battery" for new gates, use it on old gates"
There is a lot of repetition in tests between gates. This leaves a lot of room for accidental omission. Some of this repetition could be reduced by having a standard set of tests that a gate must pass, such as "the decomposition is consistent with its unitary matrix".

Here's roughly what I was thinking:

[code]

This issue is to cover perhaps a few more cases, and to then incorporate this into th

[2018-10-25 08:37] askolik commented on #1046
I see. I was thinking in terms of parameterized rotations, and wanted to generate a diagram for something like this:

[code]
[code]

In LaTeX this looks like this:

![parameterized](https://user-images.githubusercontent.com/35702116/47486535-dce06480-d840-11e8-9afe-83dac62d742f.png)

It threw me off that the X Gate renders differently depending on the value of half_turns, in this scenario I would

[2018-10-25 09:03] Strilanc commented on #1046
I see...

You can work around the issue by creating a custom gate `MyX` that inherits `RotXGate` but also `cirq.contrib.qcircuit.QCircuitDiagrammable`. Then use `MyX` instead of `cirq.X`.

[code]

I think that the current behavior is the one we want, at least for now, and there is a workaround you can use, so I will close this issue as 'working as intended'.

[2018-10-25 09:03] #1046 closed

[2018-10-25 09:41] askolik commented on #1046
Thanks for the workaround!

[2018-10-25 14:35] #865 closed

[2018-10-25 19:28] Wuggins commented on #970
Has there been some more discussion about the mapping between variational parameters and circuits?

I was attempting to start a simple project today by parameterizing an exact coupled cluster singles ansatz (essentially just using the T_{pq} values from Ryan's above example as the only parameters of a circuit) and I was disappointed to realize how restrictive the current paradigm for a parameteriz

[2018-10-25 19:44] Strilanc opened #1060 "Concept of 'moving a qubit' for ion traps"
According to @mlihc15 , their ion traps are divided into three areas: logic area, measurement area, and storage area (in that order in a line). Qubits are moved back and forth between the areas as needed. At the moment they can't re-order the qubits, so this means that if you want to measure qubit number 2 then you need to move qubits 3 through N out of the logic area, past the measurement area, a

[2018-10-25 20:04] babbush commented on #970
No there is no reason why you can't do that. In fact, we've been having some internal discussions that are increasingly sympathetic to that style of generating parameterized circuits.

[2018-10-25 20:31] #731 closed

[2018-10-25 20:43] #1031 closed

[2018-10-25 20:49] Strilanc opened #1061 "Replace usages of `cirq.decompose_once` with `cirq.decompose`"
There is some leftover code throughout cirq that manually performs the recursion/iteration commonly associated with decomposition, instead of delegating this task to `cirq.decompose`. Such code should be updated.

This applies to almost every instance of `cirq.decompose_once` in the code base that's not in tests or the documentation.

For example, `cirq/circuits.expand_composite.py` uses `protocol

[2018-10-25 20:53] #945 closed

[2018-10-25 21:02] Wuggins commented on #970
Okay. It looks like that isn't well supported by the current infrastructure for variational studies, etc... Is that correct? I will put together a minimally disruptive way of enabling this kind of approach as a subclass of VariationalStudy and share it if you think it would be helpful.

[2018-10-25 21:05] babbush commented on #970
As helpful as that sounds, please wait on this for a couple more weeks. We've working on plans for this sort of thing that we'll start implementing and try to communicate to the Cirq community rather soon. The current "variational study" paradigm will be changing rather substantially.

[2018-10-25 21:10] Wuggins commented on #970
Okay, great. I will just hack it in for my own purposes in the meantime. Thanks for the heads up.

[2018-10-25 23:11] bryano commented on #1060
(2) seems better because the "physical" and "logical" qubit concept isn't restricted to ion traps. In particular, some of the code from the `acquaintance` module can be repurposed.

[2018-10-28 22:10] Ashalynd commented on #992
Is there a known example where it happened?

[2018-10-29 00:16] Ashalynd opened #1070 "Remove numerous PendingDeprecationWarning instances in pytest2"
There are currently numerous warnings being printed when pytest2 runs, looking like this:

[code]

The files for which that happens:

cirq/linalg/decompositions_test.py
cirq/ops/matrix_gates_test.py
cirq/sim/state_test.py
examples/examples_test.py

[2018-10-29 00:57] kevinsung opened #1071 "Speed up KAK decomposition"
The following code constructs a circuit with 1140 common gates and then calculates the time it takes to run the Xmon optimization and Xmon gate conversion (separate procedures).
[code]
On my machine, optimization took 12.6 seconds and conversion took 2.7 seconds.

[2018-10-29 01:09] Strilanc commented on #1061
Based on the errors, you probably forget to set `allow_partial_czs=False` somewhere. If you create a PR I can spot where the mistake is.

[2018-10-29 01:19] Strilanc opened #1072 "When docstrings contain something like "`cirq.X`", turn it into a hyperlink when generating docs"
This is a pattern I've been using more and more when writing docstrings, and it would be great if it was actually a link on the documentation website.

[2018-10-29 01:19] Strilanc opened #1073 "Look into recognizing and rendering latex within docstrings for generated documentation"
Sometimes we use latex in our docstrings. It would be ideal if it was actually rendered as latex on the documentation website.

[2018-10-29 01:37] Strilanc commented on #1070
I've also noticed this happening, but couldn't find `np.matrix` being used anywhere in cirq. I assumed it was something internal to numpy, but yes someone should look at this a bit more closely.

[2018-10-29 01:40] Strilanc commented on #992
I think resolving `cirq.Circuit([cirq.Moment(), cirq.Moment([cirq.X(cirq.NamedQubit('q')])])` will return a circuit with one moment instead of two.

[2018-10-29 06:55] Strilanc commented on #911
I think the current implementation has bugs. The following code produces a circuit diagram where the "padding forces" are not lining up with the indicators:

[code]

This is the diagram that comes out:

[code]

It looks like there's an indicator missing near the right side.

[2018-10-29 07:00] Strilanc opened #1075 "3d diagrams for circuits"
When working with qubits laid out in a 2d grid, it can be very helpful to see the circuit structure in 3d space.

I'm not sure what exactly the output should be here. Should a window open up with a 3d viewer, ala matplotlib plots? Should we export a model file for some 3d format?

I don't want anything particularly complicated for the diagrams themselves. Basically a text diagram in 3d space, with

[2018-10-29 16:56] Ashalynd commented on #992
Thanks, that was a good example!

[2018-10-29 17:36] Ashalynd opened #1076 "Numerical coefficients look strange in repr()"
Example:

[code]

[2018-10-29 18:32] Strilanc commented on #1076
The underlying issue here is the angle-canonicalizing code in the constructor of EigenGate. This will be fixed (unintentionally) in https://github.com/quantumlib/Cirq/pull/1055

[2018-10-29 20:10] #992 closed

[2018-10-29 20:37] kevinsung opened #1079 "Should we still force keyword arguments in _PowGate initialization?"
There's only one unit possible now.

[2018-10-29 20:53] Strilanc commented on #1079
I haven't really decided which way I want to go on that. For the most part users shouldn't be calling those methods anyways, they should be using the more convenient `cirq.X**0.5` or `cirq.Rx(np.pi/2)`. So I'm not too worried about making it convenient to call them.

[2018-10-29 23:01] kevinsung opened #1080 "cirq.Rz(-pi) shows up as Z^-1 in circuit diagrams"
Repro:
[code]

Output:
[code]

Expected behavior:
Maybe it should just be Z?

The reason for this behavior is that the period of a gate returned by Rz is explicitly set to 4 instead of 2.

[2018-10-29 23:03] Strilanc commented on #1041
Some example use cases that I think should work:

Creating and exponentiating pauli products to create `PauliStringPhasor` operations that can be put into a circuit:

[code]

The future possibility of creating linear combinations of pauli products, which defines a `QubitOperator` (a term from openfermion):

[code]

[2018-10-29 23:13] kevinsung commented on #1053
In your example why does `val` have type Any instead of cirq.Gate?

[2018-10-29 23:17] Strilanc commented on #1080
I will fix this after https://github.com/quantumlib/Cirq/pull/1055 , which allows EigenGate to compute its own period (and in particular the unshifted period)

[2018-10-31 00:04] Strilanc opened #1083 "If decompose's on_stuck_raise is a lambda that returns None, no error should be raised"
Currently, passing in None instead of a lambda has this behavior. But this can result in duplicate logic when passing in the lambda or None and implementing the lambda.

[2018-10-31 00:11] Strilanc opened #1084 "Add a warning to tests using qiskit when they are skipped"
We currently have two tests in `qasm_output_test.py` that attempt to import qiskit (in order to test that the output QASM is valid) and silently skip if the import fails. We should instead `warnings.warn` that this is happening.

We should also update `pip-list-dev-tools.txt` to include a specific version of qiskit, so that these warnings do not occur when running travis builds.

[2018-10-31 18:34] Strilanc commented on #754
THis can be resolved either by keeping `line` in `cirq.` and not referencing `google`, or else by moving `line` into `cirq.google`.

[2018-10-31 18:47] Strilanc commented on #965
Possible alternative: https://arxiv.org/pdf/quant-ph/0504117.pdf

[2018-10-31 18:54] Strilanc opened #1086 "Make a noisy sampling simulator using `_channel_`"
Using `cirq.channel` you can get the krauss operator / quantum operator ( https://en.wikipedia.org/wiki/Quantum_operation ) for each operation in a circuit. You can then use this to update a density matrix state (I think). Start with a specified state, apply all the operations, sample from the result. Find optimizations to make it faster in special cases, such as using `cirq.unitary` first.

[2018-10-31 18:59] mrwojtek commented on #754
I would suggest to proceed with moving `line` into `cirq.google`, which would unblock the remaining work on placement.
We can move it outside of `cirq.google` once all the device and calibration abstraction are defined and agreed upon; @dabacon shout if you disagree, otherwise I'll do it like that tomorrow.

[2018-10-31 20:09] Wuggins opened #1087 "Cirq inverse seems to (at least sometimes) modify the values given to it, is this intended?"
First of all, I apologize if this should have been posted to Stack Exchange instead. It seemed specific enough to the code that I thought I would post it here.

It seems that, at least for some inputs, cirq.inverse(val) modifies the input that it is given. Is this the intended behavior? It seems counterintuitive from a user perspective that
[code]
would yield anything other than an effective ident

[2018-10-31 20:36] Strilanc opened #1088 "Add benchmark code for testing against other simulator to get comparative numbers"
Here is an initial stab at code that compares the performance of cirq's simulator to projectq's simulator.

This could be fleshed out into something capable of making comparisons more generally, and tracking our performance on a more absolute scale.

[code]

[2018-10-31 21:12] kevinsung commented on #1087
Indeed, `cirq.inverse` will modify an [iterator](https://docs.python.org/3/glossary.html#term-iterator) by "using it up", i.e., calling its `__next__()` method repeatedly. In this example, `basis_rotation` is a generator iterator returned by the function `bogoliubov_transform`. That's the reason for the repeated calls to `bogoliubov_transform`. One could avoid this behavior by converting the itera

[2018-10-31 21:12] #1048 closed

[2018-10-31 21:12] #1076 closed

[2018-10-31 21:19] #1087 closed

[2018-10-31 21:51] Strilanc opened #1093 "Refactor PhasedXPowGate to inherit from EigenGate"
Note that it is necessary to override EigenGate's equality method, and methods such as `_with_exponent`, because they don't account for the phase parameter. For the most part, `PhasedXGate` will look quite a lot like `XPowGate` but with the phase parameter added.

[2018-10-31 22:50] Strilanc commented on #1087
This is why I've been moving away from exposing methods returning `OP_TREE` to users, and always flattening them into lists first. We should do the same thing in openfermion-cirq. I've opened https://github.com/quantumlib/OpenFermion-Cirq/issues/302 there, so that for example this mistake wouldn't happen.

In other words, I do think that this is a bug but I think it's a usability bug in `openfermi

[2018-10-31 22:55] Strilanc opened #1094 "Add 'trace' utility methods to TrialResult and similar classes"
I think users of `TrialResult` will often have questions like "what's the bloch vector of qubit 5?" and "if I trace out qubit 4, what's the remaining density matrix?". We should have methods for these kinds of questions, and others.

[2018-11-01 00:49] Strilanc opened #1095 "Should `cirq.Rz(np.pi/2)` show in diagrams as `X^0.5` or as `Rz(0.5π)`?"
@babbush @kevinsung @dabacon opinions?

On the one hand, Rz is more true to what the user said and what they expect. On the other hand, using Rz is a visual difference with no particular corresponding behavior difference and it takes more horizontal space.

[2018-11-01 01:30] babbush commented on #1095
I vote for Rz(0.5pi). I don't care if multiple visualizations map to the same unitary.

[2018-11-01 02:19] smitsanghavi commented on #1061
I think this can be closed now. I don't see any non-test non-documentation uses of decompose_once anymore.
Or is this issue supposed to cover decompose_once_with_qubits too?

[2018-11-02 00:02] viathor opened #1098 "Fractional exponents in diagrams"
What do people think about replacing decimal fractions with ordinary fractions in diagrams (in cases where it is possible), e.g. displaying `X^(7/8)` rather than `X^0.875`?

An important property of quantum gates is that most of them are elements in finite [cyclic groups](https://en.wikipedia.org/wiki/Cyclic_group) and this is better exhibited by `X^(1/8)` than `X^0.125`. For example, the order of

[2018-11-02 00:03] viathor opened #1099 "Fraction exponents"
A common operation to obtain a unitary from another unitary is exponentiation, e.g. T gate is Z^(1/4). In practice, the exponents are always rational numbers (AFAIK). The collection of rational powers k/n with k=0..n-1 of a gate is generally a cyclic group of finite order which gives rise to exploitable identities, e.g. Z^(7/8) is the inverse of Z^(1/8). It'd be easy to take advantage of these gro

[2018-11-02 00:12] viathor commented on #1080
The solution to this issue would have been simpler if we could examine group properties of the gates more easily. I suggested one way to achieve this is on #1099.

In the specific instance of this issue, the suggestion on #1099 would help by making the internal representation of Z and Z^-1 identical! (because -1 = 1 mod 2).

[2018-11-02 07:02] Strilanc commented on #1099
I don't think we should do this.

I do think that checking that a `fractions.Fraction` can make it into a gate exponent and get printed out into a diagram is a good idea. This could act as a test case for working with unexpected kinds of numeric values in general. I also think that noticing an exponent is close to a fraction, and printing eg 7/8 instead of 0.875 or 0.875000001 in diagrams could be

[2018-11-02 07:05] Strilanc commented on #1098
I think this is a good idea. If we're within 10**-precision of a fraction with a denominator less than 20-ish, it would add a nice amount of clarity.

Note that we can use unicode fraction characters, as long as they play nice in fixed width fonts.

[code]

[2018-11-02 07:08] Strilanc commented on #1053
New test to include in the battery:  `_eigen_shifts` must be consistent with `_eigen_components`.

[2018-11-02 07:20] #1080 closed

[2018-11-02 07:52] #754 closed

[2018-11-02 09:57] marsscout22 commented on #974
Thank you, I did not have an access to my email till now.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Craig Gidney <notifications@github.com>
Sent: Monday, October 8, 2018 10:05:11 PM
To: quantumlib/Cirq
Cc: marsscout22; Mention
Subject: Re: [quantumlib/Cirq] Installation failed on linux - no module named cirq (#974)

I'll

[2018-11-02 17:39] kevinsung commented on #1099
I agree with @Strilanc . I'll add that in Hamiltonian simulation, the t in exp(-iHt) is not usually a rational number. Also, variational algorithm optimizations typically work over floats, not fractions.

[2018-11-02 20:40] Wuggins commented on #1087
Thanks for the explanation! It certainly wasn't the expected behavior but I'm coming to understand the way that iterators are used throughout the codebase as I get deeper into it.

Thanks,

Bill

[2018-11-02 21:07] viathor commented on #1099
Thank you both for helping to evaluate this! This kept bugging me and now I feel better about abandoning the idea.

[2018-11-02 21:07] #1099 closed

[2018-11-02 21:31] Strilanc commented on #1053
New test to include in the battery: `_qasm_` must be consistent with `_unitary_`

[2018-11-02 23:10] #1095 closed

[2018-11-03 20:28] MichaelBroughton opened #1105 "General Unitary to Probabilistic Unitary"
figure out how to incorporate different kinds of noise channels into circuit constructions in a nice way. right now we have `common_channels.py` containing the depolarizing channel. The best idea so far (from @Strilanc ) is "We should add something like a `with_probability(p)` method to `cirq.Operation` and `cirq.Gate` to make these easy to make, so you could say `cirq.Z(q).with_probability(p)`".

[2018-11-05 22:20] Strilanc opened #1107 "Understand the documentation release cycle"

[2018-11-06 14:39] vtomole commented on #852
What's the update on this?

[2018-11-06 18:38] dabacon opened #1113 "cirq.inverse(circuit) should produce inverse circuit if gates are reversible."

[2018-11-06 21:01] dabacon opened #1114 "Running Pytest2 locally is failing"
[code]

[2018-11-06 21:46] #1070 closed

[2018-11-06 23:29] #952 closed

[2018-11-07 00:17] Strilanc commented on #1114
What version of python 2? `python2 --version`

[2018-11-07 01:05] Strilanc commented on #1114
I've managed to reproduce this. It's strange. It doesn't happen when you run `./check/pytest2`, but it does for `./continuous_integration/check.sh`. Also, it seems to have something to do with the tests running twice instead of once. I'm pretty sure the qubit sets not agreeing is due to the measurement being appended during the first run, then still being present during the second.

So, it appears

[2018-11-07 01:55] Strilanc commented on #1114
Figured it out. It's because of https://github.com/pytest-dev/pytest/issues/4322 and also because the python 2 test checking code was using `''` (which `pytest` interprets as 'run all tests') as a "no parameter" command line parameter instead of `None`.

[2018-11-07 02:42] #1114 closed

[2018-11-07 07:05] dabacon commented on #1088
Note that there is a benchmarker for simulators in dev_tools/profiling

[2018-11-07 07:13] dabacon commented on #1051
I wonder about putting repetitions on the display.  If you have a circuit with two displays and different repetitions how does it know which one to use?

[2018-11-07 15:03] dabacon opened #1119 "Default insertion strategy EARLIEST"
The default insertion strategy is currently NEW_THEN_INLINE.  This is a) one of the most complicated insertion strategies, and b) not likely the one most NISQ folks want as they want to minimize depth.  I think we should change the default to EARLIEST.  I find myself changing this default a lot, which I think is a sign.

[2018-11-07 18:56] smitsanghavi commented on #1119
I also agree with this, NEW_THEN_INLINE is definitely more readable but wasteful for depth limited applications.
I can take this issue. I'm assuming the main work will be to fix tests that rely on this default.

[2018-11-07 19:38] Strilanc opened #1121 "Document dev setup on mac and windows"
It won't work as well as on linux, but it should be possible to make the tests pass.

[2018-11-07 19:53] Strilanc opened #1122 "Fix numerical test failure on mac"

[2018-11-07 21:19] #672 closed

[2018-11-07 21:55] Strilanc opened #1123 "Make `dev_tools/auto_merge.sh` (CirqBot) stateless"
Currently, the auto merge script that powers cirqbot is stateful. It internally keeps track of the things it is doing and needs to do. This causes all kinds of havoc when accidentally running two at the same time, and is generally more brittle than necessary. It should be the case that killing the script and restarting it has no observable effect on the behavior.

Here is the workflow I have in mi

[2018-11-07 22:15] dabacon commented on #1037
OK so this is actually connected to Fourier transforms over non-abelian groups!  Let me try to explain.  TLDR: take the QFT over the Pauli group of the a,b,c,d coeeficients, raise these to a power, and then inverse QFT to recover new Pauli vector!

Let G be a finite group.  Functions on this group to some field (lets just say complex numbers for now)  f: G -> C form a nice ring.  A convenient way

[2018-11-07 22:29] Strilanc opened #1124 "Add performance testing"
Given that we've now had our first proper performance bug (`kak_decomposition` being very slow), I think it's time that we added some kind of performance benchmarking process that can be run by the continuous integration scripts.

On another project, the way I did this was by decorating tests with a "performance goal" like this:

[code]

And the test would fail if the code ran slower than the goal

[2018-11-07 22:41] Strilanc commented on #1061
You're right, I think this is done. Good work!

[2018-11-07 22:41] #1061 closed

[2018-11-07 22:46] Strilanc opened #1125 "Should we add a `cirq.commutes`/`_commutes_(other)` protocol?"
Knowing commutation information can be helpful when working with circuits, and it seems likely that we will need it. For example, we may want a stronger version of "place at earliest possible position" where CZ gates being added actually commute over Z gates and other CZs in their way.

@dabacon opinions?

[2018-11-07 22:54] Strilanc opened #1126 "Fix dev_tools/auto_merge.sh thinking stale reviews count as disapprovals"
e.g. https://github.com/quantumlib/Cirq/pull/1067

[2018-11-07 23:00] Strilanc commented on #1051
Displays should act completely independently of each other, I think. The questions of "which repetition count" dominates shouldn't even come up, because they are populated by entirely separate runs (otherwise you could see spurious correlations between displays when sampling).

Of course, if we can prove that a given circuit is of a class where two displays can be computed simultaneously, then we

[2018-11-07 23:47] Strilanc opened #1127 "Remove `cirq.Optimizer` class, which is just a `Callable[[Circuit], None]`"
More generally, instead of having to say `cirq.google.EjectZ().optimize(circuit)`, we should just be able to say `cirq.push_z_gates_to_end_of_circuit(circuit)`.

[2018-11-07 23:52] Strilanc opened #1128 "Move no-longer-xmon-specific optimizers from `cirq.google` to `cirq.optimizers`"

[2018-11-08 00:16] Strilanc opened #1131 "Show empty moments in text diagrams (as extra spacing)"
For example, currently this code:

[code]
prints:

[code]

but it should print this instead:

[code]

It was originally intentional to remove the empty moments, but now I think they should be shown.

[2018-11-08 15:48] dabacon opened #1134 "use property getter and setter for state in StepResult"

[2018-11-08 15:53] vtomole commented on #1015
Not sure what I need to update. The tutorial says `GridQubits implement the QubitId class, which just means that they are equatable and hashable.` This hasn't changed, right? I mean `QubitId` still contains those methods. Do i need to add a blurb about how`QubitId` sorts?

[2018-11-08 19:20] sleichen opened #1135 "Controlled Rotation has the wrong relative phase"
ControlledGate(Rx(pi)) produces a CNOT where it should be have an extra factor of -i in the lower part of the matrix. Here is some code:

Input:
[code]
Output:
[code]
An angle very close to pi appears to have the correct behavior:
Input:
[code]
Output:
[code]

[2018-11-08 20:55] Strilanc commented on #1135
Good catch. This is because the `_apply_unitary_to_tensor_` method of `XPowGate` is failing to include the global phase.

[2018-11-08 20:57] Strilanc commented on #1053
New test to include, specific to EigenGate: check if there is a global_shift parameter in the constructor and, if so, vary it to a few values.

[2018-11-08 21:41] kevinsung commented on #1135
This will be fixed at the same time as #1053

[2018-11-08 21:53] Strilanc commented on #1053
A bit sooner than that, actually. This is release blocking.

[2018-11-08 21:53] Strilanc commented on #1053
Oops, wrong spot

[2018-11-08 21:54] Strilanc commented on #1135
This is release blocking IMO, so I fixed it right away in https://github.com/quantumlib/Cirq/pull/1136

[2018-11-09 00:15] #928 closed

[2018-11-09 06:14] kevinsung opened #1137 "Inconsistent QASM for ControlledGate(X)"
Executing
[code]
raises an AssertionError.

Input:
[code]
Output:
[code]

[2018-11-09 18:41] MichaelBroughton commented on #1098
I'd be happy to do this , but I think it's worth noting we may not be able to use unicode fractions, since I don't think there are very many ?

http://unicode.org/cldr/utility/list-unicodeset.jsp?a=[:Decomposition_Type=Fraction:]

[2018-11-09 18:46] dabacon commented on #1098
And frankly they are not very readable.

[2018-11-09 21:00] Strilanc commented on #1084
This has been fixed.

[2018-11-09 21:00] #1084 closed

[2018-11-09 21:34] kevinsung opened #1139 "Define _unitary_ for QasmUGate and QasmTwoQubitGate"

[2018-11-10 08:37] jaywha commented on #1139
In [qasm_output.py](https://github.com/quantumlib/Cirq/blob/master/cirq/circuits/qasm_output.py), I see the 2 classes, but what should _\_unitary_\_ be?
Is it a [unitary matrix](http://mathworld.wolfram.com/UnitaryMatrix.html)?

[2018-11-12 02:15] Strilanc opened #1142 "Circuit diagram moment indicators use unicode characters when use_unicode_characters=False"

[2018-11-12 02:29] Strilanc opened #1143 "Test failures on windows machine related to numpy types being present"
[code]

[code]

Also there's this failure related to floating point rounding error (ConvertToPauliStringPhasors and friends should default to a non-zero tolerance):

[code]

[2018-11-12 02:32] Strilanc opened #1144 "Various XmonSimulator tests failing on windows"
I think they all have to do with multiprocessing. Maybe we should check the OS before using it?

[code]

[2018-11-12 21:09] dabacon commented on #393
Found a pretty bad place where this bites us pretty badly.  The way we define the Rx gate (which most people will use) we only allow the radians to be passed in and then we rescale it.  So you cannot use symbols with the Rx gate.

[2018-11-12 21:41] dabacon opened #1146 "Running circuit through decompose mucks with qubit name in odd way"
[code]
prints
[code]

[2018-11-12 21:51] Strilanc commented on #393
@dabacon We were *already* being bitten by that. Having the method just makes it more blatant. (This is why @babbush has been bringing it up; they prefer radians and so have been running into it.)

The change @vtomole is making will address this as a side effect, though it might be a few iterations before it starts to work.

[2018-11-12 21:53] dabacon commented on #1146
Oh I see what happened.  I passed in qubits and not *qubits, which ended up making qubit id the tuple which, of course is hashable and nice, but not really what I wanted to do.

[2018-11-12 21:53] #1146 closed

[2018-11-12 22:02] Strilanc commented on #1146
Maybe we should add a check to `Gate.on` that the values are `QubitId` instances?

[2018-11-12 23:06] Strilanc commented on #1139
@jaywha Yes, the output of `_unitary_` is the unitary matrix of the operation. E.g. for the Pauli Z gate the matrix is diag(1, -1).

[2018-11-13 04:55] vtomole commented on #1124
Can we have CirqBot create a new issue for every performance test that fails? Maybe for each pull request that breaks performance tests as there could be too many issues created with the first approach.

[2018-11-13 15:52] dabacon opened #1149 "Gates do not include explicit matrix definition of what they do."
We keep writing gates that don't have documentation about what they ACTUALLY do without looking into EigenGate :(

[2018-11-13 15:56] dabacon commented on #1149
XXPowGate documentation about matrix is also wrong.

[2018-11-13 16:13] dabacon opened #1150 "is_xmon_native_gate"
When interactively working it's odd to create a qubit when what i really want to know is whether the Gate is an xmon supported gate, not whether the op is.

[2018-11-13 18:08] smitsanghavi commented on #1119
One issue I'm realizing with making EARLIEST the default is that it doesn't respect explicitly defined moments or OP_TREE structure. Will this be an issue for people using the APIs? What is the expectation in case of circuits specified as series of explicit moments?

[2018-11-13 18:29] kevinsung commented on #1137
In the above code, if you change `qubits[::-1]` to `qubits` then the unitaries match. However, you need `qubits[::-1]` to make it work for `cirq.CNOT`.

[2018-11-13 21:21] Strilanc commented on #1119
Currently, passing more than one moment into append or insert is considered to be an error. And if you pass in a moment, it goes directly into the list without any re-arranging of the gates. So I don't think this will be an issue.

[2018-11-13 23:04] Strilanc opened #1152 "cirq.Simulator fails when measurements are involved"
The issue appears to be calling append instead of extend:

`                        measurements[cast(str, gate.key)].append(*corrected)`

should be:

`                        measurements[cast(str, gate.key)].extend(corrected)`

Though we really need to test the case to catch any follow-ons.

[2018-11-14 02:41] Strilanc commented on #118
This has now been fixed. `cirq.ZPowGate` takes an exponent, and `cirq.Rz` takes rads.

[2018-11-14 02:41] #118 closed

[2018-11-14 03:13] #1098 closed

[2018-11-14 03:14] Strilanc commented on #1124
That's a decent idea. Test performance on PRs, but only *really* test it on master commits and when one of the tests starts failing open an issue (or update existing issue).

[2018-11-14 05:28] viathor opened #1156 "Use protocol buffers for serialization instead of dicts"
When code generated from protocol buffer defs was removed in #825, a number of serialization/deserialization functions that used them (e.g. `sweep_to_proto()`) were changed to return/accept `dict` instead. We have recently undone the removal (see #1085).

Should also undo the serialization/deserialization change? Protocol buffers offer stronger type safety than `dict`.

[2018-11-14 18:09] MichaelBroughton commented on #1094
Are you thinking of answering these kinds of questions with tomography or did you have something else in mind ?

[2018-11-14 19:09] Strilanc commented on #900
I think we'd do this with a protocol such as `_isclose_` or `_is_approximately_equal_`, and a global utility `cirq.isclose` or `cirq.approx_eq`. The method would take `atol` and `rtol` as the numpy methods do, and then each gate would be responsible for knowing how it compares.

We might be able to make a variant of `cirq.value_equality` for this task, which would make it much easier.

[2018-11-14 19:19] Strilanc commented on #868
This will be fixed by fixing https://github.com/quantumlib/Cirq/issues/393

[2018-11-14 22:52] #1152 closed

[2018-11-14 22:53] Strilanc commented on #1094
I was thinking that, for the trial results that have the actual wavefunction, it would directly compute the bloch vectors. If there's only sample data, then the bloch vector would be unavailable but the expectation of observable Z would be.

[2018-11-15 00:23] Strilanc opened #1158 "Simulation should fall back to decomposition when unitary isn't available"
A user should be able to implement a gate with a `_decompose_` into other known gates, and be able to simulate it.

...I actually thought it was working this way already (oops).

[2018-11-15 01:34] MichaelBroughton commented on #1094
Ok I think I'd be up for adding a few of these. I'm thinking most of the logic might live in `sim/wave_function.py` and then would get passed up to TrialResult similar to how `dirac_notation` is done. What do you think ?

[2018-11-15 01:48] Strilanc commented on #1094
That sounds good to me.

[2018-11-15 01:53] Strilanc commented on #1043
Fixed by https://github.com/quantumlib/Cirq/pull/1102 (which implements the correct gate, not this one)

[2018-11-15 01:53] #1043 closed

[2018-11-15 02:53] #1137 closed

[2018-11-15 07:01] viathor opened #1159 "Broken Hadamard gate decomposition"
Steps to reproduce:

[code]

Note that exponentiating the gate to a power different from 1.0 makes this work, suggesting a special casing of a decomposition is the culprit.

This affects other gates whose decomposition includes Hadamards (e.g. iSwaps).

There is a unit test that compares the unitary given by the gate and by its decomposition, but the assert it uses makes the comparison merely up t

[2018-11-15 08:43] Strilanc opened #1161 "Make decompositions respect global phase"
I've seen enough people confused by the fact that decomposing a gate can change its global phase to be convinced that we should try to preserve it.

I think the way we should do this is by adding a "global phase gate" that moments or circuits automatically fold and diagrams treat specially in some way. Then we need to go through all the decompositions and add this global phase part. We would also

[2018-11-15 08:43] Strilanc commented on #816
Obsoleted by https://github.com/quantumlib/Cirq/issues/1161

[2018-11-15 08:43] #816 closed

[2018-11-15 08:44] Strilanc commented on #1159
Decompositions aren't required to maintain global phase. I opened https://github.com/quantumlib/Cirq/issues/1161 to fix this.

For this particular issue I guess we could global shift the Z...

[2018-11-15 17:03] maffoo commented on #1159
@viathor, the situation you described is not a problem. A "global" phase on a single qubit operation is still a global phase of the full system when you take a tensor product with other qubits, so it really is unobservable. You only have a problem if you're doing one of the operations _conditionally_ on the state of the other qubit (there was discussion of this on #865). But I agree with @Strilanc

[2018-11-15 17:33] dabacon commented on #1158
I'm not sure I agree with this.

Already we have had a regression because xmon simulator was using KAK and causing it to be very slow.  This means for a complicated gate it will fall back on whatever decompose is when it is faster and better to just implement the unitary.

Decompose itself is also very confusing.  Do we allow passing in a different compose?

It also feels like we are sicking every

[2018-11-15 17:47] viathor commented on #1161
I changed the assert for unitary-vs-decomposition consistency to respect global phase in #1160. Hadamard was the only one broken by this change, so the last step above should be simple.

[2018-11-15 18:18] kevinsung commented on #1158
@dabacon even if it's faster and better to actually implement the unitary, I don't think we should _require_ it of the user. Making this change won't make anything slower; it'll just give the user more options for getting a gate to be simulated.

Also, XmonSimulator already does this! I.e., the following code works, but not if you replace XmonSimulator with Simulator
[code]

[2018-11-15 20:52] Strilanc commented on #1158
The user said simulate, and it is our job to do our best to get that done. More generally, we want it to be easy to define the gates you want to use and having the simulator natively understand "oh I should try to decompose" gives users an additional implementation option.

That all being said, I think that it does make sense to have a strict "give me what I understand and nothing else" simulator.

[2018-11-15 21:17] #1159 closed

[2018-11-15 22:56] dabacon commented on #1158
I agree the xmon simulator shouldn't do it.

[2018-11-15 23:06] dabacon commented on #1158
I think the problem here is in decompose.  Decompose is  not well defined.  There are infinite number of decompositions, why did you chose one over the other?  It seems completely arbitrary.  Already we see people getting factors of 10 worse because they are using the default decompose on methods in a particular gate setting.  This is completely unexpected for most users.  There are places where d

[2018-11-15 23:10] Strilanc commented on #1158
The 10x slowdown in XmonSimulator is because we forced unnecessary decompositions. In sparse simulator we stop as soon as there's a unitary or apply unitary method. I think this is the right thing to do, with the possible caveat that operations on large numbers of qubits should be further decomposed.

In my mind the intent of decompose is clear, but perhaps not clearly documented. The documentatio

[2018-11-15 23:11] dabacon commented on #930
bump bump

This causes a ton of confusion.

[2018-11-15 23:33] dabacon commented on #1158
So this should really go over in  #930 where I bring up decompose being ill defined.

But a question does arise here about how to fix this "bug".  If we are going to rely on decompose as a fallback for missing unitary, why shouldn't that be part of the unitary contract (i.e. fallback on decompose)

[2018-11-15 23:41] Strilanc commented on #1158
The distance metric I had in mind was "number of decompositions remaining until you're within the set".

I like that idea. We'll need some way to indicate the qubit order...

I would open that as a separate issue to combine these various workarounds into a top-level support decomposing when asking for unitary, has_unitary, and apply_unitary.

[2018-11-15 23:42] Strilanc opened #1163 "Make `unitary`, `has_unitary`, and `apply_unitary` fallback to `decompose`"
This will make them consistent with how the simulators currently work, and probably better represents the user's intent (i.e. "I have a thing I don't know the function of, please do your best to tell me what it does").

Note that this will naturally result in lists of unitary operations having a unitary matrix according to cirq.

We might need to add an optional `qubit_order` value to the `unitary

[2018-11-15 23:55] dabacon commented on #1163
I'm down with this but think we need to make sure we have pinned down what decompose actually means first #930

[2018-11-16 00:08] dabacon commented on #930
Just to repeat what I've said elsewhere: the decompose contract causes lots of confusion because it is not clear a) what one should decompose into, b) whether one should implement both unitary and decompose.

It also hides from users a very important fact of hardware, which is the native gate set for a device. A factor of x in this type of decomposition is multiplicative across the number of gates

[2018-11-16 00:12] dabacon commented on #930
Some notes:

Gate sets can sometimes be very discrete or floating point precision discrete.  We should be able to handle both (not for QEC reasons but more because there may be calibrated two qubit gates that you'd like to rely on).

Defining a default cirq gate set that decompose aims for seems fine to me.  I would argue for X,Y,Z Pow and CZ Pow.

[2018-11-16 00:34] Strilanc commented on #930
In other words, decompose is very much a fallback strategy for simplifying gates into a form that can hopefully be understood. We don't guarantee that this strategy is efficient or sticks to discrete gates or tries to minimize CZs or anything like that, we just do a best-effort make-it-simpler.

[2018-11-16 00:44] #1158 closed

[2018-11-16 01:03] kevinsung commented on #1053
What to do with gates for which QASM output just doesn't work (i.e. some ControlledGates)?

[2018-11-16 01:41] Strilanc commented on #1053
We should detect the not-implemented situation and default to 'vacuously correct'. This involves re-implementing some of the logic in QasmOutput, unfortunately.

[2018-11-16 01:56] kevinsung commented on #1053
Actually, `assert_qasm_is_consistent_with_unitary` should be using the line
[code]
instead of the current one,
[code]
This currently causes
[code]
which we need to fix.

[2018-11-16 02:15] kevinsung commented on #1053
However, the `qubits[::-1]` thing is quite confusing. Should we be changing the order of qubits in the `_qasm_` methods?

[2018-11-16 03:44] kevinsung commented on #1161
Well, the tests in #1165 are failing because #1160 changed `assert_decompose_is_consistent_with_unitary` to require global phase consistency

[2018-11-16 04:42] Strilanc commented on #1161
Oh. That's my mistake for letting that through before we were ready to really guarantee it. Revert it in your PR.

[2018-11-16 04:49] viathor commented on #1161
Oops. Sorry for that. I thought that since all other gates passed the new stricter test we were ready to provide the stronger guarantee. Didn't know about #1165 .

An alternative to reverting would be a temporary switch for use in tests of gates that fail the stricter version of the test.

[2018-11-16 05:32] Strilanc commented on #1161
Yes, I agree that a boolean switch defaulting to "phase insensitive" would be ideal.

[2018-11-16 07:09] vtomole commented on #1124
Assuming that the `assert` statement is in the decorator, If
[code]
fails, pytest will show that it failed in the decorator instead of in `test_kak_decomposition()`. How do you get around that?

[2018-11-16 07:12] vtomole commented on #1124
Assuming that the `assert` statement is in the decorator, If
[code]
fails, pytest will show that it failed in the decorator instead of in `test_kak_decomposition()`. How do you get around that?

[2018-11-16 16:04] dabacon commented on #930
I think that you are minimizing the importance of gate sets for hardware.

Think about how often you've been listening to experimentalists / hardware folks and you seen them focus in on what gates are needed for a specific operation.  Often they do this and it seems a little bit exasperating: don't they know the canonical decomposition of two qubit gates?

Think about how many times we've seen the

[2018-11-16 18:16] kevinsung opened #1166 "QASM test method doesn't use QASM protocol"
The test method `assert_qasm_is_consistent_with_unitary` doesn't use the `protocols.qasm` method. Instead, it uses the line
[code]
My understanding is that the reason `protocols.qasm` isn't used is that it doesn't let us pass in qubits in the reverse order, which is necessary due to qiskit using the reverse qubit ordering convention to convert a QASM to a unitary.
Blocking #1165

[2018-11-16 20:04] dabacon opened #1168 "check.sh fails on clean master"
Just merged master and ran check.sh and it is failing due to tensorflow

[code]

[2018-11-16 20:10] Strilanc commented on #1168
I think the fix is to add `tensorflow` to `dev_tools/conf/apt-list-dev-tools.txt`

[2018-11-16 20:58] dabacon commented on #1168
Should try to keep in line with travis, so I guess second fix is correct one?

[2018-11-16 21:05] Strilanc commented on #1168
I agree

[2018-11-16 23:14] Strilanc commented on #930
We could add the concept of `_decompose_with_gate_set_`, which would fall back to `_decompose_` if not specified. Then `cirq.decompose` could take an optional gate set argument and use that when deciding which methods to call.

I guess my intuition is that if someone is calling decompose, they've already sort of given up on fine control over how the circuit looks. The reason it's bad to decompose

[2018-11-19 22:08] kevinsung commented on #1166
@Strilanc I think the correct thing to do is to not have `qubits[::-1]` anywhere, and to instead reorder the unitary returned by qiskit in tests. What do you think?

[2018-11-19 22:59] Strilanc commented on #1166
I agree.

[2018-11-19 23:38] Strilanc commented on #1124
The decorator should produce a new test method that performs the actual testing. The new test method can also output stats such as what time was actually measured (since you usually want to hover somewhere around half of the goal due to statistical noise).

[2018-11-19 23:40] Strilanc commented on #1124
Something like this:

[code]

[2018-11-20 01:36] Strilanc commented on #184
`SpecificQubitsDevice` would require operations to only apply to a given set of qubits specified at initialization time of the device class instance. It wouldn't apply any locality constraints.

[2018-11-20 05:56] Strilanc commented on #657
Fixed by https://github.com/quantumlib/Cirq/pull/1082

[2018-11-20 05:56] #657 closed

[2018-11-20 07:35] kevinsung commented on #1166
#1176 fixes the order thing; the remaining issue is that simply calling `protocols.qasm(op)` won't work due to the different qasm protocols that can be implemented; some require QasmArgs, some require qubits.

[2018-11-20 09:05] Strilanc commented on #1166
Check out how `assert_decompose_is_consistent_with_unitary` does it. It just special cases operations and gates, since that's basically the distinction between qubits and no qubits. An alternative strategy would be to do runtime inspection of the method, but I'm happy with something simple that works on cases we care about for now.

[2018-11-20 17:43] kevinsung commented on #1166
I looks like we can make `isinstance` work by explicitly declaring protocols to be [runtime checkable](https://www.python.org/dev/peps/pep-0544/#runtime-checkable-decorator-and-narrowing-types-by-isinstance). I'm not sure we want to do that though; I'll try the special cases strategy you suggested.

[2018-11-21 00:20] #1166 closed

[2018-11-21 01:52] #1094 closed

[2018-11-21 04:00] viathor opened #1179 "gate1 == gate2 should imply f(gate1) == f(gate2)"
Example where it doesn't:

[code]

This is a consequence of our attempt to preserve the identity

[code]

The identity is true for real numbers. It fails when we move on to complex numbers. From then on it continues to fail for unitary operators.

I understand the desire for intuitive behavior, but I fear that an attempt to preserve a false identity will just lead to a surprising behavior elsewher

[2018-11-21 05:03] Strilanc opened #1180 "For circuit diagram exponents equal to 0, output "^0" instead of "^(0)""
It was an unexpected side effect of the fractional exponents change that caused us to output `(0)` instead of `0.0`; might as well go all the way.

[2018-11-21 16:53] viathor commented on #1179
@Strilanc are you saying that `(Z**-1)**0.5` should return `S**-1` rather than `S`? (Below I assume yes, please disregard otherwise.)

Taking roots is a multi-valued function, i.e. for any a and n there is generally many x such that

[code]

This is true for integers, reals, complex numbers and operators. For example, both 2 and -2 satisfy x^2 = 4, both i and -i satisfy x^2 = -1 and both S and its

[2018-11-21 17:09] vtomole opened #1183 "Attach due dates to milestones."
For example, 0.4: https://github.com/quantumlib/Cirq/milestone/2 has no due date.

[2018-11-21 19:23] Strilanc commented on #1180
@zoltanegyed

[2018-11-21 19:23] Strilanc commented on #1131
@zoltanegyed

[2018-11-21 19:31] MichaelBroughton commented on #1180
For anyone looking to resolve: all of the work to fix this can be done in: `_formatted_exponent` in `cirq/circuits/circuit.py`

[2018-11-21 21:02] Strilanc commented on #1179
Yes, `(Z**-1)**0.5` should return `S**-1`. `(Z**3)**0.5` should also return something equivalent to `S**-1`.

An example of existing functionality standard to all languages that violates `a == b implies f(a) == f(b)` is how signed zeros interact with floating point division. 0==-0 but inf = 1/0 != 1/-0 = -inf.

[2018-11-21 23:55] viathor commented on #1179
Intriguing. For diagonalizable operator A with eigenvalues λ1..λn and analytic function f, f(A) is the operator with eigenvalues f(λ1)..f(λn) (and same eigenvectors). In this case we're taking square root of an operator with eigenvalues 1 and -1, so one would expect that the square root has eigenvalues 1 and i (since sqrt(-1) is generally accepted to be i and not -i by the PV convention above). In

[2018-11-22 00:07] Strilanc commented on #1179
Because `(g**a)**b` should equal `g**(a*b)`.

The gates have an internal winding number, and raising to a power scales the winding number. Winding twice is equivalent to winding once in terms of its final effects, but it's possible for mathematical invariants to be phrased in terms of the winding number and then the multiplicity matters.

[2018-11-22 01:45] Strilanc commented on #1073
Fixed by https://github.com/quantumlib/Cirq/pull/1184

[2018-11-22 01:45] #1073 closed

[2018-11-22 02:03] Strilanc opened #1185 "Make the table in cirq.SimulationTrialResult's doc string render as a table on readthedocs"

[2018-11-22 02:05] Strilanc opened #1186 "Increase consistency of documentation conversion"
Currently there are a lot of easily-triggered corner cases where our custom code, Sphinx, and its extension Napoleon interact in some bad way that e.g. results in indented text not being placed into a code block (and there being an empty code block just before it). We should improve this over time.

[2018-11-22 02:07] Strilanc opened #1187 "Automatically detect docstrings that should be r-strings"
When embedding latex into a docstring, it's common to use backslashes. Python interprets those as character escapes, so e.g. `\begin{bmatrix}` ends up turning into a bad character followed by `egin{bmatrix}`. We should automatically detect when this happens, and raise an error saying the user needs to prefix the docstring with `r`.

I think pylint might have a rule for this.

[2018-11-22 02:08] Strilanc opened #1188 "Make markdown-to-rst conversion work within Args, Returns, and other sub-sections"
Currently the conversion cuts off just before those sections start in docstrings, to avoid interacting with Napoleon too much.

[2018-11-22 02:10] Strilanc opened #1189 "Detect unescaped double-underscore and single-underscore values in docstrings"
These are almost always intended to refer to magic methods, but markdown/rst/etc interpret it as emphasis and remove the underscores. We should detect that this is happening and raise errors.

[2018-11-22 02:11] Strilanc opened #1190 "Remove `cirq.Tolerance`"
This class ended up being nothing more than a variation on passing `atol` arguments, so it's not pulling enough weight to justify being in the API.

[2018-11-22 03:15] vtomole commented on #1180
@Strilanc
[code]
Passes on my machine off of the latest code in master. May you point me to an example where this is not the case?

Thanks.

[2018-11-22 03:40] Strilanc commented on #1180
Example repro:

[code]

Prints:

[code]

[2018-11-22 03:43] vtomole commented on #1180
Was able to reproduce as soon as I made that comment. Should have edited instead of deleted. Thanks.

[2018-11-22 04:50] #1180 closed

[2018-11-22 05:19] kevinsung commented on #1161
After #1165 , fixing this issue amounts to making the `include_global_phase` argument of `assert_decompose_is_consistent_with_unitary` default to True and then fixing the broken tests.

[2018-11-22 05:42] #1053 closed

[2018-11-23 17:50] viathor commented on #1179
So, the failure of expressions such as `(Z**-1)**0.5` to evaluate to their principal value (here `S`) is another consequence of the desire to force unitaries to obey `(g**a)**b == g**(a*b)`. Like the inequality weirdness above, this leads to surprising behavior.

Here's what the user will most likely expect:

<img width="341" alt="sqrtz_pv" src="https://user-images.githubusercontent.com/40255865/4

[2018-11-23 22:31] Strilanc commented on #1179
Off the top of my head, I remember that sphere eversion is possible because of conservation of a 3d analogue to the 2d winding number https://www.youtube.com/watch?v=sKqt6e7EcCs

[2018-11-26 13:16] dlyongemallo opened #1195 "xmon native gates should be extended to include all single qubit gates"
In particular, the random circuit generator to produce the circuits for https://github.com/sboixo/GRCS/tree/master/inst/cz_v2 (https://arxiv.org/abs/1807.10749) add an initial and a final moment of Hadamards on every wire, but the xmon devices do not support the Hadamard gate.

[2018-11-26 15:16] andbe91 commented on #1190
Hi @Strilanc
This looks like a simple enough issue to start my contributions with. Just to make sure I understand, you only want it removed from the API, i.e. basically removing the import from the __init.py__ in the root directory?

[2018-11-26 15:29] vtomole commented on #1190
@andbe91 I've started working on this but i didn't officially claim it so it's up to @Strilanc to decide; but yes, remove every reference to `Tolerance` (removing tolerance.py. e.t.c).

[2018-11-26 17:20] dabacon commented on #1195
We should be careful here since adding composite gates can result in behavior that does not closely track hardware.

[2018-11-26 17:38] dabacon commented on #1179
Just a side note that there are way more than two different Hamiltonians applied for the same amount of time that can generate a unitary.  Every eigenvalue of a unitary is ambiguous up to a phase of 2 \pi.

This discussion is the reason that most people in quantum computing do not talk about raising a gate to a fractional power.  A cursory look shows that no one else does this.

My inclination wou

[2018-11-26 18:42] andbe91 commented on #1150
I'm willing to work on this.
@dabacon I can add a new function called `is_native_xmon_gate` next to `is_native_xmon_op` which checks if the provided `Gate` is an instance of one of the gates native to the xmon. I will then write a test for it, along with docstrings for both `is_native_xmon_gate` and  `is_native_xmon_op` which is currently lacking documentation. Does that sound good to you?

[2018-11-26 18:46] andbe91 commented on #1190
@vtomole since you have already started, it might be better if I work on another issue. Please let me know if you want me to take over for some reason.

[2018-11-26 19:43] Strilanc commented on #1190
@vtomole is correct; this would involve completely deleting the class

[2018-11-26 19:44] Strilanc commented on #1190
That being said, I think the main important arguments to propagate are `atol` and `rtol`, no need for the nan ones.

[2018-11-27 03:33] Strilanc opened #1197 "Don't show "edit on github" for generated files on readthedocs"
Example: https://cirq.readthedocs.io/en/master/generated/cirq.TwoQubitMatrixGate.html#cirq.TwoQubitMatrixGate

![image](https://user-images.githubusercontent.com/79941/49056813-0da21980-f1b2-11e8-8ee8-be20d3e2d79f.png)

The link leads to a 404 because that file is generated; it's not under version control.

[2018-11-27 03:34] Strilanc commented on #1150
Sounds good to me.

[2018-11-27 13:57] andbe91 commented on #1150
Thanks for the invite, I just accepted it.

[2018-11-29 15:30] vtomole commented on #1002
@verult Cirq is for NISQ circuits/algorithms. In my opinion, I don't think non-NISQ circuits/algorithms should land in the main repository because that's not how we're advertising ourselves. The paper you linked to in https://github.com/quantumlib/Cirq/issues/996 implements HHL on IBM hardware; which are NISQ devices. Maybe we can implement non-NISQ-y algorithms/circuits on Cirq's noisy simulator?

[2018-11-29 16:58] dlyongemallo commented on #1195
I'm having the problem that the randomly generated circuits from `generate_supremacy_circuit_google_v2_bristlecone` _always_ have a Moment of Hadamard gates at the input and output.

The following code fails:

[code]

With the error:

[code]

[2018-11-29 18:52] Strilanc opened #1204 "Fix cirq.contrib.tpu not showing up in documentation"
I have no idea why sphynx is omitting this particular package and not others, but it is. We need to figure out why and fix it.

[2018-11-29 18:54] Strilanc opened #1205 "Include files from examples/ in the documentation"
We wrote all these examples, but if you go to readthedocs you have no idea they even exist.

As a starting point it is acceptable to do nothing but iterate over the source files (except test) and produce a page containing nothing but the source file as a code block.

[2018-11-29 19:41] rdisipio opened #1206 "Wrong simulator in Hello QBit example"
Hi,

  the example that appears in the README file does not work. I get the following error:

[code]

It works fine if I just change the line where you define the simulator with:

[code]

Cheers,
Riccardo

[2018-11-29 20:06] vtomole commented on #1206
Thanks for opening up this issue @rdisipio. The example in the README works for me based on the latest code from the master branch. Could you please emphasize why that example is not working for you? Are you receiving an error message? Is so, what is the message? Are you receiving incorrect output?

[2018-11-29 20:19] rdisipio commented on #1206
Hi,

   I think I just followed the instructions. I created a virtualenv based on python3 and
[code]

Then I just tried to execute the code, but I got this error:

[code]

As reported, by changing the line where the simulator is defined, I can make it work. Perhaps I should check out the master branch instead? Is it available from pip already? Or do I have to clone the repository?

Thanks,
Riccard

[2018-11-29 20:37] Ashalynd commented on #1206
I confirm. Could reproduce this from the version installed with pip (python3).

[2018-11-29 20:40] Ashalynd commented on #1206
`pip freeze | grep cirq`
`cirq==0.2.dev0`

[2018-11-29 20:43] rdisipio commented on #1206
Hi,

  I clone the repository from git, and now it worked fine with the ```cirq.Simulator()``` simulator. Perhaps you want to make it more explicit in the REAME file.

Thanks!
Riccardo

[2018-11-29 20:45] Ashalynd commented on #1206
Suggestion: add release notes somewhere. ( I couldn't find an easy way to figure out what version of Cirq has been released to be installed via pip. )

[2018-11-29 20:47] Ashalynd opened #1207 "Add release notes"
Verifying #1206 , I have realized that there aren't release notes for Cirq yet. I suggest adding them, it would at least make it easy to track issues which might occur in different versions.

[2018-11-29 20:52] vtomole commented on #1207
Agree. We should add them on here: https://github.com/quantumlib/Cirq/blob/master/release.md

[2018-11-29 20:56] vtomole commented on #1206
@rdisipio  All the examples on the master branch are up to date with the version on master; no need to add anything to that. The problem arises from different versions of Cirq where each version might no be backwards compatible.

[2018-11-29 22:21] kevinsung opened #1208 "What's the purpose of the with_qubits method of Operation?"
Its existence implies that an Operation should not only have qubits, but should also maintain an ordering for those qubits. Otherwise, you wouldn't know how the old qubits mapped to the new ones. Why should an Operation maintain such an ordering? For instance, I don't see why PauliString should.

[2018-11-30 08:48] Strilanc commented on #1204
Definitely! Go for it!

[2018-11-30 10:42] Ashalynd commented on #1207
Oh I see, thanks for pointing that out. Usually such things are a bit more "in your face", e.g they are called "release_notes" or "changelog" (like e.g. in one of [Qiskit](https://github.com/Qiskit/qiskit-terra/blob/master/CHANGELOG.rst) repos), which is why I was confused.

[2018-11-30 10:54] Ashalynd commented on #1206
Yep, pip install cirq --upgrade solves this issue.
(Verified that it ups Cirq to 0.4.0)

[2018-11-30 18:05] kevinsung commented on #1206
This issue is really about the README on GitHub potentially being out of sync with the PyPI version, which can cause confusion.

[2018-11-30 18:40] Strilanc commented on #1206
We should be careful about documentation saying `pip install cirq` and then using dev-version code. And if the readme contains dev-version code, we should probably call that out with bold text. I've been assuming that non-dev-using users go to readthedocs and dev-using users go to github, but that's not a very good approximation.

[2018-11-30 18:42] rdisipio commented on #1206
Hi,

  I think the problem is that there are some articles and blog post around that point to the GitHub repository. Hence, I tried to follow the instructions that appear in that README file, not from readthedocs.

Best,
Riccardo

[2018-11-30 18:57] vtomole commented on #1206
In my opinion, the README should not have dev-version code because the README links to the install instructions that say "use `pip install cirq`". If the README said

[code]
That would be another story.

[2018-11-30 23:57] viathor commented on #1179
Had a quick look at what implementation of this might look like. AFAICT, we should be able to store only canonicalized exponent. For EigenGate, this should give us nice code simplification by removing the need for having two different exponents for different purposes (equality tests vs other computations) and by removing the need for caching canonicalization result.

@Strilanc Unless you object, I

[2018-12-01 00:06] Strilanc commented on #1179
Yeah, go ahead and implement it.

I think the main obstacle you will run into is that the canonicalization differs when ignoring global phase and when not ignoring global phase, and this distinction has to be resolved. I think the solution is to bias much more heavily towards not ignoring global phase, e.g. show it in diagrams.

[2018-12-01 13:48] andbe91 commented on #1083
Hi @iamvamsi, are you still working on this? If not, I'm happy to do it.

[2018-12-03 17:16] vtomole commented on #209
Pardon my ignorance on Colab, but isn't it a Jupyter notebook that runs on the cloud? If so, what does "making it publicly available" mean? Evaluating `!pip install cirq` would get you ready to go.

[2018-12-03 20:07] kevinsung commented on #1051
Obsoleted by #1215

[2018-12-03 20:07] #1051 closed

[2018-12-04 00:28] viathor opened #1216 "Property missing for instances of PhasedXPowGate"
Steps to reproduce:

[code]

The cause is the fact that `__new__()` intercepts and special-cases gate instantiations when phase_exponent is -1/2, 0, 1/2 or 1. It then returns an `XPowGate` or `YPowGate` which don't have `phase_exponent` property.

[2018-12-04 00:31] viathor commented on #1216
Since `PhasedXPowGate.__new__()` returns these gates for some parameter values, they are in a sense members of the `PhasedXPowGate` type and should behave as such.

[2018-12-04 08:33] #1216 closed

[2018-12-04 08:47] Strilanc commented on #1206
`pip freeze | grep cirq` will tell you the installed version

I will close this issue because the disagreement between the readme and the released version is resolved. I'll keep this in mind when changing the readme in the future.

[2018-12-04 08:47] #1206 closed

[2018-12-04 09:01] Strilanc commented on #1083
@andbe91 Feel free to take over this one.

[2018-12-04 09:04] Strilanc commented on #209
This issue is from before cirq was a public repository, and before it existed as a pip package, when we wanted external collaborators to be able to try it. It's obsolete now, or at least trivial (as you note @vtomole ; just `!pip install cirq`).

[2018-12-04 09:04] #209 closed

[2018-12-04 09:35] iamvamsi commented on #1083
@andbe91 : I haven't yet started on this. Please feel free to take it.

[2018-12-04 17:17] andbe91 commented on #1163
I can work on this. However, I will maybe need some guidance.

If I understand correctly, `unitary`  (`has_unitary`) should first try to decompose the object instead of raising `NotImplemented` (returning `False`)? However, if decompose fail, it should still raise  NotImplemented (return False)?

I can't find a `apply_unitary_to_tensor` method anywhere in the code base.

I will probably get back t

[2018-12-04 18:34] kevinsung commented on #1163
`apply_unitary_to_tensor` was renamed to `apply_unitary`.

Yes, these methods should try to obtain a unitary effect through decomposition before giving up.

[2018-12-04 18:35] #1052 closed

[2018-12-04 22:18] Strilanc commented on #1163
You are going to run into the snag "what order are the qubits in?" when attempting to reassemble multiple little unitaries into one larger unitary. This might be hard enough to deal with that tagging the issue "good first issue" was a bad idea.

An acceptable compromise for this issue is to condition the decomposition fallback on the object being a `cirq.Operation`, because operations have a `qubi

[2018-12-05 19:49] Strilanc opened #1224 "Mention contrib requirements install during dev setup documentation"

[2018-12-06 02:26] Strilanc opened #1226 "Generalize TextDiagramDrawer to allow drawing outline boxes"
This issue is harder than it sounds. But I do think it's important for us to start being able to draw multi-qubit boxes in text diagrams and in the latex output.

1. Box interiors should cover lines but not text entries. The layer order is lines then boxes then text.

2. When a Box border intersects a line, it should produce the appropriate unicode character.

[code]

    - Including if the line i

[2018-12-06 06:19] #1131 closed

[2018-12-06 06:56] bryano commented on #1226
How would the boxes be specified?

[2018-12-06 08:12] Strilanc commented on #1226
Presumably

[code]

[2018-12-06 08:49] Strilanc opened #1227 "Fix QCircuit not wrapping unknown gates' text into a \gate box"
[code]

[code]

![image](https://user-images.githubusercontent.com/79941/49572461-b6f2b900-f8f0-11e8-9326-6cf0e95493a1.png)

[2018-12-06 09:37] andbe91 commented on #1150
This issue can now be closed right? Or is there anything missing?

[2018-12-06 09:39] andbe91 commented on #1163
Thanks for the hints. I will give it a try!

[2018-12-06 17:34] bryano commented on #1227
I'm working on a PR that will address this.

[2018-12-06 17:36] bryano commented on #1226
I meant at a higher level. I imagibe you'd want to box a set of operations or something like that. Relatedly, what use case(s) do you have in mind?

[2018-12-06 18:06] Strilanc commented on #1226
Ah. I try to keep the functionality of `TextDiagramDrawer` generic enough that it's not about circuits, but the reason for adding this feature is to do a better job of printing circuits with gates that act on adjacent qubits. For example, if you were printing a linear swap network with swaps between adjacent qubits then you could have a box that says "XX^0.5" instead of an XX^0.5 linked by a line

[2018-12-06 21:31] #1185 closed

[2018-12-06 22:35] #1113 closed

[2018-12-07 07:00] bryano commented on #1226
I see. Something similar is done in `qcircuit`, but the difference there is that it's just a matter of changing the wire symbols to use the "multigate" macro.

[2018-12-07 20:46] dabacon opened #1231 "Move bloch vector from StepResult to abstract class"
StepResult is a very generic interface which is used for simulating any sized system, but bloch vector is specialized to a single qubit.  If one really needs it one can just do cirq.bloch_vector_from_state_vector(step_result.state()).

[2018-12-07 20:50] dabacon opened #1232 "StepResult's denisty matrix should not take in integer indices but qubits instead."
Figuring these out from the natural interfaces of the simulation requires using the qubit ordering or looking into the qubit_map.  The more natural way to do this is to use the qubit_map.

[2018-12-07 23:31] dstrain115 opened #1235 "Consistent Protocol testing functionality relies on implicit imports"
testing/consistent_protocols_test.py and ops/controlled_gate_test both rely on gates within the test itself, which creates a representation of cirq.testing.consistent_protocols_test.GoodGate, for instance.

This is not actually imported, so certain environments (internal Google, for instance) fail these tests when you try to eval those repr() strings.

Either the test needs to move those gates to

[2018-12-08 00:07] Strilanc commented on #1235
We could pass explicit globals into the eval method. That might work.

[2018-12-08 18:45] bryano commented on #1226
If boxes are "in front" of lines (1), under what circumstances would a line cross a box (2)? Would we need to allow intersecting boxes?

[2018-12-10 00:47] Strilanc commented on #1226
Whenever a box is placed over a line, the line intersects the side of the box as it crosses behind the box. This requires a character to indicate the line apparently terminating into the side of the box.

For intersecting boxes... I guess we could go with last-added-wins and treat previous box boundaries as lines.

[2018-12-10 04:17] #1227 closed

[2018-12-10 22:12] bryano commented on #1226
The problem I see with the gridlines-at-half-integers approach is that gates on adjacent qubits should look like
[code]
rather than
[code]

See #1240 for a first step in an alternative direction:
1) Implement `TextDiagramDrawer.vertical_cut` a la `TextDiagramDrawer.horizontal_cut`.
2) Implement `TextDiagramDrawer.add_boxes` that
    a) Checks that boxes don't intersect.
    b) Inserts columns and

[2018-12-10 22:58] bryano opened #1241 "Remove OptimizationPass"
From @Strilanc: "it's nothing but a definition of a particular kind of Callable (and not even a complicated one)"

[2018-12-11 10:10] vinayphadnis opened #1242 "cannot import name 'Simulator'"
Following the Documentation to the [Simulator section](https://cirq.readthedocs.io/en/latest/simulation.html), and running the same code generates an error

[code]
I am using version: ```0.3.1.35```
Code I am running:
[code]

[2018-12-11 10:19] Strilanc commented on #1242
That documentation is for the latest stable version, which is v0.4. You need to update your installed version of cirq.

[2018-12-12 00:11] dabacon opened #1243 "Engine should support single program with multiple jobs easily in Cirq"
This is supported by the API but currently not supported by Cirq.

[2018-12-12 03:11] #792 closed

[2018-12-12 20:01] MichaelBroughton commented on #1232
I'll tackle this, I think this is an oversight in one of my earlier PR's, so hopefully a quick fix.

[2018-12-12 21:32] bryano opened #1245 "Overhaul diagram drawing"

[2018-12-12 21:43] kevinsung opened #1246 "Change all Circuit insertion methods to preserve Moments"
#1213 did this for `insert` and `append`, but not for `insert_into_range`, `insert_at_frontier`, `batch_insert`, or `batch_insert_into` (and any other ones I might have missed). Note that Moments now satisfy the OP_TREE contract.

To clarify what this means: OP_TREEs can contain sub-trees which are Moments. These Moments should be inserted into the Circuit intact instead of being flattened and mix

[2018-12-12 22:07] bryano commented on #1245
Is anyone working on "image diagrams"? In a sense, that's what the latex diagrams are. It would be great to have an alternative, because Xy-pic (on which qcircuit is based) can be tricky to get to do what you want it to.

I'm skeptical of the utility of 3D diagrams. They're great to put on a poster or magazine cover, but it's hard to see them being informative for more than a handful of gates. I t

[2018-12-12 23:08] Strilanc commented on #1245
No, no one is working on the image diagrams or 3d diagrams at the moment.

3d diagrams may be useful for tasks such as finding efficient cuts when optimizing tensor contraction order. They would definitely need to be interactive, with the ability to move the camera.

[2018-12-14 02:45] Ashalynd commented on #1086
Question: does it make sense to have an assumption that the same specific noise operator (e.g. amplitude damping) would apply to each operation in the given circuit?

[2018-12-14 03:33] #982 closed

[2018-12-14 07:37] kevinsung commented on #1086
Then this issue isn't really about noise at all then, but rather implementing simulation of channels, right?

[2018-12-14 17:54] bryano commented on #1245
One first step along these lines would be separating the "text" and "diagram" parts of `TextDiagramDrawer`. For example, the padding attributes thereof seem specific to text diagrams (at least in they way they're being used now). I think this would more cleanly separate the semantics of the diagram from the rendering. This would involve classes such as the following:

* `Diagram` would have have c

[2018-12-17 10:01] mrwojtek commented on #1122
Fixed by #1229

[2018-12-17 10:01] #1122 closed

[2018-12-17 15:08] vtomole commented on #1127
This is was renamed to `cirq.OptimizationPass` we can close it in place of: https://github.com/quantumlib/Cirq/issues/1241.

[2018-12-18 02:31] Ashalynd commented on #1086
So should this issue be based on assumption that every operation already implements [SupportsChannel](http://go/gh/quantumlib/Cirq/blob/master/cirq/protocols/channel.py) class?

If yes, then adding this dependency seems like a prerequisite to this one.

(E.g. assume that the chosen simulation device would somehow transform the abstract operations from the circuit "blueprint" into channels). Does i

[2018-12-18 02:59] kevinsung commented on #1086
Perhaps the way to go is to define a `SupportsApplyChannel` protocol analogous to `SupportsApplyUnitary`. Any implementation of SupportsApplyUnitary should naturally transfer over to SupportsApplyChannel.

[2018-12-18 09:38] iamvamsi commented on #1246
@kevinsung : I am starting with the `insert_into_range` method. Let me state my understanding of the `insert_into_range`: It adds operations to the existing moments (between indices passed as args) until the method can do. We use `can_add_operation_into_moment` to check if it could be done for operations. I see that a similar thing is not available for the moments. As a general question, the way t

[2018-12-18 18:06] kevinsung commented on #1246
@iamvamsi Moments should be treated differently from operations. While you can attempt to insert operations into an existing moment, you should insert a moment all by itself. You should let `flatten_op_tree` with the `preserve_moments` flag set to True handle the logic of inserting moments intact. See the `insert` method for an example of this.

[2018-12-19 17:59] bjwest commented on #906
Have you now dropped support for Python 3.6?  Because I'm getting this error with 3.6.7 installed.

[2018-12-19 18:03] hwjclaire opened #1262 "Parameter resolver cannot resolve simple arithmetics"
I am writitng a simple script and got an error. Is this expected?
For larger circuit this is inconvenient.

circuit = cirq.Circuit()
x = cirq.NamedQubit('x')
a = cirq.Symbol('a')
circuit.append(cirq.H(x)**(1.2*a))
print(circuit)

TypeError: unsupported operand type(s) for *: 'float' and 'Symbol'

[2018-12-19 18:33] dabacon opened #1263 "Engine params should be on job not program"
This is using old way of specifying parameters.

[2018-12-19 18:39] dabacon commented on #1262
Yes this is a known issue.  #393 or #961 would both solve this.  Please chime in on those, as this is creeping up in our prioritization.

[2018-12-19 18:41] kevinsung opened #1264 "Should Circuit.insert validate all operations before inserting any of them?"
Given an operation tree that contains some bad operations, the current behavior would insert some of the earlier ones until it encountered a bad one.

[2018-12-19 19:32] Strilanc commented on #1264
We should add a test that detects this being broken in the future. You want to do nothing when the insert will fail.

[2018-12-19 20:04] kevinsung commented on #1246
From a brief discussion with @Strilanc : the proliferation of Circuit insertion methods indicates that instead of resolving this issue the way I stated it, we should instead somehow combine the insertion methods into a more general one. In any case, we should probably discuss here what the exact behavior of the insertion methods should be on encountering Moments before attempting any changes.

[2018-12-19 20:11] bryano commented on #1264
Like `Circuit.batch_insert`.

[2018-12-19 22:00] kevinsung opened #1267 "Add DensityMatrixDisplay"
This won't really be relevant until we have a density matrix simulator (#1086 )

[2018-12-20 05:11] bryano commented on #1246
I'm not sure that `Circuit.insert` currently does the right thing when the first one or more elements of  `moments_and_operations` is a `Moment`. Specifically, I suggest that the [potential change from `NEW_THEN_INLINE` to `INLINE`](https://github.com/quantumlib/Cirq/blob/a2b981a3bbc50e4651975c4016f6998777a8f067/cirq/circuits/circuit.py#L839-L840) be de-indented so that it's triggered after the fi

[2018-12-20 05:34] bryano commented on #1246
Combining the insertion methods could be helped by defining a new insertion strategy (maybe `EXACT`) that throws an error when you try to insert an operation into a moment that already contains conflicting operations.

[2018-12-20 05:40] #450 closed

[2018-12-20 05:40] iamvamsi commented on #1241
I am planning to pick this up too.
@bryano / @Strilanc : Can you please provide the context around this ?

[2018-12-20 05:44] kevinsung commented on #749
Obsoleted by the creation of individual check scripts.

[2018-12-20 05:44] #749 closed

[2018-12-20 05:44] bryano commented on #1241
@vtomole is already taking a crack at this in #1248.

[2018-12-20 05:46] iamvamsi commented on #1241
Cool.

[2018-12-20 05:51] bryano commented on #1246
`insert_into_range` could easily be removed by giving `insert` an `end` argument.

[2018-12-20 19:19] #286 closed

[2018-12-20 19:46] bryano commented on #1246
@kevinsung Was there something particular you wanted to do with respect to preserving the moment structure on insertion, or was this just something that had to be addressed once `Moment` satisfied the `OP_TREE` contract?

[2018-12-21 00:12] #1241 closed

[2018-12-21 19:51] kevinsung commented on #1246
No, there was nothing in particular; it was more for the second reason you mention. It is not a high priority for me.

[2018-12-24 05:43] iamvamsi commented on #1246
I am removing myself from the assignee, till we finalise the status of different kind of insert operations.

[2018-12-24 05:45] iamvamsi commented on #1263
@dabacon : Dave, I am planning to take this up. Can you please help me with a little more context around the same.

[2018-12-24 23:37] jiapei100 opened #1269 "matplotlib 3.0.2 compatible?"
**cirq 0.4.0 has requirement matplotlib~=2.2, but you'll have matplotlib 3.0.2 which is incompatible.**

[2018-12-25 01:50] Ashalynd opened #1270 "check.sh uses hardcoded python3 location for temporary test enironment"
`Cirq/dev_tools/env_tools.py::prepare_temporary_test_environment` uses hardcoded location `/usr/bin/python3.5` which results in error if python3 is installed somewhere else. (Happened on Mac where I had python3.7 as the default python version, and no python3.5 present).

[2018-12-25 02:31] vtomole commented on #1269
You have matplotlib `3.0.2` but we use `~2.2`. Let me know if it works after `pip install --ignore-installed matplotlib==2.2`.

[2018-12-27 14:54] andbe91 commented on #1231
I can work on this.

@dabacon, do you also want it removed from SimulationTrialResult (same argument about system size can also be made here as far as I can tell)?

[2018-12-30 21:44] Ashalynd commented on #1204
I have figured what was the problem there in my case (python 3.7 on mac os):

1) cirq.contrib.tpu depends on tensorflow
2) `pip install tensorflow` doesn't work out of the box for python 3.7 (see https://github.com/tensorflow/tensorflow/issues/20444 for more background and workarounds)
3) as stated on [tf page](https://www.tensorflow.org/install/pip), installation with pip is currently only suppor

[2019-01-06 00:12] vtomole opened #1282 "Results of mypy on my local machine not reflecting results remote"
`check/mypy` has never passed on my local machine while it passes on remote. I usually get something similar to

[code]

[2019-01-07 18:21] vtomole commented on #1282
Problem disappeared on new VM. Not related to the project.

[2019-01-07 18:21] #1282 closed

[2019-01-08 00:53] dabacon commented on #1263
Parameters used to live on the program proto.  But we updated the api so that they can go on the job (the engine api accepts both right now).  So we need to move Cirq over to using this new way of specifying the parameters.  Essentially this means refactoring the engine api calls so that the parameter sweeps get passed to the job and not the program.  I'd start by looking at the api protos for job

[2019-01-08 20:40] Strilanc opened #1284 "Make ControlledGate work with gates that only provide a decomposition"
The following should work:

[code]

but currently it raises an exception:

[code]

because `ControlledGate` doesn't have a `_decompose_` method. This issue is to add that method.

[2019-01-08 21:03] Strilanc opened #1285 "Define `_control_` protocol and utility method"
A common thing that people want to do to operations is to control them. For example, this is intrinsic to how phase estimation works. A global utility method `cirq.control` that worked on any gate or OP_TREE would make that easier. Additionally, there would be a `_control_` protocol that gates with more efficient control mechanisms (e.g. decomposing a fredkin using two CNOTs and a Toffoli instead

[2019-01-08 21:20] Strilanc commented on #1285
Also, once `cirq.control` exists, we can add `controlled_by(control)` to `Operation` if we want.

[2019-01-09 09:33] iamvamsi commented on #1263
Thanks Dave.

[2019-01-09 17:10] vtomole commented on #1284
This is what i have in  `ControlledGate()`

[code]
But it's not working:
[code]
What am i missing?

[2019-01-09 18:16] #1270 closed

[2019-01-09 18:38] #1235 closed

[2019-01-09 18:47] mrwojtek commented on #900
Approximate equality is now accessible through cirq.approx_eq() protocol. It is being introduced for EigenGate in #1275 and for matrix gates in #1276. It fall-backs to regular equality if neither SupportsApproximateEquality or _SupportsValueEquality protocols are implemented. As far as I remember from conversation with Craig Pauli strings are being refactored and code that is mentioned to be rever

[2019-01-09 20:04] kevinsung opened #1286 "Set a default value for atol where it appears?"
Interestingly, `assert_allclose_up_to_global_phase` has a comment explicitly recommending against specifying a default atol:
[code]
This was suggested by @Strilanc in https://github.com/quantumlib/Cirq/pull/729. @dabacon

[2019-01-09 21:57] #1119 closed

[2019-01-10 18:18] karlunho opened #1287 "Noisy simulations should allow mixed state inputs"
This feature needed for VQE algorithm for a few of the QML. Although this isn't realizable in HW yet, there is some plans in the future to enable this.

[2019-01-10 18:18] karlunho commented on #1287
Michael will like implement this. We'll discuss with this in more detail with Dave and Craig.

[2019-01-10 18:37] Strilanc commented on #1231
I would prefer to keep this method. Yes it's a small convenience method, but it is much easier to discover when using an IDE with autocompletion.

I'm not sure where the line in convenience vs redundancy should be, though.

[2019-01-10 18:44] kevinsung opened #1288 "Define __getitem__ for TrialResult"
Should obtain measurements.

[2019-01-10 18:45] karlunho opened #1289 "Enable Entanglement Entropy Calculations in Cirq"
R

@dabacon Can you take a look if you think this is something we should put in ?

[2019-01-10 19:30] dabacon commented on #1231
Yes, everything that you can do on a state could end up here.  I think it will just make this entire class nearly unreadable in the end.  If the argument is for just using autocomplete, a better pattern would be to use an abstract class for objects that have wave functions and stuff everything there.  The other is to create a state object that exposes these.  I don't think putting this all in the

[2019-01-10 21:26] kevinsung opened #1290 "Produce LaTeX using qpic"
I think the diagrams are nicer: https://github.com/qpic/qpic

[2019-01-10 22:43] dabacon opened #1291 "Conundrum: Protocols for variable qubit number gates"
MeasurementGate is an example of a gate that can act on a variable number of qubits and turn into a GateOperation on these qubits.  We can imagine also a gate that acts on multiple qubits (a control^k-X gate for example) but that the number of qubits it acts on is not determined until "on" is applied to qubits.  This causes a problem.  Suppose you want to evaluate a protocol on an operation, for e

[2019-01-10 22:43] dabacon commented on #1291
@Strilanc @kevinsung @viathor

[2019-01-10 22:50] dabacon commented on #1291
Oh another option:
3. Have the protocols return the object that they known how to construct because they know how many qubits they act on, or a function which takes the qubits to act on (or number of qubits).

[2019-01-10 23:00] kevinsung commented on #1291
How about:
4. The protocols are undefined for Gates. They must be applied to GateOperations.

[2019-01-10 23:05] dabacon commented on #1291
5. Different protocols for cases with number of qubits needed and those without.

[2019-01-10 23:05] dabacon commented on #1291
5 is what we do already for decompose

[2019-01-10 23:09] viathor commented on #1291
Our abstractions are currently layered like this:
* Gates which don't know the qubits they act on,
* GateOperations which do.

The conundrum above stems from the fact that we have not explicitly specified whether Gates know the answer to a related question: how many qubits do I act on?

We should fix this.

Consider two abstractions: XPowGate which knows the number of qubits it acts on and Measure

[2019-01-10 23:37] dabacon commented on #1291
I think 2 would allow us to remove a bunch of number of qubits variables from qasm and circuit diagram args.

[2019-01-11 00:06] viathor commented on #491
I'm working on ways to represent and manipulate hermitian operators in cirq. Since these operators form a real Hilbert space in their own right they come with a rich set of operations that we may potentially want to implement:
* tensor products #932,
* compositions #962,
* linear combinations #1037.

Also, their cousins anti-Hermitian operators have a useful property that exponentiation yields a u

[2019-01-11 00:20] bryano commented on #1290
How important is it to produce nice-looking non-text diagrams using latex, rather than say directly rendering things using, e.g., pysvg? I'm strongly in favor of abandoning qcircuit, which is based on xypic, whose syntax is very difficult to parse without diving deeply into the reference guide. My concern is that qpic, based on tikz, won't be much better in that regard.

[2019-01-11 00:40] viathor opened #1292 "Identity gate"
Identity is a unitary. We probably want an explicit representation for it in cirq.

Rationale:
1. Many expressions evaluate to the identity exactly (e.g. composition of H with H) or up to global phase (e.g. composition of X, Y and Z). Code that detects and optimizes such expressions may need to return identity explicitly.
2. Identity is a convenient initializer for reduce-like operations on gates.

[2019-01-11 00:41] Ashalynd commented on #1291
+1 to viathor, option 2 seems most intuitive. MeasurementGate could also be seen as "template gate" (like templates in C++) with number of qubits as parameter.

[2019-01-11 00:51] dabacon commented on #1292
@Strilanc and I talked about this and I think we generally agreed that we need an identity.  This is one of the reasons for #1291 : for the channel case you really want an identity gate that can operate on multiple qubits.

[2019-01-11 01:10] kevinsung commented on #491
My immediate reaction is that it is composition. A thought that pops into mind is to make `@` mean composition instead.

Yes, I think it makes sense to require using Operations when making Hamiltonians. I think Hamiltonians are operations that have qubits associated with them.

[2019-01-11 03:18] Strilanc commented on #1290
I'm very much in favor of dropping qcircuit in favor of something better. Not only do qpics diagrams look better, the code looks easier to edit (because you don't have to do column-oriented editing).

I do think it's important for us to output latex, because I think it will often be the case that users will want to customize the output slightly (e.g. add a highlight box). I would also like to have

[2019-01-11 07:40] Strilanc commented on #1291
I like the idea of being able to specialize the gate before sending it to a method that wants a specific number of qubits. Something like `cirq.QFT.for_qubit_count(2)`. So `cirq.QFT` can be applied to any number of qubits in order to create an operation, but it's not able to give a clear answer to how many qubits it applies to. Whereas `cirq.QFT.for_qubit_count(2)` knows how many qubits but can't

[2019-01-11 12:01] andbe91 commented on #1292
I'm happy to work on this if you all agree on that it should be implemented.

[2019-01-11 18:45] kevinsung opened #1293 "Circuit.apply_unitary_effect_to_state should ignore Displays"

[2019-01-14 10:37] michaelstreif commented on #1289
Calculating the entanglement entropy gives insight into the mechanisms of the quantum calculations and is therefore an important quantity to find useful quantum algorithms. It moreover helps to estimate the required resources for classical simulations when using TNT.

I think this would be of help for research and simulations, but not really when using the real device. We already  have functions c

[2019-01-14 18:37] dabacon commented on #1291
The objection about repeating isn't really fair because you'd almost always add helper functions
'cirq.measure(a,b)'  These simple factory functions are always simple to write and are usually more readable (xxxxGate being explicitly constructed are almost always slightly worse than all the helpers we write).

I have PR that does this so we can at least take a look.  I think we need to make a decis

[2019-01-15 12:18] andbe91 commented on #1292
Hi @viathor, I got started on implementing the identity gate. A question regarding the equivalence to other gates. At the moment, two gates of different classes will not be equal in Cirq even if they have the same effect. E.g. `cirq.X**0 == cirq.Y**0` returns False (via the `@value.value_equality` decorator). I guess one could compare the unitaries of two gates, and if they are equal, call the gat

[2019-01-15 17:54] dabacon commented on #1289
I think adding support for this would be good.  It is definitely useful for simulations.  We already have the beginnings of denisty matrices appearing in Cirq.

[2019-01-15 18:00] dabacon commented on #1287
We have two simulation techniques in process: one which is a full density matrix the other of which is for probabilistic pure state simulations (also long term there is continuous time).  It makes sense that these simulators should support initial state preparation with 1) full density matrix, 2) eigenvalue and eigenvectors of full density matrix.  When we do this we will need an initial state pre

[2019-01-15 18:04] viathor commented on #1292
Yes, gate class is currently part of the comparison key which makes this a little tricky. Have a look at what we're doing for [PhasedXPowGate](https://github.com/quantumlib/Cirq/blob/master/cirq/ops/phased_x_gate.py) (see `__new__()`). I imagine this should work for identity gate, too?

[2019-01-15 18:22] vtomole commented on #954
Please close.

[2019-01-16 09:49] balopat commented on #1284
@vtomole - my guess is for your question:
1) the gate you are trying to compare to is not a `CNOT` - it's a "CG" - a controlled `G` gate, where `G` is defined as some generic gate that decomposes to an X gate on the first qubit - but it is not an `X` gate
2) I'm not entirely sure yet, but unless there is some deeper definition of equality is at play - the CNOT gate is not implemented as a `cirq.Co

[2019-01-16 14:35] balopat commented on #1284
It looks like figuring out exactly the decomposition contract would help here too: #930

[2019-01-17 10:22] andbe91 commented on #1292
Thanks, that worked. I'm making good progress on this in general, but I have a one more question before I make a PR:
How do you want to handle multi-qubit identity gates such as `cirq.CZ**0`? At the moment, the identity gate that I implemented is a `SingleQubitGate` with the unitary [[1, 0, [0, 1]]. It would of course by easy to create a two-qubit version as well, or should I try to create a gener

[2019-01-17 17:19] balopat commented on #1284
After talking to @Strilanc I did miss something trivial - the sequence of controlled components controlled by the same qubit does equal to the controlled gate. Also learned the context for this issue is [this stackexchange question](https://quantumcomputing.stackexchange.com/questions/5145/cirq-controlledgate-from-sub-circuit-generator).
I'm happy to work on this.

[2019-01-17 17:36] vtomole commented on #1284
@balopat  Go for it :)

[2019-01-17 18:06] dabacon commented on #1292
Yeah when I did the identity gate PR I ran into this multi qubit problem which is what caused me to open #1291   I think we need to decide on this to unblock this.

[2019-01-17 20:43] #1205 closed

[2019-01-17 20:46] dabacon commented on #1207
Should we close this or should we consider duplicating the github release notes into a file?

[2019-01-17 20:55] vtomole opened #1297 "Quantum circuits in example doc strings not rendering correctly"
See: https://cirq.readthedocs.io/en/latest/examples.html

[2019-01-17 22:19] dabacon commented on #1291
See #1298 for moving over to making measurement gate depend on number of qubits.  In practice, for users, this ends up mostly just meaning that you rarely use MeasurementGate(n, key) but instead rely on measure(q1, q2,, ..key=key).    This is the way Craig doesn't like.

[2019-01-18 17:15] Strilanc opened #1302 "Define ControlledOperation"
Blocking https://github.com/quantumlib/Cirq/issues/1284

Here is a start, but also needs most of the magic methods to be implemented and tested:

[code]

[2019-01-23 00:36] vtomole commented on #1297
@Strilanc https://imgur.com/a/D16T6IE

[2019-01-23 00:47] Strilanc commented on #1297
That's actually not nearly as bad as I was picturing. On my windows machine the lines often just don't line up at all, because the fonts aren't fixed width when it comes to unicode.

I think it's not devastating for the lines to be italicized like this. Not ideal, but the intention is still getting across. Worth fixing, but not urgent.

[2019-01-23 05:08] vtomole opened #1307 ".DS_Store?"
https://github.com/quantumlib/Cirq/blob/master/.DS_Store

What do we use it for? @smitsanghavi

[2019-01-23 18:58] viathor opened #1309 "Occupation number representation of LinearOperators"
Filing for discussion and implementation tracking of occupation basis representation for the LinearOperator introduced in #1299, see the PR for context.

Rationale: Hamiltonians used in quantum simulation applications tend to have an efficient representation in this basis

Caveats: The above suggests that LinearOperator with this representation should not automatically compute its standard or Paul

[2019-01-23 19:51] karlunho opened #1310 "Add Neutral Atom device"
UWisconson would like to add Neutral Atoms to Cirq.

[2019-01-24 17:23] c-poole commented on #1310
We'd like to incorporate support for neutral atom devices and in particular the Atomic Qubit Array (AQuA) device at the University of Madison Wisconsin. A goal of the project is to be able to accurate perform simulations of the device including its various connectivity and timing constraints as well as its native gate set, all of which Cirq seems like a good match for.

[2019-01-25 00:59] kevinsung opened #1315 "Empty Moments are rendered incorrectly in transposed circuit diagrams"
Empty Moments arise when optimizations leave existing Moments empty. For example:

Input:
[code]
Output:
[code]

As you can see, there are gaps in the wires in the diagram of the optimized circuit.

I think there's a case to be made that in this situation, the empty Moments shouldn't be rendered at all.

[2019-01-25 03:20] vtomole commented on #1315
How is this issue related to https://github.com/quantumlib/Cirq/issues/1131?

[2019-01-25 07:49] Strilanc commented on #1307
Fixed by https://github.com/quantumlib/Cirq/pull/1314

[2019-01-25 07:49] #1307 closed

[2019-01-25 18:17] kevinsung commented on #1315
#1131 was resolved by PR #1193 , but that PR did not include any tests for transposed text diagrams.

[2019-01-25 20:22] kevinsung opened #1316 "Circuit optimizations should remove empty Moments"
Sometimes running a circuit optimizer leaves Moments empty. What reason is there to keep them around? They add some overhead when iterating through the circuit and also make text diagrams take up more space. I'm not too familiar with the code of the optimizers and it could be the case that removing empty Moments doesn't fit nicely into the logic there.

[2019-01-26 00:16] dabacon commented on #1231
OK, we talked about this offline and think that probably the best thing here is that there should be an abstract class that has methods that operate on a state.  So any object that has a state we can add this interface as a class to inherit from.  This allows these methods to be on the class, but doesn't pollute this class.

[2019-01-27 05:53] bryano commented on #1315
See #1319.

[2019-01-27 21:18] Strilanc opened #1321 "ControlledGate needs to pass modified circuit diagram info args into sub gate"
For example, the qubit count reported to the sub gate will be one too large at the moment. This can result in bad diagram info.

[2019-01-28 19:00] #1315 closed

[2019-01-28 19:00] kevinsung opened #1322 "SingleQubitGate.on_each should have starred parameter *targets"
This is generally more consistent with our style. For instance, `cirq.measure_each(*qubits, ...)`.

[2019-01-28 23:47] kevinsung opened #1325 "Qubits other than GridQubit don't work on Quantum Engine Simulator"
I tried to run the following code through Quantum Engine:
[code]
and got
[code]
Maybe it makes sense to force the user to convert all their qubits to GridQubit, I don't know. I feel like my example should run, at least on the simulator.

`google/programs.py` has lines like
[code]
where we cast `q` to a GridQubit. Shouldn't we instead just change the type annotation from QubitId to GridQubit?

[2019-01-29 00:00] dabacon commented on #701
Fixed.

[2019-01-29 00:00] #701 closed

[2019-01-29 00:12] Strilanc commented on #1325
I think this also falls under the purview of "we need to improve the serialization format". The simulator should presumably be happy to take arbitrary qubits. Even if we don't understand the user's qubit type we can rewrite into line qubits.

For hardware it might make sense to take line qubits and auto-lay them, but otherwise I agree that it should be force to grid qubit.

[2019-01-29 01:06] dabacon commented on #933
Suggested names for QubitId:

QuId
QId
Quid
Qid

The thing that will happen here that is odd is that methods that return "qubits" now return "quids" which is not really discoverable.  Also places where we pass in Qubits no take quids, which is also kind of odd.

[2019-01-29 06:01] #1232 closed

[2019-01-29 06:06] smitsanghavi commented on #1285
For _control_ on a gate to return a gate when given the control qubit, do we have a concept of adding only a partial set of qubits to the gate and specifying the rest later?

[2019-01-29 06:13] raminhalavati commented on #1287
@dabacon,
Is there a time line for this?

[2019-01-29 09:22] #675 closed

[2019-01-29 10:10] Strilanc commented on #933
I vote `Qid`. Get your votes in now, everyone! @kevinsung @viathor @vtomole @maffoo @kevinsung @babbush @mrwojtek @Ashalynd @cduck @bryano @Ican'tremembereveryone'sscreennames

[2019-01-29 10:12] Strilanc commented on #963
Ah, good catch. Renamed issue to focus on the specific missing case.

[2019-01-29 14:03] bryano commented on #933
What about QuditId? Or just Qudit?

The easy thing here is to have QubitId just be a special case of QuditId with the dimension attribute set to 2. Things could then be generalized to qudits gradually.

[2019-01-29 18:41] mrwojtek commented on #933
My vote goes to quid; it has a nice ring to it and one can make useful variations out of it easily: qubid, qutid, quqid, qupid, etc,. if ever needed.

[2019-01-29 18:49] vtomole commented on #933
I'll got with @bryano. `QuditId`  is self-documenting.

[2019-01-30 03:51] bryano commented on #933
@Strilanc Do you have specific examples in mind of a "Qnob" that is _not_ a qudit?

In any case, it seems useful to have all three constructs: qubit, qudit, and q-whatever.

Half-serious suggestion for the latter: "Qbar" (rhymes with "foobar")

[2019-01-30 06:41] Strilanc commented on #933
I just think of it as "generic target of operation", or "things I might want to bounce particular microwaves off of at particular times". I think `Qid` is generic sounding enough to include stuff like resonators, plus it's short and I like short.

[2019-01-30 19:46] maffoo commented on #933
+1 for `Qid`

[2019-01-31 00:20] Strilanc opened #1329 "Flaky test in acquaintance gates `test_swap_network_gate_equality`"
This test fails sporadically:

[code]

[2019-01-31 00:43] Strilanc commented on #1285
- for control(operation, qubit), use ControlledOperation
- for control(operation, None), raise an error explaining a qubit is needed for operations
- for control(gate, None), use ControlledGate
- for control(gate, qubit), make new type SpecifiedControlGate (or alternatively merge this concept into ControlledGate)

[2019-01-31 06:49] bryano commented on #1329
#1331

[2019-01-31 23:19] dabacon commented on #1292
I think displaying it as empty isn't quite correct?  Putting identity gates into a Moment is sort of saying "do nothing here and block anything else from happening here).  If you don't show it then you will end up having odd things where you don't see that the identity gate is in a particular location.

[2019-02-01 00:39] bryano commented on #1329
I'm not sure I understand. Is the problem that there is some probability that there are k<5, maybe even k=1, unique part_lens generated? If so, we could just bump up the number of randomly generated tuples until the probability of there being too few unique ones is acceptably small.

[2019-02-01 00:42] Strilanc commented on #1329
The problem is that, because you are iterating over `set(items_to_test)` instead of over `items_to_test`, it no longer makes any sense to assert that the items are not equal (which is an implicit thing that equals tester is doing). An equality method that was just `return True` would pass the test. We want such equality methods to fail the test.

[2019-02-01 00:43] #1123 closed

[2019-02-01 00:53] bryano commented on #1329
I don't think that's quite right. The things whose equality is being tested are `SwapNetworkGate(*args)`. For each (unique) value of args, _two_ objects are created and those two be equal to each other and unequal to everything else. So it doesn't seem like a tautological equality method would pass the test.

[2019-02-01 01:00] bryano commented on #1041
I think it's reasonable to think of the identity as a Pauli in some sense. Mathematica does this, for example. It's an element of the Pauli group and necessary for forming a basis of Hermitian matrices.

[2019-02-01 02:31] Strilanc commented on #1329
Ooooh I see, the set is on the parameters. My mistake.

[2019-02-01 02:31] #1329 closed

[2019-02-01 02:33] Strilanc commented on #1041
I agree that it's a "sort of Pauli" and that it is sometimes thrown in for convenience.

[2019-02-01 08:10] andbe91 opened #1335 "Permutation_test fails stochastically"
I had cirq/contrib/acquaintance/permutation_test/test_linear_permutation_gate_equality fail. When rerunning the test, it suddenly passed.  Maybe some RNG problem in the parametrization? Below is the raised error message:

    AssertionError: cirq.contrib.acquaintance.LinearPermutationGate({2: 2, 3: 3}, cirq.SWAP) and cirq.contrib.acquaintance.LinearPermutationGate({1: 1, 2: 2, 3: 3, 5: 5, 6: 6, 7:

[2019-02-01 16:04] pradeep6 opened #1336 "Unable to verify Cirq : python -c 'import cirq; print(cirq.google.Foxtail)' on Mac OS"
The installation of the Cirq was successful, but when I am trying to run run the command

python -c 'import cirq; print(cirq.google.Foxtail)' for verification. It is showing the below error.

Traceback (most recent call last):
  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named 'cirq'

Please help me to solve this issue

[2019-02-01 16:08] Strilanc commented on #1336
Could you post a log of the bash commands you ran in order to install cirq, before running this command? Did you install into a virtual environment, are you using python 2 vs 3, etc.

[2019-02-01 16:18] pradeep6 commented on #1336
(env) MacBook-Pro:~ unomahaqcl$ cd /Users/unomahaqcl/Library/Python/3.7/bin
(env) MacBook-Pro:bin unomahaqcl$ python3 -m venv env
(env) MacBook-Pro:bin unomahaqcl$ source ./env/bin/activate
(env) MacBook-Pro:bin unomahaqcl$ python -c 'import cirq; print(cirq.google.Foxtail)'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named 'cirq'

[2019-02-01 17:11] dabacon commented on #1336
You did a "pip install cirq" earlier?  Could you verify that in the virtual environment that you have cirq installed?  "pip freeze" will show you what is installed. Make sure you are in the environment when you do this: "source ./env/bin/activate" before running "pip freeze"

Also you should verify that the python you are using for the python -c "import cirq; print(cirq.google.Foxtail)" command is

[2019-02-01 17:46] dabacon commented on #1335
This has been fixed in #1331

[2019-02-01 17:52] andbe91 commented on #1335
Not the same test though?

[2019-02-01 17:55] dabacon commented on #1335
Oh oops.  Reopened!

[2019-02-01 18:01] pradeep6 commented on #1336
Still the same issue after trying this

(env) Konetis-MacBook-Pro:~ unomahaqcl$ python -c 'import cirq; print(cirq.google.Foxtail)'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named 'cirq'
(env) Konetis-MacBook-Pro:~ unomahaqcl$ pyhton3 --version
-bash: pyhton3: command not found
(env) Konetis-MacBook-Pro:~ unomahaqcl$ python3 --version

[2019-02-01 18:03] pradeep6 commented on #1336
I am completely new to Cirq, am I doing something completely wrong? Please guide me.

FYI: Initially, when I tried to install Cirq. I got Permission error. So I have included --user in my installation command. Am I facing this issue due to that change?

[2019-02-01 18:06] balopat commented on #1321
Happy to pick this up - the implementation should be similar as in ControlledOperation in #1320 - let me know if that direction makes sense.

[2019-02-01 18:13] Strilanc opened #1337 "Implement ControlledOperation._apply_unitary_"
- Copy over the implementation from ControlledGate and tweak it to work in the new context
- Then rewrite ControlledGate's apply unitary to delegate to ControlledOperation's

[2019-02-01 18:22] Strilanc commented on #1336
I think the issue is that when you pass `--user` to pip it is installing it somewhere different than in the virtual environment. When you `pip install cirq` after running `source ./env/bin/activate` you still get a permission error?

Try this:

[code]

If that works, then I think we need to update all our docs to use `python -m pip` instead of just `pip`. I've seen it be more reliable in the past.

[2019-02-01 18:30] bryano commented on #1335
#1338

[2019-02-01 18:54] dabacon opened #1339 "Improve slow tests"
Build times are creeping up.
`pytest --durations=20`

8.30s call     cirq/contrib/acquaintance/inspection_utils_test.py::test_get_logical_acquaintance_opportunities[9-4]
4.63s call     cirq/google/sim/xmon_stepper_test.py::test_large_circuit_unitary[2-False]
2.69s call     cirq/contrib/acquaintance/inspection_utils_test.py::test_get_logical_acquaintance_opportunities[8-4]
2.55s call     cirq/googl

[2019-02-01 18:55] balopat commented on #1337
Happy to pick this up.

[2019-02-01 19:37] Strilanc opened #1340 "Update documentation to use `python -m pip` instead of just `pip`"
This appears to work more reliably. E.g. it resolved https://github.com/quantumlib/Cirq/issues/1336

[2019-02-01 19:37] #1336 closed

[2019-02-01 19:48] vtomole commented on #1340
I'll take it.

[2019-02-01 22:47] dabacon opened #1341 "RotationErrorChannel is not normalized correctly nor does it make sense."
not sure what was the intent of this channel, but it isn't normalized correctly.  I think maybe the idea was to have a probability of a fixed rotation.

consider removing it.

[2019-02-01 23:33] pradeep6 commented on #1336
Hi Guys, When I am trying to run the same commands from pycharm. I am getting the below error. Can you please help me with this?

/Users/unomahaqcl/PycharmProjects/untitled/venv/bin/python cirq
/Library/Frameworks/Python.framework/Versions/3.7/Resources/Python.app/Contents/MacOS/Python: can't open file 'cirq': [Errno 2] No such file or directory

Process finished with exit code 2

[2019-02-01 23:39] Strilanc commented on #1336
Why would you expect `python cirq` to do something? You're asking python to invoke a file named cirq.

[2019-02-02 00:35] #1284 closed

[2019-02-02 00:35] #1302 closed

[2019-02-02 00:37] Strilanc opened #1343 "Fix auto merge script not including last merge into master when considering "modified recently" sensitive properties"

[2019-02-02 00:50] #1231 closed

[2019-02-02 01:18] #1343 closed

[2019-02-04 06:56] balopat commented on #1337
I understand the first bit :)
The second bit I have a problem with - not sure how to delegate to ControlledOperation's method as `ApplyUnitaryArgs` only knows the indices of the qubits - hence there are no actual qubits passed to  `_apply_unitary_` - how do I create an `ControlledOperation` instance without qubits from the gate? Maybe I'm missing something and qubits can be recovered from `ApplyUn

[2019-02-04 06:57] balopat commented on #1337
#1346 has the first bit done.

[2019-02-04 19:36] Strilanc commented on #1337
You can just make some arbitrary qubits, e.g. `LineQubit.range(...)`. Alternatively, you can extract into a common utility method and call that.

[2019-02-04 19:45] Strilanc opened #1347 "Make OS specific dev install instructions"
Currently we assume a unix environment https://cirq.readthedocs.io/en/stable/development.html

[2019-02-04 19:47] Strilanc commented on #1347
We should also try to simplify the install, e.g. not depend on virtualenvwrapper and use a similar process to openfermioncirq where we leverage pip's -e argument.

[2019-02-04 22:12] dabacon commented on #1143
We should check numpy  to see if the type is supported and if not, not do the test.

[2019-02-05 07:21] vtomole commented on #1124
After some thought, I believe that using pytest-benchmark: https://pytest-benchmark.readthedocs.io/en/latest/ is better than rolling our own solution. The recent pull request calls benchmark() with our tests; which could mean **slower build times**. This begs the question: Do we want to run the benchmarks on every build? We could separate the benchmark tests and run them occasionally (once a week?

[2019-02-05 22:44] dstrain115 commented on #1235
So, part of this is solved, but there is still an issue, since the representation on line 121 of controlled_gate_test still relies on an implicit import:
        return ('cirq.ops.controlled_gate_test.'
                'GateUsingWorkspaceForApplyUnitary()')

Since the internal Google build splits the library code and the test code, cirq.ops.controlled_gate_test is not part of the cirq import, so t

[2019-02-06 04:50] vtomole commented on #1224
Please close.

[2019-02-06 14:31] #1224 closed

[2019-02-06 18:43] c-poole opened #1352 "GateOperation qubit list is allowed to be inconsistent with gate."
A gate operation is formed by a list of qubits and a gate, but there is no check for consistency between the two. As an example, you can make a GateOperation with a CCX gate which must act on three qubits but only give the GateOperation one qubit.

    example_op = cirq.GateOperation(cirq.CCX, [cirq.GridQubit(1,1)])
    len(example_op.qubits) == example_op.gate.num_qubits()

This second line retur

[2019-02-06 19:29] Strilanc opened #1353 "Add test class name to globals parameter when testing consistent protocols"

[2019-02-06 19:29] Strilanc commented on #1353
@dstrain115

[2019-02-06 23:27] verult opened #1354 "EigenGate assumes a certain set of constructor parameters for all subclasses"
The logic here assumes that subclasses have `exponent` and `global_shift` constructor parameters, no more no less. Is that intentional?

https://github.com/quantumlib/Cirq/blob/dc1294f54118a9a4f92546ca13780b91615dd675/cirq/ops/eigen_gate.py#L118-L122

[2019-02-07 00:17] c-poole commented on #1354
The documentation for that method explicitly states that child classes should override that method if the constructor signature is different.

[2019-02-07 01:50] verult commented on #1354
Sorry didn't see that, thanks!

[2019-02-07 01:50] #1354 closed

[2019-02-07 16:06] mrwojtek commented on #900
Can we close this issue, is there something still to be done inside of `PauliStringPhasor`?

[2019-02-07 18:19] dabacon opened #1355 "Easy way to add noise to circuits"
There should be easy helpers that take a noise free circuit and then add in noise after each gate (and after preparation).

[2019-02-07 18:20] dabacon opened #1356 "Measurement should implement channel"
Because it is a channel.

[2019-02-07 18:22] dabacon opened #1357 "Channels should support keys for labeling outcomes during simulations"
there should be a way to get results out during simulation

[2019-02-07 18:25] dabacon commented on #1292
#1333

[2019-02-07 18:26] dabacon commented on #1292
Things we should probably prioritize:

Refactor Pauli to include identity.  It's strange to have a Pauli representation that is only X, Y, and Z

[2019-02-07 18:30] peterse commented on #1355
I can attempt this

[2019-02-07 21:43] dstrain115 commented on #1353
See https://github.com/quantumlib/Cirq/issues/1235 for the previous work.

The problem is with controlled_gate_test.  The two gates internal to that test, when repr is called, create a name of cirq.ops.controlled_gate_test which is not part of the cirq library (if tests are removed anyway), so this can create resolution problems when eval-ed as part of the consistent protocol check.

Passing the n

[2019-02-07 23:09] #1340 closed

[2019-02-07 23:12] dabacon opened #1359 "Test display methods in abstract classes"
Right now the compute_displays_sweep methods are only tested via a test on an impl.  This can cause a problem if the interface needs to be refactored, in that the impl may satisfy the contract that the methods need, but the interface may no longer obey that contract.  Adding a single test for the methods that rely on the abstract classes will avoid that and make refactoring code safe and easier.

[2019-02-08 18:50] dabacon opened #1361 "flak test in acquaintance/gates_test.py"
[code]

[2019-02-08 19:22] bryano commented on #1361
#1362

[2019-02-08 21:38] #1361 closed

[2019-02-08 23:14] dabacon opened #1363 "mem_manager_test breaks in python 3.5"
[code]

[2019-02-08 23:16] #925 closed

[2019-02-08 23:34] c-poole commented on #1363
This test also fails in the same manner on Ubuntu subsystem for windows with Python 3.6.7, pytest-3.6.4

[2019-02-10 20:45] #1363 closed

[2019-02-11 15:34] dabacon commented on #1287
The first type of simulator (full density matrix) is in flight and should be done by end of this week.  Second one is likely another week after that.

[2019-02-11 15:37] #1242 closed

[2019-02-11 15:38] dabacon commented on #1291
#1332 adds an abstract method for number of qubits to gate.

@Strilanc you also want a factory level above this?

[2019-02-12 13:40] raminhalavati commented on #1287
Great! Thanks.

[2019-02-12 17:30] dabacon opened #1370 "Use math.gcd in eigengate?"
My pytest in verbose mode is dominated by a trillion of these warnings.  Was there a reason we were not using math.gcd()?  (3to2 problem?)
[code]

[2019-02-12 17:39] vtomole commented on #1370
I know that we didn't get this before verbose mode on Travis because we were using an old version of pytest. Since updating pytest to `3.8` to be able to run  `pytest-benchmark` (https://pytest-benchmark.readthedocs.io/en/latest/index.html), we now see them.

[2019-02-12 17:51] dabacon commented on #1370
Changing it to math.gcd makes a test fail :(

[2019-02-12 19:36] lindmarkm opened #1371 "Make api_key in engine optional."

[2019-02-13 01:59] Strilanc commented on #1370
It's because of the python 2 compatibility.

... we could consider dropping that, now that e.g. numpy is dropping it. There's a lot more momentum away from it.

[2019-02-13 05:14] vtomole opened #1372 "Drop support for Python 2"
Some third party libraries that Cirq uses are phasing out Python 2 support (https://github.com/quantumlib/Cirq/issues/1370). I think we should do the same.

See https://github.com/quantumlib/Cirq/issues/731 for opposing arguments.

[2019-02-13 19:42] Strilanc commented on #1372
@babbush what is your opinion on this? Do you think openfermion users are still very attached to python 2?

[2019-02-13 19:59] Strilanc opened #1373 "Add "user best practices" to documentation"

[2019-02-14 15:29] hugovk commented on #1372
Python 2.7 is EOL on 2020-01-01.

See https://python3statement.org/#sections30-projects for a list of projects which have pledged to drop support in or before 2020.

[2019-02-14 18:17] babbush commented on #1372
OpenFermion users would probably survive if we dropped python 2 support. If we do this can we also drop 3.4 and 3.5 support and just focus on 3.6? I'm also curious what @jarrodmcc and @ncrubin think.

[2019-02-14 18:19] babbush commented on #1372
I mean if numpy is dropping python 2 support in 2020 then we'd have no business maintaining it!

[2019-02-14 18:31] hugovk commented on #1372
At least Python 3.4 is EOL next month (2019-03-16), and I've seen a few other projects also ditching 3.5 to make full use of the new features in 3.6+.

[2019-02-14 18:33] ncrubin commented on #1372
I would hope all new users would opt for python3 development but I don't think it's too large a problem to support python2 until EOL.  Given the tooling we have for testing in a python2 environment it's not too much of a burden to develop 3.6 code without features that can be translated back to 2.7 (for example, this means don't use @ for matrix multiplication).

As for the numpy argument...sure..

[2019-02-14 18:44] hugovk commented on #1372
TensorFlow is also dropping 2.7 on 2020-01-01.

https://github.com/python3statement/python3statement.github.io/pull/179

[2019-02-14 20:48] Strilanc commented on #1372
It sounds like 2020-01-01 is a Schelling point for dropping support. I vote we drop it then.

[2019-02-15 22:22] dabacon commented on #1357
Adding _measurement_key_ protocol.

[2019-02-15 22:28] #1321 closed

[2019-02-15 22:38] #1370 closed

[2019-02-15 22:46] #1337 closed

[2019-02-15 23:08] dabacon commented on #1356
Proposal:

If a gate implements channel and measurement_key, then when simulated it will record results in measurements and outputs will be conditional on this.  If it only implements channel, then the measurement results are not recorded, and outputs will need to be at least density matrices but recording that the information was not recorded.

[2019-02-15 23:09] dabacon opened #1380 "Implement apply channel protocol, similar to apply unitary."

[2019-02-15 23:09] dabacon opened #1381 "Density matrix simulator should be optimized for terminal measurements"
similar to other simulators.

[2019-02-15 23:10] dabacon opened #1382 "Add displays to density matrix simulator"
That we have to reuse code for the displays feels bad to me, I wonder if there are some better abstractions that could help here.

[2019-02-15 23:11] dabacon opened #1383 "Add Monte-Carlo simulation"

[2019-02-15 23:12] dabacon commented on #1355
We discussed a little off line: the most basic thing to start with is just adding in moments with noise operators.

[2019-02-15 23:13] dabacon commented on #1341
This has been removed in #1348

[2019-02-15 23:13] #1341 closed

[2019-02-15 23:19] Strilanc commented on #1356
If a measurement is not recorded, and you are performing a density simulation, do we randomly pick one of the outcome branches (project to one of the poles) or do we keep going with a mixture of both (project to the Z axis)?

[2019-02-16 00:34] Strilanc commented on #1355
I think we might want the noise model to be an object that is passed into the simulator. This issue is very design problem heavy; not an easy one.

[2019-02-16 00:56] Strilanc opened #1386 "Don't automatically decompose circuits in Engine.program_as_schedule"
Instead, validate that the circuit is targeting a supported device and that the device validates the circuit.

[2019-02-16 00:59] vtomole commented on #809
The mystery continues..

[2019-02-16 01:04] Strilanc commented on #809
If it's not happening anymore, it may have been fixed upstream from us.

[2019-02-16 02:15] peterse commented on #1355
@Strilanc could you elaborate a bit more on the role of the simulator here, compared to a (somewhat post hoc) set of moments implementing noisy channels on gates?

[2019-02-16 02:31] Strilanc commented on #1355
I think that we need a concept of a `NoiseModel`, which associates error channels with gates, doing nothing, particular combinations of gates, etc. A `NoiseModel` *could* take a circuit and produce a circuit with injected noise, but it should also be possible to pass a noise model into simulate/run methods and have the transformation happen inline with the simulation.

Because this has such a larg

[2019-02-16 02:36] Strilanc commented on #1355
(Also, this is one of the things we want to get done for the next release, so we're likely to do it ourselves rather than waiting on a third party. I don't want to send you down a garden path doing work we won't keep.)

[2019-02-16 17:03] peterse commented on #1355
Okay, I understand completely

Can you think of dependencies on any specific Issues that this noise model would have? We're eager to see cirq noise support move forward and I'd like to contribute wherever it'd be more appropriate

[2019-02-20 19:34] #809 closed

[2019-02-20 19:35] Strilanc commented on #809
Victory reports not happening anymore.

[2019-02-20 23:18] c-poole commented on #1144
I have a windows dev environment set up so I can take a look into this as well as #1143 and #813 which also contain windows specific test failures.

[2019-02-20 23:19] balopat commented on #1316
I can take a look at this, it would give me a good opportunity to learn about the optimizers.

[2019-02-26 01:01] Strilanc opened #1394 "Extract a utility method for applying a series of operations' unitaries"
There are several places in the code base that loop over a series of operations while calling `cirq.apply_unitary` and managing the workspace-vs-state buffers. One in Circuit, one in sparse_simulator, and soon to be on in ParallelGateOperation.

It's relatively easy to get this code wrong, so we should have one common place that handles it consistently. Basically I'm picturing a method with this s

[2019-02-26 02:44] vtomole commented on #393
@Strilanc Don't close yet as that pull request didn't address not the whole repo. (paulistring).

[2019-02-26 04:43] Strilanc commented on #393
It auto-closed because somewhere in the PR it said "Fixes bla".

[2019-02-26 07:28] Strilanc opened #1397 "Sweeps such as `cirq.Linspace` should accept `sympy.Symbol`s (by turning them into strings)"
This code, which currently causes exceptions:

[code]

should have the equivalent behavior as this code:

[code]

via `Linspace` checking for `sympy.Symbol` and calling `str` on it to get the actual key if so.

[2019-02-26 15:01] vtomole commented on #1397
I'll take this.

[2019-02-26 20:28] timothyman commented on #1397
@vtomole Feel free to completely ignore this, if you have spent significant time on this already, but I have a pull request ready to go for this. I can wait for the next "good first issue", no problem.

I have a question about my implementation, though. Right now I do a type-check whether the `key` is of `sympy.Symbol` before calling `str`, but I'm wondering if that is at all necessary? Anything c

[2019-02-26 20:33] vtomole commented on #1397
@timothyman It's yours!

[2019-02-26 20:37] timothyman commented on #1397
Thanks, @vtomole!

[2019-02-26 21:38] Strilanc commented on #1397
@timothyman I would avoid just calling `str` on the input, because that will mask mistakes where a nonsensical value is entered. Also, it would do things like cause the number 1 and the qubit LineQubit(1) to map down to the same thing, which is probably not desirable.

[2019-02-26 21:51] #1322 closed

[2019-02-26 23:18] #393 closed

[2019-02-26 23:21] vtomole commented on #1127
@Strilanc  Ping.

[2019-02-27 00:06] dabacon commented on #1371
Fixed in #1375

[2019-02-27 00:06] #1371 closed

[2019-02-27 04:04] #1139 closed

[2019-02-27 07:55] Strilanc commented on #1127
Duplicate of https://github.com/quantumlib/Cirq/issues/1241 which was fixed by https://github.com/quantumlib/Cirq/issues/1248

Thanks Victory

[2019-02-27 07:55] #1127 closed

[2019-02-27 09:18] #1397 closed

[2019-02-27 20:48] Strilanc opened #1409 "How do we make circuit translation and circuit simulation fit together in a nice way?"
Example technical challenges:

- I simulated a circuit, but the simulation was noisy. What noise was added?
- I optimized a circuit, and there was a problem with the output. How do I explain the problem in terms of my original circuit?
- I submitted a circuit using LineQubits to be run on hardware, and it was automatically placed onto a 2d grid. Which qubits did the placement use?
- I parameterize

[2019-02-27 21:39] #1187 closed

[2019-02-28 01:56] vtomole commented on #1124
@Strilanc Having a `file_perf_test.py` will  (almost) duplicate code. For example:

decompositions_test.py
[code]
decompositions_perf_test.py
[code]

Is that fine?

[2019-02-28 01:58] Strilanc commented on #1124
Yes, that's fine.

[2019-03-01 10:51] vtomole commented on #1190
This is done. Please close.

[2019-03-01 17:26] #1190 closed

[2019-03-01 17:27] dabacon commented on #1190
We might want to take a pass through code to insure that we are using atol and rtol as parameters when it makes sense (probably most of the time)

[2019-03-01 23:30] #1352 closed

[2019-03-03 02:04] rish-16 opened #1419 "Cannot print Circuit ascii diagram"
Hi,

I created a basic circuit and tried to print it to console. It hit me with the following error:

[code]

My code is as follows:

[code]

Can someone tell me how I can fix this and visualise my circuit? Thanks!

[2019-03-03 03:34] Strilanc commented on #1419
This is likely a problem with your python environment's configuration, e.g. the default text encoding is not set to UTF8.

Are you on a windows machine? If you try `print(circuit.to_text_diagram(use_unicode_characters=False))` does that work as a workaround?

[2019-03-03 15:02] rish-16 commented on #1419
I'm working on macOS with a TensorFlow virtual environment with Python3.6. Let me try your suggestion and get back to you.

Cheers!

[2019-03-03 15:03] rish-16 commented on #1419
Yup, your code worked! Thank you so much!

[2019-03-03 15:05] #1419 closed

[2019-03-03 21:45] Strilanc commented on #1419
How did you go about setting up your environment?

If people keep running into this snag, we might need to switch the default circuit representation to ASCII only.

[2019-03-06 14:26] bryano opened #1425 "cirq/sim/sparse_simulator_test::test_simulate_random_unitary is flaky"
Sometimes compares unitaries that are equal only to 6 decimals rather than the specified 7.

[2019-03-06 14:27] bryano commented on #1425
In pytest2, in case that's relevant.

[2019-03-08 01:23] Strilanc opened #1426 "sparse_simulator should allow np.complex256"
But note that this field doesn't exist on windows, so we need to do a check in a way that won't fail when np.complex256 doesn't exist (e.g. by using `getattr`)

[2019-03-12 01:11] omarcostahamido opened #1427 "cannot import name 'TYPE_CHECKING'"
I need to run python 3.5.1
everytime I start with simple import cirq, I get:
ImportError: cannot import name 'TYPE_CHECKING'

Any ideas?

[2019-03-12 02:39] vtomole commented on #1427
`TYPE_CHECKING` is not available in `python 3.5.1`(https://github.com/sphinx-doc/sphinx/issues/4725#issuecomment-372331201). Please upgrade your Python interpreter.

@Strilanc  Should we support these Python versions hence reverting `TYPE_CHECKING`?  I found some Sphinx code that does it: https://github.com/sphinx-doc/sphinx/pull/4735/files

[2019-03-12 02:44] Strilanc commented on #1427
Hi @omarcostahamido,

Unfortunately, I think this issue will be resolved by adding version 3.5.0 and 3.5.1 to the unsupported versions lists in `setup.py`. Thank you for letting us know this incompatibility was present. We use `TYPE_CHECKING` pretty extensively and don't intend to remove it. The type information we expose won't work without it (or at least won't work as well).

My recommended work

[2019-03-13 17:15] kevinsung opened #1432 "Measure expectation value of Hamiltonian"
It should be optimized for the tradeoff between the number of measurements and the variance of the result (e.g. section IV.A of https://arxiv.org/pdf/1801.03524.pdf and other things like grouping together terms of the Hamiltonian). @ncrubin probably has already implemented some of this in a different context.

Blocked by #1299

[2019-03-13 18:12] Strilanc opened #1433 "Document displays"

[2019-03-13 18:13] Strilanc opened #1434 "Document new simulators"

[2019-03-13 18:16] Strilanc commented on #1381
Instead of running the density simulation once per repetition, run it once and then sample from the final density matrix multiple times. Works almost exactly the same as in the sparse wavefunction simulator; there is existing code to sample from the density matrix.

[2019-03-13 18:18] Strilanc commented on #1287
This has been added to the density matrix simulator, but still needs to be added to the mixture simulator (which doesn't exist yet).

[2019-03-13 18:19] kevinsung commented on #1267
Closed as duplicate of #1382

[2019-03-13 18:19] #1267 closed

[2019-03-13 18:20] Strilanc commented on #1383
Needs to allow ability to input mixed states (as in https://github.com/quantumlib/Cirq/issues/1287 )

[2019-03-13 18:20] Strilanc commented on #1287
Subsumed by https://github.com/quantumlib/Cirq/issues/1383

[2019-03-13 18:20] #1287 closed

[2019-03-13 18:24] Strilanc commented on #1355
- Need to separate code not related to this issue from current PR
- @dabacon re-review PR

[2019-03-13 18:26] Strilanc commented on #1356
@dabacon verify if this is done

[2019-03-13 18:27] Strilanc commented on #1356
@dabacon says done

[2019-03-13 18:27] #1356 closed

[2019-03-13 18:30] Strilanc opened #1435 "Use cirq.measurement_key instead of special casing on MeasurementGate"
Find all instances and fix it. Particularly in simulators.

[2019-03-13 18:32] Strilanc commented on #343
Obsoleted by all the other noisy simulator issues and work.

[2019-03-13 18:32] #343 closed

[2019-03-13 18:32] Strilanc commented on #931
This is waiting on a review from me.

[2019-03-13 18:33] #929 closed

[2019-03-13 20:15] viathor commented on #1041
This has been implemented in #1249. Some of the comments above discuss additional features such as linear combinations and products that can be used e.g. to represent hamiltonians.

Linear combinations are covered by #932. Pauli products are covered by #962. Representations of Hamiltonians in cirq is covered by #491.

[2019-03-13 20:15] #1041 closed

[2019-03-13 20:38] viathor commented on #1041
Clarification on the status of `cirq.Pauli`: it still exists, but as abstract class. It has no public subclasses and only three instances: `cirq.X`, `cirq.Y` and `cirq.Z`, see #1249.

The class is used in type annotations and for its static methods that enable index-based access to the three instances, e.g. in the definition of `SingleQubitCliffordGate` class.

[code]

[2019-03-13 21:54] kevinsung commented on #1382
We currently have SamplesDisplay, which computes the display value from bitstrings, and WaveFunctionDisplay, which computes the display value from the wavefunction. SamplesDisplay is not affected by this issue; it should work with the density matrix simulator as is. As I see it, one issue that arises here is whether to

1. Define a new kind of display called DensityMatrixDisplay which would comput

[2019-03-14 00:06] balopat commented on #1381
I'm happy to look into this, it seems doable in 2 weeks.

[2019-03-15 02:51] Strilanc commented on #1382
I would go with the three classes, because there are some things that require a wavefunction instead of a density matrix in order to be efficient.

[2019-03-15 03:23] #1427 closed

[2019-03-15 03:32] Strilanc commented on #1316
After discussion, we decided not to do this. It's finnicky to add it to all the optimizers, and it creates redundant work. Thanks @balopat for trying to fix it and pointing out how awkward it was.

[2019-03-15 03:32] #1316 closed

[2019-03-15 13:41] vtomole opened #1445 "Add run_incremental format.py to dev_tools"
Developers use a diverse list of IDEs, text editors, auto-format programs, e.t.c. This program will apply standard formatting rules to the programs that get onto master.

[2019-03-15 21:08] #1381 closed

[2019-03-18 23:31] c-poole commented on #87
If I've understood correctly the trace_distance_bound method is meant to calculate the diamond metric distance between the given operation and the identity. An explicit general formula isn't known as far as I'm aware, but this reference (https://arxiv.org/abs/quant-ph/9806029) gives a formula for the distance between two unitary operations, which could give cirq a way to explicitly calculate the t

[2019-03-19 02:55] Strilanc commented on #87
The diamond distance measures the distance between two quantum channels. The trace distance bound is bounding the distinguishability of the input state and corresponding output state of a channel. Two different quantities.

[2019-03-19 15:56] c-poole commented on #87
Isn't it the case that the trace distance bound is a special case of the diamond metric? The diamond metric measures the distance between two quantum channels. It does appears to do so by calculating the trace distance of the output state of both channels given a common input state, and taking the maximum value over all input states.  If this understanding of the diamond metric is correct, it seem

[2019-03-19 16:49] andyliphys opened #1448 "Doc string of CZPowGate: definition of g"
The doc string states that the unitary matrix of `CZPowGate(exponent=t)` is:

    [[1, 0, 0, 0],
     [0, 1, 0, 0],
     [0, 0, 1, 0],
     [0, 0, 0, g]]

where `g = exp(i·π·t/2)`.

When I try `cirq.CZPowGate(exponent=1.)._unitary_()`, it gives

    array([[ 1.+0.j,  0.+0.j,  0.+0.j,  0.+0.j],
       [ 0.+0.j,  1.+0.j,  0.+0.j,  0.+0.j],
       [ 0.+0.j,  0.+0.j,  1.+0.j,  0.+0.j],
       [ 0.+0.j

[2019-03-19 20:55] Strilanc commented on #87
Ah, yes, that sounds correct.

[2019-03-19 22:28] dabacon commented on #1163
We didn't really solve #930 before doing this.

[2019-03-20 04:32] vtomole commented on #669
@Strilanc Done? https://github.com/quantumlib/Cirq/blob/master/cirq/testing/random_circuit.py

[2019-03-20 04:35] Strilanc commented on #669
Thanks Victory.

[2019-03-20 04:35] #669 closed

[2019-03-20 04:42] Strilanc opened #1451 "Make methods like `random_superposition` sample from the Haar measure"
Currently, the outputs of some of the random_x testing methods are non-uniform over the space of relevant objects. Replaced the biased sampling with an unbiased sampling method.

[2019-03-20 05:06] Strilanc commented on #1163
Still needs to be done for gates.

[2019-03-20 10:53] andbe91 commented on #1163
I will start working on the gates.

[2019-03-20 16:00] hsim13372 commented on #1451
Could I possibly work on this?

If I didn't misunderstand, do we want to sample a Haar random pure state?
If so, I think you can do this by applying a Haar-random unitary to a product state (e.g. all-zero state), but I wasn't sure if this is the most efficient/direct way to do this.

[2019-03-20 16:17] c-poole commented on #1451
I think the method you propose would work but the issue I see with it is that in order to produce a d-dimensional random quantum state you need to produce a d x d dimensional unitary. Since d is already 2^qubits, this becomes a memory hog very quickly.

[2019-03-20 16:50] hsim13372 commented on #1451
That's a good point. I just didn't know of a more memory-efficient method.

[2019-03-20 17:28] c-poole commented on #1451
Appendix A of https://arxiv.org/pdf/quant-ph/9804024.pdf gives a method for uniformly sampling the PDF of a N-dimensional quantum state. A PDF doesn't uniquely determine a quantum state, but I would expect that putting i.i.d. uniformly distributed phases on each term should produce a uniform quantum state.

[2019-03-20 18:19] vtomole commented on #887
Reopening based on comments by @balopat.

[2019-03-20 18:19] Strilanc opened #1452 "Define a destructive measurement channel"
Related to https://github.com/quantumlib/Cirq/issues/882 but I see that issue as an optimization of the simulator as opposed to defining a channel.

[2019-03-20 19:11] kevinsung commented on #1451
@Strilanc I think for `random_superposition` you mean that it should sample from the uniform measure, which it already does.

[2019-03-20 19:25] hsim13372 commented on #1451
Hmm I think you're right, @kevinsung. I just checked and convinced myself that the way it's currently implemented is sampled uniformly.

Maybe the only thing would be a minor documentation fix:

[code]

[2019-03-20 20:40] Strilanc commented on #1451
Oh, it's using a gaussian already? My mistake.

There *is* at least one instead of a TODO saying that code needs to be updated to sample from the Haar measure.

To close this issue, just verify and document that all these methods sample from the Haar measure.

[2019-03-21 05:16] viathor commented on #1448
Fixed by #1453.

[2019-03-21 05:16] #1448 closed

[2019-03-21 17:14] trevormccrt opened #1454 "Measurement + Reset"
It would be great if the simulator had a way to measure in the middle of the circuit and reset the qubit to some known state (|0>?), allowing that qubit to be used for something else for further operations.

[2019-03-21 20:31] vtomole commented on #963
Forgot to add "closes" on https://github.com/quantumlib/Cirq/pull/1431. Please close.

[2019-03-21 21:00] hsim13372 commented on #1451
I verified and documented these methods and made a pull request.

Just to check, I removed `* 2 - 1` from `m = np.random.randn(dim, dim) * 2 - 1` in the function that generates a random orthogonal matrix. May I ask what the reason for these operations was? I could've been wrong to remove them!

[2019-03-21 22:01] dstrain115 commented on #963
Closed per vtomole.  Also added on assignee, since he did all the work!!!

[2019-03-21 22:01] #963 closed

[2019-03-21 22:16] #1451 closed

[2019-03-21 22:25] #828 closed

[2019-03-21 23:08] Strilanc commented on #1454
Duplicate of https://github.com/quantumlib/Cirq/issues/1452

[2019-03-21 23:08] #1454 closed

[2019-03-22 00:21] vtomole commented on #900
@Strilanc Ping.

[2019-03-22 01:13] Strilanc commented on #900
Doesn't `Circuit` still need to implement `_approx_eq_` to finish this?

[2019-03-22 10:47] vtomole commented on #954
Ping.

[2019-03-22 14:47] mrwojtek commented on #900
Ack, I'll do this by Monday (perfect motivation to get back to Cirq).

I see that I also need to implement `_approx_eq_` on `Moment` which will just delegates to `_approx_eq_` on iterable of `Operation`.

For `Device` I'll just use type-equality?

If you think that some other parts of Cierq could also use support for `_approx_eq_` please let me know, I'm not following everything what is going on n

[2019-03-22 17:36] dabacon opened #1458 "problems with tkinter"
When I run continuous-integration/check locally I get
[code]

[2019-03-22 17:48] maffoo commented on #1458
You might need to blow away your virtualenv and rebuild it. We saw this sort of thing when our workstations got automatically updated to a new version of python (first 3.5.3 to 3.5.4-rc1 and then to 3.6.5).

[2019-03-22 18:18] dabacon commented on #1458
Ah that worked.  I had thought that check.sh created its own virtual environment

[2019-03-22 18:18] #1458 closed

[2019-03-22 18:25] Strilanc commented on #1458
I think it does create its own virtual environment...

But I also had the experience that recreating my cirq virtualenv fixed this problem.

[2019-03-22 18:35] c-poole opened #1460 "When a method expects qubits as arguments, verify that it received qubits"
Currently `on_each` in `SingleQubitGate` does this and then calls `on` in `Gate` once it is content that is has been given valid arguments. This verification should be moved to `on` or `validate_args` in `Gate.` This is particularly relevant since the signature for `on` was recently changed from expecting a list of qubits to an unpacked list of qubits. I would push for `validate_args` since it cov

[2019-03-22 19:55] #954 closed

[2019-03-22 22:10] Strilanc opened #1461 "Get rid of MultiQubitGate"
Now that `Gate` implements a `validate_args` that checks the qubit count, `MultiQubitGate` does nothing but replace `def num_qubits(self): return X` with `super().__init__(X)`, which is not enough to justify its existence.

Find all cases where `MultiQubitGate` is used and replace them with inheritance from just `Gate` with a defined qubit count.

[2019-03-22 22:23] Strilanc commented on #1460
So basically this amounts to modifying `GateOperation` to verify that the qubits it was given are in fact instances of `Qid`.

[2019-03-22 22:27] Strilanc commented on #900
circuit and moment supporting it is sufficient

[2019-03-22 22:30] c-poole commented on #1460
Pretty much. I think `Gate.validate_args` is the right place since almost everything that doesn't already perform explicit type-checking on qubit arguments already defer to it. Overridden `validate_args` methods will need to have super calls added to them as well. Most of the work will probably be in fixing tests that pass non-qubits into methods that defer to `validate_args`.

[2019-03-22 22:32] Strilanc commented on #1460
Yeah, we should be more consistent about calling the parent method when overriding it.

[2019-03-22 23:35] c-poole opened #1462 "Recursion Pytest Collection Error"
I pulled in changes from the main cirq repository to my local branch and ran pytest with the following error:

I'm running Ubuntu subsystem for Windows 10,
python 3.6.7,
pytest 4.3.0

[code]

[2019-03-23 02:31] #1382 closed

[2019-03-23 18:22] mrwojtek commented on #900
Created #1465.

I see there is also `CircuitDag`, shouldn't it have support for approximate equality?

[2019-03-23 18:49] mrwojtek opened #1466 "cirq/optimizers/decomposition_test.py fails undeterministicaly"
While trying to merge #1465, one of the decomposition tests (`cirq/optimizers/decompositions_test.py::test_single_qubit_matrix_to_native_gates_fuzz_half_turns_always_one_gate`) failed on input `(0.8209689113482108, 0.32097649795628813)` with message:
[code]
This looks like a rounding problem but most likely require some investigation.

Regardless of the issue at hand, I noticed that this test gene

[2019-03-26 00:37] Strilanc opened #1467 "Missing moment indicators in circuit diagram"
This code:

[code]

Produces this diagram:

[code]

Look carefully at lines 7-9 of the diagram:

[code]

These three lines all have gates; they are not vertically separated by a layer with no gates. This indicates they came from the same moment. But there is no same-moment indicator on the left or right.

Either these lines should not be placed together as they are, or the moment indicator should

[2019-03-26 00:46] Strilanc commented on #1466
We do fuzz testing in several places. I don't think this is a bad practice, because the failures we see are actual failures.

We do have some probabilistic tests with false positive failures, but when we add those I try to keep the probability of statistical failure very low. Perhaps 1 in a million, informally. If we had a 1000 such tests, we would see a failure every 1000 runs or so. That is an a

[2019-03-26 06:15] smitsanghavi commented on #1462
Not sure if related but I'm seeing a similar issue with my pylint run https://travis-ci.com/quantumlib/Cirq/jobs/187713507

[2019-03-26 19:11] viathor commented on #1462
The pylint issue is also infinite recursion, but it appears to originate elsewher: LinearDict vs asteroid(*). It's probably caused by https://github.com/PyCQA/astroid/issues/650 (see also #1411).

--
(*) asteroid is an AST package used by pylint.

[2019-03-26 19:16] viathor commented on #1462
I tried reproducing the original issue under various python versions. Interestingly, it appears neither in python 3.6.5 nor in python 3.7. It does appear in python 3.6.7.

The problem is that `dict` implementation in python 3.6.7 calls `keys()` from `dict.copy()`. The call is resolved to `LinearDict.keys()` which in turn calls `LinearDict.copy()` which closes the cycle by calling `dict.keys()`. Th

[2019-03-27 02:22] vtomole commented on #465
Done in favor of `requirements.txt`. Please close.

[2019-03-27 03:46] mrwojtek commented on #1466
You're probably right; it just might get more frustrating to work with the flaky project if it gets out of control. Fortunately there is re-run button in Travis.

On the other hand, if we suspect that there is something wrong maybe it's good idea to just test it extensively once, when creating the functionality? Out of pure curiosity I run the concerning test 100000 times and it failed 30 times. (

[2019-03-27 14:38] vtomole commented on #996
Done. Please close.

[2019-03-27 16:34] vtomole commented on #1372
We've decided to drop earlier than 2020 (next release) if no one complains.

[2019-03-27 17:56] vtomole commented on #1262
This works now that we've moved to sympy but i don't think the `repr` of the circuit is correct.

[2019-03-27 18:17] #996 closed

[2019-03-27 18:38] balopat commented on #1461
I'm happy to pick this up

[2019-03-27 18:45] Ashalynd commented on #1359
Is this about adding a test for compute_displays_sweep in SimulatesIntermediateWaveFunction class?

[2019-03-27 20:07] Strilanc commented on #1262
Yes, this is now fixed.

If a repr is incorrect, open as separate issue.

[2019-03-27 20:07] #1262 closed

[2019-03-27 20:16] vtomole commented on #1269
@Strilanc Any reason for sticking to `~=2.2`

[2019-03-27 20:39] yudongcao opened #1474 "HPowGate issues"
I have been playing with gates such as `cirq.H**0.4` which is a Hadamard gate that is exponentiated:
[code]

I thought this should be an instance of `HPowGate` as defined [here](https://github.com/quantumlib/Cirq/blob/master/cirq/ops/common_gates.py). But the above code returns `False`. Also if we run
[code]

the result shows `0: ───H───`. What happened to the exponent?

[2019-03-27 21:01] Strilanc commented on #1474
Oops, the implementation of `HPowGate._circuit_diagram_info_` was not updated when an exponent was added. Thank you for catching this.

[2019-03-27 21:15] vtomole commented on #1474
So that's the `repr` issue i was referring to here: https://github.com/quantumlib/Cirq/issues/1262. I'll take this.

[2019-03-27 21:16] vtomole commented on #1474
*Not `repr` but `print`

[2019-03-28 00:05] dabacon opened #1476 "examples test is slow"
This test is taking almost 30s:
[code]

I think it is the single_qubit_randomized_benchmarking and two_qubit_randomized_benchamarking, which has default parameters that are pretty large.

[2019-03-28 00:10] dabacon commented on #1476
Also:
15.59s call     cirq/experiments/qubit_characterizations_test.py::test_two_qubit_randomized_benchmarking
6.09s call     cirq/experiments/qubit_characterizations_test.py::test_two_qubit_state_tomography

[2019-03-28 00:12] vtomole commented on #1474
@yudongcao With respect to `isinstance`,  Your `g` is a `GateOperation` and `HPowGate` a `Gate` I think.
`isinstance(g, cirq.ops.gate_operation.GateOperation)` works.
CC: @Strilanc

[2019-03-28 00:17] dabacon commented on #1476
for qubit_characterizations_test, I tried a little bit of reducing repetitions or number of circuits or clifford range but still slow.

[2019-03-28 00:28] viathor commented on #1474
Re `isinstance` returning `False` above: @vtomole 's explanation is correct.

[code]

[2019-03-28 00:31] yudongcao commented on #1474
I see. So once there is a concrete qubit that the gate is set to act on, the gate object becomes `GateOperation`. What if I want to determine what type of gate a `GateOperation` represents, is there a way to retrieve that information? In other words, if `g = cirq.H(q)**0.4`, what can I do to `g` to know for sure that it comes from an `HPowGate`?

[2019-03-28 00:36] viathor commented on #1474
Yes, like this:

[code]

See also #1472 for a possible new way being added.

[2019-03-28 00:38] yudongcao commented on #1474
I see. Thanks for your help!

[2019-03-28 00:38] #1474 closed

[2019-03-28 02:25] davemc84 commented on #1461
Hi @balopat - if there is any grunt work associated with this one that you might be looking to offload, I would be more than happy to help out. Please do not hesitate to reach out!

[2019-03-28 06:52] vtomole commented on #961
Done by us moving to `sympy`. Please close.

[2019-03-28 10:13] vtomole opened #1478 "Simplify python_requires procedure"
`python_requires=('>=2.7,!=3.0.*,!=3.1.*,!=3.2.*,!=3.3.*,!=3.4.*, !=3.5.0, !=3.5.1')` is easier to read as `python_requires=('>=2.7, >=3.5.2')`.

Thanks @hugovk for the suggestion.

[2019-03-28 11:13] hugovk commented on #1478
I believe `python_requires=('>=2.7, >=3.5.2')` will still match 3.0 - 3.4 because they're bigger than 2.7.

This simplification can only be done when dropping 2.7:

[code]

[2019-03-28 13:05] vtomole commented on #1478
Got it. That's why it was like that.

[2019-03-28 13:05] #1478 closed

[2019-03-28 14:20] timothyman commented on #1460
Can I give this a shot?

[2019-03-28 14:24] vtomole commented on #1460
Go for it!

[2019-03-28 19:58] #961 closed

[2019-03-28 20:25] vtomole commented on #509
Done: https://github.com/quantumlib/Cirq/tree/master/cirq/experiments. I'm going to tag https://github.com/quantumlib/Cirq/issues/1002 as it's related.

[2019-03-28 20:27] vtomole commented on #1002
@dabacon  Regarding tutorials, what do you think about putting the Jupyter notebooks in `examples/tutorials`?

[2019-03-28 20:27] #509 closed

[2019-03-28 20:27] Strilanc commented on #509
So many fixed issues!

[2019-03-28 20:27] #1462 closed

[2019-03-29 00:23] Strilanc commented on #1002
I would put `tutorials` it at the top level. I would also consider calling it `notebooks` or `jupyter_notebooks` or `tutorial_notebooks`.

[2019-03-29 00:24] Strilanc commented on #1359
I think @dabacon means that we should have tests that take a proposed implementation and exercise it to verify that they satisfy the interface's contract. For example, we have generic gate tests that check that things like `_unitary_` and `_decompose_` are returning consistent results.

[2019-03-29 00:28] vtomole commented on #1002
Sure. You said that you'll keep an eye out when adding to top level: https://github.com/quantumlib/Cirq/issues/748.

[2019-03-29 13:32] vtomole commented on #192
@Strilanc Ping

[2019-03-29 14:11] vtomole commented on #164
@andyliphys The program you posted currently runs with no errors on the master branch after some minor adjustments.

[code]

CC: @Strilanc

[2019-03-29 14:31] andyliphys commented on #164
@vtomole Thanks. Just check that the bug is fixed in release v0.4.0.

[2019-03-29 14:37] vtomole commented on #164
@andyliphys  Nice! Could you please close this then?

[2019-03-29 17:01] andyliphys commented on #164
@vtomole I cannot close the issue since it is created by @Strilanc.

[2019-03-29 22:52] Strilanc commented on #192
Yeah, this is fixed enough to close. It could be better, though...

[2019-03-29 22:52] #192 closed

[2019-03-30 17:07] davemc84 commented on #1467
I've been trying to look into this and, for what it's worth, the following code reproduces this issue with a more simple circuit:

[code]
Output:
[code]

Based on the above, it looks like the issue might be missing movement indicators, though I am still trying to better diagnose and resolve the problem here.

[2019-03-30 22:16] Ashalynd commented on #1467
This works properly:

[code]

[code]

This also works properly:

[code]

[code]

This, however, doesn't:

[code]

[code]

Perhaps the problem is due to the single gates present at the end of the lines which were supposed to be grouped.

[2019-03-31 00:06] davemc84 commented on #1467
Thanks so much @Ashalynd! In addition to the single gate at the bottom, it looks like the order within the movement also seems to impact whether this error occurs:

[code]
[code]
I am going to continue looking into this, but thanks so much for your help here!

[2019-03-31 22:52] balopat commented on #1461
Thank you @davemc84 - it wasn't that bad!

[2019-04-01 08:35] dlyongemallo opened #1487 "circuit_to_latex_using_qcircuit produces a diagram with bad margins"
I'm not actually sure whether this is a Cirq problem or a qcircuit problem or a jupyter notebook problem. I'm trying to plot a graphical representation of a Cirq circuit in a jupyter notebook using `circuit_to_latex_using_qcircuit`. However, the produced output has effectively negative margins, so that parts of the image are outside the borders (and thus are not displayed).

Different circuits can

[2019-04-01 15:24] Strilanc commented on #1487
This is a qcircuit bug. That being said, I don't think it's going to be fixed there and we probably should work around it somehow..

[2019-04-02 14:18] vtomole commented on #931
I don't know how "hard" the release deadline is; but all that's left from this is @mlihc15  changing `QubitId` to `Qid`.

[2019-04-02 14:34] Strilanc opened #1489 "Detectors inside custom circuit gates don't show clicks or go into export sim data"
Example:

https://algassert.com/quirk#circuit={"cols":[["~54gr"]],"gates":[{"id":"~54gr","circuit":{"cols":[["ZDetector","XDetector"]]}}]}

[2019-04-02 14:35] Strilanc opened #1490 "Amplitude display isn't showing "deferred measurement" warning anymore"
Example https://algassert.com/quirk#circuit={"cols":[["H"],["Measure"],["Amps2"]]}

[2019-04-02 19:10] Strilanc opened #1491 "Methods that take cirq.Duration should also take datetime.timedelta"
We still need duration, because timedelta only goes to microseconds.

[2019-04-02 22:33] #1310 closed

[2019-04-02 22:55] vtomole commented on #787
@bryano Ping.

[2019-04-02 23:27] vtomole commented on #827
Close for now? I haven't found any left after skimming.

[2019-04-03 04:03] dlyongemallo commented on #1487
Where can I report (or fix) qcircuit bugs?

(Also: Filed https://gitlab.com/qosf/qml-mooc/issues/2 to remember to update the notebook where I found the problem once it's fixed or worked around.)

[2019-04-03 04:41] Strilanc commented on #1487
I don't actually know if there's anyone maintaining it...

[2019-04-03 05:18] #827 closed

[2019-04-03 17:46] Strilanc opened #1492 "Make LaTex/PDF images better, stop using qcircuit"
Currently, Cirq's pdf output is in contrib because it's not particularly good. The margins are messed up, there's no boxing of multiqubit gates, etc, etc. Someone needs to go over this functionality and polish polish polish polish.

For example, we could directly use TIKZ (or some other library) instead of qcircuit (which has serious limitations). We could add boxing information to the diagram inf

[2019-04-03 17:52] vtomole commented on #1492
Look into qpic: https://github.com/quantumlib/Cirq/issues/1290

[2019-04-03 18:09] Strilanc commented on #868
Fixed by switch to sympy

[2019-04-03 18:09] #868 closed

[2019-04-03 18:30] kevinsung opened #1493 "Generalize SamplesDisplay to allow multiple measurement bases"

[2019-04-03 18:35] Ashalynd commented on #1394
The piece of code in density_matrix_simulator is also conceptually similar, except that it applies a channel i/o applying unitary. Is the utility method expected to cover apply_channel too?

[2019-04-03 18:42] c-poole commented on #931
This was merged yesterday

[2019-04-03 18:46] bryano commented on #787
Seems to be working now.

[2019-04-03 18:46] #787 closed

[2019-04-04 15:15] #1467 closed

[2019-04-05 02:06] dabacon commented on #1435
#1499 fixes last one

[2019-04-05 16:17] andbe91 commented on #1492
I might pick this up.

Are there any specifications or requirements of the pdf output? If you could provide some examples of how you would like certain algorithms to be rendered, that would be helpful.

[2019-04-05 17:53] dabacon commented on #1435
There are still cases where we need to check if it is a measurement gate (measurement in computational basis).  But otherwise all keys use protocol now.

[2019-04-05 17:53] #1435 closed

[2019-04-08 20:46] Strilanc opened #1501 "Fix `cirq.control` documentation talking about `__control__` instead of `controlled_by`"

[2019-04-08 21:48] #1285 closed

[2019-04-08 23:07] #1501 closed

[2019-04-08 23:21] #1461 closed

[2019-04-08 23:56] Strilanc opened #1505 "Type cannot be coerced error on windows"
(Moved from https://github.com/quantumlib/OpenFermion-Cirq/issues/342)

On my linux machine, the following code runs to completion. But apparently it fails on Windows. @c-poole could you confirm that it fails on your machine and, if so, try to cut it down to a smaller amount of code?

Repro code:

[code]

Reported error text:

[code]

[2019-04-09 00:01] vtomole commented on #1505
Not just windows. I run into this same error on `Ubuntu 18.04` with `Python 3.6.7`

[2019-04-09 00:12] Strilanc opened #1506 "Define an `equal_up_to_global_phase` protocol"
A class implementing `_equal_up_to_global_phase_(self, atol: float)` should allow comparisons that ignore global phase to be made. The utility method `cirq.equal_up_to_global_phase` would first try for this method, then fallback to `cirq.approx_eq`.

[2019-04-09 01:35] c-poole commented on #1505
I'll have a look.

[2019-04-09 02:30] Strilanc opened #1507 "Fix __str__ methods of X/Y/ZPowGate not printing Rx/Ry/Rz when global shift is -0.5"
The behavior should match the behavior of circuit diagram info and repr. The main criteria is this:

[code]

[2019-04-09 17:20] vtomole commented on #931
Yeah. Not related to https://github.com/quantumlib/Cirq/pull/1169.

[2019-04-09 17:20] #931 closed

[2019-04-09 19:18] vtomole opened #1511 "float128 not supported on my Windows Anaconda"
[code]

@c-poole I ran into this while running pytest on my Windows. Does pytest pass for you on Windows?

[2019-04-09 20:41] vtomole commented on #1511
This seems to be a win32 bug: https://github.com/winpython/winpython/issues/613

[2019-04-09 21:39] vtomole commented on #1511
I suggest we replace `np.float128` with `np.longdouble` and `np.complex256` with `np.clongdouble`. These won't change anything on Linux but it will give us `np.float64` and `np.complex128` on Windows and won't break tests on Windows builds (this change also depends on how many devs we have on Windows ).

Kind of related: @Strilanc  Should we add a Windows build on our Travis?

[2019-04-09 22:18] dabacon commented on #1383
This is done to a first order.

There is some future work that we could do: for projective measurements outside of the computational basis we could support these as stochastic simulation.

We could also make it easy to run distributed versions of this code.

[2019-04-09 22:18] #1383 closed

[2019-04-10 11:41] piyush2468 opened #1514 "Sweep error"
sweep = (cirq.Linspace(key='alpha', start=0.1, stop=0.9, length=5)
        * cirq.Linspace(key='beta', start=0.1, stop=0.9, length=5)
        * cirq.Linspace(key='gamma', start=0.1, stop=0.9, length=5))
results = simulator.run_sweep(circuit, params=sweep, repetitions=100)
for result in results:
    print(result.params.param_dict, obj_func(result))

AttributeError: 'Mul' object has no attribute 'co

[2019-04-10 12:46] vtomole commented on #1514
Please post the whole program that's giving this error (the circuit you are trying to sweep), also what version of python are you running this on?

[2019-04-10 12:53] piyush2468 commented on #1514
I'm trying normal parameterized circuit to sweep, also I'm running it in a python notebook with latest dependency.
Link - https://www.kaggle.com/piyush1912/cirq-quantum
Please let me know where I'm getting it wrong .

[2019-04-10 13:08] Strilanc opened #1515 "Give a descriptive error when asked to simulate a circuit with unresolved parameters"
I think the reason https://github.com/quantumlib/Cirq/issues/1514 was reported as a bug is because the current error that results from this mistake is so bad that it looks like a bug in cirq. Both cirq.Simulator and cirq.google.XmonSimulator should check if `cirq.is_parameterized(circuit)` before continuing into the numerical simulation, and if so then raise an exception describing the problem.

T

[2019-04-10 13:08] Strilanc commented on #1514
Try using `cirq.Simulator` instead of `cirq.google.XmonSimulator`.

I think the issue here is that the sweep you specified didn't resolve all the parameters present in the circuit, and the xmon simulator is giving an extremely confusing error instead of failing sooner. I've opened https://github.com/quantumlib/Cirq/issues/1515 to fix this.

I should probably also open an issue on sympy asking them

[2019-04-10 13:23] piyush2468 commented on #1514
I think there's some issue with sympy, also when I've tried changing Xmon to cirq.Simulator it's giving type error which is different from last time attribute error.
ufunc 'multiply' output (typecode 'O') could not be coerced to provided output parameter (typecode 'F') according to the casting rule ''same_kind''

[2019-04-10 16:08] piyush2468 commented on #1505
Using cirq.Circuits is somehow forcing this error while Xmon is giving attribute error of cos definition.
Root of the problem is in Sympy most probably, I'll look into it.

[2019-04-10 20:31] #1143 closed

[2019-04-10 20:31] #1511 closed

[2019-04-10 20:43] vtomole commented on #1380
`apply_channel` exists.

[2019-04-10 20:46] #1380 closed

[2019-04-10 23:05] Strilanc commented on #1514
Okay, that makes sense. I think you're forgetting to sweep over a parameter because that error says numpy encountered an object (e.g. Symbol) being added into a float array.

[2019-04-10 23:37] Strilanc commented on #1514
Okay, looking over the web page you linked to, I think the issue is that it is mixing conventions from cirq 0.4 with conventions from cirq 0.5. When I try to run it locally I get new errors about gate set requirements for XmonSimulator.

Try using `cirq.Symbol` instead of `sympy.Symbol`.

[2019-04-10 23:51] Strilanc opened #1519 "Raise an error when attempting to sample a circuit with no measurements"
Should apply in the SparseSimulator, DensitySimulator, WaveFunctionSimulator, and XmonSimulator.

Introduce a utility method `has_measurements` on `Circuit` to avoid too much code duplication.

[2019-04-11 03:34] piyush2468 commented on #1514
cirq.symbol has started working on sweeping the circuit but the question remains on the parameter error or casting error which have been caused by Sympy.
0.4 works for now but there's a problem with sympy which needs to be opened.
As you can see from the page I've linked now it's working as we have parameterized the circuit using cirq not Sympy.

[2019-04-11 14:34] bpcarlos opened #1521 "Is it possible to start a simulation with a random initial state?"
Wondering if I can create a random initial state by modifying the 2^n vector amplitudes (instead of starting every simulation at |000...00>) and then apply quantum gates to this state.

[2019-04-11 14:51] vtomole commented on #1521
Hi @bpcarlos. We use Github issues for tracking requests and bugs. Please copy and paste this question to the [Quantum Computing Stack Exchange](https://quantumcomputing.stackexchange.com/) with a `cirq` tag.

Thank you,
Victory

[2019-04-11 14:55] bpcarlos commented on #1521
OK, thank you @vtomole

[2019-04-11 14:55] #1521 closed

[2019-04-11 18:49] QuantumVerd commented on #882
Any update on this issue? Being able to measure a qubit, perform a classically-controlled feedback unitary conditioned on the result, then discarding or "resetting" the qubit to |0> is something that would be very useful/crucial for multiple of our research projects currently in flight.
With the new density matrix simulator I believe this shouldn't be too difficult to add as a capability for the s

[2019-04-11 21:00] #1460 closed

[2019-04-11 21:26] Strilanc opened #1522 "Introduce SweepTrialResult and return it instead of List[TrialResult] from sweeping sample methods"
For example, this would allow us to support functionality like "give me the results where the sweep variable was 0.25".

[2019-04-11 21:30] Strilanc commented on #1514
If you were using the dev version of cirq, the sympy variant would have worked. The only remaining issue is for the error message to be improved.

[2019-04-11 21:35] Strilanc commented on #1515
Here is a repro:

[code]

Errors with this:

[code]

But should actually error with this:

[code]

[2019-04-11 21:46] #1514 closed

[2019-04-11 21:52] Strilanc commented on #1492
I don't have any hard concrete specifications, which is part of why I labelled this a "project". Part of it is to decide on a good tradeoff between what is achievable and what looks good.

That being said, here are some specific points that I thought of:

- CNOT gates should turn into a black circle connected to a big circled plus
- CZ gates should be two linked black circles
- Gates from the same

[2019-04-11 22:00] Strilanc commented on #1489
Wrong repo.

[2019-04-11 22:00] #1489 closed

[2019-04-11 22:00] Strilanc commented on #1490
Wrong repo.

[2019-04-11 22:00] #1490 closed

[2019-04-11 22:04] Strilanc commented on #1466
Fixed by #1516

[2019-04-11 22:04] #1466 closed

[2019-04-12 00:20] dabacon commented on #1519
This code is in run?

[2019-04-12 00:43] #1445 closed

[2019-04-12 02:02] Strilanc commented on #1519
Could you point at it? When I run a circuit with no measurements I just get an empty trial result. For example, `cirq.Simulator().run(cirq.Circuit())` produces no error.

[2019-04-12 14:38] vtomole commented on #1071
@dstrain115 Hey, how's this going?

[2019-04-12 15:16] dabacon commented on #1519
Whah?  I was asking whether you want to put this in the "run*" methods?

Yeah current behavior is that no measurements produce an empty trial result.

[2019-04-12 16:12] vtomole commented on #1521
Hey @bpcarlos, does this [answer](https://quantumcomputing.stackexchange.com/a/5902/362) work for you?

[2019-04-12 16:30] dstrain115 commented on #1071
From the latest code commit, it seems we have gotten about a 50% improvement so far.  I was starting to find it more and more difficult to continue improving this, without cutting out all the matrix decompositions.  I am open to suggestions.

From #1233 :

The cumulative savings of this change, in combination with the previous
fixes has decreased conversion from 2.7 seconds to 1.25 seconds and
opt

[2019-04-12 16:46] dabacon opened #1526 "Check script doesn't run format check"

[2019-04-12 17:10] vtomole commented on #1526
What do you mean?

[2019-04-12 17:19] Strilanc commented on #1526
He means `continuous-integration/check.sh` doesn't do this particular check.

[2019-04-12 17:31] vtomole commented on #1526
Ah! I forgot `check.sh` exists.

[2019-04-12 18:18] Strilanc commented on #1071
I think the next step for this would be to move the kak decomposition into C or Cython (which requires incorporating them into the build process), because that seems to be the huge bottleneck.

[2019-04-12 18:22] Strilanc commented on #1519
Oh, I thought you were asking "is this code in run".

Yes, I think it should be limited to the `run` methods, because the `simulate` methods have useful outputs when given no measurements.

[2019-04-12 18:30] dabacon opened #1527 "Should has_mixture and_has_channel fallback?"
Currently has_mixture falls back to has_unitary and has_channel falls back to has_mixture and has_unitary.

This ends up causing on to ask about gates or operations in a specific order for efficiency.  First ask for has unitary.  Then ask for has mixture.  Then has channel.

I think we should either remove the fallback for the has methods (not the fallback to the attribute, i.e. has_mixture should

[2019-04-12 18:48] Strilanc commented on #1527
I'm not sure. Would anyone ever actually use that option, other than the internal implementation? I also think that someone seeing this option may think that setting the "don't do unitary fallback" argument means "is this a mixture that can't be expressed as a unitary?" when actually it means "does the class specify its behavior in terms of a unitary instead of in terms of a mixture?".

I think wh

[2019-04-12 18:58] vtomole commented on #1505
@HiggsBoson3310 This code is fine on cirq version `0.4.0` with `cirq.symbol`. A temporary fix would be downgrading your installed cirq version and changing calls for `sympy.symbol` to `cirq.symbol`.

[2019-04-12 23:04] davemc84 commented on #1515
Thanks very much for the context @Strilanc.  I would be more than happy to give this one a try.

[2019-04-12 23:12] Strilanc commented on #1515
It's all yours!

[2019-04-14 00:37] vtomole commented on #1269
Hey @jiapei100, did you run into a problem using `matplotlib 3.0.2` with Cirq?

[2019-04-14 21:27] bradyb commented on #980
@Strilanc what did you mean by the `#2---#3` in `def _circuit_diagram_info_(self, args)`?

[2019-04-15 06:06] Strilanc commented on #980
It's a way of indicating the order of the other qubits in the operation. First qubit gets the name, others get numbers. This matters for operations that depend on the qubit order.

[code]

[2019-04-16 03:23] vtomole commented on #1269
Closing. Feel free to re-open if you run into matplotlib version problems.

[2019-04-16 03:23] #1269 closed

[2019-04-16 04:07] #1507 closed

[2019-04-16 15:22] #164 closed

[2019-04-16 16:39] dabacon opened #1535 "warnings while building docs"
From running build-docs.sh
[code]

[2019-04-16 18:32] vtomole opened #1536 "googlebot can't detect CLA from co-authored commits even if all the authors have signed the CLA"
Example: https://github.com/quantumlib/Cirq/pull/1528

[2019-04-16 20:13] Strilanc commented on #1536
Unfortunately, this is out of our control and also it is working as intended. In particular, just because someone signed the CLA doesn't mean they intended for the specific code that someone else is submitting to be handed over. It's not possible for a script to make that determination well, and so it requires manual override.

[2019-04-16 20:13] #1536 closed

[2019-04-17 00:24] Strilanc opened #1539 "Observables instead of Displays?"
I was talking with @ncrubin and @mpharrigan about displays, and they made some good points against them. Mainly it comes down to: this feature has a ton of engineering complexity, but cover a lot of use cases outside of what researchers actually need to do. We would likely be better served by, instead of a "compute_displays" method where there can be a series of displays strewn throughout the circ

[2019-04-17 14:50] timothyman commented on #1491
I would like to give this a shot.

Is there additional context I should be aware of?

[2019-04-17 14:54] dabacon commented on #1491
Probably just watch out for cases where you somehow end up doing a conversion from Duration to timedelta, since we don't want hidden loss of precision.

[2019-04-17 16:52] vtomole opened #1541 "multiprocessing_pool tests failing on Windows"
3 tests are failing on Windows due to multiprocessing errors.

One of them:
[code]
See: https://travis-ci.com/quantumlib/Cirq/jobs/193736308

[2019-04-17 16:54] vtomole opened #1542 "Windows: failing test " test_with_multiple_multiprocessing_pools""
[code]
See: https://travis-ci.com/quantumlib/Cirq/jobs/193736308

[2019-04-17 16:58] vtomole commented on #1542
Redundant: https://github.com/quantumlib/Cirq/issues/1541

[2019-04-17 16:58] #1542 closed

[2019-04-17 17:21] c-poole commented on #1505
My windows machine runs this code without error

[2019-04-17 17:24] Strilanc commented on #1505
I believe the error is a result of applying cirq 0.5 documentation to cirq 0.4, or vice versa. Closing is not reproduceable.

[2019-04-17 17:24] #1505 closed

[2019-04-17 17:38] mpharrigan commented on #1539
I think this is a really nice consequence of constraining displays into observables

[2019-04-17 18:27] Strilanc commented on #1539
@babbush @john6060 @jarrodmcc

[2019-04-17 18:41] babbush commented on #1539
I think this is a nice idea. But when you say "don't allow observables to be added into circuits", what do you mean exactly? Do you mean that all observables will be understood to be taken at the end of a circuit? While this is appropriate for most of the early NISQ experiments, eventually we'll want to be able to schedule measurements during a circuit. I realize that fast feedforward is still yea

[2019-04-17 18:58] babbush commented on #1539
Also, I do think that while doing classical simulations it will often be a useful debugging tool to be able to request expectation values at intermediate parts of the circuit, even though that is clearly not practical to do on the chip.

[2019-04-17 21:12] dabacon opened #1543 "mux's sample runs wrong simulator"
Currently mux's sample checks "has_unitary" on a circuit.  That does a check to see if the measurements are all terminal and if not, returns false.  But this is not correct for deciding to use sparse simulator: if the measurements in the middle are there the sparse simulator will be faster because it is doing a pure state simulation.

The use of asking about terminal measurements in _has_unitary_

[2019-04-17 21:19] dabacon opened #1544 "Common channels should support parameterized values"
Right now they are just floats (missing type info).  Generally these should be parameters at is very common in simulation to want to run the channels for different noisy rates.

[2019-04-17 21:21] dabacon commented on #1543
Oh this also will pick the wrong one for Monte Carlo simulation.

[2019-04-17 21:46] dabacon commented on #1543
@Strilanc thoughts on the has_unitary method on circuit?

[2019-04-17 22:14] Strilanc commented on #1543
Hmm I see. I thought that I was calling the purely wavefunction simulator. I still don't really get what you mean when you say "sparse" in the name.

Is there any situation where we would want to perform a density matrix simulation?

[2019-04-17 23:17] dabacon commented on #1543
Sparse refers to that you are not keeping the unitary in memory (so sparse matrix multiplication).  We could rename PureStateSimulator.

You want density matrix simulation when you want an actual density matrix, or the channel cannot be a mixture (generalized phase damping, for instance).

[2019-04-17 23:44] dabacon commented on #1527
I was thinking something like
`has_mixture`
and
`supports_mixture`
where the later does a fallback to has_unitary?

[2019-04-17 23:54] #962 closed

[2019-04-18 00:44] balopat opened #1548 "Add QASM importer"
As the other leg of #44 and maybe a partial solution to #862 depending on the gate sets - as we discussed on today's sync meeting, a QASM importer would be useful.

I'm happy to design and implement it.

[2019-04-18 00:50] Strilanc commented on #1548
The issue of specifying a gate set shouldn't come up when importing. Just try to match the gate specified in the QASM as closely as possible, and for now fail if there's no equivalent in cirq.

[2019-04-18 00:57] Strilanc commented on #1527
No, that's too tricksy with the wording. We need to be explicit, like `has_mixture` vs `specifies_mixture_method_that_returns_not_implemented`.

It's okay for the name to be ridiculously long because IMO it's an internal method users are never going to use.

[2019-04-18 00:58] Strilanc commented on #1543
`PureStateSimulator` would be much better.

[2019-04-18 01:01] Strilanc commented on #1539
Displays cannot be used in that way. Later parts of the circuit do not have access to the statistical result that was computed by the display during its associated sampling runs.

Yes. But that functionality can be emulated relatively easily by a user submitting the first half of a circuit.

[2019-04-18 02:27] #465 closed

[2019-04-18 03:55] #1434 closed

[2019-04-18 04:48] #1541 closed

[2019-04-18 04:55] dabacon commented on #1476
All the slowness is in _two_qubit_clifford, which generates the Clifford group.

I think maybe one could speed this up using a canonical form https://arxiv.org/pdf/1310.6813.pdf

[2019-04-18 08:46] Strilanc commented on #1539
Here is some rough prototyping code:

[code]

[2019-04-18 16:35] vtomole opened #1550 "Add examples that use PauliString on readthedocs"
Since we are slowly moving it out of `contrib`, we need to have a paragraph or two in the readthedocs that explains it.

[2019-04-18 21:31] peterse commented on #1539
I don't know if this is the right place to discuss this, but do you have an interface in mind for simulating part of a circuit, resolving expectation values, then picking up simulation where it left off to continue?

This functionality would improve efficiency for measurement of noncommuting observables. e.g. to measure <X0 + Z0> the simulator should run the circuit to do sampling on <Z0> (and ret

[2019-04-18 21:54] vtomole commented on #160
Hey @maffoo, how's this going?

[2019-04-19 23:43] balopat commented on #1548
@Strilanc  - this is my current understanding. Can you please comment?
I'm okay with doing Option 3 but leaning towards Option 2 in terms of lexer/parser infrastructure.
Let me know what you think!

---------

Design for QASM import for Cirq
=====

## Importing cirq.Circuit from a QASM file

The following call will create a circuit defined by the input file. Cirq takes care of opening, reading and

[2019-04-20 01:40] funston commented on #998
is this still a thing? i could give it a go if so.

[2019-04-20 16:11] vtomole commented on #998
@funston It is. Go for it!

[2019-04-21 14:34] vtomole opened #1552 "noise.html equation rendering off page"
Scroll down to the bottom of: https://cirq.readthedocs.io/en/latest/noise.html

[2019-04-23 19:13] #1535 closed

[2019-04-23 23:10] Strilanc commented on #1433
I am punting this because we are planning to actually replace displays with the concept of a "collector".

[2019-04-23 23:10] #1433 closed

[2019-04-23 23:11] Strilanc commented on #1355
Fixed by https://github.com/quantumlib/Cirq/pull/1520

[2019-04-23 23:11] #1355 closed

[2019-04-24 02:46] #1552 closed

[2019-04-24 04:35] dabacon commented on #83
we have valid BUILD files, but aren't using or requiring bazel.  I think we should close.

[2019-04-24 04:35] #83 closed

[2019-04-24 04:36] dabacon commented on #218
I think we've found that doing these transforms automatically causes confusion.  Suggest we close this issue?

[2019-04-24 04:43] dabacon commented on #861
op_gate_of_type can help here, we should likely make a pass at using it.

[2019-04-24 04:47] vtomole commented on #698
Closing due to removal of Python 2: https://github.com/quantumlib/Cirq/pull/1471

[2019-04-24 04:47] #698 closed

[2019-04-24 16:28] dabacon commented on #663
I'm not sure we still think this is a good idea now that measurement gate has number of qubits? If there is a still an argument to be made, please reopen.

[2019-04-24 16:28] #663 closed

[2019-04-24 16:46] dabacon opened #1561 "PauliStringPhasor should be a Gate"
Certainly the concept of a gate that does this operation is well defined.  Having it around as an object may not be super valuable, except that I really do think having the concept of a gate is very useful for defining what is supported by a device.  So now if we have QC that support this phasor we cannot say whether it is supported or not without talking about what qubits it is operating on.

[2019-04-24 17:53] smitsanghavi commented on #1519
I can take this.

[2019-04-24 18:20] dabacon opened #1562 "from mpl_toolkits.mplot3d import Axes3D fails for older versions of matplotlib"
This borks people who don't have a newer matplotlib installation.

Is it possible to not have this dependency?

[2019-04-24 18:46] Strilanc opened #1564 "Create an example using a tested jupyter notebook"
Check out how openfermioncirq managed to test the notebooks.

[2019-04-24 18:54] vtomole commented on #852
We couldn't find this because Jupyter is misspelled (`juptyer`).  @dabacon what's the context on this? Could be a two birds one stone with: https://github.com/quantumlib/Cirq/issues/1564

[2019-04-24 18:55] vtomole commented on #1562
Which version of `matplotlib` should i use to try to reproduce?

[2019-04-25 05:17] smitsanghavi commented on #1519
@Strilanc I'm curious, you listed these 4 Simulators specifically. What kind of simulators should not throw error here? Is there an underlying property here that we can use in a parent class itself?

[2019-04-25 21:39] Strilanc opened #1568 "Fix computation of sub_args in ControlledOperation"
The known qubit count should be `args.known_qubit_count - len(controls)` instead of `args.known_qubit_count - 1`.

[2019-04-26 17:30] Strilanc opened #1569 "Add a noisy simulation example"

[2019-04-26 17:38] Strilanc opened #1570 "Set y axis range of rabi oscillation experiment plot to [0, 1]"

[2019-04-26 21:17] #1491 closed

[2019-04-28 01:18] ncrubin opened #1571 "Bitflip channel flips with (1-p) instead of p"
[code]
I would expect the above code to produce a number of about 0.1.  Instead it does 1 - 0.1.

[2019-04-28 01:21] ncrubin commented on #1571
I should also add that the the simulator performs as expected for Amplitude damping
[code]

[2019-04-28 02:24] vtomole commented on #1571
What version of Cirq are you running this on? That `BitFlipChannel`  program channel works correctly on 0.6.0.dev0 (I got `0.0922`) and 0.5.0 (I got `0.0976`).

[2019-04-28 15:28] ncrubin commented on #1571
0.5.0.dev20190416130350

[2019-04-28 16:07] Strilanc commented on #1571
@dabacon fixed this in https://github.com/quantumlib/Cirq/pull/1545

[2019-04-28 16:07] #1571 closed

[2019-04-29 19:39] Strilanc commented on #1519
I was just trying to list them all. I think this applies globally to any simulator, as long as we're talking about sampling the measurement results.

[2019-04-30 05:59] bryano opened #1580 "check/format-incremental not matching Travis"
Locally, check/format-incremental says no changes needed, but on Travis:
[code]

[2019-04-30 06:25] bryano commented on #1580
Lots more examples if needed.

[2019-05-01 03:35] #1568 closed

[2019-05-01 04:46] vtomole opened #1586 "Proposal: Remove "pytest (without contrib)" from travis build"
What's the reason for https://github.com/quantumlib/Cirq/blob/9f4200874f1867e511f91fe396fe55c57f1c7bdb/.travis.yml#L44 if incremental coverage tests everything?

[2019-05-01 18:01] Strilanc commented on #1586
The reason is that when we do a release of cirq we don't include the (possibly large) contrib dependencies. If the pytest without contrib fails, that means the package will fail when installed.

[2019-05-01 18:01] #1586 closed

[2019-05-04 00:06] smitsanghavi commented on #1522
There can be multiple sweep variables, right? IF we want to support arbitrary querying like this, the result of such a query on a SweepTrialResult will return another SweepTrialResult without the params specified in the query.

I am thinking of implementing SweepTrialResult as Dict[TrialID, TrialResult] and an index of the form Dict[str(param+val), Set[TrialID]]]. Both of these can be created from

[2019-05-05 22:18] vtomole commented on #1562
@dabacon Ping. Would love an example program that does this too.

[2019-05-06 19:58] vtomole commented on #1580
Could you please link to the file that does this so i may reproduce it?

[2019-05-06 20:20] bryano commented on #1580
The most recent commit on #1236 passes the formatting test on Travis, but check/format-incremental returns a lot of suggested changes.

[2019-05-06 20:22] bryano commented on #1580
For the inverse (passing locally but failing on Travis), see the immediately prior commits.

[2019-05-06 22:27] Strilanc opened #1597 "Separate perf tests into a different travis check"
Currently the perf output is just a wall of text that test failures hide around. Perf testing is different from correctness testing in relevant ways, so we should keep them separate.

[2019-05-06 22:28] Strilanc commented on #1580
What version of yapf are you using?

[2019-05-06 22:37] Strilanc opened #1598 "Make incremental checks (such as formatting) compare against most recent common ancestor"
A failure modes of the incremental checks, formatting and coverage, occurs when you start a branch A, leave it be, pull from origin master to start some other branch, then return to A later. When you run the increment check again, it will compare against origin/master, instead of from where A branched off from origin/master. This can cause a lot of spurious and redundant formatting, which can lead

[2019-05-06 22:37] bryano commented on #1580
0.27.0

[2019-05-06 23:34] Strilanc commented on #1580
I'm able to reproduce this locally. This is a duplicate of https://github.com/quantumlib/Cirq/issues/1598 . If you sync with master (`git pull upstream master`) the problem will go away.

[2019-05-06 23:34] #1580 closed

[2019-05-06 23:38] Strilanc commented on #1522
I do like the idea of having a method like

`sweep_trial_result.slice_where_params_match({'a': 5})`

[2019-05-07 14:45] c-poole opened #1601 "Inverted Control Support"
In practice implementing an inverted control is as simple as sandwiching the control in your controlled gate that you want inverted with X gates, but some qubit architectures (neutral atoms being one that I'm aware of) that support multiple controls may also support having some of the controls inverted while others are not. We may want an implementation of this "native" version of an inverted cont

[2019-05-07 21:21] dabacon opened #1604 "Read the docs table of contents has wrong order"
"Introduction to pure state simulation" should be nested under "Simulation".

[2019-05-08 00:17] #1597 closed

[2019-05-08 00:19] Strilanc commented on #1601
If someone wants to have a go at generalizing ControlledOperation to include the inversion information, feel free. That would be a reasonable place to start, and we could grow it from there to cover things like the controlled_by protocols.

[2019-05-08 00:44] dabacon commented on #1597
Thanks for fixing this!  Less scrolling!

[2019-05-08 14:44] vtomole commented on #216
Ping @Ashalynd .

[2019-05-08 16:59] zoltanegyed commented on #159
Python uses the Mersenne Twister as the core generator. This will give a reproducible sequence given a seed, but it is not sufficient for this purpose for 2 reasons:

1. We need to expose the setting of a seed more clearly for simulations, including possibly passing them on to other processes (not a single seed for all such processes, but the ability to specify them separately).

2. Users may wish

[2019-05-08 17:01] dabacon commented on #159
Note that right now all our randomness for simulation is coming from numpy.

Agree with 1.

For 2 we should likely add something that does the right delegation to numpy in cirq.  That way we are explicit about this.

[2019-05-08 17:32] dabacon opened #1607 "Dependency error from albumentations in cirq >0.5"
In colab.research.google.com in a python3 notebook run
```!pip install cirq==0.5 --quiet```
results in
```ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.8 which is incompatible.```

[2019-05-08 18:26] Strilanc opened #1608 "Complex numbers can be approximately equal to integers"
but approx_eq incorrectly disagrees

[2019-05-08 18:40] vtomole commented on #1570
Closing manually as Bot doesn't work for "Fix" apparently.

[2019-05-08 18:40] #1570 closed

[2019-05-08 20:14] dabacon opened #1610 "Apply noise model to circuit"
I expected to be able to take a `NoiseModel` and apply it to a circuit.

```noise = cirq.ConstantQubitNoiseModel(cirq.depolarize(0.2))```
Then I'd like to be able to
```circuit.add_noise(noise)```
or
```noise.apply_noise(circuit)```

[2019-05-08 20:14] #1604 closed

[2019-05-08 20:20] balopat opened #1611 "Non-parametrized sympy literals as numbers?"
[code]
 fails with `Can't simulate unknown operations that don't specify a _unitary_ method, a _decompose_ method, (_has_unitary_ + _apply_unitary_) methods,(_has_mixture_ + _mixture_) methods, or are measurements.: cirq.Rx(sympy.pi).on(cirq.NamedQubit('q'))` -- which could be led back to `if protocols.is_parameterized(rads)` returns `True ` for `sympy.Basic` objects.

However, as sympy objects ar

[2019-05-08 20:47] c-poole commented on #1611
I think we can get away with resolving this issue without too much fuss. Instead of returning `True` if we find a `sympy` object, return the `is_number` property of the object in the `is_parametarized` function.
`if isinstace(val, sympy.Basic):
    return val.is_number
`

[2019-05-08 23:56] dabacon commented on #1610
Of course there is some vagueness on the resulting circuit, for example when doing this for noisy_moment into which moments do you add the resulting op tree.

[2019-05-08 23:57] dabacon commented on #1610
Currently I do this via code like
[code]

[code]

[2019-05-09 12:11] rish-16 commented on #1419
It'd be wonderful if you can switch it to ASCII only! I tried it again and it failed. So might be a good move

[2019-05-09 12:19] vtomole commented on #1419
Please tell us how you setup your environment. Other users might not have this problem.

[2019-05-09 19:54] viathor opened #1617 "Symbolic scalars in LinearDict"
One of the uses of LinearDict is the representation of Pauli expansions. Currently, `_pauli_expansion_()` returns `NotImplemented` for parametrized gates. @dabacon pointed out on #1614 that we can do better if we add support for symbolic coefficients to `LinearDict`.

[2019-05-09 20:10] vtomole opened #1618 "Implement unit test for timedelta for multiplication with floats"
https://github.com/quantumlib/Cirq/blob/a38267f0e8791fc325ef4970da56133f2aaf11d4/cirq/schedules/schedule_test.py#L181 is no longer relevant now that we're off Python 2. We should implement this test.

[2019-05-09 22:56] Strilanc opened #1619 "Conditional incoherent amplitude displays are showing wrong magnitudes"
Example: https://algassert.com/quirk#circuit=%7B%22cols%22%3A%5B%5B%22H%22%2C%22H%22%2C%22H%22%5D%2C%5B%22%E2%80%A2%22%2C%22Z%22%5D%2C%5B%22Amps1%22%5D%2C%5B%5D%2C%5B%22Amps1%22%2C1%2C%22%E2%80%A2%22%5D%2C%5B%5D%2C%5B%22Amps1%22%2C1%2C%22%E2%97%A6%22%5D%5D%7D

![image](https://user-images.githubusercontent.com/79941/57491756-e7a99680-7272-11e9-8a43-c1517e332f84.png)

Adding controls results in the

[2019-05-09 23:34] vtomole commented on #1619
Wong tracker?

[2019-05-10 00:01] Strilanc commented on #1619
Whoops.

[2019-05-10 00:01] #1619 closed

[2019-05-10 13:31] timothyman commented on #1618
That comment was there to clarify the now missing annotation that that test should not run (and will not pass) in Python 2 because timedelta doesn't support multiplication with floats. The test itself uses that functionality and is passing in Python 3.

This issue can be closed.

[2019-05-12 01:38] #1618 closed

[2019-05-13 06:29] Strilanc opened #1621 "Add "noisy_circuit" to noise model"
As a utility method that understands the system qubits are just all qubits in the circuit.

Something like this:

[code]

[2019-05-13 07:04] Strilanc opened #1622 "For QASM of decomposed circuits add comment"
I noticed that if I export CCZ into qasm, I get the h, ccx, h operations with no leading comment saying that they correspond to a CCZ. I'm pretty sure this used to happen.

[2019-05-13 07:09] Strilanc commented on #1621
Duplicate of https://github.com/quantumlib/Cirq/issues/1610

[2019-05-13 07:09] #1621 closed

[2019-05-13 16:37] viathor opened #1623 "Overload arithmetic operations for LinearCombinationOfGateOperations"
The aim is to enable users to write expressions such as

[code]

instead of

[code]

Similar overloads exist already for `LinearCombinationOfGates`.

Context: Filed in review of #1612.

[2019-05-13 18:34] dixr opened #1624 "Improve error message if on_each gets a list"
When you do `cirq.H.on_each([q0, q1])` instead of the unpacked version  `cirq.H.on_each(q0, q1)` for some qubits `q0` and `q1`, the error message you get is **Gate was called with type different than Qid**.

Maybe either flatten (because most of the time you'll have your qubits in a list or a list of lists), or give a more descriptive error message.

[2019-05-13 19:22] Strilanc opened #1625 "We have CCX and CNOT but not CCNOT and CX"
We should have both, or at the very least be consistent.

[2019-05-13 19:23] Strilanc commented on #1522
Another common issue that people run into is how to count the proportion of times a particular measurement occurred. We should have utility methods for that.

[2019-05-13 20:42] vtomole commented on #1625
I have

[code]

[code]

but we could make it
[code]

Same question with regards to `CCX`; what would be preferred?

[2019-05-13 21:04] Strilanc opened #1626 "Mixture protocol should be able to return unitary operations instead of numpy arrays"
This is significantly more efficient in cases where the unitaries are large, or when we have an operation that can apply that unitary more efficiently.

[2019-05-13 22:31] c-poole commented on #199
@strilanc this should be closed

[2019-05-13 22:51] c-poole commented on #252
@Strilanc good to close

[2019-05-14 01:05] smitsanghavi commented on #1522
This would be same as a multi_measurement_histogram on the combined set of measurements for all underlying TrialResults, correct?

[2019-05-14 09:01] QuantumVerd opened #1628 "Support for a JAX backend"
[JAX](https://github.com/google/jax) is a Google-developed open source library that can take Numpy code and allow one to rapidly obtain gradients via autograd, it also has some nifty features allowing for execution on GPU's and TPU's.

It seems from [this tutorial ](https://colinraffel.com/blog/you-don-t-know-jax.html) that switching to a JAX backend from Numpy can in some cases take only very min

[2019-05-14 10:46] Strilanc opened #1630 "DensityMatrixSimulator fails on PauliString phasing operations"
There's a nasty not done TODO.

[code]

Produces

[code]

[2019-05-14 10:48] Strilanc opened #1631 "PauliString doesn't implement unitary/apply_unitary/etc methods"
As a result it fails to simulate.

[code]

Causes:

[code]

[2019-05-14 11:00] Strilanc opened #1632 "Partial trace doesn't work on state vector output"
I realize this is not really how the method was intended to use, but it felt natural as I was writing it.

[code]

causes

[code]