[2021-09-16 20:06] #4119 closed

[2021-09-16 20:15] 95-martin-orion commented on #4481
@jaeyoo, I'm not sure I fully understand the problem description. What do you mean by "cascaded serialization", and what sort of parallelization do you have in mind here?

[2021-09-16 20:23] 95-martin-orion commented on #4478
Might just be a case of Cirqbot failing to update on a PR (see also: stuck automerge states) - we'll need to reproduce the issue to confirm. Either way, this seems low priority to me unless we have users or automation depending heavily on these labels.

[2021-09-16 20:43] tanujkhattar opened #4500 "Add efficient 2Q state preparation methods for Sqrt Iswaps and CZs as Optimizers"
**Is your feature request related to a use case or problem? Please describe.**
Now that we have a `StatePreparationChannel` in Cirq (#4482), we should add efficient two qubit state preparation methods as optimizers for sqrt iswap and CZs (these are already being used internally by the physics team).

These methods would also be useful as a reference for folks interested in adding more gateset spec

[2021-09-16 20:45] tanujkhattar commented on #4499
@freyam Thanks for opening up the issue and taking this up!

Our Cirq roadmap item on adding a verbose logging mode to Transformers for easier inspection and understanding will definitely make use of the improved `SVGCircuit` framework. cc #4483

[2021-09-16 20:46] tanujkhattar commented on #4483
Commenting again here for reference.

RFC: https://tinyurl.com/cirq-circuit-transformers-api

[2021-09-16 20:51] tanujkhattar opened #4501 "[Needs to be scoped] General single qubit parameterized gate compiler"
**Is your feature request related to a use case or problem? Please describe.**
A general single qubit parameterized gate compiler was proposed as a compilation building block in #3239. This issue is to scope out what would such a compiler look like and discuss whether it'd a useful addition to Cirq.

P3 - I'm not really blocked by it, it is an idea I'd like to discuss / suggestion based on princip

[2021-09-17 17:27] vanhalen42 commented on #4499
Hi, I'm interested and would like to work on this as well!

[2021-09-17 22:22] guenp opened #4507 "IonQ Job should throw TimeoutError when wait time exceeded"
**Description of the issue**

Currently, `Job.results()` throws a `RuntimeError` when the job execution exceeds the `timeout_seconds` wait time. It would be more accurate to throw a `TimeoutError` instead.

see cirq-ionq/cirq_ionq/job.py:

https://github.com/quantumlib/Cirq/blob/7759c05fd71673ca58559307c220b5b779bf5bb6/cirq-ionq/cirq_ionq/job.py#L202

**How to reproduce the issue**

[code]

<detai

[2021-09-18 00:10] #4124 closed

[2021-09-18 01:21] tanujkhattar opened #4508 "Parameterized `DensePauliString` (a gate) cannot be applied on qubits to produce an operation"
[code]
<details>
 <summary>Click to view the output</summary>

[code]

</details>

### This is inconsistent and should be fixed.
This occurs because `PauliString` does not support symbols but `DensePauliString` does. Ideally, both of them should have identical behavior and we should discuss how to make it happen.

Note that only the `coefficient` of `DensePauliString` can be a symbol, and hence to

[2021-09-18 20:25] freyam commented on #4489
I have decided to go forward and create a Cirq-specific variant of **pyQuirk**.

### The Goals of the New Widget/Module

- **Performance**
pyQuirk might have some additional features that don't exactly align with what Cirq does. We could remove them completely, thus speeding up the load-up time.

- **Cirq-like**
pyQuirk might be missing some key features that a Cirq user might want to use to visua

[2021-09-18 21:55] #4223 closed

[2021-09-20 04:51] banrovegrie opened #4509 "Support for OpenQASM 3"
**Description of the issue**

Cirq currently has no support for OpenQASM 3. It can be done by writing a lexer and a parser similar to the ones we have for OpenQASM 2.

[2021-09-20 11:18] freyam opened #4510 "Add a diff tool for comparing multiple `Cirq.Circuit`s in Jupyter Notebooks"
**Is your feature request related to a use case or problem? Please describe.**

Tanuj has an amazing idea to visualize the differences between circuits.

**Logger Design**
- `register_initial` and `register_final` methods will be used to maintain the state of the circuits and compute the difference between initial and final circuits.
- The difference between initial and final circuits will be stor

[2021-09-20 17:01] tanujkhattar commented on #4510
Thank you @freyam for opening this.

For reference, The [Transformer API RFC](https://tinyurl.com/cirq-circuit-transformers-api) is still under review but I don't expect the logging feature request to change.

However, There are some design questions that would need to be addressed, for example -- I'm not sure if the Task 2 mentioned above is necessary. Once we have a tool which can plot the diff

[2021-09-20 18:59] freyam commented on #4510
Works :heavy_check_mark:

[2021-09-20 21:39] dabacon opened #4512 "Controlled gate construction cannot construct some cases"
**Is your feature request related to a use case or problem? Please describe.**

Suppose you want a three qubit controlled gate like `(|00><00| + |11><11|) X + (|01><01| + |10><10| I` which flips the third qubit if the first qubit is either 00 or 11.  This currently isn't possible to construct given the way cirq specified `control_values`.    This is because `control_values` is a sequence of length

[2021-09-21 05:04] dabacon commented on #4507
Thanks @guenp !  PR out to fix this.

[2021-09-22 01:23] tanujkhattar opened #4515 "`ControlledOperation` diagram draws exponent on the wrong qubits"
**Description of the issue**
When controlling an operation that has an exponent, the exponent should be drawn on the target qubit in the circuit diagram to clearly convey what's the underlying operation which is being controlled.

However, `ControlledOperation`'s circuit drawing function has multiple bugs. The code snippet to determine the exponent index of a `ControlledOperation` is given below:

[2021-09-22 16:52] #4507 closed

[2021-09-22 16:53] dabacon commented on #4507
This should be fixed in the prerelease version of Cirq.

[2021-09-22 17:51] osamarais opened #4516 "Sympy Division by Integer in Exponent or Radians throws and error"
**Description of the issue**
When using sympy to define a circuit, a ValueError exception might be thrown by NumPy
(ValueError: Integers to negative integer powers are not allowed.)

This happens when there is some division in the exponent by some integer and an attempt to resolve the parameters of the gate/circuit is made.

A simple example of this issue is given below.

**How to reproduce the is

[2021-09-22 18:21] tanujkhattar commented on #4515
Discussed on Cirq Sync:  Let's fix this.

[2021-09-22 18:28] tanujkhattar commented on #4508
Discussed on Sync:
- `PauliString`s coefficient doesn't support parameterization because while converting to `PauliStringPhasor`, we need the coefficient to evaluate to a complex number.
- We should figure out how to fix it.
- Let's also add more documentation for `DensePauliString`s, `PauliStringPhasor`s etc.

[2021-09-22 20:19] daxfohl commented on #4477
I can take this. It's related to the state separation functionality introduced in #4100. Updating the code to output these as a list of independent state vectors or density matrices should be straightforward.

I think as part of this we should also add a public function to query for the independent state space that contains a qubit too. (e.g. `trial_result.get_state(q1).qubits` and `trial_result.g

[2021-09-23 13:25] vanhalen42 commented on #2313
Hey @mpharrigan, I am right now working on the following issues of #4499.

- [ ] Implement a fix that no longer requires circuits to not require integer coordinates for spacing routines.

For this, I changed the `int` to `float` and it still worked fine for me. What specific bug were you facing while using non-integer coordinates?

https://github.com/vanhalen42/Cirq/blob/baa4310b7dddd8603f530771ee

[2021-09-23 19:01] #4498 closed

[2021-09-23 19:19] peendebak commented on #4516
@osamarais I will have a look at it

[2021-09-23 20:29] 95-martin-orion commented on #4481
If this issue is primarily seen in cases where multiple identical copies of these types are serialized, it's possible that their JSON serialization could be made more efficient by having them implement the `SerializableByKey` protocol:

https://github.com/quantumlib/Cirq/blob/f8ffbea1b68b483f8dc716781f2c514a02aa765e/cirq-core/cirq/protocols/json_serialization.py#L363-L369

The primary purpose of t

[2021-09-23 20:53] 95-martin-orion commented on #4477
This sounds like a reasonable, low-cost addition to me - though I would prefer `get_state_containing_qubit` to be clear about what the method is doing. (e.g. to avoid confusion that a state is only associated with the provided qubits)

[2021-09-23 21:09] daxfohl commented on #4477
Updated linked PR with this function.

[2021-09-25 12:51] tonybruguier opened #4532 "Speed up simplification of CNOTs in BooleanHamiltonian"
**Description of the issue**
During the review of #4386 which reduced the number of CNOT gates produced by `BooleanHamiltonian`, there was a remark that the functions `_simplify_cnots_triplets` and `_simplify_commuting_cnots` can be made faster. As soon as they find a simplification, they return early and then start from scratch again. Maybe continuing would be more efficient.

**Cirq version**
0.

[2021-09-28 00:32] tanujkhattar commented on #4253
We need to further clarify the requirements for supporting `NoCompile` tag in transformers. For example, Let `op` be an operation tagged with `NoCompile` tag which occurs in moment `i`.

1. An obvious constraint on `op` is that transformers should not merge/decompose/drop the operation `op` and hence `op` should still be present in the circuit. But `2.` and `3.` below are more nuanced.
2. Is it ok

[2021-09-28 20:30] cognigami opened #4538 "Add new community partners to Ecosystem page"
**Is your feature request related to a use case or problem? Please describe.**
Our ecosystem page has fallen a bit behind the times.

**Describe the solution you'd like**
On the ecosystem page (https://quantumai.google/cirq/ecosystem):

Add:
 - STIM under algo libraries
 - New pacakges under Quantum Cloud Services
   - IonQ
   - Azure
   - Rigetti
- Under Development tools, add Application-related

[2021-09-28 20:46] dabacon commented on #2504
If there is only one layer the code won't change with the Z phases.  I'll update this to look a little more like QAOA, by adding an initial step that initializes the system to all |+> states and then reverse the cost and mixing steps.

[2021-09-28 22:21] mpharrigan commented on #4377
#4527 adds a hook into the current testing infrastructure to make it possible to make namespaced objects pass the tests, although it requires manually adding a mapping from unqualified class name to cirq_type, which doesn't solve the disambiguation problem.

[2021-09-29 18:52] vtomole commented on #4153
Discussed in Cirq sync: This could be added because other APIs have it.

[2021-09-29 18:54] vtomole commented on #4152
Discussed in Cirq sync: Recent work on the circuit transformers should fix this.

[2021-09-29 18:57] tanujkhattar commented on #4151
Let's change the scope of this issue to add support for an explicit compiler for IonQ as we plan on deprecating the device object in a circuit (i.e. `cirq.Circuit( op_list, device = cirq.ionq.IonQAPIDevice(qubits))` would be deprecated)

[2021-09-29 21:52] #4516 closed

[2021-10-01 18:47] #4172 closed

[2021-10-01 18:47] #4515 closed

[2021-10-04 17:58] tanujkhattar commented on #4461
@Ashalynd As part of tracking the progress towards our Cirq 1.0 roadmap items, I wanted to check in on the progress on this issue. Could you start working on it yet?

[2021-10-04 18:11] Ashalynd commented on #4461
Hi Tanuj, I had to put it on hold for a few weeks due to 80% work. Expect to create a PR this week.

[2021-10-04 18:26] guenp opened #4548 "Add integration test for Azure Quantum notebooks"
**Summarize the task**

Add a rule to https://github.com/quantumlib/Cirq/blob/master/dev_tools/notebooks/notebook_test.py to test the Azure Quantum vendor notebooks (see https://github.com/quantumlib/Cirq/pull/4530). We will need to authenticate using Service Principals via GitHub Actions.

**Acceptance criteria - when is the task considered done?**

When the Azure Quantum tutorial notebooks are r

[2021-10-05 22:19] beaolivei commented on #4538
@cognigami I am guessing this one can only be done by someone that works at Google? How could an external contributor get access to this page? 🤔

[2021-10-06 18:36] dstrain115 commented on #4120
This is solved by custom channel.

[2021-10-06 18:36] #4120 closed

[2021-10-06 18:40] dstrain115 commented on #3560
cirq cync note: This is accepted but low priority and will be done with community support.

[2021-10-06 18:45] dstrain115 commented on #2915
@viathor to clarify intent behind this bug, tentative decision from circ cync is not to fix this.

[2021-10-06 18:47] dstrain115 commented on #2757
Circ cync: Looks like this is correct actually, @viathor will doublecheck and update status.

[2021-10-06 18:50] dstrain115 commented on #2705
Cirq cync: @95-martin-orion will look at this and decide on whether a convenience method is needed.

[2021-10-06 19:00] dstrain115 commented on #4176
Cirq cync.  We have decided that this is antithetical to the tag functionality (that tags affect specific operations) and that there is a work-around specified in the comments (to create an operation factory) so we have tentatively triaged this to "won't fix"

[2021-10-06 19:01] dstrain115 commented on #4114
Removing off of triage list.  @fedimser can you confirm that this owrk is finished and close the issue?

[2021-10-06 19:29] #2504 closed

[2021-10-06 19:38] #4480 closed

[2021-10-06 19:50] MichaelBroughton commented on #4538
The source for the page is right here: https://github.com/quantumlib/Cirq/blob/master/docs/ecosystem.md if approved anyone can open a PR to fix these entries.

[2021-10-06 20:24] cognigami commented on #4538
Exactly, thanks Michael!

[2021-10-07 19:21] Dripto opened #4558 "Typo in FSimGate documentation"
In the actual code the docstring is correct,  but at https://quantumai.google/reference/python/cirq/ops/FSimGate the description for phi says that a full CZ is at pi/2, instead of pi.

[2021-10-08 00:40] smitsanghavi opened #4560 "Make measurement key instance variable names consistent"
**Summarize the task**
Make measurement key class variable names consistent for both `string` and `MeasurementKey` types. Channels use `key` and `_key` respectively but `MeasurementGate` uses `key` and `mkey`.

I think `key `and `mkey` are better names and more indicative of the type. Also, the public interfaces of these objects are different. The channels don't expose a `key` attribute but `Measu

[2021-10-08 16:54] vtomole commented on #4558
Hey @Dripto, I'm going to close this issue on the basis that my previous comment solved your problem. Please re-open this if it didn't.

[2021-10-08 16:54] #4558 closed, assigned to nobody

[2021-10-08 17:25] dabacon opened #4562 "Continuous integration badge red"
**Description of the issue**

README.rst has a continuous integration badge based on Github actions.  For reasons I don't quite understand it is red, even though the CI is passing.  I'm not sure if there was some change to the github actions or if this is a github bug

**How to reproduce the issue**

Goto https://github.com/quantumlib/cirq and see the sad red status.

[2021-10-11 00:55] vtomole commented on #2183
@viathor Can this be done with [qiskit.quantum_info.diamond_norm](https://qiskit.org/documentation/stubs/qiskit.quantum_info.diamond_norm.html)?

[2021-10-11 18:49] vtomole opened #4564 "pylint checker for copyright notices"
**Description of the issue**
Maybe pylint could automatically check for copyright notices instead of reviewers needed to keep an eye out. Inspired by https://github.com/quantumlib/Cirq/pull/456.

Look into https://stackoverflow.com/questions/51886592/can-pylint-check-for-a-static-comment-copyright-notice-at-the-top-of-all-docum

[2021-10-12 12:19] yjt98765 commented on #4564
A 'raw checker' should be able to check it. Can you assign the task to me?

[2021-10-12 17:56] #4152 closed

[2021-10-12 18:48] vtomole commented on #2541
Closed by https://github.com/quantumlib/Cirq/pull/4530 that allows us to skip the translation to `qasm`.

[2021-10-12 18:48] #2541 closed

[2021-10-12 23:48] yjt98765 commented on #4564
Thank you!

As shown in [this](https://pylint.pycqa.org/en/latest/how_tos/custom_checkers.html) example, we need to assign an id (a letter + 4 digits) to the message. Since no custom checkers have been used in this project, we should come up with a rule for this, especially for the numbers (e.g., they are sequential numbers with prefix 00 or 99). The letter is one of C, W, E, F, and R, standing fo

[2021-10-13 03:36] tanujkhattar opened #4570 "PhasedISwapPowGate constructor does not take global_shift"
**Description of the issue**
`PhasedISwapPowGate` is an `EigenGate` but unlike most other eigen gates, it's constructor does not take `global_shift` as an argument and it always defaults to 0.

For consistency, we should add an additional `global_shift` parameter to `PhasedISwapPowGate`.

**Cirq version**
0.13.0.dev

[2021-10-13 06:50] yjt98765 commented on #4564
It seems that the tool can be applied to many types of files, while pylint can only check python files. In this project, Some (if not all) of the bash scripts, TypeScript files, and Jupyter Notebooks also contain a copyright notice.

However, if only one type of copyright is adopted here, applying that tool seems like overkill. It complicates the checking process and increases external dependency.

[2021-10-13 18:36] dabacon opened #4572 "Dev page has out of date info about docs."
The [development page](https://quantumai.google/cirq/dev/development) currently references the old and new doc pages, but the old is deprecated or retired?

[code]

Also is it possible to generate docs for the new site in any form locally?

P2 - we should do it in the next couple of quarters

[2021-10-13 18:36] dstrain115 commented on #3512
We have decided that this changes so infrequently that we do not need to handle this automatically.  In addition, the protocols notebook states that these protocols are a subset of the total protocols that are commonly used.

We probably should put cirq.protocols in back ticks so that it links correctly, but otherwise, we think this is fine for the foreseeable future.

[2021-10-13 18:36] #3512 closed

[2021-10-13 19:23] vtomole commented on #2183
We've decided to list some "popular" distance methods. The PR can be closed once that's done.

[2021-10-13 19:34] vtomole commented on #3517
According to @viathor , this points to a more general problem of Cirq not having a philosophy with which to make technical decisions when it come to state representation. He'll file an issue about this.

[2021-10-13 23:52] tanujkhattar opened #4574 "FSim and PhasedFSim angles should be canonicalized between (-pi, pi] / [-pi, pi) instead of [-pi, pi]"
**Description of the issue**
Right now, `cirq.FSimGate` and `cirq.PhasedFSimGate` canonicalize their angles between `[-pi, pi]`, which was done as part of #3542.

The problem with this approach is that we need to implement additional logic at the call site to check whether two instances of FSimGate are equal, instead of simply using the equality operator.

We should modify the canonicalization to

[2021-10-15 18:38] viathor opened #4578 "Redundant implementations of phase damping channel"
**Description of the issue**

We currently have two implementations of the phase damping channel: `cirq.PhaseDampingChannel` and `cirq.PhaseFlipChannel`. They implement the same channel, but use different parametrization. Also, `PhaseDampingChannel` fails to provide `_mixture_` (even though it is unital and [hence](https://quantumcomputing.stackexchange.com/q/18190/10480) admits a mixed-unitary re

[2021-10-15 18:58] viathor opened #4579 "Channel testing utilities"
**Is your feature request related to a use case or problem? Please describe.**

Elementary objects in cirq (e.g. quantum gates) are represented as classes with overspecified properties. In other words, they directly provide information that can be computed from other information already available. For example, a quantum gate may provide an implementation of `_apply_unitary_` as well as `_unitary_`

[2021-10-15 19:06] viathor commented on #2382
Update: `has_mixture` appears to have been fixed:

[code]

However,

[code]

Keeping the bug open until mixture is implemented for circuits. One step towards this goal is under review in #4550.

[2021-10-15 19:22] viathor commented on #2182
#2183 requests distance measures for more general quantum channels. This should in particular provide distance measures for unitary channels. For this reason, I'm closing this as duplicate.

[2021-10-15 19:22] #2182 closed

[2021-10-15 20:45] viathor opened #4582 "Consolidate quantum state representations in cirq"
**Is your design idea/issue related to a use case or problem? Please describe.**

There is a zoo of quantum states and special representations they admit:
 * computational basis states (which can be specified by an `int`),
 * pure states (which can be described by a 2^n-dimensional array or a (2, 2, ..., 2)-shaped tensor),
 * mixed states (which can be represented as a 2^n-by-2^n positive matrix w

[2021-10-15 21:39] viathor commented on #4582
One question this raises is to what extent we wish to use mypy and to what extent runtime checks to see whether a given state belongs to one of the sets of quantum states listed earlier (e.g. is pure, is separable, etc) .

I suspect that fully committing to the use of type system would lead to very complicated type relationships. Partially committing to it would lead to a situation where some of t

[2021-10-15 23:09] #2915 closed

[2021-10-16 00:05] viathor commented on #2757
@XiaoMiQC @kevinsung @dstrain115

Kevin is right. Docstring and code disagree. The former describes the linear cross-entropy benchmarking (which was our ultimate choice in QS experiment back in 2019). The fidelity estimate in this method is produced by averaging the expression `2^n p_th - 1` over the experimentally observed bitstrings (where p_th stands for the ideal/theoretical probability of eac

[2021-10-16 20:26] daxfohl commented on #4582
Note that the ActOnArgs hierarchy somewhat does this. Though it also includes buffers, which is maybe undesirable, and qubit mappings and classical registers, which has pros and cons. I have a branch where I tried to make ActOnArgs generic, containing the unadorned quantum state as its generic argument, but it didn't work very well and I gave up on it.

[2021-10-18 17:54] dkafri opened #4583 "Make the deprecation warnings stop (please!)"
**Description of the issue**
I have a project that depends on cirq. It has tests. When I run said tests I literally get more than 10,000 deprecation warnings, most of which are cirq related. A majority of these warnings I cannot address myself because they are occurring within the cirq library itself or its dependencies. This makes it difficult for me to find deprecation warnings (i.e. for other d

[2021-10-18 18:01] MichaelBroughton commented on #4572
I think we thought about retiring in the past, but there were some packages depending on us that needed our RTD (or something like that) does anyone know if this is still the case ? @vtomole ?

Unfortunately no, you can run notebooks locally, but there is no way to stage them for viewing as they would appear on the site without being a Googler.

[2021-10-18 18:55] dkafri commented on #4583
I am using python 3.9.7, pytest 6.2.4, and cirq 0.13.0. i'll make a clean virtual env and see if I can reproduce it there.

[2021-10-18 19:11] #4583 closed, assigned to nobody

[2021-10-18 22:07] tanujkhattar opened #4585 "Replace `_value_equality_values_cls_` in Phased* gates via specialized cirq.GateFamily's."
Currently, [only three gates](https://github.com/quantumlib/Cirq/search?q=_value_equality_values_cls_): `PauliString`, `PhasedXPowGate` and `PhasedISwapPowGate` override the `_value_equality_values_cls_` method to return different class types for comparison based on the phase exponent / number of elements in the pauli string.

For phased* gates specifically, This is not ideal and causes confusion

[2021-10-19 18:36] tanujkhattar opened #4587 "`get_qcs_objects_for_notebook` needs cleanup and bugfixes"
**Description of the issue**
`get_qcs_objects_for_notebook` was added in #4286 and is super useful to abstract out the authentication logic for accessing QCS. However, I think there are a few rough edges -- from a user perspective, I haven't dug into the technical details yet.

1. In the [getting started with QCS tutorial](https://github.com/quantumlib/Cirq/blob/master/docs/tutorials/google/start.

[2021-10-20 18:38] tanujkhattar commented on #4578
Notes from sync:

- Mike: They are also separately listed in N & C but have an exercise asks you to prove they are the same.
- Dave: There is a difference in how you think about these two channels.
- Dave: We have other places where this happens.
- Dave: We could subclass but modifying kraus representations would be non trivial.

We should keep both the classes for now and add mixture representati

[2021-10-20 18:49] tanujkhattar commented on #4582
- This sounds hard but the current situation is getting bad and would get worse.
- Need a design doc and we should put it in the roadmap.
-Adam: Any code that consume a quantum state needs to inspect the union. Since the union types are expanding, older code doesn't have a way to consume the objects safely.

Tl;Dr - We should think about this and consider adding to the roadmap / have a propose a d

[2021-10-20 22:15] tanujkhattar opened #4590 "Fix docstrings for gatesets and gate families."
**Description of the issue**

Some docstrings in gatesets and gate families are not getting rendered on the website as expected. For example:
1. https://quantumai.google/reference/python/cirq/ops/Gateset#__contains__ : Unintentional box, broken hyperlinks, newline missing between bullets etc.
2. https://quantumai.google/reference/python/cirq/ops/GateFamily#for_example : Ticks in code example inste

[2021-10-21 16:46] vtomole commented on #3518
I will close this issue as a duplicate of https://github.com/quantumlib/Cirq/issues/4509 even though this was the first one because the linked issue has more comments.

[2021-10-21 16:46] #3518 closed

[2021-10-21 18:47] anonymousr007 commented on #4509
Thanks @vtomole for assigned me this issue :smile:. Yes, I have started to create my RFC.

[2021-10-21 22:46] tanujkhattar opened #4592 "Add __version__ attribute to subpackages"
**Description of the issue**
Now that cirq is a metapackage with separate sub packages for different use cases, it should be possible to query the version info from each of the different specific sub packages. For example:

[code]

**Cirq version**
0.13

[2021-10-21 23:44] tanujkhattar commented on #4587
The call to `get_engine_device(processor_id)` in `get_qcs_objects_for_notebook` is wrong as it doesn't pass any gateset info / project_id parameters and hence returns an empty device which cannot be used for validation.

[2021-10-22 20:59] smitsanghavi opened #4594 "Is it necessary to hold off on measurement key remapping in `CircuitOperation`?"
**Is your design idea/issue related to a use case or problem? Please describe.**
Currently, `CircuitOperation` keeps a local Dict of measurement key remappings and does not propagate it to the actual underlying circuit, **even though a new `CircuitOperation` is created on each `with_measurement_key_mapping` call**. I suspect this was done for efficiency to avoid iterating over the circuit or creat

[2021-10-24 17:57] as3232cornell opened #4596 "Method to convert cirq circuits to a series of matrix products?"
**Is your feature request related to a use case or problem? Please describe.**
I would like to accelerate simulation of Cirq circuits with evaluation on GPUs. I have tried using Cirq-Qulacs, but I believe production has ceased on that project, and I could not figure out how to get it to compile successfully. I also believe that qsim is developing a framework for this, but it is still in pre-releas

[2021-10-24 22:37] #4592 closed, assigned to anonymousr007

[2021-10-24 22:44] vtomole opened #4597 "Bump dev version from v0.13.0.dev to v0.14.0.dev"
**Description of the issue**
https://pypi.org/project/cirq/#history shows recent pre-releases before the 0.13.0 version which was released last week

**Cirq version**
0.13.0dev.

[2021-10-24 23:42] #4597 closed, assigned to anonymousr007

[2021-10-24 23:55] anonymousr007 commented on #4570
Hi @vtomole , Can you please assign me this issue?

[2021-10-25 00:05] vtomole commented on #4570
@anonymousr007 Done

[2021-10-25 00:40] vtomole commented on #3976
Please look at https://github.com/quantumlib/Cirq/pull/4020#pullrequestreview-646144605 for context.

[2021-10-27 07:08] #4594 closed, assigned to nobody

[2021-10-27 18:51] #937 closed, assigned to nobody

[2021-10-27 20:56] vtomole opened #4603 "Json serialize `cirq.ion.ion_gates.MSGate`"
Replace the existing class: https://github.com/quantumlib/Cirq/blob/ec9fc4506da394ce103c4cccc02d4993b91449ac/cirq-core/cirq/ion/ion_gates.py#L27

with
[code]

[2021-10-29 00:17] #4603 closed, assigned to vtomole

[2021-10-30 19:43] anonymousr007 commented on #4570
Hi @tanujkhattar and @vtomole, please review the code of constructor of `PhasedISwapPowGate`.

[code]

[2021-10-31 13:51] BastianZim opened #4607 "Single source of truth for versions"
**Background**

Hi, I'm in the process of adding cirq and all its sub-packages to [conda-forge](https://conda-forge.org). For this, I need to specify the version for all packages separately and was wondering what to use for the source of truth.

**Question**

Currently, each module has its own version file but all versions are the same. Can I expect this to be the same in the future, or might they

[2021-11-01 03:17] vtomole commented on #4607
How so? Some modules have differing requirements.

[2021-11-01 15:34] BastianZim commented on #4607
Are you sure, because they all seem the same:

https://github.com/quantumlib/Cirq/blob/1bb755408755cd453b7c91aea80fabfcfd67fc1a/cirq-aqt/cirq_aqt/_version.py#L17
https://github.com/quantumlib/Cirq/blob/1bb755408755cd453b7c91aea80fabfcfd67fc1a/cirq-core/cirq/_version.py#L32
https://github.com/quantumlib/Cirq/blob/1bb755408755cd453b7c91aea80fabfcfd67fc1a/cirq-google/cirq_google/_version.py#L32
https

[2021-11-01 15:40] vtomole commented on #4607
I thought you were refraining to `requirements.txt`s. Yes, these should all be the same.

[2021-11-01 15:41] BastianZim commented on #4607
Ahh ok. Out of personal curiosity, any reason why it's not in one file?

[2021-11-01 15:56] dabacon commented on #4607
Maybe best solution is to make it forwards compatible with this, use global cirq version unless a separate version is defined in the package.   There could be cases where a non-core package gets borked against an API and the team responsible for that needs to rush a release.

[2021-11-01 15:59] BastianZim commented on #4607
Since it's a monorepo - would that be possible? If a GitHub release is created all should be updated or it becomes confusing pretty quickly because then the GitHub release doesn't correspond with the included components anymore.

But just my 2 cents, I don't have any stakes in this.

[2021-11-01 16:05] vtomole commented on #4607
The code is in one repo but each package has it's own pypi artifact.

[2021-11-01 16:10] vtomole commented on #4607
Has this been codified somewhere? I know one reason for these sub-packages is to be able to do exactly this but this can make versioning very messy.

[2021-11-01 16:20] BastianZim commented on #4607
Yes but the releases also contain wheels and each package is included in the Source Code attached to the release: https://github.com/quantumlib/Cirq/releases/tag/v0.13.1

[2021-11-01 16:33] vtomole commented on #4607
If I'm understanding correctly: you are saying that for example, `cirq-0.13.1-py3-none-any.whl` would be confusing if in that `whl` there was a  `cirq_aqt-0.13.2-py3-none-any.whl`. Basically the "real" version pertains to `cirq-core`. Users should pin the specific sub packages to avoid suprises. So instead of `pip install cirq==0.13.1`. They would

[code]

[2021-11-01 16:39] BastianZim commented on #4607
No sorry, should've been more clear. I'm only talking about GitHub releases.

Here, all wheels for all sub-packages are included and the overall source code with each package but not compiled.

What I mean is the following:

If version _1.1_ is now released but sub-package `y` is at _1.3_ you now have overall GitHub release _1.1_ containing wheel _1.3_. for sub-package `y`.
This would be confusing

[2021-11-01 16:52] vtomole commented on #4607
Thanks for clearing that up. We should add this to the docs because I'm sure others will run into the same confusion.

[2021-11-01 16:55] daxfohl commented on #4594
Relatedly though, is it necessary to have `parent_path` applied lazily? And is it necessary to have a `deep=False` option in `mapped_circuit`?

I'm finding it a bit awkward that we expose a public method for changing the parent path in a subcircuit. I can't think of a use case where an end user would need to do this. It's there for unrolling functionality, but I think we've got too many substeps o

[2021-11-01 19:55] BastianZim commented on #4607
Happy to leave this issue open if you'd like it for the docs PR, otherwise I'd close it - let me know.

[2021-11-01 21:14] vtomole commented on #4607
Let's close it.

[2021-11-01 21:18] #4607 closed

[2021-11-02 00:07] tanujkhattar opened #4615 "Define `cirq.ISWAP_INV`, similar to `cirq.SQRT_ISWAP_INV` and replace usages."
**Description of the issue**
Similar to `cirq.SQRT_ISWAP_INV`, define a global constant for `cirq.ISWAP_INV` and replace usages of `cirq.ISWAP ** -1` with `cirq.ISWAP_INV`.

https://github.com/quantumlib/Cirq/blob/7951f84a0110be719c8a9e07aa1ffec2b0a31990/cirq-core/cirq/ops/swap_gates.py#L356

**Cirq version**
0.14.0

[2021-11-02 06:38] #3965 closed

[2021-11-02 06:38] #4434 closed

[2021-11-02 07:16] daxfohl opened #4618 "Subcircuit.mapped_circuit drops parent path if no repetitions"
[code]

The above fails with `{'A'} != {'B:A'}`. The parent path gets dropped.

Note this is independent of both #4611 and #4616, and likely more complicated than either.

Currently the logic in `mapped_circuit` applies both the parent path and repetition key in a single step, and only if there's repetitions. Thus it misses the parent path if there's no repetitions. What we need is for `mapped_cir

[2021-11-03 01:04] vtomole commented on #2746
This is not an issue anymore due to the recently adopted packaging strategy.
[code]

[2021-11-03 01:04] #2746 closed

[2021-11-03 01:41] daxfohl opened #4620 "subciruit._measurement_keys_() does not include parent path"
Retroactively creating bug fixed by #4616.

[code]

The above fails with `{'A'} != {'B:A'}`. The parent path gets dropped.

Note this is different from #4618 (the repro above does *not* do `mapped_circuit()`), and simpler to fix. `subcircuit._measurement_keys_()` just needs to prepend the parent path before returning.

[2021-11-03 09:12] unaiic commented on #4615
I could work on this.

[2021-11-03 09:12] unaiic commented on #4590
I think I could work on this.

[2021-11-03 14:30] vtomole commented on #4615
@unaiic I've assigned it to you.

[2021-11-03 17:55] MichaelBroughton opened #4623 "Move QUIL output to `cirq-rigetti`"
**Is your feature request related to a use case or problem? Please describe.**
RIght now some of the functionality to output quil programs is intermixed with `cirq-core`. We have things like `cirq/protocols/quil.py` and `cirq/contrib/quil.py` and `cirq/circuits/quil_output.py`. There are also modules like these in `cirq-rigetti` as well.

**Describe the solution you'd like**
We should move all of

[2021-11-03 18:42] vtomole commented on #2072
Closing as it's too complex to implement at this stage.

[2021-11-03 18:42] #2072 closed

[2021-11-03 23:27] MichaelBroughton commented on #4615
Help me understand here, why is this something we want to change ?

[2021-11-04 06:06] yjt98765 commented on #4532
@tonybruguier I have some initial ideas on optimizing the `_simplify_commuting_cnots`, but I am not sure about the constraints, more specifically, a [test case](https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/ops/boolean_hamiltonian_test.py#L167-L168):
[code]
I know that the current algorithm does not simplify this test case, but is it allowed to be simplified? What ordering assumpti

[2021-11-04 06:15] tonybruguier commented on #4532
So the goal of the issue is simply to speed up the for loops.

The way the code works is to repeatedly be called. If a simplification is found, we apply it and repeat from scratch. If no simplification is found, then we exit.

Instead of restarting from scratch, we could do something smarter. It's not really a quantum problem, but rather a classical algorithmic optimization.

Of course, there coul

[2021-11-04 06:28] yjt98765 commented on #4532
Thank you for the quick response. I agree that this issue is not about the quantum part. Can I create a PR only to optimize `_simplify_commuting_cnots`? I think the PR will produce the same result as the current code, with potentially fewer loops. `_simplify_cnots_triplets` is somewhat more complex and I am not sure how to improve.

[2021-11-04 06:36] tonybruguier commented on #4532
Sounds good. One function at a time seems like a good idea. I could do an initial review, but the final approval would have to be given be an expert.

[2021-11-04 16:03] vtomole commented on #4615
@MichaelBroughton I guess it's more a matter of convenience. @tanujkhattar Should we replace all `** -1` gates with `_INV`?

[2021-11-04 18:33] mpharrigan commented on #4587
(1) seems fine

(2) -- I think the goal is to remove gateset as a required arg for get_engine_sampler. it's weird to have to pick your target gateset instead of getting a device and it telling you its supported gateset(s)

(3) this seems like a bug in `get_engine_device`. we shouldn't be returning empty devices

[2021-11-04 19:00] tanujkhattar commented on #4615
Yes, it's mostly about consistency. Since we have `SQRT_ISWAP_INV`, we should also have `ISWAP_INV` just to be consistent.

[2021-11-05 11:15] freyam commented on #4499
## Update

The bugs have been taken care of (#4535)

- [x]  [BUG] Take care of the SVG circuits when the cirq.Moment() is empty (Currently, it fails).
- [x]  [BUG] Refactor the rendering code such that circuits do not require integer coordinates for spacing routines.
- [x]  [BUG] Implement a dynamic horizontal spacing framework for the rows in the SVGs of the circuits.

Now, the next step is to fi

[2021-11-06 11:49] anonymousr007 commented on #4623
Hi @MichaelBroughton, I'm Rishabh from India. Any RFC required for this issue/feature ?

[2021-11-06 15:49] daxfohl commented on #1740
@artvandalay404 Feel free to post a PR with what you have. My knee jerk reaction is that similar test should be fine, but would have to see the actual code. Maybe there's a middle ground. Testing against a channel, I'd just use an existing channel like phase damp. I don't see a need to make a custom matrix.

[2021-11-06 17:08] daxfohl opened #4632 "Differentiate unitary/channel/stabilizer gates/ops/circuits at the type level"
**Is your design idea/issue related to a use case or problem? Please describe.**

Semi-related to #1740, #4582

**Describe your design idea/issue**

Currently simulators fail at runtime when they encounter a gate they can't handle. It *seems like* there should be a way to prevent this at the type level. Simulators should be able to specify what types of gates they can handle, and gates should be a

[2021-11-07 18:25] dabacon opened #4633 "Gates in documentation show args and kwargs"
**Description of the issue**

Documentation for constants like `cirq.H` includes a signature that has `*args` and `**kwargs`.
![image](https://user-images.githubusercontent.com/87974/140657082-d5628393-5afb-4152-bb5b-b52539eeb7d1.png)

[2021-11-07 21:49] daxfohl commented on #4582
I'd like to do this, but whatever we do I'd like to make it compatible for use in the simulator framework. What "level" are you most interested in here?

1. We could have states that represent high-level state and include things like qubit ids (this is somewhat already covered by `ActOnArgs` -- we just have to rename that to e.g. `QuantumState` and perhaps move it to cirq/qis)
2. We could have sta

[2021-11-07 23:39] dabacon commented on #3388
This has created 13 pages of files with TODOs!  I'm going to start hacking on them, it's a good way for me to read code that has been added since I stopped paying as much attention :)

[2021-11-08 01:03] dabacon commented on #4379
Could someone who has access to this architecture please see if the fix provided works?

@ggardet ?

[2021-11-08 02:09] daxfohl commented on #4582
FWIW my preference is (2) above. I think (1) is great but probably higher level than what's useful from a QIS standpoint. (3) is nice in that it avoids bringing in the notion of a "gate", which is a cirq.ops thing, into qis. But the downside of (3) is that the "whatever" in the "apply_whatever" function is different for every subtype, so that wouldn't be part of the base type, and thus just leaves

[2021-11-08 12:56] Batmaev opened #4637 "importlib.abc in Python 3.10"
**Description of the issue**

In Python 3.10.0, the command `import cirq` fails with the error:

[code]

**Workaround**

If one imports `importlib.abc` prior to importing cirq, no error occurs:

[code]

**Suggestion**

Probably you should add `from importlib import abc` somewhere in the Сirq's code.

Searching on Google, I've found a similar issue in another project: [grpc/issues/26062](https://gi

[2021-11-08 17:49] vtomole commented on #4637
Thank you for opening this. Please feel free to work on it.

[2021-11-08 21:35] tanujkhattar commented on #4499
@freyam Left a comment on #4630 regarding options for visualizing the `MatrixGate` -- let's continue the discussion there. Thanks for working on this!

[2021-11-08 23:08] daxfohl opened #4639 "Clifford-specific protocols"
**Is your design idea/issue related to a use case or problem? Please describe.**

Would be a step in https://github.com/quantumlib/Cirq/issues/4582#issuecomment-962750116, but probably also valuable on its own.

**Describe your design idea/issue**

Currently there's no low-level way to update a Clifford tableau or ch-form given a gate, i.e. there's no equivalent to `apply_unitary`. Clifford transf

[2021-11-09 06:16] dabacon commented on #1859
@tanujkhattar Maybe something to add to common_gate_families?

[2021-11-09 07:26] dabacon commented on #3116
Is this still open?  I think double support was added, and is being used?

[2021-11-09 07:34] #4637 closed

[2021-11-09 18:38] dabacon opened #4648 "Consider lazy loader for heavier imports"
**Description of the issue**

There are a couple of packages that Cirq uses that have slow import times, but are not heavily used.  These include a lot of subpackages of scipy, like scipy.optimize and scipy.stats.  Currently we lazily import these before their use in order to avoid these being imported in the global init of cirq.  See #4643 for example.

However @MichaelBroughton suggested that we

[2021-11-09 21:12] MichaelBroughton commented on #4648
See discussion in #4643

[2021-11-10 01:52] dabacon commented on #4185
Fixed in #4652

[2021-11-10 01:52] #4185 closed

[2021-11-10 05:56] dabacon commented on #4596
Hi @as3232cornell ,  The preferred way to perform simulations for larger numbers of qubits is to use qsim.  Here is a guide to which simulator works best for different sizes and whether you want to incorporate noise or not https://quantumai.google/qsim/choose_hw

If you are stuck installing qsim, I would recommend posting an issue there describing what problems you are encountering when installing

[2021-11-10 06:00] dabacon commented on #4263
Is this fixed now?

[2021-11-10 15:19] #4618 closed

[2021-11-10 16:53] dabacon commented on #4648
Implemented in #4653

[2021-11-10 16:53] #4648 closed

[2021-11-10 18:36] vcatherine commented on #4538
Also add under Quantum Cloud Services: Microsoft Azure Quantum

[2021-11-10 19:03] #4620 closed

[2021-11-10 19:18] daxfohl commented on #4632
One challenge is some gates have different characteristics depending on parameters. i.e. stabilizer gates may only be stabilizers if they have integer exponents.

[2021-11-10 19:58] daxfohl commented on #4632
Closing due to too big, too many unknowns, prefer "pythonic" protocol based.

[2021-11-10 19:58] #4632 closed

[2021-11-10 20:33] augustehirth opened #4655 "cirq.Simulator doesn't support inverse gates that use sympy arguments for gates that don't define __pow__"
Simulating the inverse of a gate that uses sympy Symbols as arguments causes a "Simulator doesn't support" Type Error, if the gate inherits its __pow__ magic method from `cirq.Gate`. Of particular note is the `cirq.PhasedFSimGate`, which [decomposes](https://github.com/quantumlib/Cirq/blob/782c14e0cc821794d21e82f30df8e6998f4b9992/cirq-core/cirq/ops/fsim_gate.py#L407) into the `cirq.FSimGate` and s

[2021-11-10 20:47] #4208 closed

[2021-11-10 21:03] dabacon commented on #4633
This comes about because tensorflow doc parses assumes it is only documenting functions, callables, or partials.
https://github.com/tensorflow/docs/blob/93a8bf2766d4f9853384170018702d00d073b360/tools/tensorflow_docs/api_generator/parser.py#L1474

[2021-11-10 21:08] risicle commented on #4379
We happen to be putting together the NixOS package for this at the moment and we're finding this _and a few other_ tests are failing on aarch64-linux due to tolerance issues. Full log: https://hydra.nixos.org/log/df0xzjzyvn3g8g9pmaais8y8k5wv3pd3-python3.8-cirq-core-0.13.1.drv

[2021-11-10 21:21] tanujkhattar commented on #4655
Sent a PR to fix the bug.

[2021-11-10 21:41] MichaelBroughton commented on #4564
This functionality is in now.

[2021-11-10 21:41] #4564 closed

[2021-11-10 21:53] dabacon opened #4657 "API documentation drops type hints."
**Description of the issue**

See for example API documentation for `on_each` in `Gate`
![image](https://user-images.githubusercontent.com/87974/141199334-2b3e34ae-34b4-44ed-80b2-e94c1625f890.png)
But the signature was
[code]

A quick glance at this makes me think it is the non-forward reference....ones that are labeled like 'cirq.Qid' seem to show up.

[2021-11-10 23:48] #4655 closed

[2021-11-11 01:08] dabacon commented on #4633
Fixed in #4658

[2021-11-11 01:08] #4633 closed

[2021-11-11 01:21] dabacon opened #4660 "check/all fails because it runs rigetti tests"
One a clean dev install (with qiskit fix #4659) and docker installed, check/all fails becaused it attempts to run the rigetti integration tests.  This is caused by it calling check/pytest-and-incremental-coverage.   In contrast check/pytest does not run these tests.

[2021-11-11 05:11] dabacon commented on #4538
This has been updated and will go out to production on next release.

[2021-11-11 05:11] #4538 closed

[2021-11-11 05:18] dabacon commented on #3062
Using tuna, the top offenders are  numpy, sympy, matplotlib, pandas, and networkx.  We've added code #4653 to do LazyLoading for scipy which was also slow.  The good news is that the problem is mostly these external deps, not cirq.

[2021-11-11 14:52] dabacon commented on #4596
Looking a bit more at your request, a list of unitaries, one thing is that I think you would really like unitaries plus the qubits they act on.  The reason for this is that the unitary on all n qubits is 2^n by 2^n.  One can do this already as @tanujkhattar said:
[code]

[2021-11-11 17:33] NoureldinYosri commented on #4512
@dabacon could you please review the solution?

[2021-11-11 18:37] tanujkhattar opened #4665 "Move cirq/ops/moment.py to cirq/circuits/moment.py ?"
**Description of the issue**
Moments are a building blocks for circuits and should belong in the cirq/circuits/* instead of cirq/ops/*. This issue is to discuss this proposal and, if agreed, move the files following a deprecation cycle.

[code]

[2021-11-11 22:59] dabacon commented on #682
There are now on results and on devices.

[2021-11-11 22:59] #682 closed

[2021-11-12 00:36] maffoo opened #4667 "Why does Circuit validate ops on insertion?"
In doing some performance profiling internally, we noticed in a particular benchmark that we were spending approximately 7% of the total time in [`Circuit._validate_op_tree_qids`](https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/circuits/circuit.py#L851), with much of that time spent in the `qid_shape` protocol. I'm sure there are ways to speed this up, but it got me thinking about wh

[2021-11-12 03:55] dabacon commented on #4667
Interestingly it looks like there is alway ready validation when you apply Gate to qubits.  It's a bit of a redirect, because it appears in the consrtructor to GateOperation (which call gate.validate_args(qubits)).  So we can just remove the validation.  I've got a PR to do this if we decide this is correct.  I don't see a reason why it isn't.

[2021-11-12 05:13] dabacon commented on #228
Does this make sense any more?  Was the idea for jobs to have an async method that returns the results?

[2021-11-12 13:24] ggardet commented on #4379
Yes, the fix in #4636 make the test to pass. Thanks!

[2021-11-12 15:44] vtomole commented on #4379
@ggardet Awesome

@risicle Does this fix work for that NixOS package? Note, you'll need to test on the dev version of Cirq: `pip install cirq==0.14.0.dev20211112014647`

[2021-11-12 20:35] dabacon commented on #4379
@risicle added fixes for the tests you list.  Could you verify these are now fine.  Thanks!

[2021-11-12 22:15] risicle commented on #4379
Absolutely. 100%. Perfect - thankyou.

[2021-11-12 22:52] #4379 closed

[2021-11-12 23:34] dabacon commented on #1075
I think this is now implemented in cirq-web?  Putting on triage/discuss to see if we want to close at Cirq sync

[2021-11-13 00:11] #4339 closed

[2021-11-13 00:46] dabacon commented on #3802
I just tried this with latest version of cirq and pyscf and this appears to no longer be an issue.  Closed.

[2021-11-13 00:46] #3802 closed

[2021-11-13 00:49] dabacon commented on #3767
Looks like @mpharrigan squashed all the bugs.  Closing.

[2021-11-13 06:35] daxfohl opened #4683 "Update non-gate quantum ops to have gates"
**Describe your design idea/issue**

It would be nice to make things consistent such that quantum operations (as opposed to control operation classes like subcircuits and feedforward) all have associated gates. Most do. The ones I see that don't are:

* BooleanHamiltonean: This seems straightforward to convert: instead of qubit_map, the BooleanHamiltoneanGate.__init__ would just take a list of nam

[2021-11-13 17:04] #2582 closed

[2021-11-14 09:46] fedimser opened #4685 "Support common notations in circuit_to_latex_using_qcircuit"
**Is your feature request related to a use case or problem? Please describe.**
There are common notations for some gates supported by QCircuit, but Cirq's circuit_to_latex_using_qcircuit doesn't use them. This includes:
* SWAP gate which rendered as rectangle with "SWAP" inside it, instead of two crosses connected by a line.
* Multi-controlled X gate, where some controls are "1" and some are "0".

[2021-11-15 16:52] mpharrigan commented on #3767
I'm pretty sure there are a ton of (num+my)py bugs left. `check/mypy --next` assumes you have numpy >= 1.20 or it won't do the new numpy checks.

In any event, if it _is_ fixed, we'd need to modify the CI to only do the `check/mypy --next` behavior (and remove the flag, probably)

[2021-11-15 16:55] mpharrigan commented on #3767
Having said that, I see that `check/mypy --next` doesn't find anything on my machine.

[2021-11-15 16:58] mpharrigan commented on #3767
broken here: https://github.com/quantumlib/Cirq/commit/fd257e6c228a0b4c8839ad6ac3d30467476f195e#diff-8cceb31ef3d58deea4a1c9df3e3177ce3aa6a18be536905e60d4b14e230e3150

[2021-11-15 19:12] dabacon commented on #4479
I believe this behavior was changed in #4445 which does an explicit check for isinstance of string.  Closing.

[2021-11-15 19:12] #4479 closed

[2021-11-15 19:18] dabacon commented on #2220
This is now fixed.

[2021-11-15 19:18] #2220 closed

[2021-11-16 00:17] #4478 closed

[2021-11-16 01:25] dabacon commented on #3728
Fixed in #4688

[2021-11-16 01:25] #3728 closed

[2021-11-16 01:28] dabacon commented on #3415
This looks to me like it was fixed in #4455

[2021-11-16 01:28] #3415 closed

[2021-11-16 01:35] dabacon commented on #3447
@dabacon was off talking to money people but now he is back and much happier to not have to listen to quantum hype.

LineQubit makes the most sense, even though there is all to all connectivity, when addressing in hardware it makes sense to address on a line.

The documentation has been fixed, but probably good to be defensive and throw a TypeError in the constructor.

[2021-11-16 17:46] #3388 closed

[2021-11-16 18:44] tanujkhattar commented on #2553
This will get fixed as part of migration to new moment preserving compilation primitives proposed in https://tinyurl.com/moment-preserving-transformers

[2021-11-16 18:59] daxfohl commented on #4639
As noted in the linked PR, while I think this is an improvement, I don't think this is the best solution. The best option would be a protocol that just returns some representation of the gate in a way that any Clifford simulator can use. That would allow 3rd-party Clifford simulators to be built, whereas this current PR is locked to the two cirq.clifford simulators and I believe puts too much stat

[2021-11-16 19:13] #3447 closed

[2021-11-16 19:53] dabacon commented on #2212
This is stale as the code no longer exists (display code that was removed)

[2021-11-16 19:53] #2212 closed

[2021-11-16 20:43] dabacon commented on #2679
The number of keys in the counter can vary depending on whether the measurement was seen or not.  So in the example given if number of repetitions is 1, for example there will only be one element.  So I guess what is desired is to be able to slice according to the binary strings, not indices.

But then is the desired behavior to return a list with counts including 0 in the slice?  That would cause

[2021-11-16 21:03] tanujkhattar commented on #4683
There's also `ArithmeticOperation`; `QuirkInputRotationOperation`.

[2021-11-16 23:31] tanujkhattar opened #4691 "Add an option to highlight a subset of qubits in cirq.Heatmap"
**Is your feature request related to a use case or problem? Please describe.**

**Describe the solution you'd like**
Heatmaps are often useful to visualize error metrics for qubits and couplers on the google devices. When selecting a subset of qubits to run an experiment on; it's useful to consult heatmaps of error metrics. We should add an option to the `cirq.Heatmap` and `cirq.TwoQubitInteractio

[2021-11-17 08:18] tanujkhattar commented on #4665
Similarly, should we move `cirq/circuits/circuit_operation.py` to `cirq/ops/circuit_operation.py` ?

[2021-11-17 17:07] maffoo commented on #4665
Moving `Moment` into `cirq.circuits` seems fine to me; would we even need a deprecation cycle since the supported way of accessing this is `cirq.Moment`, which won't change? It might be worth clarifying our deprecation policy around internal refactors like this (or maybe this is already spelled out in which case ignore my comment :-) ).

One consideration here is reducing circular imports. We alre

[2021-11-17 17:20] tanujkhattar commented on #4665
I think we should go through a deprecation cycle to avoid breaking all code of the form:
[code]

[2021-11-17 18:55] 95-martin-orion commented on #4665
+1 to Matthew's comments on circular imports - `CircuitOperation` lives in `cirq.circuits` for exactly the reason he describes. Also, references to `Moment` in `cirq.ops` and `cirq.devices` (`OP_TREE` and `NoiseModel` being the primary culprits) would become circular imports as a part of this change, so we'd need to add lazy loading to prevent those.

[2021-11-17 18:56] tanujkhattar commented on #4683
Regarding the disadvante mentioned:

There are many operations which are not gate operations but have a `.gate` property. The confusing case that you mentioned would be applicable to all those cases. Eg: `controlled_gate.on(*q)` is not same as `GateOperation(controlled_gate, q)`. Another prominent example is `PauliString` (operation) vs `DensePauliGate` (corresponding gate)

[2021-11-17 18:57] tanujkhattar commented on #4683
With ops you can do `ops.with_qubits()` to apply them to different qubits.

[2021-11-17 18:58] maffoo commented on #4665
Are `OP_TREE` and `NoiseModel` used outside of type annotations? If only needed for type annotations the imports should be in `if TYPE_CHECKING` blocks to avoid runtime circular imports (and in fact, they should use top-level imports like `cirq.OP_TREE`).

[2021-11-17 19:13] tanujkhattar commented on #4639
Discussion from the sync:
- It'd be nice to have consistency across the library. We should have an RFC with more concrete questions.
- It should be nice to have the library be able to support custom clifford simulators but do we have use cases where such custom clifford simulators would be useful?
- More concrete questions should clarify the future direction.

[2021-11-17 19:19] 95-martin-orion commented on #4683
Related: #1561

[2021-11-17 19:23] tanujkhattar commented on #4665
Discussed:

- Let's move moment and not move circuit ops.

[2021-11-17 19:43] tanujkhattar commented on #4596
- Ideally you should try to get the GPU running on qsim.
- If that's not possible, use one of the two  suggested approaches of getting unitary matrices corresponding to each operation / moment in the circuit.

[2021-11-17 19:43] #4596 closed

[2021-11-17 19:49] vtomole commented on #1075
This has been done. See: https://www.youtube.com/watch?v=pgyCEY8oMYA

[2021-11-17 19:51] #1075 closed

[2021-11-17 23:32] vtomole commented on #4667
@tanujkhattar asks: Can we move the validation to the `GateOperation` class?

[2021-11-17 23:45] dabacon commented on #4667
Well it is used by other operations, like in going from `ControledGate` to `ControlledOperation`.

[2021-11-18 01:06] maffoo commented on #4667
Fixed by #4669.

[2021-11-18 01:06] #4667 closed

[2021-11-19 18:51] dabacon commented on #4512
The one kind of strange thing about your implementation (which is quite ingenious!) is that the two cases are distinguished by a) list of int or (list of int) and b) list of list of (list of ints).  This is a bit hard for most people to see the difference between, i.e. staring at the list of list of lists to see thats what it is isn't too easy.  What I would suggest is that we keep this "raw" form

[2021-11-20 10:25] NoureldinYosri commented on #4512
sounds good, I'll incorporate your suggestion into my code and create a PR

[2021-11-20 16:06] vtomole opened #4695 "Benchmarks can't execute due to Cirq's metapackaging strategy"
**Description of the issue**
See: https://github.com/quantumlib/Cirq/issues/1030#issuecomment-953369431

**Cirq version**
'0.14.0.dev'

Solution: Tell asv where the subpackages are. For example https://github.com/quantumlib/Cirq/commit/024f6fb80bbcb5f246ff0066b994732a43c4fa09.

[2021-11-20 16:08] vtomole commented on #1030
Hey @diabhiue, your ping got lost in my flood of notifications. I'm also going to be out of office for the next 2 weeks.

Anyway, It seems like the second error is due to https://github.com/quantumlib/Cirq/issues/4660 and the first one is due to cirq's packages not being installed. Since the benchmarks only need `cirq-google`, you will need to tell asv where it is. I was able to run the bencmarks

[2021-11-20 19:55] daxfohl commented on #4639
@tanujkhattar @viathor tinyurl.com/clifford-simulators-refactor

[2021-11-22 18:38] daxfohl commented on #4683
@tanujkhattar: It looks like `ArithmeticOperation` will be possible to make into a gate. I don't think `QuirkInputRotationOperation` will be possible though, since it wraps another `Operation`. To make a gate, we'd have to redesign the thing so that it wraps a `Gate` instead, which, IDK if that fits with what `QuirkInputRotationOperation` is supposed to do. If so, then probably it's possible to ch

[2021-11-22 20:59] 95-martin-orion opened #4698 "Enforce [namespace.]classname format for cirq_type"
The type-serialization behavior added in #4693 made an implicit assumption that Cirq objects use `object.__class__.__name__` for the "cirq_type" field of their JSON representation, optionally prepended with a namespace. This is consistent with existing Cirq types, but until that PR it was merely a convention; now that code depends on it, we ought to enforce it.

More specifically, this issue recom

[2021-11-22 20:59] 95-martin-orion commented on #4698
CC @mpharrigan

[2021-11-22 21:29] mpharrigan commented on #4698
A change that could get us most of the way there is modifying the behavior of `obj_to_dict_helper`

[2021-11-23 01:02] mpharrigan opened #4699 "SerializableDevice is not json serializable"
At least not JSON-serializable.

This is a high priority request for cirq.google workflow tools. It's important to be able to save a record of the device you ran on when performing an experiment.

[2021-11-23 06:26] maffoo commented on #4699
Making this serializable will require getting rid of the lambdas that come in via `_GateDefinition.can_serialize_predicate`.

[2021-11-23 23:10] daxfohl commented on #4683
@tanujkhattar Looking again, I believe the `QuirkInputRotationOperation` would be a valid candidate. It can wrap a gate instead of an operation. Of course, that means it's limited to wrapping gates, but the point of this project is to push as many things down to the gate level as it makes sense to do. So, it won't be able to wrap a CircuitOperation or a ClassicallyControlledOperation. Which makes

[2021-11-24 02:44] tanujkhattar opened #4709 "[cirqflow] `ExecutableGroupResultFilesystemRecord.load` should have a resolvers parameter for loading custom types"
`ExecutableGroupResultFilesystemRecord.load` is used to load an `ExecutableGroupResult` from disk. It does so by calling `cirq.read_json_gzip` with the correct path storing the files on disk.
https://github.com/quantumlib/Cirq/blob/d42e05833953e1285f8175775e6ac5627709b926/cirq-google/cirq_google/workflow/io.py#L47

The current implementation limits the functionality to reading only dataclasses whi

[2021-11-24 03:16] tanujkhattar opened #4710 "[Named Topologies] Add `nodes_to_linequbits` method to `LineTopology`"
Routing utilities currently present in cirq contrib expect a networkx graph of device (/target topology) where each node is a `cirq.Qid`.  `NamedTopology` stores topology graphs where each node is a number / tuple.
`TiltedSquareLattice` has a `nodes_to_gridqubits` method which can provide a mapping from the graph nodes to the corresponding grid qubits.
https://github.com/quantumlib/Cirq/blob/d42e0

[2021-11-24 17:12] #4698 closed

[2021-11-24 21:16] mpharrigan commented on #4709
The recommended way is to register your resolvers with cirq at import time. For example, in `__init__.py`

[code]

[2021-11-24 21:17] mpharrigan commented on #4709
Your suggestion is worth considering, though. You could imagine having a custom "reader" and "writer" function to e.g. toggle between writing gzipped or uncompressed json (as well as supporting custom resolvers)

[2021-11-24 21:25] mpharrigan commented on #4710
Yeah, I thought about this and almost included it in #4628 but omitted it because I figured it would be less useful for people putting stuff on gridqubit-based devices.

It would be
[code]

[2021-11-28 01:57] thanacles commented on #3605
Do you think this would benefit from something like the fix for: https://github.com/quantumlib/Cirq/issues/3184

[2021-11-28 15:58] thanacles commented on #4240
Is https://github.com/quantumlib/Cirq/pull/4712 what you are thinking of?  I (in my ignorance) feel like CircuitOperation could benefit from:
1. Being a Gate instead of an Operation (CircuitGate?)
2. Getting a similar treatment as this: https://github.com/quantumlib/Cirq/pull/4201

[2021-11-28 18:33] daxfohl opened #4713 "Do we bind to qubits too early?"
When creating a circuit, we hard-bind that circuit to qubits. Should we do that later, at simulation/run time instead?

The problems with binding to qubits are
* Circuits are less reusable. Have to recreate the circuit to run on devices that have different qubit topologies or dimensions.
* Makes subcircuits awkward to use, in that they require qubit mappings.
* There are places in our code where w

[2021-11-29 18:16] 95-martin-orion commented on #4240
Responded to (2) in #3605.

Your thoughts on CircuitGate mirror the early design stages for CircuitOperation - we strongly considered that option, but ultimately determined that CircuitOperation was the cleaner solution. This mostly boiled down to Circuits being more similar to Operations (both have defined qubits, while Gates do not) and Operations having better access to certain features (e.g. t

[2021-11-30 17:30] thanacles commented on #3612
Can I take this one?

[2021-11-30 17:36] thanacles commented on #4240
I believe this issue is now fixed with merge of PR #4712

[2021-11-30 17:52] 95-martin-orion commented on #3612
Sure! I've assigned it to you. At first glance, this seems fairly clear-cut, but there may be some intricacies in how this interacts with the core circuit diagram drawing tools. I'm interested to see your solution!

Also pinging @daxfohl who has been making changes adjacent to this space - just want to make sure you're both aware of the work the other is doing.

[2021-11-30 17:53] #4240 closed

[2021-11-30 18:26] daxfohl commented on #3612
Yes, following it (or, at least the previous diagramming PRs). I've merged and updated the classical control diagram tests in my branch accordingly.

[2021-12-01 07:13] daxfohl commented on #4713
I fiddled with this and just don't see a way to do it in sensible stages that don't require some major changes. The advantages this change would provide are *nice*, but nothing earth shattering. I'm closing this unless I come up with something that's a little lower hanging as a first step.

[2021-12-01 07:13] #4713 closed

[2021-12-01 07:20] daxfohl commented on #4713
Notably, qid_shape is early-bound with verifications almost everywhere. To late-bind that, it requires passing through so many functions. Like, even the unitary protocol would now require a qid_shape argument for varadic gates. Measurements, even qasm output would all require the same. Just, IDK, I don't see an easy path from here to there.

[2021-12-01 19:42] dstrain115 commented on #3244
There is currently a RFC circulating internally that we will share shortly with cirq cync.

[2021-12-01 19:45] dstrain115 commented on #4449
Cirq cync requests an update from @dabacon whether this should be accepted.

[2021-12-01 19:52] dstrain115 commented on #4709
Decision from cirq cync:  Proposed work-around registering the resolvers with cirq seems to work for this and it seems to be the better solution.  For now, we will close the issue.  If we want to support custom readers or writers as per the last comment, we can open a new issue.

[2021-12-01 19:52] #4709 closed

[2021-12-01 19:55] dstrain115 commented on #2679
Decision from cirq cync:  For more complicated slicing and processing, the user could use the underlying numpy array of the measurements (instead of calling the histogram).  numpy has much more syntactic sugar for handling these sorts of operations.

[2021-12-01 21:58] dabacon commented on #4449
I think storing information about the qubits that are measured on Result seems like a good idea.  I think when we've talked about this in the past, it was always pointed out that you could keep track of this yourself, but this seems like a lot of ugly code to have to write.

[2021-12-01 22:59] daxfohl commented on #4449
The simulators don't currently track what measurements correspond to what qubits. But I was planning to add this in the near future anyway so that we can support qudits in integer expressions in classical control: if we have `cirq.measure(some_qudits, key='mkey'), cirq.X(q0).if('mkey > 20')`, then we need to retain at least the shape of the qudits we measured so that we can calculate the int from

[2021-12-03 05:46] tanujkhattar opened #4721 "Heuristics for efficient state preparation using arbitrary 2q target gate"
This came up in the review of https://github.com/quantumlib/Cirq/pull/4707 that we could potentially write a heuristic for efficient state preparation using a single application of an entangling 2q gate by solving for surrounding `PhsXZ` angles and optimizing the fidelity b/w current state and desired state. The approach would be similar to approximate unitary decomposition approach proposed in ht

[2021-12-03 05:47] #4500 closed

[2021-12-03 11:10] tanujkhattar opened #4722 "Organization (and deprecation) of cirq-core/optimizers in cirq-core/transformers"
### Background
Currently, all optimizers in cirq are present in a single directory --  `cirq-core/cirq/optimizers/*`. It contains not only transformers (which transform/optimize circuits) but also utility methods like analytical decompositions of matrices into target operations.
Also, after https://github.com/quantumlib/Cirq/pull/4708 and https://github.com/quantumlib/Cirq/pull/4692; almost all ex

[2021-12-06 00:13] #4481 closed

[2021-12-06 00:13] #4176 closed

[2021-12-06 00:13] #3034 closed

[2021-12-06 17:39] thanacles commented on #3612
I looked at the code a little over the weekend and I am thinking of doing this:
1. It seems like the concern of partitioning out multi-line operations from the rest of the circuit belongs at the circuit level.  So I think we should refactor TextDiagramDrawer to put boxes around multi-line operations.  This would entail removing box code from  current operations and gates like MatrixGate.  I think

[2021-12-06 23:02] balopat opened #4726 "Latest version to Zenodo did not get synced"
**Description of the issue**

The last release(s) did not get synced to Zenodo for some reason, it still shows 0.12.0 as the latest.

![image](https://user-images.githubusercontent.com/635073/144936521-369dcb58-e99a-4e7e-b36e-193796766e63.png)

**Cirq version**
0.13.1

[2021-12-07 00:41] daxfohl opened #4727 "Gateset containership, subcircuits with negative reps"
**Description of the issue**

Subcircuits allow negative repetitions, which cause each gate to be inverted. This inversion is not performed when gatesets iterate the subcircuit.

**How to reproduce the issue**

[code]
**Cirq version**
0.14.0.dev

[2021-12-07 00:54] daxfohl commented on #4727
Kind of annoyingly, one could even populate the gateset with the specific measurement gates (with measurement key repetition id prefixes) and it will fail unless the subcircuit is fully unrolled (including repetitions). Or maybe unrolling it completely is just the right thing to do.

[2021-12-07 09:28] shahakL opened #4728 "cirq.read_json() fails to read a json containing a QasmUGate"
**Description of the issue**
The function cirq.read_json() fails to read a json containing a QasmUGate. Even if the json was created by cirq.to_json().

**How to reproduce the issue**

[code]
This will produce the following error:
<details>

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipyth

[2021-12-07 12:46] ravidalon opened #4729 "Importing cirq affects the behavior of importlib_metadata"
**Description of the issue**

If cirq is imported before importlib_metadata, the behavior of `importlib_metadata.distributions()` is changed.
In particular, the returned iterable includes two copies of each distribution, instead of one, with one of the copies missing fields (`name` and `_normalized_name`). This doesn't happen if cirq is imported after importlib_metadata (but before `distributions(

[2021-12-07 13:54] tanujkhattar opened #4730 "[cirqflow] Quantum Executable workflow broken because Engine. _serialize_program doesn't support FrozenCircuit"
**Description of the issue**
A call to `cg.execute(rt_config, executable_group)` to run circuits on the hardware is currently broken because with a processor that returns a `QuantumEngineSampler`, the `run_sweep` gets forwarded to `cg.Engine` and the following validation check fails:

https://github.com/quantumlib/Cirq/blob/a0497a411f494498778fae25b20011cd0b8b0eae/cirq-google/cirq_google/engine/en

[2021-12-07 13:58] tanujkhattar commented on #4699
We should also migrate away from using `_GateDefinition` for gate containment checks and use the new `cirq.GateFamily` and `cirq.Gateset` framework, which is now serializable.

[2021-12-07 14:53] tanujkhattar opened #4732 "[cirqflow] `ExecutableGroupResultFilesystemRecord.load` should have sensible defaults for `*_paths ` members"
**Is your feature request related to a use case or problem? Please describe.**
The default `_FilesystemSaver` uses sensible hardcoded path prefixes for storing the runtime config / shared runtime config / executables etc.
https://github.com/quantumlib/Cirq/blob/a0497a411f494498778fae25b20011cd0b8b0eae/cirq-google/cirq_google/workflow/io.py#L142

The sensible defaults take the responsibility of pro

[2021-12-07 16:54] maffoo commented on #4727
Personally, I think negative reps is a bit of a misfeature and could be removed. It seems to me that "inverting a circuit" is a big operation that should not be hidden behind a sign in the number of repetitions.

[2021-12-07 18:24] mpharrigan commented on #4730
yes I actually ran into this. EngineSampler needs to learn what's up!

[2021-12-07 18:26] mpharrigan commented on #4732
I have this function locally. Will push in the near future

[2021-12-07 18:27] mpharrigan commented on #4732
actually I already opened this draft PR, ptal https://github.com/quantumlib/Cirq/pull/4720

[2021-12-07 18:38] MichaelBroughton commented on #4722
I like the looks of this plan.

Move decomposition utilities from cirq/optimizers to sub directories under cirq/transformers/
Deprecate the existing transformers in cirq/optimizers in favor of new implementations using the moment preserving primitives and following the new non-mutating API, which would be added at top-level in cirq/transformers/.

Where possible, I would be in favor of doing this

[2021-12-07 19:51] #4730 closed

[2021-12-07 20:48] tanujkhattar opened #4734 "[cirqflow] `KeyValueExecutableSpec` should provide a `to_dict` method / override `__getitem__`"
**Is your feature request related to a use case or problem? Please describe.**
`cg.KeyValueExecutableSpec` provides a nice `from_dict()` method to convert a dict into a `Tuple[Tuple[str, Any], ...]` which is hashable. This is useful when constructing the executable spec. However, using the executable spec during analysis of the results forces one to use the stored tuples, which is cumbersome.

**D

[2021-12-07 22:16] mpharrigan commented on #4734
sounds like a good idea to me

[2021-12-08 02:52] viathor commented on #4579
The utilities should also validate the behavior of `_has_*_` methods.

[2021-12-08 19:32] 95-martin-orion commented on #2679
@obriente, have you found a workaround for this? Doug's comment describes the Cirq team's recommendation on this.

[2021-12-08 19:35] tanujkhattar commented on #4727
Discussion on original PR regarding this: https://github.com/quantumlib/Cirq/pull/4491#discussion_r706509404

Worth revisiting it again now. cc @95-martin-orion

[2021-12-08 19:38] pavoljuhas commented on #4729
@MichaelBroughton - I can take a stab at this, feel free to assign to me.

[2021-12-08 19:41] mpharrigan opened #4737 "Swamped by proto DeprecationWarnings"
When running tests, warning and deprecation warnings can give a heads up on things that need to change in the near future, especially given Cirq's deprecation cycles. And if there's a test failure, one would like to see the details without having to develop carpal tunnel in the scroll-finger. We're currently overwhelmed by deprecation warnings from protos

[code]

[2021-12-08 20:37] wcourtney commented on #4737
It looks like there was a related issue in the common python protos library: https://github.com/googleapis/python-api-common-protos/issues/23

It looks like they filtered these warnings as a short-term solution: https://github.com/QCoDeS/Qcodes/pull/2598

They also added a fix that should resolve this if we re-build the proto set. IIRC, there were some manual tweaks to the generated protos that we

[2021-12-08 21:53] pavoljuhas commented on #4729
@ravidalon - I can't reproduce this.  I have installed cirq and importlib_metadata to a fresh virtual environment for Python 3.9.8 using
[code]
I have verified the installed cirq is at the current master e97768c6a29e1e9d2d1dcc8af86e219e82b808fd.  All 3 snippets in your example gave me a same-length lists of distributions with the same `name` and `_normalized_name` values.  I have also tested with

[2021-12-09 07:53] ravidalon commented on #4729
@pavoljuhas you are right, this is solved in the the latest pre-release (e97768c). Thanks!

[2021-12-09 14:42] dstrain115 commented on #4722
This is fine with me, but we should announce this broadly.  We already mentioned at a cirq cync, but it might be worth an email to cirq-announce.  We could maybe combine this with a forward-looking "What's changing in cirq 1.0" email to all of cirq-announce that explains all the changes we are planning to do.

[2021-12-09 18:47] pavoljuhas commented on #4729
@ravidalon - I have checked again and could see the bug in v.0.13.1.
Bisection shows the problem was fixed in 21b9be304a600cd94f87597de77ee36df2d9aaaa - specifically the issue appears to be in the calls of `_compat.deprecated_submodule`.
If I reintroduce such call, for example, by applying the patch below, the bug starts biting again.

@MichaelBroughton, @tanujkhattar - should I try to fix the roo

[2021-12-09 18:56] MichaelBroughton commented on #4729
I think that'd be a worthwhile fix for sure. I don't think we make extremely heavy use of it now, so it might be the perfect time to get a clean fix in while the stakes are a little lower. For #4722 I think we don't need the ability to deperecate a submodule (since Cirq puts everything on the global namespace) and we can just get away with being able to deprecate functions and modules. Does that m

[2021-12-09 19:54] daxfohl opened #4741 "Deprecate gateset.accepts_global_phase"
**Description of the issue**

Issue requested by @tanujkhattar

xref: https://github.com/quantumlib/Cirq/pull/4697/files/d64eb23319c0eb7664526613b95db368659fb7aa#r766054614

Since global phase has a gate, it can be inspected like any other gate. Therefore gatesets no longer need special handling for global phase.

[2021-12-09 21:13] tanujkhattar commented on #4461
There are some nuances in moving the code to cirq-core, mainly around dealing with [`two_qubit_gates/math_utils.py`](https://github.com/quantumlib/Cirq/blob/master/cirq-google/cirq_google/optimizers/two_qubit_gates/math_utils.py). Ideally, we'd like to move / re-implement the methods present in `math_utils.py` to more appropriate locations in cirq-core. For example,

- `random_qubit_unitary` : Rep

[2021-12-09 22:23] tanujkhattar opened #4742 "Should `cirq.Moment` store operations sorted by the underlying qubits?"
The iteration order of operations in a `cirq.Moment` currently depends upon the order in which the operations were inserted in the moment. This can lead to cases where two moments `m1 == m2` is True but their `repr`s and iteration order of underlying operations are not the same.

[code]

The proposal is to directly store and use `sorted(self.operations, key=lambda op: op.qubits)` as the list of un

[2021-12-10 18:28] tanujkhattar commented on #4729
We would need to deprecate `cirq.optimizers`, and I do expect people to use `from cirq import optimizers`. That being said, since we would be gradually deprecating all methods and classes and moving them over to `cirq.transformers`, I think we can get away with only deprecating functions and classes and once all deprecated objects have been moved, we can remove the `cirq.optimizers` submodule.

[2021-12-10 19:26] MichaelBroughton opened #4743 "Implement DeviceMetaData classes"
**Summarize the task**
In the roadmapping work done in the devices rework [p1](https://docs.google.com/document/d/1mEiroX2QCtf0Vg2MPsAN1E6GoTI23LTi8NVnjQ7xMDw/edit#heading=h.v6rv8uvre60x) and [p2](https://docs.google.com/document/d/11fr5dzv3y3LowfNLnQwdyz5pSRBlwSF3BFnJqTII4YE/edit#) , there is a plan to implement `DeviceMetaData` and `GridDeviceMetaData`. This issue is to track the implementation

[2021-12-10 19:28] 95-martin-orion commented on #4737
This looks like a duplicate of a long-standing issue in Cirq: #4161. In short: the warnings are due to compiling protos with an old version of `protoc`, but updating that to the current version breaks our TFQ compatibility.

Current workarounds include:
- Permanent but complicated: _downgrade_ your protobuf version to `3.11.4` or earlier. This should silence the proto warnings without other compli

[2021-12-10 19:32] 95-martin-orion commented on #4699
I see no reason not to accept this item - having such a contradiction of class name and behavior is very silly.

[2021-12-10 19:33] mpharrigan commented on #4737
the filters in setup.cfg would satisfy me if they work

[2021-12-10 19:34] 95-martin-orion commented on #4726
Pinging @MichaelBroughton for insight. We might have missed a step in the 0.13 release - it's possible that the release doc needs to be updated to include this.

[2021-12-10 19:41] 95-martin-orion commented on #4727
From discussion on the Cirq sync: the issue exists in the interaction of Gateset and CircuitOperation. As @daxfohl suggests, the correct behavior would be to fully unroll the CircuitOperation to correctly identify the operations it contains.

Supporting negative repetitions is convenient for recursively-defined circuits, where a given `CircuitOperation` may need to be inverted multiple times befor

[2021-12-10 19:43] MichaelBroughton opened #4744 "Device deprecations"
**Summarize the task**
As a part of the devices [p1](https://docs.google.com/document/d/11fr5dzv3y3LowfNLnQwdyz5pSRBlwSF3BFnJqTII4YE/edit#) and [p2](https://docs.google.com/document/d/1mEiroX2QCtf0Vg2MPsAN1E6GoTI23LTi8NVnjQ7xMDw/edit#heading=h.v6rv8uvre60x) we plan to move some behaviors and functionalities out of devices (in order to ensure the class is focused on validating). This issue is to tr

[2021-12-11 19:08] thanacles commented on #3612
@daxfohl @95-martin-orion @balopat
Implemented design laid out in previous comment here: https://github.com/quantumlib/Cirq/pull/4745
Please take a look.

[2021-12-12 07:05] daxfohl commented on #3612
Quick FYI -- balopat is no longer here (much), and I'm not a maintainer. But that aside, I think (1) sounds nice, though I think if a CircuitOperation has only one line it should still have a box. For (2), I think it sounds like a good idea *except* when printing out *just* the subcircuit, since then that information would get lost. If that special casing for (2) adds too much complexity I'd say i

[2021-12-13 03:38] yjt98765 commented on #4728
The bug is caused because `QasmUGate` does not follow the JSON serialization rules defined by [serialization.md](https://github.com/quantumlib/Cirq/blob/master/docs/dev/serialization.md). An object is serialized to JSON with the help of a `_json_dict_` method and restored by a `_from_json_dict_` method. `QasmUGate` does not provide either of them. The above circuit example can be serialized becaus

[2021-12-13 14:44] tanujkhattar commented on #2254
AFAIK, The common use case for this insertion strategy would be the case where one wishes to replace an existing operation with a list of operations (eg: by decomposing into a target gateset), while preserving the moment structure. Using the `EARLIEST` insertion strategy in this case destroys the moment structure (eg: by not preserving the structure of one / two qubit gates in the same moment). Si

[2021-12-13 17:44] thanacles commented on #3612
@daxfohl I think your point that you would like a box around a single line CircuitOperation is a good one.  Let me think about it, but that might be a good enough point to warrant just delegating the boxing to the operation.  I think that the mapping doesn't even make sense outside the context of a circuit. What are these magically qubits this operation is mapping too? :)

[2021-12-13 18:02] tanujkhattar commented on #4683
This would be useful towards the 1.0 roadmap item for organizing gate relationships.

xref #3242

[2021-12-13 18:24] 95-martin-orion commented on #3612
I'll be commenting on the PR as well, but I'd like to highlight here that I agree with @daxfohl on item (2). A `CircuitOperation` combines a `FrozenCircuit` with the mappings required to include it in a larger circuit. _All_ of those mappings should be clearly visible when printing out the `CircuitOperation`, whether it's in the context of that larger circuit or not. Think of the `FrozenCircuit` a

[2021-12-14 02:46] yjt98765 commented on #4728
It seems there is no need to serialize `QasmTwoQubitGate`. I will first create a PR only for `QasmUGate` and wait for feedbacks.

[2021-12-14 07:19] shahakL commented on #4728
Thank you @yjt98765 !
Can you please explain why is there no need to serialize `QasmTwoQubitGate`?

[2021-12-14 08:03] yjt98765 commented on #4728
`QasmTwoQubitGate` is based on `linalg.KakDecomposition`, but the latter one cannot be serialized (yet). [spec.py](https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/protocols/json_test_data/spec.py) lists the classes that are not serializable yet, including `KakDecomposition`. In theory, we should add serialization support to all of these classes, but maybe some of them are not commonl

[2021-12-14 18:18] viathor commented on #4734
I agree with @mpharrigan. Added triage/discuss to decide which options to go with.

[2021-12-14 20:09] viathor commented on #4737
I'll close this issue with #4751 and will leave #4161 open to remove the warnings eventually (once protoc upgrade no longer breaks compatibility with TFQ).

[2021-12-14 20:11] viathor commented on #4161
Note that #4751 will temporarily hide the deprecation warnings so they stop swamping our test outputs (BTW: other deprecation warnings appear to have sneaked into the crowd, e.g. from quimb). However, let's keep this issue open until a proper fix is possible (i.e. until upgrading protoc no longer breaks TFQ compatibility).

[2021-12-14 20:24] MichaelBroughton commented on #4161
For the record, this issue is no longer a TFQ issue. The remaining proto deprecation warnings are coming from the v1alpha1 protos that need to be re-generated internally using our gapic tools. The fix for this will involve someone going through the internal build instructions for the py_gapic rules we need and then copying the built artifacts out into Cirq.

[2021-12-14 20:32] MichaelBroughton commented on #4737
This is no longer blocked by TFQ (and hasn't been for a while) it is entirely a matter of regenerating v1alpha1 using the internal gapic builds we have.

[2021-12-15 00:13] #3517 closed

[2021-12-15 01:02] mpharrigan commented on #2757
for your second comment @viathor there's https://github.com/quantumlib/Cirq/issues/3775

[2021-12-15 19:20] 95-martin-orion commented on #4742
Potentially a breaking change, since there's an implicit rule that insertion order is preserved, but otherwise accepted.

[2021-12-15 19:28] tanujkhattar commented on #4734
Discussed in cirq sync: We should have a `to_dict` method. Probably also investigate whether the class needs to be immutable since cirq json serialization can handle dict to sorted tuples conversion.

Another heads up here is that dict -> tuple conversion should sort tuples to guarantee stability. In this class, we do not currently do the sorting. cc @mpharrigan

[2021-12-15 19:40] mpharrigan commented on #4734
dictionaries are ordered in modern python. it's not clear to me whether we should be sorting.

[2021-12-15 19:58] tanujkhattar commented on #4734
They are insertion ordered, not sorted based on keys. One counter intuitive example due to this is:

[code]

[2021-12-15 20:03] mpharrigan commented on #4734
currently keyvaluespec has these semantics

[code]

so we should "fix" this as well.

[2021-12-15 23:48] daxfohl opened #4758 "Limit the set characters allowed in measurement key names"
**Description of the issue**

We allow measurement keys to contain any character. We had to break this a while back to disallow colons, due to path serialization. We may break this again to disallow braces so we can parse sympy expressions out of them. We'll probably also need to disallow brackets whenever we do the "allow multiple measurements" feature. And other things will probably come up late

[2021-12-16 00:21] maffoo commented on #4758
I'd prefer to treat measurement keys as opaque tokens. What kind of sympy expressions do you imaging having in them?

[2021-12-16 00:39] daxfohl commented on #4758
The other way around -- we want to be able to parse expressions containing measurement key names (delimited by braces) into sympy expressions. i.e. in `op.with_classical_control('{A} > {B}')`, `op` would only be executed if measurement A is greater than measurement B. We can work around the fact that the names themselves could have braces by using an escape sequence, but still it seems like we'd w

[2021-12-16 15:12] #4728 closed

[2021-12-16 22:01] maffoo commented on #4758
How about using actual sympy expressions?
[code]
I'm not aware of any restrictions on characters that can be used in the names of sympy symbols, so this should work even if the strings for `keyA` and `keyB` have weird characters.

[2021-12-16 22:36] daxfohl commented on #4758
Yeah, we can work around it. The question really is should we *have* to? Is there a reason we want to allow any characters in the measurement key names, or might it be prudent to limit them?

I think of them as variable names, so it seems odd to support arbitrary characters. But maybe if users think of them as spreadsheet headings then it makes more sense. Anyway @95-martin-orion suggested I bring

[2021-12-16 23:08] 95-martin-orion commented on #4758
I mostly want to restrict measurement keys to `[a-zA-Z0-9_-]` because every time we want to do formatting or parsing of strings containing keys we're forced to put in all these extra safeguards to ensure arbitrary keys won't get broken. It's a strain on development that I doubt provides much benefit to users.

[2021-12-16 23:23] maffoo commented on #4758
In what situations do we need to parse strings that contain keys? I will say that internally we use keys with characters outside the list you propose, such as brackets, commas, colons, etc. So restricting this would be a breaking change for us internally.

[2021-12-16 23:30] 95-martin-orion commented on #4758
#4740 is the current PR of interest in this area. While it's not "parsing strings containing keys", the entire process of introducing `MeasurementKey` also fought against this issue; measurements in repeated circuits eventually received `:` as a special character, but other suggestions such as keyed `CircuitOperation`s have also desired reserved characters.

[2021-12-18 03:49] balopat opened #4761 "[cirq_web 3D circuit] X**0.5 and Y**0.5 look the same as X and Y"
**Description of the issue**

The default look for `X**0.5` and `Y**0.5` look the same as `X` and `Y` in the 3D circuit.

**How to reproduce the issue**

[code]

![image](https://user-images.githubusercontent.com/635073/146627925-5158d61f-670b-41c7-a876-bfa41377fa0a.png)

**Cirq version**
You can get the cirq version by printing `cirq.__version__`. From the command line:

0.13.1

[2021-12-18 10:45] tanujkhattar opened #4763 "Fix deprecation warning for newly added `ClassicallyControlledOperation`"
**Description of the issue**
The following deprecation warning is emitted on running the json serialization test and should be fixed.
[code]
**Cirq version**
0.14dev

[2021-12-18 11:32] tanujkhattar commented on #4742
I tried this change locally and it's indeed a pretty large breaking change. Specifically, it breaks:
- Existing `PointOptimizer` based transformers because iteration order (and hence second order effects like inserting new operations in new moments etc.) currently depends upon the insertion order of operations in the moment.
- Serialization of circuits / moments breaks which leads to a domino effe

[2021-12-18 19:41] tanujkhattar opened #4766 "`GateOperation._equal_up_to_global_phase_` should use `_group_interchangeable_qubits` for qubit comparison"
**Is your design idea/issue related to a use case or problem? Please describe.**
`GateOperation._equal_up_to_global_phase_` currently uses `self.qubits != other.qubits` as a comparison criteria to determine if the two operations are applied on the same qubits. It then goes on to determine if the two underlying gates are equal up to global phase.

https://github.com/quantumlib/Cirq/blob/2e60ca1e49f

[2021-12-20 15:41] #1561 closed

[2021-12-20 18:51] 95-martin-orion opened #4768 "Investigate noise model optimizations"
Noise models added in #4672 and #4673 were ported more or less directly from the internal repository. As discussed on those PRs, there may be optimizations possible in those models now that they live in a Cirq environment, particularly if we choose to limit them to qubit (and not qu**d**it) operations.

cc @MichaelBroughton, @dkafri

[2021-12-20 20:19] Cynocracy opened #4769 "Supporting TFQ using IonqDevice"
**Is your design idea/issue related to a use case or problem? Please describe.**
Use case: using TF quantum with devices that have all to all connectivity but which address qubits linearly.

https://github.com/quantumlib/Cirq/issues/3447 is related, but we (Ionq) have support for all-to-all, but we enforce LineQubit because logically, the qubits are identified by location on the ion trap.

**Descr

[2021-12-20 20:19] Cynocracy commented on #4769
cc @dabacon

[2021-12-20 22:34] daxfohl opened #4771 "Remove SimulationStep/SimulationResult"
This would be a big breaking change, so perfectly happy to let it go.

All the simulators use `TActOnArgs` internally, and now SimulationStepResult/SimulationTrialResult are just wrappers around that object. Those classes served a purpose back when all the simulators were implemented independently, but now they feel like unnecessary layers that obfuscate the code. They're also pretty delicate in t

[2021-12-20 23:31] pavoljuhas commented on #4729
@ravidalon - please reopen, I think I should get a fix for this soon.

[2021-12-21 13:26] yjt98765 commented on #4761
The problem is that the symbols on the boxes are generated entirely based on `wire_symbols`:

https://github.com/quantumlib/Cirq/blob/4ebfb1c8fa123ec6164ff8102b69858ac868840f/cirq-web/cirq_web/circuits/circuit.py#L86-L91

As a comparison, the text representation of a circuit also consider the exponent:

https://github.com/quantumlib/Cirq/blob/4ebfb1c8fa123ec6164ff8102b69858ac868840f/cirq-core/cirq

[2021-12-21 16:37] #4477 closed

[2021-12-21 18:30] dabacon commented on #4769
I believe that TensorFlow quantum has support for LineQubit's but this has not yet been released.  https://github.com/tensorflow/quantum/pull/641 You should be able to get access to it by installing the nightly version of TFQ ` pip3 install -U tfq-nightly`.

I think that support for LineQubit in TFQ is probably better than translating from GirdQubit or NamedQubit, but if we want to add some sort o

[2021-12-21 19:31] mpharrigan opened #4774 "cirq.Result.data is slow"
I'm profiling some of the XEB code using `cirq.ZerosSampler()` to see what sort of Cirq overhead we're incurring. Turns out ~24 seconds in a given sampling run is spent in `cirq.Result.data`, namely looping through each repetition to convert bitstrings to integers.

[2021-12-21 19:42] mpharrigan commented on #4774
[code]

removes the bottleneck

[2021-12-21 20:08] mpharrigan opened #4775 "cirq.Circuit.transform_qubits is slow"
I'm profiling the XEB code and after #4774 is fixed, the code spends ~4 seconds doing `transform_qubits`. It looks like a lot of time is spent simply copying the moments, re-flattening their op tree (even though we don't need to) with only 2 seconds being spent in the raw_types.transform_qubits method.

I'm doing a transform-qubits-and-zip-fragments together, so I'd imagine this flow could be done

[2021-12-21 22:18] MichaelBroughton commented on #4769
Right, LineQubit support is now present everywhere in TFQ nightly builds. Would love it if anyone wants to poke around and see if things are working as intended. For the next TFQ release, we want to finish 1D MPS simulation which roughly entails:

1. Merging this https://github.com/quantumlib/qsim/pull/490
2. Cutting a qsim release. @95-martin-orion .
3. Upgrading TFQ to that latest release.
4. Re

[2021-12-21 22:37] #4727 closed

[2021-12-22 00:54] daxfohl commented on #4657
Actually it seems to be the varargs format. In https://quantumai.google/reference/python/cirq/circuits/CircuitOperations there are plenty of forward references that work, but with_qubits is broken even though annotated correctly.

[2021-12-22 07:34] Cynocracy commented on #4769
Awesome, thanks for the info! Will let you know if we get a chance to test before things are released, I would definitely love to give it a spin 🙂

Re: leaking device behavior into other layers, I totally agree with your rationale. I'm curious to know if you think that GridQubit and LineQubit suffer from the same problem? I would think that if we don't want device properties to bleed into Qubit re

[2021-12-24 01:59] daxfohl opened #4779 "Buffers unnecessarily copied between repetitions"
**Description of the issue**

When doing a simulation run with multiple repetitions, we first simulate the unitaries and snapshot that state (`ActOnArgs.copy()`), then repeat the non-unitary portion only using clones of that snapshot.

Since those repetitions are serial, it should be possible to reuse the buffers rather than copy them for each repetition. Especially in density matrix, where it has

[2021-12-27 00:14] #1750 closed

[2021-12-28 17:55] daxfohl opened #4782 "Public PlusGate"
**Is your feature request related to a use case or problem? Please describe.**

We have `PlusGate` class implementation duplicated several times in tests, and there's now a copy of that class used in the internal implementation of `ResetChannel`.

**Describe the solution you'd like**

Should we just make a public implementation?

**[optional] Describe alternatives/workarounds you've considered**

[2021-12-28 18:00] daxfohl commented on #4758
To note, the current default key for `measure(*cirq.LineQubit.range(3))` is `'0,1,2'`. So commas might be hard to remove.

[2021-12-28 21:01] daxfohl commented on #3190
I looked into this, and it looks like this will have to be done gate-by-gate. The reason is that most gates define an `_apply_unitary_`, and we'd have to update each of those to accept an optional `subspace` argument and use it accordingly.

I see two ways of avoiding gate-by-gate. First, the `apply_unitary` protocol first calls `ApplyUnitaryArgs._for_operation_with_qid_shape` before passing the r

[2021-12-28 21:13] daxfohl commented on #3190
Or wait, for the first alternative above, it looks like that's exactly what `slices` allows. We're just using it to slice the full size of the `qid_shape`, but it could be specialized to slice to a subspace. I'll try that out.

[2021-12-29 08:49] daxfohl commented on #3190
To note, #4783 is a valid mathematical representation of it, and the simulator worked great for all our unitary gates. The only thing is there are places where we need to make sure we're using the underlying qudits instead of the wrapped ones. Diagram drawing for instance. I closed the PR because I don't think I'll have any time to work on it. But if for some reason this becomes a big need, that P

[2021-12-29 14:28] banrovegrie commented on #4509
@anonymousr007 any updates on the same?

[2021-12-29 17:04] daxfohl commented on #4186
I noticed this when working with DepolarizingChannel from Clifford simulators. It would be nice for Clifford simulators if it could return a mixture of Pauli gates instead of raw matrices. Clifford can't use the matrices directly and has to recompile the matrices into gates, which is slower.

[2021-12-29 17:06] #4763 closed

[2021-12-29 17:45] daxfohl commented on #4186
Dupe of https://github.com/quantumlib/Cirq/issues/1657?

[2021-12-29 19:16] 95-martin-orion commented on #3868
CC @MichaelBroughton to flag for possible cleanup before Cirq 1.0.

[2021-12-29 20:38] vtomole commented on #4713
If I recall, @Strilanc said that he wished he did this from the beginning but it's too late now.

[2021-12-29 20:51] daxfohl commented on #4713
There is perhaps an opportunity to backdoor this in: https://github.com/quantumlib/Cirq/pull/4725 provides a CircuitGate, that is the gate for a CircuitOperation. That gate *does* use indices rather than qubits in its definition. So conceivably we could add that, and start using CircuitGates as the starting point to define circuits, only applying qubits at the end.

One issue is that CircuitGtae d

[2021-12-29 22:33] vtomole opened #4784 "Set `atol: float = 1.0e-8` for `cirq.testing.assert_circuits_with_terminal_measurements_are_equivalent`"
**Is your feature request related to a use case or problem? Please describe.**
The only place that uses `atol` in that function is `cirq.linalg.linalg.allclose_up_to_global_phase` and it too takes in a default `atol`.

**Describe the solution you'd like**
Make `atol` an optional argument for `assert_circuits_with_terminal_measurements_are_equivalent`.

**[optional] Describe alternatives/workaround

[2021-12-29 22:40] Strilanc opened #4786 "Default atol for sub_state_vector is too picky for default precision of simulator"
The following raises an exception instead of finishing successfully:

[code]

Giving `atol=1e-6` to the `sub_state_vector` method fixes it. The default of `atol=1e-8` seems to be too strict given that this simple example fails it.

[2021-12-30 02:21] pavoljuhas opened #4787 "Use deterministic order and naming of unit tests"
**Is your feature request related to a use case or problem? Please describe.**

Checking at 4ebfb1c8fa123ec6164ff8102b69858ac868840f the unit test collection is not reproducible, because UT parameters depend on random numbers and value order in sets / dicts.  As a result, it is not possible to execute tests in parallel using the `-n N, --numprocesses=N` option, because pytest first checks if all w

[2021-12-31 16:19] vtomole opened #4790 "Deprecate `SingleQubitGate`"
**Description of the issue**
`cirq.I` is defined as ` IdentityGate(num_qubits=1)` and since IdentityGate takes in a variable number of qubits, it correctly doesn't inherit `cirq.SingleQubitGate`.
**How to reproduce the issue**
[code]
**Cirq version**
0.13.0.dev20210929175218

The solution is to make a class for the identity gate that does inherit from `cirq.SingleQubitGate`

[code]

Or you can use

[2021-12-31 16:58] daxfohl commented on #4790
SingleQubitGate is used in the type annotations of several functions, so depreciating would be more invasive. IIRC we were on the fence as to whether we wanted to deprecate it eventually too.

Though since as you mention, there are varadic gates that are sometimes single qubit and sometimes not, it makes me lean toward thinking that having SingleQubitGate as a type is wrong, and we should be doing

[2021-12-31 19:28] daxfohl commented on #4582
I tried this and (2) ends up being not particularly clean. The reason is that state vector simulator records which mixture option was chosen. This means `apply_gate` would have to take the measurement log and a prng. Also axes might not be enough if we eventually do qudit subdimensions, so apply_gate would need a subdimensions param as well.

At that point we're passing in so many args from `ActOn

[2022-01-01 03:27] daxfohl commented on #3190
Upon implementing it, putting a wrapper around qubits and making a `qudit.subspace(0, 2)` was too dangerous IMO. Even though it worked, there were just too many places we'd have to distinguish between a `Qid` and a `QidSubspace`.

I changed the linked PR so that we wrap the gate instead. It's  `DimensionAdapterGate(cirq.X, slice(0, 3, 2)).on(qudit)`. It all still uses slices under the hood to work

[2022-01-04 06:51] #4742 closed

[2022-01-04 19:16] 95-martin-orion opened #4796 "Flake in test_create_gate_set_validator"
**Description of the issue**
`cirq-google/cirq_google/engine/engine_validator_test.py::test_create_gate_set_validator` experiences a flake in ~0.4% of tests where the generated circuit is too long. [Example failure](https://github.com/quantumlib/Cirq/runs/4705935573?check_suite_focus=true)

**How to reproduce the issue**

[code]

**Cirq version**

0.14.0.dev

[2022-01-04 20:20] #4761 closed

[2022-01-04 21:09] maffoo commented on #4790
+1

[2022-01-04 21:23] tanujkhattar commented on #4790
+1. We should definitely replace all `isinstance` checks with `num_qubits` check in Cirq. I'd also propose that we should try and deprecate `SingleQubitGate` before cirq 1.0, because if we don't, users will end up writing buggy code like `isinstance(g, cirq.SingleQubitGate)`.

[2022-01-04 22:35] drewrisinger opened #4798 "[requirements]: cirq-rigetti requires outdated httpcore version"
**Description of the issue**
The requirements for cirq-rigetti requires an outdated version of httpcore (v0.11.1, 2020-09-28, https://pypi.org/project/httpcore/#history), while the latest version is v0.14.3 (2021-11-17). Reliance on an older version of httpcore is causing build failures in nixpkgs (https://github.com/NixOS/nixpkgs/pull/153500). Pinning happens here: https://github.com/quantumlib/C

[2022-01-04 23:28] mpharrigan commented on #4732
done in #4720

[2022-01-04 23:28] #4732 closed

[2022-01-05 15:35] tanujkhattar opened #4800 "Utilities for measurement error mitigation using confusion matrix (aka calibration matrix)"
**Is your feature request related to a use case or problem? Please describe.**
Measurement error is one of the major sources of error when running circuits on the device. A common technique to compensate for the measurement error is to first compute a confusion matrix (aka calibration matrix) by running `2 ** n` circuits to prepare all basis. Measurement outcomes from the i'th circuit becomes the

[2022-01-05 16:20] #4729 closed

[2022-01-05 19:12] tanujkhattar commented on #2254
@Strilanc Please let us know if any use case is not captured by the new primitives. We'll prefer to close this otherwise.

[2022-01-05 19:16] crazy4pi314 commented on #4800
Folks on the Mitiq project are also working on implementing measurement error mitigation: https://github.com/unitaryfund/mitiq/issues/815 that might be a helpful example

[2022-01-05 19:19] daxfohl commented on #4782
In light of https://github.com/quantumlib/Cirq/issues/3190 (if I'm understanding correctly), would another option be to rewrite `XPowGate` as a `PlusGate`, with optional `dimension` and `increment` arguments?

Assuming my understanding of the issue is correct, this approach would match what we do with `IdentityGate`, where `cirq.I` is a single-qubit gate by default, but you can initialize `cirq.Id

[2022-01-05 19:20] tanujkhattar commented on #4800
We should add this to `cirq/experiments`. Look at potential collaboration opportunities with Unitary Fund.

[2022-01-05 19:24] tanujkhattar commented on #4639
Discussion from sync:

@viathor Can you please take a look at this?

[2022-01-05 22:53] tanujkhattar opened #4804 "`cirq.plot_density_matrix` outputs buggy plots (abstract art) and doesn't scale with number of qubits."
**Description of the issue**
`cirq.plot_density_matrix` is buggy and output's random plots (tested in a colab) and would also doesn't scale well with number of qubits.

My guess is that this due to the magic numbers hardcoded in the code, which should be changed and computed on the fly based on the size of the density matrix.

https://github.com/quantumlib/Cirq/blob/09a4667e3d1768fc2f1934b18ae52e5

[2022-01-06 00:12] dabacon commented on #4804
It does look like some sort of abstract art, though :)

[2022-01-06 00:29] tanujkhattar commented on #4804
@dabacon Updated the title to better reflect what's happening :P

[2022-01-06 08:21] AnimeshSinha1309 commented on #4804
I have no idea how all the multiply operations were written as divide, I had made the mistake but I remember that things were working last I checked. Anyways, fixed this, please lemme know if stuff is working now. Not sure if adding a test here would help, maybe I can add that radius of any circle should not be more than 1 and same with with length of any line.

[2022-01-06 08:37] MichaelBroughton commented on #4726
I wasn't able to find any docs for how this was setup. I'm like 40% sure I can't access the Cirq Github Zenodo entry here when I log in on the website. https://zenodo.org/record/5182845#.YdapfnXMKUk It appears to be linked to the quantumlib organization via webhooks (although I can't seem to get history on them for some reason), @balopat would you be able to give a little more information on how t

[2022-01-07 21:33] #4804 closed

[2022-01-08 01:22] Strilanc opened #4814 "PauliMeasurementGate ignores the sign of the observable given to it"
The following code should success but it fails:

[code]

The issue is that the line `self._observable = tuple(observable)` in the __init__ method is ignoring the coefficient. The coefficient has to be +1 or -1 to be valid.

This is a very bad bug if you are e.g. multiplying overlapping observables together to get composite measurements, as the result of doing so can be negative. For example XX * Z

[2022-01-08 01:26] vtomole opened #4815 "`cirq.MergeInteractions` not canceling out single qubit gates for a circuit with two `cirq.CZ` layers"
**How to reproduce the issue**

[code]

[code]

`S` and `S^-1` should cancel out; leading to an empty circuit.

[2022-01-08 02:30] pavoljuhas commented on #4787
Fixed by https://github.com/quantumlib/Cirq/pull/4788.

[2022-01-08 02:30] #4787 closed

[2022-01-09 07:08] daxfohl opened #4817 "Substates are separated after measurements, when measurements are ignored"
**Description of the issue**

Density matrix separates qubit states after measurement when split_untanged_states=True. However when ignore_measurement_results=True, this should not happen, as the this changes the measurement into a dephase and does not make the state separable.

For instance, when measuring a Bell state, the resulting DM should be 0.5 |00> + 0.5 |11>. However, separating those sta

[2022-01-09 18:30] daxfohl opened #4818 "Deferred Measurement Transformer"
**Is your feature request related to a use case or problem? Please describe.**

Create a transformer that implements the [Deferred Measurement Principle](https://en.wikipedia.org/wiki/Deferred_Measurement_Principle)

**Describe the solution you'd like**

The transformer would create qubits that correspond to every non-terminal measurement in the circuit (call them q_mkey for this discussion). The

[2022-01-09 21:20] tanujkhattar commented on #4814
#### Similar bugs at other places due to constructor accepting `Iterable[Pauli]` and ignoring the sign.
Another bug due to a similar issue, where the constructor expects iterable of a pauli and hence the sign gets ignored.

[code]

Similarly, passing a dense pauli string to itself also resets the coefficient. i.e.

[code]

#### Solution for this bug:
My proposal to fix this bug would be:
- Expect

[2022-01-10 09:02] alvinquantum opened #4819 "Fidelity calculation for density matrices improvement"
https://github.com/quantumlib/Cirq/blob/782c14e0cc821794d21e82f30df8e6998f4b9992/cirq-core/cirq/qis/measures.py#L239-L242

The current implementation uses the direct definition of fidelity, which works well for small dimensions. From my experience, I was getting values significantly greater than 1. For the fidelity between rho1 and rho2, I found that squaring the sum of the singular values of the

[2022-01-10 16:05] #4461 closed

[2022-01-10 22:06] tanujkhattar commented on #4819
This looks like a reasonable request to me.

@viathor What do you think?

For completeness, the modified formula can be derived as follows:
- `F(rho1, rho2) = tr(|rho1_sqrt @ rho2_sqrt|) ** 2`, where `|A| = sqrt(A.T @ A)`
    - Ref: https://en.wikipedia.org/wiki/Fidelity_of_quantum_states
- `tr(|A|) = scipy.linalg.svdvals(A).sum()`
    - Ref: https://math.stackexchange.com/questions/1840742/a-conf

[2022-01-10 22:40] Ashalynd commented on #4766
`self.group_interchangeable_qubits` appears to be a potentially costly operation, because it iterates over all the qubits every time when it's called. Should it not instead be re-evaluated only when the qubits have changed between the calls?

[2022-01-10 23:21] viathor commented on #4819
I agree the request is reasonable.

Ideally, the PR implementing this would include a unit test demonstrating improved numerical stability. It should fail for the current implementation and succeed for the new one. @alvinquantum, any of the cases you encountered where fidelity exceeded 1 in cirq and stayed <=1 in your code can easily become such a unit test. Also, it'd be nice to have some evaluat

[2022-01-11 08:35] #4817 closed

[2022-01-11 18:09] Zshan0 opened #4822 "Re-structuring of `kraus` protocol along with of serial concatenation"
**Summarize the task**
Changing the structure of `kraus` and `has_kraus` to invoke protocols such as `mixture` or `unitary` rather than using `getattr`. If no protocol or attribute can be used directly be used to create the kraus representation, the protocol should recursively decompose and serially concatenate the kraus operators.

**Acceptance criteria - when is the task considered done?**
The a

[2022-01-11 21:14] Cynocracy commented on #4769
Had a chance to take tfq nightly for a spin, hit that we needed to implement https://quantumai.google/reference/python/cirq/work/Sampler and am taking a stab at it ;)

[2022-01-11 21:28] Cynocracy commented on #4769
And with that, it all seems to be working well!

Thanks for the help folks :)

[2022-01-11 21:28] #4769 closed

[2022-01-11 22:13] alvinquantum commented on #4819
I think this is a working example. Here cirq.fidelity gives around 1.09 while get_fidelity gives 1 with a 10^-5 tolerance. The get_fidelity can also be improved since it tends to give values greater than 1, but from my experience those values have been greater by around 10^-5.

[code]

[2022-01-12 02:36] daxfohl opened #4825 "Move state conversion logic from _create_partial_act_on_args to the corresponding ActOnArgs"
Currently all the logic for converting a zero to, say, a state vector resides in `SparseSimulator._create_partial_act_on_args`. The `ActOnStateVectorArgs` requires a full state vector to be passed in. This makes working with ActOnArgs inconvenient. You either have to have a Simulator around to create one, or call the function that creates a state vector from a basis state and pass it in, or whatev

[2022-01-12 02:54] daxfohl commented on #4400
Once #4705 and #4702 are merged, we can actually go in the opposite direction. We require all `Operation`s either expose a `gate`, or use `_act_on_` to implement their own simulation logic, and pass the `gate` into act_on_fallback. This feels clean to me: we should have two types of operations:
* Operations that have a gate that performs its logic (if it's a quantum op)
* Operations that implement

[2022-01-12 05:11] viathor commented on #4819
Thanks, @alvinquantum! This is helpful.

Note: this is good basis for a unit test, but should use cirq gates rather than converting from qasm (because ideally the unit test shouldn't be sensitive to bugs in our qasm converter!).

[2022-01-12 10:57] PatrickSteinmueller opened #4826 "cirq-rigetti python requirements incompatible with tensorflow"
**Description of the issue**

We currently use tensorflow and tensorflow quantum in our project. Tensorflow uses cirq as backend to simulate the quantum computer. We want to use cirq-rigetti for accessing rigetti devices. However, this is not compatible with tensorflow.

Tensorflow forces numpy 1.19.5, while cirq-rigetti forces the use of pyquil3.0.0 for python >=3.7 which forces numpy>=1.20 (and

[2022-01-12 16:19] daxfohl opened #4827 "Separate out the quantum part of ActOnArgs into own class"
**Describe your design idea/issue**

Right now, the ActOnArgs hierarchy design is such that ActOnArgs (the base class) contains all the shared stuff like measurement logs, qid shape, etc., and the subclasses contain their quantum representations. This works, but I've always felt it was a little clunky.

A result of this approach is that `ActOnArgs.kron()`, etc., do the kronning of the qid shape, a

[2022-01-12 16:26] daxfohl commented on #4827
On second thought, one consideration that goes against this, is I don't think we'd be able to move an `apply_op` or `apply_gate` to these quantum states, because of the need for recording measurements (including channel "measurements"). So the quantum state classes would only contain the combinator functions, which limits their usefulness. And if we're not putting the code for applying gates into

[2022-01-12 17:46] daxfohl opened #4828 "Separable CH-form"
**Is your feature request related to a use case or problem? Please describe.**

State vector and density matrix both can run separable states independently, allowing for exponential speedup when the state is not fully entangled. This can be done in CH-form as well, though it would be linear speedup.

**Describe the solution you'd like**

CH-form is represented with a couple of n\*n matrices, some

[2022-01-12 18:10] daxfohl opened #4829 "Mux simulator"
**Is your feature request related to a use case or problem? Please describe.**

The functions within `mux` module inspects the circuit and choose the appropriate simulator to use. This is usually fine, but it may happen that the circuit is clifford or unitary until almost the very end, when some noise is injected. Things like this are unusual, but may occur if we implement noisy measurements or si

[2022-01-12 18:47] pavoljuhas commented on #4722
Picking up expand_composite.py.  Please let me know if someone already works on it.

[2022-01-12 19:50] MichaelBroughton commented on #4815
cc: @tanujkhattar to xref with new Transformers implementation.

[2022-01-12 20:00] daxfohl commented on #4818
If we do this via transformer, I think we can later deprecate the `ignore_measurements` flag in DensityMatrix simulator. AFAICT that flag was there to do something like this, but didn't get fully fleshed out. If someone knows of other use case then post here.

[2022-01-12 20:04] vtomole commented on #4818
Discussion from Cirq sync: Let's look into how the [Deferred Measurement Principle](https://en.wikipedia.org/wiki/Deferred_Measurement_Principle) can help us.

[2022-01-12 20:13] tanujkhattar commented on #4815
You can achieve your desired behavior via
[code]

[2022-01-12 20:13] #4815 closed

[2022-01-12 20:15] daxfohl opened #4830 "Can we deprecate StateVectorStepResult.set_state()?"
**Is your design idea/issue related to a use case or problem? Please describe.**

`StateVectorStepResult.set_state()` and `DensityMatrixStepResult.set_state()` allow replacing the running simulation state with a new one. This ends up requiring a fair amount of code overhead to maintain. But I'm not sure this if this is a useful function, as it seems a user could just start a new simulation on the

[2022-01-12 20:19] daxfohl commented on #4825
@viathor this is more "area/simulator" than the other two labels.

[2022-01-12 20:21] vtomole commented on #4815
@tanujkhattar Thanks! Do we want to keep this open for your transformer work or should we open a new issue? Maybe you already have a note of this so we don't need an issue about it.

[2022-01-12 20:56] tanujkhattar opened #4831 "Should analytical decompositions return an empty list when decomposing identity operation?"
We have many analytical decompositions in https://github.com/quantumlib/Cirq/tree/master/cirq-core/cirq/transformers/analytical_decompositions which are used to decompose a given unitary matrix / operation into a specific target gateset (eg: cz/fsim/sqrt_iswap etc.). The behavior of these decompositions when trying to decompose an identity operation currently differs across implementations -- some

[2022-01-12 20:56] tanujkhattar commented on #4815
Opened https://github.com/quantumlib/Cirq/issues/4831 to track the specific issue and drive a broader discussion on differences in the decomposer APIs.

[2022-01-12 21:03] vtomole commented on #4815
:+1:

[2022-01-13 20:02] viathor opened #4833 "Cannot serialize identity gate on Quantum Engine"
**Description of the issue**

Cannot serialize identity gate when using SQRT_ISWAP_GATESET.

**How to reproduce the issue**

[code]

**Cirq version**

[code]

[2022-01-13 21:42] tanujkhattar commented on #4833
If we decide to add serialization for Identity, it should also be added to the new `CircuitSerializer`.

https://github.com/quantumlib/Cirq/blob/89f88b01d69222d3f1ec14d649b7b3a85ed9211f/cirq-google/cirq_google/serialization/circuit_serializer.py#L120

[2022-01-13 23:08] tanujkhattar opened #4834 "`_value_equality_approx_eq` does not handle `_value_equality_values_cls_` for class type comparison correctly."
**Description of the issue**
The `if not isinstance(other, cls_self)` check below enforces that the `other` should be an instance of the same class type, which essentially leads to ignoring `_value_equality_values_cls_` and returns `NotImplemented`.

https://github.com/quantumlib/Cirq/blob/89f88b01d69222d3f1ec14d649b7b3a85ed9211f/cirq-core/cirq/value/value_equality_attr.py#L92-L102

**How to repro

[2022-01-13 23:14] tanujkhattar opened #4835 "Operations on `MutableDensePauliString` return a `DensePauliString`"
**Description of the issue**
Doing operations like `__pow__`, `__mul__`, `__rmul__`, `__abs__`, `tensor_product` etc. on a `MutableDensePauliString` return a `DensePauliString` because these methods are inherited from `BaseDensePauliString` which returns `DensePauliString(...)` instead of `type(self)(...)` in these methods.

https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/ops/dense_p

[2022-01-13 23:36] tanujkhattar opened #4837 "Make `BaseDensePauliString` an Iterable class"
**Description of the issue**
`BaseDensePauliString` already defines a `__getitem__` method which works for ints, and hence is already implicitly an iterable. However, mypy doesn't recognize it as an Iterable unless an explicit `__iter__` method is defined.

[code]

We can easily define the `__iter__` method as:

[code]

However, this currently breaks a test due to an unfortunate combination of two

[2022-01-13 23:51] tanujkhattar commented on #942
Measuring a single observable using a `PauliMeasurementGate` has been done as part of #4444
Measuring multiple observables using sweeps of parameters has been done as part of #4127

Closing this issue now.

[2022-01-13 23:51] #942 closed

[2022-01-14 00:07] tanujkhattar commented on #4338
As discussed in
https://tinyurl.com/cirq-organize-decompose-rfc#heading=h.jaeoqsjs6i9x, `CircuitOperations` should not be used to replace composite gates.

The drawbacks of each of the two possible ways for using circuit operations to replace composite gates are as follows:
#### Way-1: Factory method returning circuit op for composite gates.
Bad because it’s hard to determine whether a given circu

[2022-01-14 00:07] #4338 closed

[2022-01-14 01:47] #4814 closed

[2022-01-14 18:17] daxfohl opened #4841 "Move noise model application to transformers"
**Describe your design idea/issue**

Should noise model application be moved to a transformer rather than done by the simulator? In the spirit of keeping simulators simple. While we have a central point of noise application in cirq that all simulators inherit, it's still only usable by Python simulators and requires duplication of all that logic in qsim. It seems more flexible to do this applicati

[2022-01-14 23:19] #4779 closed

[2022-01-17 01:27] Ashalynd commented on #4766
I can take this if there are no objections.

[2022-01-17 04:13] daxfohl commented on #4512
@NoureldinYosri still working on this? It'll be required for deferred measurements #4818. Or, at least some way of defining the condition "at least one qubit is not zero".

[2022-01-17 04:25] daxfohl commented on #4512
I think all I'd really need here is just another parameter `control_values_exact`, where you can pass in e.g. `control_values_exact=[(0, 0), (1, 1)]` to construct the condition in the issue description. Is this possible? If this is possible, I think I'd prefer it. That way we can decouple the operation from the class that generates the exact list, freeing up the ability to create whatever kinds of

[2022-01-17 04:44] daxfohl commented on #4818
Blocked by  #4512, as we need some way of defining the condition "at least one qubit is not zero" to match the classical interpretation of a multi-qubit measurement.

[2022-01-17 08:34] NoureldinYosri commented on #4512
@daxfohl my GH-4714  has been pending review for sometime

in the PR I create a ControlValues class which supports the operations needed, the contructor for it can support both the _exact way for defining the allowed values as well as the old way, this way adding support for more ways to define control values would be as simple as creating a child class that reads the new form of input (e.g. list

[2022-01-17 21:57] daxfohl opened #4851 "Remove public fields from gates"
We still have a number of gates and operations that have public fields. These should be private, with public getters if necessary. (And those getters should not return mutable references unless it's something performance critical.) Otherwise this breaks the contracts of FrozenCircuit etc.

Ideally upon fixing this we should create a unit test that checks this to some extent for all gates in Cirq.

[2022-01-17 23:21] tanujkhattar commented on #4348
I also stumbled upon the need for this when working on #4800 -- +1 to prioritizing this issue.

Some more thoughts on the issue:
1. @mpharrigan's suggestion above for adding an `AsymmetricBitFlipChannel` should work for the simple use case of adding uncorrelated/local readout noise to each qubit -- the assumption here is that we are not doing any operations after measurement, because in that case

[2022-01-18 00:22] daxfohl commented on #4348
Not really an answer but note we also have PauliMeasurementGate. (And maybe should there also be a NoisyPauliMeasurementGate?) So given the Rule of Three, perhaps it's worthwhile to invest in an abstraction.

I think measurement isn't in a great place ATM, given the number of isinstance checks that we'd have to update, and that the is_measurement protocol also matches subcircuits, which is sometim

[2022-01-18 05:56] Strilanc opened #4852 "Replace automerge bot with github's built-in automerge"
Github now has native automerge functionality: https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request

We should turn this on for the cirq repo, check that it works the way we want, and then turn off cirq bot.

[2022-01-18 08:47] #2757 closed

[2022-01-18 18:07] daxfohl commented on #4818
This also ends up being fairly difficult to do "right". I have a basic implementation at #4849. That one does the job for basic circuits (except the part where #4512 is required, but that'll be just one line of code), however there are two key things missing.

1. Subcircuits: While not specifically required, it would be nice to preserve subcircuit structure. The linked PR gets around this by flatt

[2022-01-19 04:14] MichaelBroughton opened #4856 "[cirq-google] Proposal: Remove XmonDevice, Bristlecone, Foxtail and rename optimize_for_xmon."
We haven't been using XmonDevices for a while now. We don't have any on engine either. We should probably take this opportunity to cut out XmonDevice and the two subclasses Bristlecone and Foxtail. optimized_for_xmon could also be renamed in the transfer as a part of #4722 to more accurately reflect what use cases it might have now. They are kind of cluttering up the devices story in `cirq-google`

[2022-01-19 05:07] MichaelBroughton commented on #4852
Just tried it. Automerge works, but it won't see auto update the branch for you, so it's still up to the PR creator to do that. Has anyone found any way to do this ? Otherwise I'd be inclined to stick with the Cirq Bot.

[2022-01-19 17:30] #4639 closed

[2022-01-19 18:07] 95-martin-orion commented on #4348
@tanujkhattar's option (5) appeals the most to me. `invert_mask` is a subset of the requested behavior; we just need to generalize that behavior to include confusion matrices. A separate `NoisyMeasurementGate` feels unnecessary.

My primary concern in this process is how qsim will interact with the result. qsim classical-state handling is entirely separate from Cirq's `log_of_measurement_results`,

[2022-01-19 18:32] daxfohl commented on #4818
RE (1) above, I got this to work here, https://github.com/quantumlib/Cirq/pull/4849/commits/d69684a4c2b69fa32dd0c613e5fbf8dafa073a89, but on second thought I'm reluctant to make an invasive change (it's not *that* invasive, but still) for a niche feature. I think it's better to keep things self-contained until someone specifically asks for this to preserve subcircuit structure.

For (2), I think i

[2022-01-19 18:39] Ashalynd commented on #4362
What is the status of the next task (write generic optimizer based on GateTabulation)? @tanujkhattar
I have more cycles now , can work on that if it's still in scope.

[2022-01-19 18:47] tanujkhattar commented on #4766
@Ashalynd Go for it!

[2022-01-19 18:53] tanujkhattar opened #4857 "`cirq.plot_decompose(op_tree)` to plot the decompose relationships b/w operations"
As part of https://tinyurl.com/cirq-organize-decompose-rfc, we want to have a `cirq.plot_decompose(op_tree)` method which can take in an op-tree and plot the decomposition graph built by recursively calling `cirq.deocmpose_once()` to each operation till they cannot decompose anymore.

Some things to consider:
- Control by a flag whether the decomposition graph should contain individual operations

[2022-01-19 19:19] tanujkhattar opened #4858 "Make sure all cirq gates decompose to XPow/YPow/ZPow/CZPow + Measurement"
As part of https://tinyurl.com/cirq-organize-decompose-rfc, we want to make sure that all cirq gates decompose to the XPow/YPow/ZPow/CZPow + Measuremet gateset.

This issue is to track all the gates where we need to explicitly add a `_decompose_` method to make sure all decompositions end on the above target gateset.
We should also discuss what happens for gates where trivial decomposition is not

[2022-01-19 19:26] viathor commented on #4834
+1 we want equality and approximate equality to be consistent

[2022-01-19 19:28] tanujkhattar commented on #4835
From cirq sync:  +1, should be done.

[2022-01-19 19:29] tanujkhattar commented on #4837
From cirq sync: +1, should be done.

[2022-01-19 19:43] tanujkhattar commented on #4831
Let's discuss the different operations.
- We should return `cirq.I` or `[]` .
- Let's fix the API and make things more consistent.

[2022-01-19 19:47] tanujkhattar commented on #4348
From cirq sync:

Let's proceed with option-5 proposed above to modify MeasurementGate.

[2022-01-19 21:27] tom-genmat opened #4859 "cirq-rigetti service.run supporting programs"
**Is your feature request related to a use case or problem? Please describe.**
would like to run tfq programs with rigetti-cirq on rigetti devices.

**Describe the solution you'd like**
would like to be able to wrap a program not just a circuit in the service.run function

**[optional] Describe alternatives/workarounds you've considered**
rewrite entire codebase in pyquil + pennylane

**[optional]

[2022-01-20 00:14] #4834 closed

[2022-01-20 01:38] #4837 closed

[2022-01-20 02:19] MichaelBroughton opened #4863 "Add module import linter in codebase"
**Is your feature request related to a use case or problem? Please describe.**
Right now a lot of modules (in particular tests) are pretty free form with how they do imports. It's a good practice to import modules wherever possible.

bad:
[code]
good:
[code]

**Describe the solution you'd like**
We should add a new plugin to pylint (or install an existing one) that catches non module imports where

[2022-01-20 15:35] vtomole commented on #4858
How would this work? Is it possible to decompose any arbitrary `MatrixGate` into a target gateset?

[2022-01-20 16:43] tanujkhattar commented on #4858
@vtomole Yes. We have utilities in Cirq to decompose any arbitrary 2q Matrix Gate into the CZ gateset (see See https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz.py) and there's an open issue https://github.com/quantumlib/Cirq/issues/4022 to add compilation of any arbitrary unitary to 1/2q gates

[2022-01-20 19:24] maffoo commented on #4863
+1 to cleaning up `import ... ` vs `from ... import ...` styles.

I'd add that having the formatting script also sort imports would be helpful (alphabetizing, grouping and ordering stdlib vs 3rd party vs cirq imports, etc). We have had good luck using [isort](https://github.com/PyCQA/isort) internally.

[2022-01-21 03:12] wcourtney commented on #4856
Related: I also filed a bug about the docs for these at b/180955395.

[2022-01-21 03:56] #4856 closed

[2022-01-21 05:47] MichaelBroughton commented on #4743
cc @verult

[2022-01-21 22:15] tanujkhattar opened #4870 "`ClassicallyControlledOperation` breaks assumption that disjoint operations commute."
### Description of the issue
`ClassicallyControlledOperation` was recently introduced to enable classical controls in Cirq. The method takes as input a `sub_operation` and a list of `conditions`, which correspond to measurement keys of previous measurements.

https://github.com/quantumlib/Cirq/blob/6119620178d7d1d0f11c5f2b73998fb2b66fcd2d/cirq-core/cirq/ops/classically_controlled_operation.py#L49-

[2022-01-21 22:24] tanujkhattar commented on #4870
Marking this as high priority as this has potential to impact the design of either transformers or classically controlled operations.

My main question is: Can we make `ClassicallyControlledOperation` act on `sub_operation.qubits` + qubits corresponding to previous measurements?

If not, we need to find another way to capture this implicit dependency for transformers.

[2022-01-21 23:00] daxfohl commented on #4870
We already have logic in circuit.append to ensure that when you append a control, it does not fall back beyond the measurement that creates the key. https://github.com/quantumlib/Cirq/blob/39ce4f0e7c79479913491f9b434461c9397eb677/cirq-core/cirq/circuits/circuit.py#L1967

I don't think it would be good for usability if we require users to state which qubits correspond to the measurement key when in

[2022-01-21 23:47] #4800 closed

[2022-01-22 00:02] 95-martin-orion commented on #4870
I think Dax has the right idea - this will require some deeper awareness of measure/control keys in optimizers (possibly handled by a new protocol?) but it shouldn't affect anything which doesn't make use of CCOps.

[2022-01-22 00:44] tanujkhattar commented on #4870
Note that CCO is currently also broken with the `commutes` protocol, which is even worse and should be fixed (we can probably fix this by overriding the `__commutes__` protocol.).

In the code snippet above,
[code]

[2022-01-22 01:02] tanujkhattar commented on #4870
Also, just to reiterate my concerns, I think the problem is that the mentality of assuming operations commute if they don't share qubits is very deeply ingrained in Cirq code (and I assume also in Cirq users). This would be a sudden and unexpected change in that mentality, and I'd very much life if we can somehow reduce to impact.

Another example which breaks:
[code]

[2022-01-22 01:15] tanujkhattar commented on #4870
Though I agree that including control qubits in the CCO operation is also not a good idea because it can then lead to other bigger issues.  For example, it introduces an additional barrier which takes away flexibility of moving the controlled operation around. So, in the following circuit it wouldn't be possible to put `H` and CCO `X` in the same moment because they'd have overlapping qubits if we

[2022-01-22 01:30] tanujkhattar commented on #4870
This also inspires an explicit `CircuitDAG` representation where it's easier to add such indirect dependencies between the nodes of the DAG.

[2022-01-22 01:35] daxfohl commented on #4870
There's a protocol `measurement_keys_touched` that could be used the same way as qubits for `commutes`; we just return False if two ops touch the same measurement keys. It's slightly suboptimal because controlled ops that check the same measurement key *should* be able to commute--they should should be able to commute with the corresponding measurement gate. But as a simple stopgap it should work.

[2022-01-22 18:20] daxfohl commented on #4870
The fix was pretty straightforward. I added a note that if we ever allow repeated measurements then those functions will need to account for that as well (maybe it's better to just go ahead and add that now). Timely enough, I just added some caching for the control keys of CircuitOperation in #4855, so this is a perfect use case!

Plausibly we could extract the condition into a shared function som

[2022-01-22 18:27] daxfohl commented on #4870
Seems to be an issue with CI, something unrelated in Pandas is broken for that PR but the test passes locally.

[2022-01-22 21:10] daxfohl commented on #4858
I also think we should have `MeasurementGate` with `invert_mask` decompose into a series of pre- and post-measurement `X`s that represent the invert mask (and the subsequent uninversion), so that "measurement" can be a uniquely defined thing.

[2022-01-23 17:22] Zshan0 opened #4876 "Re-structuring of `mixture` protocol along with serial concatenation"
**Summarize the task**
Re-structuring the `mixture` and `has_mixture` protocol by calling lower-level protocols such as `unitary` rather than accessing the corresponding attributes. If there exists no direct way of constructing the mixture, then the protocol must try decomposing the operation and apply serial concatenation.

**Acceptance criteria - when is the task considered done?**
The above cri

[2022-01-23 17:22] Zshan0 commented on #4876
I’m already working on this, some overview:

- Serial concatenation will use `superoperator` as intermediate. Since there is no direct way of interconversion, `kraus` will also be another intermediate between them.
- The mixture can be obtained back from `kraus` using eigendecomposition.

[2022-01-23 18:02] daxfohl commented on #2862
@Strilanc @vtomole instead of this would it make sense to add an optional argument to ApplyUnitaryArgs to specify the subspaces to operate on?

[2022-01-23 20:53] tonybruguier commented on #4833
I might be interested, but I can certainly yield on this one.

[2022-01-24 12:44] tanujkhattar opened #4879 "Fix `@cirq.transformer` decorator to work with default value of context, if provided."
**Summarize the task**
If default values are provided for any of the position arguments -- `circuit` or `context`, the `@cirq.transformer` decorator currently ignores them and the returned decorated method expects both arguments to be explicitly passed to the method.

This should be fixed so that the following works:

**Acceptance criteria - when is the task considered done?**

[code]

Related iss

[2022-01-24 12:51] tanujkhattar opened #4880 "Fix `__commutes__` for `ClassicallyControlledOperation`"
**Description of the issue**
As discussed in https://github.com/quantumlib/Cirq/issues/4870, `__commutes__` for `CCO` is currently broken and should be fixed.

Opening a separate issue to track this smaller change.

**How to reproduce the issue**

[code]

**Cirq version**
0.14.0.dev

[2022-01-24 15:15] tanujkhattar opened #4882 "Fix `circuit.append()` to use `protocols.commute` to verify if two operations can be "crossed" or not."
**Description of the issue**
Since #4870 breaks the assumption that two operations acting on disjoint qubits always commute, `circuit.append()` should use `protocols.commute` to find the leftmost moment in which an operation can be inserted.

As part of the work done for `CCO`, this was implemented by adding a special case of checking whether the current operation is a CCO and if yes, whether the

[2022-01-24 15:22] tanujkhattar opened #4883 "Add construction examples to docstrings of `ClassicallyControlledOperation`"
**Description of the issue**
The docs should give a couple of concrete examples of construction, since `conditions` is not immediately clear on seeing `operation.with_classical_controls(*conditions)`

https://github.com/quantumlib/Cirq/blob/90679d27e0967c0a7fe59848e789a5d6ba49b66d/cirq-core/cirq/ops/classically_controlled_operation.py#L37-L48

**Cirq version**
0.14.0.dev

[2022-01-24 15:36] daxfohl opened #4884 "Allow use of measurements as param resolvers"
**Is your feature request related to a use case or problem? Please describe.**

This would be an extension of feedforward, so in addition to just classically controlling an operation, it should also be possible to resolve an operation's parameters based on measurements.

**Describe the solution you'd like**

This would require going through the [previous RFC](https://tinyurl.com/cirq-feedforward )

[2022-01-24 15:56] daxfohl commented on #4274
I think I'd like to give this a shot. I think we can do it in a way that's still compatible with the existing measurement key paths.

1. Expand ClassicalDataStore with the extra dimension
2. Remove the exception if a measurement is repeated and just toss it into the extra dimension (option: require an 'measure(q, key=k, append=True)' flag to allow this.
3. Ensure the generated `log_of_measurement_

[2022-01-24 16:02] daxfohl opened #4885 "Local measurements"
**Is your feature request related to a use case or problem? Please describe.**

It is possible that subcircuits will contain measurements only intended for use locally to enable classical control logic. It would be nice to be able to make these measurements "local", such that they don't pollute the user's result data or cause naming conflicts unnecessarily.

**Describe the solution you'd like**

P

[2022-01-24 16:09] daxfohl opened #4886 ""Else" branches within classical controls"
**Is your feature request related to a use case or problem? Please describe.**

Currently a ClassicallyControlledOperation does not allow hosting of anything that includes a measurement. The primary reason is that we want to know what measurements are in scope. However it's limiting.

Additionally, if/else is just a pretty common construct that we may as well support.

**Describe the solution you'

[2022-01-24 17:07] quosta opened #4887 "Fix import cirq"
**Description of the issue**

Using Python 3.10, and the most updated cirq on pip (0.13.1) fails to import properly

**How to reproduce the issue**
[code]
I can import correctly with:
[code]

[2022-01-24 17:11] vtomole commented on #4887
Hey @quosta, this was fixed in https://github.com/quantumlib/Cirq/issues/4637. You can get the fix my installing the [nightly version of Cirq](https://pypi.org/project/cirq/0.14.0.dev20220123212110/). I will close this issue; but please ask questions if you have them.

[2022-01-24 17:11] #4887 closed

[2022-01-24 17:32] daxfohl opened #4888 "measurement_key_shape protocol"
**Is your feature request related to a use case or problem? Please describe.**

Currently there are protocols for getting the set of measurement keys (and one for control keys). For subcircuits with lots of repetitions, this could produce large sets. This could get unwieldy when testing commutation and other things.

**Describe the solution you'd like**

It would be nice to have a protocol that ju

[2022-01-24 18:54] maffoo commented on #4879
I'd think we want the `circuit` arg to be required, and I think we should probably treat it like a [positional-only argument](https://www.python.org/dev/peps/pep-0570/) (although language support for that in function signatures is only available in python 3.8+). For the `context` parameter, on the other hand, is there ever a reason why you would _not_ want to allow a default parameter? I think hav

[2022-01-24 19:00] tanujkhattar commented on #4879
One problem with making `TransformerContext()` a universal default in the decorator is that custom defaults will get over-written by the universal default defined in the decorator. i.e.

[code]

This can be a surprising behavior for users. The fix for this would probably also work for the optional default use case.

[2022-01-24 20:24] maffoo commented on #4879
We can modify the decorator to inspect the signature of the decorated function and copy the default, if any. Something like:
[code]

[2022-01-24 20:51] tanujkhattar commented on #4879
I don't think we automatically assign a default `TransformerContext()` in decorator if it's not explicitly specified in the function definition. The reason is that in the decorator signature, we promise to preserve the input type. But, if we implicitly add a default value to context, the input type would not be preserved.

For example:
[code]

[2022-01-25 00:32] alexandrebouayad commented on #4835
Hi, I've opened a PR (#4892). I tried to fix the issue. I also added some typing. I had to modify some tests.

One noticeable induced change that may need to be validated by the reviewer: one cannot multiply a `MutableDensePauliString` object with a `DensePauliString` object anymore (and vise versa).

[2022-01-25 04:42] #4758 closed

[2022-01-25 06:29] Strilanc commented on #4274
This would definitely make interop between stim and cirq a lot easier.

[2022-01-25 15:13] AlessioC31 commented on #2216
Hi, I saw that this issue is still open and I would like to give it a try.
Please note that I'm kinda new to the quantum world so it may take a while.

[2022-01-25 15:32] sebgrijalva commented on #2216
Fine for me! Unfortunately i got caught up with work ever since.

[2022-01-25 16:00] perlinm opened #4894 "Documentation for `cirq.Circuit.prev_moment_operating_on` is incorrect"
**Description of the issue**

The docstring summaries for [`cirq.Circuit.next_moment_operating_on`](https://github.com/quantumlib/Cirq/blob/v0.13.1/cirq-core/cirq/circuits/circuit.py#L269-L272) and [`cirq.Circuit.prev_moment_operating_on` ](https://github.com/quantumlib/Cirq/blob/v0.13.1/cirq-core/cirq/circuits/circuit.py#L321-L327) are identical: both say "Finds the index of the **next** moment t

[2022-01-25 16:47] vtomole commented on #4894
Closed by https://github.com/quantumlib/Cirq/pull/4895.

[2022-01-25 16:47] #4894 closed

[2022-01-25 23:47] MichaelBroughton opened #4897 "Identify root cause of `notebook==6.4.8` + `coverage==6.3` causing hang in CI and upgrade if needed."
**Description of the issue**
`notebook==6.4.8` + `coverage==6.2` causes CI to hang. Right now we are pinned to 6.4.7 and 6.2, with no root cause known. It would be good to investigate this issue further and unpin if possible.

**Cirq version**
[code]

[2022-01-26 05:28] daxfohl commented on #3266
Requires #4888 or #4274

[2022-01-26 06:57] #4786 closed

[2022-01-26 18:49] daxfohl commented on #4829
It turns out that the noisy measurement is purely classical noise, so doesn't need a density matrix here. Thus this issue is no more important than the first time I brought it up. (With the slight caveat that the deferred measurements transformer might end up translating that classical noise to quantum noise ... but in that case, the measurements are as likely to be near the end of the circuit any

[2022-01-26 19:15] tanujkhattar commented on #4830
From cirq sync:

Looks like an artefact of old times and should be deprecated. Let's ask around and see if anyone is still using this.

cc @Strilanc @mpharrigan

[2022-01-26 19:23] 95-martin-orion commented on #4882
Cirq sync: we support the general idea here (ensure `append` works in both directions), but we need to be careful about using `protocols.commute` for it. For example, appending `X(q1)` after `CX(q0, q1)` should keep the X after the CX, even though the two commute.

[2022-01-26 19:37] tanujkhattar commented on #4796
From cirq sync:

This is testing that really large circuits are invalidated. We should make the test deterministic to fix this. The test needs to be there.

[2022-01-26 19:42] tanujkhattar commented on #4888
From cirq sync:

Closely tied to reusable measurement keys concept. Will probably get addressed while implementing  reusable measurement keys

cc @95-martin-orion

[2022-01-26 19:46] tanujkhattar commented on #4884
Good feature to have, but P3 is the right priority. Would probably not happen before Cirq 1.0

[2022-01-26 19:48] dstrain115 commented on #4833
I don't think this gate should be serialized, as it has no effect by design in the hardware (and this serialization is only for Google hardware).

I would support cirq.I gates being stripped by default from serialization.

[2022-01-26 19:52] tanujkhattar commented on #4851
From cirq sync:

We should do it. Let's do a deprecation by creating a setter and mark it deprecated.

[2022-01-26 20:12] daxfohl commented on #4841
@95-martin-orion Do you have any opinion here? We can close this without triage if you think noise should stay in the simulators.

[2022-01-26 20:20] dstrain115 commented on #4833
Confirmed with @viathor that we should just strip these gates out when serializing.  Let's do this in CircuitSerializer too.  @verult

[2022-01-26 21:04] mpharrigan commented on #4830
I don't know anything about this

[2022-01-26 21:23] 95-martin-orion commented on #4841
We already support both modes: you can assign noise to a simulator OR manually apply it to the circuit. I think we should keep both modes, since simulator+noise is better for "pseudo-hardware" applications and circuit+noise is better for inspecting the circuit behavior.

There's an interesting question here about converting noise models to use the Transformer API, but I'm pretty sure Tanuj is alre

[2022-01-26 21:23] #4841 closed

[2022-01-26 22:35] #4828 closed

[2022-01-26 23:50] daxfohl commented on #4782
The PlusGate as implemented is probably insufficient. We'd probably want to figure out the EigenGate representation of it before adding it to our public gates. So one consideration is how it works under non-integer exponents. Integer exponents would just multiply the `increment` (meaning we don't actually need an `increment`, and can just use the exponent). However non-integer exponents, I'm not s

[2022-01-27 00:20] Cynocracy opened #4901 "Migrate ionq_device compilation to circuit transformer"
**Summarize the task**
Spin-off from https://github.com/quantumlib/Cirq/pull/4824 to get ionq device prepped for deprecation of `decompose_operation` API in devices.

**Acceptance criteria - when is the task considered done?**
When ionq_device is no longer blocking deprecation of decompose_operation

[2022-01-27 02:04] daxfohl commented on #4782
@Strilanc @viathor I'm having trouble understanding what `_eigen_components` does and how/whether it would work for PlusGate. Any google results I see just talk about the unitaries. Do you have any references?

[2022-01-27 21:50] purva-thakre commented on #4784
@vtomole @viathor I can take this !

[2022-01-28 01:27] daxfohl commented on #4782
I think I figured the math out, but it's coming out to there being no eigen components that satisfy a PlusGate. Eigenvalues are the third roots of `i`, so half-turns are `[0, 2/3, 4/3]`. But the symmetry about the real line implies that the 2nd eigenspace has to equal the 3rd, so the complex values can cancel out. But if they're equal then, well, there's nothing to differentiate them. But they hav

[2022-01-28 02:32] dstrain115 commented on #4161
@verult This issue would be resolved (in part by) the GAPIC regeneration.

[2022-01-28 02:33] dstrain115 commented on #3960
This can now be done by the virtual engine factory and the resulting validation.  File any limitations against that component.

https://github.com/quantumlib/Cirq/blob/master/cirq-google/cirq_google/engine/virtual_engine_factory.py

[2022-01-28 02:33] #3960 closed

[2022-01-28 02:35] dstrain115 commented on #3116
Not urgent, but while you are in the protos, can you check this issue, @verult ?  I believe that this has been done and that the resulting (deprecated) fields can be removed, but this could use a bit of verification, since I haven't touched this in a while.

[2022-01-28 02:36] dstrain115 commented on #2185
@MichaelBroughton wasn't this done as part of the Devices API?

[2022-01-28 02:38] dstrain115 commented on #1373
Adding a few more people on this old issue, since it recently came up that users may not know that Gates should be immutable.  We should add this to the documentation hack-a-thon for Cirq 1.0

[2022-01-28 03:55] daxfohl opened #4907 "SynchronizeTerminalMeasurements doesn't handle multi-qubit measurements"
**Description of the issue**

The logic for SynchronizeTerminalMeasurements goes qubit-by-qubit checking for measurements that are terminal but not at the last moment, and moves such measurements to the last moment. Thus if a two-qubit measurement has a single-qubit gate after it, the logic still moves the measurement to terminal position since *one* of its qubits is unblocked.

**How to reproduce

[2022-01-28 06:10] MichaelBroughton commented on #2185
We tabled it for discussion with the group (people on this thread were there) and opted to just leave it. Closing.

[2022-01-28 06:10] #2185 closed

[2022-01-28 18:33] daxfohl commented on #4851
@tanujkhattar @MichaelBroughton Do we have anybody that's a linter expert on the team? Seems like a linter that scans the package for all classes directly/indirectly inheriting Gate and checks field names against a regex should be reasonably straightforward to make (like I could do this in maybe 5 lines in C# if this were a .net app). But linter tutorials I see all deal directly with the AST, whic

[2022-01-28 20:07] #4879 closed

[2022-01-28 21:25] #4870 closed

[2022-01-28 21:25] #4880 closed

[2022-01-28 21:25] #4882 closed

[2022-01-28 22:53] tanujkhattar opened #4914 "Raising tagged operations to a power removes tags."
[code]

**Cirq version**
0.14dev

[2022-01-29 00:54] #4830 closed

[2022-01-29 03:37] daxfohl opened #4918 "Circular dependency in Clifford sim"
**Describe your design idea/issue**

There's a dependency between `ActOnStabilizerChFormArgs`, `StabilizerStateChForm`, and `CliffordState`, and they all kind of do similar things differently. Note this isn't an import cycle, just an odd mesh of runtime dependencies.

Currently:
* ActOn contains a ChForm.
* CliffordState contains a ChForm and creates ActOn.
* ChForm creates ActOn.

Better to have

[2022-01-29 18:36] #4914 closed

[2022-01-30 08:29] daxfohl commented on #4782
Managed to make something work but the phase has to change. This is only for qutrits:
[code]
That involved a lot of manual calculation, and I haven't figured out how to make it generalize to arbitrary dimension. Is there an easier way to figure out the eigencomponents given a unitary?

Unitary looks like
[code]
Moment step progression is
[code]
(Amplitudes)
[code]
So, it's a step function in qutri

[2022-01-30 09:22] daxfohl commented on #4782
I figured out the math, subtracted somewhere I should have added. Anyway the eigencomponents look like
[code]
This gives unitary
[code]
However taking square root of that doesn't produce a valid unitary:
[code]
Looks like something that could plausibly be a unitary, but it isn't. Multiplying by adjoint gives:
[code]

So, I guess a PlusGate isn't an EigenGate (at least in dimension 3)?

[2022-01-30 19:49] daxfohl commented on #4782
I tried again, trying some linear algebra directly instead of reversing the existing `EigenGate._unitary_`. (https://en.wikipedia.org/wiki/Square_root_of_a_matrix#Matrices_with_distinct_eigenvalues)

Using that I ended up with what the unitary for `Plus**0,5` *should* be.
[code]
Indeed when I plug that into a `MatrixGate`, and simulate it, it provides the following fun moment steps:
[code]
However

[2022-01-31 01:14] daxfohl commented on #4782
Okay, looks like these components are projection matrices onto the eigenvectors. So, pretty sure I see the pattern for making the eigenvectors for a PlusGate (roots of unity and their powers). Still need to look up the formula for projecting onto a complex vector, but thinking this is getting close.

[2022-01-31 14:44] alexandrebouayad commented on #4835
@tanujkhattar could someone quickly review my PR? I don't think there's anything complex or obscure here, but I'd still be happy to know if I have correctly tackled the issue. Thanks :)

[2022-01-31 18:55] daxfohl commented on #4782
That seems to have worked for dimension 3. If I change X to:

[code]
then it provides the nice step function, and `X**0,5` moment steps are
[code]

So the answer to why QM requires complex numbers is: so that we can count to 3 by halves. :)

Anyway that seems to be a fairly straightforward pattern. I'll see what I can get for higher dimensions (I'm guessing it may be slightly different for non-pri

[2022-01-31 21:23] #4907 closed

[2022-01-31 22:10] maffoo commented on #4274
Thanks to @95-martin-orion, we now have an official [RFC](https://docs.google.com/document/d/1_TNiqYaLhZaprktqnLZxkVU94Kl3LVuhqryx3MHyWcU/edit#) for this proposal.

[2022-01-31 23:15] MichaelBroughton opened #4921 "Tests are not stable under re-ordering."
**Description of the issue**
Right now if you do:
[code]
Many tests break. This issue (along with others that might be underlying it like randomness seeding @pavoljuhas ) is blocking us from taking advantage of things like parallel pytest:
[code]
or more distributed CI checking like is done in #4913  https://github.com/quantumlib/Cirq/runs/5013652945?check_suite_focus=true

We should work to get t

[2022-02-01 00:02] daxfohl opened #4923 "Recursive transformer / iterator"
**Is your feature request related to a use case or problem? Please describe.**

Would be great if there was built in support for mapping operations to automatically run in subcircuits. Otherwise all simple transformers have to do that themselves.

**Describe the solution you'd like**

Probably just a "run_inside_subcircuits" option in Cirq.map_operations. We should also have one for running inside

[2022-02-01 00:48] MichaelBroughton commented on #4859
Would the TFQ github be a better place for this issue if it's strictly to do with TFQ ?

[2022-02-01 01:30] daxfohl commented on #4790
@vtomole Shall we change the issue title to "Deprecate SingleQubitGate" and mark it as accepted?

[2022-02-01 05:56] vtomole commented on #4790
@daxfohl Yup, done. Thanks!

[2022-02-01 22:48] pavoljuhas commented on #4921
@MichaelBroughton - can you check if [pytest-random](https://pypi.org/project/pytest-random/#history) is the correct plugin?
Its last update is from 2013 whereas [pytest-randomly](https://pypi.org/project/pytest-randomly) seems to be actively maintained; perhaps we should use that one.

On my side the current master 4f354ea6fce895c16e962697fb923a7d61c1f818 can already do parallel pytest without ei

[2022-02-01 22:53] MichaelBroughton commented on #4921
Oops yes, `pytest-randomly` was the package I was referring to. Experimenting locally those were the breakages I saw, but remotely I was also seeing this break here: https://github.com/quantumlib/Cirq/runs/5013652945?check_suite_focus=true

Which I assumed was caused by this, but perhaps it has something to do with import ordering or something else unrelated.

[2022-02-01 23:18] dabacon commented on #4921
The tests in _compat_test.py can be fixed by commenting out the test_deprecated_module_error_handling_X tests for X=1, 2, 3.  Trying to understand this now.

[2022-02-01 23:30] pavoljuhas commented on #4921
Here are some misplaced parentheses - it seems to help if moved to the end, eg,
`subprocess_context(_test_broken_module_1_inner)()`

https://github.com/quantumlib/Cirq/blob/4f354ea6fce895c16e962697fb923a7d61c1f818/cirq-core/cirq/_compat_test.py#L809-L818

[2022-02-01 23:34] dabacon commented on #4921
Yep, just did that :)

[2022-02-02 06:27] tanujkhattar commented on #4923
- Adding `run_inside_subcircuits` and `tags_to_ignore` to `merge_*` and `map_*` transformer primitives sounds like a good idea.
- Supporting this across all transformer by default can be more nuanced and would need modifications in individual transformers, mainly because not every transformer can be written as a composition of `map*`/`merge*` primitives.
- > We should also have one for running ins

[2022-02-02 06:48] tanujkhattar commented on #4914
@vtomole I think this should have been done for other operations as well -- eg: `controlled_by`, `phase_by`, `decompose`, `classical_controls` etc. Let's open an issue to discuss it.

[2022-02-02 06:53] daxfohl commented on #4923
Like for when changing measurements to dephases, given a `change_measure_to_dephase` function, it would be great if we could just call
[code]
or something like that, and `map_operations` does all the work of looking inside subcircuits, tagged operations, classically controlled ops, etc, and it removes tags on any changed gates. Even just having the arguments is useful because it highlights the thi

[2022-02-02 15:30] #4859 closed

[2022-02-02 16:17] #4825 closed

[2022-02-02 18:56] Ashalynd commented on #4766
Thanks!

[2022-02-02 19:44] 95-martin-orion commented on #4826
Discussed at Cirq sync: this should be addressed in Tensorflow Quantum - please raise an issue there.
https://github.com/tensorflow/quantum

[2022-02-02 19:44] #4826 closed

[2022-02-02 19:47] vtomole commented on #4798
@drewrisinger Please submit a PR for this. If you aren't able to fix it before the Cirq 1.0, we'll look into it.

[2022-02-02 20:14] vtomole opened #4935 "`DiagGatesBeforeMeasurement` transformer"
**Is your feature request related to a use case or problem? Please describe.**
There is currently no transformer that optimizes a circuit like

[code]

Which should come out to be the identity

**Describe the solution you'd like**

[code]
outputs
[code]

**[optional] Describe alternatives/workarounds you've considered**
Looking the the circuit and seeing that the `CZ` gates doesn't do anything and

[2022-02-03 12:38] tanujkhattar opened #4945 "pytest-windows CI always failing"
**Description of the issue**
See https://github.com/quantumlib/Cirq/runs/5051545510?check_suite_focus=true

Relevant Error message:
[code]

[2022-02-03 23:06] #4945 closed

[2022-02-04 16:11] vtomole opened #4956 "Keeping tags for all `TaggedOperation` methods."
**Is your design idea/issue related to a use case or problem? Please describe.**
This is issue is the same as https://github.com/quantumlib/Cirq/issues/4914 except it's to discuss if we want to follow through with it.

[2022-02-04 16:12] vtomole commented on #4914
Fom Cirq synch:

@95-martin-orion said that this behavior was deliberate cause of how gates can interact with the transformers/decomposers. Opened: https://github.com/quantumlib/Cirq/issues/4956

[2022-02-04 16:17] 95-martin-orion commented on #4914
FWIW, the same is true for **all** `TaggedOperation` methods, not just `__pow__`.

[2022-02-05 04:29] #4665 closed

[2022-02-05 04:44] tanujkhattar commented on #4923
@daxfohl `tags_to_ignore` and `deep` flags have been added to the transformer primitives. This should be enough to unblock the deferred measurement PR.

Please let me know if you think anything else needs to be added, for example:
- I'm not sure how `run_inside_classically_controlled_operations` would behave for any `map_func` method passed to `map_operations`.
- `change_measure_to_dephase` is alr

[2022-02-05 04:46] tanujkhattar commented on #4766
Closed by #4941

[2022-02-05 04:46] #4766 closed

[2022-02-05 19:43] daxfohl commented on #4923
@tanujkhattar Here's kind of what I'd expect:

[code]
But here's what it comes out to
[code]

So, the tag is removed in the 2nd one (which I'm aware is an ongoing discussion in #4956, and probably there should be a flag in `map_operations` to allow users to choose). And also the classically controlled X does not get transformed, which seems wrong (again we could add a separate flag to let users ch

[2022-02-06 23:04] daxfohl commented on #4884
@95-martin-orion I had some additional thoughts on this, edited the description above.

[2022-02-07 15:54] 95-martin-orion opened #4959 "Fail fast on measurements in `has_unitary`"
`cirq.has_unitary(cirq.measure(...))` should fail without having to attempt the full list of `has_unitary` strategies:

- Measurement is a common, easily-identified operation
- As highlighted in [qsim #502](https://github.com/quantumlib/qsim/pull/502), measurements on 33+ qubits may cause `has_unitary` to break due to the numpy limit of 32 dimensions in an ndarray.

[2022-02-07 17:49] tanujkhattar opened #4960 "Update docs once migration of all cirq/optimizers to cirq/transformers is completed."
**Summarize the task**
All existing optimizers in cirq-core/optimizers are being rewritten to follow the new transformer API (#4483), use new moment-preserving transformer primitives, and support no-compile tags (#4253) as part of https://github.com/quantumlib/Cirq/issues/4722

Existing cirq docs should be updated to correctly reflect usages of new transformer primitives and new docs should be add

[2022-02-07 20:08] #3232 closed

[2022-02-07 20:45] tanujkhattar opened #4961 "`GridDeviceMetadata` design discussion and nits."
**Description of the issue**
I just looked at the newly added https://github.com/quantumlib/Cirq/blob/6937e417e372e4157ed70a6a38ec1d38964201ab/cirq-core/cirq/devices/grid_device_metadata.py#L34 and have some feedback / discussion points:

1. `s/supported_gates/gateset/g` ? Type of `supported_gates` is not clear from it's name (is it a list of supported gate instances? gate types? gate families?) a

[2022-02-07 20:59] tanujkhattar commented on #4961
3. is probably not true, because `GridDeviceMetadata` derives from `DeviceMetadata` which comprises of the connectivity graph and qubit set, so`GridDeviceMetadata` needs to exist. But I'm still not sure why `def qubit_set(self) -> FrozenSet['cirq.Qid']` needs to exist on `DeviceMetadata` instead of on the `Device` itself ?

[2022-02-07 21:08] tanujkhattar opened #4962 "Fix types / docstrings on `DeviceMetadata`"
**Description of the issue**
1. Args say `qubits` and `nx_graph` are optional, but their type is not `Optional[]`.
https://github.com/quantumlib/Cirq/blob/6937e417e372e4157ed70a6a38ec1d38964201ab/cirq-core/cirq/devices/device.py#L224-L231

2. Args say the returned qubit set can be `None` but return type is not `Optional[FrozenSet['cirq.Qid']]`.
https://github.com/quantumlib/Cirq/blob/6937e417e372e

[2022-02-07 21:26] MichaelBroughton commented on #4961
The name of the property on the class is `gateset` do we just want to change the name of the variable in the constructor ?

On a related note, we should consider adding a metadata, like duration, to the base GateFamily class itself. Maybe as an optional field? Maybe as a metadata that can be queried?
Maintaining an explicit Gateset and an explicit Dict['cirq.GateFamily', 'cirq.Duration'] in the Gr

[2022-02-07 21:36] verult commented on #4961
Thanks for the suggestions!

My take:

1) No strong preference especially since the property name is `gateset`.
2) I also brought up the same point with Mike :) I agree that both forms serve the informational purpose equally since gates with the same duration can be grouped into the same gateset, but IMO a GateFamily:Duration mapping (a) is more intuitive, since a duration is associated with gates

[2022-02-07 21:38] tanujkhattar commented on #4961
+1, let's make the constructor variable name match the property name.

On a closer look, I see that using a `Gateset` as a key allows you to group gates with same duration together into a single key, but I think it's better to be verbose and accept `Dict['cirq.GateFamily', 'cirq.Duration']` instead. This has caused confusion more than once (eg: [original design doc](https://docs.google.com/documen

[2022-02-07 22:31] #4918 closed

[2022-02-08 00:14] #2679 closed

[2022-02-08 06:30] #4962 closed

[2022-02-09 19:26] tanujkhattar commented on #4956
As per discussion in last cirq sync, we should try to deprecate `TaggedOperations` and move tags to `Operation` class itself.

[2022-02-09 19:35] vtomole opened #4967 "Deprecate `TaggedOperations`"
**Description of the issue**
Moved tags to the `Operation` class

**Cirq version**
master version

[2022-02-09 19:36] vtomole commented on #4956
From cirq sync: https://github.com/quantumlib/Cirq/issues/4914#issuecomment-1030137005

[2022-02-09 19:36] #4956 closed

[2022-02-09 19:36] Ashalynd commented on #4362
Gentle ping :) Is this issue still in scope? If yes, is #4059 taken / are there any parts left for this issue?

[2022-02-09 19:49] viathor commented on #4886
Cirq sync: We'll probably implement this post 1.0.

[2022-02-09 19:59] viathor commented on #4771
From cirq sync:

Discussion: This is a very breaking change. Also, we should gate this on renaming `TActOnArgs` to something more meaningful.

Conclusion: We probably don't really have time to do this. Maybe reopen some time before 2.0.

[2022-02-09 19:59] #4771 closed

[2022-02-09 20:43] dabacon opened #4968 "Documentation line width"
A few years ago we switched to using black to auto-format and set the character width at 100.  When we did this, we ended up with a lot of doc strings that were not touched and so are 80 characters.  We now have both 80 or 100 or a mixture of docstrings.

1. Would be nice to just standardize on one width going forward, just so we don't have to think about it.  Possibly also say new docstring follo

[2022-02-09 21:20] tanujkhattar commented on #4362
@Ashalynd You can work on #4059 now that GateTabulation has been moved to cirq-core and we have new transformer API and transformer primitives checked-in, which should be used to implement #4059

Please let me know if you have any questions.

[2022-02-09 21:21] tanujkhattar commented on #4923
From cirq sync:

Let's open separate issues to track the two remaining requests, as both of them are nuanced and would need further discussion / evidence. See comments as follows:

- As per discussion on https://github.com/quantumlib/Cirq/issues/4956, Tagged operations are supposed to be immutable, so if an operation changes, the tags should get removed. We can potentially add support to preserve

[2022-02-09 21:21] #4923 closed

[2022-02-09 21:24] tanujkhattar opened #4969 "Add an option to transformers to preserve tags of operations."
Branched off from https://github.com/quantumlib/Cirq/issues/4923.

For local transformers that act on individual operations (eg: transformers implemented via `map_operations` primitive), we can preserve the tags on the original operation. For non-local transformers, this is not well defined.

Should we do it? Is there a use case for it? This issue is to track the request and discuss if something l

[2022-02-09 21:34] tanujkhattar opened #4970 "Add a flag to transformers to recursively run inside classically controlled operations"
**Is your feature request related to a use case or problem? Please describe.**
Branched off from https://github.com/quantumlib/Cirq/issues/4923

`map_operations` primitives provide a way for users to specify custom lambda's that should operate on each individual operation. The proposal is to provide a `run_inside_classically_controlled_operations` keyword argument so that `map_operations` apply th

[2022-02-09 22:36] viathor commented on #4968
Marked discuss even though we already had a discussion about this since it seems to me that there are still some unknowns, e.g. which tool to use.

[2022-02-09 22:37] viathor commented on #4959
Possibly a good idea to do this for circuits, too.

[2022-02-09 23:24] #4818 closed

[2022-02-10 03:36] tanujkhattar opened #4972 "Support `tags_to_apply_on` similar to `tags_to_ignore` to apply a transformer only on a subset of marked operations"
**Summarize the task**
This will be useful to address issues like https://github.com/quantumlib/Cirq/issues/3144, where we wish to align left a specific subset of gates that were replaced by a transformer.

[2022-02-10 05:24] daxfohl opened #4975 "Deprecate ignore_measurement_results"
This can now be done in the measurement transformers, which also handle classically controlled operations. The simulator option does not (and can not) handle classical controls. This no longer needs to be a simulator option.

[2022-02-10 10:08] tanujkhattar opened #4976 "Should we make `circuit._prev_moment_available` given impact of CCOs ?"
**Description of the issue**
While editing circuits, we often used `circuit.prev_moment_operating_on(op.qubits, end_moment_index)` to identify the position after which operation `op` can be inserted. This, however, is no longer correct and can lead to subtle errors, like the one came up during review of https://github.com/quantumlib/Cirq/pull/4944

For ex:
[code]

We should either update (add a fl

[2022-02-10 10:09] tanujkhattar commented on #4976
As a stretch goal, we should also find all existing usages of `prev_moment_operating_on` and figure out whether it breaks with CCOs and needs to be updated to use `_prev_moment_available`.

[2022-02-10 10:29] tanujkhattar opened #4977 "Investigate and fix CCO breakages in `merge_operations` due to `prev_moment_operating_on`"
**Summarize the task**
- See https://github.com/quantumlib/Cirq/issues/4976 for context around CCOs and using `prev_moment_operating_on`.
- `cirq.merge_operations` will currently move CCOs across measurements when trying to merge operations. We should investigate such breakages and fix them.

[2022-02-10 17:13] dabacon commented on #4968
In going through the annotations of docformatter, there are lots of methods that have multiline doc strings that don't follow PEP 257 in that they don't have a single line comment followed by a space, but are instead multiline right of the bat.  Other than that it seems to make pretty reasonable choices.

[2022-02-10 19:27] tanujkhattar commented on #4976
Can you give an example where taking an operation as input might be too limiting? Circuits only support inserting operations and when asking the previous moment available for insertion, it seems natural to me to take an operation as input.

[2022-02-10 19:37] 95-martin-orion commented on #4976
This is a fair point - all cases I can come up with eventually want to add an operation anyways, so just using that operation for the check should be fine.

The main reason I raised this is that an operation is strictly more information than the method needs. Taking an operation forces creating a dummy op (e.g. `cirq.measure(*qubits, key='k')`) if there ever is a case where there isn't a relevant

[2022-02-10 19:40] tanujkhattar commented on #4976
I agree. Maybe we can make this public as it is now and go through a deprecation cycle once we identify need for cases where an operation is not needed?

[2022-02-10 21:47] #4972 closed

[2022-02-11 02:17] verult opened #4982 "Move circuit serialization to Gatesets"
**Is your design idea/issue related to a use case or problem? Please describe.**
This is a refactor instead of solving a particular use case / issue.

**Describe your design idea/issue**
With Google device construction being revisited to leverage `cirq.Gateset` for validation, it would be useful to move circuit serialization (`cirq_google.CircuitSerializer`) and deserialization on server side to t

[2022-02-11 17:24] maffoo commented on #4982
I definitely think we should keep the separation between serialization (how do we send gates over the wire) and gatesets (what gates are allowed on a particular device). We will also need a way to serialize gatesets so that we can query the service to find out programmatically what gates a device supports, but I don't think we should go back to the old way of coupling that tightly to gate serializ

[2022-02-11 19:50] MichaelBroughton commented on #4722
Random question: with #4858 do we need `convert_to_cz_and_single_gates.py` anymore ?

[2022-02-11 22:57] MichaelBroughton commented on #228
FYI Going to hijack this issue label section briefly for testing in Triage party

[2022-02-11 23:07] daxfohl commented on #4888
Sounds like it's not going to be 100% addressed, as we'll keep `flatten_repetitions` as optional. I have a sample implementation of this in https://github.com/quantumlib/Cirq/compare/master...daxfohl:repeatuntil_keyrange?expand=1. This allows subcircuits to repeat indefinitely, and still handles commutativity when placing circuitops.

[2022-02-11 23:12] daxfohl commented on #3266
Added a "repeat_until" option to circuitoperation here: https://github.com/quantumlib/Cirq/compare/master...daxfohl:repeatuntil?expand=1, to go in after https://github.com/quantumlib/Cirq/issues/4274. That logic will also allow variable repetitions.

(Note if we also do #4884 we get this for free, as the symbolic repetition parameter and a repeat-until condition will be exactly the same thing).

[2022-02-11 23:44] MichaelBroughton commented on #4961
Closing for now. After offline discussions we agreed that in the new roles that Device take on: Devices do `validate_***` and metadata stores all the exploratory items of which `qubit_set` is a member.

[2022-02-11 23:44] #4961 closed

[2022-02-11 23:46] MichaelBroughton commented on #4743
@verult I'm going to Mark this as finished. Since the implementation of `MetaData` classes are finished and plumbed through `cirq_google`. The remaining re-works of `cirq_google` devices falls under your design in flight.

[2022-02-11 23:46] #4743 closed

[2022-02-12 14:40] daxfohl commented on #4884
Never mind, the above won't work in all cases. For instance there's no good way to make it compatible with measurement indexes (coming with the repeated measurements feature). But moreover, there's an important reason control keys and param resolvers are distinct. The latter can be represented in hardware while the former cannot. If we merge the two concepts then it becomes harder to identify what

[2022-02-13 21:11] daxfohl opened #4989 "Make Operation/Gate classes generic"
Seems like it should be fairly straightforward to make Gate, Operation, and GateOperation classes generic, based on the type returned by `.on()` and `.gate` respectively. Same thing subsequently for `.with_tags`, `.with_classical_controls`, etc. It would be nice to be able to preserve that type information. This doesn't require any quantum knowledge and could be a good issue for new contributors.

[2022-02-14 19:37] #4976 closed

[2022-02-14 19:55] tanujkhattar opened #4992 "Mypy raises type check errors with default argument to Cirq protocols"
**Description of the issue**
This came up while reviewing https://github.com/quantumlib/Cirq/pull/4881 and offline discussions with @Zshan0.

A common pattern used throughout cirq protocols is to take a `default: TDefault` parameter which should be returned if the protocol does not succeed, or raise a type error if no explicit default has been provided. For example:
https://github.com/quantumlib/C

[2022-02-15 17:22] maffoo opened #4995 "Deprecate gate_set args in various Engine methods"
As a follow-up to #4983, there are several methods in `Engine` and related classes that take a `gate_set` arg that should be deprecated. See the comment by @verult in https://github.com/quantumlib/Cirq/pull/4983#discussion_r806220843.

[2022-02-16 19:03] Ashalynd commented on #4362
Thanks for confirmatilon!

[2022-02-16 19:28] 95-martin-orion commented on #4992
Cirq cynq: not terribly high-priority, but we should at least confirm that mypy isn't skipping files/directories.

[2022-02-16 19:53] 95-martin-orion commented on #4885
Result size hasn't been a huge issue for us, and this has the potential to be a large change - let's not prioritize it for now.

[2022-02-16 22:04] 95-martin-orion opened #5000 "Inconsistent shape of Result.records"
As seen in the [qsim nightly compatibility runs](https://github.com/quantumlib/qsim/runs/5209117455?check_suite_focus=true). CC @daxfohl.

These errors seem to indicate that the values in `Result._records` sometimes unpack to two-element values. It's possible that this is a result of interaction between qsimcirq and the new `Result` behavior, but if so that indicates backwards-incompatibility that

[2022-02-16 23:34] daxfohl commented on #5000
This actually occurred to me last night, that something like this might happen.

So in `simulator.py`, we changed the pydoc around abstract method `SimulatesSamples._run` to say it's a 3D array, updated `SimulatorBase._run` to do so, and back in `SimulatesSamples.run_sweep_iter` we expect a 3D response. I had overlooked the fact that external simulators might implement `SimulatesSamples` but not `

[2022-02-17 18:52] daxfohl commented on #4989
The second part of this may not be possible given the way we flatten stacked tagged operations and controlled ops. But the first part should be doable.

[2022-02-18 00:20] tanujkhattar opened #5004 "Add support for CCO's to Gatesets."
**Is your feature request related to a use case or problem? Please describe.**
Gatesets currently accept any `cirq.Gate` instance or sub-type as a valid input parameter. For special operations, like `GlobalPhaseOperation`, `CircuitOperation` etc, they have flags like `unroll_circuit_op` or `accept_global_phase_op` to control the behavior.

`ClassicallyControlledOperation` was recently introduced a

[2022-02-18 04:15] daxfohl commented on #4967
Note I tried this a while back and it's *hugely* invasive. For example `TaggedOperation` intercepts several protocol methods like diagram_info and resolve_params, and adorns them with its own behavior before forwarding inward. If it's in the base class, this behavior is impossible, as the subop class's protocol implementation simply overrides it. All these protocol methods need to be changed to ab

[2022-02-18 04:22] daxfohl commented on #5000
May be worth looking at #4449 simultaneously. The qubits are there now, just need to get pushed into `Result`.

[2022-02-18 05:08] daxfohl commented on #4449
Unassigning myself but this should be fairly doable now. All the data is stored in the simulation TrialResult class, and just needs passed into the Result class. It might require breaking change to `SimulatesSamples._run` return type. That currently just returns raw data. If we can have it return the collection of TrialResults instead, then those could be passed into ResultDict to satisfy this req

[2022-02-19 22:42] vtomole opened #5008 "Minor grammatical error in `docs/google/specification.md`"
**Description of the issue**
At the top of https://github.com/quantumlib/Cirq/blob/master/docs/google/specification.md, it says

**Cirq version**
master version

[2022-02-20 21:31] daxfohl commented on #3619
Would it be better to have the handlers for parameter resolution be `_resolve_parameter_` (singular) that takes a single kvp, and the calling protocol function itself responsible for the looping? Also possibly should parameters be specified as a kvp sequence instead of a dictionary, so that the ordering is explicit? (Granted python 3.6 and up dictionaries are ordered, but still).

[2022-02-21 10:47] Strilanc opened #5009 "cirq.PauliString misinterprets cirq.PauliSum inputs instead of rejecting them"
When you pass a `cirq.PauliSum` into `cirq.PauliString`'s initializer, it iterates over the terms of the sum... multiplying them together instead of adding them together. This makes sense to do for raw lists, but for `cirq.PauliSum` there is context indicating this is almost certainly a mistake.

Happened in the wild: https://quantumcomputing.stackexchange.com/questions/24202/wrong-expected-value-

[2022-02-22 20:14] #4829 closed

[2022-02-22 23:30] #5009 closed

[2022-02-23 17:19] 95-martin-orion commented on #4449
The data is stored in the _optional_ `final_step_result` field, which is only available to `SimulatesIntermediateStates` simulators. Since there's no guarantee that a `SimulatesSamples` simulators implements intermediate states (qsim doesn't, for one) we can't use it here - or at least not in a generic way that covers all simulators.

[2022-02-23 17:36] daxfohl commented on #4449
Could we override `SimulatesSamples.run_sweep_iter` in `SimulatorBase`? Anything that inherits from `SimulatorBase` should have this `final_step_result` field hydrated. Thus `SimulatorBase.run_sweep_iter` should be able to return `Result`s that have the qubit information (either a new `Result` subclass, or add the functionality to `ResultDict`). Then we can revert `SimulatesSamples.run_sweep_iter`

[2022-02-23 17:46] 95-martin-orion commented on #4449
I don't think modifying `SimulatorBase` is sufficient to resolve this problem, as it's not extensible to external simulators. RE use of 2D arrays, I've opened #5014 with a fairly lightweight fix.

[2022-02-23 18:15] 95-martin-orion opened #5015 "Records-based ResultDict fails serialization"
Example code:

[code]

[2022-02-23 18:16] 95-martin-orion commented on #5015
CC @daxfohl @maffoo

I think `ResultDict` is new enough that we don't need backwards-compatibility tooling for this, but only if we can resolve it before the rapidly-approaching v0.14 release.

[2022-02-23 18:45] verult commented on #4833
Per @maffoo 's [comment](https://github.com/quantumlib/Cirq/pull/4994#pullrequestreview-882489134), there is a use case for serialize identity gates, and they should be serialized along with their tags. And in general, a user's circuit should be serialized as-is as much as possible to avoid surprises.

[2022-02-23 18:49] verult commented on #4833
@maffoo is identity gate tag serialization a use case we need to support right away? If not, I propose piggybacking on an existing gate type in the `Program` proto until the use case comes along.

[2022-02-23 19:15] vtomole commented on #5004
This should be supported after we've agreed on a design.

[2022-02-23 19:21] vtomole commented on #4975
From Cirq sync:

We've accepted this, but if anyone who uses the density matrix simulator a lot has a differing view, please state it here.

[2022-02-23 19:25] vtomole commented on #4782
From Cirq sync:

We are interested in this, but this sounds like a post 1.0 release item.

[2022-02-23 19:40] maffoo commented on #5015
@95-martin-orion, I'm happy to take this if you're busy.

[2022-02-23 19:44] daxfohl commented on #4888
Small note: the only use case in which this would be useful is the case in which we want to have parameterized repetition counts in subcircuits (#3266) on non-flattened subcircuits. In flattened subcircuits, there's no need for it because the keys are repeated. And in (theoretical) repeat-until operations, those wouldn't make sense in non-flattened subcircuits anyway because you need a repeated me

[2022-02-23 19:45] 95-martin-orion commented on #5015
Thanks @maffoo, that would be great. Note that this needs to be wrapped up before the v0.14 release, which is slated for sometime next week.

[2022-02-23 20:10] daxfohl opened #5016 "CircuitOperation crashes simulation if parameters come from the main circuit"
**Description of the issue**

If there's a parameterized operation in a subcircuit, it crashes when passing the param resolver into `simulate`.

**How to reproduce the issue**

[code]
raises
[code]
stack trace
[code]

**Cirq version**
0.14.0.dev

[2022-02-23 21:47] daxfohl commented on #5015
I'd noticed a related thing here: https://github.com/quantumlib/Cirq/pull/4555#issuecomment-1039760100. Should we have `Result.measurements` return the most recent measurement for each key, if there are multiple on that key?

[2022-02-23 21:51] vtomole commented on #4784
Fixed by https://github.com/quantumlib/Cirq/pull/5017

[2022-02-23 21:51] #4784 closed

[2022-02-23 21:54] maffoo commented on #5015
I'm open to that but I worry it might be confusing that there are two supported ways to access the data (as opposed to one supported way via `.records` and a backwards-compatible `.measurements` property that we can deprecate in the future). If you want the most recent measurement for a key you can get this explicitly from the records with `results.records[key][:,-1,:]`.

[2022-02-23 23:32] #5015 closed

[2022-02-24 00:52] daxfohl commented on #4274
@maffoo Can this now be marked complete?

@Strilanc is there anything else you'd want for stim interop? There's possibly a repeat-until feature on the way #5018, if that applies.

[2022-02-25 00:02] maffoo commented on #4833
Chatted with @verult about this; IMO we should add a separate `IdentityGate` case in the [`Operation` proto](https://github.com/quantumlib/Cirq/blob/master/cirq-google/cirq_google/api/v2/program.proto#L195) if we want to serialize identities, because the serialization tries to preserve gates as closely as possible instead of converting to "equivalent" gates (e.g. we have separate cases for `XPowGa

[2022-02-25 00:04] tanujkhattar commented on #4833
Just FYI: We already have `cirq.drop_negligible_operations` transformer to achieve this.

https://github.com/quantumlib/Cirq/blob/afb62da0e33559a47135094047ce3a872740a17e/cirq-core/cirq/transformers/drop_negligible_operations.py#L26

[2022-02-25 15:59] daxfohl commented on #5016
Looks like the root cause is already documented in #3619, however leaving this open for now since that is a feature request while this is a bug.

[2022-02-25 16:10] daxfohl commented on #3619
I was thinking this would be a quick fix, but I assume it's not or it would've been done already. Do you have any thoughts on the matter that you can note here?

By `recursive` does that mean it would have to recur through the subcircuit operations, or does it just mean recurring through the local symbols of the CircuitOperation, (or does it mean both)?

[2022-02-25 16:30] 95-martin-orion commented on #3619
I haven't looked at this in a while, but discussion on #3538 demonstrates why this is potentially complicated. In summary:

- CircuitOperation currently expects single-step resolution (e.g. `{a: b, b: a}` maps a to b and b to a)
- This is in direct conflict with recursive resolution behavior (where `{a: b, b: a}` throws an infinite-loop error)
- Changing over in a backwards-compatible way potentia

[2022-02-25 18:34] #4975 closed

[2022-02-25 19:13] tanujkhattar opened #5028 "Migration of optimizers in vendor packages to new transformers infrastructure."
**Summarize the task**
After https://github.com/quantumlib/Cirq/issues/4722, all optimizers in cirq-core have been migrated to the new transformer API https://github.com/quantumlib/Cirq/issues/4483, re-implemented using new moment-preserving transformer primitives and support no-compile tags.

This issue is to track the migration of all optimizers in cirq's vendor packages to the new transformer i

[2022-02-25 22:27] daxfohl commented on #4683
@tanujkhattar can you add the pre-1.0 tag to this one? https://github.com/quantumlib/Cirq/pull/4705 and https://github.com/quantumlib/Cirq/pull/4702 are still pending review.

[2022-02-25 22:31] vtomole commented on #4683
I've added it.

[2022-02-27 20:06] daxfohl opened #5035 "CircuitOperation with reps=0 still runs once"
[code]

**Cirq version**
v 0.14 dev

[2022-02-28 17:39] 95-martin-orion opened #5039 "Transformers (eg: optimized_for_sycamore) unroll circuit operations by default."
**Description of the issue**

Calling `cirq.optimized_for_sycamore` on a circuit with a `CircuitOperation` is expected to optimize only the contents of the `CircuitOperation` while preserving the structure, but the circuit is instead flattened.

**How to reproduce the issue**

[code]

**Cirq version**
0.14.0.dev20220228000741

[2022-02-28 18:27] tanujkhattar commented on #5039
This is a known issue.

We need to add support for a `deep=True` flag to all transformers so that when the flag is `True`, the transformer runs recursively inside a circuit operation, or else it directly inspects the contents of the circuit operation and treats it as a "single operation".

Note that directly inspecting contents of a circuit operation can be useful, for example if we have a 2q circ

[2022-02-28 18:33] #4214 closed

[2022-02-28 18:46] 95-martin-orion commented on #5039
I don't think deep/shallow fully describes this issue. Consider:
[code]
In order to make this Sycamore-friendly, both the `H` and the `CX` must be converted, which requires stepping into the inner `CircuitOperation` (i.e. `deep=True` behavior), but we also want to keep both `CircuitOperation`s, which IIUC is part of the `deep=False` behavior you describe.

The `ConvertToSycamoreGates` class alread

[2022-02-28 19:01] tanujkhattar commented on #5039
In my description, `deep=False` will treat the circuit operations similar to other operations in Cirq -- i.e. try to get a unitary and do an optimal decomposition. If not possible, fallback to `cirq.decompose`. Specifying `deep=True` will inspect the type of an operation, and if it's a circuit operation, it will recursively run the same transformer on the wrapped circuit.

Consider the following e

[2022-02-28 19:13] MichaelBroughton commented on #4982
Also in favor of keeping these things decoupled. We've had issues in the past when we paired up the previous iteration of "Gatesets" in `cirq_google` with serialization and it was not great.

[2022-02-28 19:15] 95-martin-orion commented on #5039
Thanks for the clarification - I misunderstood the intent before. The `deep=False/True` dichotomy described above fulfills the requirements as I understand them.

[2022-02-28 19:37] #5035 closed

[2022-02-28 20:03] verult commented on #4982
Keeping them decoupled sgtm. There's a chance supporting serialization may complicate the generation of Gatesets from DeviceSpecification, and may also lead to tight coupling of DeviceSpecification and Program protos.

[2022-02-28 20:03] #4982 closed

[2022-03-01 00:43] tanujkhattar opened #5041 "Rename `cirq.two_qubit_matrix_to_operations` to `cirq.two_qubit_matrix_to_cz_operations`"
**Description of the issue**
`cirq.two_qubit_matrix_to_operations` decomposes a 2q unitary matrix into CZs + single qubit rotations. The method was originally written when we had only decomposition into CZs. But now, we have other analytical decompositions like `cirq.two_qubit_matrix_to_sqrt_iswap_operations`, `cirq.two_qubit_matrix_to_ion_operations` etc.

We should do the following renames (with

[2022-03-01 00:57] #5016 closed

[2022-03-01 00:57] #3619 closed

[2022-03-01 02:30] daxfohl commented on #3266
@viathor #5043 will address this.

[2022-03-02 04:41] tonybruguier commented on #4959
@95-martin-orion
Do you think this issue can be closed? If not, I'm happy to work more on it, of course.

[2022-03-02 14:47] daxfohl opened #5048 "Change return type of `SimulatesSamples._run` to `Sequence[ClassicalDataReader]`"
**Is your feature request related to a use case or problem? Please describe.**

This is a step of #4449 (Keeping track of qubits we measure)

**Describe the solution you'd like**

We are now keeping track of the qubits we measure, in ClassicalDataReader. This data is accessible from the `simulate` method. However from `run`, that calls `_run` internally, which takes the classical data objects and

[2022-03-02 16:08] 95-martin-orion commented on #4959
Looks resolved to me. Thanks for your help!

[2022-03-02 16:08] #4959 closed

[2022-03-02 16:18] 95-martin-orion commented on #5048
Following up on discussion elsewhere - how does this proposal interact with simulators which implement a different subset of simulator APIs than `SimulatorBase`? Notably, `run` and `simulate` come from `SimulatesSamples` and `SimulatesFinalState` respectively, and external simulators which implement one are not obligated to implement the other.

As a concrete example, the [qsim simulator](https://

[2022-03-02 16:29] daxfohl commented on #5048
Definitely needs fleshed out. But IIUC we did essentially the same thing when changing the expected return value of _run from 2D to 3D. (have run_sweep_iter (the calling function) adapt the response if it's the old style, adding a deprecation warning). So I think we should be able to do the same thing here?

[2022-03-02 19:31] 95-martin-orion commented on #5048
Discussed at Cirq sync - potential performance tradeoffs and complications with qsim need to be investigated before we can commit to this.

[2022-03-02 19:36] 95-martin-orion commented on #3588
Should be a simple fix, here's the doc in question:
https://quantumai.google/cirq/tutorials/google/reservations

[2022-03-02 19:39] 95-martin-orion commented on #3305
Hey Will, this came up at Cirq sync. Is this still on the table?

[2022-03-02 19:41] 95-martin-orion commented on #2030
Pinging @wcourtney - is this still necessary? Or close if it's done.

[2022-03-02 19:43] 95-martin-orion commented on #554
Bumping for @vtomole.

[2022-03-02 19:46] wcourtney commented on #3305
Still on the table. It's filed under "usability" and "console transitions" for the QCS roadmap. This should be pretty simple though and probably doesn't need to wait. Assigning to Cheng as the new owner of `cirq_google`.

[2022-03-02 19:49] 95-martin-orion commented on #4161
From @MichaelBroughton: "Once GAPIC is resolved this is done"

[2022-03-02 19:50] 95-martin-orion commented on #3116
From @MichaelBroughton: resolved by removal of TFQ proto-coupling.

[2022-03-02 19:50] #3116 closed

[2022-03-02 19:56] 95-martin-orion commented on #2763
Closed as part of #3641. Please open a new issue if you have a specific measure you're interested in.

[2022-03-02 20:00] wcourtney commented on #2030
We don't have any plans for bulk cancellation in the API. We could provide a "kill switch" helper for this if we think it's common - list jobs filtered by state (RUNNING or READY) and cancel each. I expect that the issue with doing this today is that we use a blocking API interface, but we're looking into migrating to an asyncio format that should make this more bearable.

The semantics of "cancel