[2022-03-02 21:42] verult opened #5050 "cirq-google Device Refactor"
**Summarize the task**
Refactor cirq-google to
* Simplify Quantum Engine `DeviceSpecification` proto and its serialization/deserialization logic.
* Implement Devices 2.0 and GateSets APIs in cirq-core.

**Acceptance criteria - when is the task considered done?**
When all tasks below are complete:

[ ] `DeviceSpecification` proto updates
[ ] GateFamilies
  [ ] PhasedXZGateFamily
  [ ] Virtual/Physi

[2022-03-02 22:43] tanujkhattar opened #5052 "`TaggedOperation._decompose_` should call `decompose_once` on its sub-operation instead of `decompose`."
**Description of the issue**
`TaggedOperation`s forward the `_decompose_` request to its underlying `sub_operation`. Right now, it calls `protocols.decompose` directly on the sub-operation -- which breaks `protocols.decompose_once(tagged_op)`.
**How to reproduce the issue**

[code]

**Cirq version**
0.14dev

[2022-03-02 22:51] verult commented on #2384
Once https://github.com/quantumlib/Cirq/issues/5050 lands, a circuit can then be validated against a device before serialization by using the device's gateset: `engine.get_processor('processor').get_device().metadata.gateset.validate(circuit)`.

Printing the gateset will also show the full supported gateset of the device.

[2022-03-02 22:55] maffoo commented on #2384
@verult, note that the question was about what `sympy` features are supported by serialization. We only support a very limited set of sympy expressions such as addition, multiplication, and exponentiation, not arbitrary sympy expressions. This probably doesn't need to be part of gateset, though, but rather should be part of the other validate we do before sending to QCS.

[2022-03-02 23:13] verult commented on #2384
Gotcha. I will update the documentation on this limitation (maybe [here](https://quantumai.google/cirq/google/devices#gates_supported)) and look into adding validation.

[2022-03-02 23:18] wcourtney commented on #2030
Closing as Won't Fix - let's rely on asyncio support. Feel free to re-open if you this is a higher priority than I suspect.

[2022-03-02 23:18] #2030 closed

[2022-03-03 23:41] #554 closed

[2022-03-07 00:18] #2254 closed

[2022-03-07 17:58] vtomole opened #5058 "mypy check is failing on `CI` for sympy `v1.10`"
**Description of the issue**
See: https://github.com/quantumlib/Cirq/pull/4936#issuecomment-1060953773

**Cirq version**
`master` version

[2022-03-07 18:19] 95-martin-orion commented on #5058
Looks like sympy v1.10 (released Mar 6) is triggering this failure. #5059 pins us to the old version, but we should look into updating the sympy type hints to allow us to advance.

[2022-03-07 18:28] vtomole commented on #5058
Okay. To avoid us creating another issue related to this, we can leave this open until the sympy type hints have been updated.

[2022-03-07 21:27] daxfohl commented on #1731
@tanujkhattar @MichaelBroughton this seems like a big pre 1.0 item if we ever want to do it.

[2022-03-08 14:23] daxfohl commented on #879
I'd like to try this one, but @Strilanc can you flesh out the final step a bit more? Plugging your original circuit into the existing optimizer we get

[code]

I'm not quite seeing how to get from your final step above to this final representation.

(Also, I see that the first step of the optimizer calls `converted_gate_set`, which does *all* the work--the final circuit comes directly out of that,

[2022-03-10 19:25] maffoo opened #5067 "pytest node crashes on windows in cirq_google serialization tests"
**Description of the issue**

I've seen a few pytest failures on windows in cirq-google serialization tests:

[code]
I've seen this happen both in [3.7 tests](https://github.com/quantumlib/Cirq/runs/5500966783?check_suite_focus=true) and in [3.9 tests](https://github.com/quantumlib/Cirq/runs/5397153304?check_suite_focus=true). Seems to be intermittent.

[2022-03-10 19:56] 95-martin-orion commented on #5067
I've also seen this error, but at the time chalked it up to Github Actions runner instability. Seeing that it's still coming up - and that it's in the infinite recursion test - suggests I should revisit my code here.

[2022-03-10 20:06] maffoo commented on #5067
It does say right in the test it's doing something malicious :-)
[code]

[2022-03-10 21:49] 95-martin-orion commented on #5067
#4315 for context on what this test is about. The deserialization half of this test is fine - it will try to locate the recursively-defined operation in the constants map, fail, and error out.

The serialization half intentionally forces a `RecursionError`, but it's the safer variety: Python notices that the a method was called with the exact same arguments and system state and it fails after a si

[2022-03-11 02:05] verult commented on #3542
The behavior of canonicalizing on initialization is different from other gates:

* In `cirq.PhasedXZGate`, canonicalization is in the [equality check]((https://github.com/quantumlib/Cirq/blob/d967317cdb0f954e14907f69aaae70fd1f76ff6f/cirq-core/cirq/ops/phased_x_z_gate.py#L105) and [construction from matrix](https://github.com/quantumlib/Cirq/blob/d967317cdb0f954e14907f69aaae70fd1f76ff6f/cirq-core/c

[2022-03-11 04:32] tanujkhattar commented on #3542
@verult Do you have an example of where this becomes an issue? Regarding consistency, I would consider things to be inconsistent if the same parameter (eg: exponent) is treated differently in similar gates (eg: X/Y/Z).

So, for example, if `X ** 2.5` implicitly became `X ** 0.5` because we canonicalized the exponent during construction, but didn't do so for `Z ** 2.5`.

`FSim` gate has different p

[2022-03-11 06:33] ironmanaudi opened #5068 "Simulating two-qubit error channel with Cirq"
Hi, all! I encounter the problem that it seems not obvious to use Cirq to simulate 2-qubit error. However, these tyeps of errors are often encountered when considering device-like noise. In this case, I defined myself with the two-qubit deplorizing error and thermal error, which consists of dephasing and reset error as follows.
[code]
Then, I add the noise after each gate applied in a circuit, and

[2022-03-12 02:21] daxfohl commented on #879
I'm trying but not entirely sure this is possible. IIUC, you can't arbitrarily jump non Cliffords. They have to be PSPhasors with a matching PS on the qubit of the gate you're moving. So if you're moving them in bulk I don't understand how those assumptions work out.

I think it's still plausible that there's an O(C+N) algorithm, but I'm not seeing how the proposal quite gets there. @Strilanc am I

[2022-03-12 03:06] daxfohl commented on #879
Xref #2961

[2022-03-12 04:24] daxfohl commented on #3003
@tonybruguier It looks like `partial_trace` you linked to has worked for qudits since the original commit. I assume @dabacon means `partial_trace_of_state_vector_as_mixture`, which calls `sub_state_vector`, which has the following line.

https://github.com/quantumlib/Cirq/blob/d967317cdb0f954e14907f69aaae70fd1f76ff6f/cirq-core/cirq/linalg/transformations.py#L461

There is a test `test_partial_trac

[2022-03-12 04:49] daxfohl commented on #3003
Note there's a function `factor_state_vector` in the same file that seems to do roughly the same thing (and may work for qudits). I wrote that function, but none of the linalg experts signed off before it was merged (and in fact I'm nervous now that it's incorrect, as I'm definitely *not* a linalg expert and kind of made it up). It's used in simulation to factor the state vector after measurement.

[2022-03-12 11:29] anonymousr007 commented on #4960
Hi, @tanujkhattar, this issue is still open? If, yes, I want to make a PR for this issue.

[2022-03-12 18:58] vtomole commented on #4960
Hey @anonymousr007, thanks for your inquiry. This task shouldn't be started until https://github.com/quantumlib/Cirq/issues/4722 is closed.

[2022-03-12 20:04] anonymousr007 commented on #4960
Thanks, @vtomole for the information. I want to work on #4722.

[2022-03-12 20:52] anonymousr007 commented on #4722
Hi all, I would like to help with this issue, Can anyone please tell me further details?

[2022-03-12 21:30] vtomole commented on #4722
From the check list, it seems like the only thing left to close this is https://github.com/quantumlib/Cirq/issues/4362, but @Ashalynd is already working on it.

[2022-03-12 22:00] tanujkhattar commented on #4960
@anonymousr007 #4722 is already completed (I'll add a comment and close the issue soon).

This issue is indeed still open and needs to be done. A good document to update will be

https://github.com/quantumlib/Cirq/blob/master/docs/transform.ipynb

The `cirq.optimizers` sub-package has been deprecated completely and the new transformers are present in `cirq.transformers` sub-package. The above tuto

[2022-03-12 22:02] tanujkhattar commented on #4722
The task which is still open is about adding a new transformer and not migrating any existing transformer, so I'm going to remove the task from the list and the issue will be tracked independently.

This particular issue is about migration of all existing optimizers, which has been completed and I'll therefore go ahead and close the issue.

[2022-03-12 22:02] #4722 closed

[2022-03-12 23:06] anonymousr007 commented on #4960
@tanujkhattar, Thanks for the information. I understand about deprecated of `cirq.optimizers` sub-package. How can we use transformers in quantum? Can you please share some good papers on it?

Some important points,

- Actually, I want to work in cirq for the next 6 months+.
- I want to understand cirq structure from basics.
- I am well experienced in Quantum Information Science (QIS) and Quantum

[2022-03-12 23:35] #5052 closed

[2022-03-13 11:21] #4532 closed

[2022-03-13 12:51] tonybruguier commented on #4734
The proposed PR above is only for the new function. I have read about the key order issue, but it seems a tiny bit more dangerous, so I was planning to have a separate PR. My preference is weak though.

[2022-03-13 21:44] #4851 closed

[2022-03-13 21:55] #4885 closed

[2022-03-13 21:56] #4884 closed

[2022-03-13 21:56] #4888 closed

[2022-03-13 22:22] daxfohl commented on #4989
This ends up being a bit of a pain because now suddenly `cirq.X(q)` and `cirq.Y(q)` are different types, so mypy complains if you try to make a list of them.

I'm closing this to get it out of my queue. If anyone wants to pick this up, please create a separate issue.

[2022-03-13 22:22] #4989 closed

[2022-03-13 22:39] daxfohl commented on #3055
@dabacon dupe of #2961

[2022-03-13 22:50] daxfohl commented on #3003
After some thorough testing, I found a minor bug in `factor_state_vector`'s validation block, where it needs to account for a possible global phase shift. Fix is in #5076.

Everything else there seems to work the same as `sub_state_vector` (if the phase randomization is removed from the latter), except it also works on qudits (and is about 10x faster, and seems slightly more precise).

So using th

[2022-03-13 23:53] MichaelBroughton commented on #5068
Hi @ironmanaudi this doesn't look like it's an issue or bug with the Cirq library itself, but is instead a question about how to use the library. I'm happy to answer the question here, but next time it might be better to post on stackoverflow.com in the quantum computing section under the Cirq tag. There are different issues with each channel provided:

The first channel won't work because the con

[2022-03-14 03:09] daxfohl commented on #887
@vtomole I think all the work in classical controls means this can be closed.

[2022-03-14 03:21] #887 closed

[2022-03-14 03:31] daxfohl commented on #4244
@tanujkhattar @MichaelBroughton this was done in #5075

[2022-03-14 21:06] anonymousr007 commented on #4819
Hi Google Quantum Team, Is this issue still open? If, yes please tell me more about it.

[2022-03-14 21:15] tanujkhattar commented on #4819
@anonymousr007 Yes, the issue is still open.

The goal is to replace the current implementation of calculating fidelity of two density matrices with the improved implementation that has lower numerical error.

Current implementation:
https://github.com/quantumlib/Cirq/blob/782c14e0cc821794d21e82f30df8e6998f4b9992/cirq-core/cirq/qis/measures.py#L239-L242

New implementation:
[code]

The PR implemen

[2022-03-14 21:19] tanujkhattar commented on #4494
`Merge*` optimizers have now been improved / fixed using the new `merge_operations` and  `merge_moments` primitives. See https://github.com/quantumlib/Cirq/issues/4722 for details.

We should now deprecate and remove `CircuitDag` class, which is being tracked in https://github.com/quantumlib/Cirq/issues/3816

[2022-03-14 21:19] #4494 closed

[2022-03-14 22:46] anonymousr007 commented on #4819
Please, assign this issue to me. I want to work on this.

[2022-03-15 01:59] daxfohl commented on #4508
Did a quick investigation, it looks like the only place this bleeds beyond PauliString is that we'll also need to parameterize `GlobalPhaseGate.coefficient` to allow for decomposition to work when PauliString is parameterized.

Everything else seems straightforward:
* Fix up the types.
* Only cast to complex if it's numeric.
* Add handlers for parameter resolution.
* Raise errors in a couple funct

[2022-03-15 17:42] 95-martin-orion opened #5078 "Support getting calibration by timestamp in Engine"
[`cg.EngineClient.get_calibration`](https://quantumai.google/reference/python/cirq_google/engine/engine_client/EngineClient?version=nightly#get_calibration) accepts a timestamp for getting a specific calibration, but [`cg.engine.get_engine_calibration`](https://quantumai.google/reference/python/cirq_google/engine/get_engine_calibration) does not. We should update the latter to match the former.

O

[2022-03-15 17:42] 95-martin-orion commented on #5078
CC @dstrain115.

[2022-03-15 17:45] 95-martin-orion commented on #5068
As an alternative to defining your own channel types, you could instead create a [`MixedUnitaryChannel`](https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/ops/mixed_unitary_channel.py), which can be constructed from a sequence of (probability, unitary) tuples like the tuple returned above.

[2022-03-15 20:48] #3003 closed

[2022-03-15 21:02] #3266 closed

[2022-03-15 22:26] verult commented on #3542
Not a major issue for me. For context, I discovered this while implementing `PhasedXZGateFamily` using `FSimGateFamily` as an example, and a check like [this](https://github.com/quantumlib/Cirq/blob/fa473b44edfd0bd8d41a2c313a0894296ca0905e/cirq-google/cirq_google/ops/fsim_gate_family.py#L385) won't work for the `PhasedXZGate` because exponents aren't canonicalized on initialization. But we could e

[2022-03-16 18:21] tanujkhattar commented on #1731
From cirq sync:

It's worth creating a new gate type but moving all existing gates before cirq 1.0 will be a lot of work and we don't have the bandwidth right now to get this done.

[2022-03-16 18:41] 95-martin-orion commented on #3542
Discussed at Cirq sync: an argument could be made for this as a cleanup item, but leading into 1.0 there isn't a strong enough motivation to justify directing time towards it.

[2022-03-16 18:41] #3542 closed

[2022-03-16 18:42] dstrain115 commented on #5078
@verult Can you take care of this?  It should be a fairly straightforward change.  @wcourtney for visibility.

[2022-03-16 18:49] MichaelBroughton commented on #2113
Is this still an issue @viathor, @mpharrigan  ? Is there a plan here ?

[2022-03-17 01:05] mpharrigan opened #5090 "QubitPermutationGate should be json serializable and define a _decompose_"
Right now, QubitPermutationGate cannot be resolved during deserialization. I don't think there's any big reason why it isn't. In fact: I would posit that it's really important that all gates be serializable.

[2022-03-17 01:06] daxfohl commented on #4508
(Note that decompose doesn't work when parameterized anyway since it's not unitary, so we actually don't need to change GlobalPhaseGate)

[2022-03-17 02:58] tanujkhattar commented on #5090
It should also define a `_decompose_` in terms of swaps.

[2022-03-17 16:29] #4734 closed

[2022-03-17 23:42] tanujkhattar commented on #5041
I'll make this as closed because the renaming and deprecation was done as part of https://github.com/quantumlib/Cirq/pull/5070 and the next release will remove deprecated methods.

[2022-03-17 23:42] #5041 closed

[2022-03-17 23:44] tanujkhattar commented on #4253
All circuit optimizers have been migrated to the new transformer framework, which supports adding no compile tags for every transformer. I'll therefore mark this as complete and close the issue.

[2022-03-17 23:44] #4253 closed

[2022-03-17 23:48] tanujkhattar commented on #4901
@Cynocracy Cirq optimizers have been migrated to new transformer framework. Can you now do the migration for ionq device? You should create a new [`TwoQubitCompilationTargetGateset`](https://github.com/quantumlib/Cirq/blob/a7df579023460f9bf64a714a190bf9d7291ecf6a/cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset.py#L120)  for ionq put the decomposition logic there. See other s

[2022-03-17 23:48] tanujkhattar commented on #4901
https://github.com/quantumlib/Cirq/issues/5028 This issue tracks the migration of optimizers in vendor packages

[2022-03-18 00:23] tanujkhattar opened #5097 "Optimize decomposition of `cirq.QubitPermutationGate`"
**Description of the issue**
https://github.com/quantumlib/Cirq/pull/5093 introduced a default decomposition for `cirq.QubitPermutationGate` using odd-even sort to decompose the gate into minimum number of adjacent swap operations.

We should optimize this decomposition assuming all to all connectivity and minimizing resulting circuit depth.

**Cirq version**
0.14dev

[2022-03-18 00:34] #5090 closed

[2022-03-18 06:30] Cynocracy commented on #4901
Sure thing, happy to take this one up

[2022-03-20 02:23] ceytah commented on #4995
``

[2022-03-20 02:27] ceytah opened #5104 "Cierra"
**Description of the issue**access check k
35000000512.00
$$#
**Cirq version**cierra elaine adkins :trade

You can get the cirq version by printing `cirq.__version__`. From the command line:

[code]

Approved, [Cash app]($iwannacat )

*all$$$&# 1008
CierraIDLE-

[2022-03-20 11:57] anonymousr007 opened #5105 "Pauli Transfer Matrix (PTM) superoperator"
**Is your feature request related to a use case or problem? Please describe.**

- Adds  `PTM` quantum channel

  - Tensor networks and graphical calculus for open quantum systems
Wood, Biamonte, Cory, Quant. Inf. Comp. 15, 0579-0811 (2015)
Open access: [arXiv:1111.6950v3](https://arxiv.org/abs/1111.6950)

  - Introduction to Quantum Gate Set Tomography
Daniel Greenbaum (2015)
Open access:[arXiv:15

[2022-03-21 01:27] daxfohl commented on #1179
@viathor @MichaelBroughton @tanujkhattar  Given we've chosen not to address #1731 should this be reopened?

Another salient example, it seems controlled gates are considered equal even if the control qubit order is swapped. However this seems very not equal, as they create different operations when applied to qubits. If the dimensions are different, this even throws an exception when trying to app

[2022-03-21 02:28] vtomole commented on #5104
Hey @ceytah,  https://github.com/quantumlib/Cirq/issues is only for issues related to Cirq. Given that. I'll close this.

[2022-03-21 02:28] #5104 closed

[2022-03-21 08:47] #4858 closed

[2022-03-21 16:40] daxfohl opened #5110 "ControlledGate equality seems too loose"
**Description of the issue**

Equality in controlled gate is implemented as follows, intentionally ignoring the order of the controls.

[code]

This means gates are considered equal even if their unitaries don't match.

[code]

In some cases the gate can't even be applied to the same qubits.

[code]

So, while there's a relationship between such gates, calling that relationship "equality" doesn't

[2022-03-21 23:00] mpharrigan opened #5120 "Should AbstractJob define __next__()?"
`AbstractJob` provides an `__iter__` method (currently just wraps a call to `self.results()` but default). I imagine this is to support a scheme where results can become available one at a time and you can consume them as they come in by using a for loop, for example.

I'm no expert, but I think we should also support calling `next()` on `AbstractJob`s for the same reason. Here's some docs: https:

[2022-03-21 23:01] mpharrigan commented on #5120
actually, following the docs I linked under "generators", I changed the definition of `__iter__` to:

[code]

and was able to use `next()`

[2022-03-21 23:02] mpharrigan opened #5121 "SimulatedLocalJob is not JSON Serializable"
It would be really helpful to have AbstractJob's descendants be serializable to keep a record of job_id and all the other wonderful goodies within.

[2022-03-21 23:04] mpharrigan commented on #5121
Although it gets tricky, since the job is one part data chunk (id, create_time, update_time, description, labels, ...) and one part future (get_results, cancel, ...). I'd really only need a record of the data chunk part

[2022-03-21 23:09] mpharrigan commented on #5121
This is pretty similar to the private `EngineJob._job` field, which is a `quantum.types.QuantumJob` proto. What's best practice here? should we wrap this in a Python class or make this proto part of the abstract interface and make it json serializable? also cc @verult

[2022-03-21 23:19] mpharrigan commented on #4737
Re-opening as this was never fixed for me by the linked PR. Would appreciate any further investigation or assistance

<summary>Full Log</summary>
<details>

[code]
</details>

[2022-03-21 23:50] mpharrigan commented on #2763
I'm really confused. You closed this referencing another issue which I'm very unsure why it was closed

[2022-03-21 23:57] MichaelBroughton commented on #5105
[code]

Could you elaborate a little more on what this means ? Is the plan to add some kind of new feature to our channel modules or some kind of experiment module to compute a PTM or something else entirely ?

[2022-03-21 23:59] MichaelBroughton commented on #5068
@ironmanaudi going to close this for now.

[2022-03-21 23:59] #5068 closed

[2022-03-22 00:32] daxfohl commented on #1179
A better example of a common place this doesn't hold. Dictionaries in Python are ordered (now), so:

[code]

[2022-03-22 00:42] Cynocracy commented on #4901
I was looking into this, and found https://github.com/quantumlib/Cirq/pull/4925 recently that seems to have made changes to how cirq-ionq exposes these, but it doesn't support nqubits > 2 which is strange.

Anyway, it's making my changes a bit more involved than I intiially thought, so just calling it out.

Am shooting to continue to support that high level interface but to use a `[TwoQubitCompila

[2022-03-22 00:51] Cynocracy commented on #4901
Hmm, maybe I'm just not understanding. The diff looks like it tried to preserve behavior.

Going to continue to try to wrap my head around things :) hopefully a PR emerges soon

[2022-03-22 14:57] 95-martin-orion commented on #2763
This was discussed in the Cirq sync (and I'm only now seeing the comment on the other issue about transcribing discussions...sorry about that!) but I think the intent was not to mark this as complete, but to remove it from the open items leading into 1.0. Now that we have the `time/after-1.0` tag, we can annotate with that and keep this open.

[2022-03-22 14:59] 95-martin-orion commented on #2763
Note that `time/after-1.0` was added with the understanding that the general task (adding all distance measures) is not prioritized prior to the 1.0 release, but individual distance measures can still be prioritized by opening focused issues with the `time/before-1.0` tag.

[2022-03-22 16:28] mpharrigan commented on #2763
got it, thanks!

[2022-03-22 20:15] #5039 closed

[2022-03-22 21:45] Cynocracy commented on #4901
Have my changes staged, but am confused by the sudden appearance of `cirq.PhasedXZGate` in the test output :( I've tried using the base class and TwoQubit[...]

[2022-03-22 21:56] Cynocracy commented on #4901
The full failure is

[code]

And I'm puzzled as how I've changed this behavior at all.

Any ideas?

[2022-03-22 21:59] MichaelBroughton opened #5128 "[AQT] Vendor Transformer adoption"
**Summarize the task**
With broader changes to devices (#4744) and optimizers/trasnformers (#4722), vendors might need to update device decomposition to use the newest transformer APIs. At first glance it looks like:

----------------------------------------------------------------------
`cirq-aqt` uses cirq native ion devices which have had their `decompose_operation` method deprecated in favor o

[2022-03-22 22:04] Cynocracy commented on #4901
mm, I'm wondering if it's the yield statements and me not understanding where/why things are generators.

[2022-03-22 22:04] MichaelBroughton opened #5129 "[IONQ] Vendor Transformer adoption"
**Summarize the task**
With broader changes to devices (https://github.com/quantumlib/Cirq/issues/4744) and optimizers/trasnformers (https://github.com/quantumlib/Cirq/issues/4722), vendors might need to update device decomposition to use the newest transformer APIs. At first glance it looks like:

-----------------------------------

`cirq-ionq` has their own devices and should be in a good posit

[2022-03-22 22:10] MichaelBroughton opened #5130 "[Pasqal] Vendor Transformer Adoption"
**Summarize the task**
With broader changes to devices (https://github.com/quantumlib/Cirq/issues/4744) and optimizers/trasnformers (https://github.com/quantumlib/Cirq/issues/4722), vendors might need to update device decomposition to use the newest transformer APIs. At first glance it looks like:

-----------------------------------------
`cirq-pasqal` is rolling their own `PasqalConverter` optim

[2022-03-22 22:21] Cynocracy commented on #4901
I am stuck again, still ending up with a cirq.PhasedXZGate in the compiled circuit, which should be broken up. Pushed my latest yield-less changes

[2022-03-22 23:08] tanujkhattar commented on #4901
@Cynocracy You also need to override the `postprocess_transformers` property of your compilation target gateset and remove `merge_single_qubit_moments_to_phxz` transformer phase.

See https://github.com/quantumlib/Cirq/blob/45624ff7259f53589c2139c97108d8bf11502173/cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset.py#L114

[2022-03-23 00:19] verult commented on #4029
Marking as triage/accepted based on comments.

[2022-03-23 00:48] verult commented on #5121
Wearing my Cirq triage rotation hat: Marking as accepted as providing serialization for the data part makes sense to me, but the best practice remains an open question.

What's your use case, by the way?

[2022-03-23 10:41] HGSilveri commented on #5130
The `PasqalConverter` and `ConvertToNeutralAtomGates` are almost identical, so if `ConvertToNeutralAtomGates` is turned into a transformer, then `PasqalConverter` should naturally follow.

[2022-03-23 18:43] 95-martin-orion commented on #5120
Doug: let's follow the standard for the dunder method, but this sounds fine

[2022-03-23 18:54] 95-martin-orion commented on #3642
Cirq sync: this is complete...enough. We can open new issues if more visualizations are needed.

[2022-03-23 18:54] #3642 closed

[2022-03-23 18:55] augustehirth commented on #2113
I agree with this and am glad to work on it if there's consensus, as I'm already working on some other XEB tutorial related improvements.

[2022-03-23 19:04] verult commented on #5008
This page will get an overhaul soon with the new device refactor. Will address this as part of that effort

[2022-03-23 19:27] daxfohl commented on #5110
Cynq notes:  Change this in the gate, but continue to allow operations to ignore ordering. This will be consistent with the behavior of `DensePauliString` vs `PauliString`.

* linking #1179

To the 2nd paragraph of the above comment, there are examples of other things in Python where `x==y` does not imply `f(x)==f(y)`, for example `{1:1,2:2}=={2:2,1:1}` but `list({1:1,2:2}) != list({2:2,1:1})`. So

[2022-03-23 20:50] mpharrigan opened #5132 "cg.get_engine_sampler gate_set_name should be made optional"
As far as I can tell, `Engine.get_sampler`'s `gate_set` argument is now optional. As such, `cg.get_engine_sampler` should not require a gate_set_name.

Also: we don't have a CZ gate in `gatesets.NAMED_GATESETS` or `GOOGLE_GATESETS`

[2022-03-23 20:58] maffoo commented on #5132
We could deprecate `cg.get_engine_sampler` entirely, since this is equivalent to `cg.get_engine(...).get_processor(...).get_sampler()`. But I agree if we keep it around we should make the gate set arg optional, as it is on [`EngineProcessor.get_sampler`](https://github.com/quantumlib/Cirq/blob/master/cirq-google/cirq_google/engine/engine_processor.py#L104).

[2022-03-24 12:45] dstrain115 commented on #5120
Added #5136.  @mpharrigan let me know if that fully addresses your concerns.

[2022-03-24 15:53] #5120 closed

[2022-03-24 22:28] dabacon commented on #5129
@Cynocracy (who should probably be added to the owners)

[2022-03-25 16:56] vtomole opened #5148 "New implementation of `_group_interchangeable_qubits` can create duplicate keys in returned `Tuple`"
**Description of the issue**
https://github.com/quantumlib/Cirq/pull/4941 modified the implementation of `_group_interchangeable_qubits`, but in doing so inadvertently made a breaking change in how the returning `Tuple` is constructed.

The example code below shows how the constructed tuple would return `((0, frozenset({cirq.LineQubit(0), cirq.LineQubit(1), cirq.LineQubit(3)})), (2, frozenset({cir

[2022-03-25 23:34] tanujkhattar opened #5150 "Fix docstrings for type aliases in cirq.circuits.circuit.py"
**Description of the issue**
The docstrings for type aliases defined in `cirq.circuits.circuit.py` are not helpful and should be improved / fixed.

For example:
See https://quantumai.google/reference/python/cirq/circuits/circuit#CIRCUIT_TYPE

Where does the line "[INT_TYPE](https://quantumai.google/reference/python/cirq/circuits/circuit/INT_TYPE): The central part of internal API." comes from?

Th

[2022-03-25 23:45] tanujkhattar opened #5151 "Parent bug to track progress of docstring bugfixes to improve cirq reference for Cirq 1.0 launch"
**Description of the issue**
As part of launching Cirq 1.0, we need to make sure that the docstring reference on our site is polished. This bug is to track the various open issues to fix docstring errors for cirq reference as part of heading towards the Cirq 1.0 launch.

All contributors are encouraged to go through the website and report bugs here. Contributors are also encouraged to send PRs fix

[2022-03-26 00:09] Dripto commented on #3897
just wanted to +1 @viathor's suggestion for an exception to be raised if you don't use an instance. This has also come up for me with `NoSyncTag()` in the past.

[2022-03-28 16:00] #4400 closed

[2022-03-28 19:43] dstrain115 commented on #2536
@tanujkhattar Do we think this is done with GateFamily?

[2022-03-28 19:44] mpharrigan commented on #662
closing due to incomplete specification; please reopen with more detail if this is still a problem

[2022-03-28 19:44] #662 closed

[2022-03-28 19:45] dstrain115 commented on #3327
This doesn't sound too difficult, and between Matt and I, we should move this to ReCirq before 1.0

[2022-03-28 19:46] tanujkhattar commented on #5004
@95-martin-orion  To confirm, this is post 1.0 IMO. Please confirm.

[2022-03-28 19:47] MichaelBroughton commented on #1071
This seems to have gone stale with the new transformers API. Can we close this @kevinsung and re-open for transformers ?

[2022-03-28 19:47] dstrain115 commented on #4153
Adding @tanujkhattar as assignee since he is looking at updating transformers now anyway.

[2022-03-28 19:48] dabacon commented on #2423
This bug needs to be updated for whether these are completed or not.  Given that list it should then be updated to decide whether this needs to be updated before or after 1.0

[2022-03-28 19:48] mpharrigan commented on #5121
we like to keep a record of all the job stuff to retrieve results, cross-check with calibrations, get metadata, etc while running experiments

[2022-03-28 19:48] MichaelBroughton commented on #4151
@tanujkhattar Can we close this since we aren't attaching devices to circuits anymore ?

[2022-03-28 19:49] 95-martin-orion commented on #4010
@dstrain115 it looks like a solution has been waiting for some time - can we merge it or close this?

Marking pre-1.0 in lieu of a decision here.

[2022-03-28 19:49] dstrain115 commented on #2984
@dabacon Can we close this issue?  It does not seem very relevant anymore.

[2022-03-28 19:49] mpharrigan commented on #4967
Is this actually `triage/accepted?`

[2022-03-28 19:50] MichaelBroughton commented on #3241
@95-martin-orion @daxfohl is this closed out now with our latest work on measurement ?

[2022-03-28 19:50] 95-martin-orion commented on #4059
Marked pre-1.0 as a component of Transformers.

[2022-03-28 19:51] mpharrigan commented on #3231
@95-martin-orion is this before or after 1.0?

[2022-03-28 19:52] mpharrigan commented on #935
closing due to inactivity / don't think this is still relevant

[2022-03-28 19:52] #935 closed

[2022-03-28 19:52] dstrain115 commented on #2214
This code no longer exists.  Closing.

[2022-03-28 19:52] #2214 closed

[2022-03-28 19:52] MichaelBroughton commented on #3234
Going to close for now since it looks like we've hit all of the bigger milestones for this issue. @daxfohl  let's open any more specific follow ons as needed.

[2022-03-28 19:52] #3234 closed

[2022-03-28 19:53] verult commented on #2215
cc @tanujkhattar to confirm but we can tackle this post 1.0 as this is for improving test coverage on visualizations.

[2022-03-28 19:55] tanujkhattar commented on #2553
This is fixed with the new transformer primitives. Specifically, executing the following code:

[code]

gives the output:

[code]

[2022-03-28 19:55] #2553 closed

[2022-03-28 19:55] dabacon commented on #4572
Is this fixed?

[2022-03-28 19:55] mpharrigan commented on #2412
related to #4449

[2022-03-28 19:56] dstrain115 commented on #4699
We can probably deprecate this class after the new device spec goes in.

[2022-03-28 19:56] MichaelBroughton commented on #4921
It looks like this has been fixed. Thanks @pavoljuhas

[2022-03-28 19:56] #4921 closed

[2022-03-28 19:56] mpharrigan commented on #2139
Gonna take the executive decision to close this as no longer in scope for cirq; the linked issue has been closed

[2022-03-28 19:56] #2139 closed

[2022-03-28 19:57] tanujkhattar commented on #2406
I'll marked this as fixed given the new moment preserving primitives, which are now intended to replace PointOptimizer completely. Please feel free to file another issue if you run into a scenario where the newly added moment preserving primitives are not sufficient and you need a moment preserving version of PointOptimizer.

[2022-03-28 19:57] #2406 closed

[2022-03-28 19:57] verult commented on #2964
Likely stale now that we are deprecating SerializableDevice, but will assign to myself to double check later whether this applies to the new device implementation.

[2022-03-28 19:57] mpharrigan commented on #3511
@tanujkhattar do you want to take this

[2022-03-28 19:57] MichaelBroughton commented on #4774
#5153 should close this.

[2022-03-28 19:57] #4774 closed

[2022-03-28 19:57] tanujkhattar commented on #2406
https://github.com/quantumlib/Cirq/pull/5154 adds a tutorial to Cirq on new transformer infrastructure, with details of newly added moment preserving primitives.

[2022-03-28 19:58] mpharrigan commented on #3413
@MichaelBroughton is this still relevant?

[2022-03-28 19:59] 95-martin-orion commented on #4969
Set as pre-1.0, but only for the purposes of deciding if we need this.

[2022-03-28 20:00] verult commented on #2677
Would be good to arrive at a decision before 1.0 in case there are breaking changes necessary.

[2022-03-28 20:01] MichaelBroughton commented on #4263
I think we can close now since our tests now have a more fixed random seed and the function now uses a fixed random generator for that test.

[2022-03-28 20:01] #4263 closed

[2022-03-28 20:02] mpharrigan commented on #4022
@tanujkhattar

[2022-03-28 20:02] mpharrigan commented on #3763
anyone know if this is still an issue @MichaelBroughton ?

[2022-03-28 20:03] tanujkhattar commented on #4968
@dabacon Change after-1.0 if you feel strongly about it.

[2022-03-28 20:03] kevinsung commented on #1071
Sure, I'm not familiar with the transformers API so I can't write a new issue for it, but feel free to close this one either way.

[2022-03-28 20:04] verult commented on #3734
Not sure if this has been done yet - cc @dstrain115 @mpharrigan

[2022-03-28 20:04] MichaelBroughton commented on #4186
Gonna close since this does look like a dupe.

[2022-03-28 20:04] #4186 closed

[2022-03-28 20:05] MichaelBroughton commented on #4088
@ybc1991 can we close this ?

[2022-03-28 20:05] dabacon commented on #4264
This appears to be fixed in #4290

[2022-03-28 20:05] #4264 closed

[2022-03-28 20:05] verult commented on #3349
cc @MichaelBroughton @tanujkhattar

[2022-03-28 20:05] dstrain115 commented on #4377
Tentatively putting pre-1.0 onto this issue.  It sounds like this issue is mostly done.  Tagging relevant people to update the issue and retriage.

[2022-03-28 20:06] 95-martin-orion commented on #4388
Do we know if this was already done? Otherwise it seems simple enough to add, but not priority for 1.0.

[2022-03-28 20:06] MichaelBroughton commented on #3913
@tanujkhattar Is this still relevant ?

[2022-03-28 20:07] mpharrigan commented on #1859
@tanujkhattar is this in your purview?

[2022-03-28 20:07] verult commented on #4819
Marking as after 1.0 as this is a feature addition.

[2022-03-28 20:08] tanujkhattar commented on #4359
I think this happens because `project_id` and `gatesets` are set as `None`. I agree this should probably raise instead of returning a device with no edges. @dstrain115 Please verify that this is post 1.0, since it's a project health task (raise if API is used in a way it's not supposed to).

[2022-03-28 20:08] dstrain115 commented on #4321
We should consider adding a documentation blurb about this on the "Import/Export circuits" or somewhere else before 1.0.  If documentation is in place, we can remove pre-1.0.

[2022-03-28 20:08] 95-martin-orion commented on #4332
Closing as won't-fix; given the lack of further discussion it looks like we're happy optimizing for performance.

[2022-03-28 20:08] #4332 closed

[2022-03-28 20:09] verult commented on #4007
@95-martin-orion does this require API changes to `ControlledOperation`? Marking as before-1.0 for now.

[2022-03-28 20:10] dstrain115 commented on #4293
@95-martin-orion Can this issue be closed now?

[2022-03-28 20:11] 95-martin-orion commented on #4129
Some of this has been done, but there's probably still room for improvement.

[2022-03-28 20:11] dstrain115 commented on #4279
@verult I think this can be closed as part of the device spec work.

[2022-03-28 20:11] verult commented on #2705
Use case no longer exists, closing

[2022-03-28 20:11] #2705 closed

[2022-03-28 20:12] #3633 closed

[2022-03-28 20:14] mpharrigan commented on #2677
I don't know how well-used `PauliSumCollector` is

[2022-03-28 20:14] dstrain115 commented on #4272
This can be closed as part of the new Devices API which no longer has can_add moment in the interface.

[2022-03-28 20:14] #4272 closed

[2022-03-28 20:14] verult commented on #4798
Marking as post Cirq 1.0 as this issue is not related to Cirq core. cc @MichaelBroughton

[2022-03-28 20:14] vtomole commented on #5058
We will update our Sympy version to `1.10` and fix the Mypy errors it throws. There are [plenty of them ](https://github.com/quantumlib/Cirq/runs/5452301675?check_suite_focus=true).

[2022-03-28 20:15] mpharrigan commented on #3734
this is low priority, moving to post-1.0

[2022-03-28 20:16] verult commented on #4721
Marking as after 1.0 as this is a feature addition

[2022-03-28 20:16] dstrain115 commented on #4244
Per @daxfohl this is complete.

[2022-03-28 20:16] #4244 closed

[2022-03-28 20:17] 95-martin-orion commented on #3716
Marking resolved since I can't remember seeing this since the two PRs above.

[2022-03-28 20:17] #3716 closed

[2022-03-28 20:18] MichaelBroughton commented on #3584
Can't repro. Closing for now, feel free to re-open if it re-appears.

[2022-03-28 20:18] #3584 closed

[2022-03-28 20:19] mpharrigan commented on #4377
cc #4698

Namespacing has received some upgrades for users of Cirq.

The testing infrastructure is what isn't set up for it. There's a workaround merged into the testing `spec.py`, which you can see in action for all of the `cirq_google.workflow` dataclasses. I think we'd need a pretty big re-work of the JSON testing framework to truly fix it. The only quote-unquote real issue would come if we had

[2022-03-28 20:19] dabacon commented on #4775
this has potential to change some interfaces, so probably want to see if it is possible before 1.0

[2022-03-28 20:19] MichaelBroughton commented on #3290
Transformers superceed this. Always returns new circuit. Closing.

[2022-03-28 20:19] #3290 closed

[2022-03-28 20:20] tanujkhattar commented on #3708
Closing as marked duplicate by @95-martin-orion in the above comment.

[2022-03-28 20:20] #3708 closed

[2022-03-28 20:21] dstrain115 commented on #3761
With the new Transformers API, circuit transformers now create a new circuit always and never modify in-place.  I think this is now fixed with the new Trasnformers API.

cc @tanujkhattar to verify.

[2022-03-28 20:21] #3761 closed

[2022-03-28 20:21] tanujkhattar commented on #3547
@95-martin-orion Decide whether this is pre/post 1.0

[2022-03-28 20:21] MichaelBroughton commented on #3143
This never really caught on for one reason or another. Going to close for now.

[2022-03-28 20:21] #3143 closed

[2022-03-28 20:21] verult commented on #4014
Marking as after-1.0 since only a documentation change is necessary.

[2022-03-28 20:22] mpharrigan commented on #5058
Is there a way to configure mypy to ignore these errors and fix them gradually. Like how we do for numpy types and the `mypy-next.ini` test.

We really don't want to be stuck on an old version of sympy indefinitely (which can actual implications for users!) to satisfy a CI check no one has any intention of urgently fixing, since it doesn't affect users

[2022-03-28 20:23] MichaelBroughton commented on #3080
This is going to be superceded by moving qubits information into devicemetadata. Think we are good to close here.

[2022-03-28 20:23] #3080 closed

[2022-03-28 20:23] dstrain115 commented on #3712
We can probably close this after numpy requirements go past 1.20 where they have mypy stubs.

[2022-03-28 20:24] kevinsung commented on #3766
I can't reproduce it anymore, so I'll close.

[2022-03-28 20:24] #3766 closed

[2022-03-28 20:25] 95-martin-orion commented on #3555
Resolved with two exceptions:
- `cirq.contrib` never moved out of `cirq-core`, so no issue there
- `json_test_data` remains under `cirq.protocols`, but moving it is nice-to-have

[2022-03-28 20:25] #2968 closed

[2022-03-28 20:28] MichaelBroughton commented on #2905
Is this still relevant @mpharrigan ?

[2022-03-28 20:28] 95-martin-orion commented on #3639
@MichaelBroughton is this resolved as of #4791?

[2022-03-28 20:29] #3208 closed

[2022-03-28 20:30] dabacon commented on #2626
I'm not sure if this is possible any more, but pre 1.0 should dedide if we want to do this.

[2022-03-28 20:30] MichaelBroughton commented on #2821
Has this been superceded by feature testbed stuff @mpharrigan ?

[2022-03-28 20:30] tanujkhattar commented on #2819
Having a list of `cirq.CompilationTargetGateset` exposed from `device.metadata.target_gatesets` is the solution now. @verult is working on it's adoption in cirq_google. I think we have all the abstractions in place to make this happen and device specific implementations will be part of migrating individual devices that can support multiple target gatesets.

cc @MichaelBroughton @verult I'm in favo

[2022-03-28 20:30] kevinsung commented on #3257
I'm fine with close this.

[2022-03-28 20:32] #3310 closed

[2022-03-28 20:32] verult commented on #3895
@ncrubin could you provide the function signatures you're envisioning?

cc @MichaelBroughton

[2022-03-28 20:32] tanujkhattar commented on #1426
@95-martin-orion Can you mark this as pre/post 1.0?

[2022-03-28 20:32] 95-martin-orion commented on #3289
@tanujkhattar did this survive the transition to Transformers?

[2022-03-28 20:33] MichaelBroughton commented on #2793
xref #5130 , #5128

[2022-03-28 20:35] MichaelBroughton commented on #2730
We've moved to new docs infra and this appears to have more complete docs now.

[2022-03-28 20:35] #2730 closed

[2022-03-28 20:35] dabacon commented on #4040
Is this done?

[2022-03-28 20:36] MichaelBroughton commented on #2737
Is this still an open concern ?

[2022-03-28 20:37] daxfohl commented on #4426
Yes, go ahead and close. It's not as thorough of a fix as what Balint suggested, but it's one in 900 million flake. https://github.com/quantumlib/Cirq/blob/9fd5af14d1fea2ea702c628834230f9611425523/cirq-core/cirq/sim/sparse_simulator_test.py#L1397

[2022-03-28 20:39] MichaelBroughton commented on #2492
This looks like it's in now. Going to close.

[2022-03-28 20:39] #2492 closed

[2022-03-28 20:39] 95-martin-orion commented on #3846
Chiming in here: noise models can contain user-defined methods for applying noise, which makes serializing these object complicated at best.

[2022-03-28 20:40] 95-martin-orion commented on #3002
Hey @daxfohl, did #4781 end up resolving this?

[2022-03-28 20:40] vtomole commented on #5058
Ah, yes. That sounds good to close this.

[2022-03-28 20:40] maffoo commented on #2737
I'd say yes this is still a concern. It'd be nice to unify these tomography functions, but not a blocker for 1.0.

[2022-03-28 20:40] verult commented on #3846
Marking as after 1.0 since this will be a feature addition and won't impact existing APIs. @95-martin-orion mentioned there are alternatives for realistic noise models, and if we do decide to pursue the approach in this issue, the two JSON serializations can coexist.

[2022-03-28 20:40] 95-martin-orion commented on #2988
@tanujkhattar is this complete? I remember Transformers removing some gateset-passing, but maybe not all of it.

[2022-03-28 20:41] MichaelBroughton commented on #798
We have dropped some validation in favor of performance as of late. Is this still an issue @cduck ?

[2022-03-28 20:41] dabacon commented on #3634
Marked as before, but could be after if there is no core code that needs to be changed.

[2022-03-28 20:41] #1071 closed

[2022-03-28 20:43] maffoo commented on #2988
We made gateset optional for most engine calls in https://github.com/quantumlib/Cirq/pull/4983. As a follow-up, we plan to deprecate and eventually remove the `gate_set` args (https://github.com/quantumlib/Cirq/issues/4995) but since that's being tracked separately I think we can probably close this.

[2022-03-28 20:44] 95-martin-orion commented on #2820
Paging @MichaelBroughton as the latest Device owner.

[2022-03-28 20:46] verult commented on #3951
Marking as after 1.0 since this is a bug fix for a rare flake.

[2022-03-28 20:46] 95-martin-orion commented on #2771
Is this still an issue?

[2022-03-28 20:55] 95-martin-orion commented on #958
Paging @MichaelBroughton and @tanujkhattar: I feel like between Devices and Transformers this should have been resolved.

[2022-03-28 20:55] daxfohl commented on #3002
Yes. That gets passed in from the `OperationTarget.log_of_measurement_results` property, which uses `get_digits`, which is integral not boolean. https://github.com/quantumlib/Cirq/blob/9fd5af14d1fea2ea702c628834230f9611425523/cirq-core/cirq/sim/operation_target.py#L91

[2022-03-28 20:56] 95-martin-orion commented on #930
@tanujkhattar for comments re: transformers.

[2022-03-28 20:58] verult commented on #3342
@MichaelBroughton Marking this one before-1.0 since it potentially requires Devices changes. Please feel free to change it though if you think it's purely a feature addition.

[2022-03-28 21:00] verult commented on #3055
Closing since this is a dupe.

[2022-03-28 21:00] #3055 closed

[2022-03-28 21:00] 95-martin-orion commented on #958
Discussed offline: qubit placement is now the responsibility of Feature Testbed. At lower levels, specific qubits chosen do not matter.

[2022-03-28 21:00] #958 closed

[2022-03-28 21:02] 95-martin-orion commented on #461
Bumping this to say this would still be really cool to have for simulator-optimization, but in lieu of that the repeat-until introduced in #5018 can achieve this (albeit at a much slower pace).

[2022-03-28 21:03] ACHirth commented on #4572
If the merged removal is sufficient, I think so!

[2022-03-28 21:04] 95-martin-orion commented on #5004
Confirmed. This requires design, and CCOs remain functional without it in the meantime.

[2022-03-28 21:05] augustehirth commented on #4572
If the merged removal is sufficient, I think so!

[2022-03-28 21:06] daxfohl commented on #2626
I'd looked at this and it would be a pretty big change. Alternately, we may want a consistency test that `gate == gate.on(...).gate` that is automatically run on all gates defined in the project. This should work on all our gates now. The first sentence of this issue reflects that *that* is the actual problem, so perhaps update the issue title.

[2022-03-28 21:08] 95-martin-orion commented on #3231
This is functionally complete as of #4781.

[2022-03-28 21:08] #3231 closed

[2022-03-28 21:09] 95-martin-orion commented on #4007
Unclear. It's possible this already works, but I don't know if we've verified. @daxfohl, have you tried this combination?

[2022-03-28 21:12] daxfohl commented on #4007
Basic functionality works. I haven't tried the decompose and such also mentioned in the issue. I'd leave it open.

[2022-03-28 21:17] 95-martin-orion commented on #3547
I have a strong feeling that @daxfohl has already accomplished this, but pinging him just to be certain.

Marked post-1.0 as it is non-breaking.

[2022-03-28 21:19] 95-martin-orion commented on #1426
Actually just going to close this - experiments since this was posted indicate that increasing float precision does not significantly improve simulation fidelity.

[2022-03-28 21:19] #1426 closed

[2022-03-28 21:21] maffoo commented on #3895
Not sure if this is what @ncrubin was referring to, but there's a rather big difference between `Sampler.run_batch` and the various flavours of `EngineProcessor.run_batch`:
[code]
All the metadata (program and job ids, labels, and descriptions) are not really applicable when running on most samplers where work is ephemeral and doesn't get persisted with metadata to be looked up later. Also, the sa

[2022-03-28 21:22] #3002 closed

[2022-03-28 21:23] daxfohl commented on #3547
This is unnecessary now, anything specialized now happens in the `_act_on_fallback_`. `_act_on_` is reserved for things that aren't simulator-specific (like CircuitOp and ClassicallyControlledOp). Most of that work was in https://github.com/quantumlib/Cirq/pull/4748/files. I'd say this can be closed.

[2022-03-28 21:36] #3547 closed

[2022-03-28 21:47] dstrain115 commented on #3803
Adding as pre 1.0 since this is documentation.  I don't see this as a high priority item though, so can be pushed if it can't be fit into the documentation hackathon.

[2022-03-28 21:49] dabacon commented on #2984
I believe noise models still do this, we should convert that to optional.

[2022-03-28 21:51] verult commented on #2936
This is a feature addition and doesn't require changes to the existing API (exponentiating with symbols), so marking as after-1.0.

[2022-03-28 21:52] dstrain115 commented on #1409
@Strilanc This issue has a bunch of somewhat unrelated (and big) challenges in a very vague and unspecified way.  Some of it has been addressed (optimizers to transformers API with a proposed visualization and logging).

I generally think this issue is too broad and too vague to make progress on.  I propose closing it as stale and creating more concrete issues, unless you have strong objections.

[2022-03-28 21:59] verult commented on #2740
cc @95-martin-orion - is the request in https://github.com/quantumlib/Cirq/issues/2740 handled by subcircuits?

[2022-03-28 22:03] verult commented on #2271
Keeping this before-1.0 as new validation will tighten the API. cc @95-martin-orion

[2022-03-28 22:06] dstrain115 commented on #1850
Do we still have this protocol?  If we are still going to remove this, we should do it before 1.0.

[2022-03-28 22:08] verult commented on #2103
Marking as after-1.0 assuming only method additions are necessary. cc @95-martin-orion

[2022-03-28 22:19] verult commented on #1060
Keeping this before-1.0 in case the final design requires backward-incompatible changes. cc @MichaelBroughton

[2022-03-28 22:24] verult commented on #4476
What's the most current design proposal? Could it potentially introduce backward-incompatible changes?

[2022-03-28 22:26] dstrain115 commented on #3915
I wasn't able to reproduce this, so I am not sure if it is still an issue.

[2022-03-28 22:34] dstrain115 commented on #3614
I think this should be after 1.0.  Do you agree @95-martin-orion ?

[2022-03-28 22:48] 95-martin-orion commented on #2740
Subcircuits don't solve the issue as stated in the first comment (though Dave's suggestion seems like a reasonable way to do that), but they resolve everything discussed afterwards; subcircuits are labeled in diagrams and simplify thinking about large, repetitive circuits.

[2022-03-28 22:50] 95-martin-orion commented on #3614
If we do this post-1.0 it needs to be an opt-in feature, but otherwise I think after is reasonable.

[2022-03-28 22:55] daxfohl commented on #4007
Also consider adding a has_unitary(sub_op) in the ControlledGate and ControlledOp constructors. Xref #4476

[2022-03-29 00:42] mpharrigan commented on #4476
If i'm reading this correctly, the proposal was

 - simulate should still work for non-unitary operations
 - Possibly add a field into the result returned
 - Go ahead with #1740 to add sample_final_state_vector()

(1) is a no-op

(2) was tried by @daxfohl but then it was nixed

(3) is captured by #1740

so maybe this issue is redundant?

[2022-03-29 00:44] mpharrigan commented on #3342
I think devices now support adjacency information, so that part's fine.

The function in question still needs to learn to consume adjacency information, but that can be a post-1.0 feature addition

[2022-03-29 00:46] mpharrigan commented on #2771
the behavior has not changed (I just ran the snippet provided)

[2022-03-29 00:48] mpharrigan commented on #2820
#4842 is sortof what I was imagining here. I was hoping it would be more of a native part of our type ecosystem rather than sitting on top of Sampler, AbstractProcessor, and Device; but that's where we are

[2022-03-29 00:49] mpharrigan commented on #2821
That would be a natural place for it, although it doesn't exist yet. Probably blocked by #5023

[2022-03-29 00:51] mpharrigan commented on #2905
The notebook isn't broken, but it's still pretty cluttery

[code]

[2022-03-29 03:40] verult commented on #2819
I'm leaning towards leaving this issue open for now until the abstraction is implemented in cirq_google, so that we can get some user feedback on the final API before marking this as fixed.

[2022-03-29 06:46] daxfohl commented on #4582
Option (3) that I mentioned two comments above is done as of #5065. That PR created an interface `qis.QuantumStateRepresentation`: https://github.com/quantumlib/Cirq/blob/fe7fe4e1d29e6b5fcc1643c0c73c26f8b37adae1/cirq-core/cirq/qis/clifford_tableau.py#L28

This has implementations
1. `sim._BufferedStateVector`
2. `sim._BufferedDensityMatrix`
3. `contrib._MpsHandler`
4. `qis.CliffordTableau`
5. `sim

[2022-03-29 17:04] dabacon commented on #2984
Thinking more about this, I actually think the virtual tag is OK for the noise models.  Submitted a PR to clarify the tag docstring which I think will close this.

[2022-03-29 18:51] verult commented on #4476
Closing this for now per comment above, but please feel free to reopen if you think that's a mistake!

[2022-03-29 18:51] #4476 closed

[2022-03-29 18:53] verult commented on #2740
Ack, closing. @ijdavis @alexandrupaler please feel free to reopen if suggestions in this thread don't satisfy your use cases.

[2022-03-29 18:53] #2740 closed

[2022-03-29 19:04] verult commented on #3895
Ack, @maffoo my understanding of your comment is that the functions are different by design, and that we should try to rely on `Sampler` more going forward. I'll close this issue since the original concern is by design, but please feel free to reopen this @ncrubin if the comments haven't addressed your concerns.

[2022-03-29 19:04] #3895 closed

[2022-03-29 20:12] dstrain115 commented on #1121
There are instructions on how to install with mac and windows here:
https://quantumai.google/cirq/install#installing_on_windows
https://quantumai.google/cirq/install#installing_on_mac_os_x

I am closing this.  If people have specific issues on installing on these platforms, they can open a new bug about the problem(s) they encountered.

[2022-03-29 23:39] dabacon commented on #2626
OK so if we reduce the scope to testing this, I think the challenge is going to be generating instances of all of the gates.  I thought about using the json test data for this, anyone have a better idea?

[2022-03-30 05:34] MichaelBroughton opened #5166 "Docs builds for GridInteractionLayer and XebResultDict are broken"
**Description of the issue**
Currently we cannot run the `build_api_docs.py` and build the API docs for `GridInteractionLayer` or `XebResultDict`.

**How to reproduce the issue**

[code]
Removing the `private_map` entry in `build_api_docs.py` above and then running the build script gives:

[code]

**Cirq version**
[code]

[2022-03-30 16:37] dabacon opened #5167 "PauliStringPhasorGate does not round trip via operation and gate method."
**Description of the issue**

Following #2626 it was discussed that instead of always producing `GateOperation`s, one should instead check that `gate(*qubits).gate == gate`.  However this fails for PauliStringPhasorGate:
[code]
prints
[code]
The issues seems to be that DensePauliString#on drops the I.
[code]
prints
[code]

**Cirq version**
v0.15dev

[2022-03-30 18:19] MichaelBroughton commented on #2041
Brought up again: Should just promote types as needed to complex.

[2022-03-30 18:29] MichaelBroughton commented on #5148
Discussion from sync meeting: Lets try and get this back into a state where you can only have one key, and also add tests.

[2022-03-30 18:30] dstrain115 commented on #4321
Confusion about this came up in the 3/30/2022 cirq cync, strengthening the case for documenting this.

[2022-03-30 18:41] #3257 closed

[2022-03-30 22:35] dstrain115 commented on #4796
This was fixed in #4908.

[2022-03-30 22:35] #4796 closed

[2022-03-30 22:36] dstrain115 commented on #2405
Resurfacing this as a discuss item, so we can figure out if this is really needed or not.

[2022-03-30 22:45] maffoo commented on #2405
I like @dabacon's suggestion about `q(1, 2)` with support for line qubits and named qubits as well. Could even have a `cirq.q` function that can be called in each of these ways and is overloaded to produce the appropriate qubit type.

[2022-03-31 01:00] verult opened #5169 "GridDeviceMetadata: qubit ordering within a pair"
**Description of the issue**
Today `GridDeviceMetadata` always stores `qubit_pairs` such that the left <= right (lexicographically) in a pair, so the pair `(right, left)` is not in `GridDeviceMetadata.qubit_pairs`.

Is this intended behavior? AFAIU the `DeviceSpecification` proto doesn't guarantee an ordering within a qubit target. The caller could sort the pair before checking against `qubit_pair

[2022-03-31 12:54] dstrain115 commented on #2819
I think we should close this issue.  Between the new Devices API and Transformers/`cirq.CompilationTargetGateset`, I think most of these issues are solved from a conceptually basis.  There's not a clear action item besides that in this bug, so I think
we should close this issue now.  @mpharrigan Do you agree that this issue can be closed now?

[2022-03-31 12:56] dstrain115 commented on #2988
Closing this, as the direct issue (requiring gate set on calls) is complete and the remaining work is captured in other issues.

[2022-03-31 12:56] #2988 closed

[2022-03-31 13:00] #3729 closed

[2022-03-31 13:04] dstrain115 commented on #3944
@MichaelBroughton Do you want to weigh in?  I do not think this is needed before Cirq 1.0, especially if we revamp release process after Cirq 1.0.  I am removing the before 1.0 tag unless you have objections.

[2022-03-31 13:07] #4572 closed

[2022-03-31 13:12] dstrain115 commented on #4967
I think this is worth another discussion, especially given Dax's comments on how this is not as straightforward as it seems on face value.

[2022-03-31 13:20] dstrain115 commented on #3305
I don't think that this needs to be done as part of Cirq 1.0.  Adding console_url() is extra functionality.  Even if we "break backwards compatibility" by changing job URLs, we do not have public access to the API, so I don't think this is a crucial breakage (or even covered by our library guarantees, as it is external functionality).  I propose this should be after 1.0.

@95-martin-orion Do you a

[2022-03-31 14:40] daxfohl commented on #5167
Ick, I'd say if this isn't trivial, then ignore my comment in #2626 and go for the gold. Having everything that has a gate be a GateOperation would be a nice improvement.

[2022-03-31 20:20] #3588 closed

[2022-04-01 01:05] tanujkhattar commented on #3237
New primitives have been added and current optimizers have been migrated to use the new primitives. Migration of optimizers in vendor packages is being tracked in another open issue, so I'll close this now.

[2022-04-01 01:05] #3237 closed

[2022-04-01 01:07] tanujkhattar commented on #2536
Yes, implementing equality across types for (potentially parameterized) gates is a hard problem. The preferred way to do this for specific use cases now is to use `cirq.GateFamily` (eg: see `cirq_google.FSimGateFamily`).

I'll mark this as closed now.

[2022-04-01 01:07] #2536 closed

[2022-04-01 01:19] tanujkhattar commented on #4483
Migration of optimizers in vendor packages is being tracked as part of roadmap item https://github.com/quantumlib/Cirq/issues/3238

The work on transformer API is now complete, including addition of new docs. I'll mark this as closed.

[2022-04-01 01:19] #4483 closed

[2022-04-01 01:33] #5110 closed

[2022-04-01 08:26] Strilanc opened #5172 "cirq-web shows a blank window for circuits with no-target operations"
It would be reasonable to ignore no-target operations, as they are usually some sort of unobservable annotation. But currently cirq-web crashes instead.

Run this python code and then open the generated page and look at the browser console:

[code]

The python code succeeds, but the browser console says:

[code]

[2022-04-01 08:27] Strilanc opened #5173 "cirq-web doesn't support LineQubit"
[code]

results in

[code]

[2022-04-01 12:47] dstrain115 commented on #4197
This seems to be fixed and the warning no longer shows up on the page.

[2022-04-01 12:47] #4197 closed

[2022-04-01 22:06] dstrain115 commented on #3704
I think this was done in #4131.  This dependency is no longer pinned.

[2022-04-01 22:06] #3704 closed

[2022-04-04 20:12] drewrisinger opened #5190 "[Releases]: Tests w/ versions fail on release tags"
**Description of the issue**
Certain cirq tests require the version number to be correct to pass. These tests were not corrected in the tagged source releases, so attempts to build ``cirq`` from source fail tests unless the source is patched.

I've been building cirq from source for several releases, and ``0.14.0`` is the first one requiring patches to pass tests.

**Cirq version**
``0.14.0``

**F

[2022-04-04 22:28] maffoo opened #5193 "DensityMatrixSimulator does not allow specifying initial state vector as an array"
**Description of the issue**

**How to reproduce the issue**

[code]

<details>

[code]
</details>

**Cirq version**

[code]

Note that passing a state vector as an array to `cirq.to_valid_density_matrix` does work, so it seems `cirq.DensityMatrixSimulator` is not using that.

[2022-04-04 22:35] daxfohl commented on #5193
Is this same as https://github.com/quantumlib/Cirq/issues/3958?

[2022-04-04 22:43] maffoo commented on #3958
Also doesn't allow specifying initial state as a state vector, e.g. a vector of shape `(2**len(qubits),)`:
[code]

<details>

[code]
</details>

[2022-04-04 22:44] maffoo commented on #5193
Yeah, basically the same thing. Closing this as a dupe.

[2022-04-04 22:44] #5193 closed

[2022-04-05 00:04] verult commented on #4279
Yep, closing in favor of https://github.com/quantumlib/Cirq/issues/5050

[2022-04-05 00:04] #4279 closed

[2022-04-05 00:29] verult opened #5197 "Gateset: Invalid repr if the gateset is empty"
**Description of the issue**
If a `Gateset` doesn't contain any gates, the repr contains an extra comma:
https://github.com/quantumlib/Cirq/blob/e31b48d04c7a3dea6bc2e5e320b0c606bbf13700/cirq-core/cirq/ops/gateset.py#L408-L411

@tanujkhattar Should we fix the repr or make empty Gatesets invalid?

**Cirq version**
0.14

[2022-04-05 22:15] Cynocracy commented on #4153
+1 to this ticket, I think like you mentioned, not including default decompositions was a bug, not a feature.

[2022-04-06 07:30] maffoo commented on #4587
This is partly fixed by https://github.com/quantumlib/Cirq/pull/5045, which cleans up the logic including removing hard-coded `sqrt_iswap`. We could potentially refactor things a bit to address the fact that the `start.ipynb` notebook doesn't actually use the sampler or device returned by the helper function, but rather just checks that we are authenticated and then connects to quantum engine late

[2022-04-06 12:15] dstrain115 commented on #1850
Adding back to triage/discuss since @tanujkhattar did not see a reason to deprecate it.

[2022-04-06 17:55] tonybruguier commented on #5173
It doesn't support NamedQubits either, I think

[2022-04-06 18:20] Cynocracy opened #5210 "Patch release for cirq-ionq"
Hi!

I'm hoping to get clarity on whether we're able to do patch releases for specific pypi packages, in this case, cirq-ionq

We recently changed to return a more specific 'target' value in our API, which means https://github.com/quantumlib/Cirq/commit/fe7fe4e1d29e6b5fcc1643c0c73c26f8b37adae1 needs to be released, or cirq will treat 'qpu.target' jobs as being probabilistic simulation results.

Is

[2022-04-06 18:21] Cynocracy commented on #5210
Feature-request because not sure what to tag this with :)

[2022-04-06 18:34] tanujkhattar commented on #5169
We assume that GridDevice will always be symmetrical, so if there's a device where a 2-qubit gate can only be done in one direction, then we should create a new gate type and corresponding new device metadata type.

For device specification proto: Calibration metrics are not in the device proto but assume bidirectionality. Device specification proto can specify one-way edges. So, we should introdu

[2022-04-06 18:36] tanujkhattar commented on #5197
We should fix this.

[2022-04-06 18:45] tanujkhattar commented on #2405
From cirq sync:

We should do this!

[2022-04-06 18:56] #4151 closed

[2022-04-06 19:41] verult commented on #5169
To clarify, this bug is indeed about the bidirectional case. The bug (or feature?) is that a pair `(l, r)` is only considered to be in `qubit_pairs` if `l < r`, even though `(r, l)` is a valid pair. Today the DeviceSpecification is allowed to specify either `(l, r)` or `(r, l)`.

We could either make GridDeviceMetadata keep the requirement that `l < r`, in which case the docstring needs to be upda

[2022-04-06 20:10] dabacon commented on #1850
We can probably keep it.  It's an example of a very specific protocol tightly coupled to a particular transformer, which is not great.

[2022-04-06 20:29] dstrain115 commented on #1850
It was decided to keep this protocol after all.  The consensus in cirq cync was that this didn't really affect anyone negatively and did provide some small value, so that we would keep it in.

The above functionality to propagate Z's through swaps had already been added to EjectZ.

Closing this issue.

[2022-04-06 20:29] #1850 closed

[2022-04-06 22:49] #5173 closed

[2022-04-06 23:11] 95-martin-orion commented on #2570
@dkafri Which of these (noise before or after the affected gate) is more consistent with the error-to-noise pipeline? I think it's feasible to make this change, but if noise-after-gate is a better match for what we measure from hardware then it's not worth the switch.

[2022-04-06 23:36] 95-martin-orion commented on #2775
Observations from ~two years later:

- Some optimization-type behavior has been removed from `Circuit` , such as device details (#4744)
- Insertion strategies have remained largely unchanged since this issue
- Time costs in circuit construction have become a bottleneck in some cases: one example is a 15,000 gate circuit which Cirq takes upwards of two seconds to initialize

There's definite merit

[2022-04-06 23:40] 95-martin-orion commented on #2807
The entire "metrics-to-noise" concept has evolved wildly since this issue was opened - for the current state, see #4666 and related PRs. As those PRs generate noise which we've verified to be within normal hardware variance, I don't see an urgent need for the error types described above.

If we decide to pursue _other_ error modes (e.g. leakage into the `|2>` state), we can open a separate issue f

[2022-04-06 23:40] #2807 closed

[2022-04-06 23:45] 95-martin-orion commented on #3347
+1 to this, Google internals were upgraded recently (to Python 3.9, I think) and there's a number of cleanup actions we can take once 3.6 support is dropped.

[2022-04-06 23:49] 95-martin-orion commented on #3438
@mpharrigan, what remains to be done here? It looks like gzip support was added, and repetitive circuits can be further condensed using `CircuitOperation`s.

[2022-04-06 23:56] 95-martin-orion commented on #3613
This looks like a diagram-formatting issue, which I'm inclined to punt to after 1.0. @dabacon, do you see part of this that needs resolved before then?

[2022-04-07 00:53] dabacon opened #5214 "API docs don't show init when class string is defined"
**Description of the issue**

The API docs don't appear to show the doc string for the `__init__` method when there is string supplied to the class string. The doc string for the `__init__` method is often much more useful.

Here is an example:
https://quantumai.google/reference/python/cirq/ops/ResetChannel

[2022-04-07 01:37] Cynocracy opened #5216 "Cirq-ionq uses unparseable ASCII character"
Filing this as both a slight-annoyance we plan on tackling and a 'buganizer Wonderbug' for @dabacon since I can't bug him on buganizer for real anymore ;)

Cirq uses unparseable ASCII characters in its serialization format for IonQ. This is not actively causing issues, but it has broken us in the past. We would like to stop using them, and this bug tells the story of why.

1. How should it (even)

[2022-04-07 01:51] Cynocracy commented on #5216
Anyway, we found this one day when our server-side serializer got a little less smart, and started returning '\x1f' without encoding it.

This is called out in https://www.rfc-editor.org/rfc/rfc7159#page-8

[code]
but you'd have to unicode to know that :)

[2022-04-07 03:10] #4995 closed

[2022-04-07 13:08] dstrain115 commented on #5169
I think this should be automatic.  GridDeviceMetaData should sort the pairs automatically for you, removing the burden from the caller, and making the behavior consistent.

[2022-04-07 13:16] dstrain115 commented on #3816
@tanujkhattar What is the action item here?  Should we deprecate CircuitDag?

[2022-04-07 17:12] verult commented on #5169
That's my preference as well. Will send out a fix.

[2022-04-07 17:13] #4460 closed

[2022-04-07 17:20] verult commented on #3349
Ack, I wasn't sure whether it's confirmed that it will be separate from MatrixGate at first, but reading the issue again it does seem like the recommendation leans towards implementing it separately. Moving to after 1.0 but @MichaelBroughton lmk if you think otherwise.

[2022-04-07 17:53] maffoo commented on #3929
I got started on this and it turns out the `cirq.r*` rotation functions are used in a lot of places. The main difference from the `cirq.R*` gates is that the functions don't require a keyword arg, so that instead of `cirq.Rx(rads=pi)` you can do `cirq.rx(pi)`, which seems like a nice shorthand for some very common operations. Before we go to the trouble of fixing all the use cases, I just want to

[2022-04-07 18:22] dabacon commented on #5216
Wonderbug indeed!

There is no reason to not use another character, as far as I remember.  This is a hack to get around that the IonQ api doesn't have a concept of measurement key IIRC.

[2022-04-07 19:18] Cynocracy commented on #5210
@MichaelBroughton any more info needed to move forward on this? Thanks for considering it!

[2022-04-07 20:12] #3898 closed

[2022-04-07 21:42] #4383 closed

[2022-04-07 22:18] #3695 closed

[2022-04-07 22:27] maffoo commented on #3929
@MichaelBroughton, do you have a preference here?

[2022-04-07 23:59] MichaelBroughton commented on #3929
I think we should leave as is. I'm in favor of closing (it would be a lot of work to get this done pre 1.0).

[2022-04-08 00:45] #3929 closed

[2022-04-08 06:07] maffoo commented on #4327
Very few things in python are _truly_ immutable; would we be okay just documenting that `ParamResolver` expects that the dict passed to it will not be mutated, or do we want to try to more enforce immutability more strictly? One possibility would be to make a defensive copy of the input dict, as in https://github.com/quantumlib/Cirq/pull/4329, but this may have performance implications in tight lo

[2022-04-08 07:17] maffoo commented on #3767
What is the goal for before-1.0 here? I made progress on fixing the numpy errors in `check/mypy --next` in https://github.com/quantumlib/Cirq/pull/5227, but if we want to fix all the remaining ~100 errors it's going to be quite a bit of work. This seems like something that could reasonably be postponed until after 1.0, though I do think it'd be good to continue to push on this so we can enable myp

[2022-04-08 07:18] maffoo commented on #5150
Looks like tensorflow docs have the same issue: https://www.tensorflow.org/addons/api_docs/python/tfa/types

[2022-04-08 07:43] maffoo opened #5228 "ArithmeticOperation examples render with a bunch of xml cruft"
**Description of the issue**

The docstring for `ArithmeticOperation` has an `Examples:` section with code in triple backticks: https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/ops/arithmetic_operation.py#L43. This renders on the docsite with a bunch of XML cruft: https://quantumai.google/reference/python/cirq/ops/ArithmeticOperation#examples

![arithmetic-operation](https://user-imag

[2022-04-08 07:43] maffoo commented on #5228
xref #5151

[2022-04-08 07:52] maffoo commented on #5150
LOL at the docstring showing `TYPE_CHECKING` in the "Other Members" section of the module docs. That should never be shown. How do we file issues like this about the docsite? Would the docsite respect `__all__` if we were to define it?
![Screenshot from 2022-04-08 00-49-39](https://user-images.githubusercontent.com/129268/162390431-91374c6a-ba51-468c-90e1-7f2592b0edd1.png)

[2022-04-08 08:08] maffoo commented on #4737
@mpharrigan, we updated the generated code in #5139 so the file referenced in the warnings no longer exists:

Could you try again to see if that has fixed these warnings? The new generated code uses the `proto-plus` library rather than the default generated proto code.

[2022-04-08 08:12] maffoo commented on #4161
GAPIC code was updated in #5139. Can someone check if this is fixed?

[2022-04-08 12:32] 95-martin-orion commented on #4327
This is already documented:
https://github.com/quantumlib/Cirq/blob/f1ea0bd78ce3b287ca925c2306919134650c2607/cirq-core/cirq/study/resolver.py#L53
I'm loath to introduce performance reductions to ParamResolver specifically as it's part of the cirq-to-qsim translation hot path, which we're actively trying to speed up.

[2022-04-08 15:54] #3958 closed

[2022-04-08 16:29] #5228 closed

[2022-04-08 16:49] 95-martin-orion commented on #3634
This has been demonstrated to work and documented in #5221.

[2022-04-08 16:49] #3634 closed

[2022-04-08 17:04] maffoo opened #5231 "Docs: Filter out TYPE_CHECKING from public docs"
**Description of the issue**

The `TYPE_CHECKING` variable imported from `typing` shows up in API docs (example: https://github.com/quantumlib/Cirq/issues/5150). We should filter it out, since it's not part of the cirq API. Per @dabacon's [comment](https://github.com/quantumlib/Cirq/pull/5229#issuecomment-1093080151), we should be able to do this in `dev_tools/docs/build_api_docs.py`.

[2022-04-08 17:06] dabacon opened #5232 "Documentation on gate constants should show that it is called on Qids"
Example is cirq.X which shows up as `cirq.ops.X(*args, **kwargs)`

https://quantumai.google/reference/python/cirq/ops/X

These should show up as constant without the callable args and kwargs.

[2022-04-08 17:18] MichaelBroughton commented on #5210
Hmmm can you confirm that if you install the v0.14 release branch and then cherry pick this commit in, it is everything we need (no other follow ons needed) ? If that's the case I will do the same and cut a release on the weekend.

[2022-04-08 18:19] dabacon commented on #5232
Oh doh of course it is callable, just with qubits

[2022-04-08 18:50] Cynocracy commented on #5210
Yes, that's right, can confirm

[2022-04-08 18:51] Cynocracy commented on #5210
And thank you!!

[2022-04-08 19:52] tanujkhattar commented on #5231
xref https://github.com/quantumlib/Cirq/issues/5151

[2022-04-08 20:35] tanujkhattar commented on #5150
Reopening as we should verify after the nightly release that the problem is actually fixed on the docsite.

[2022-04-08 20:37] tanujkhattar commented on #3816
+1, let's deprecate and move to contrib.

[2022-04-08 20:39] tanujkhattar commented on #5232
xref https://github.com/quantumlib/Cirq/issues/5151

[2022-04-08 20:39] tanujkhattar commented on #5216
xref https://github.com/quantumlib/Cirq/issues/5151

[2022-04-08 20:39] tanujkhattar commented on #5214
xref https://github.com/quantumlib/Cirq/issues/5151

[2022-04-08 23:02] daxfohl commented on #4582
After thinking about this for a bit, I believe the *root* problem is not going to be solved by a new quantum state representation (though the representation I added worked great for simulators), I think the core issue is that there are always going to be multiple incompatible ways to represent quantum states. We'll have some that are useful in simulators, some that are useful in low-level code, so

[2022-04-08 23:27] maffoo commented on #2538
Updates:
- We added `duet` as a dependency of `cirq-core` and have stubbed out async versions of `run`, `run_sweep`, and `run_batch` on `cirq.Sampler`.
- We updated the gapic generated code for the quantum engine API which includes async support with asyncio (https://github.com/quantumlib/Cirq/pull/5139).
- We have a prototype of adding async support to various `Engine*` classes (https://github.co

[2022-04-09 22:53] daxfohl opened #5242 "Create a state_vector protocol"
There are lots of things that can produce a state vector. Integers, `ProductState`, `QuantumState`, circuits (and thereby gates and operations), StepResults, TrialResults, ActOnArgs, CliffordTableaux, and others. Each of these have different ways of getting at the state vector. It would be nice if we could just do `cirq.state_vector(x: Any)`, pass any of these things in (with optional kwargs) and

[2022-04-10 03:49] daxfohl opened #5244 "Rename ActOnXYZArgs to (say) XYZSimulationState"
We've mentioned this task a number of times but never explicitly recorded it. I assume we do want to do this?

IIUC the safe way to do this is to rename the existing classes and files to what we want, and use those everywhere. Then create subclasses of each with the old name, and immediately deprecate them? This would break `isinstance(ActOnXYZArgs)`, which seems fairly low-risk. I believe everyth

[2022-04-10 16:57] daxfohl commented on #4967
One option that may actually be easier is if we go all in and change all existing operations to gates. I've done a few of those for https://github.com/quantumlib/Cirq/issues/4683. The ones remaining are those from https://github.com/quantumlib/Cirq/issues/2626 (PauliString, QFT), and the higher level ones like CircuitOperation and ClassicallyControlledOperation. (POC for the latter was working at

[2022-04-11 02:09] MichaelBroughton commented on #5210
https://github.com/quantumlib/Cirq/releases/tag/v0.14.1 :)

[2022-04-11 02:09] #5210 closed

[2022-04-11 15:01] 95-martin-orion commented on #5244
I fully support this, so long as it doesn't introduce collisions with some of the new object names (*QuantumState should be fine...were there others that may be confusing?)

If we reference these in docs, those will also need to be updated.

[2022-04-11 21:48] #5058 closed

[2022-04-11 23:08] maffoo commented on #5150
Looks good in staging:
![Screenshot from 2022-04-11 16-07-55](https://user-images.githubusercontent.com/129268/162847534-395df426-ea6a-4bb0-9feb-4c16369bc377.png)

[2022-04-11 23:08] #5150 closed

[2022-04-12 06:17] maffoo commented on #4737
Running tests locally I no longer see any of these warnings related to protos, so going to close this. @mpharrigan, please confirm when you get a chance and we can always reopen if needed.

[2022-04-12 06:17] #4737 closed

[2022-04-12 06:18] #4161 closed

[2022-04-12 07:16] maffoo commented on #5166
The docs for these symbols seem to generate fine with a newer versions of `tensorflow-docs` (I tried `3a6a7a3322de8620f0031ae3a0a4b62e40d1d7f2`).

[2022-04-12 14:15] TimoEckstein opened #5252 "Docs: Misplaced automatic keyword highlighting"
**Description of the issue**
In the documentation, it seems that some keywords are automatically highlighted out of context. This occurs when the code example is not pure python code. Examples are:
- https://quantumai.google/cirq/install, "get" and "base" are highlighted blue

[code]
- https://quantumai.google/cirq/dev/development, "from", "last","and" and "for" are highlighted blue

[code]

**Cir

[2022-04-12 14:31] #5166 closed

[2022-04-12 15:20] TimoEckstein opened #5253 "Docs|Tutorials: Inconsistent reference style"
**Description of the issue**
In the Cirq tutorials there is a variety of reference styles.  Making these consistent would probably not only make a slightly better impression to the reader, but also would help them to identify references faster; in particularly if the references were placed consistently at the end of each file/page.

Examples of the current reference style variety:

- Journal style

[2022-04-12 16:01] maffoo commented on #4587
I think we can address some of the shortcomings of `get_qcs_objects_for_notebook` in #5240. @verult, should I assign this issue to you?

[2022-04-12 17:02] dabacon commented on #798
Believe this is not longer an issues since device validation was removed from circuit.

[2022-04-12 22:57] tanujkhattar opened #5254 "[Google] Vendor Transformer Adoption"
**Summarize the task**
We now have `cirq.CompilationTargetGateset` and `cirq.optimize_for_target_gateset` abstractions and transformers to:

1. Specify a compilation target gateset that we want to compile a circuit to
2. Specify a bundle of transformers that should be executed in order to compile circuits to the target.

cirq-google still has the legacy `cirq_google.optimized_for_sycamore` method,

[2022-04-13 00:33] daxfohl commented on #5244
Yeah, there are others that would be fairly confusing actually. We already have `DensityMatrixSimulatorState` and `StateVectorSimulatorState` that are completely unrelated. They are used internally but AFAICT they're *only* used as intermediate steps to calculate the final state vector / density matrix. I don't see any public functions that return these to the user. So we may be able to get away w

[2022-04-13 01:31] mpharrigan commented on #5058
you can open an after-1.0 issue to track that for sure

[2022-04-13 05:05] ybc1991 opened #5256 "Add explicit `_act_on_` function for SingleQubitCliffordGate"
**Is your feature request related to a use case or problem? Please describe.**
No.

**Describe the solution you'd like**
The underlying data structure of SingleQubitCliffordGate is Clifford Tableau now but we don't have explicit `_act_on_` for it.
By now, the effect of SingleQubitCliffordGate applying to ActOnCliffordTableauArgs implicit works through the decomposition and act_on function of some

[2022-04-13 15:58] 95-martin-orion commented on #5244
Removing the purely-internal types sounds fine to me as long as we're not losing performance or usability as a result.

RE qsim: [QSimSimulator](https://github.com/quantumlib/qsim/blob/4c01007b6a3e4d6c582326274f85fb857d38ca7e/qsimcirq/qsim_simulator.py#L171) does not and will not implement `SimulatesIntermediateState` and has no concept of `StepResult`s. As long as that's compatible with the chang

[2022-04-14 18:19] drewrisinger commented on #5190
I'm OK closing this b/c this was addressed for 0.14.1 (https://github.com/quantumlib/Cirq/commit/632396c997339d1f6c842608918978527f898854), not sure if it will be an issue in future releases (e.g. 0.15.0).

[2022-04-15 17:29] 95-martin-orion commented on #3693
This has sat around for long enough that _both_ methods are out of date. I'd like to consolidate on:
[code]
This involves:
- For `Circuit`, adding `param_resolver` and `seed` and dropping `qubits_that_should_be_present`
- Also for `Circuit`, enforcing kwargs instead of positional args
- For the top-level method, adding `ignore_terminal_measurements`

[2022-04-15 18:20] daxfohl commented on #3693
xref https://github.com/quantumlib/Cirq/issues/5242

[2022-04-15 18:30] 95-martin-orion commented on #5242
I think it's important that we distinguish between the current `STATE_VECTOR_LIKE` types, which can produce a state vector in polynomial time, and the broader class of objects which can produce a state vector in an arbitrary amount of time. Accidentally passing a large circuit as a state vector and OOMing your device isn't a good user experience.

[2022-04-15 18:49] vtomole opened #5262 "Cirq's QASM parser throws an exception for a classical register called `measure`"
**Description of the issue**
Qiskit has a verification module that allows one to automatically generate quantum volume circuits. I want to to translate those circuits to Cirq. The problem is that the circuits generated from this module names `measure` as it's classical register which Cirq's QASM parser can't translate.

**How to reproduce the issue**
Install Qiskit on your system then run.

[code]

[2022-04-15 21:59] 95-martin-orion commented on #3693
But wait, there's more!
- The two methods have different default final measurement behavior (`Circuit` ignores them, `cirq` fails on them)
    - `ignore_terminal_measurements` is a strange parameter in general. At best, it's a "I know what I'm doing" flag for people to get state vectors out of circuits with measurements, but a default of `True` completely undermines that.
- The two methods use dif

[2022-04-16 03:02] daxfohl commented on #5262
I think in `_parser.py` we need

[code]
Then update a few parser rules to use `name` instead of `ID`.

[2022-04-17 21:25] dkafri opened #5264 "(JSON serialization) How to prepare for cirq_type deprecation?"
**Description of the issue**
I use Cirq circuits and operations to represent my noisy simulations. I use `to_json` and `read_json` when serializing related data classes. I recently saw this deprecation warning:
`Found 'cirq_type': 'MyCustomSerializedClass' in _json_dict_. Custom values of this field are not permitted, and will produce an error starting in Cirq v0.15.`

Since my work is dependent o

[2022-04-18 14:23] Ash-the-practical-programmer opened #5266 "Can you please create even a ruby version of this framework so that the innovative idea and the project will not be available to just one community of interest ?"
**Can such a project even be created/implemented in Ruby so that the innovative idea and project will not just be limited to just one community of interest ?**

**Please try to implement even a ruby version as there is also a big community of rubyists who don't wanna be devoid of it .**

P0 - this should land no later than a month
P1 - I need this no later than the next release (end of quarter)
P2

[2022-04-18 15:12] vtomole commented on #5266
Hey @Ash-the-practical-programmer,

Thanks for this question.

After a quick search of quantum programming frameworks in Ruby, i haven't been able to find anything of note. This might be because Ruby isn't big into scientific computing like Python is.  Are there easy ways to interoperate with Python code in Ruby?

[2022-04-18 20:11] #4741 closed

[2022-04-18 21:17] dabacon commented on #5264
@mpharrigan @95-martin-orion who I think have the most context

[2022-04-18 21:31] 95-martin-orion commented on #5264
Yup, this was me. The `'cirq_type'` element of `_json_dict_` is now auto-populated with the class name and (optional) namespace of the object in question. Ideally, classes which explicitly specify `'cirq_type'` should just be able to remove it and everything should work out nicely, e.g.:

[code]

If your `'cirq_type'` is _not_ the name of the class, or you're specifying the `_json_dict_` different

[2022-04-18 23:32] dkafri commented on #5264
I think your suggestion should work fine (I have been using `self.__cls__.__name__` for all of my cirq types anyway). Thank you!

[2022-04-18 23:32] #5264 closed

[2022-04-19 01:24] mpharrigan commented on #5264
glad this worked out. Should we update the deprecation method?

[2022-04-19 02:16] dabacon commented on #407
Aren't both types of tests desirable.  Sometimes you want to indeed show that it has made improvements.  Sometimes you want to make sure it is working for a specific case you are about and that it does the correct thing during optimization (it could improve metric but be broken).  I'd suggest this is a more of "and also make sure that it makes progress on a metric".

[2022-04-19 02:19] #5231 closed

[2022-04-19 03:26] tanujkhattar opened #5268 "`cirq.Simulator().simulate_expectation_values` raises a ValueError due to precision issues on 4 qubits."
**Description of the issue**
The call to `qis.expectation_from_state_vector` by default has `check_preconditions = True`. Maybe we need to set it False / provide a way for users to set it False when running simulations via `simulate_expectation_values` ?

**How to reproduce the issue**
A minimal example:

[code]

Click below to view output log

<details>

[code]

</details>

**Cirq version**
0.15.

[2022-04-19 04:05] dabacon commented on #1030
Doing this seems to break a ton of tests (600+) likely because a lot of our default precisions are 1e-7 or 1e-8.

[2022-04-19 14:49] 95-martin-orion commented on #5264
I think we usually do a sweep and update all deprecated methods in one go, but yeah, we're now in v0.15(+dev) and explicit `cirq_type`s should now produce an error.

[2022-04-19 15:52] 95-martin-orion commented on #5268
A peculiarity I found: the state-vector validation code uses the _square_ of the norm rather than the norm. This isn't terrible - since all values are expected to be close to 1, the norm and its square are fairly close. But what's odd is that both reported failure cases have a norm-squared which fails the check, but a norm which passes.

[2022-04-19 16:01] vtomole commented on #5148
Hey @Ashalynd , your pythonic implementation creates duplicate keys and I can't seem to find a way to get around that besides merging tuples with duplicate keys at the end. Doing this is rather complex so i'm thinking of reverting that code back to the non-pythonic version unless you have a better idea.

[2022-04-19 16:39] mpharrigan commented on #5264
Should we update the error message to clarify what a 3rd party dev should do instead?

[2022-04-19 17:14] 95-martin-orion commented on #5268
@tanujkhattar, I'm very hesistant to change the `simulate_expectation_values` API for this as this is a Cirq-specific issue, but that API is shared by external simulators.

Using the Cirq simulators, you can locally reproduce the behavior of `simulate_expectation_values` by calling `simulate` and manually extracting expectation values from the result with `PauliSum.expectation_from_state_vector`:

[2022-04-19 17:18] 95-martin-orion commented on #5264
Sounds good to me - something like "Do not explicitly specify 'cirq_type', it will be auto-generated based on the class name and (optional) namespace"?

[2022-04-19 20:13] daxfohl opened #5270 "Add qubit_map parameter to TrialResult"
**Summarize the task**

`SimulationTrialResult` has the following line:
https://github.com/quantumlib/Cirq/blob/839ebb141bf8932ef3a277e87cd2a5f1ba9ef1c8/cirq-core/cirq/sim/simulator.py#L1013
 However `_final_simulator_state` is of type `TSimulatorState`, which is a template with no bound type. So this is a dynamic call, and is not reflected in the type system of `SimulationTrialResult`. Changes in

[2022-04-19 20:14] dabacon commented on #2405
`cirq.q` added in #5181

[2022-04-19 20:41] daxfohl opened #5271 "Deprecate parameter final_step_result from TrialResult.init"
**Summarize the task**

Follow-up to #5260, as that PR makes final_sim_state unnecessary. Quite a few tests use this so doing this in a separate PR to keep the scope of the original PR smaller.

Also deprecate DensityMatrixSimulatorState and StateVectorSimulatorState.

[2022-04-20 01:41] vtomole commented on #4790
@dstrain115 Have you started on this? I worked on it today and will open a PR soon.

[2022-04-20 11:18] daxfohl commented on #4819
Nice, I noticed pretty bad rounding errors when testing https://github.com/quantumlib/Cirq/pull/5265 and wasn't sure what to make of it. (I had to reduce the atol in my tests to just 1e-2)

[2022-04-20 18:05] tanujkhattar commented on #5268
SGTM. It'd be nice if we have this in the documentation somewhere, but apart from that I'm happy to close.

[2022-04-20 18:05] #5268 closed

[2022-04-20 18:07] dabacon commented on #5253
See #5220 for how we should format external links

[2022-04-20 18:24] tanujkhattar commented on #5253
Google Developer style guide: https://developers.google.com/style

[2022-04-20 18:39] #4744 closed

[2022-04-20 18:47] tanujkhattar commented on #4967
This is a large design issue and would require a considerable thought. Given that we are already past the threshold of considering large design items for Cirq 1.0, we should mark it as post 1.0 and work on it for Cirq 2.0.

[2022-04-20 18:49] tanujkhattar commented on #5256
Quoting Orion from Cirq:

@daxfohl is doing "something" with act on args to make it cleaner and this looks related to his stuff.

[2022-04-20 18:53] tanujkhattar commented on #5214
Docstring should go in class definition and not in init.

[2022-04-20 18:53] #5214 closed

[2022-04-20 19:33] daxfohl commented on #5256
I removed everywhere where the gates had special simulator-specific handling in their act_on implementation, basically establishing a convention that simulators were a layer on top of gates, not vice-versa. This was mostly done in #4748.

However IIUC these gates are targeted specifically to the Tableau sampler, and not be used as general-purpose gates. So it makes sense here to allow these gates

[2022-04-20 20:11] #5148 closed

[2022-04-20 21:34] mpharrigan commented on #5121
closing in favor of #5152 which is serializable and only carries along the things we care about.

[2022-04-20 21:34] #5121 closed

[2022-04-20 21:35] mpharrigan commented on #3413
@MichaelBroughton bump

[2022-04-20 21:36] mpharrigan commented on #4022
@tanujkhattar can you update the status of this

[2022-04-20 21:36] mpharrigan commented on #3763
presumably fixed; feel free to re-open

[2022-04-20 21:36] #3763 closed

[2022-04-20 21:38] mpharrigan commented on #3868
cc #5152

Do we actually want all the other types of results? I think not really. What do folks think about closing this issue and opening specific issues for specific result types or functionality that is missing?

[2022-04-20 21:38] mpharrigan commented on #1859
@tanujkhattar bump; please update

[2022-04-20 21:42] tanujkhattar commented on #4022
General compilation of arbitrary k-qubit unitaries into 1/2 qubit gates currently doesn't exist in Cirq and is out of scope for our Cirq 1.0 roadmap. We will be happy to accept contributions from the community if someone is interested to work on it and add an analytical decomposer to Cirq for doing this decomposition.

Note that specific built-in multi qubit Cirq gates (like QFT) do end up compili

[2022-04-20 21:52] tanujkhattar commented on #1859
I see a few problems which such getters:
1. It's not clear what a gettr like `get_parametrized_single_qubit_gates` should return. Why should it return only `[ cirq.Rx, cirq.Ry, cirq.Rz]` and not include other parameterizable single qubit gates like `PhasedXPowGate`, `PhasedXZGate`  (the problem becomes more complicated for 2 qubit gates, of which we have many) etc.
2. These lists are likely going

[2022-04-20 22:23] maffoo commented on #3868
+1 from me to close this and file separate issues for additional specialized result types if needed.

[2022-04-21 02:04] #3413 closed

[2022-04-21 15:23] 95-martin-orion opened #5279 "Package isolation tests failing"
**Description of the issue**

`dev_tools/packaging/isolated_packages_test.py::test_isolated_packages` is failing in several PRs ([example](https://github.com/quantumlib/Cirq/runs/6103992908?check_suite_focus=true)).

**Error log**

<details>

[code]

</details>

**Cirq version**
cirq-core==0.15.0.dev

[2022-04-21 17:42] #4790 closed

[2022-04-21 19:44] 95-martin-orion commented on #5078
Bumping this - had an issue where one of our hardware team members wanted to get older calibrations and had to jump through some hoops because this method didn't support it.

[2022-04-21 20:46] MichaelBroughton commented on #3244
Closing now. Issue is outdated after devices rework.

[2022-04-21 20:46] #3244 closed

[2022-04-21 20:48] MichaelBroughton commented on #3245
This has been resolved by the device refactor. Adding the `metadata.nx_graph` items alongside the device placement functionality in cirq workflow tools broadly captures the functionality here. We can re-open new issues if we have more specific concerns going forward.

[2022-04-21 20:48] #3245 closed

[2022-04-21 20:50] #4426 closed

[2022-04-21 20:51] MichaelBroughton commented on #3295
This has now been deprecated. Closing.

[2022-04-21 20:51] #3295 closed

[2022-04-21 20:57] MichaelBroughton commented on #3144
@mpharrigan is this still relevant under the new transformers ?

[2022-04-22 12:57] vtomole commented on #5266
Hey again @Ash-the-practical-programmer. We might be able to do this by having [quantum_ruby](https://github.com/AlessandroMinali/quantum_ruby) export QASM and use Cirq's [QASM importer](https://quantumai.google/cirq/interop) to consume the generated QASM.  Maybe there is a way to transpile [cirq-web](https://github.com/quantumlib/Cirq/tree/master/cirq-web) to Ruby. Since i don't know Ruby, I've a

[2022-04-22 20:43] #5271 closed

[2022-04-22 22:56] tanujkhattar commented on #3144
So, with the new transformer infrastructure, the output of the original circuit would still be the same, i.e.
[code]

But, we can now use tags to align specific subset of operations after the merge is done, so a blanket align_left does not destroy the moment structure that we are trying to preserve. For example:

[code]

I would also argue that changing `merge_single_qubit_gates_to_phased_x_and_z`

[2022-04-22 22:59] daxfohl opened #5282 "Update study params to allow Scalar, not just float"
**Summarize the task**

Complex-valued params were added in #5089 to allow for parameterizing things like phase. This required casts in two functions that explicitly expected `float` return values from parameter evaluation. We should determine whether those places should allow complex values and update their signatures, or otherwise do a runtime check to fail if any complex values are passed into

[2022-04-22 23:56] daxfohl opened #5284 "Simplify SimulationState constructors"
**Summarize the task**

The constructors in SimulationState subclasses like DensityMatrixSimulationState are rather flexible and thus do potentially lots of stuff. This can take excessive time when you just want to copy or deserialize or etc, and is often hard to reconcile with `eval(repr(x))`.

Move the excess logic to a classmethod factory method, and simplify constructors to just be thin functi

[2022-04-23 00:43] #4508 closed

[2022-04-23 07:34] daxfohl commented on #1060
I believe this is basically done. When in split_untangled_qubits mode (perhaps we should rename that) you could have 3k qubits, with each position being a qubit in the circuit, but the state vector would never exceed 2^k since only the k qubits would ever be entangled. Also swap is not an entangling operation; internally it just swaps the indices.

To get the final state vector without merging all

[2022-04-23 17:01] daxfohl commented on #4007
Everything in @95-martin-orion list above works except it doesn't check qubit overlap. (It doesn't do that for other types of sub_operations either). It also works for mixtures. (Should it work for channels too?)

So just need to add the overlap check and some tests. Plausibly there should be a check that there's no measurement in sub_op, if it's not too slow.

[2022-04-23 19:37] daxfohl commented on #4007
Added the above PR to check overlapping. There are already tests for decomposition and such.

Leaving an open question as to whether we want to verify no measurements, or whether channels should work.

[2022-04-24 14:46] daxfohl commented on #4007
IIUC @Strilanc showed that a controlled channel is not well defined. https://quantumcomputing.stackexchange.com/a/12197/14638

So should we add the check for `has_mixture(sub_operation)` in the ControlledOp constructor? (This would apply to ControlledGate as well).

[2022-04-24 18:28] daxfohl opened #5287 "ControlledGate/Op allows measurements and channels as sub-op"
IIUC a controlled channel is not well defined. https://quantumcomputing.stackexchange.com/a/12197/14638. And certainly a measurement cannot be controlled.

Should we check `has_mixture(sub_op)` and/or `not is_measurement(sub_op)` at construction time? Or is this too resource intensive?

Note parameterized sub-ops will have to be allowed until resolution time since `has_mixture` always returns fals

[2022-04-25 14:28] 95-martin-orion commented on #1060
I agree with @daxfohl's assessment - the process described in the top comment can now be expressed using a sequence of SWAPs on the intervening qubits and other operations on the target qubit(s), and (Cirq) simulators will handle it gracefully. Users would need to keep track of which qubits correspond to which locations, but I think that's consistent with the rest of Cirq's design.

[2022-04-25 15:20] 95-martin-orion commented on #4007
Yes, I think that's a necessary check. A related observation: `cirq.measure(q0, key='m').controlled_by(q1)` is currently permitted in circuits, but will crash the simulator. This check would resolve both issues.

[2022-04-25 22:40] #3868 closed

[2022-04-25 23:47] #5282 closed

[2022-04-26 01:08] drewrisinger opened #5291 "[Packaging]: Build-from-source fails with setuptools >= 61.0.0"
**Description of the issue**
Cirq install from source fails with ``setuptools==61.2.0``. It succeeds with ``setuptools==54.2.0``, likely higher versions (based on https://github.com/pypa/setuptools/issues/3197, probably ``>=61.0.0``)

**Cirq version**
0.14.1

**Error Message**
[code]

[2022-04-26 23:04] #5169 closed

[2022-04-27 18:11] 95-martin-orion commented on #2769
Resolved by #5208.

[2022-04-27 18:11] #2769 closed

[2022-04-27 18:13] 95-martin-orion commented on #3511
`PointOptimizationSummary` is deprecated in favor of Transformers.

[2022-04-27 18:13] #3511 closed

[2022-04-27 18:17] MichaelBroughton commented on #852
Is this still in flight @dabacon ? Is this relevant : https://quantumai.google/cirq/gates ?

[2022-04-27 18:30] MichaelBroughton commented on #2233
TODO:
1. Determine which (if any) symbols have leaked from the module level to the top level namespace.
2. Which of existing cirq.experiments should move to ReCirq ?

[2022-04-27 18:33] MichaelBroughton commented on #5279
Suspected to be transient: `OSError: ERROR: Could not install packages due to an OSError: [('/home/runner/work/Cirq/Cirq/cirq-core/cirq/interop/quirk/cells/__pycache__/parse_test.cpython-38-pytest-7.1.1.pyc.1818', '/tmp/pip-req-build-zfalukpo/cirq/interop/quirk/cells/__pycache__/parse_test.cpython-38-pytest-7.1.1.pyc.1818', "[Errno 2] No such file or directory: '/home/runner/work/Cirq/Cirq/cirq-co

[2022-04-27 18:33] #5279 closed

[2022-04-27 18:43] MichaelBroughton commented on #3666
Latest on this issue:

We do have async methods on Samplers now. Does this make this obsolete ?
Do any of the other cirq-google workflow tools make this obsolete ?
Should we still pursue this ?

Questions for @mpharrigan

[2022-04-27 18:56] #5190 closed

[2022-04-27 18:59] 95-martin-orion commented on #5244
As of #5293, this is solved. There's still deprecation to be done, but that will wrap up in time.

[2022-04-27 18:59] #5244 closed

[2022-04-27 19:27] dabacon commented on #3190
I think the DimensionAdapterGate is a reasonable thing to have, though it does sort of miss the original problem which was that we wanted this to be seemless.   I think the conclusion was the the seemless version wasn't going to work and we have decided to create specific X and Z gates for qudits.

 Let's close this for now, but if we want to revive DimensionAdapterGate we could definitely do that

[2022-04-27 19:27] #3190 closed

[2022-04-27 20:32] maffoo commented on #3666
The async methods on `EngineSampler` currently use the default versions, which fall back to the sync versions and so don't actually do anything asynchronous. Actual support for async calls to the quantum engine API is in the works here: https://github.com/quantumlib/Cirq/pull/5219.

Separately, I do think we should refactor the lambdas in the circuit serializer code.

[2022-04-27 21:01] dabacon opened #5298 "Moment's measurement key objs and control keys should be frozen"
Moments are, or should be, immutable.  However currently the return type of `_measurement_key_objs_` returns a set and not a frozenset.  This means one could change this set and modify the Moment.

This is, however, a breaking change in terms of types, i.e. we would change the return type for `_measurement_key_objs_` to `FrozenSet`.  I'm not sure we have a great way to deprecate return types?

[2022-04-27 21:07] #5232 closed

[2022-04-27 21:39] maffoo commented on #5298
We can leave the return type as `AbstractSet` and return `FrozenSet`, which is a subtype. I would not consider this a backward-incompatible change.

[2022-04-27 23:34] Strilanc opened #5300 "Add resize tab to cirq web 3d viewer"
If you put the canvas inside a div with `resize: both; overflow: auto`, this will add a little 'grabby tab' to the bottom right of the viewer that the user can drag around to change its size. This fixes a problem where the viewer is too small or too large and the user can't do anything about it. And you can emphasize the viewing size by adding a border and giving it a bit of a margin.

[code]

[2022-04-27 23:53] mpharrigan opened #5301 "Datetime timezone design"
Datetimes come in two flavors: with ("aware") or without ("naive") timezone information. There's also the `timestamp` integer which is always UTC.

You can generally convert between the three forms.

### actual restrictions / considerations:
- you can't compare naive vs. aware datetimes
- more opportunity for error when converting aware -> naive
- if someone somehow gives you a naive datetime from

[2022-04-27 23:58] mpharrigan commented on #5301
In #5274 I implemented (3) but in #5152 it was kindof annoying so I started to implements parts of (5)

I think @maffoo would choose (1) or (2).

I haven't quite decided yet. I think we should promote having timezone information as much as possible just for being explicit. I admit it's not very ergonomic compared to naive datetimes.

I think  the fact that it comes from the protos as "aware" and a

[2022-04-28 00:08] mpharrigan commented on #5301
I think I prefer (1)

 - if users don't do any serialization they can stay in naive-land
 - if they load in a datetime and e.g. try to compare to a naive datetime they'll get an error but not a bad result
 - don't have to deal with it anywhere else in cirq or annoy users like (3,4,5)

[2022-04-28 00:27] #4970 closed

[2022-04-28 00:27] #4768 closed

[2022-04-28 01:21] maffoo commented on #5301
Thanks for writing this very helpful overview!

I could get on board with (1). Just to be clear, does (1) mean we would also upconvert naive datetimes to aware when serializing? That would be a slight difference from what we do now (currently we [raise a `TypeError`](https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/protocols/json_serialization.py#L394) if you try to serialize a naive

[2022-04-28 02:01] daxfohl commented on #5048
Un-staling

[2022-04-28 03:31] daxfohl commented on #5298
They're copied before the public protocol returns https://github.com/quantumlib/Cirq/blob/6f5c11e48d98968f5884f3f4efb844d4a1bc930d/cirq-core/cirq/protocols/measurement_key_protocol.py#L182

So this only affects the private method. (Ideally we should have specified the dunder to return a frozenset, then avoid the extra allocation in the public protocol implementation, though that might have created

[2022-04-28 04:02] dabacon commented on #5301
If you upconvert naive datetime, maybe instead of a `TypeError` it should raise a warning on serializing?

[2022-04-28 05:20] #5298 closed

[2022-04-28 14:46] daxfohl commented on #5284
I think I changed my mind on this. It would be a fair amount of work because it would require making _BufferedStateVector etc public, with reprs and json and etc. Then it makes the constructor less flexible, needlessly requiring the user to search for the factory method. All this for a class that is mostly hidden away, seems low ROI, if it's even positive. Closing the issue.

[2022-04-28 14:46] #5284 closed

[2022-04-28 17:13] mpharrigan commented on #5301
Short answer: yes; (1) and (2) would deviate from current behavior by allowing either flavor during serialization

Slightly more detail: we'd technically (up-)convert during deserialization; since the json document is a unix timestamp -- a third flavor

[2022-04-28 17:18] mpharrigan commented on #5301
This is along the same argument of option (5) where our classes should somehow help the user do things better. Just as upconverting during the constructor has:

[code]

upconverting during the `__eq__` method would make our classes behave as not-a-bag-of-data

[code]

I don't think we should override equality, since python has made the decision to not allow comparisons between aware and naive date

[2022-04-28 17:19] mpharrigan commented on #5301
I usually consider warnings a symptom of: "gee we really should have been more strict about this but we don't want to break backwards compatibility". If we don't think people should be doing something, we should not let them

[2022-04-28 20:42] 95-martin-orion opened #5302 "optimize_for_target_gateset OOMs on large CircuitOps"
**Description of the issue**

When a circuit containing a large (in this case, 17 qubits & depth 20) CircuitOp is passed to `optimize_for_target_gateset`, it generates an OOM, possibly crashing the device. This circuit is well within the realm of "easy to simulate", so we shouldn't be OOMing or should at least warn users that this has a lower threshold than simulation.

**How to reproduce the issu

[2022-04-28 22:59] dstrain115 opened #5306 "Neutral Atoms Converter should be upgraded to Transformers API"
**Description of the issue**

`ConvertToNeutralAtomGates` is using PointOptimizer.  This should be using the new Transformer API as the PointOptimizer interface is deprecated.

See: https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates.py#L25

As a related issue, the derived class `PasqalConverter` in cirq-pascal/pascal_device has goofy behavior,

[2022-04-29 13:31] andreamari opened #5310 "Unexpected conversion to Quil of inverse SWAP gate"
**Description of the issue**

When converting the inverse of a SWAP gate to Quil the result seems wrong.

**How to reproduce the issue**

[code]
Gives:

[code]

**Cirq version**
[code]

[2022-04-30 15:26] daxfohl commented on #5270
I may have changed my mind again on this. #5317 is an example of adding qubit_map to the TrialResult constructor. It's pretty invasive and requires a deprecation cycle that messily intertwines with another deprecation on that function.

Just creating the interface is completely backwards-compatible (though requires implementations to actually inherit that interface, to satisfy mypy. Or we can just

[2022-04-30 15:29] #5270 closed

[2022-04-30 15:43] daxfohl opened #5318 "repeat_until incompatible with run repetitions"
**Description of the issue**

Subcircuits with `repeat_until` can have non-deterministic number of measurements for a given key. `ResultDict` expects a flat array of measurement results. This can cause exceptions when run with multiple repetitions.

**How to reproduce the issue**

[code]

Error:
[code]

**Cirq version**
0.15.0.dev

@95-martin-orion @maffoo WDYT?

[2022-05-02 15:14] 95-martin-orion commented on #5318
This is definitely an issue, but at least it appears contained to this case - AFAIK there's no situation where a measurement would have a different number of qubits across multiple repetitions / appearances within a repetition.

Numpy doesn't seem to have a nice solution for this. The closest I found was [`numpy.ma.array`](https://numpy.org/doc/stable/reference/maskedarray.generic.html#what-is-a-m

[2022-05-02 16:02] maffoo commented on #5318
In a case like this I would probably lean toward padding the measurement arrays with zeros to keep the overall shape rectangular. Since the keys that go into computing the loop termination condition are part of the result, the code that analyzes the result can figure out where things terminated on any given repetition of the circuit. I haven't thought too much about this, though.

[2022-05-02 17:47] tanujkhattar commented on #5302
This happens because `cirq.drop_negligible_operations(circuit)` transformer calls `cirq.trace_distance_bound(circuit_op)` for the circuit operation, which in-turn tries to compute the unitary matrix of the circuit operation which results in OOM error.

[code]

<details>
---------------------------------------------------------------------------
MemoryError                               Traceback (

[2022-05-02 17:51] #5048 closed

[2022-05-02 21:09] #5197 closed

[2022-05-02 22:11] vtomole commented on #4453
This is done by https://github.com/quantumlib/Cirq/pull/4537

[code]

[2022-05-02 22:11] #4453 closed

[2022-05-03 01:11] verult commented on #4833
What about GlobalPhaseGates? I'm assuming they are ignored by hardware as well, so they should be handled the same way?

[2022-05-03 15:45] maffoo commented on #4833
Yes, I would suggest handling them in the same way. When serializing, fail if we encounter unsupported gates. We can add transformer support for removing them from circuits, or we can add cases to the Operation proto to allow serializing them if desired.

[2022-05-03 16:08] maffoo commented on #3347
Colab is now using 3.7.13 AFAICT. Are there any other blockers to dropping 3.6 support?

[2022-05-03 16:39] #4007 closed

[2022-05-03 16:39] #5287 closed

[2022-05-03 17:09] dstrain115 commented on #4833
We could probably serialize both for ease of user use, but, since this is not backwards incompatible, and there is a easy work-around, I think this can be post-1.0 if necessary.

[2022-05-03 18:49] 95-martin-orion commented on #3235
The core feature here has been resolved, and this is currently acting as an umbrella issue. The only remaining sub-issue marked for resolution before 1.0 is #3613; let's get that sorted and then reassign this to after 1.0.

[2022-05-03 18:54] 95-martin-orion commented on #3233
Between #4274 being resolved and #3868 being closed, I think this has been appropriately addressed. The only remaining open item is #3808, which has been marked post-1.0.

[2022-05-03 18:54] #3233 closed

[2022-05-03 22:39] #5318 closed

[2022-05-03 23:00] dabacon commented on #2570
In general when I've had to do simulations for error corrections, I need both before and after.  After for after preparation steps, before for gates and measurements.  I think if we have to chose one, before is better, but just wanted to point out that this makes the preparation errors hard to use.

[2022-05-04 03:10] dkafri commented on #2570
Dave makes a good point. What I've done in the past is just specify a flag for whether to prepend vs append errors.

[2022-05-04 15:34] dstrain115 commented on #4775
Fixed by #5311

[2022-05-04 18:10] tanujkhattar commented on #2570
From cirq sync:

Defaulting to before will cause a breaking change. Let's provide an optional parameter to users to prepend instead of append.

From hardware team's perspective, it before/after shouldn't matter much.

[2022-05-04 18:13] tanujkhattar commented on #3494
From cirq sync:

Let's do it!!

[2022-05-04 18:26] tanujkhattar commented on #5302
From cirq sync:

Add a special case to `cirq.drop_negligible_operations` and leave the other two methods as it is.

[2022-05-04 18:29] pavoljuhas commented on #5291
I can take care of this one.

[2022-05-04 18:32] #3613 closed

[2022-05-04 18:40] tanujkhattar commented on #1859
From cirq sync:

We might want to do this for more specific gate classes, like cliffords or paulis. We should close this issue as it's too generic, and @dabacon will open a new issue to track adding more specific gate classes.

[2022-05-04 18:40] #1859 closed

[2022-05-04 20:40] drewrisinger commented on #5291
My patch in https://github.com/drewrisinger/nur-packages/commit/aeac9e185c34677678608318507fb0427e71ff9e should fix this, it basically just prevents ``setup.py`` from finding any packages to install. I meant to submit that as a patch but forgot.

[2022-05-04 21:51] dstrain115 commented on #4775
@mpharrigan Do you know if this is still an issue?  I tried to do this improvement and it did not really help speed things up (it was actually very slightly slower for some reason).   I am tempted to close out this issue, as I am not sure this will help significantly.  How big of circuits were you looking at?

My example was 100 qubits with 1000 moments of single-qubit gates, and it took ~1.2 seco

[2022-05-04 22:53] mpharrigan commented on #4775
ok, I'm happy to close if you've looked into it.

[2022-05-04 22:53] #4775 closed

[2022-05-04 22:58] pavoljuhas commented on #5291
@drewrisinger - thank you for the tip - #5330 should in effect do the same.

[2022-05-05 00:43] #4570 closed

[2022-05-05 18:54] tanujkhattar commented on #3243
Work on Gatesets has been completed and we have `cirq.Gateset` and `cirq.GateFamily` abstractions now. There are couple of open issues for adoption of gate families for specific use-cases (like #4585), but those are tracked independently and this roadmap item can now be closed.

[2022-05-05 18:54] #3243 closed

[2022-05-05 18:57] tanujkhattar commented on #3289
The recommended method now for optimizing circuits for the sycamore back-end is `cirq.optimize_for_target_gateset(circuit, gateset=cg.SycamoreTargetGateset(), context=context)`

The new method supports tagging operations (like wait gates) with a no-compile tag and specifying the no-compile tags in the transformer context. Operations marked with `context.tags_to_ignore` will not be compiled (and he

[2022-05-05 18:57] #3289 closed

[2022-05-05 21:14] #4683 closed

[2022-05-05 22:15] tanujkhattar commented on #3242
Decompose now decomposes to cirq's default gateset and all operations now have underlying gates (except only circuitops and cco's).

The only feature addition left for this roadmap item is to add a convenience method `cirq.plot_decompose(op_tree)` to visualize the various decompose relationships and it's being tracked in a separate issue and not blocking the Cirq 1.0 release.

We can thus close th

[2022-05-05 22:15] #3242 closed

[2022-05-05 23:12] seunomonije commented on #5300
@Strilanc Took a look at this. Off the top of my head, thought this could be solved easily for every widget in cirq-web by modifying [`_create_html_content` in `widget.py`](https://github.com/quantumlib/Cirq/blob/2d568149a743c24053f078d4c5236171debd4f44/cirq-web/cirq_web/widget.py#L99-L107). End to end tests that take a screenshot of the html output and the python tests which check the actual HTML

[2022-05-06 03:40] daxfohl commented on #4040
I think there was still a remaining task to rename and deprecate some protocols. While doing that we may want to see if we can speed up the default case for these protocols where nothing is implemented, perhaps removing some magic method options, as the protocols do get called in tight loops during circuit construction.

[2022-05-06 15:59] #5291 closed

[2022-05-06 20:21] mpharrigan commented on #5301
To drive this forward: the current proposal is to
 - **allow naive timezones everywhere**, i.e. version (1)
 - up-convert to "aware" upon deserialization
 - generally promote "aware" as preferred where applicable, but don't issue warnings or anything
 - defer to `datetime.__eq__` which may cause error messages (but never any bad behavior!) when comparing naive and aware datetimes.

[2022-05-06 20:27] mpharrigan commented on #3289
but shouldn't WaitGate be part of the sycamoretargetgateset? It's a gate we can do on sycamore

[2022-05-06 22:54] tonybruguier commented on #3648
I think I can repro.

It seems the index page has the right path, but not the 404 one:
[code]
versus:
[code]

I am not sure why.

[2022-05-06 23:13] verult commented on #2819
Closing this as all tasks above are tracked in #5050.

[2022-05-06 23:13] #2819 closed

[2022-05-07 00:49] vtomole commented on #4623
Taking this.

[2022-05-07 06:22] Strilanc opened #5337 "It's too late to deprecate others using `cirq_type` in their json"
There's a bad deprecation warning in the JSON serialization:

[code]

**This cannot be changed into an error**. The main guarantee provided by json serialization is that it will continue to work forever. If using this key was going to be an error, it had to start as an error when json serialization was first written. You can't change it now, because that might break things which would mean they wo

[2022-05-07 14:56] maffoo commented on #5337
cirq_type will still appear in the serialized file, the warning is saying that your code shouldn't put it there, but rather let the serialization framework do it for you. I don't think there's any compatibility issue with previously-serialized data.

[2022-05-09 17:46] maffoo commented on #5337
We ran into this internally as well. I think "what to do" is remove the explicit `cirq_type` entry in the dict you are returning, and define a `_json_namespace_` method that returns a string (you are encourage _not_ to use the empty string for this). The serialization framework will add a cirq_type field that is `{json_namespace}.{obj.__class__.__name__}`. If you do change to a non-empty json name

[2022-05-09 19:08] #3693 closed

[2022-05-10 17:50] #665 closed

[2022-05-10 18:03] dabacon commented on #852
Still in flight, doing two qubit gates next.

[2022-05-10 22:38] #5310 closed

[2022-05-11 04:58] mhucka opened #5345 "Example code for installing Cirq is not portable outside of notebook environments"
**Description of the issue**

One of the first things in the Cirq documentation is the nice [_Getting Started_](https://quantumai.google/cirq/start) section. The section begins with the following block of Python code for installing `cirq`:

[code]

This code (sometimes with slight variations) also appears in other places in the cirq documentation. Although I understand the expectation is that most

[2022-05-11 16:40] dstrain115 commented on #2626
Adding discuss label to see if we want to do this.  Given the comments and the corresponding difficulty of deprecating TaggedOperations, I think this is too big of an issue (with not as much benefit) to tackle before 1.0.

As suggested above, we could limit the scope to adding consistency that `gate == gate.on(...).gate` for all gates and then reduce the scope of the issue.

[2022-05-11 17:04] dabacon commented on #3648
I'd like to see if we can get a redirect working as part of the launch.

[2022-05-11 18:34] dstrain115 commented on #3767
Discussion from cirq cync:  this is a nice to have for cirq 1.0, since typing changes could theoretically change the API interface, but these would likely be small changes and may not materialize.  We will keep it on before 1.0 for now, but if we run out of time, this is a good candidate to cut.

[2022-05-11 18:43] dstrain115 commented on #5345
Discussion in cirq cync:  Installing packages in local python environment automatically may not be advisable, but we should definitely add comments to explain what this code snippet is, and link to instructions so people can pip install if they want to.

[2022-05-11 18:50] Cynocracy commented on #5129
Adding comment so this can be assigned to me

[2022-05-11 18:52] dstrain115 commented on #4901
See also #5129

[2022-05-11 19:04] vtomole commented on #5216
@Cynocracy Done.

[2022-05-11 19:45] vtomole commented on #4623
Hey @erichulburd @kalzoo @dbanty. We are going to deprecate the [quil protocol](https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/protocols/quil.py). This will come down to also removing all `__quil__` implementations in order to replace it with a standalone method in `cirq-rigetti`. The standalone method will be in the same vein as[ quil_import](https://github.com/quantumlib/Cirq/blob

[2022-05-11 20:17] #3327 closed

[2022-05-11 22:35] dabacon opened #5352 "Document the Plethora of PauliStrings."
We have `PauliString`, `MutablePauliString`, `DensePauliString`, and `MutableDensePauliString`, but no discussion of what the difference is between these and when one should use each of these.   The dense ones, to my understanding, have no qubits associated with them, while the non-dense ones have gates associated with them (and so is :( an Operation).   In #5344 I added some documentation to the

[2022-05-11 23:56] dabacon opened #5353 "Gates without json serialization"
As part of #2626 we are checking that gates satisfy `gate.on(*qubits).gate == gate`. To do this we need instances of the gates.  Instead of doing all of these by hand, we leverage the json test data.  In doing this there are a few gates that do not have json serialized forms, but probably should.  These include
`cirq.DiagonalGate`, `cirq.TwoQubitDiagonalGate`, `cirq.ThreeQubitDiagonalGate`, `cirq.

[2022-05-12 02:40] 95-martin-orion opened #5355 "cirq_google gets incompatible protobuf version"
**Description of the issue**

cirq_google prerelease is broken - see error message below

**How to reproduce the issue**

Run the following code in a fresh Colab:

[code]

<details>

[code]

</details>

**Cirq version**
0.15.0.dev20220512003129

[2022-05-12 02:42] 95-martin-orion commented on #5355
As the error message suggests, getting a matching `protobuf` version is a valid workaround. If you are experiencing this issue, adding `!pip install protobuf~=3.13` before the `cirq_google` installation line resolves the issue.

[2022-05-12 16:15] maffoo commented on #5355
4.21.0rc1 is a pre-release; the latest protobuf release on pypi is 3.20.1: https://pypi.org/project/protobuf/#history. I guess passing `--pre` to pip causes it to fetch prereleases for all deps, not just for `cirq-google` itself. We could change the protobuf dependency on `cirq-google` to add a `<4` clause like tensorflow has.

[2022-05-12 17:14] erichulburd commented on #4623
@vtomole Thank you for the heads up. Let us know if you want any input on the preliminary migration.

Moving forward, if new features or breaking changes are made in Cirq, can we expect any support for the necessary updates to the new Quil exporter?

[2022-05-12 17:31] kalzoo commented on #4623
Is this a general approach towards language interoperability? I notice that `cirq/protocols/qasm.py` is also present in Cirq core. Why I ask: Quil is owned by the [quil-lang](https://github.com/quil-lang) organization, of which Rigetti is part; it just so happens that we are the only backend provider for the language, but it is not inherently coupled to Rigetti.

[2022-05-12 17:38] vtomole commented on #4623
I feel like OpenQasm is different from Quil in the amount of support it has. There is Qasm support in Pytket, Braket, Qiskit, q#... Even Quilc supports Qasm.  I think there is a push in industry and academia to have OpenQASM be an interop standard so it makes sense for us to support it natively.

[2022-05-12 17:41] vtomole commented on #4623
We want to make breaking changes before the 1.0 release; hence why we are doing this QUIL stuff now. Once they are moved to `cirq-rigetti`, we don't plan on adding new features or breaking stuff related to `cirq-rigetti`. We want to move all Rigetti-related code out of `cirq-core` before we won't be able to after the 1.0 release.

[2022-05-12 21:03] dabacon opened #5359 "How to format big spares matrices in docs."
As part of #5344 @viathor brought up possibly formatting our sparse matrices in docstring (and hence API docs) with blanks instead of 0s.

So for example we currently format a CNOT as
[code]
but we could instead use
[code]
or even
[code]
The sparser version does render better in the doc string, and it does render fairly nicely on the documentation site.  But I worry a bit that it is confusing to u

[2022-05-12 21:34] dabacon commented on #852
Fixed in #5344

[2022-05-12 21:34] #852 closed

[2022-05-13 00:41] mpharrigan opened #5360 "SimulatedLocalProcessor `.run()` vs `.get_sampler().run()`"
[code]

[code]

The processor knows about jobs and such and returns the new (#5152) EngineResult result subtype. If you just get sampler, it doesn't. cc @dstrain115

[2022-05-13 00:44] mpharrigan commented on #5360
If you use `EngineProcessor`, both code paths return an `EngineResult`.

[2022-05-13 00:47] mpharrigan commented on #5360
`EngineProcessor` gives you a `QuantumEngineSampler` whereas the `SimulatedLocalProcessor` gives you a normal cirq.Sampler (albeit wrapped in validation logic).

Can we have `SimulatedLocalProcessor.get_sampler()` _also_ return a `QuantumEngineSampler`? In that case it would be backed by a simulated local engine instead of a real engine.

[2022-05-13 00:49] mpharrigan commented on #5360
there is no simulated local engine.

Can we modify QuantumEngineSampler to be backed by an [Abstract]Processor instead of an engine? and then it can be shared with SimulatedLocalProcessor and EngineProcessor?

[2022-05-13 01:05] mpharrigan commented on #5360
`QuantumEngineSampler` wants to defer to engine methods so it can dispatch to one of many processor_ids specified as a list (which I never liked: https://github.com/quantumlib/Cirq/issues/2075)

[2022-05-13 15:38] balopat commented on #4726
Hey @MichaelBroughton,

As, after I left Google, my "owner" status on the project was revoked, it probably removed the authorization for the zenodo github automation integration. Reference docs: https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing-content.

The bad news is that, surprisingly, Zenodo does not support sharing of uploads between multiple users

[2022-05-13 16:31] 95-martin-orion commented on #4726
Ideally it would be a group account, rather than a person, so that if we encounter this again before their multiple-user support goes through we don't have to do this again. Not sure if there's a good account for that, though.

[2022-05-13 17:42] vtomole commented on #4863
@smadhuk I've assigned it to you?

[2022-05-13 20:39] dstrain115 commented on #4726
I have made an account for quacs@google.com.  Can we transfer ownership to that account?

I have stored the password in our lovely internal password tool.

[2022-05-13 22:34] mpharrigan commented on #5360
See #5361 for a sampler that works with SimulatedLocal and real Engine processors

[2022-05-13 23:43] dabacon commented on #4153
Passing over to @Cynocracy please yell if you want help on any of these ionq issues.

[2022-05-14 00:11] dstrain115 commented on #3788
This has been completed as part of the AbstractEngine interface.  See
https://github.com/quantumlib/Cirq/blob/master/cirq-google/cirq_google/engine/abstract_engine.py

[2022-05-14 00:11] #3788 closed

[2022-05-16 04:42] mhucka commented on #5359
What about this alternative idea: make the color of the 0's be a shade of gray. Example to illustrate what it might look like:

<img width="108" alt="image" src="https://user-images.githubusercontent.com/1450019/168521017-57077e40-5aa3-4bb5-bd35-5322f96cac9a.png">

If the `begin{bmatrix} ... \end{bmatrix}` are LaTeX, then this could be done by writing a modified version of the bmatrix macro that d

[2022-05-16 15:15] vtomole commented on #5266
@Ash-the-practical-programmer Please re-open this issue once you confirm that you are looking into this.

[2022-05-16 15:15] #5266 closed

[2022-05-16 16:18] #1800 closed

[2022-05-16 16:43] #3071 closed

[2022-05-16 21:08] tanujkhattar opened #5370 "`DeviceMetadata` should expose a `NamedTopology` instead of `nx_graph` as property"
Currenty, `DeviceMetadata` exposes a `nx_graph` property which stores the connectivity / topology information of the device.

In parallel, we've been developing tools like `cirq.NamedTopology`, to better represent specific classes of device toplogies and build targeted utilities, like qubit placement and routing strategies, which can work with specific types of named topologies.

I think `DeviceMe

[2022-05-16 22:12] tanujkhattar commented on #5370
What if we add a new `NamedTopology` which captures the "this is a general nx.Graph that we can't categorize into any other known topologies" class of graphs? Do you think then returning a named topology would be more useful?

[2022-05-16 22:17] mpharrigan commented on #5370
I don't know what that would buy us (over having an optional NamedTopology field on devicemetadata). Consuming code will have to handle the cases separately anyways.

[2022-05-16 22:27] mpharrigan opened #5371 "Deprecate QuantumEngineSampler"
After much hand-wringing on https://github.com/quantumlib/Cirq/pull/5361, I think we all have always agreed that `QuantumEngineSampler` needs to go.

 - Deprecate this class in favor of `ProcessorSampler`.
    - remove without replacement: sampler interface that can send to one of many processor ids
    - remove without replacement: sampler interface that can accept cg.EngineProgram
    - keep if

[2022-05-16 22:29] #2405 closed

[2022-05-16 22:36] tanujkhattar commented on #5370
Having an optional NamedTopology field on device metadata would, of course, be enough as well. The discussion is to decide between:

1. Having an optional named topology + non-optional nx.Graph: which can be confusing because `metadata.named_topology.graph` and `metadata.nx_graph` would be 2 ways of getting the same graph.
2. Replace nx_graph by a named topology instead and add a new class of name

[2022-05-16 23:10] #5360 closed

[2022-05-16 23:40] dstrain115 commented on #2677
We should just be able to silently convert these into PhasedXZGates if necessary though.  Would that satisfy this bug?

It looks like that is option 5 that Balint suggested above.  I don't think option 3 is a good idea, since that could mess with moments during serialization, which would not be expected.

[2022-05-17 00:06] mpharrigan commented on #5132
This has been done

[2022-05-17 00:06] #5132 closed

[2022-05-17 00:08] mpharrigan commented on #5264
yes :)

[2022-05-17 17:53] dabacon commented on #2710
There is no longer any `exp` methods on gates in Cirq, so this is now fixed as far as I can tell.

[2022-05-17 17:53] #2710 closed

[2022-05-17 17:56] dabacon commented on #4327
A decision on this should be made, it looks like it is floating without a clear decision on what to do.  Marked triage/discuss to bring this up.

[2022-05-17 18:06] dabacon commented on #4469
Xref: #4623

[2022-05-17 18:20] mpharrigan commented on #4327
I think it's pretty bad that we're caching hashes of a dictionary-like object. Python dictionaries are not hashable because they can mutate. It would be even worse if they cached their hash value.

[2022-05-17 19:41] dabacon commented on #5353
`cirq.ArithmeticGate` is an abstract class and so likely does not need serialization (and may be difficult as it represents a general reversible classical computation)

[2022-05-17 20:55] mpharrigan commented on #5301
cc @dstrain115

Another "option 0" would be to serialize Python `datetime`s field-for-field and not use unix timestamps in our json format. No one likes this idea; json is supposed to be somewhat interoperable and unix timestamps are very interoperable

### conclusion

After a final chat offline we're all in on option (1). Practically: I need to remove the "aware-only" restriction from the seriali

[2022-05-17 21:41] MichaelBroughton commented on #5370
The way I think of NamedTopology is it is more of a mathematical object than it is a physical object like a device graph. If one had a circuit that obeyed a particular topology constraint i.e. it was a TiltedSquareLattice or a Line then the natural way to do that placement would be to do something like:

[code]
I think the `nx_graph` gives us a nice abstraction level and we don't want to hite too

[2022-05-17 22:07] mpharrigan commented on #5370
A networkx graph is a microscopic description of nodes and edges whereas a NamedTopology uses few macroscopic variables to imply a graph. The data size of a NamedTopology does not scale with the size of the graph it implies. The data size of a graph does scale with the size of the graph.

[2022-05-17 22:08] mpharrigan commented on #5370
It's easy and always possible to go from NamedTopology -> Graph. It's difficult and often impossible to go from Graph -> NamedTopology

[2022-05-17 22:11] mpharrigan commented on #5370
[code]

[2022-05-18 17:37] mhucka commented on #5345
Just noticed that issue #3803 is possibly related to this one, specifically the 2nd bullet, which is to clarify "how we are handling python dependencies (colab deps are assumed, e.g. user has to install them in case of jupyter notebook)".

[2022-05-18 18:46] tanujkhattar commented on #5370
From cirq sync:

NamedTopologies represent abstract, device independent, topologies. Returning a named topology from a device will have a risk of leaking device specific constraints, like broken qubits, into named topologies.

We can consider adding the device graph specific properties to device metadata independently, to enable placement and circuit routing routines to make use of these propertie

[2022-05-18 18:51] 95-martin-orion commented on #3639
Confirmed with Mike, this is complete.

[2022-05-18 18:51] #3639 closed

[2022-05-18 20:42] mpharrigan commented on #5370
yes, that makes sense

[2022-05-18 21:04] tanujkhattar commented on #5370
Sounds good, I'll go ahead and close this issue.

[2022-05-18 21:04] #5370 closed

[2022-05-19 01:01] dstrain115 commented on #3144
Pinging @mpharrigan again since this is marked as before 1.0.  Does the above comment satisfy your concerns?

[2022-05-19 17:48] daxfohl commented on #5262
The qiskit library in question has been superseded: https://github.com/Qiskit/qiskit-ignis, in favor or https://github.com/Qiskit/qiskit-experiments.

`measure` is also an invalid creg name in `OPENQASM 2.0` (or at least it doesn't parse on their playground website).

@vtomole can you check if the replacement library has the same issue, and/or whether qiskit can parse its own output? (It looks lik

[2022-05-19 18:55] daxfohl commented on #5262
Bug already filled https://github.com/Qiskit/qiskit-terra/issues/7866

[2022-05-19 20:34] #2271 closed

[2022-05-19 21:29] dabacon commented on #2626
#5354 adds tests for round tripping.  There is at least one more gate that needs to be serialized to get complete coverage.

[2022-05-19 21:29] dabacon commented on #2626
Closing this issue as gates without json serialization is tracked in #5353

[2022-05-19 21:29] #2626 closed

[2022-05-19 22:39] vtomole commented on #5262
Good find. This is Qiskit bug. Qiskit is returning incorrect QASM. This isn't the first time Qiskit's QASM writer has gotten me in trouble: https://github.com/Qiskit/qiskit-terra/issues/8090. I've transferred this issue into a comment in your linked `qiskit-terra` issue. That's enough to close this.

[2022-05-19 22:39] #5262 closed

[2022-05-20 00:16] dabacon opened #5383 "Lint broken"
PR are failing lint due to a bug which looks unrelated to the PR.  [Example](https://github.com/quantumlib/Cirq/runs/6516853850?check_suite_focus=true)

[code]

[2022-05-20 00:16] dabacon commented on #5383
Dill just got upgraded so my guess is that is the problem.

[2022-05-20 00:18] dabacon commented on #5383
Confirmed that bumping dill back fixes lint.

[2022-05-20 00:50] dabacon commented on #5383
But now notebook tests fail.  joy.

[2022-05-20 01:03] dabacon commented on #5355
This appears to now be blocking our CI.  For reasons I don't quite understand yet, our isolated notebook tests have not been running during CI, but now appear to be and failing.  See #5383

[2022-05-20 01:40] dabacon commented on #5383
There was a notebook that used cirq --pre but was not in the excluded list. I've added it there which fixes things. Need to investigate why that got through CI

[2022-05-20 01:40] #5383 closed

[2022-05-20 14:31] #5337 closed

[2022-05-20 21:11] dabacon commented on #5355
Ended up not being the blocker.  But we should fix this!

[2022-05-20 22:05] #3550 closed

[2022-05-21 03:14] #5355 closed

[2022-05-21 16:40] mhucka opened #5387 "Maybe explore how the file serialization format could include additional data such as a version number"
**Is your design idea/issue related to a use case or problem? Please describe.**

Cirq currently provides methods to serialize circuits to/from a JSON format. However, Cirq's current serialization methods do not appear to record a version number or schema identification information in the JSON output: they only read/write the data structures. If this JSON content is stored in files, and the detail

[2022-05-21 17:19] daxfohl opened #5388 "Classical controls output invalid qasm"
In cirq, a KeyCondition evaluates to True if the value in that measurement key is not zero. Thus it outputs qasm `if (mkey!=0)`. However qasm has no not-equal symbol.

Qasm only supports conditions of the form `mkey == {i}`, for literal integer `i`.

I'd recommend adding optional fields `comparator (EQUALS or NOT_EQUALS)`, and `value: int` to KeyCondition, with default being not equals zero. Then

[2022-05-21 17:43] daxfohl opened #5389 "Do product states at the QuantumStateRepresentation level"
The functionality for simulating as a product state is currently contained in SimulationProductState, which contains a mapping from qubit to SimulationState. SimulationState contains both quantum and classical data. It's a bit hacky because when combining or factoring states, it has to ensure classical data is consistent between all the factors. Not a huge problem, but it would just make more sens

[2022-05-23 17:55] #5302 closed

[2022-05-23 19:57] #5130 closed

[2022-05-23 20:31] dabacon commented on #5353
All our now handled.

[2022-05-23 20:31] #5353 closed

[2022-05-24 18:08] 95-martin-orion opened #5397 "Streamline Z phase errors to noise"
PR #5378 adds hardcoded sample Z phase error, but does not document how to construct this data from QCS. We should add a pipeline for passing Z phase error from Floquet calibration to the calibration-to-noise tools and document its usage in the relevant docs.

[2022-05-24 18:08] 95-martin-orion commented on #5397
CC @dstrain115

[2022-05-25 00:18] dstrain115 commented on #2677
@verult Do we want to decide on what to do for the Clifford gates as part of the Google gateset refactor?

[2022-05-25 17:23] daxfohl opened #5400 "SimulatesIntermediateState._base_iterator docstring says it'll be deprecated"
I looked into actually deprecating this but I don't think deprecation is the right thing to do here.

I believe `SimulatesIntermediateState` has too much simulation functionality tied to it; it should just be a wrapper around iterating intermediate states. The rest really belongs in `SimulatorBase`.

I think in the final solution, `_base_iterator` should be an abstract function in `SimulatesInterm

[2022-05-25 17:57] mhucka commented on #5359
Update: I've spent some time studying the feasibility of this. I've worked out how to do it in LaTeX, but after studying the way docs are built for Cirq, it doesn't look like that would be directly useful. It appears there are 2 relevant cases for Cirq:

1. Docs built for websites appear to be generated using Tensorflow's doc generation code, which ultimately uses MathJax for the Math rendering
2.

[2022-05-25 18:25] dstrain115 commented on #5387
Cirq cync discussion:
  - With version numbers can interpret the same field with different semantic meanings, for instance.
  - At Cirq 1.0 is a good time to do this.
  - Should version 2.0 parse version 1.0 json files?  Several options, but one option is to allow different parsers per version.
  - Downstream users can also use this version for verification or parsing.
  - Size of json is a concer

[2022-05-25 18:27] dstrain115 commented on #4327
Discussion from cirq cync:  One possibility (unverified but might work) is to remove hashing capability from ParamResolver and CircuitOperation.

[2022-05-25 18:33] dstrain115 commented on #5400
Discussion from cirq cync:  This needs a decision before 1.0 since it affects the user-facing interface, but we were unsure whether it should be done without details from @daxfohl .  Keeping it on triage discuss for next time.

[2022-05-25 18:35] dstrain115 commented on #5352
@augustehirth We think we should add documentation on pauli strings.  Where does this fit into the doc re-org for 1.0?  Once this is decided, please re-assign back to one of the developers, possibly @tanujkhattar

[2022-05-25 18:36] 95-martin-orion opened #5401 "Make simulation state classes "private""
Subclasses of [SimulationState](https://github.com/quantumlib/Cirq/blob/e68ff85e9bb0c7373572cdc212c10f226cd40b0f/cirq-core/cirq/sim/simulation_state.py#L45) are "behind the curtain", so to speak - they represent the internal workings of the simulation toolkit, and aren't expected to be implemented by users. We should mark these classes as private (e.g. `_QuantumState`) to allow us to continue modi

[2022-05-25 20:25] tanujkhattar commented on #3144
@mpharrigan Gentle reminder to take a look at my comment above and close the issue if this meets your requirements.

[2022-05-25 21:59] daxfohl commented on #5400
I generally have conflicts at that time but I created a simple PR with the implementation details. @95-martin-orion probably has the most context for a go no-go on it.

[2022-05-25 22:18] daxfohl commented on #5401
There's a `SimulationTrialResultBase.get_state_containing_qubit` that leaks the state class. Seems like that could easily be made private though. I'm pretty sure that's the only place.

[2022-05-25 22:33] mpharrigan commented on #5301
We use a unix timestamp as the serialized form, which should work forever. If we do (1), you "lose" whether or not the original form had timezone information.

[2022-05-25 23:37] tanujkhattar opened #5404 "Moments with overlapping operations should produce consistent diagrams, by not depending upon insertion order"
**Description of the issue**
Moments should sort the operations (eg: by qubit ordering) and then print the moment diagram so that overlapping operations have a consistent ouput. This is important to make sure that tests that depend on diagrams don't break because the insertion order of operations in a moment changed. IIUC, the insertion order of operations in a moment is irrelevant for the user fo

[2022-05-26 00:40] mpharrigan commented on #3144
I mean it seems a little clunky.

In your example you have one "group" of single qubit gates. How would it work if I had e.g. a repeating structure of single- and two-qubit gates (but the single qubit part could be multiple moments as above) and I wanted to merge all the single qubit gates down? Would I need unique tags for each group? Would I need to call align_left for each group?

[2022-05-26 00:50] tanujkhattar commented on #3144
We have a `cirq.merge_single_qubit_moments_to_phxz` transformer now; which merges all adjacent moments containing single qubit gates into a single moment containing single qubit gates. This was created to deal with the case where we have alternating layers of single and 2q gates and want to merge all single qubit moments together.

[2022-05-26 01:15] mpharrigan commented on #5387
I think this needs more details (questions to follow); but this sounds weird. Between the `cirq_type` and the attribute names and types, you should always be able to disambiguate between old and new data during deserialization and dispatch as appropriate in the `_from_json_dict_` methods.

1. what do you mean parsers? everything in json is parsed into dicts and lists. We have a mapping from `cirq_

[2022-05-26 08:15] cqc-alec opened #5407 "`import cirq_google` fails with protobuf 4.21.0"
**Description of the issue**

With a fresh install of `cirq_google`, which pulls in `protobuf` 4.21.0, `import cirq_google` fails.

**How to reproduce the issue**

[code]

<details>

Output:
[code]

</details>

**Cirq version**

This is with `cirq_google` version 0.14.1.

[2022-05-26 15:43] vtomole commented on #5407
Thanks for opening this. Ithink this was fixed yesterday via https://github.com/quantumlib/Cirq/pull/5408

[code]

Doesn't error out.

[2022-05-26 16:02] cqc-alec commented on #5407
Yup, thanks!

[2022-05-26 16:03] #5407 closed

[2022-05-26 20:12] dabacon commented on #4590
I'll take a crack at these.

[2022-05-26 20:24] #4977 closed

[2022-05-27 20:13] daxfohl opened #5413 "Docs for Simulator state that it's sparse"
**Description of the issue**

https://github.com/quantumlib/Cirq/blob/6273826477417a74f6230d3a7a256ee5813b3e16/cirq-core/cirq/sim/sparse_simulator.py#L15

Also the module name `sparse_simulator` implies it's sparse. However the code is a standard state vector simulator (it has optional product state formulation, but that's still not fully sparse in the sense of zero-cells being removed).

It may b

[2022-05-27 23:09] dabacon commented on #5413
Isn't it kind of sparse in the sense that if you do a k-qubit gate on n qubits, it doesn't do a 2^n x 2^n matrix multiplication, but instead does 2^{n-k} 2^k x 2^k matrix multiplications?

[2022-05-27 23:18] daxfohl commented on #5413
I see. I was going by https://devblogs.microsoft.com/qsharp/testing-large-quantum-algorithms-using-sparse-simulation/, where the storage space is also sparse (at least per the blog entry). Such a thing seems to exist in scipy, but not numpy. I wasn't aware that sparseness could also apply to multiplication count. I'll close the issue.

I still think it's worth merging Simulator and StateVectorSimu

[2022-05-27 23:18] #5413 closed

[2022-05-29 00:22] #5105 closed

[2022-05-29 06:27] Strilanc opened #5418 "Don't construct CircuitOperation huge repetition id lists when use_repetition_ids=False"
Do not run this code unless you like going out of memory.

[code]

# Expected behavior

Because `use_repetition_ids` is set to `False`, no list of repetition ids is ever created and the code finishes in under a second.

# Actual behavior

Internally, the code attempts to create a list of one trillion repetition ids. This list will never be used.

---

For context, I know that Mike Newman has used

[2022-05-31 13:32] daxfohl commented on #5388
Alternatively leave KeyCondition alone and use SympyCondition for qasm support. (I find myself leaning toward this option, keeping KeyCondition simple).

[2022-05-31 17:13] #4590 closed

[2022-05-31 17:30] #4275 closed

[2022-05-31 17:43] #4726 closed

[2022-05-31 17:44] dstrain115 commented on #4726
Updated Zenodo to cirq 0.14.1 and added instructions on how to do this in the future.

[2022-05-31 17:52] mhucka commented on #5387
Thank you for that followup comment. I appreciate very much that someone who knows the details of Cirq thoroughly is willing to take the time to provide detailed and constructive feedback. In response, I will try to address the 8 points and the broader context as best as I can.

## Motivations and context

Stepping back and looking at the bigger picture, why did I bring up this issue at all? It se

[2022-05-31 18:00] dstrain115 commented on #3238
@tanujkhattar Can we close this now?   If not, what is remaining to be finished for this?

[2022-05-31 18:03] tanujkhattar commented on #3144
SG, I'll close the issue then. Thanks.

[2022-05-31 18:04] tanujkhattar commented on #4059
Nope, this should be marked after 1.0. Changed the label.

[2022-05-31 18:53] mpharrigan commented on #5387
I think we both agree that designing defensibly against the future is a good idea :tm: and using the `cirq_type` field is a natural way to demarcate big changes in a particular type. I wanted to add some more color below, however.

---

In my mind, there is a distinction between the format --- which is JSON; which probably should have had a version identifier so they could introduce comments or me

[2022-05-31 19:37] dabacon commented on #5404
Do you have a good example of a place where we do this type of testing and it is fragile like this?  Testing of circuit equality for complicated circuits via diagram equality seems odd to me.

[2022-05-31 21:01] Strilanc commented on #5404
There are a few cases where stimcirq treats the insertion order as significant, but it only applies to operations that apply to zero qubits. So please don't re-order those in the diagram.

[2022-05-31 22:39] #2570 closed

[2022-05-31 22:52] mhucka commented on #5387
Thanks for those great comments! Some small follow-ups:

1) I didn't make it clear in the (already too long) response earlier, but I do realize Cirq's JSON format isn't meant to be a true interchange format. Sometimes, though, internal formats get used by other software and slowly become de facto standards, so I thought there might still be value in thinking about it from that bigger perspective.

[2022-06-01 00:03] dabacon commented on #5404
This feels really error prone to me.  It delegates the equality to the float to string precision of the text diagram code.

[2022-06-01 00:05] dabacon commented on #5404
It treats the order as significant in the diagram?  (I'm not parsing this sentence...first part is about insertion order, second is about diagram).

[2022-06-01 16:56] vtomole commented on #5387
Let's bring this up again at the Cirq Synch.

[2022-06-01 19:12] MichaelBroughton commented on #3429
@95-martin-orion should we close this now ?

[2022-06-01 19:38] 95-martin-orion commented on #3429
Yes, with #4666, #5340, and related sub-PRs, this can be closed.

Some additional follow-up work is tracked in #5397.

[2022-06-01 20:12] dstrain115 commented on #3775
- least squares functionality from fidelity estimation was deprecated in #5428.
- cross entropy benchmarking was deprecated in #5424
- google supremacy circuits was deprecated and move to [recirq.beyond_classical](https://github.com/quantumlib/ReCirq/tree/master/recirq/beyond_classical)
- grid_parallel_two_qubit_xeb was deprecated and moved to [recirq.benchmarks.xeb](https://github.com/quantumlib/

[2022-06-01 20:12] #3775 closed

[2022-06-02 23:31] Cynocracy opened #5440 "Support run_batch in cirq-ionq"
This should allow speedup of TFQ (which now blocks on job submissions per circuit execution, ick).

I took a stab at this in https://github.com/quantumlib/Cirq/pull/5238 if whoever picks this up would like to use that as a starting point

[2022-06-03 20:19] MichaelBroughton commented on #1809
This issues seems pretty outdated. One thing I did wonder as a follow on is do we have a notebook or guide on all the different simulation techniques one can use in Cirq (each of which can produce their own `***TrialResult` objects) ?

[2022-06-03 20:44] #2771 closed

[2022-06-03 23:05] #5008 closed

[2022-06-03 23:58] mpharrigan commented on #3717
we could also change the constructor's default argument from `np.random` to `None` and then have `if random_state is None: random_state = np.random`

[2022-06-03 23:58] mpharrigan commented on #3717
You have to be a little bit careful because if you get a bunch of these simulators creating themselves at the same time in each process, they could happen to get seeded to the same state if they draw their seed from the current time.

[2022-06-05 16:37] daxfohl commented on #5389
This ends up being basically impossible because of the way everything goes through the act_on protocol. QSR doesn't have all the information required to be an act_on target.

[2022-06-05 16:37] #5389 closed

[2022-06-06 03:19] daxfohl commented on #4886
The biggest challenge here I believe will be the diagram. I can't think of a way that looks sensible or that would fit easily into our diagramming logic. Everything else is reasonably straightforward: have the CCO constructor ensure the measurement keys are equal for both branches, and update a few CCO functions to handle the else branch as well.

[2022-06-06 03:24] daxfohl commented on #2775
Item 3 from the above comment will be taken care of in #5332 (assuming users pass an array with all their ops into the Circuit constructor rather than iteratively calling append).

[2022-06-06 13:44] dstrain115 commented on #3556
Marking this as triage discuss, so that we can decide on a strategy for what to do with this (change everything to `.gate` or use `get_operator`)

[2022-06-06 13:51] dstrain115 commented on #4901
@Cynocracy What is the status of this PR?  Do you still need help with this?  It looks like Tanuj had a suggestion in how to fix this.  Do you think we could either wrap this up, or expose the branch for someone else to finish?

[2022-06-06 13:53] dstrain115 commented on #5216
@Cynocracy What is the status of this issue?  Do you need help implementing this?  (or does it rely on coordinated changes server-side as well?)

[2022-06-06 13:56] dstrain115 commented on #2423
@smitsanghavi @ybc1991 @daxfohl Hi, can one of you that worked on this bug update it on the status?  It looks like there has been a ton of work on this, but it is not clear what the current state of the issue is.  What still needs to be done (and does it need to happen before Cirq 1.0?)

[2022-06-06 13:59] dstrain115 commented on #5028
I updated Pasqal and neutral atoms, which are now converted.

@tanujkhattar Can you update this list?  optimize_for_xmon is now replaced by optimize_for_target_gateset, right?  Are any of the other optimizers completed?

[2022-06-06 14:04] dstrain115 commented on #4010
GateOpSerializer is deprecated.  Assigning myself to check if this is implemented in the new CircuitSerializer and just give an update on it.

[2022-06-06 15:22] daxfohl commented on #2423
Neither of my links directly affected this issue. Both were just verifying whether my changes were compatible with the direction here.

I know bullets 2 and most of 3 are done (idk who worked on those), and some of 4 (@ybc1991 would know best). I don't think bullet 1 is started.

[2022-06-06 15:37] 95-martin-orion commented on #3556
As noted on the (now closed) #3678, I've given up on `get_operator`. If there are still operation types that don't have a `gate` field we can track that here, but otherwise I think it's fine to close.

[2022-06-06 16:19] dstrain115 commented on #1809
I vote that we close this issue since this is quite outdated.  We can open a new issue if there are specific things that we want to document.

[2022-06-06 16:20] #1809 closed

[2022-06-06 16:41] 95-martin-orion opened #5449 "Modify `findall_operations_with_gate_type` to check subcircuits"
**Is your feature request related to a use case or problem? Please describe.**

qsim uses `findall_operations_with_gate_type` to locate measurements while converting circuits to qsim format.

**Describe the solution you'd like**

`findall_operations_with_gate_type` (and its sister method, `findall_operations`) should inspect `CircuitOperation` for matches.

Known issue: both methods include moment

[2022-06-06 18:14] #4010 closed

[2022-06-06 18:46] maffoo commented on #2538
There are some additional things we want to add (proper async interface to Quantum Engine, "dynamic" batching that adapts based on request size, etc), but I think the sampler interface itself is in reasonable shape, so we can probably close this and address further improvements in separate issues/PRs.

[2022-06-06 20:53] #2408 closed

[2022-06-06 21:49] mpharrigan opened #5460 "Tesselating small TiltedSquareLattice's on big ones"
Imagine I have a little 2x2 tilted square lattice circuit that I want to run in all the possible spots on a larger (e.g. 10x8 tilted square lattice) device. I'd like to tessellate my small graph and make sure that no qubits are "overlapping"

[2022-06-06 22:17] #4412 closed

[2022-06-06 22:55] dabacon commented on #1755
Per previous comment, this doesn't seem to be happening, and last comment is 1.5 years old.  Closing.

[2022-06-06 22:55] #1755 closed

[2022-06-06 23:02] dabacon commented on #3349
This exists and is called `KraussChannel`.  Introduced in #4194

[2022-06-06 23:02] #3349 closed

[2022-06-07 00:51] smitsanghavi commented on #2423
Sorry for the delayed response. I was done with all the bullet points in this issue in one way or the other:
1. Sub-bullet 1 of bullet 1 was marked as [too complex](https://github.com/quantumlib/Cirq/issues/2423#issuecomment-558384920) and not needed at that time (offline)
2. Had implemented Bullet 4 almost fully as well but I think there has been a bunch of other work intersecting with it, so may

[2022-06-07 00:51] #2423 closed

[2022-06-07 05:44] daxfohl commented on #3494
@95-martin-orion I just remembered to mention: I noticed an unnecessary sv copy introduced in https://github.com/quantumlib/Cirq/pull/4533/files. While that PR made sweeps more efficient, it inordinately makes an unnecessary copy of the state when running `simulate`: `simulate` calls into this new function, which creates the SV and calls the base implementation. The changes to the base implementat

[2022-06-07 14:49] dabacon opened #5463 "Remove ion device tutorial?"
**Description of the issue**

In #5326 the question was raised as to whether to get rid of the ion device tutorial.  Filing this to discuss.

[2022-06-07 14:50] dabacon commented on #5463
@augustehirth @dstrain115 opinions?

[2022-06-07 15:36] 95-martin-orion commented on #3494
Kind of tangential to this issue, but I support the solution you've described. What happened to `initial_state` prior to your changes? It looks like it was consumed (and possibly mutated?) by `simulate_moment_steps`, but that conflicts with it being reused for every parameterization...

[2022-06-07 16:20] augustehirth commented on #5463
If, at its core, it is presenting functionality that doesn't exist in cirq any more, definitely cut it.
If it is the only documentation we have for a certain aspect of cirq, I think we should keep it even if it is a bit out of date.
Otherwise, would it be doable to update without too many changes?

[2022-06-07 18:34] 95-martin-orion commented on #4560
I raised this concern in #4497, but it's fairly trivial. Given the removal of string-based keys since this was released, the cost of updating serialization formats, and the lack of activity on this issue, I think we're fine to close it.

[2022-06-07 18:34] #4560 closed

[2022-06-07 18:46] 95-martin-orion commented on #4040
@daxfohl, could you elaborate on the remaining work? IIRC, `measurement_key_(objs|names)` was the intended end state for the protocol renaming. I'm on board for optimizations, but those can be a separate post-1.0 issue.

[2022-06-07 18:51] daxfohl commented on #4040
Oh, I thought you wanted to get rid of the objs suffix. If not then it
sounds like this is done.

On Tue, Jun 7, 2022, 11:46 AM Orion Martin ***@***.***> wrote:

[2022-06-07 18:55] 95-martin-orion opened #5465 "Optimize measurement_key methods"
Measurement keys of circuits and operations are referenced in the circuit construction process. Unfortunately, the methods for extracting measurement keys can be slow, especially in the presence of subcircuits, classical controls, and other complexity. We should see what we can do to speed these up and improve the circuit construction experience.

Highlighted in #4040.

[2022-06-07 18:56] 95-martin-orion commented on #4040
Opened #5465 to track optimizations; closing this as complete.

[2022-06-07 18:56] #4040 closed

[2022-06-07 22:43] #4029 closed

[2022-06-07 23:14] #2862 closed

[2022-06-08 01:31] pavoljuhas commented on #4394
I can take care of this one.

[2022-06-08 01:52] daxfohl opened #5470 "deep_copy_buffers=False optimization can cause errors"
**Description of the issue**

While working on #5469 I noticed that in theory, the `deep_copy_buffers=False` optimization (make copies of the state vector per simulation repetition, but reuse the existing buffers since we're simulating serially) could be used here. However when I tried it out, one unit test started failing.

It took a while but I finally realized the reason: some of the logic in t

[2022-06-08 02:19] daxfohl commented on #5470
Currently it looks like this optimization is only used in _run, and would only be hit in two conditions
* sampling circuits with non-terminal measurements in any simulator
* sampling from the state vector simulator with noise applied

[2022-06-08 18:33] viathor commented on #5404
In order to avoid surprising behaviors (e.g. in the course of debugging), we should adhere to common sense laws that a user would intuitively expect to be true. One of those laws is

for all `f`. In particular, this should hold when `f=str`.

[2022-06-08 18:36] viathor commented on #5404
Re @dabacon 's point about error-proneness of relying on string comparisons in tests: I agree and think we should avoid that. Ideally, a unit test should exercise minimum amount of code other than code-under-test. This way a bug breaks a small number of tests which aids in determining where the bug is. At the moment, a bug affecting string diagrams would break a huge number of unit tests. The same

[2022-06-08 18:38] dstrain115 commented on #3011
Discussion from cirq cync: cut this.

[2022-06-08 18:39] dstrain115 commented on #3820
Discussion from cirq cync: let's still do this, but it can be done after 0.15

[2022-06-08 19:56] dstrain115 commented on #3648
@dabacon It looks like the redirect is working to the quantum AI homepage (there's just a five second delay).  RTD has been deprecated for over a year now, so I don't think it's worth fixing styling or making a smart redirect.  I vote we close this issue.

@dabacon If you agree, can you close this?

[2022-06-08 20:53] #3011 closed

[2022-06-09 00:12] daxfohl commented on #5470
I take it back, it's actually fine in the use case where it's used. `_run` only returns the measurements, and the measurements are gathered immediately after each repetition, so it doesn't matter that the simulation state vector gets changed afterward. Whereas `simulate_sweep` returns the resulting simulation state vectors themselves to the user, which caused the problems when they all ended up re

[2022-06-09 00:12] #5470 closed

[2022-06-09 17:40] dabacon commented on #4660
This really doesn't need to be done before 1.0, it doesn't define a new API.  @dstrain115 @MichaelBroughton

[2022-06-09 19:31] dstrain115 commented on #4660
SGTM.  I'll put it as P1, since it would be nice to fix all these tests and make everything cleaner, but it can be post-poned until after launch.

[2022-06-09 19:33] dabacon commented on #3648
yep

[2022-06-09 19:33] #3648 closed

[2022-06-09 19:49] #3803 closed

[2022-06-09 19:49] dabacon commented on #4469
Moved to triage-discuss to get a decision.

[2022-06-09 19:56] dabacon commented on #5216
I'm not sure if this is needed for pre-1.0.  Changing this to a new delimiter should work transparently given that the API maintains the "we send you this, we get it back".  There may need to be something done on the API side if things are introspected, but that's a separate issue.  Going to move to after-1.0.

[2022-06-09 20:24] 95-martin-orion opened #5475 "Move `QuantumStateRepresentation` out of `clifford_tableau.py`"
Pretty simple: `QuantumStateRepresentation` (used as the basis for various builtin Cirq simulators) currently lives in `cirq/qis/clifford_tableau.py`, which is rather silly. It should either move to `states.py` in the same folder or get its own file.

[2022-06-09 22:08] dabacon commented on #4088
@MichaelBroughton  I think this still exists.  This is one to deprecate before 0.15?

[2022-06-09 22:29] mpharrigan commented on #3347
Now we should be 3.8+ (but blocked by colab, probably). What does the before-1.0 tag mean here?

[2022-06-10 04:37] zchen088 opened #5477 "WaitGate on multiple qubits gets confused about num_qubits when resolved"
**Description of the issue**
`WaitGate.num_qubits()` appears to mutate when going through parameter resolution.

**How to reproduce the issue**

[code]

<details>
File ~/.virtualenvs/pyle/lib/python3.8/site-packages/cirq/protocols/resolve_parameters.py:184, in resolve_parameters(val, param_resolver, recursive)
    182     result = NotImplemented
    183 else:
--> 184     result = getter(param_reso

[2022-06-10 18:06] 95-martin-orion commented on #3494
With #5324 merged, all that's left for this is to complete the deprecation and switch the default to `copy=False`.

[2022-06-10 19:14] 95-martin-orion opened #5482 "Support confusion maps in defer_measurements"
Requested in #5480 as a follow-up for #4348. Confusion maps are a generalization of the previous `invert_mask` behavior in measurements, and the `defer_measurements` transformer should support them.

[2022-06-10 19:15] 95-martin-orion commented on #5482
CC @tanujkhattar - I marked this as after 1.0 since it looks potentially complicated but non-breaking.

[2022-06-10 19:26] #5477 closed

[2022-06-10 21:25] dstrain115 commented on #4623
@vtomole How is this project going?  Cirq 1.0 is quickly approaching!  Do you need assistance on this task?

[2022-06-10 22:00] vtomole commented on #4623
@dstrain115 Thanks for the ping! I have a local branch that removes the call to `protocols.quil` in `class QuilOutput`. I'll clean it up and open a draft PR before next week's sync and we can iterate on it.

[2022-06-10 23:56] verult commented on #2384
Documentation is added in #5472.

With the new `CircuitSerializer`, which is the default and eventually the only serializer, the `OpSerializer` path will no longer be executed IIUC. CircuitSerializer will error if an unsupported Sympy expression is used, but I'll send a PR to make the message more clear.

https://github.com/quantumlib/Cirq/blob/baf5b818ff901065ab7ade7f1a5080ef0e4d7699/cirq-google/

[2022-06-11 00:23] #4969 closed

[2022-06-11 00:44] verult commented on #2677
In the device refactor, the principle we've followed for arbitrary single qubit gates (e.g. `cirq.H`) is to not accept them directly and instead have them go through a transformer, so that parameters of PhasedXZGate, a device native gate, are clear to the user:

[code]

So I'm leaning towards leaving it as is.

[2022-06-13 01:31] vtomole commented on #4623
Rough outline of the PRs I'll open:
1. Create a `quil_output.py` in `cirq-rigetti` that doesn't call off to the protocols.
2. Add deprecation messages to all the `__quil__` methods and the `quil` protocol in `cirq-core`.
3. Move `cirq.contrib.quil_import` to `cirq_rigetti`. Won't deprecate this because it's in contrib.
4. Remove `cirq.protocols.quil.py` and `cirq.circuits.quil_ouput.py` once `0.15

[2022-06-13 11:54] tanujkhattar opened #5491 "Make `_create_transformer_with_kwargs` public to enable vendor modules to use it."
**Description of the issue**
We should make `_create_transformer_with_kwargs` as per the suggestion in https://github.com/quantumlib/Cirq/pull/5479#discussion_r894875611

**Cirq version**
0.15.0.dev

[2022-06-13 12:10] #5129 closed

[2022-06-13 17:05] dstrain115 commented on #5167
@dabacon Now that #5354 is merged, can we close this issue? (Or at least take it off of before-1.0)

[2022-06-13 17:40] #3820 closed

[2022-06-13 17:58] dstrain115 commented on #1655
I think this was solved by https://github.com/quantumlib/Cirq/pull/1790 some time ago.  Trying to track down if there is additional tasks to be completed.

[2022-06-13 18:02] #3816 closed

[2022-06-13 19:31] tanujkhattar commented on #4901
This is fixed by https://github.com/quantumlib/Cirq/pull/5479

[2022-06-13 19:31] #4901 closed

[2022-06-13 19:31] tanujkhattar commented on #4153
This is fixed by https://github.com/quantumlib/Cirq/pull/5479

[2022-06-13 19:32] #4153 closed

[2022-06-13 19:45] dwiddows opened #5497 "Update IonQ documentation to remove decompose_operation"
**Description of the issue**

We to update Cirq IonQ documentation to use the new transformers for compilation (see https://github.com/quantumlib/Cirq/pull/5479). The decompose_operation method on the device has been deprecated and removed.

**Cirq version**

0.14.0

[2022-06-13 19:49] Cynocracy commented on #5497
Can a cirq owner please assign to @Cynocracy  ?

[2022-06-13 19:55] #2384 closed

[2022-06-13 21:38] dabacon commented on #5167
We can't close this is as it is still broken.  Gate round tripping is tested, but there is a carve out for this class.

[2022-06-13 22:30] mpharrigan opened #5505 "Deprecate Engine.run and friends?"
@dstrain115 : what's the plan with all the methods on `Engine` that aren't in `AbstractEngine`? I think we should deprecate them and/or modify them to delegate to `EngineProcessor` methods.

[2022-06-13 22:48] mpharrigan opened #5507 "CircuitOperation mutability"
[code]

[code]

note how this results in two operations happening on the same qubit at the same moment

@95-martin-orion  #5502

[2022-06-13 22:59] maffoo commented on #5507
Yeah, don't do that. Should use `with_qubit_mapping` instead:
[code]
Which gives
[code]

[2022-06-14 00:03] #5491 closed

[2022-06-14 00:52] tanujkhattar commented on #5167
`PauliStringPhasorGate` fails roundtrip because the underlying `cirq.DensePauliString` itself fails the roundtrip; which I think is the bigger issue here.

[code]

This happens because dense pauli strings preserve the identity but pauli strings drop the identity.

The fact that gate.on().gate is not consistent for dense pauli strings was also identified in https://github.com/quantumlib/Cirq/issues

[2022-06-14 01:39] daxfohl commented on #5167
I think the core of the issue is that some code considers identity a Pauli, and some doesn't. Should identity be Pauli or not?

[2022-06-14 02:17] verult commented on #4377
To add some data points, the discussion of namespaces came up in two places recently:
1. In determining how to disambiguate `cirq_google.GridDevice` should the name `GridDevice` appear elsewhere in the future
2. @tanujkhattar saw that MSGate is defined in both cirq-core and cirq-ionq.

I would advocate for requiring *all* newly created classes in vendor directories to have a JSON namespace in orde

[2022-06-14 17:45] 95-martin-orion commented on #5507
What this basically comes down to is the fact that `CircuitOperation` is immutable by fiat and not by mechanics. `CircuitOperation` has maps for params, measure keys, and qubits; manually changing these will absolutely make a mess of your circuit.

The reason I don't see tuples as a viable alternative is that `CircuitOperation` is meant for use in big, repetitive circuits. Performance in handling

[2022-06-14 18:26] verult commented on #4587
Unassigning myself for now in case anyone can get to this before I can! Otherwise happy to take on this when I get some spare cycles.

[2022-06-14 19:01] tanujkhattar commented on #3556
+1, I think `op.gate` should be the way to go. We tracked in https://github.com/quantumlib/Cirq/issues/4683 that all operations (except circuit operations and ccos) should have an underlying `op.gate`; so we can close this issue now and open a new issue if we find operations that should but don't have an underlying gate property.

[2022-06-14 19:05] daxfohl commented on #5507
Would `_qubit_map: Dict[Qid, Qid]` and `@property def qubit_map(self) -> Mapping[Qid, Qid]: return self._qubit_map` be a useful compromise? It doesn't prevent the misuse, but at least the mypy check would catch it.

[2022-06-14 19:10] maffoo commented on #5507
@daxfohl, I think that's reasonable. I'd be curious to hear what @mpharrigan thinks. My feeling is that almost nothing in python is ever _truly_ immutable and it's rarely worth trying to make it so; all we can do is communicate the intended immutability to users, and doing that in a way that tools like mypy can check is even better.

[2022-06-14 19:15] mpharrigan commented on #4587
@verult what's the status of #5240?

[2022-06-14 19:17] mpharrigan commented on #5507
Yes, nothing is immutable. Copying in the dictionary to a private attribute exposed by a property is as good as it gets. not copying, but still exposing behind a property -- I don't know how this works exactly. Would mypy warn if you did what I did above?

[2022-06-14 19:39] daxfohl opened #5516 "CircuitOp json parsing inefficient"
While looking at #5507 I noticed CircuitOperation uses `with_...` functions to load the data from json, which means unnecessarily reconstructing and revalidating the whole subcircuit for each argument.

https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/circuits/circuit_operation.py#L477-L484

Seems like this should instead call the constructor directly with all arguments.

[2022-06-14 20:30] vtomole commented on #4623
The only part left is to remove the `QUIL` functionality off `cirq-core`; but this will be done during the `1.0` release. Will close this because the move has been done.

[2022-06-14 20:30] #4623 closed

[2022-06-14 20:43] 95-martin-orion commented on #5449
Discussion in Cirq design sync: move qsim off of this and try using transformers to find measurements.

[2022-06-14 20:43] #5449 closed

[2022-06-14 20:55] 95-martin-orion opened #5517 "Context manager for disabling validation"
Discussed with the hardware team: it might be nice to have a context manager that temporarily disables op validation to speed up circuit construction. This basically involves zeroing the lambda for the duration of the context:

[code]

Discussed in Cirq design sync: if we make this, it should live in contrib.

[2022-06-14 21:09] dabacon commented on #5167
I think making the change to PauliString is a major change in it's API, and I worry that there are a ton of people depending on this now.  Let me do a PR to see how this impacts things and then we need to decide whether to go that route or  #5510

[2022-06-14 21:15] verult commented on #4587
#5240 should ideally be replaced by calling a refactored version of `get_qcs_objects_for_notebook` which would expose
* the `project_id` used for signing in and
* the `processor_id`

in addition to (or maybe in place of) existing return values.

[2022-06-14 21:45] dabacon commented on #5167
Yeah changing the API of PauliString isn't going to work, that's a major breaking change that goes to the core of how that class is used.  PauliString is an operation and has a notion of qubits, and doesn't allow identities.  DensePauliString is a gate and has no concepts of qubits.  When you use this gate on qubits it turns into a PauliString, dropping the identity components.

Another alternativ

[2022-06-14 21:53] daxfohl commented on #5167
I know there are a couple places that use PauliStringPhasor directly, so it might be hard to deprecate (otherwise I'd have probably done exactly that when I created PauliStringPhasorGate). Though IIRC they're all in contrib so maybe it doesn't matter? Otherwise I'm completely on board with that option.

Another option (forgive me if this is dumb), would it make any sense to create a `_PauliI` clas

[2022-06-14 22:33] dabacon commented on #5167
That would work, but again it would change the behavior of the PauliString class, and I worry that is too big of a breaking change.

This is in kind of annoying state.  PauliString should have allowed identity.  If there was a need for sparse versions, then there should have been a way to convert this to the sparse version.  It also has a really wacky constructor, that can take both a list and a m

[2022-06-14 23:28] dabacon opened #5520 "Document num_qubits alternatives in Gate"
`num_qubits`, `_num_qubits_`, `_qid_shape_` are all in `Gate`.  They use @value.alternative.  But there is no indication of which of these you should actually implement.

[2022-06-14 23:35] tanujkhattar opened #5521 "Remove neutral atoms tutorial?"
**Summarize the task**
https://github.com/quantumlib/Cirq/pull/5519 will deprecate and eventually remove `cirq.NeutralAtomDevice` from Cirq. The only place it's used right now is in https://github.com/quantumlib/Cirq/blob/master/docs/tutorials/educators/neutral_atom.ipynb

I propose that we should get rid of the tutorial once the PR is checked in. The same strategy would be followed for ion device

[2022-06-15 00:45] cduck commented on #5520
I can give some context.  `num_qubits` was the original way to determine how many qubits a gate needs.  This was changed to the `cirq.num_qubits` and `cirq.qid_shape` protocols when I implemented qudits (#933, #1777).

In my opinion, a gate subclass should implement only `_qid_shape_` if it is gate type that can act on qudits, otherwise only `_num_qubits_`.

[2022-06-15 01:12] pavoljuhas commented on #4394
AFAICT, the functionality in `run_cmd` and `run_shell` can be fully replaced with the standard `subprocess.run`.
The functions have a few extra arguments (`log_run_to_stderr`, `abbreviate_non_option_arguments`) for outputting the executed command.  I intend to add a new function `shell_tools.run` which will be a thin wrapper to `subprocess.run` with an extra option to show the executed command; th

[2022-06-15 02:05] augustehirth commented on #5521
If the tutorial uses deprecated code definitely delete it. If not, might it serve as a useful example for people trying to build custom Devices? Or has Device evolved too far for it to be useful?

[2022-06-15 03:15] daxfohl commented on #5167
To beat a dead horse, could we add an optional `allow_identity=False` argument to the PauliString constructor and DensePauliString.on? Then the existing behavior would be preserved by default, but identity would be allowed if desired. Then in a subsequent release we can switch the default to True, (with prior warning messages that behavior will change) similar to how @tanujkhattar did for Gateset.

[2022-06-15 04:58] daxfohl commented on #5167
Nvm, the above. I see there's enough other stuff that expects pauli is either x, y, or z. Given that, I don't have a strong preference from my perspective. Either option seems fine.

[2022-06-15 16:35] 95-martin-orion opened #5524 "quimb update breaks contrib"
Pretty sure the recent [quimb release](https://github.com/jcmgray/quimb/releases/tag/1.4.0) broke some of our tests, as seen here:
https://github.com/quantumlib/Cirq/runs/6903632243?check_suite_focus=true

The fix should be as simple as updating the strings, but we might also consider pinning our quimb version to prevent this in the future.

[2022-06-15 17:18] mhucka commented on #5387
Last week's Cirq Cynq included more discussion, but still without conclusions, and it prompted some at the time to characterize it as bikeshedding. I fear this whole issue has become an unintended distraction. I've been trying to think of the most efficient way to move forward, and want to suggest the following:
1. _Either_ (a) retag this issue from `time/before-1.0` to `time/after-1.0`, _or_ (b)

[2022-06-15 18:10] vtomole commented on #2041
Taking this.

[2022-06-15 18:46] 95-martin-orion commented on #5507
Decision from Cirq sync: we'll make attributes private (_name + property name) for both CircuitOperation and ParamResolver to mitigate this, as long as it isn't terribly expensive / disruptive.

[2022-06-15 18:52] 95-martin-orion commented on #5524
Some discussion from the PR: we should avoid testing exact-match for string representation of quimb objects. Basic checking for expected substrings (e.g. `output_state: TensorNetwork`) should be sufficient.

[2022-06-15 18:52] mhucka commented on #5387
Per today's Cirq Cync, @dabacon suggested the following concrete steps:
1. retag this as `time/after-1.0`
2. change the title of this issue to reflect the goal being to revisit what is written to files

[2022-06-15 18:53] MichaelBroughton commented on #4469
Discussion from Cirq-sync: We have moved quil outputs to cirq-rigetti now and qasm seems universal enough where we can just leave it in cirq-core (since it has no better home we can think of. Same goes for quirk). Going to close for now.

[2022-06-15 18:53] #4469 closed

[2022-06-15 20:57] #4348 closed

[2022-06-15 21:25] #5516 closed

[2022-06-15 21:43] 95-martin-orion commented on #4327
Lessons from un-hashing experiment: more pain than it's worth, likely introduces new and exciting issues.

The chosen resolution for this at the Cirq sync is outlined in #5507: we'll make the relevant fields "private" and use properties to at least let mypy identify sketchy behavior.

[2022-06-15 21:52] dabacon commented on #1030
The method `final_state_vector` will need to be updated to default to `np.complex64`.

[2022-06-15 22:53] dabacon commented on #3767
Xref #5450

[2022-06-15 22:56] #5524 closed

[2022-06-15 23:17] MichaelBroughton commented on #5463
The decision here: #2793 was to move ions and neutral atoms functionality out into their respective vendors (with some things getting outright cut) and then re-introduce them into cirq-core if we had more than one vendor who was making use of them. With this in mind I think we should remove these tutorials from core Cirq and move whatever makes sense from these tutorials into vendor tutorials (if

[2022-06-16 15:18] maffoo opened #5533 "Test failures in analytical decomposition transformers"
In #5219 I've started seeing test failures in analytic decomposition tests, see https://github.com/quantumlib/Cirq/runs/6913023342?check_suite_focus=true.

[code]
Possibly related to recent change in default precision (https://github.com/quantumlib/Cirq/pull/5426).

[2022-06-16 15:35] dstrain115 commented on #1655
Confirmed by @Strilanc  that the above PR fixed this issue.  Closing.  Please re-open (or open a new bug) if new corner cases related to this are found.

[2022-06-16 15:35] #1655 closed

[2022-06-16 17:33] dabacon opened #5536 "Optimizers with high atols should likely be using np.complex128"
We have flakes on tests that have quite high atols due to the move from `np.complex128` to `np.complex64` default.  See #5535 for example.  These are sometimes optimizers that are very numerically unstable.  We should likely use `np.complex128` for these optimizers (say ones with atols of 2e-5 or worse)

[2022-06-16 20:19] #5475 closed

[2022-06-16 21:35] #4088 closed

[2022-06-16 23:34] verult opened #5543 "Gateset: fails to accept an operation if the gate type matches multiple GateFamilies in the gateset."
**Description of the issue**
`Gateset.__contains__()` should continue to check other GateFamilies instead of failing when the operation matches the instance type but isn't accepted by the current GateFamily being checked.

**How to reproduce the issue**
The order of GateFamilies matter here; flipping them will make it succeed.

[code]

<details>

[code]
</details>

**Cirq version**
Cirq head befor

[2022-06-17 02:52] verult opened #5546 "paulistring optimize_test.py: Changed Z gate string representation"
**Description of the issue**
CI coverage check [failed](https://github.com/quantumlib/Cirq/runs/6910071491?check_suite_focus=true) in https://github.com/quantumlib/Cirq/pull/5445 for `cirq-core/cirq/contrib/paulistring/optimize_test.py`:

[code]

[2022-06-17 15:35] vtomole opened #5547 "Cirq docs pages `404s`"
**Description of the issue**
This is probably due to our ramp up to `Cirq 1.0`, but none of the links to the Cirq docs that are indexed by Google search work anymore. Even the links in the docs themselves `404`.

**How to reproduce the issue**
Google a Cirq  functionality and click on the first `quantumai.google` link

![Screenshot from 2022-06-17 10-34-00](https://user-images.githubusercontent.co

[2022-06-17 15:38] vtomole commented on #5547
This might be more so to Google search indexing than the docs themselves. I can access stuff by going to the `quantumai.google` site so this might not really be a bug. Closing.

[2022-06-17 17:10] dstrain115 commented on #3556
As per above comments, we should use `op.gate` and all operations _should_ have a gate.  Closing this issue.

[2022-06-17 17:10] #3556 closed

[2022-06-17 17:49] #5463 closed

[2022-06-17 17:49] #5521 closed

[2022-06-17 18:37] 95-martin-orion commented on #3900
This was resolved by #4397.

[2022-06-17 18:37] #3900 closed

[2022-06-17 18:45] #5517 closed

[2022-06-17 20:14] dstrain115 commented on #5505
I am not sure about this.  There's a bunch of non-standard features, like sending to multiple processors or sending programs without jobs, etc that I am reluctant to get rid of.  On the other hand, it's not great to have a bunch of methods that are not in the abstract interface.

Bringing in @wcourtney to weigh in.

[2022-06-17 22:33] 95-martin-orion opened #5552 "Convert `with_measurement_key_mapping` to use Mapping"
The `with_measurement_key_mapping` currently asks for a `Dict`, but really only needs a `Mapping`. This hurts us in #5548, where we have access to a mapping and are forced to copy it into a dict.

Note that this may be a breaking change, as code outside of Cirq may also implement this protocol.

[2022-06-17 22:35] tanujkhattar commented on #5543
`Gateset.__contains__` does two checks:
1. An O(1) check of whether the gate matches an instance or type gate family
2. An O(N) check of whether the gate matches any gate family.

The O(1) check assumes that the type and instance gate families do trivial `isinstance(g, gate_type)` or `g == gate_instance` checks. This was true before `tags_to_accept` and `tags_to_ignore` flags were added to the bas

[2022-06-17 22:37] 95-martin-orion opened #5554 "Fix `param_dict` types in cirq/work"
Follow-up on #5548: we were forced to copy-convert `ParamResolver.param_dict` appearances into `dict`s to keep typing happy, but this is likely avoidable.

[2022-06-18 07:49] #2538 closed

[2022-06-18 17:44] daxfohl opened #5556 "Rename tetris_concat?"
I like the name, but seems like we might want to change it before 1.0 for trademark or whatever? Maybe rigid_concat or something?

[2022-06-18 18:16] daxfohl opened #5557 "Avoid defensive copying in keys protocols"
Measurement and control keys protocols both do defensive copies before returning. However they are also used in hot loops where perf is important. It's likely better to specify that dunders should return return a frozenset instead, especially since most ops will return an empty one, which is a singleton requiring no allocation.

This may be impossible to do in a completely non breaking way, howeve

[2022-06-20 21:08] kris524 commented on #4691
Hello all, Is this still a needed feature?

[2022-06-20 21:13] tanujkhattar commented on #4691
@kris524 Yes, the feature is still needed and we would appreciate help!

[2022-06-20 21:26] kris524 commented on #4691
Awesome! I will take it

[2022-06-21 01:19] tanujkhattar commented on #5533
This doesn't seem to be fixed yet.

See: https://github.com/quantumlib/Cirq/runs/6976353468?check_suite_focus=true

[2022-06-21 05:08] dabacon opened #5564 "PauliString repr does not preserve qubit order."
**Description of the issue**

If you create a PauliString
[code]
and round trip it via its repr, the qubit order does not match.
[code]

PauliString having ordered qubits was introduced in #4270

[2022-06-21 17:27] #5543 closed, assigned to verult

[2022-06-21 17:42] #4394 closed

[2022-06-21 22:05] mpharrigan commented on #3347
Bump!

[2022-06-21 22:18] #5301 closed

[2022-06-21 22:21] maffoo commented on #3347
We're still blocked on colab, so I think the only thing we can really do here is write down our intended policy in the docs, something like "cirq supports python versions specified by numpy NEP-29, in addition to the current version used by google colab (3.7)". Other than that I don't think there's much we can do before 1.0.

[2022-06-21 22:44] daxfohl opened #5569 "Flake in two_qubit_to_fsim_test"
**Description of the issue**

Flake in cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim_test.py::test_decompose_to_diagonal_and_circuit[v1]

Seems to stem from #5426, so just need to up the tolerance.

**How to reproduce the issue**

See https://github.com/quantumlib/Cirq/runs/6993904987?check_suite_focus=true for an example.

[code]

[2022-06-22 01:14] tanujkhattar opened #5571 "Add confusion maps support to PauliMeasurementGate"
https://github.com/quantumlib/Cirq/pull/5480 added support for confusion maps to measurement gates. The feature request is to extend this support to `cirq.PauliMeasurementGate` as well.

P2 - we should do it in the next couple of quarters

[2022-06-22 01:30] viathor commented on #5546
I don't think we should be making unit exponent explicit. We definitely shouldn't do it in an arbitrary way.

[2022-06-22 04:44] tanujkhattar opened #5572 "`cirq.MutablePauliString` supports identity gates but `cirq.PauliString` doesn't, which leads to inconsistencies"
**Description of the issue**
`cirq.MutablePauliString` seems to support identity gates (for example: when passed in `pauli_int_dict` parameter). The type annotations on on methods like `.values()` and `.items()` also have a `Union[Pauli, IdentityGate]`.

This is bad because `cirq.PauliString` does not support identity gates and hence this leads to inconsistencies between the mutable vs the non-mut

[2022-06-22 04:51] tanujkhattar commented on #5572
Also, I see that `cirq.MutablePauliString` is not an operation; and uses the underlying `.frozen()` version (i.e. a PauliString) when comparing two instances of `MutablePauliString`.

[2022-06-22 16:14] dabacon commented on #5564
#5565 will fix this.

[2022-06-22 16:44] vtomole commented on #2041
Casting the types of `target_tensor` and `available_buffer` causes `_incorporate_result_into_target` to fail with the error:

[code]
I don't know how to get around this so the solution i can think of right now is requiring that the types of `target_tensor: np.ndarray` and
`available_buffer: np.ndarray` be complex and fail otherwise.

Anyway, I will bring this up at the sync.

[2022-06-22 18:43] tanujkhattar commented on #5569
Related: https://github.com/quantumlib/Cirq/issues/5533

[2022-06-22 18:49] dabacon opened #5574 "Flake in test_decompose_to_diagonal_and_circuit"
v = array([[-0.61070603+0.1365783j , -0.5391698 -0.27113172j, -0.13448845+0.33649975j,  0.07048975+0.3284511j ],
       [-...[-0.144254  +0.16332075j,  0.23525491+0.0989278j , -0.29602534+0.62655133j, -0.28742015-0.56971717j]], dtype=complex64)
@pytest.mark.parametrize(
"v",
        [
            cirq.unitary(random_two_qubit_circuit_with_czs(3)),
            cirq.unitary(random_two_qubit_circuit_

[2022-06-22 18:56] #2847 closed

[2022-06-22 20:52] Strilanc commented on #5572
Operations are hashable, mutable things aren't hashable, so a mutable thing can't be an operation.

No strong opinion on keeping or removing the identities but my default expectation would be that they were removed. Do some tests fail if they're removed?

[2022-06-22 21:08] #4327 closed

[2022-06-22 21:08] #5507 closed

[2022-06-23 06:07] #5556 closed

[2022-06-23 06:09] daxfohl commented on #5569
Dupe of #5574

[2022-06-23 06:09] #5569 closed

[2022-06-23 07:10] vtomole commented on #5533
[Another one](https://github.com/quantumlib/Cirq/runs/7018027686?check_suite_focus=true)

[2022-06-23 15:50] viathor opened #5583 "Inconsistent Clifford gate type"
**Description of the issue**

Some single-qubit Clifford gates have inconsistent type, some have cirq.SingleQubitCliffordGate and some have cirq.CliffordGate. All single-qubit Cliffords should probably be instances of cirq.SingleQubitCliffordGate.

**How to reproduce the issue**

[code]

**Cirq version**
You can get the cirq version by printing `cirq.__version__`. From the command line:

[code]

[2022-06-23 16:22] maffoo commented on #5583
I can take this.

[2022-06-23 18:09] #5583 closed

[2022-06-23 20:02] pavoljuhas opened #5588 "broken tutorial on identifying_hardware_changes.ipynb"
**Description of the issue**

The tutorial uses a removed method Device.qubit_set() at https://github.com/quantumlib/Cirq/blob/eb2a1dc87498563f996df73c5a2d7c216976efb7/docs/tutorials/google/identifying_hardware_changes.ipynb#L288

@MichaelBroughton found additional issues in the tutorial as detailed at https://github.com/quantumlib/Cirq/pull/5582#issuecomment-1163962184

**How to reproduce the iss

[2022-06-23 20:11] vtomole commented on #5588
How did this get passed the notebooks check? Do we run execute the notebooks on released versions of Cirq?

[2022-06-23 20:25] 95-martin-orion commented on #4034
This is complete: `Gate.on_each(zip(qubits_0, qubits_1, ...))` provides the requested support and deprecated classes have been removed.

[2022-06-23 20:25] #4034 closed

[2022-06-23 21:23] dabacon opened #5590 "Flake in test_decompose_two_qubit_interaction_into_two_b_gates"
The B in B gates stands for Birgitta.

[code]

[2022-06-23 22:22] #2041 closed, assigned to vtomole

[2022-06-23 23:36] prekshan commented on #2216
Hi! If no one is working on this, I will take a shot at it :) Thanks!

[2022-06-24 13:33] joelmasters commented on #1861
Has this been solved? I haven't been able to reproduce the issue. Following @cduck s instructions:

To test, I added the following functions just above the `if __name___` statement (in this case in `grover.py`) and committed the changes:

[code]

Next, I deleted `test_func_for_removal():` and left an extra trailing newline:

[code]

Then, I ran `./check/format-incremental --apply`, and got the cor